@model IBS.Models.SearchPaymentsModel
@{
    ViewData["Title"] = "Search Payment";
    string clsView = "";
    //if (Model.SNO > 0)
    //{
    //    clsView = "Permission_View";
    //}
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Search Payment</h2>
    </div>

</div>
<section class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="LabSearchPayment" asp-action="Index" data-ajax-method="post" data-ajax-complete="completed" id="frmSearchPayment">
            <div class="accordion-body">
                <div class="row my-0">
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Bank</label>
                        @* @Html.DropDownListFor(model => model.BANK_NAME, Common.GetBank(),"" ,new { id = "BankNameDropdown" }) *@
                        @Html.DropDownListFor(model => model.BANK_NAME, new SelectList(IBS.Models.Common.GetBank(), "Value", "Text"), "--Select--")
                    </div>

                    <div class="col-md-4 mb-4">
                        <label for="Reference">Instrument No.</label>
                        <input type="text" id="CHQ_NO" class="input" asp-for="CHQ_NO" maxlength="300" />

                    </div>



                    <div class="col-md-4 mb-4">
                        <label for="Reference">Instrument Date</label>
                        <input type="text" id="CHQ_DT" class="input datepicker" asp-for="CHQ_DT">

                    </div>

                    <div class="col-md-4 mb-4">
                        <label for="Reference">Instrument Amount<span class="text-danger"></label>
                        <input type="text" id="AMOUNT" class="input" asp-for="AMOUNT" mode maxlength="300" />
                        @* <span asp-validation-for="AMOUNT" class="text-danger"></span>*@
                    </div>



                    <div class="col-md-4 mb-4">
                        <label for="Reference">Case No.</label>
                        <input type="text" id="CASE_NO" class="input" asp-for="CASE_NO" maxlength="300" />
                        @* <span asp-validation-for="CASE_NO" class="text-danger"></span>*@
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Reference">Narration/Vendor Name</label>
                        <input type="text" id="NARRATION" class="input" asp-for="NARRATION" maxlength="300">



                    </div>


                </div>

                <div class="savenext-btn">
                    <button type="button" class="save-btn active Permission_Save" onclick="Save();">Search</button>
                    <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
                    @*<button type="submit" onclick="find();">Search2</button>*@
                </div>
            </div>
        </form>
    </div>
</section>

    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
            <table id="searchpayment" class="table-responsive nowrap">
                    <thead>
                        <tr>
                        
                            <th>Voucher No.</th>
                            <th>Voucher Date</th>
                            <th>Bank</th>
                            <th>Instrument No</th>
                            <th>Instrument Date</th>
                            <th>Instrument Amount</th>
                            <th>Account CD</th>
                            <th>Amt Adjusted</th>
                            <th>Amt Transferred</th>
                            <th>Suspense / unadjusted advance</th>
                            <th>BPO</th>
                            <th>Narration</th>
                            <th>Case No.</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function ClearControls() {
            location.reload(true);
        }
        $(function () {
            InitializeDatatable();
            //$("#dtlab").hide();
            //$("#searchpayment").css("display", "none");
        });

        function Save() {
            debugger;
            var AMOUNT = $("#AMOUNT").val();
            var NARRATION = $('#NARRATION').val();
            var CASE_NO = $('#CASE_NO').val();
            var BANK_NAME = $('#BANK_NAME').val();
            var CHQ_NO = $('#CHQ_NO').val();
            var CHQ_DT = $('#CHQ_DT').val();
            InitializeDatatable(AMOUNT, NARRATION, CASE_NO, BANK_NAME, CHQ_NO, CHQ_DT);
        }

        function SearchPayment() {

            $("#searchpayment").css("display", "block");
            var AMOUNT = $("#AMOUNT").val();
            var NARRATION = $('#NARRATION').val();
            var CASE_NO = $('#CASE_NO').val();
            var BANK_NAME = $('#BANK_NAME').val();
            var CHQ_NO = $('#CHQ_NO').val();
            var CHQ_DT = $('#CHQ_DT').val();
            var VCHR_DT = $('#VCHR_DT').val();
            var ACC_CD = $('#ACC_CD').val();
            //var PaymentDT = $("#txtpydt").val();
            //var Lab = $("#ddlpylab").val();
            var url = '@Url.Action("PaymentList", "SearchPayments")';
            $.ajax({
                //url: '/SearchPayments/PaymentList', // Replace with your actual endpoint URL
               url:url,
                type: 'POST',
                dataType: 'json',
                data: { AMOUNT: AMOUNT, NARRATION: NARRATION, CASE_NO: CASE_NO, BANK_NAME: BANK_NAME, CHQ_DT: CHQ_DT, CHQ_NO: CHQ_NO },
                success: function (data) {
                    
                    // Once data is successfully received, populate the table
                    var tableBody = $('#tableBody');
                    tableBody.empty(); // Clear existing rows (if any)
                    for (i = 0; i < data.data.length; i++) {

                        var row = $('<tr>');
                        //row.append($('<td>').text(data[i].SNO)); // SRNo.
                        // var snoLink = $('<a>').text("Select").attr('id', "editButton").css({ 'color': 'blue', 'text-decoration': 'none' });
                        // snoLink.hover(
                        //     function () {
                        //         $(this).css('text-decoration', 'underline'); // Add underline on hover
                        //     },
                        //     function () {
                        //         $(this).css('text-decoration', 'none');      // Remove underline on hover out
                        //     }
                        // );
                        // var snoCell = $('<td>').append(snoLink);
                        // row.append(snoCell);
                        row.append($('<td>').text(data.data[i].VCHR_NO));
                        row.append($('<td>').text(data.data[i].VCHR_DT));
                        row.append($('<td>').text(data.data[i].BANK_NAME));
                        row.append($('<td>').text(data.data[i].CHQ_NO));
                        row.append($('<td>').text(data.data[i].CHQ_DT));
                        row.append($('<td>').text(data.data[i].AMOUNT));
                        row.append($('<td>').text(data.data[i].ACC_CD));
                        row.append($('<td>').text(data.data[i].AMOUNT_ADJUSTED));
                        row.append($('<td>').text(data.data[i].AMT_TRANSFERRED));
                        row.append($('<td>').text(data.data[i].SUSPENSE_AMT));
                        row.append($('<td>').text(data.data[i].BPO));
                        row.append($('<td>').text(data.data[i].NARRATION));
                        row.append($('<td>').text(data.data[i].CASE_NO));
                        tableBody.append(row);

                        var CHQ_NO = data.data[i].CHQ_NO;
                        var CHQ_DT = data.data[i].CHQ_DT;
                        var BANK_CD = data.data[i].BANK_CD;

                        (function (CHQ_NO, CHQ_DT, BANK_CD) {
                            snoLink.click(function (event) {




                                var edit = event.currentTarget.id;
                                var newURL = "/CheckPostingForm/Index?CHQ_NO=" + CHQ_NO + '&CHQ_DATE=' + CHQ_DT + '&BANK_NAME=' + BANK_CD;
                                window.location.href = newURL;
                            });
                        })(CHQ_NO, CHQ_DT, BANK_CD);
                    }



                },
                error: function () {

                }
            });
        }


        // function InitializeDatatable() {
        //            //alert('here');
        //            //alert('aagya initialize table me ');
        //            $("#searchpayment").DataTable({
        //                stateSave: false,// Design Assets
        //                autoWidth: true,
        //                scrollX: true,
        //                scrollCollapse: true,
        //                processing: false, // ServerSide Setups
        //                serverSide: true,
        //                destroy: true,
        //                paging: false,// Paging Setups
        //                searching: false,// Searching Setups
        //                ajax: {// Ajax Filter
        //                    url: "@Url.Action("PaymentList")",
        //                    type: "POST",
        //                    contentType: "application/json; charset=utf-8",
        //                    dataType: "json",
        //                    data:{}
        //                },
        //                columns: [// Columns Setups

        //                    { data: "VCHR_NO" },
        //                    { data: "VCHR_DT" },
        //                    { data: "BANK_NAME" },
        //                    { data: "CHQ_NO" },
        //                    { data: "CHQ_DT" },
        //                    { data: "AMOUNT" },
        //                    { data: "ACC_CD" },
        //                    { data: "AMOUNT_ADJUSTED" },
        //                    { data: "AMT_TRANSFERRED" },
        //                    { data: "SUSPENSE_AMT" },
        //                    { data: "BPO" },
        //                    { data: "NARRATION" },
        //                    { data: "CASE_NO" }


        //                ],
        //                "order": [[0, "asc"]]
        //            });
        //         }

        function InitializeDatatable(AMOUNT, NARRATION, CASE_NO, BANK_NAME, CHQ_NO, CHQ_DT) {
            var _title = '\n Search Payment';
            $("#searchpayment").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                //scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: false,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            AMOUNT: AMOUNT,
                            NARRATION: NARRATION,
                            CASE_NO: CASE_NO,
                            BANK_NAME: BANK_NAME,
                            CHQ_NO: CHQ_NO,
                            CHQ_DT: CHQ_DT
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                   
                    { data: "VCHR_NO" },
                    { data: "VCHR_DT" },
                    { data: "BANK_NAME" },
                    { data: "CHQ_NO" },
                    { data: "CHQ_DT" },
                    { data: "AMOUNT" },
                    { data: "ACC_CD" },
                    { data: "AMOUNT_ADJUSTED" },
                    { data: "AMT_TRANSFERRED" },
                    { data: "SUSPENSE_AMT" },
                    { data: "BPO" },
                    { data: "NARRATION" },
                    { data: "CASE_NO" }

                ],

                "order": [[0, "asc"]],
                "initComplete": function (settings, json) {
                    $("#searchpayment").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
            });

        }


    </script>
}