@model IBS.Models.InspectionEngineersModel
@{
    ViewData["Title"] = "Inspection Engineers";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>Inspection Engineers</h2>
        </div>
        @* <div class="list-btn">
        <a asp-area="" asp-controller="InspectionEngineers" asp-action="Manage" class="formBtn"><span class="fa fa-plus"></span> Add New Form</a>
        </div>*@
    </div>
    <div class="accordion-body">
        <input type="hidden" asp-for="IeRegion" />
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Reference">IE Code</label>
                    <input type="text" asp-for="IeCd" maxlength="100" style="text-transform: uppercase;">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Reference">IE Short Name</label>
                    <input type="text" asp-for="IeSname" maxlength="100" style="text-transform: uppercase;">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Reference">IE Full Name</label>
                    <input type="text" asp-for="IeName" maxlength="100" style="text-transform: uppercase;">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Reference">Controlling Officer</label>
                    @Html.DropDownListFor(model => model.IeCoCd, new SelectList(IBS.Models.Common.GetControllingOfficer(Model.IeRegion) , "Value", "Text"),"--Select--")
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="alert alert-warning center">
                To Edit/Delete a IE --> Enter IE Code & Click on "Modify"/"Delete" button <br />
                To Search a IE --> Enter IE Code or IE Full/Short Name or Controlling Officer Name and click on "Search IE" button
            </div>
        </div>
        <div class="savenext-btn center">
            <button type="button" class="save-btn active" id="btnAdd">Add</button>
            <button type="button" class="save-btn" id="btnModify">Modify</button>
            <button type="button" class="save-btn" id="btnDelete">Delete</button>
            <button type="button" class="save-btn" id="btnSearch">Search IE</button>
            @*<a asp-controller="IE_MaximumCallLimitForm" asp-action="Index" class="reset-btn">Cancel</a>*@
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtIE" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>IE Code</th>
                            <th>IE Full Name</th>
                            <th>IE Short Name</th>
                            <th>Employee No</th>
                            <th>IE Seal No.</th>
                            <th>IE City</th>
                            <th>IE Region</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {
            var IeCd = $("#IeCd").val();
            var IeSname = $("#IeSname").val();
            var IeName = $("#IeName").val();
            var IeCoCd = $("#IeCoCd").val();
            if (IeCd == 0 || IeCd == null) {
                debugger
                $("#IeCd").val("");
                IeCd = $("#IeCd").val();
            }

            $("#dtIE").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "IeCd": IeCd,
                            "IeSname": IeSname,
                            "IeName": IeName,
                            "IeCoCd": IeCoCd
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "IeCd" },
                    { data: "IeName" },
                    { data: "IeSname" },
                    { data: "IeEmpNo" },
                    { data: "IeSealNo" },
                    { data: "IeCityCd" },
                    { data: "IeRegion" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var IeCd = data.IeCd;
                            var editUrl = '@Url.Action("Index", "InspectionEngineers")?IeCd=' + IeCd;
                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        

        $("#btnAdd").click(function () {
            var IeCd = $("#IeCd").val();
            if (IeCd != null || IeCd != "") {
                window.location.href = '@Url.Action("Manage", "InspectionEngineers")';
            }
        });
        $("#btnModify").click(function () {
            var IeCd = $("#IeCd").val();
            if (IeCd == null || IeCd == "") {
                ShowHideMsgNew(false, "Please add IE Code");
                return;
            }

            $.ajax({
                url: '@Url.Action("GetMatch", "InspectionEngineers")',
                type: "GET",
                dataType: "JSON",
                data: { "IeCd": IeCd },
                success: function (status) {
                    debugger

                    var MCode = status.MCode;
                    if (MCode == "2") {
                        window.location.href = '@Url.Action("Manage", "InspectionEngineers")' + '?IeCd=' + IeCd + "&ActionType=M";
                    }
                    else {
                        ShowHideMsgNew(false, "You Are Not Authorised to Update / Delete IE data of other Regions!!!");
                    }
                }
            });
        });
        $("#btnDelete").click(function () {
            var IeCd = $("#IeCd").val();
            if (IeCd == null || IeCd == "") {
                ShowHideMsgNew(false, "Please add IE Code");
                return;
            }

            $.ajax({
                url: '@Url.Action("GetMatch", "InspectionEngineers")',
                type: "GET",
                dataType: "JSON",
                data: { "IeCd": IeCd },
                success: function (status) {
                    debugger

                    var MCode = status.MCode;
                    if (MCode == "2") {
                        window.location.href = '@Url.Action("Manage", "InspectionEngineers")' + '?IeCd=' + IeCd + "&ActionType=D";
                    }
                    else
                    {
                        ShowHideMsgNew(false, "You Are Not Authorised to Update / Delete IE data of other Regions!!!");
                    }
                }
            });
        });
        $("#btnSearch").click(function () {
            InitializeDatatable();
        });

    </script>
    }
