@using IBS.Helper;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IBS | @ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link type="text/css" href="~/css/admin-style.css" rel="stylesheet" />
    <link type="text/css" href="~/css/admin-responsive.css" rel="stylesheet" />
    <script src="~/js/modernizr.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/crypto-js.js"></script>
    <script src="~/js/aes.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/jquery.mask/jquery.mask.min.js"></script>
</head>

<body class="noJS">
    <partial name="_AlterPartial" />

    <noscript class="jsRequired">
        This page uses Javascript. Your browser either doesn't support Javascript
        or you have it turned off. To see this page as it is meant to appear
        please use a Javascript enabled browser.
    </noscript>

    <!--Wrapper-->
    <div id="wrapper">
        <!--mainContainer-->
        <section id="mainContainer">
            <!--header-->
            <header id="header">
                <!--logoSection-->
                <div class="logoSection">
                    <a href="javascript:void(0);" title="RITES Limited"><img src="~/images/rites-logo.png" width="191" height="57" alt="RITES Limited" /></a>
                </div>
                <!--logoSection-->
                <!--topLinksAndSearch-->
                <div class="topLinksAndSearch cf">
                    <!--userTopLinks-->
                    <div class="userTopLinks">
                        <ul>
                            <li>
                                <div class="search">
                                    <input type="text" placeholder="Enter Keyword" />
                                    <button type="submit"> <span class="fa fa-search"></span> </button>
                                </div>
                            </li>
                            <li>
                                <div class="relative">
                                    <a href="#" class="openDrpPopup"> <span class="fa fa-bell-o" aria-hidden="true"></span> <span class="roundCount red">5</span> </a>
                                    <div class="dropPopup messagePopup">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="dropPopupTitle">Lorem Ipsum is simply dummy.</span> <span class="dropPopupText">
                                                        Lorem Ipsum is simply dummy text of the printing
                                                        and typesetting industry.
                                                    </span> <span class="dropPopupDate">15-06-2016</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="dropPopupTitle">Lorem Ipsum is simply dummy.</span> <span class="dropPopupText">
                                                        Lorem Ipsum is simply dummy text of the printing
                                                        and typesetting industry.
                                                    </span> <span class="dropPopupDate">15-06-2016</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="dropPopupTitle">Lorem Ipsum is simply dummy.</span> <span class="dropPopupText">
                                                        Lorem Ipsum is simply dummy text of the printing
                                                        and typesetting industry.
                                                    </span> <span class="dropPopupDate">15-06-2016</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="dropPopupTitle">Lorem Ipsum is simply dummy.</span> <span class="dropPopupText">
                                                        Lorem Ipsum is simply dummy text of the printing
                                                        and typesetting industry.
                                                    </span> <span class="messageDate">15-06-2016</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="viewAll">View All Messages</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--userTopLinks-->
                    <!--userInformation-->
                    <div class="userInformation">

                        <!--userDetail-->
                        <div class="userDetail">
                            <a href="#" class="openDrpPopup">
                                <!--userImg-->
                                <div class="userImgWrap">
                                    <div class="userImg"> <img src="~/images/user-icon.png" width="51" height="51" alt="Admin" title="admin" /> </div>
                                </div>
                                <!--userImg-->
                                @if (IBS.Helper.SessionHelper.UserModelDTO != null)
                                {
                                    <div class="user">
                                        <h4>@Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.Name) <i class="fa-solid fa-chevron-down"></i> </h4>
                                        <p>@Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.RoleName)</p>
                                        @{
                                            string Region = "";
                                        }
                                        @if (@Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.Region) != "" && (Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.Region) != null))
                                        {
                                            if (Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.Region) == "N")
                                            {
                                                Region = "Northern";
                                            }
                                            else if (Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.Region) == "S")
                                            {
                                                Region = "Southern";
                                            }
                                            else if (Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.Region) == "E")
                                            {
                                                Region = "Eastern";
                                            }
                                            else if (Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.Region) == "W")
                                            {
                                                Region = "Westrern";
                                            }
                                            else if (Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.Region) == "C")
                                            {
                                                Region = "Central";
                                            }
                                            else if (Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.Region) == "Q")
                                            {
                                                Region = "QA";
                                            }
                                            <p>@Region</p>
                                        }
                                    </div>
                                }
                            </a>
                            <div class="dropPopup messagePopup">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Account</a>
                                    </li>
                                    <li>
                                        @if (IBS.Helper.SessionHelper.UserModelDTO != null)
                                        {
                                            <a asp-action="ChangePassword" asp-controller="Home" asp-route-id="@IBS.Models.Common.EncryptQueryString(Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.UserName))">
                                                <i class="fa fa-key" aria-hidden="true"></i>
                                                Change Password
                                            </a>
                                        }
                                    </li>
                                    <li>
                                        <form asp-area="" asp-action="Logout" asp-controller="Home">
                                            <button type="submit" class="logout-btn"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
                                            @*<a href="#"><i class="fa fafa-sign-out" aria-hidden="true"></i> Logout</a>*@
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--userDetail-->
                    </div>
                    <!--userInformation-->
                    <div class="navBtn"><a href="#" id="menu-toggle" class="navbar-toggle"><i class="fa fa-bars"></i></a></div>
                </div>
                <!--topLinksAndSearch-->
            </header>
            <!--header-->
            <!--contentContainer-->
            <div class="contentContainer">
                <!--leftSidebarNav 1-->
                <aside id="sidebar" class="navbar-default navbar-static-side">
                    <partial name="Menu"/>
                </aside>
                <!--leftSidebarNav-->
                <div class="adminInnerContent">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                    <partial name="_DeleteConfirmationPartial" />
                </div>
            </div>
            <!--footer-->
            <footer id="footer" class="footer">
                <p>Copyright &copy; 2023, IBS. All rights reserved.</p>
            </footer>
            <!--footer-->
        </section>
    </div>
    <!--mainContainer-->
    <!--Wrapper-->
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
    <script src="~/js/highcharts.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/functions.js"></script>
    <script src="~/js/admin-general.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            HideShowByPermission();
        });

        $(document).ajaxSend(function () {
            $(".overlayLoader").show();
        });

        $(document).ajaxComplete(function () {
            HideShowByPermission();
            $(".overlayLoader").hide();
        });

        function HideShowByPermission() {
        @if (SessionHelper.CurrentAccess != null)
        {
            @if (Convert.ToBoolean(SessionHelper.CurrentAccess.EditAccess) == false)
            {
                @:$(".Permission_Add").css("display", "none");
                @:$(".Permission_EditView").removeClass("fa-pencil").addClass("fa-eye");
                @:$(".Permission_Save").css("display", "none");
                @:$(".Permission_View").addClass("disableform");
            }
            @if (Convert.ToBoolean(SessionHelper.CurrentAccess.DeleteAccess) == false)
            {
                @:$(".Permission_Delete").css("display", "none");
            }
        }
                                        }

    </script>

</body>
</html>
