@using System.Web;
@{
    List<MenuMasterModel> menuList = IBS.Helper.SessionHelper.MenuModelDTO;
}
<div class="sidebar-collapse menu-scroll">
    <ul id="side-menu" class="nav">
        <li><a asp-action="Index" asp-controller="Dashboard"><i class="fa fa-fw"><img src="~/images/dashboard-ico.png" alt="dashboard" /></i><span class="menu-title">Dashboard</span></a></li>
        @if (menuList != null)
        {
            foreach (var mp in menuList.Where(p => p.ParentId == 0))
            {
                <li>
                    @{
                        string urlMain = "javascript:void(0)"; 
                        string classMain = "fa arrow"; 
                        if(mp.ActionName != null && mp.ControllerName != null)
                        {
                            urlMain = Url.Action(mp.ActionName,mp.ControllerName );
                            classMain = "fa";
                        }
                    }
                    <a href="@Html.Raw(@HttpUtility.UrlDecode(urlMain))"><span class="@classMain"></span><i class="fa fa-fw"><img src="@Url.Content("~/"+ mp.IconPath)" alt="tenant" /></i><span class="menu-title"> @mp.Title </span></a>

                    @if (menuList.Count(p => p.ParentId == mp.MenuId) > 0)
                    {
                        @:<ul class="nav nav-second-level">
                    }
                    @foreach (var cp in menuList.Where(p => p.ParentId == mp.MenuId))
                    {
                        string url = "javascript:void(0)"; 
                        if(cp.ActionName != null && cp.ControllerName != null)
                        {
                            url = Url.Action(cp.ActionName,cp.ControllerName);
                        }
                        @:<li>
                        @if (menuList.Count(p => p.ParentId == cp.MenuId) > 0)
                        {
                            <a href="@Html.Raw(@HttpUtility.UrlDecode(urlMain))"><span class="fa arrow"></span><i class="fa fa-fw"><img src="@Url.Content("~/"+ cp.IconPath)" alt="tenant" /></i><span class="menu-title"> @cp.Title </span></a>
                            @if (menuList.Count(p => p.ParentId == cp.MenuId) > 0)
                            {
                               @:<ul class="nav nav-third-level">
                            }
                            @foreach (var cp1 in menuList.Where(p => p.ParentId == cp.MenuId))
                            {
                                string url1 = "javascript:void(0)"; 
                                if(cp1.ActionName != null && cp1.ControllerName != null)
                                {
                                    url1 = Url.Action(cp1.ActionName,cp1.ControllerName);
                                }
                                @:<li><a href="@Html.Raw(@HttpUtility.UrlDecode(url1))"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">@cp1.Title</span></a>
                            
                            }
                            @if (menuList.Count(p => p.ParentId == cp.MenuId) > 0)
                            {
                                @:</ul>
                            }
                        }
                        else
                        {
                            <a href="@Html.Raw(@HttpUtility.UrlDecode(url))"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">@cp.Title</span></a>
                        }
                        @:</li>
                    }

                    @if (menuList.Count(p => p.ParentId == mp.MenuId) > 0)
                    {
                    @:</ul>
                    }
                </li>
            }
        }
        
    </ul>
</div>


