@model List<IBS.Models.PurchaseOrdersofSpecificValueModel>

@{
    Layout = "";
}

<html>
<head>
    <title>Detailed Report - P O of Specific Values</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .no-print {
            display: none;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid #111111;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    <div id="dvReportViewer" style="margin-left:5px;margin-right:5px;">
        <h3 class="heading3">@ViewBag.Region</h3>
        <ul class="reportLabelList">
            <li><span class="labelName">@ViewBag.Title</span></li>
        </ul>
        <table class="borderTable">
            <thead>
                <tr>
                    <th width="5%" align="center">SNO.</th>
                    <th width="6%" align="center">CASE NO.</th>
                    <th width="6%" align="center">PO NO.</th>
                    <th width="6%" align="center">PO Date</th>
                    <th width="6%" align="center">Client</th>
                    <th width="20%" align="center">Vendor</th>
                    <th width="11%" align="center">Purchaser</th>
                    <th width="6%" align="center">Value</th>
                    <th width="34%" align="center">Item Desc</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                   
                }
                @if (Model != null && Model.Count > 0)
                {
                    string wPO_NO = "";
                    foreach (var item in Model)
                    {
                        
                        if (wPO_NO == item.PO_NO)
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>@item.ITEM_DESC</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td valign="top" align="center">@i</td>
                                <td valign="top" align="center">@item.CASE_NO</td>
                                <td valign="top" align="center">@item.PO_NO</td>
                                <td valign="top" align="center">@item.PO_DT</td>
                                <td valign="top" align="center">@item.CLIENT</td>
                                <td valign="top" align="left">@item.VENDOR</td>
                                <td valign="top" align="left">@item.CONSIGNEE</td>
                                <td valign="top" align="right">@item.PO_VALUE</td>
                                <td valign="top" align="left">@item.ITEM_DESC</td>
                            </tr>
                            wPO_NO = item.PO_NO;
                            i = i + 1;
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9" align="center">No Data Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
   
</body>
</html>
<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js"></script>
<script type="text/javascript">
    var fileName = 'DetailedReport_POofSpecificValues';

    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnExportToExcel").click(function () {
        let file = new Blob([$('#dvReportViewer').html()], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        var HTML = $('#dvReportViewer').html();

        $.ajax({
            url: "@Url.Action("GeneratePDF", "PurchaseOrdersofSpecificValues")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            data: { htmlContent: HTML },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (result) {
                var url = window.URL.createObjectURL(result);
                if (isPrint) {
                    iframe = document.createElement('iframe');
                    document.body.appendChild(iframe);

                    iframe.style.display = 'none';
                    iframe.src = url;
                    iframe.onload = function () {
                        setTimeout(function () {
                            iframe.focus();
                            iframe.contentWindow.print();
                        }, 1);
                    };
                }
                else {
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = getExportFileName(fileName) + '.pdf';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
</script>
