@model IBS.Models.VendorCallRegPrintReport
@{
    ViewData["Title"] = "Inspection Call";
    Layout = null;
}
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Back" id="btnBack"/>
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
    </p>
    <input type="hidden" asp-for="CaseNo" />
    <input type="hidden" asp-for="CallRecvDt" />
    <input type="hidden" asp-for="CallSno" />

    <div id="dvReportViewer">
       <table border="0" class="borderTable" cellpadding="0" cellspacing="0" width="100%">
                <tr class="center">
                    @if (Model.OnlineCall == "Y")
                    {
                        <td colspan="2" align="center" class="center"><font face="Verdana" size="2"><span style="font-size: 14"><b>ONLINE INSPECTION CALL</b></span></font></td>
                    }
                    else
                    {
                        <td colspan=2 align="center"><Font face="Verdana" size="2"><span style="font-size: 14"><B>INSPECTION CALL</B></span></Font></td>
                    }
                </tr>
                
                <tr>
                    @if (Model.FinalOrStage == "S")
                    {
                        <td colspan=2 align="center"><Font face="Verdana" size="2"><span style="font-size: 14"><B>STAGE CALL</B></span></Font></td>
                    }
                </tr>
                <tr>
                    <td colspan=2><Font face="Verdana" size="1"><span style="font-size:medium;"><B>From.</B><br> @Model.VendName <br> @Model.VendAdd </span></Font></td>
                </tr>
                <tr>
                    <td colspan=2><Font face="Verdana" size="1"><span style="font-size:medium;"><B>Ref No.</B> @Model.CallLetterNo </span></Font></td>
                </tr>
                <tr>
                    <td align=left width="50%"><Font face="Verdana" size="1"><span style="font-size:medium;"><B>Date: </B> @Model.CallLetterDt </span></Font></td>
                    @if (Model.IeName != "")
                    {
                        <td align=right width="50%"><Font face="Verdana" size="1"><span style="font-size:medium;"><B>Call Marked to: </B> @Model.IeName </Font></td>
                    }
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    @if (Model.RegionCode == "N")
                    {
                        <td align=left width="50%"><Font face="Verdana" size="1"><span style="font-size:medium;"><p> To <BR><BR> Group General Manager (Inspection) <br> RITES LTD.,<br> Northern Region <br> 12th Floor, Core-II, <br> Scope Minar, Laxmi Nagar, <br> Delhi-110092 </p></span> </Font></td>
                    }
                    @if (Model.RegionCode == "E")
                    {
                        <td align=left width="50%"><Font face="Verdana" size="1"><span style="font-size:medium;"><p> To <BR><BR> Group General Manager (Inspection) <br> RITES LTD.,<br> Eastern Region <br> CENTRAL STATION BUILDING(METRO), 56, C.R. AVENUE, 3rd FLOOR, <br> KOLKATA-700 012 </p></span> </Font></td>
                    }
                    @if (Model.RegionCode == "W")
                    {
                        <td align=left width="50%"><Font face="Verdana" size="1"><span style="font-size:medium;"><p> To <BR><BR> Group General Manager (Inspection) <br> RITES LTD.,<br> Western Region <br> 5TH FLOOR, REGENT CHAMBER, ABOVE STATUS RESTAURANT, NARIMAN POINT, MUMBAI-400021 </p></span> </Font></td>
                    }
                    @if (Model.RegionCode == "S")
                    {
                        <td align=left width="50%"><Font face="Verdana" size="1"><span style="font-size:medium;"><p> To <BR><BR> Group General Manager (Inspection) <br> RITES LTD.,<br> Southern Region <br> CTS BUILDING - 2ND FLOOR, BSNL COMPLEX, NO. 16, GREAMS ROAD, <br> CHENNAI - 600 006 </p></span> </Font></td>
                    }
                    @if (Model.RegionCode == "C")
                    {
                        <td align=left width="50%"><Font face="Verdana" size="1"><span style="font-size:medium;"><p> To <BR><BR> Group General Manager (Inspection) <br> RITES LTD.,<br> Central Region <br> 50, EXPANSION BUIDING,BHILAI STEEL PLANT AREA <br> BHILAI -490001 </p></span> </Font></td>
                    }
                    @if (Model.RegionCode == "Q")
                    {
                        <td align=left width="50%"><Font face="Verdana" size="1"><span style="font-size:medium;"><p> To <BR><BR> Group General Manager (Inspection) <br> RITES LTD.,<br> CO QA Division <br> RITES BHAWAN, 1, SECTOR-29, GURGAON <br> HARYANA -122001 </p></span> </Font></td>
                    }
                    <td align=right width="50%"><Font face="Verdana" size="1"><span style="font-size:medium;"><B> CALL DATED:</B> @Convert.ToDateTime(@Model.CallRecvDt).ToString("dd/MM/yyyy")  <B> CALL SNO. </B> @Model.CallSno <br><B>CASE NO. </B> @Model.CaseNo </span> <span>(PO SOURCE: @Model.Source)</span></Font></td>
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td colspan=2 align=left><Font face="Verdana" size="1"><span style="font-size:medium;"><br>Dear Sir,<br /></span></Font></td>
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td colspan=2 align=left><Font face="Verdana" size="1"><span style="font-size:medium;">Please arrange to inspect following goods lying ready with us. It is certified that the stores offered have been inspected by us and found to conform to the governing specifications.<br></span></Font></td>
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">1. Purchase Order No. and Date </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.PoNo Dated:@Convert.ToDateTime(@Model.PoDt).ToString("dd/MM/yyyy") </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">2. Purchaser </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.Purchaser </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">3. Consignee </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">As Per Annexure-1 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">4. Manufacturer's Name </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.MfgName </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">5. Place of Inspection with address </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.MfgAdd </span></Font></td>
                </tr>
                <tr>
                    <td align="left"><Font face="Verdana" size="1"><span style="font-size:medium;">6. Person to be contacted, Phone No. with E-mail id </span></Font></td>
                    <td align="left"><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.VendContactPer1, @Model.VendContactTel1, @Model.VendEmail </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">7. Description of Stores </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">As Per Annexure-1 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">8. State whether the items is on RDSO Vendor Directory </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.ItemRdso </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">9. If Yes, whether the vendor is RDSO Aprroved. Indicate validity of approval </span></Font></td>
                    @if (Model.VendRdso == "Yes")
                    {
                        <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.VendRdso, From: @Model.VendAppFr TO: @Model.VendAppTo </span></Font></td>
                    }
                    else
                    {
                        <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.VendRdso </span></Font></td>
                    }
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">10. Quantity on Order </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">As Per Annexure-1 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">11. Quantity Now Offered </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">As Per Annexure-1 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">12. Installment Number </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.CallInstallNo </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">13. Quantity already inspected and passed </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">As Per Annexure-1 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">14. Delivery period as per P.O./Amendment </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">As Per Annexure-1 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a. Does PO specified staggered DP: </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.StagDp </Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b. If yes, details of lot size and staggered DP </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">1. Lot Size & DP: @Model.LotDp1 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"></span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">2. Lot Size & DP2: @Model.LotDp2 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">15. Bill Paying authority </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">As Per Annexure-1 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">16. IRFC Funded Project </span></Font></td>
                    @if (Model.IrfcFunded == "Y")
                    {
                        <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> Yes </span></Font></td>
                    }
                    else
                    {
                        <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> No </span></Font></td>
                    }
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">17. Inspection Fee Payment details for cases </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"></span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> Where advance inspection fee is to be paid </span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"></span></Font></td>
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td colspan=2 align=left><Font face="Verdana" size="1">
                        <span style="font-size:medium;">I hereby accept all the 
                        @*<a href='javascript: void(0)' onclick=javascript:window.open('TermsandConditions.aspx','CustomPopUp','fullscreen =no,scrollbars =yes','width =700,height =800,menubar =no,resizable =no,alwaysRaised =true');return false; Font-Names='Verdana' Font-Size='8pt'>Terms and Conditions</a>. *@
                        </span>
                        </Font></td>
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td colspan=2 align=left><Font face="Verdana" size="1"><span style="font-size:medium;">Thanking you,<br></span></Font></td>
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td colspan=2 align=left><Font face="Verdana" size="1"><span style="font-size:medium;">Yours Faithfully, </span></Font></td>
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">Name<br></span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.VendContactPerPO1 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> Mobile <br></span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.VendContactTelPO1 </span></Font></td>
                </tr>
                <tr>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;">Vendor Email <br></span></Font></td>
                    <td align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> @Model.VendPOEmail </span></Font></td>
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td colspan=2 align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> Designation </span></Font></td>
                </tr>
                <tr>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <td colspan=2 align=left><Font face="Verdana" size="1"><span style="font-size:medium;"> Authorised Signatory </span></Font></td>
                </tr>
                <tr class="center">
                    <td colspan="2" align="center" class="center"><B>Annexure-1 (INSPECTION CALL ITEM DETAILS)</B></td>
                </tr>
            </table>

       <table id="dtList" class="borderTable" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <th width="5%" valign="top" align="center"><b><font size="1" face="Verdana">Sr. No.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font size="1" face="Verdana">Consignee</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">Description of Stores</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">Quantity on Order</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">Quantity Now Offered</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">Quantity already inspected and passed</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">Delivery period as per P.O./Amendment</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">Bill Paying authority</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">Master Item Checksheet</font></b></th>
                </tr>
                @if (Model != null && Model.lstPrintCallLetter.Count > 0)
                {
                    int SrNo = 1;
                    @foreach (var item in Model.lstPrintCallLetter)
                        {
                            <tr>
                            <td align="center"><font size="1" face="Verdana">@SrNo</font></td>
                            <td align="left"><font size="1" face="Verdana">@item.Consignee</font></td>
                            <td align="left"><font size="1" face="Verdana">@item.ItemDescPo</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.QtyOrdered</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.QtyToInsp</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.CumQtyPrevOffered</font></td>
                            <td align="right"><font size="1" face="Verdana">@Convert.ToDateTime(@item.DelvDt).ToString("dd/MM/yyyy")</font></td>
                            <td align="left"><font size="1" face="Verdana">@item.Bpo</font></td>
                            <td align="left"><font size="1" face="Verdana">@item.ItemCd</font></td>
                        </tr>
                        SrNo++;
                        }
                    }
                </tbody>
        </table>
       
       <table border="0" class="borderTable" cellpadding="0" cellspacing="0" width="100%">
           <tr>
               @if (Model.Remarks != "")
                    {
                        <td colspan=2 align=left><Font face="Verdana" size="1"><span style="font-size:medium;"><B>REMARKS: @Model.Remarks </b></span></Font></td>
                    }
           </tr>
       </table>
    </div>
</body>
</html>


<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
        fileName = "PrintCallLetter_1";
    });
    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnBack").click(function () {
        const urlParams = new URLSearchParams(window.location.search);
        var type = urlParams.get('type');
        var url;
        if(type == "C")
        {
            url = '@Url.Action("CallsMarkedToIE", "CallsMarkedToIE")' + '?type=' + type;
        }
        else
        {
            url = '@Url.Action("VendorCallRegister", "VendorCallRegister")';
        }

        window.location.href = url;
    });

    function generatePdf(isPrint) {
        var element = document.getElementById('dvReportViewer');

        element.style.width = "1100px";

        const options = {
            margin: 0,
            filename: getExportFileName(fileName) + '.pdf',
            image: { type: 'jpeg', quality: 1 },
            html2canvas: {
                scale: 4,
                useCORS: true
            },
            jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
        };

        if (isPrint) {
            html2pdf().set(options).from(element).toPdf().get('pdf').then(function (pdfObj) {
                pdfObj.autoPrint();
                window.open(pdfObj.output('bloburl'), '_blank');
            });
        }
        else {
            html2pdf().set(options).from(element).save();
        }

        setTimeout(function () {
            element.style.width = "100%";
        }, 1000);
    }
   </script>