@model List<ConsigneeComplaintsReportModel>
@{
    Layout = "";
    ViewBag.Title = "Consignee Complaints Report";
    var list = new List<ConsigneeComplaintsReportModel>();
    list = ViewBag.DataList;
}
<div class="savenext-btn">
    <button type="button" class="save-btn active" onclick="history.go(-1)">Back</button>
    @*<button type="button" class="reset-btn" onclick="CLearControls();">Clear</button>*@
</div>
<div class="task-listinput">
    <div class="dash-table">
        <h3>Compliant Recieved During the Period: 01/09/2020 to 10/08/2023</h3>
        <table id="dtConsigneeComplaints" class="table-responsive nowrap">
            <thead>
                <tr>
                    <th colspan="28">Compliant Recieved During the Period: 01/09/2020 to 10/08/2023</th>
                    <th colspan="6">Corrective & Preventive Action Identified</th>
                </tr>
                <tr>
                    <th>S.No.</th>
                    <th>Region</th>
                    <th>Complaint ID</th>
                    <th>Unique SNO.</th>
                    <th>Firm</th>
                    <th>PO No.</th>
                    <th>Date</th>
                    <th>BK NO & Set NO</th>
                    <th>Date of IC</th>
                    <th>Item</th>
                    <th>Consignee</th>
                    <th>IE</th>
                    <th>Qty Offered</th>
                    <th>Qty Rejected</th>
                    <th>Value of Rejected Stores</th>
                    <th>Discipline</th>
                    <th>Date of 1st Reference</th>
                    <th>REJ MEMO</th>
                    <th>Reason of Rejection</th>
                    <th>Reason of No JI</th>
                    <th>Date of JI</th>
                    <th>Inspection Document</th>
                    <th>Status (Decision taken by JI Committe)</th>
                    <th>JI REPORT</th>
                    <th>Defect Code</th>
                    <th>Classfication</th>
                    <th>Conclusion Dt</th>
                    <th>CM</th>
                    <th>JI Engineer</th>
                    <th>Root Cause Analysis</th>
                    <th>Checksheet Status</th>
                    <th>Tech Ref</th>
                    <th>D&AR Proposed</th>
                    <th>Any Other</th>
                    <th>Status of CAPA</th>
                    <th>D&AR Status (if Any)</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.IN_REGION</td>
                        <td>@item.COMPLAINT_ID</td>
                        <td>@item.JI_SNO</td>
                        <td>@item.VENDOR</td>
                        <td>@item.PO_NO</td>
                        <td>@item.PO_DATE</td>
                        <td>@item.BK_SET</td>
                        <td>@item.IC_DATE</td>
                        <td>@item.ITEM_DESC</td>
                        <td>@item.CONSIGNEE</td>
                        <td>@item.IE_NAME</td>
                        <td>@item.QTY_OFF</td>
                        <td>@item.QTY_REJECTED</td>
                        <td>@item.REJECTION_VALUE</td>
                        <td>@item.DEPT</td>
                        <td>@item.COMPLAINT_DATE</td>
                        <td>@item.REJECTIONMEMOPATH</td> @*Path*@
                        <td>@item.REJECTION_REASON</td>
                        <td>@item.NO_JI_RES</td>
                        <td>@item.JI_DATE</td>
                        <td>@item.COMPLAINTSCASESPATH</td> @*Path*@
                        <td>@item.STATUS</td>
                        <td>@item.COMPLAINTSREPORTPATH</td> @*Path*@
                        <td>@item.DEFECT_DESC</td>
                        <td>@item.JI_STATUS_DESC</td>
                        <td>@item.CONCLUSION_DATE</td>
                        <td>@item.CO_NAME</td>
                        <td>@item.JI_IE_NAME</td>
                        <td>@item.ROOT_CAUSE_ANALYSIS</td>
                        <td>@item.CHK_STATUS</td>
                        <td>@item.TECH_REF</td>
                        <td>@item.ACTION_PROPOSED</td>
                        <td>@item.ANY_OTHER</td>
                        <td>@item.CAPA_STATUS</td>
                        <td>@item.DANDAR_STATUS</td>                        
                    </tr>                    
                }
            </tbody>
        </table>
    </div>
</div>