@model List<IBS.Models.Reports.HighlightReportsModel>

@{
    Layout = "";
}

<html>
<head>
    <title>Highlights</title>
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    <div id="dvReportViewer" style="margin-left:5px;margin-right:5px;">
        <h3 class="center">HIGHLIGHTS</h3>
        <ul class="reportLabelList center">
            <li><span class="labelName">@ViewBag.Title</span></li>
        </ul>
        <table class="borderTable">
            <thead>
                <tr>
                    <th width="5%">S.No.</th>
                    <th width="5%">Region</th>
                    <th width="90%">Highlights</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td align="center">@item.sn</td>
                            <td align="center">@item.Region_Code</td>
                            <td align="left">@item.Hight_text</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>

</body>
</html>
<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js"></script>
<script type="text/javascript">
    var fileName = 'Highlight';

    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnExportToExcel").click(function () {
        let file = new Blob([$('#dvReportViewer').html()], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        var HTML = $('#dvReportViewer').html();

        $.ajax({
            url: "@Url.Action("GeneratePDF", "PCDOReport")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            data: { htmlContent: HTML },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (result) {
                var url = window.URL.createObjectURL(result);
                if (isPrint) {
                    iframe = document.createElement('iframe');
                    document.body.appendChild(iframe);

                    iframe.style.display = 'none';
                    iframe.src = url;
                    iframe.onload = function () {
                        setTimeout(function () {
                            iframe.focus();
                            iframe.contentWindow.print();
                        }, 1);
                    };
                }
                else {
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = getExportFileName(fileName) + '.pdf';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
</script>
