@model IBS.Models.Reports.Top5OutstandingRailwayNonRailwaysMainModel

@{
    Layout = "";
}

<html>
<head>
    <title>Top 5 Outstanding Railway & Non-Railways</title>
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    <div id="dvReportViewer">
        <h3 class="center">Top 5 Outstanding Railway & Non-Railways</h3>
        <ul class="reportLabelList center">
            <li><span class="labelName">@ViewBag.Title</span></li>
            <br />
            <br />
            <li><span class="labelName">7(c)</span></li>
            <br />
            <br />
            <li><span class="labelName">Railways</span></li>
        </ul>
        <table class="borderTable">
            <tr>
                <th width="2%" valign="top" align="center" rowspan="2"><b><font size='1' face="Verdana">S.No.</font></b></th>
                <th width="22%" valign="top" align="center" rowspan="2"><b><font size='1' face="Verdana">Name of Client</font></b></th>
                <th width="13%" align="center" valign="top"><b><font size='1' face="Verdana">NR</font></b></th>
                <th width="13%" align="center" valign="top"><b><font size='1' face="Verdana">ER</font></b></th>
                <th width="13%" align="center" valign="top"><b><font size='1' face="Verdana">WR</font></b></th>
                <th width="13%" align="center" valign="top"><b><font size='1' face="Verdana">SR</font></b></th>
                <th width="13%" align="center" valign="top"><b><font size='1' face="Verdana">CR</font></b></th>
                <th width="11%" valign="top" align="center" rowspan="2"><b><font size='1' face="Verdana">Total</font></b></th>
            </tr>
            <tr>
                <td width="13%" valign="top"><font size="1" face="Verdana"></font>NR Value</td>
                <td width="13%" valign="top"><font size="1" face="Verdana"></font>ER Value</td>
                <td width="13%" valign="top"><font size="1" face="Verdana"></font>WR Value</td>
                <td width="13%" valign="top"><font size="1" face="Verdana"></font>SR Value</td>
                <td width="13%" valign="top"><font size="1" face="Verdana"></font>CR Value</td>
            </tr>
            @{
                Int64 Count = 1;
                Decimal t_TotalT = 0;
                Decimal t_NR = 0, t_ER = 0, t_WR = 0, t_SR = 0, t_CR = 0;
            }
            @if (Model.top5OutstandingRailwayNonRailwaysModels != null && Model.top5OutstandingRailwayNonRailwaysModels.Count > 0)
            {
                foreach (var item in Model.top5OutstandingRailwayNonRailwaysModels)
                {
                    <tr>
                        <td width="2%" valign="top"><font size="1" face="Verdana"></font>@Count</td>
                        <td width="22%" valign="top"><font size="1" face="Verdana"></font>@item.bpo_orgn</td>
                        <td width="13%" valign="top"><font size="1" face="Verdana"></font>@item.NR</td>
                        <td width="13%" valign="top"><font size="1" face="Verdana"></font>@item.ER</td>
                        <td width="13%" valign="top"><font size="1" face="Verdana"></font>@item.WR</td>
                        <td width="13%" valign="top"><font size="1" face="Verdana"></font>@item.SR</td>
                        <td width="13%" valign="top"><font size="1" face="Verdana"></font>@item.CR</td>
                        <td width="11%" valign="top"><font size="1" face="Verdana"></font>@item.Total</td>
                    </tr>
                    Count = Count + 1;
                    t_NR = t_NR + Convert.ToDecimal(item.NR);
                    t_ER = t_ER + Convert.ToDecimal(item.ER);
                    t_WR = t_WR + Convert.ToDecimal(item.WR);
                    t_SR = t_SR + Convert.ToDecimal(item.SR);
                    t_CR = t_CR + Convert.ToDecimal(item.CR);
                    t_TotalT = t_TotalT + Convert.ToDecimal(item.Total);
                }
            }
            <tr>
                <td width="62%" valign="top" colspan="2" align="right"><font size='1' face="Verdana"><b>Total</b></font></td>
                <td width="13%" valign="top"><font size='1' face="Verdana"><b>@t_NR</b></font></td>
                <td width="13%" valign="top"><font size='1' face="Verdana"><b>@t_ER</b></font></td>
                <td width="13%" valign="top"><font size='1' face="Verdana"><b>@t_WR</b></font></td>
                <td width="13%" valign="top"><font size='1' face="Verdana"><b>@t_SR</b></font></td>
                <td width="13%" valign="top"><font size='1' face="Verdana"><b>@t_CR</b></font></td>
                <td width="38%" valign="top" align="center"><font size='1' face="Verdana"><b>@t_TotalT</b></font></td>
            </tr>
        </table>
        <br>
        <ul class="reportLabelList center">
            <br />
            <br />
            <li><span class="labelName">Non-Railways</span></li>
        </ul>
        <table class="borderTable">
            <tr>
                <th width="2%" valign="top" align="center" rowspan="2"><b><font size='1' face="Verdana">S.No.</font></b></th>
                <th width="22%" valign="top" align="center" rowspan="2"><b><font size='1' face="Verdana">Name of Client</font></b></th>
                <th width="13%" align="center" valign="top"><b><font size='1' face="Verdana">NR</font></b></th>
                <th width="13%" align="center" valign="top"><b><font size='1' face="Verdana">ER</font></b></th>
                <th width="13%" align="center" valign="top"><b><font size='1' face="Verdana">WR</font></b></th>
                <th width="13%" align="center" valign="top"><b><font size='1' face="Verdana">SR</font></b></th>
                <th width="13%" align="center" valign="top"><b><font size='1' face="Verdana">CR</font></b></th>
                <th width="11%" valign="top" align="center" rowspan="2"><b><font size='1' face="Verdana">Total</font></b></th>
            </tr>
            <tr>
                <td width="13%" valign="top"><font size="1" face="Verdana"></font>NR Value</td>
                <td width="13%" valign="top"><font size="1" face="Verdana"></font>ER Value</td>
                <td width="13%" valign="top"><font size="1" face="Verdana"></font>WR Value</td>
                <td width="13%" valign="top"><font size="1" face="Verdana"></font>SR Value</td>
                <td width="13%" valign="top"><font size="1" face="Verdana"></font>CR Value</td>
            </tr>
            @{
                Decimal t_Total = 0;
                Decimal t_NRn = 0, t_ERn = 0, t_WRn = 0, t_SRn = 0, t_CRn = 0;
            }
            @if (Model.top5OutstandingRailwayNonRailways1Models != null && Model.top5OutstandingRailwayNonRailways1Models.Count > 0)
            {
                foreach (var item in Model.top5OutstandingRailwayNonRailways1Models)
                {
                    <tr>
                        <td width="2%" valign="top"><font size="1" face="Verdana"></font>@Count</td>
                        <td width="22%" valign="top"><font size="1" face="Verdana"></font>@item.bpo_orgn</td>
                        <td width="13%" valign="top"><font size="1" face="Verdana"></font>@item.NR</td>
                        <td width="13%" valign="top"><font size="1" face="Verdana"></font>@item.ER</td>
                        <td width="13%" valign="top"><font size="1" face="Verdana"></font>@item.WR</td>
                        <td width="13%" valign="top"><font size="1" face="Verdana"></font>@item.SR</td>
                        <td width="13%" valign="top"><font size="1" face="Verdana"></font>@item.CR</td>
                        <td width="11%" valign="top"><font size="1" face="Verdana"></font>@item.Total</td>
                    </tr>
                    Count = Count + 1;
                    t_NRn = t_NRn + Convert.ToDecimal(item.NR);
                    t_ERn = t_ERn + Convert.ToDecimal(item.ER);
                    t_WRn = t_WRn + Convert.ToDecimal(item.WR);
                    t_SRn = t_SRn + Convert.ToDecimal(item.SR);
                    t_CRn = t_CRn + Convert.ToDecimal(item.CR);
                    t_Total = t_Total + Convert.ToDecimal(item.Total);
                }
            }
            <tr>
                <td width="24%" valign="top" colspan="2" align="right"><font size='1' face="Verdana"><b>Total</b></font></td>
                <td width="13%" valign="top"><font size='1' face="Verdana"><b>@t_NRn</b></font></td>
                <td width="13%" valign="top"><font size='1' face="Verdana"><b>@t_ERn</b></font></td>
                <td width="13%" valign="top"><font size='1' face="Verdana"><b>@t_WRn</b></font></td>
                <td width="13%" valign="top"><font size='1' face="Verdana"><b>@t_SRn</b></font></td>
                <td width="13%" valign="top"><font size='1' face="Verdana"><b>@t_CRn</b></font></td>
                <td width="11%" valign="top"><font size='1' face="Verdana"><b>@t_Total</b></font></td>
            </tr>
        </table>
        <br>

        <br>

    </div>
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</body>
</html>
<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js"></script>
<script type="text/javascript">
    var fileName = 'Top5OutstandingRailwayNonRailways';

    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnExportToExcel").click(function () {
        let file = new Blob([$('#dvReportViewer').html()], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        var HTML = $('#dvReportViewer').html();

        $.ajax({
            url: "@Url.Action("GeneratePDF", "PCDOReport")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            data: { htmlContent: HTML },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (result) {
                var url = window.URL.createObjectURL(result);
                if (isPrint) {
                    iframe = document.createElement('iframe');
                    document.body.appendChild(iframe);

                    iframe.style.display = 'none';
                    iframe.src = url;
                    iframe.onload = function () {
                        setTimeout(function () {
                            iframe.focus();
                            iframe.contentWindow.print();
                        }, 1);
                    };
                }
                else {
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = getExportFileName(fileName) + '.pdf';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
</script>
