@model IBS.Models.IC_RPT_IntermediateModel;
@{
    ViewData["Title"] = "IC REPORT EDIT FORM";
    string clsView = "";
    //if (Model.ErrorMsg != null)
    //{
    clsView = "Permission_View";
    //}
}

<div class="list-inner">
    <div class="tast-list">
        <h2>IC REPORT EDIT FORM</h2>
    </div>
</div>
<div class="@clsView">
    <form role="form" asp-controller="InterUnit_Transfer" asp-action="DetailSave" id="frmInterUnitTransfer">
        <div class="accordion-body">
            <table class="borderGrid mb-2">
                <tr>
                    <td>
                        <label for="Reference">Case No. : </label>
                    </td>
                    <td>
                        <label id="lblCASE_NO">@Model.CASE_NO</label>
                    </td>
                    <td>
                        <label for="Reference">Call Serial No : </label>
                    </td>
                    <td>
                        <label id="lblCall_SNO">@Model.Call_SNO</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Call Date : </label>
                    </td>
                    <td>
                        <label id="lblCall_Recv_dt">@Model.Display_Call_Recv_dt</label>
                    </td>
                    <td>
                        <label for="Reference">PO No. : </label>
                    </td>
                    <td>
                        <label id="lblPONO">@Model.PO_NO</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">PO Date :</label>
                    </td>
                    <td>
                        <label id="lblPODT">@Model.PO_DT</label>
                    </td>
                </tr>
            </table>

            <div class="row my-0 m-lg-1" style="border: 1px solid;">
                <label for="Reference">PO AMENDMENTS</label>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Amendments</label>
                    <input type="text" class="input" id="TxtAmnds" maxlength="12" /> @*asp-for="test"*@
                    @*<span asp-validation-for="test" class="text-danger"></span>*@
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Date</label>
                    <input type="text" class="input datepicker" id="TxtAmndsDate" placeholder="DD/MM/YYYY" />
                    @*<span asp-validation-for="test" class="text-danger"></span>*@
                </div>
                <div class="col-md-3 mb-3">
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active" id="btnDeletevaluationDetail" data-id="">Save Ammendments</button>
                    </div>
                </div>
            </div>
            <div class="row my-0" id="listAmendments">
                <div class="col-md-12">
                    <div class="task-listinput">
                        <div class="dash-table mb-0">
                            <table id="dtList" class="table-responsive mb-0">
                                <thead>
                                    <tr>
                                        <th>SNo.</th>
                                        <th>Amendments</th>
                                        <th>Date</th>
                                        <th class="center padR10">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-md-3 mb-3">
                    <label for="Reference">Consignee</label>
                    @Html.DropDownListFor(Model => Model.CONSIGNEE_CD, new SelectList(IBS.Models.Common.BindConsignee(Model.CASE_NO, Model.Display_Call_Recv_dt, Model.Call_SNO) , "Value", "Text"))
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Item</label>
                    @Html.DropDownList("dpItem", new SelectList(IBS.Models.Common.GetIterUnitRegionList() , "Value", "Text"))
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">BK No.</label>
                    <input type="text" class="input" asp-for="BK_NO" maxlength="12" /> @*asp-for="test"*@
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">SET No.</label>
                    <input type="text" class="input" asp-for="SET_NO" maxlength="12" /> @*asp-for="test"*@
                </div>
            </div>

            <div class="row my-3">
                <div class="col-md-3 mb-3">
                    <label for="Reference">Consignee Manufacture Type : </label>
                    @Html.DropDownListFor(Model => Model.MAN_TYPE, new SelectList(IBS.Models.Common.GetConsignneManufacturingType() , "Value", "Text"))
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-6 mb-3">
                    <label for="Reference">Consignee DESCRIPTION : </label>
                    <input type="text" class="input" asp-for="CONSIGNEE_DESC" maxlength="200" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Reference">Bill Paying Officer DESCRIPTION : </label>
                    <input type="text" class="input" asp-for="BPO_DESC" maxlength="200" />
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-6 mb-3">
                    <label for="Reference">Governing Bill Paying Authority : </label>
                    <input type="text" class="input" asp-for="GBPO_AUTH" maxlength="200" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Reference">Manufacturer DESCRIPTION : </label>
                    <input type="text" class="input" asp-for="MANUFAC_DESC" maxlength="200" />
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-6 mb-3">
                    <label for="Reference">Purchasing Authority DESCRIPTION : </label>
                    <input type="text" class="input" asp-for="PUR_AUTH_DESC" maxlength="200" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Offered Inst. No. : </label>
                    <input type="text" class="input" asp-for="OFF_INST_NO" maxlength="200" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">ITEM UNIT (UOM) : </label>
                    <input type="text" class="input" asp-for="ITEM_UNIT" maxlength="200" />
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <label for="Reference">ITEM DESCRIPTION : </label>
                    <textarea maxlength="750" asp-for="ITEM_DESC_PO"></textarea>
                    @*<input type="text" class="input"  />*@
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <label for="Reference">ITEM REMARK : </label>
                    <input type="text" class="input" asp-for="ITEM_REMARK" maxlength="750" />
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <label for="Reference">QTY ORDER : </label>
                    <label id="lblQtyOrder">@Model.QTY_ORDERED</label>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">CUM QTY PREV OFFERED : </label>
                    <input type="number" class="input" asp-for="CUM_QTY_PREV_OFFERED" maxlength="10" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">CUM QTY PREV PASSED : </label>
                    <input type="number" class="input" asp-for="CUM_QTY_PREV_PASSED" maxlength="10" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">QTY TO INSP : </label>
                    <label id="lblQtyINSP">@Model.QTY_TO_INSP</label>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">QTY PASSED : </label>
                    <input type="number" class="input" asp-for="QTY_PASSED" maxlength="10" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">QTY REJECTED : </label>
                    <input type="number" class="input" asp-for="QTY_REJECTED" maxlength="10" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">QTY DUE : </label>
                    <input type="number" class="input" asp-for="QTY_DUE" maxlength="10" />
                </div>
            </div>

            <div class="row my-0 clsRemark" style="display:none;">
                <div class="col-md-12 mb-3">
                    <label for="Reference">Remark<span class="text-danger">* (Max 400 Chars)</span></label>
                    <input type="text" class="input" asp-for="REMARK" maxlength="750" />
                    <span class="text-danger">* Add Rejection Remarks.</span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <label for="Reference">Holograms<span class="text-danger">* (Max 250 Chars)</span></label>
                    <input type="text" class="input" asp-for="HOLOGRAM" maxlength="750" />
                    <span class="text-danger">* Enter series of Holograms Used on material and if Holograms not used then kindly mention type of seal & it's No..</span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <label for="Reference">Case Status Date</label>
                    <input type="text" class="input datepicker" maxlength="750" />
                </div>
                <div class="col-md-9 mb-3">
                    <label for="Reference"> </label>
                    <span style="font-size:13px;">(Current Date Will be the Case Status Date i.e Date of Cancellation/Acceptance..etc)</span>
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <label for="Reference">Case Lab report receipt Date</label>
                    <input type="text" class="input datepicker" id="txtLabReceDate" placeholder="(DD/MM/YYYY)" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Reference">Passed instt. Note</label>
                    <input type="text" class="input" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Visits Dates</label>
                    <input type="text" class="input" />
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-6 mb-3">
                    <label for="Reference">Dispatch Advice No.</label>
                    <input type="text" class="input" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Reference">Invoice No.</label>
                    <input type="text" class="input" />
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-6 mb-3">
                    <label for="Reference">Name of Inspecting Engineer</label>
                    <input type="text" class="input" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Reference">Consignee Destination</label>
                    <input type="text" class="input" />
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-10 mb-3">
                    <label for="Reference">IE Stamp</label>
                    <div style="display:flex;">
                        @Html.DropDownList("dpItem1", new SelectList(IBS.Models.Common.BindIEStamps() , "Value", "Text"))
                        @Html.DropDownList("dpItem2", new SelectList(IBS.Models.Common.BindIEStamps() , "Value", "Text"))
                    </div>
                </div>
            </div>

            <div class="savenext-btn">
                <button type="button" class="save-btn active" id="btnSave">Save</button>
                <button type="button" class="save-btn" id="btnRefresh">Refresh</button>
                <button type="button" class="save-btn" id="btnCancel">Cancel</button>
                <button type="button" class="save-btn" id="btnReport">Show Report</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(document).ready(function () {
            if("@Model.ACTIONAR" == "R"){
                $(".clsRemark").css("display", "");
            }
        });

        if ("@Model.Region" == "C") {

        } else {
            Man_type.Visible = false;
            GBPO_DES.Visible = false;
            OFF_INST_NO.Visible = true;
            I_UOM.Visible = true;
            Labelqtyod.Text = "QTY ORDERED";
            Labelcumqtyoffer.Text = "CUM QTY PREV OFFERED";
            Labelqtypass.Text = "QTY PASSED";
            LabelVT.Text = "Visits Dates";
            LAB_RE.Visible = true;
            Labelinst.Text = "Passed instt. Note";
            DIS_PAC_NO.Visible = false;
            INVOICE_NO.Visible = false;
            NAME_INS_ENG.Visible = false;
            CONS_DESG.Visible = false;
        }

        function lstman() {
            if (lstmantype.SelectedValue == "B") {
                Label_dis_pac.Text = "Dispatch Adive No.";
            }
            else if (lstmantype.SelectedValue == "J") {
                Label_dis_pac.Text = "Packing List No.";
            }
            else {
                //Man_type.Visible=false;
                GBPO_DES.Visible = false;
                OFF_INST_NO.Visible = true;
                I_UOM.Visible = true;
                Labelqtyod.Text = "QTY ORDERED";
                Labelcumqtyoffer.Text = "CUM QTY PREV OFFERED";
                Labelqtypass.Text = "QTY PASSED";
                LabelVT.Text = "Visits Dates";
                LAB_RE.Visible = true;
                Labelinst.Text = "Passed instt. Note";
                DIS_PAC_NO.Visible = false;
                INVOICE_NO.Visible = false;
                NAME_INS_ENG.Visible = false;
                CONS_DESG.Visible = false;
            }
        }

        if ("@Model.CONSIGNEE_CD" != "" || "@Model.CONSIGNEE_CD" != null) { $("#CONSIGNEE_CD").val("@Model.CONSIGNEE_CD"); }

        $("#btnSave").click(function () {
            if ($("#CONSIGNEE_CD").val() == "0" || $("#CONSIGNEE_CD").val() == "") {
                ShowHideMsgNew(false, "Please select consignee !");
                return;
            }

            var Qty_TO_Ins = "@Model.QTY_TO_INSP";
            var QtyRejected = $("#QTY_REJECTED").val() == "" ? "0" : $("#QTY_REJECTED").val();
            var QtyPassed = $("#QTY_PASSED").val() == "" ? "0" : $("#QTY_PASSED").val();
            if (!IsValidQty(Qty_TO_Ins, QtyRejected, QtyPassed)) {
                ShowHideMsgNew(false, "QTY REJECTED + QTY PASSED should not be greater than (>) QTY TO INSP !");
                return;
            }
        });

        function IsValidQty(pinspqty, prejectedqty, ppassedqty) {
            var inspqty = 0;
            var rejectedqty = 0;
            var passedqty = 0;

            inspqty = parseFloat(pinspqty);
            rejectedqty = parseFloat(prejectedqty);
            passedqty = parseFloat(ppassedqty);

            if ((rejectedqty + passedqty) > inspqty) {
                return false;

            }
            return true;
        }
    </script>
}