@model IBS.Models.IC_RPT_IntermediateModel;
@using System.Web;
@{
    ViewData["Title"] = "IC REPORT EDIT FORM";
    string clsView = "";
    clsView = "Permission_View";
    string ReportUrl = ViewBag.ReportUrl;
    string gobackUrl = Url.Action("CallStatus", "CallRegisterIB") + "?CaseNo=" + Model.CASE_NO + "&CallSno=" + Model.Call_SNO + "&CallRecvDt=" + Convert.ToDateTime(Model.Call_Recv_dt).ToString("yyyy-MM-dd") + "&IeCd=&ActionType=C&type=C";
}

<style>
    .disabled-button {
        cursor: not-allowed; /* Change cursor to not-allowed */
        opacity: 0.6; /* Reduce opacity for a disabled look */
    }
</style>

<div class="list-inner">
    <div class="tast-list">
        <h2>IC REPORT EDIT FORM</h2>
    </div>
    <div>
        <a href="@gobackUrl" class="formBtn viewall-btn">Back</a>
    </div>
</div>

<div class="@clsView">
    <form role="form" asp-controller="InterUnit_Transfer" asp-action="DetailSave" id="frmInterUnitTransfer">
        <input type="hidden" asp-for="Region">
        <div class="accordion-body">
            <div class="row">
                <div class="col-lg-12">
                    <table class="borderGrid mb-2">
                        <tr>
                            <td>
                                <label for="Reference">Case No. : </label>
                            </td>
                            <td>
                                <label id="lblCASE_NO">@Model.CASE_NO</label>
                            </td>
                            <td>
                                <label for="Reference">Call Serial No : </label>
                            </td>
                            <td>
                                <label id="lblCall_SNO">@Model.Call_SNO</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="Reference">Call Date : </label>
                            </td>
                            <td>
                                <label id="lblCall_Recv_dt">@Model.Display_Call_Recv_dt</label>
                            </td>
                            <td>
                                <label for="Reference">PO No. : </label>
                            </td>
                            <td>
                                <label id="lblPONO">@Model.PO_NO</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="Reference">PO Date :</label>
                            </td>
                            <td>
                                <label id="lblPODT">@Model.PO_DT</label>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row my-0">
                <div class="col-lg-12">
                    <h3 class="heading3">PO AMENDMENTS</h3>
                </div>
                <input type="hidden" id="hdnSNo" />
                <div class="col-md-3 mb-3">
                    <label for="Reference">Amendments</label>
                    <input type="text" class="input" id="TxtAmnds" />
                    @*<span asp-validation-for="test" class="text-danger"></span>*@
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Date</label>
                    <input type="text" class="input datepicker" id="TxtAmndsDate" placeholder="DD/MM/YYYY" />
                    @*<span asp-validation-for="test" class="text-danger"></span>*@
                </div>
                <div class="col-md-3 mb-3">
                    <div class="savenext-btn btnAlign">
                        <button type="button" class="save-btn active" id="btnSavePOAmendment" onclick="SavePOAmendment()" data-id="">Save Amendments</button>
                    </div>
                </div>
            </div>
            <div class="row my-0" id="listAmendments">
                <div class="col-md-12">
                    <div class="task-listinput">
                        <div class="dash-table mb-0">
                            <table id="dtPoAmendment" class="table-responsive mb-0">
                                <thead>
                                    <tr>
                                        <th>SNo.</th>
                                        <th>Amendments</th>
                                        <th>Date</th>
                                        <th class="center padR10">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-md-3 mb-3">
                    <label for="Reference">Consignee</label>
                    @Html.DropDownListFor(Model => Model.CONSIGNEE_CD, new SelectList(IBS.Models.Common.BindConsignee(Model.CASE_NO, Model.Display_Call_Recv_dt, Model.Call_SNO), "Value", "Text"))
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Items</label>
                    @Html.DropDownListFor(Model => Model.ITEM_SRNO_PO, new SelectList(new List<SelectListItem>(), "Value", "Text"), "--Select--")
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">BK No.</label>
                    <input type="text" class="input" asp-for="BK_NO" maxlength="12" readonly="readonly" style="text-transform: uppercase;" /> @*asp-for="test"*@
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">SET No.</label>
                    <input type="text" class="input" asp-for="SET_NO" maxlength="12" onblur="Change('SET_NO');" readonly="readonly" /> @*asp-for="test"*@
                </div>
            </div>

            <div class="row my-3 clsMan_type">
                <div class="col-md-3 mb-3">
                    <label for="Reference">Consignee Manufacture Type : </label>
                    @Html.DropDownListFor(Model => Model.MAN_TYPE, new SelectList(IBS.Models.Common.GetConsignneManufacturingType(), "Value", "Text"))
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-6 mb-3">
                    <label for="Reference">Consignee DESCRIPTION : </label>
                    <input type="text" class="input" asp-for="CONSIGNEE_DESC" maxlength="200" onkeydown="checkTextAreaMaxLength(this,event,'200');" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Reference">Bill Paying Officer DESCRIPTION : </label>
                    <input type="text" class="input" asp-for="BPO_DESC" maxlength="200" onkeydown="checkTextAreaMaxLength(this,event,'200');" />
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-6 mb-3 clsGBPA">
                    <label for="Reference">Governing Bill Paying Authority : </label>
                    <input type="text" class="input" asp-for="GBPO_AUTH" maxlength="200" onkeydown="checkTextAreaMaxLength(this,event,'200');" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Reference">Manufacturer DESCRIPTION : </label>
                    <input type="text" class="input" asp-for="MANUFAC_DESC" maxlength="200" onkeydown="checkTextAreaMaxLength(this,event,'200');" />
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-6 mb-3">
                    <label for="Reference">Purchasing Authority DESCRIPTION : </label>
                    <input type="text" class="input" asp-for="PUR_AUTH_DESC" maxlength="200" onkeydown="checkTextAreaMaxLength(this,event,'200');" />
                </div>
                <div class="col-md-3 mb-3 clsOffInsNo">
                    <label for="Reference">Offered Inst. No. : </label>
                    <input type="text" class="input" asp-for="OFF_INST_NO" maxlength="200" />
                </div>
                <div class="col-md-3 mb-3 clsIUnit">
                    <label for="Reference">ITEM UNIT (UOM) : </label>
                    <input type="text" class="input" asp-for="ITEM_UNIT" maxlength="200" />
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <label for="Reference">ITEM DESCRIPTION : </label>
                    <textarea maxlength="750" asp-for="ITEM_DESC_PO" onkeydown="checkTextAreaMaxLength(this,event,'750');" onblur="RemoveSpecialChar('ITEM_DESC_PO')"></textarea>
                    @*<input type="text" class="input"  />*@
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <label for="Reference">ITEM REMARK : </label>
                    <input type="text" class="input" asp-for="ITEM_REMARK" onkeydown="checkTextAreaMaxLength(this,event,'250');" onblur="RemoveSpecialChar('ITEM_REMARK')" maxlength="750" />
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <label for="Reference" id="lblQtyOrderd">QTY ORDER : </label>
                    <input type="number" class="input" asp-for="QTY_ORDERED" maxlength="10" readonly="readonly" />
                    <label id="lblQtyOrder">@Model.QTY_ORDERED</label>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference" id="lblCumQtyPreOffer">CUM QTY PREV OFFERED : </label>
                    <input type="number" class="input" asp-for="CUM_QTY_PREV_OFFERED" maxlength="10" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">CUM QTY PREV PASSED : </label>
                    <input type="number" class="input" asp-for="CUM_QTY_PREV_PASSED" maxlength="10" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">QTY TO INSP : </label>
                    <input type="number" class="input" asp-for="QTY_TO_INSP" maxlength="10" readonly="readonly" />
                    <label id="lblQtyINSP">@Model.QTY_TO_INSP</label>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference" id="lblQtyPassed">QTY PASSED : </label>
                    <input type="number" class="input" asp-for="QTY_PASSED" maxlength="10" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">QTY REJECTED : </label>
                    <input type="number" class="input" asp-for="QTY_REJECTED" maxlength="10" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">QTY DUE : </label>
                    <input type="number" class="input" asp-for="QTY_DUE" maxlength="10" />
                </div>
            </div>

            <div class="row my-0 clsRemark" style="display:none;">
                <div class="col-md-12 mb-3">
                    <label for="Reference">Remark@*<span class="text-danger">* (Max 400 Chars)</span>*@</label>
                    <input type="text" class="input" asp-for="REMARK" maxlength="400" onkeydown="checkTextAreaMaxLength(this,event,'400');" onblur="RemoveSpecialChar('REMARK')" />
                    <span class="text-danger">* Add Rejection Remarks.</span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <label for="Reference">Holograms@*<span class="text-danger">* (Max 250 Chars)</span>*@</label>
                    <input type="text" class="input" asp-for="HOLOGRAM" maxlength="250" onkeydown="checkTextAreaMaxLength(this,event,'250');" onblur="RemoveSpecialChar('HOLOGRAM')" />
                    <span class="text-danger">* Enter series of Holograms Used on material and if Holograms not used then kindly mention type of seal & it's No..</span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <label for="Reference">Case Status Date</label>
                    <input type="text" class="input" asp-for="CALL_STATUS_DT" readonly="readonly" />
                </div>
                <div class="col-md-9 mb-3">
                    <label for="Reference"> </label>
                    <span style="font-size:13px;">(Current Date Will be the Case Status Date i.e Date of Cancellation/Acceptance..etc)</span>
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-3 mb-3 clsLAB_RE">
                    <label for="Reference">Case Lab report receipt Date</label>
                    <input type="text" class="input datepicker" asp-for="LAB_TST_RECT_DT" placeholder="DD/MM/YYYY" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Reference" id="lblPassIns">Passed instt. Note</label>
                    <input type="text" class="input" asp-for="PASSED_INST_NO" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference" id="lblVisitDates">Visits Dates</label>
                    <input type="text" class="input" asp-for="VISIT_DATES" />
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-6 mb-3 clsDIS_PAC_NO">
                    <label for="Reference" id="lblDisAdvNo">Dispatch Advice No.</label>
                    <input type="text" class="input" asp-for="DISPATCH_PACKING_NO" onkeydown="checkTextAreaMaxLength(this,event,'500');" onblur="RemoveSpecialChar('DISPATCH_PACKING_NO')" />
                </div>
                <div class="col-md-6 mb-3 clsINVOICE_NO">
                    <label for="Reference">Invoice No.</label>
                    <input type="text" class="input" asp-for="INVOICE_NO" onkeydown="checkTextAreaMaxLength(this,event,'300');" onblur="RemoveSpecialChar('INVOICE_NO')" />
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-6 mb-3 clsNAME_INS_ENG">
                    <label for="Reference">Name of Inspecting Engineer</label>
                    <input type="text" class="input" asp-for="NAME_OF_IE" onkeydown="checkTextAreaMaxLength(this,event,'500');" onblur="RemoveSpecialChar('NAME_OF_IE')" />
                </div>
                <div class="col-md-6 mb-3 clsCONS_DESG">
                    <label for="Reference">Consignee Destination</label>
                    <input type="text" class="input" asp-for="CONSIGNEE_DESG" onkeydown="checkTextAreaMaxLength(this,event,'50');" onblur="RemoveSpecialChar('CONSIGNEE_DESG')" />
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-10 mb-3">
                    <label for="Reference">IE Stamp</label>
                    <div style="display:flex;">
                        <div class="col-md-5 mb-3" style="margin-right:25px;">@Html.DropDownListFor(model => model.IE_STAMPS_DETAIL, new SelectList(IBS.Models.Common.BindIEStamps(), "Value", "Text"))</div>
                        <div class="col-md-5 mb-3">@Html.DropDownListFor(model => model.IE_STAMPS_DETAIL2, new SelectList(IBS.Models.Common.BindIEStamps(), "Value", "Text"))</div>
                    </div>
                </div>
            </div>

            <div class="savenext-btn mb-3">
                <button type="button" class="save-btn active" id="btnSave">Save</button>
                <button type="button" class="save-btn" id="btnRefresh">Refresh</button>
                <button type="button" class="save-btn" id="btnCancel">Cancel</button>
                <button type="button" class="save-btn" id="btnReport" onclick="Download()">Show Report</button>
            </div>
            <h5 class="center">Refresh <span class="text-danger">* It will refresh the current records!</span></h5>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        var Case_No = "@Model.CASE_NO";
        var Call_Recv_Dt = "@Model.Call_Recv_dt";
        var Call_SNo = "@Model.Call_SNO";
        var Consignee_Cd = "@Model.CONSIGNEE_CD";
        var ActionAR = "@Model.ACTIONAR";

        var Flag_Consignee = "0";

        $(document).ready(function () {
            if ("@Model.ACTIONAR" == "R") {
                $(".clsRemark").css("display", "");
            }

            $("#CONSIGNEE_CD").change(function () {

                $("#BK_NO").val("");
                $("#SET_NO").val("");
                Reset();
                FillItems();
                SetAccepted();
            });

            $("#ITEM_SRNO_PO").change(function () {
                setItemVal();
            });

            $("#LAB_TST_RECT_DT").change(function () {
                debugger
                var day = Call_Recv_Dt.substring(0, 2);
                var month = Call_Recv_Dt.substring(3, 5);
                var year = Call_Recv_Dt.substring(6, 10);
                var CallDt = day + "/" + month + "/" + year;
                var CurrDt = $("#LAB_TST_RECT_DT").val();

                var callDate = new Date(CallDt.split("/").reverse().join("-"));
                var currentDate = new Date(CurrDt.split("/").reverse().join("-"));

                if (callDate > currentDate) {
                    $("#LAB_TST_RECT_DT").val("");
                    ShowHideMsgNew(false, "Not less than Call Received Date.");
                }

            });

            AcceptedFun();
            GetVisitsChanges();

            if ("@Model.Region" == "C") {
                $(".clsMan_type").css("display", "");
                $(".clsGBPA").css("display", "");
                $(".clsOffInsNo").css("display", "none");
                $(".clsIUnit").css("display", "none");
                $("#lblQtyOrderd").html("QUANTITY ORDERED(MT)")
                $("#lblCumQtyPreOffer").html("CUM QTY DISPATCHED PREV(MT)");
                $("#lblQtyPassed").html("QTY NOW DISPATCHED(MT)");
                $("#lblVisitDates").html("Dates of Dispatch");
                $(".clsLAB_RE").css("display", "none");
                $("#lblPassIns").html("INSTALLMENT NO.");
                $(".clsDIS_PAC_NO").css("display", "");
                $(".clsINVOICE_NO").css("display", "");
                $(".clsNAME_INS_ENG").css("display", "");
                $(".clsCONS_DESG").css("display", "");
                lstman();
            } else {
                $(".clsMan_type").css("display", "none");
                $(".clsGBPA").css("display", "none");
                $(".clsOffInsNo").css("display", "");
                $(".clsIUnit").css("display", "");
                $("#lblQtyOrderd").html("QTY ORDERED :")
                $("#lblCumQtyPreOffer").html("CUM QTY PREV OFFERED");
                $("#lblQtyPassed").html("QTY PASSED");
                $("#lblVisitDates").html("Visits Dates");
                $(".clsLAB_RE").css("display", "");
                $("#lblPassIns").html("Passed instt. Note");
                $(".clsDIS_PAC_NO").css("display", "none");
                $(".clsINVOICE_NO").css("display", "none");
                $(".clsNAME_INS_ENG").css("display", "none");
                $(".clsCONS_DESG").css("display", "none");
            }
            FillItems();

            InitializationPOAmendment();
            SetAccepted();

            if ("@Model.CONSIGNEE_CD" != "" || "@Model.CONSIGNEE_CD" != null) { $("#CONSIGNEE_CD").val("@Model.CONSIGNEE_CD"); }

            $("#btnCancel").css("cursor", "pointer");
            $("#btnReport").css("cursor", "pointer");
        });

        function Download() {

            $('#BK_NO').prop('disabled', true);
            $('#SET_NO').prop('disabled', true);

            var CaseNO = $("#lblCASE_NO").html();
            var Call_Recv_Dt = $("#lblCall_Recv_dt").html();
            var CallSNo = $("#lblCall_SNO").html();
            var Consignee_CD = $("#CONSIGNEE_CD").val();
            var Region = $("#Region").val();
            var BkNo = $('#BK_NO').val();
            var SetNo = $('#SET_NO').val();

            $.get("@Url.Action("GetReportData", "IC_RPT_Intermediate")", { CaseNO, Call_Recv_Dt, CallSNo, Consignee_CD, Region, BkNo, SetNo }, function (response) {
                if (response.IsDigitalSignatureConfig) {
                    abc(response.responseText, "test.pdf");
                }
                else {
                    downloadPDF(response.responseText);
                }
            });
        }

        function lstman() {
            if ($("#MAN_TYPE").val() == "B") {
                $("#lblDisAdvNo").html("Dispatch Adive No.");
            }
            else if ($("#MAN_TYPE").val() == "J") {
                $("#lblDisAdvNo").html("Packing List No.");
            }
            else {
                $(".clsGBPA").css("display", "none"); // GBPO_DES.Visible = false;
                $(".clsOffInsNo").css("display", ""); //OFF_INST_NO.Visible = true;
                $(".clsIUnit").css("display", ""); //I_UOM.Visible = true;
                $("#lblQtyOrderd").html("QTY ORDERED :") //Labelqtyod.Text = "QTY ORDERED";
                $("#lblCumQtyPreOffer").html("CUM QTY PREV OFFERED"); //Labelcumqtyoffer.Text = "CUM QTY PREV OFFERED";
                $("#lblQtyPassed").html("QTY PASSED :");  //Labelqtypass.Text = "QTY PASSED";
                $("#lblVisitDates").html("Visits Dates"); //LabelVT.Text = "Visits Dates";
                $(".clsLAB_RE").css("display", "");  //LAB_RE.Visible = true;
                $("#lblPassIns").html("Passed instt. Note");  //Labelinst.Text = "Passed instt. Note";
                $(".clsDIS_PAC_NO").css("display", "none"); //DIS_PAC_NO.Visible = false;
                $(".clsINVOICE_NO").css("display", "none"); //INVOICE_NO.Visible = false;
                $(".clsNAME_INS_ENG").css("display", "none"); //NAME_INS_ENG.Visible = false;
                $(".clsCONS_DESG").css("display", "none"); //CONS_DESG.Visible = false;
            }
        }

        $("#btnSave").click(function () {
            if ($("#CONSIGNEE_CD").val() == "0" || $("#CONSIGNEE_CD").val() == "") {
                ShowHideMsgNew(false, "Please select consignee !");
                return;
            }

            if ("@Model.Region" == "C" && $("#MAN_TYPE").val() == null) {
                ShowHideMsgNew(false, "Please select Consignee Manufacture Type !");
                return;
            }

            var Qty_TO_Ins = $("#QTY_TO_INSP").val(); //$("#lblQtyINSP").html();//"@Model.QTY_TO_INSP";
            var QtyRejected = $("#QTY_REJECTED").val() == "" ? "0" : $("#QTY_REJECTED").val();
            var QtyPassed = $("#QTY_PASSED").val() == "" ? "0" : $("#QTY_PASSED").val();
            if (!IsValidQty(Qty_TO_Ins, QtyRejected, QtyPassed)) {
                ShowHideMsgNew(false, "QTY REJECTED + QTY PASSED should not be greater than (>) QTY TO INSP !");
                return;
            }

            var formData = {
                CASE_NO: $("#lblCASE_NO").html(),
                CONSIGNEE_CD: "@Model.CONSIGNEE_CD",
                DP_CONSIGNEE_CD: $("#CONSIGNEE_CD").val(),
                ACTIONAR: "@Model.ACTIONAR",
                //IE_CD: $("#ClusterID option:selected").text(),
                PO_NO: $("#lblPONO").html(),
                PO_DT: $("#lblPODT").html(),
                Call_SNO: $("#lblCall_SNO").html(),
                Call_Recv_dt: $("#lblCall_Recv_dt").html(),
                Call_Install_No: $("#OFF_INST_NO").val(),
                MFG_Name: $("#MANUFAC_DESC").val(),
                ITEM_SRNO_PO: $("#ITEM_SRNO_PO").val(),
                ITEM_DESC_PO: $("#ITEM_DESC_PO").val(),
                ITEM_REMARK: $("#ITEM_REMARK").val(),
                QTY_ORDERED: $("#QTY_ORDERED").val(),
                CUM_QTY_PREV_OFFERED: $("#CUM_QTY_PREV_OFFERED").val(),
                CUM_QTY_PREV_PASSED: $("#CUM_QTY_PREV_PASSED").val(),
                QTY_TO_INSP: $("#QTY_TO_INSP").val(), //$("#lblQtyINSP").html(),
                QTY_PASSED: $("#QTY_PASSED").val(),
                QTY_REJECTED: $("#QTY_REJECTED").val(),
                QTY_DUE: $("#QTY_DUE").val(),
                UNIT_DTL: $("#ITEM_UNIT").val(),
                BK_NO: $("#BK_NO").val(),
                SET_NO: $("#SET_NO").val(),
                IE_STAMPS_DETAIL: $("#IE_STAMPS_DETAIL").val(),
                IE_STAMPS_DETAIL2: $("#IE_STAMPS_DETAIL2").val(),
                REMARK: $("#REMARK").val(),
                PASSED_INST_NO: $("#PASSED_INST_NO").val(),
                LAB_TST_RECT_DT: $("#LAB_TST_RECT_DT").val(),
                HOLOGRAM: $("#HOLOGRAM").val(),
                MAN_TYPE: $("#MAN_TYPE").val(),
                DISPATCH_PACKING_NO: $("#DISPATCH_PACKING_NO").val(),
                INVOICE_NO: $("#INVOICE_NO").val(),
                NAME_OF_IE: $("#NAME_OF_IE").val(),
                CONSIGNEE_DESG: $("#CONSIGNEE_DESG").val(),
                CONSIGNEE_DTL: $("#CONSIGNEE_DESC").val(),
                CONSIGNEE_DESC: $("#CONSIGNEE_DESC").val(),
                BPO_DTL: $("#BPO_DESC").val(),
                GOV_BILL_AUTH: $("#GBPO_AUTH").val(),
                PUR_DTL: $("#MANUFAC_DESC").val(),
                MANUFAC_DESC: $("#MANUFAC_DESC").val(),
                PUR_AUT_DTL: $("#PUR_AUTH_DESC").val(),
                PUR_AUTH_DESC: $("#PUR_AUTH_DESC").val(),
                OFF_INST_NO_DTL: $("#OFF_INST_NO").val(),
                VISIT_DATES: $("#VISIT_DATES").val(),
                VISITS_DATES: $("#VISIT_DATES").val(),
                BPO_DESC: $("#BPO_DESC").val(),
                GBPO_AUTH: $("#GBPO_AUTH").val(),
                OFF_INST_NO: $("#OFF_INST_NO").val(),
                ITEM_UNIT: $("#ITEM_UNIT").val(),
            }
            $.post("@Url.Action("SaveDetails", "IC_RPT_Intermediate")", { model: formData }, function (response) {
                ShowHideMsgNew(response.status, response.responseText);
                if (response.status) {
                    setTimeout(function () {
                        $("#btnCancel").trigger("click");
                    }, 1000);
                }
            });
        });

        $("#btnRefresh").click(function () {

            var formData = {
                CASE_NO: $("#lblCASE_NO").html(),
                CONSIGNEE_CD: "@Model.CONSIGNEE_CD",
                DP_CONSIGNEE_CD: $("#CONSIGNEE_CD").val(),
                ACTIONAR: "@Model.ACTIONAR",
                //IE_CD: $("#ClusterID option:selected").text(),
                PO_NO: $("#lblPONO").html(),
                PO_DT: $("#lblPODT").html(),
                Call_SNO: $("#lblCall_SNO").html(),
                Call_Recv_dt: $("#lblCall_Recv_dt").html(),
                Call_Install_No: $("#OFF_INST_NO").val(),
                MFG_Name: $("#MANUFAC_DESC").val(),
                ITEM_SRNO_PO: $("#ITEM_SRNO_PO").val(),
                ITEM_DESC_PO: $("#ITEM_DESC_PO").val(),
                ITEM_REMARK: $("#ITEM_REMARK").val(),
                QTY_ORDERED: $("#QTY_ORDERED").val(),
                CUM_QTY_PREV_OFFERED: $("#CUM_QTY_PREV_OFFERED").val(),
                CUM_QTY_PREV_PASSED: $("#CUM_QTY_PREV_PASSED").val(),
                QTY_TO_INSP: $("#QTY_TO_INSP").val(), //$("#lblQtyINSP").html(),
                QTY_PASSED: $("#QTY_PASSED").val(),
                QTY_REJECTED: $("#QTY_REJECTED").val(),
                QTY_DUE: $("#QTY_DUE").val(),
                UNIT_DTL: $("#ITEM_UNIT").val(),
                BK_NO: $("#BK_NO").val(),
                SET_NO: $("#SET_NO").val(),
                IE_STAMPS_DETAIL: $("#IE_STAMPS_DETAIL").val(),
                IE_STAMPS_DETAIL2: $("#IE_STAMPS_DETAIL2").val(),
                REMARK: $("#REMARK").val(),
                PASSED_INST_NO: $("#PASSED_INST_NO").val(),
                LAB_TST_RECT_DT: $("#LAB_TST_RECT_DT").val(),
                HOLOGRAM: $("#HOLOGRAM").val(),
                MAN_TYPE: $("#MAN_TYPE").val(),
                DISPATCH_PACKING_NO: $("#DISPATCH_PACKING_NO").val(),
                INVOICE_NO: $("#INVOICE_NO").val(),
                NAME_OF_IE: $("#NAME_OF_IE").val(),
                CONSIGNEE_DESG: $("#CONSIGNEE_DESG").val(),
                CONSIGNEE_DTL: $("#CONSIGNEE_DESC").val(),
                CONSIGNEE_DESC: $("#CONSIGNEE_DESC").val(),
                BPO_DTL: $("#BPO_DESC").val(),
                GOV_BILL_AUTH: $("#GBPO_AUTH").val(),
                PUR_DTL: $("#MANUFAC_DESC").val(),
                MANUFAC_DESC: $("#MANUFAC_DESC").val(),
                PUR_AUT_DTL: $("#PUR_AUTH_DESC").val(),
                PUR_AUTH_DESC: $("#PUR_AUTH_DESC").val(),
                OFF_INST_NO_DTL: $("#OFF_INST_NO").val(),
                VISIT_DATES: $("#VISIT_DATES").val(),
                VISITS_DATES: $("#VISIT_DATES").val(),
                BPO_DESC: $("#BPO_DESC").val(),
                GBPO_AUTH: $("#GBPO_AUTH").val(),
                OFF_INST_NO: $("#OFF_INST_NO").val(),
                ITEM_UNIT: $("#ITEM_UNIT").val(),
            }
            $.post("@Url.Action("RefreshDetail", "IC_RPT_Intermediate")", { model: formData }, function (response) {
                ShowHideMsgNew(response.status, response.responseText);
                FillItems();
                SetAccepted();
            });
        });

        $("#btnCancel").click(function () {
            var CASE_NO = Case_No;
            var CALL_RECV_DT = Call_Recv_Dt;
            var CALL_SNO = Call_SNo;
            var CONSIGNEE_CD = Consignee_Cd;
            var ACTIONAR = ActionAR;

            let myObject = { CASE_NO, CALL_RECV_DT, CALL_SNO, CONSIGNEE_CD, ACTIONAR };
            var url = '@Url.Action("Index", "IC_RPT_Intermediate")?' + $.param(myObject);
            window.location.href = url;
        });

        function IsValidQty(pinspqty, prejectedqty, ppassedqty) {
            var inspqty = 0;
            var rejectedqty = 0;
            var passedqty = 0;

            inspqty = parseFloat(pinspqty);
            rejectedqty = parseFloat(prejectedqty);
            passedqty = parseFloat(ppassedqty);

            if ((rejectedqty + passedqty) > inspqty) {
                return false;

            }
            return true;
        }

        function InitializationPOAmendment() {

            var Case_No = "@Model.CASE_NO";
            $("#dtPoAmendment").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: false,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadPOAmendmentTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            Case_No
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    //{
                    //    data: '', orderable: false, width: '5%',
                    //    render: function (data, type, row, meta) {
                    //        return meta.row + meta.settings._iDisplayStart + 1;
                    //    }
                    //},
                    { data: "Sno" },
                    { data: "Amendments" },
                    { data: "Date" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.Sno;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a onclick= EditPOAmendment(\'' + id + '\') class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="DeletePOAmendment(\'' + id + '\')" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[1, "asc"]]
            });
        }

        function SavePOAmendment() {
            var Amendment = $("#TxtAmnds").val();
            var date = $("#TxtAmndsDate").val();
            if (Amendment.trim() == "" || date.trim() == "") {
                ShowHideMsgNew(false, "Amendments and Date is required.");
                return;
            }

            var CaseNo = $("#lblCASE_NO").html();
            var PO_NO = $("#lblPONO").html();
            var Sno = $("#hdnSNo").val() == "" ? "-1" : $("#hdnSNo").val();
            var Amendments = $("#TxtAmnds").val();
            var Date = $("#TxtAmndsDate").val();

            let myObject = { CaseNo, PO_NO, Sno, Amendments, Date };
            $.ajax({
                url: '@Url.Action("SaveAmendment", "IC_RPT_Intermediate")?' + $.param(myObject),
                type: "GET",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {
                    ShowHideMsgNew(response.status, response.responseText);
                    FillItems();
                    SetAccepted();
                    InitializationPOAmendment();
                    $("#hdnSNo").val("-1");
                    $("#TxtAmnds").val("");
                    $("#TxtAmndsDate").val("");
                }
            });
        }

        function EditPOAmendment(id) {
            $.ajax({
                url: '@Url.Action("GetPOAmendment", "IC_RPT_Intermediate")/' + id,
                type: "GET",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {
                    if (response != null) {
                        $("#hdnSNo").val(response.Sno);
                        $("#TxtAmnds").val(response.Amendments.trim());
                        $("#TxtAmndsDate").val(response.Date.trim());
                    }
                }
            });
        }

        function DeletePOAmendment(id) {
            var CaseNo = $("#lblCASE_NO").html();
            var PO_NO = $("#lblPONO").html();
            var Sno = id;
            let myObject = { CaseNo, PO_NO, Sno };
            $.ajax({
                url: '@Url.Action("DeletePOAmendment", "IC_RPT_Intermediate")?' + $.param(myObject),
                type: "GET",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {
                    ShowHideMsgNew(response.status, response.responseText);
                    InitializationPOAmendment();
                    $("#hdnSNo").val("-1");
                    $("#TxtAmnds").val("");
                    $("#TxtAmndsDate").val("");
                }
            });
        }

        function AcceptedFun() {
            let myObject = { Case_No, Call_Recv_Dt, Call_SNo, Consignee_Cd };
            $.ajax({
                url: '@Url.Action("AcceptedFun", "IC_RPT_Intermediate")?' + $.param(myObject),
                type: "GET",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {
                    if (response != null || response != undefined) {

                    } else {

                    }
                    $("#CALL_STATUS_DT").val($.datepicker.formatDate("dd/mm/yy", new Date()));
                }
            });
        }

        function GetVisitsChanges() {
            var VisitDate = $("#VISIT_DATES").val();
            let myObject = { Case_No, Call_Recv_Dt, Call_SNo, VisitDate };
            $.ajax({
                url: '@Url.Action("GetVisitsChanges", "IC_RPT_Intermediate")?' + $.param(myObject),
                type: "GET",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {
                    $("#VISIT_DATES").val(response);
                }
            });
        }

        function FillItems() {
            let myObject = { Case_No, Call_Recv_Dt, Call_SNo, Consignee_Cd };
            $.ajax({
                url: '@Url.Action("FillItems", "IC_RPT_Intermediate")?' + $.param(myObject),
                type: "GET",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {
                    if (response != null) {
                        Flag_Consignee = response.DP_CONSIGNEE_CD;
                        FillItemDropDown();
                        $("#BK_NO").val(response.BK_NO);
                        $("#SET_NO").val(response.SET_NO);
                        $("#IE_STAMPS_DETAIL").val((response.IE_STAMPS_DETAIL == "SELECT STAMP" || response.IE_STAMPS_DETAIL == null) ? 0 : response.IE_STAMPS_DETAIL);
                        $("#IE_STAMPS_DETAIL2").val((response.IE_STAMPS_DETAIL2 == "SELECT STAMP" || response.IE_STAMPS_DETAIL2 == null) ? 0 : response.IE_STAMPS_DETAIL2);
                        $("#LAB_TST_RECT_DT").val(response.LAB_TST_RECT_DT);
                        $("#PASSED_INST_NO").val(response.PASSED_INST_NO);
                        $("#REMARK").val(response.REMARK);
                        $("#HOLOGRAM").val(response.HOLOGRAM);

                        //setItemVal();
                    }
                    else {
                        Reset();
                    }
                }
            });
        }

        function setItemVal() {
            var ITEM_SRNO_PO = $("#ITEM_SRNO_PO").val();
            let myObject = { Case_No, Call_Recv_Dt, Call_SNo, ITEM_SRNO_PO, Consignee_Cd };
            $.ajax({
                url: '@Url.Action("SetItemVal", "IC_RPT_Intermediate")?' + $.param(myObject),
                type: "GET",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {

                    if (response != null) {
                        $("#ITEM_DESC_PO").val(response.ITEM_DESC_PO);
                        $("#ITEM_REMARK").val(response.ITEM_REMARK);
                        $("#QTY_ORDERED").val(response.QTY_ORDERED);
                        $("#QTY_ORDERED").val(response.QTY_ORDERED);
                        $("#CUM_QTY_PREV_OFFERED").val(response.CUM_QTY_PREV_OFFERED);
                        $("#CUM_QTY_PREV_PASSED").val(response.CUM_QTY_PREV_PASSED);
                        $("#QTY_TO_INSP").val(response.QTY_TO_INSP);
                        //$("#lblQtyINSP").html(response.QTY_TO_INSP);
                        $("#QTY_PASSED").val(response.QTY_PASSED);
                        $("#QTY_REJECTED").val(response.QTY_REJECTED);
                        $("#QTY_DUE").val(response.QTY_DUE);
                        $("#DISPATCH_PACKING_NO").val(response.DISPATCH_PACKING_NO);
                        $("#INVOICE_NO").val(response.INVOICE_NO);
                        $("#NAME_OF_IE").val(response.NAME_OF_IE);
                        $("#CONSIGNEE_DESG").val(response.CONSIGNEE_DESG);
                        if ("@Model.Region" == "C") {
                            $("#MAN_TYPE").val(response.MAN_TYPE);
                            lstman();
                            $("#MAN_TYPE").css("display", ""); //true
                        }
                        else {
                            $("#MAN_TYPE").css("display", "none"); //false
                        }
                        $("#CONSIGNEE_DESC").val(response.CONSIGNEE_DESC);
                        $("#BPO_DESC").val(response.BPO_DESC);
                        $("#GBPO_AUTH").val(response.GBPO_AUTH);
                        $("#MANUFAC_DESC").val(response.MANUFAC_DESC);
                        $("#PUR_AUTH_DESC").val(response.PUR_AUTH_DESC);
                        $("#OFF_INST_NO").val(response.OFF_INST_NO);
                        $("#ITEM_UNIT").val(response.ITEM_UNIT);
                        if (response.CONSGN_CALL_STATUS == "A" || response.CONSGN_CALL_STATUS == "R") {
                            $(".edit").css("display", "none");
                            $(".delete").css("display", "none");
                        }
                    }
                }
            });
        }

        function FillItemDropDown() {
            var Consignee_Cd = $('select#CONSIGNEE_CD option:selected').val();;
            $.get("@Url.Action("FillItemDropDown", "IC_RPT_Intermediate")", { Case_No: Case_No, Call_Recv_Dt: Call_Recv_Dt, Call_SNo: Call_SNo, Consignee_Cd: Consignee_Cd }, function (response) {
                if (response.length != null) {
                    $("#ITEM_SRNO_PO").empty();
                    //$("#ITEM_SRNO_PO").append($('<option value="">--Select--</option>'));
                    $.each(response, function (ind, val) {
                        $("#ITEM_SRNO_PO").append($('<option></option>').val(val.Value).html(val.Text));
                    });
                    if (response.length > 0) {
                        $("#ITEM_SRNO_PO").val(response[0].Value);
                    }
                    if (Consignee_Cd == Flag_Consignee) {
                        setItemVal();
                    }
                    else {
                        $("#BK_NO").val("");
                        $("#SET_NO").val("");
                    }
                }
                else {
                    $("#BK_NO").val("");
                    $("#SET_NO").val("");
                }
            });
        }

        function SetAccepted() {
            let myObject = { Case_No, Call_Recv_Dt, Call_SNo, Consignee_Cd };

            $("#btnSave").css("display", "");
            $("#btnRefresh").css("display", "");
            $("#btnSavePOAmendment").css("display", "");

            $.ajax({
                url: '@Url.Action("SetAccepted", "IC_RPT_Intermediate")?' + $.param(myObject),
                type: "GET",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {

                    if (parseInt(response) > 0) {
                        $("#btnSave").prop('disabled', true);
                        $("#btnRefresh").prop('disabled', true);
                        $("#btnSavePOAmendment").prop('disabled', true);

                        $('#btnSave').addClass('disabled-button'); //$("#btnSave").css("cursor", "auto");
                        $('#btnRefresh').addClass('disabled-button'); //$("#btnRefresh").css("cursor", "auto");
                        $('#btnSavePOAmendment').addClass('disabled-button'); //$("#btnSavePOAmendment").css("cursor", "auto");

                        $(".edit").css("display", "none");
                        $(".delete").css("display", "none");
                    } else {
                        $("#btnSave").prop('disabled', false);
                        $("#btnRefresh").prop('disabled', false);
                        $("#btnSavePOAmendment").prop('disabled', false);

                        $('#btnSave').removeClass('disabled-button'); //$("#btnSave").css("cursor", "pointer");
                        $('#btnRefresh').removeClass('disabled-button'); //$("#btnRefresh").css("cursor", "pointer");
                        $('#btnSavePOAmendment').removeClass('disabled-button'); //$("#btnSavePOAmendment").css("cursor", "pointer");

                        $(".edit").css("display", "");
                        $(".delete").css("display", "");
                    }
                }
            });
        }

        function abc(xmldata, xmlfilename) {
            var xml = xmldata;

            $.post("http://127.0.0.1:1620", { "response": xml }, function (exeResponse) {
                var status = $(exeResponse).find("status").text();
                if (status == "failed") {
                    alert($(exeResponse).find("error").text());
                }
                else {
                    var pdf = $(exeResponse).find("data").text();
                    downloadPDF(pdf);
                }
            }).fail(function (xhr, textStatus, errorThrown) {
                window.location.href = "@Url.Action("Index", "IC_RPT_Intermediate")?filename=" + xmlfilename;
            });
        }

        function Reset() {
            //txtBKNO1.Enabled = false;
            //txtSetNo1.Enabled = false;
            $('#BK_NO').prop('disabled', true);
            $('#SET_NO').prop('disabled', true);
            $("#ITEM_DESC_PO").val("");
            $("#ITEM_REMARK").val("");
            //$("#QTY_ORDERED").val("");
            $("#QTY_ORDERED").val("");
            $("#CUM_QTY_PREV_OFFERED").val("");
            $("#CUM_QTY_PREV_PASSED").val("");
            $("#QTY_TO_INSP").val("");
            //$("#lblQtyINSP").html("");
            $("#QTY_PASSED").val("");
            $("#QTY_REJECTED").val("");
            $("#QTY_DUE").val("");
            $("#DISPATCH_PACKING_NO").val("");
            $("#INVOICE_NO").val("");
            $("#NAME_OF_IE").val("");
            $("#CONSIGNEE_DESG").val("");
        }

        function RemoveSpecialChar(id) {

            var Name = "#" + id;
            var value = $(Name).val();
            var desired = value.replace(/[ ](?=[ ])|[^-~`!#$%^&*()=+:/\\;<,>.?_A-Za-z0-9 ]+/g, ' ');
            //var desired = value.replace(/[^-~`!#$%^&*()=+:/\\;<,>.?_A-Za-z0-9 ]+/g, ' ');

            $(Name).val(desired);
        }

        function checkTextAreaMaxLength(textBox, e, length) {

            var mLen = textBox["MaxLength"];
            if (null == mLen)
                mLen = length;

            var maxLength = parseInt(mLen);
            if (!checkSpecialKeys(e)) {
                if (textBox.value.length > maxLength - 1) {
                    if (window.event)//IE
                        e.returnValue = false;
                    else//Firefox
                        e.preventDefault();
                }
            }
        }

        function checkSpecialKeys(e) {
            if (e.keyCode != 8 && e.keyCode != 46 && e.keyCode != 37 && e.keyCode != 38 && e.keyCode != 39 && e.keyCode != 40)
                return false;
            else
                return true;
        }

        function Change(id) {
            var Name = "#" + id;
            var value = $(Name).val();
            var dlength = value.length;
            if (dlength == 1) {
                value = "00" + value;
                $(Name).val(value);
                event.returnValue = false;
            }
            else if (dlength == 2) {
                value = "0" + value;
                $(Name).val(value);
                event.returnValue = false;
            }
            return false;
        }

        function DigitalSignatureStatus(EmailId) {

            return 0;
        }

        function getDigitalSignedDoc(EmailId, base64String) {
            var model = {
                EmailId: EmailId,
                PDFDocument: base64String,
                PageNo: 1,
                IsMultipleSign: false,
                IsLeft: false,
                X1: 450,
                Y1: 50,
                X2: 580,
                Y2: 110
            };

            $.post('http://localhost:9090/api/Home', model, function (response) {
                downloadPDF(response.PDFDocument);
            });
        }

        function downloadPDF(pdf) {
            const linkSource = `data:application/pdf;base64,${pdf}`;
            const downloadLink = document.createElement("a");
            const fileName = "IC_Report.pdf";
            downloadLink.href = linkSource;
            downloadLink.download = fileName;
            downloadLink.click();
        }

    </script>
}