@{
    ViewData["Title"] = "ConsigneeComplaints";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>Consignee Complaints</h2>
        </div>

    </div>

    <div class="task-listinput">
            <div class="accordion-body">
                <div class="row my-0 d-flex align-items-end">
                    <div class="col-md-4 mb-3">
                        <label for="reference">Po/offer letter no.</label>
                        <input type="text" class="input"  maxlength="50" id="PoNo">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="reference">Po Date</label>
                        <input type="text" class="input datepicker" id="PoDt">
                        </div>
                <div class="col-md-4 mb-3">
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active" id="btnSearch">search</button>
                    </div>
                 </div>
                </div>
             </div>
     </div>
    <div class="alert alert-secondary center mb-3">
        <span id="Label8">IC Details against Given PO No. & Po Date ( Click on Select to register new Complaint against the given IC )</span>
    </div>
        <section class="table-section">
            <div class="task-listinput">
                <div class="dash-table">
                    <table id="dtConsignee" class="table-responsive">
                        <thead>
                            <tr>
                                <th>Case Number</th>
                                 <th>Bk No.</th>
                                <th>Set No.</th>
                                <th>Purchase Order Number</th>
                                <th>Purchase Order Date</th>
                                <th>Agency</th>
                                <th>Vendor</th>
                                <th>Consignee</th>
                                <th>IC No.</th>
                                <th>IC Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    <div class="alert alert-secondary center mb-3">
        <span id="Label8">Complaint Details against Given PO No. & Po Date( Click on Complaint ID to modify the existing complaint against the given IC )</span>
    </div>
        <section class="table-section" id="complaint">
            <div class="task-listinput">
                <div class="dash-table">
                    <table id="dtComplaints" class="table-responsive">
                        <thead>
                            <tr>
                                <th>Complaint ID</th>
                                <th>JI Unique Sno</th>
                                <th>Case Number</th>
                                <th>Bk No.</th>
                                <th>Set No.</th>
                                <th>Po No.</th>
                                <th>Po Date</th>
                                <th>IC No.</th>
                                <th>IC Date</th>
                                <th>Rejection Memo No.</th>
                                <th>Rejection Memo Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
</div>


@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            setDefaultDate();
        });

        $("#btnSearch").click(function () {
            var PoNo = $("#PoNo").val();
            var PoDt = $("#PoDt").val();
            if (PoNo == "" && PoDt == "") {
                ShowHideMsgNew(false, "Please select Date Either Enter PONO.");
                return;
            }
            InitializeDatatable();
        });

        function setDefaultDate() {
            $('#PoDt').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
            });
        }

        function InitializeDatatable() {
            var PoNo = $("#PoNo").val();
            var PoDt = $("#PoDt").val();
            $("#dtConsignee").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("GetConsData", "ConsigneeComplaints")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "PoNo": PoNo,
                            "PoDt": PoDt
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [

                    { data: "CASE_NO" },
                    
                    { data: "BK_NO" },
                    { data: "SET_NO" },
                    { data: "PO_NO" },
                    {
                        data: "PO_DT",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "Railway" },
                    { data: "VEND_NAME" },
                    { data: "Consignee" },
                    { data: "IC_NO" },
                    {
                        data: "IC_DATE",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var CaseNo = data.CASE_NO;
                            var bkNo = data.BK_NO;
                            var setNo = data.SET_NO;
                            var editUrl = '@Url.Action("Manage", "ConsigneeComplaints")?CASE_NO=' + CaseNo + '&BK_NO=' + bkNo + '&SET_NO=' + setNo;;

                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });

            $("#dtComplaints").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("GetCompdata", "ConsigneeComplaints")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "PoNo": PoNo,
                            "PoDt": PoDt
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [
                          {
                              data: "ComplaintId",
                              className: "complaint-id-link",
                              render: function (data, type, row, meta) {
                                  debugger
                                  var complaintId = data;
                                  var rowIndex = meta.row;
                                  var editUrl = '@Url.Action("Manage", "ConsigneeComplaints")?ComplaintId=' + complaintId + '&index=' + rowIndex;
                                  return '<a href=\"' + editUrl + '\" class="edit-link Permission_EditView">' + data + '</a>';
                                //return '<a href="/ConsigneeComplaints/Manage?ComplaintId=' + complaintId + '&index=' + rowIndex + '" class="edit-link Permission_EditView">' + data + '</a>';
                              }
                          },
                          { data: "JiSno" },

                          { data: "CASE_NO" },
                          { data: "BK_NO" },
                          { data: "SET_NO" },
                          { data: "PO_NO" },
                          {
                              data: "PO_DT",
                              render: function (data, type, row) {
                                  if (type === "display" || type === "filter") {
                                      return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                                  }
                                  return data;
                              }
                          },

                          { data: "IC_NO" },
                          {
                              data: "IC_DATE",
                              render: function (data, type, row) {
                                  if (type === "display" || type === "filter") {
                                      return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                                  }
                                  return data;
                              }
                          },
                          { data: "RejMemoNo" },

                          {
                              data: "RejMemoDt",
                              render: function (data, type, row) {
                                  if (type === "display" || type === "filter") {
                                      return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                                  }
                                  return data;
                              }
                          },

                      ],
                "order": [[0, "asc"]]
            });
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            window.location.href = '@Url.Action("Index", "ConsigneeComplaints")';
        };

    </script>
}
