@model IBS.Models.ConsigneeComplaints
@{
    string clsView = "";
    if (Model.ComplaintId != null)
    {
        clsView = "Permission_View";
    }
}
<div class="list-inner">
    <div class="tast-list">
        <h2>CONSIGNEE COMPLAINT</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="ConsigneeComplaints" class="formBtn viewall-btn">View List</a>
    </div>
</div>
<section id="tab-1" class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="ConsigneeComplaints" asp-action="ComplaintsDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmConsigneeDetails">
            <input type="hidden" asp-for="ComplaintId" />
            <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />
            <div class="accordion-body">
                <div class="row my-0">
                    <input asp-for="ITEM_SRNO_PO" hidden />
                    <input asp-for="ie_cd" hidden />
                    <input asp-for="ie_co_cd" hidden />
                    <input asp-for="UserId" hidden />
                    <input asp-for="VendCd" hidden />
                    <input asp-for="Remarks" hidden />
                    <input asp-for="ConsigneeCd" hidden />
                    <input asp-for="JiStatusCd" hidden />
                    <input asp-for="COMP_RECV_REGION" hidden />
                    <input asp-for="uom_cd" hidden />
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Region Where Complaint is Received</label>
                        <input type="text" class="input" ASP-FOR="InspRegion" readonly="true" maxlength="300" />
                        <span asp-validation-for="InspRegion" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-4">
                        <label for="Reference">Date of First reference/ Complaint Date</label>
                        <input type="text" class="input datepicker" readonly="true" asp-for="ComplaintDate" maxlength="300" />
                        <span asp-validation-for="ComplaintDate" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-4">
                        <label for="Reference">Case No.</label>
                        <input type="text" class="input" asp-for="CASE_NO" readonly="true">
                        <span asp-validation-for="CASE_NO" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-4">
                        <label for="Reference">	Book No.<span class="text-danger" style="font-size:smaller"></span></label>
                        <input type="text" class="input" asp-for="BK_NO" readonly="true" mode maxlength="300" />
                        <span asp-validation-for="BK_NO" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-4">
                        <label for="Reference">Set No.</label>
                        <input type="text" class="input" asp-for="SET_NO" readonly="true" maxlength="300" />
                        <span asp-validation-for="SET_NO" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-4">
                        <label for="Reference">Inspection By</label>
                        <input type="text" class="input" asp-for="ie_name" readonly="true"  maxlength="300" />
                        <span asp-validation-for="ie_name" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Reference">	PO No. & PO Date</label>
                        <input type="text" class="input" asp-for="PO_NO" readonly="true">
                        <span asp-validation-for="PO_NO" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Reference">Railway</label>
                        <input type="text" class="input" asp-for="Railway" readonly="true" maxlength="300" />
                        <span asp-validation-for="Railway" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Reference">Consignee</label>
                        <input type="text" class="input" asp-for="ConsigneeCd" readonly="true">
                        <span asp-validation-for="ConsigneeCd" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Reference">Vendor</label>
                        <input type="text" class="input" asp-for="VEND_NAME" readonly="true">
                        <span asp-validation-for="VEND_NAME" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Reference">IC Date</label>
                        <input type="text" class="input datepicker" readonly="true" asp-for="FormattedIC_DATE" maxlength="300" />
                        <span asp-validation-for="FormattedIC_DATE" class="text-danger"></span>
                    </div>

                     <div class="col-md-4 mb-3">
                        <label for="Reference">Controlling Manager</label>
                            @Html.DropDownListFor(model => model.CoName, new SelectList(IBS.Models.Common.GetComplaint() , "Text", "Text"),"--Select--", new { @class = ""})
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Reference">Rejection Memo No.(25 Chars Maxm)</label>
                        <input type="text" class="input" asp-for="RejMemoNo" maxlength="300" />
                        <span asp-validation-for="RejMemoNo" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Reference">Rejection Memo Date</label>
                        <input type="text" class="input datepicker"asp-for="RejMemoDt" maxlength="300" />
                        <span asp-validation-for="RejMemoDt" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Reference">Item Description	</label>
                        <input type="text" class="input" asp-for="ItemDesc" maxlength="300" />
                        <span asp-validation-for="ItemDesc" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Qty. Offered</label>
                        <input type="text" class="input" asp-for="QtyOffered" maxlength="300" />
                        <span asp-validation-for="QtyOffered" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Qty. Rejected</label>
                        <input type="text" class="input" asp-for="QtyRejected" maxlength="300" />
                        <span asp-validation-for="QtyRejected" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Unit of Measurement</label>
                        <input type="text" class="input" asp-for="unitofM" maxlength="300" />
                        <span asp-validation-for="unitofM" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Rate</label>
                        <input type="text" class="input" asp-for="Rate" maxlength="300" />
                        <span asp-validation-for="Rate" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">	Value of Qty. Rejected</label>
                        <input type="text" class="input" ASP-FOR="rejectionValue" maxlength="300" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Reasons of Rejection  (250 Chars Maxm)</label>
                        <input type="text" class="input" asp-for="RejectionReason" maxlength="300" />
                        <span asp-validation-for="RejectionReason" class="text-danger"></span>
                    </div>
                   
                </div>

                <div class="savenext-btn">
                    <button type="button" class="save-btn active Permission_Save" id="btnsave">Save</button>
                </div>
            </div>

            
            <div class="accordion-body">
                <div class="row my-0">
                    @if (ViewBag.Showcomplaint)
                    {
                        <div class="col-md-2 mb-2">
                            @*<input type="file" id="file" name="file" accept=".pdf" />*@
                            <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_JI_Case" />
                        </div>
                        <div class="col-md-2 mb-2">
                            @*<input type="file" class="form-control-file" id="ComplaintFile" name="ComplaintFile" accept=".pdf">*@
                            <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_Rejection_Memo" />
                        </div>
                        <div class="col-md-2 mb-2" id="jointinsp">
                            <label for="Inspectionrequired">Joint Inspection Required</label>
                            @Html.DropDownListFor(model => model.AcceptRejornot, new SelectList(IBS.Models.Common.Inspectionrequired() , "Value", "Text"),"--Select--", new { id = "JointInspectionrequired" })
                        </div>

                        <div class="col-md-2 mb-3" id="inspnewregion">
                            <label for="InspRegion">Inspection Region</label>
                            @Html.DropDownListFor(model => model.JIInspRegion, new SelectList(IBS.Models.Common.InspRegion() , "Value", "Text"),"--Select--", new { id = "InspRegionDropdown" })
                        </div>
                        <div class="col-md-2 mb-2" id="JointInspection">
                            <label for="Jointisp">Joint Inspection Engineer</label>
                            <select id="Jointisp" asp-for="InspER" class="form-control" required></select>
                        </div>
                        <div class="col-md-2 mb-2" id="JIDate">
                            <label for="Reference">JI Date</label>
                            <input type="text" class="input datepicker" asp-for="JIDate" readonly="true" id="PoDt">
                        </div>
                    }

                    <div class="col-md-2 mb-2" id="Remarkshide">
                        <label for="remarks">Remarks</label>
                        <input type="text" id="remarks" asp-for="Remarks" class="form-control"></input>
                    </div>

                    <div class="col-md-2 mb-2" id="NOJIReason">
                        <label>Reason for NO JI</label>
                        @Html.DropDownListFor(model => model.NoJIReason, new SelectList(IBS.Models.Common.NOJIReasons() , "Value", "Text"), new { id = "NOJIReasons" })
                    </div>
                </div>
                <div class="savenext-btn">
                    @if (ViewBag.Showcomplaint)
                    {
                        <button type="button" class="save-btn active Permission_Save" id="btnsavechoice" onclick="btnsaveyourchoice()">Save Your Choice</button>
                        <button type="button" class="save-btn active Permission_Save" id="btnCancelJI" onclick="btncancelJI()">Cancel Joint Inspection</button>
                        <button type="button" class="save-btn active" id="btnupload">Upload</button>
                    }
                </div>
            </div>

            <div class="tast-list" id="outcomehd">
                <h2>OUTCOME OF JI</h2>
            </div>
            <div class="accordion-body" id="outcomeji">
                <div class="row my-0">
                    <div class="col-md-1 mb-1">
                        <label for="Reference">JI Decided on</label>
                        <input type="text" class="input datepicker" ASP-FOR="JIDecided" maxlength="300" />
                        <span asp-validation-for="JIDecided" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Status (Decision Taken by JI Committe)</label>
                        <input type="text" class="input" ASP-FOR="Status" maxlength="300" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label>Defect Coded</label>
                        @Html.DropDownListFor(model => model.DefectDesc, new SelectList(IBS.Models.Common.GetDefectDesc() , "Text", "Value"),"--Select--", new { id = "Inspectionrequired" })
                    </div>
                    <div class="col-md-2 mb-2">
                        <label>Classification</label>
                        @if (Model != null && Model.JiStatusDesc != null)
                        {
                            @Html.DropDownListFor(
                            model => model.JiStatusCd,
                            new SelectList(Model.JiStatusCd, "JiStatusCd", "JiStatusDesc"),
                            "--Select--",
                            new { id = "Inspectionrequired" }
                        )
                        }else{
                            @Html.DropDownListFor(model => model.JiStatusDesc, new SelectList(IBS.Models.Common.GetClassification() , "Value", "Value"),"--Select--", new { id = "Inspectionrequired" })
                        }
                        @*@Html.DropDownListFor(model => model.JiStatusDesc, new SelectList(IBS.Models.Common.GetClassification() , "Value", "Value"),"--Select--", new { id = "Inspectionrequired" })*@
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="reference">Date of JI Conclusion</label>
                        <input type="text" class="input datepicker" asp-for="JIDateConclusion">
                    </div>
                    <div class="col-md-2 mb-2">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_JI_Report" />
                        @*<input type="file" class="form-control-file" id="ComplaintFile" name="ComplaintFile" accept=".pdf">*@
                    </div>
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active Permission_Save" id="JIoutcome" onclick="btnJIOutcome()">Save Outcome of JI</button>
                    </div>
                </div>
            </div>
            <div class="tast-list" id="finaldishd">
                <h2>FINAL DISPOSAL</h2>
            </div>
            <div class="accordion-body" id="finaldisposal">
                <div class="row my-0">
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Root Cause Analysis</label>
                        <input type="text" class="input" ASP-FOR="RootCause" maxlength="300" />
                        <span asp-validation-for="RootCause" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Technical Reference</label>
                        <input type="text" class="input" ASP-FOR="TechnicalReference" maxlength="300" />
                        <span asp-validation-for="TechnicalReference" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2" id="inspreq">
                        <label>	Checksheet</label>
                        @Html.DropDownListFor(model => model.Checksheet, new SelectList(IBS.Models.Common.Checksheet() , "Value", "Text"),"--Select--", new { id = "Checksheet" })
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Any Other</label>
                        <input type="text" class="input" ASP-FOR="AnyOther" maxlength="300" />
                        <span asp-validation-for="AnyOther" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Status of CAPA</label>
                        <input type="text" class="input" ASP-FOR="StatusCAPA" maxlength="300" />
                        <span asp-validation-for="StatusCAPA" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">D&AR Status (If Any)</label>
                        <input type="text" class="input" ASP-FOR="DARStatus" maxlength="300" />
                        <span asp-validation-for="DARStatus" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2" id="inspreq">
                        <label>D&AR Proposed</label>
                        @Html.DropDownListFor(model => model.DARPurpose, new SelectList(IBS.Models.Common.DARPurpose() , "Value", "Text"),"--Select--", new { id = "DARProposed" })
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Date of D&AR Issue</label>
                        <input type="text" class="input datepicker" ASP-FOR="DARDate" maxlength="300" />
                        <span asp-validation-for="DARDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2" id="typenalty">
                        <label for="Reference">Type of Penalty</label>
                        <select id="lstPenaltyType" asp-for="Penaltytype" class="form-control"></select>
                    </div>
                    <div class="col-md-2 mb-2" id="dtpenalty">
                        <label for="Reference">Date of Imposing Penalty</label>
                        <input type="text" class="input datepicker" ASP-FOR="PenaltyDate" maxlength="300" />
                        <span asp-validation-for="PenaltyDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Final Remarks/Action</label>
                        <input type="text" class="input" ASP-FOR="FinalRemarks" maxlength="300" />
                        <span asp-validation-for="FinalRemarks" class="text-danger"></span>
                    </div>

                    <div class="col-md-2 mb-2">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_Tech_Ref" />
                        @*<input type="file" class="form-control-file" id="ComplaintFile" name="ComplaintFile" accept=".pdf">*@
                    </div>
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active Permission_Save" id="btnfinaldisposal">Save Final Disposal</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#outcomeji").hide();
            $("#finaldisposal").hide();
            $("#outcomehd").hide();
            $("#finaldishd").hide();
            $("#NOJIReason").hide();
            $("#Remarkshide").hide();
            $("#btnCancelJI").hide();
            $("#typenalty").hide();
            $("#dtpenalty").hide();
        });

        $("#InspRegionDropdown").change(function () {
            var InspRegionDropdown = $(this).val();

            $.ajax({
                url: '/ComplaintApproval/GetItems',
                type: 'GET',
                data: { InspRegionDropdown: InspRegionDropdown },
                success: function (data) {
                    var Item = $("#Jointisp");
                    Item.empty();
                    var items = JSON.parse(data);

                    for (var i = 0; i < items.length; i++) {
                        var option = $("<option>")
                            .text(items[i].IeName)
                            .val(items[i].IeCd);

                        Item.append(option);
                    }
                }
            });
        });

        $("#DARProposed").change(function () {
            var selectedValue = $(this).val();
            var Item = $("#lstPenaltyType");
            Item.empty();
            if (selectedValue == "I") {
                var options = [
                    { text: "Censure", value: "IC" },
                    { text: "Withholding of Increment of pay", value: "II" },
                    { text: "Withholding of promotion", value: "IP" },
                    { text: "Recovery from pay", value: "IR" }
                ];

                $.each(options, function (index, option) {
                    Item.append($("<option>", {
                        value: option.value,
                        text: option.text
                    }));
                });
                $("#typenalty").show();
                $("#dtpenalty").show();
            } else if (selectedValue == "J") {
                var options = [
                    { text: "Reduction to a lower grade or post", value: "JL" },
                    { text: "Removal from service", value: "JR" },
                    { text: "Dismissal", value: "JD" }
                ];

                $.each(options, function (index, option) {
                    Item.append($("<option>", {
                        value: option.value,
                        text: option.text
                    }));
                });
                $("#typenalty").show();
                $("#dtpenalty").show();
            }else{
                $("#typenalty").hide();
                $("#dtpenalty").hide();
            }
        });

        $("#JointInspectionrequired").change(function () {
            var selectedValue = $(this).val();
            if (selectedValue == "Y") {
                $("#outcomeji").show();
                $("#finaldisposal").show();
                $("#outcomehd").show();
                $("#finaldishd").show();
                $("#NOJIReason").hide();
                $("#Remarkshide").hide();
            } else if (selectedValue == "N") {
                $("#outcomeji").hide();
                $("#finaldisposal").hide();
                $("#outcomehd").hide();
                $("#finaldishd").hide();
                $("#NOJIReason").show();
                $("#Remarkshide").hide();
            } else if (selectedValue == "C"){
                $("#Remarkshide").show();
                $("#outcomeji").hide();
                $("#finaldisposal").hide();
                $("#outcomehd").hide();
                $("#finaldishd").hide();
                $("#NOJIReason").hide();
            }
        });

        $('#btnsave').on('click', function () {
            var formData = new FormData($("#frmConsigneeDetails")[0]);
            $.ajax({
                url: '@Url.Action("ComplaintsDetailsSave", "ConsigneeComplaints")',
                type: "POST",
                dataType: "JSON",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.redirectToIndex === true) {
                        alert(response.alertMessage);
                        $("#btnsave").hide();
                        $("#btnCancelJI").hide();
                    }
                }
            });
        });

        function btnsaveyourchoice(){
            var formData = new FormData($("#frmConsigneeDetails")[0]);
            $.ajax({
                url: '@Url.Action("ComplaintSaveChoice", "ConsigneeComplaints")',
                type: "POST",
                dataType: "JSON",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.redirectToIndex === true) {
                        alert(response.alertMessage);
                        $("#btnsave").hide();
                        $("#btnsavechoice").hide();
                        $("#btnCancelJI").show();
                        $("#JointInspectionrequired").prop("disabled", true);
                        $("#InspRegionDropdown").prop("disabled", true);
                    }else{
                        alert(response.alertMessage);
                    }
                }
            });
        }

        function btncancelJI(){
            var formData = new FormData($("#frmConsigneeDetails")[0]);
            $.ajax({
                url: '@Url.Action("ComplaintCancelJI", "ConsigneeComplaints")',
                type: "POST",
                dataType: "JSON",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.redirectToIndex === true) {
                        alert(response.alertMessage);
                        $("#btnsave").hide();
                        $("#btnsavechoice").hide();
                        $("#btnCancelJI").hide();
                    }
                }
            });
        }

        function btnJIOutcome(){
            SaveSingleDocuments("tab-1");
            var formData = new FormData($("#frmConsigneeDetails")[0]);
            $.ajax({
                url: '@Url.Action("JIOutCome", "ConsigneeComplaints")',
                type: "POST",
                dataType: "JSON",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.redirectToIndex === true) {
                        alert(response.alertMessage);
                        $("#btnsave").hide();
                        $("#btnsavechoice").hide();
                        $("#btnCancelJI").hide();
                        $("#JIoutcome").hide();
                    }else{
                        alert(response.alertMessage);
                    }
                }
            });
        }

        $("#btnfinaldisposal").on('click', function (){
            SaveSingleDocuments("tab-1");
            var formData = new FormData($("#frmConsigneeDetails")[0]);
            $.ajax({
                url: '@Url.Action("FinalDisposal", "ConsigneeComplaints")',
                type: "POST",
                dataType: "JSON",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.redirectToIndex === true) {
                        alert(response.alertMessage);
                        $("#btnsave").hide();
                        $("#btnsavechoice").hide();
                        $("#btnCancelJI").hide();
                        $("#JIoutcome").hide();
                        $("#btnfinaldisposal").hide();
                    } else {
                        alert(response.alertMessage);
                    }
                }
            });
        });

        $("#btnupload").on('click', function () {
            SaveSingleDocuments("tab-1");
            var formData = new FormData($("#frmConsigneeDetails")[0]);
            $.ajax({
                url: '@Url.Action("UploadPDF", "ConsigneeComplaints")',
                type: "POST",
                dataType: "JSON",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.redirectToIndex === true) {
                        alert(response.alertMessage);
                        $("#btnsave").hide();
                        $("#btnsavechoice").hide();
                        $("#btnCancelJI").hide();
                        $("#JIoutcome").hide();
                        $("#btnfinaldisposal").hide();
                        $("#btnupload").hide();
                    } else {
                        alert(response.alertMessage);
                    }
                }
            });
        });
             
    </script>
}