@model IBS.Models.BillingAdjustmentModel
@{
    ViewData["Title"] = "Manage Billing Adjustment";
    string clsView = "";
    if (Model.Adjusment_Yr_Mth != null)
    {
        clsView = "Permission_View";
    }
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Billing Adjustment</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="BillingAdjustment" class="formBtn viewall-btn">View List</a>
    </div>
</div> 
<section class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="BillingAdjustment" asp-action="BillingAdjustmentDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmBillingAdjustmentDetails">
            <input type="hidden" asp-for="Adjusment_Yr_Mth" />
            <div class="accordion-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row"> 
                            <div class="col-md-12 mb-4">
                                <h3 class="heading3">For the Period</h3>
                            </div>                            

                            <div class="col-md-4 mb-4">
                                <label for="Reference">Month:<i class="text-danger">*</i> </label>
                                @Html.DropDownListFor(model => model.AdjusmentPerMon, new SelectList(IBS.Models.Common.GetMonth(), "Value", "Text"),"--Select--")
                                <span asp-validation-for="AdjusmentPerMon" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 mb-4">
                                <label for="Reference">Year:<i class="text-danger">*</i> </label>
                                @Html.DropDownListFor(model => model.AdjusmentPerYear, new SelectList(IBS.Models.Common.GetYear(), "Value", "Text"),"--Select--")
                                <span asp-validation-for="AdjusmentPerYear" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <label for="Reference">Adjustment Amount Fee(In Rs.)</label>
                                <input type="number" class="input" asp-for="Adjustment_Amt" maxlength="500" />
                                <span asp-validation-for="Adjustment_Amt" class="text-danger"></span>
                            </div>
                            
                            <div class="col-md-4 mb-4">
                                <label for="Reference">Remarks</label>
                                <input type="text" class="input" asp-for="Remarks" maxlength="500" />
                                <span asp-validation-for="Remarks" class="text-danger"></span>
                            </div>  
                        </div>
                    </div> 
                    <div class="savenext-btn">
                        @*<a asp-controller="BillingAdjustment" asp-action="Index" class="reset-btn">Cancel</a>*@
                        <button type="button" class="save-btn active Permission_Save" onclick="Save();">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts 
{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            if (@Model.Adjusment_Yr_Mth > null) {
                var s = @Model.Adjusment_Yr_Mth;
                var year = s.toString().substring(0, 4);
                var month = s.toString().substring(4, 6);
                //if (month != "10" || month != "11" || month != "12") {
                //    $("#AdjusmentPerMon").val(s.toString().substring(5, 6));
                //}
                //else {
                //    $("#AdjusmentPerMon").val(month);
                //}
                $("#AdjusmentPerMon").val(month);
                $("#AdjusmentPerYear").val(year);
            }
        });
    </script>
    <script type="text/javascript"> 
        function Save() {
            if ($("#frmBillingAdjustmentDetails").valid()) {
                $("#frmBillingAdjustmentDetails").submit();
            }
        } 
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            if (res.status) {
                window.location.href = '@Url.Action("Index", "BillingAdjustment")';
            }
        }; 
    </script>
}