@model IBS.Models.ClientCallRptModel

<div>
   @*  <h3 class="center">(@ViewBag.Region)</h3> *@


    <h3 class="center">Client Wise Report For The Period: <span class="orangeText"> @ViewBag.From </span> To <span class="orangeText">@ViewBag.To </span></h3>

    <br>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>

                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">SNO</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">VENDOR NAME	</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">PURCHASER</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">ITEM</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">CALL DATE</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">DESIRE DATE/MATERIAL READINESS DATE</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">ENGINEER DEPUTED</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">ENGINEER CONTACT NO.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">PONO</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">PO DATE</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">CASE NO	</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">STATUS</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">HOLOGRAM OR OTHER</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">VIEW IC</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">CONTACT PERSON</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">CONTACT PERSON PHONE NO.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">CALL SERIAL NO.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">CONTROLLING MANAGER</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">REMARKS</font></b></th>

                </tr>
                @if (Model != null && Model.lstreport != null)
                {
                    var serialNumber = 1;
                    @foreach (var item in Model.lstreport)
                    {

                        <tr>
                            <td width="3%" valign="top" align="Left"><font size="1" face="Verdana">@serialNumber</font></td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.Vendor
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.Consignee
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.ITEM_DESC_PO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CALL_MARK_DT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.DESIRE_DT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.IE_NAME
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.IE_PHONE_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.PO_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.PO_DATE
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CASE_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CALL_STATUS
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.HOLOGRAM
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.IC_PHOTO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.MFG_PERS
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.MFG_PHONE
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CALL_SNO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CO_NAME
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.REMARK
                                </font>
                            </td>
                        </tr>
                        serialNumber++;
                    }

                }
                else
                {
                    <tr>
                        <td colspan="22" style="text-align:center; background: #f1f1f1 !important;"><font size="1" face="Verdana">No records found</font></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


