@model IBS.Models.LabPaymentListModel

@{

}



<h2>@ViewData["Title"]</h2>
<div class="list-inner">
    <div class="tast-list">
        <h2>LAB SAMPLE PAYMENT RECIEPT APPROVE FORM</h2>
    </div>
    <div>
        <a asp-action="LabPaymentList" asp-controller="LabPaymentList" class="formBtn viewall-btn">View List</a>
    </div>
</div>

<section>
    <div class="task-listinput">
        @*  <form data-ajax="true" asp-antiforgery="true" asp-controller="SearchPayments" asp-action="SearchPayment" data-ajax-method="post" data-ajax-complete="completed" id="frmSearchPayment">*@
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-4 mb-4">
                    <label for="Reference">CAse No.</label>
                    <input type="text" id="lblcno" class="input" readonly="readonly" />

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Call Sno.</label>
                    <input type="text" id="lblCallSno" class="input" readonly="readonly" />

                </div>



                <div class="col-md-4 mb-4">
                    <label for="Reference">Call Recv Dt.</label>
                    <input type="text" id="lblCallDT" class="input" readonly="readonly">

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Gross Testing Charges Submitted by LAB Official.</label>
                    <input type="text" id="lblgrosstcv" class="input" readonly="readonly" />
                    @* <span asp-validation-for="AMOUNT" class="text-danger"></span>*@
                </div>



                <div class="col-md-4 mb-4">
                    <label for="Reference">Net Testing Charges Paid by Vendor.*</label>
                    <input type="text" id="lblnettcv" class="input" readonly="readonly" />
                    @* <span asp-validation-for="CASE_NO" class="text-danger"></span>*@
                </div>

                <div class="col-md-4 mb-3">
                    <label for="Reference">TDS Deducted by Vendor. (If Any)*</label>
                    <input type="text" id="lbltds" class="input" readonly="readonly" />
                </div>

                <div class="col-md-4 mb-3">
                    <label for="Reference">Gross Testing Charges Submitted by Vendor*</label>
                    <input type="text" id="lblgrosstcv" class="input" readonly="readonly" />
                </div>

                <div class="col-md-4 mb-3">
                    <label for="Reference">UTR No.*</label>
                    <input type="text" id="lblutrno" class="input" readonly="readonly" />
                </div>

                <div class="col-md-4 mb-3">
                    <label for="Reference">UTR Date.*</label>
                    <input type="text" id="lblutrdt" class="input" readonly="readonly" />
                </div>

                <div class="col-md-4 mb-3">
                    <label for="Reference">LAB Sample Payment Reciept</label>
                    <input type="text" id="lbllabspr" class="input" readonly="readonly" />
                </div>

                <div class="col-md-4 mb-3">
                    <label for="Reference">Status</label>
                    @Html.DropDownListFor(model => model.DocStatusFin, new SelectList(IBS.Models.Common.PaymentStatus() , "Value", "Text"),new { @id = "ddlstatus", @class = "form-control" })
                </div>


                <div class="col-md-4 mb-3" style="display:none;" id="remark">
                    <label for="Reference">Remarks</label>
                    <textarea class="form-control custom-textarea" id="txtremark"></textarea>
                </div>

            </div>

            <div class="savenext-btn">
                <button type="submit" class="save-btn active Permission_Save" onclick="SaveDetails()" id="btnsave">Save</button>
                @*<button type="submit" onclick="find();">Search2</button>*@
            </div>
        </div>
        @*  </form>*@
    </div>
</section>
@*</form>*@
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>

        $(function () {

            var CaseNo = '@ViewBag.CaseNo';
            var CallSno = '@ViewBag.CallSno';
            var CallRDt = '@ViewBag.CallRecvDt';
            var parts = CallRDt.split('/');
            var CallRecvDt = parts[1] + '/' + parts[0] + '/' + parts[2];
            LoadPayment(CaseNo, CallSno, CallRecvDt);
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy" // Set the date format to "dd/mm/yy"
            });
            //LoadSampleDtl();

        });
        $("#ddlstatus").change(function () {

            if (($("#ddlstatus").val() != "R") && $("#ddlstatus").val() != "A") {
                $("#remark").css("display", "none");
            }
            else {
                $("#remark").css("display", "block");
            }
        })

        function LoadPayment(CaseNo, CallSno, CallRecvDt) {

            $.ajax({
                url: '/LabPaymentList/LoadPayment',
                type: "POST",
                dataType: "JSON",
                data: { CaseNo: CaseNo, CallSno: CallSno, CallRecvDt: CallRecvDt },

                success: function (success) {

                    $("#lblcno").val(CaseNo);
                    $("#lblCallDT").val(CallRecvDt);
                    $("#lblCallSno").val(CallSno);
                    $("#lblgrosstc").val(success.GrossTestingChargesLab);
                    $("#lblnettcv").val(success.NetTestingChargesVend);
                    $("#lbltds").val(success.TDS);
                    $("#lblgrosstcv").val(success.GrossVendor);
                    $("#lblutrno").val(success.UTRNO);
                    $("#lblutrdt").val(success.UTRDT);
                    $("#lbllabspr").val(success.PaymentRecUpload);
                    //$("#ddlstatus").val(success.DocStatusFin);

                    //$("#txtremark").val(success.Remarks);


                }

            });
        }

        function SaveDetails() {

            if ($("#ddlstatus").val() == "") {
                alert("Status Can not Left Blank!!!");
                return false;
            }
            else if ($("#txtremark").val() == "") {
                alert("Remarks Can not Left Blank!!!");
                return false;
            }


            var parts = $("#lblCallDT").val().split('/');
            var convertedDate = parts[0] + '/' + parts[1] + '/' + parts[2];

            var formData = new FormData();
            debugger;
            formData.append("CaseNo", $("#lblcno").val());
            formData.append("CallRecvDt", convertedDate);
            formData.append("CallSno", $("#lblCallSno").val());
            formData.append("DocStatusFin", $("#ddlstatus").val());
            formData.append("Remarks", $("#txtremark").val());

            //LABREGISTERModel = JSON.stringify(LABREGISTERModel);
            $.ajax({
                type: 'POST',
                contentType: false,
                processData: false,
                //contentType: "application/json",
                url: "/LabPaymentList/SaveData",
                dataType: "json",
                data: formData,
                success: function (res) {

                    if (res == true) {

                        alert('Data Saved Successfully!');

                        window.location.href = "@Url.Action("LabPaymentList", "LabPaymentList")";
                        //$.unblockUI({});
                        //hideLoader();
                    }
                    else {

                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }



                },
                error: function (res) {


                    if (res == true) {

                        alert('Data Saved Successfully!');

                        window.location.href = "@Url.Action("LabPaymentList", "LabPaymentList")";
                    }
                    else {
                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }

                }
            });

        }
        function UpdateDetails() {

            if ($("#ddlstatus").val() == "U") {
                if ($("#upload").val() == "") {
                    alert("please Upload File");
                    return false;
                }

            }
            var parts = $("#lblCallDT").text().split('/');
            var convertedDate = parts[1] + '/' + parts[0] + '/' + parts[2];

            //var files = [];
            //files.push($('input[type=file]').val());
            var formData = new FormData();
            formData.append("UploadLab", $("#upload")[0].files[0]);
            formData.append("CaseNo", $("#lblcno").text());
            formData.append("CallRecDt", convertedDate);
            formData.append("CallSNO", $("#lblCallSno").text());
            formData.append("Status", $("#ddlstatus").val());
            formData.append("DateofRecSample", $("#dtrecsam").val());
            formData.append("TotalTFee", $("#txttesfee").val());
            formData.append("LikelyDt", $("#dtlike").val());
            formData.append("Remarks", $("#txtremark").val());
            formData.append("Data", encode(fileByteArray));
            //var LabSampleInfoModel = {
            //    CaseNo: $("#lblcno").text(),
            //    CallRecDt: convertedDate,
            //    CallSNO: $("#lblCallSno").text(),
            //    Status: $("#ddlstatus").val(),
            //    DateofRecSample: $("#dtrecsam").val(),
            //    TotalTFee: $("#txttesfee").val(),
            //    LikelyDt: $("#dtlike").val(),
            //    Remarks: $("#txtremark").val(),
            //    //UploadLab: files,
            //    Data: encode(fileByteArray)
            //};

            //LABREGISTERModel = JSON.stringify(LABREGISTERModel);
            $.ajax({
                type: 'POST',
                contentType: false,
                processData: false,
                url: "/LabSampleInfo/UpdateDetails",
                dataType: "json",
                data: formData,
                success: function (res) {

                    if (res == true) {

                        alert('Data Saved Successfully!');

                        window.location.href = "@Url.Action("LabSampleInfo", "LabSampleInfo")";
                        //$.unblockUI({});
                        //hideLoader();
                    }
                    else {

                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }



                },
                error: function (res) {


                    if (res == true) {

                        alert('Data Saved Successfully!');

                        window.location.href = "@Url.Action("LabSampleInfo", "LabSampleInfo")";
                    }
                    else {
                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }

                }
            });

        }
    </script>
}

