@model IBS.Models.LabBillingModel
@{
    ViewData["Title"] = "Manage Lab Billing";
    string clsSave = "Permission_Save";
    string clsView = "";
    if (Model.Lab_Bill_Per != null)
    {
        clsSave = "Permission_Update";
        clsView = "Permission_View";
    }
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Lab Billing</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="LabBilling" class="formBtn viewall-btn">View List</a>
    </div>
</div> 
<section class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="LabBilling" asp-action="LabBillingDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmLabBillingDetails">
            <input type="hidden" asp-for="Lab_Bill_Per" />
            <div class="accordion-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row"> 
                            <div class="col-md-2 mb-4">
                                <label class="lable-control" for="Reference"><b>For the Period : </b></label>
                            </div> 
                            <div class="col-md-4 mb-4">
                                <label for="Reference">Month: </label>                                 
                                @Html.DropDownListFor(model => model.LabBillPerMon, new SelectList(IBS.Models.Common.GetMonth(), "Value", "Text"),"--Select--")                                 
                                <span asp-validation-for="LabBillPerMon" class="text-danger"></span>
                            </div> 
                            <div class="col-md-4 mb-4">
                                <label for="Reference">Year: </label>                                
                                @Html.DropDownListFor(model => model.LabBillPerYear, new SelectList(IBS.Models.Common.GetYear(), "Value", "Text"),"--Select--")
                                <span asp-validation-for="LabBillPerYear" class="text-danger"></span>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 mb-4">
                            </div>
                            <div class="col-md-4 mb-4">
                                <label for="Reference">Lab Fee (In Rs.)</label>
                                <input type="text" class="input" asp-for="Lab_Exp" maxlength="500" />
                                <span asp-validation-for="Lab_Exp" class="text-danger"></span>
                            </div>  
                        </div>
                    </div> 
                    <div class="savenext-btn" style="justify-content:center">
                        @*<a asp-controller="LabBilling" asp-action="Index" class="reset-btn">Cancel</a>*@
                        <button type="button" class="save-btn active @clsSave" onclick="Save();">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts 
{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />    
    <script type="text/javascript">
        $(document).ready(function () {
            if (@Model.Lab_Bill_Per > null) 
            {
                var s = @Model.Lab_Bill_Per;
                var year = s.toString().substring(0, 4);
                var mon = s.toString().substring(4, 6);
                $("#LabBillPerMon").val(mon);
                $("#LabBillPerYear").val(year);
            }
        });
    </script>
    <script type="text/javascript"> 
        function Save() {
            if ($("#frmLabBillingDetails").valid()) {
                $("#frmLabBillingDetails").submit();
            }
        } 
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            if (res.status) {
                window.location.href = '@Url.Action("Index", "LabBilling")';
            }
        }; 
    </script>
}