@model IBS.Models.LabRecieptVoucherModel

@{
    ViewData["Title"] = "Generate Voucher";
   
    string clsView = "";
    if (Model.VCHR_NO != "0")
    {
        
        clsView = "Permission_View";
    }
}

<
<div class="list-inner">
    <div class="tast-list">
        <h2>Generate Voucher</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="LabRecieptVoucher" class="formBtn viewall-btn">View List</a>
    </div>
</div>
<section class="@clsView">
    <div class="task-listinput">
        <div class="accordion-body">
            
            <form data-ajax="true" asp-antiforgery="true" asp-controller="LabRecieptVoucher" asp-action="VoucherDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmVoucherDetails">
                <div class="accordion-body">
                    <div class="row my-0">
                        <div class="col-md-4 mb-4">
                            <label for="Reference">Voucher No</label>
                            <input type="text" asp-for="VCHR_NO" placeholder="Voucher No. will appear here." readonly="true" maxlength="300" data-date-format="dd-mm-yyyy" />
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="Reference">Voucher Date</label>
                            <input type="text" class="input datepicker" asp-for="VCHR_DT" maxlength="300" />
                            <span asp-validation-for="VCHR_DT" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="Reference">Bank Code/Cash</label>
                            @{
                                
                                string selectedRegion = ViewBag.regin;

                                List<SelectListItem> banks = Common.GetBankCode();
                                if (selectedRegion == "N")
                                    selectedRegion = "53";
                               else if (selectedRegion == "W")
                                    selectedRegion = "88";
                                       else if (selectedRegion == "E")
                                    selectedRegion = "85";
                                else if (selectedRegion == "S")
                                    selectedRegion = "87";
                                foreach (var bank in banks)
                                {
                                    if (bank.Value == selectedRegion)
                                    {
                                        bank.Selected = true;
                                        break;
                                    }
                                }
                            }
                            @Html.DropDownListFor(model => model.BANK_CD, banks, new { id = "bankDropdown", @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.BANK_CD, Common.GetBankCode(), new { id = "bankDropdown" })*@
                            <span asp-validation-for="BANK_CD" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="Reference">Cheque No</label>
                            <input type="text" id="Chq_No" class="input" asp-for="CHQ_NO">
                          @*  <input type="text" id="Chq_lbl" value="CASH" class="input" readonly="true">*@
                            <span asp-validation-for="CHQ_NO" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="Reference">Cheque Date<span class="text-danger"></label>
                            <input type="text" id="Chq_Date" class="input datepicker" asp-for="CHQ_DT" mode maxlength="300" />
                            
                            <span asp-validation-for="CHQ_DT" class="text-danger"></span>
                        </div>

                        <div id="BankNameDropdown" class="col-md-4 mb-4">
                            <label for="Reference">Bank Name/Cash</label>

                            @Html.DropDownListFor(model => model.BANK_NAME, Common.labRVGetBank(), new { id = "BankNameDropdown" })
                                <span asp-validation-for="BANK_NAME" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="Reference">Amount</label>
                            <input type="text" class="input" asp-for="AMOUNT" maxlength="300" />
                            <span asp-validation-for="AMOUNT" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="Reference">Sample No</label>
                            <input type="text" class="input" asp-for="SAMPLE_NO" maxlength="4">
                            
                        </div>

                        <div  class="col-md-4 mb-3">
                            <label for="Reference">Account Code</label>
                            @{

                                string rolecd = ViewBag.RolCD;

                            }
                            @Html.DropDownListFor(model => model.ACC_CD, Common.LabRVGetAccountCode(rolecd), new { id="AccCD" })
                        </div>

                        <div id="txtCSNO" class="col-md-4 mb-3">
                            <label  for="Reference">Case No</label>
                            <input type="text" class="input" id="CSNO" asp-for="CASE_NO">
                            <br ></br>
                            <button type="button" class="save-btn active" onclick="ButtonClick();">Select BPO</button>
                            <span asp-validation-for="CASE_NO" class="text-danger"></span>
                            
                        </div>
                        <div id="txtBPO" class="col-md-4 mb-3">
                            <label  for="Reference">BPO</label>
                            <input type="text" id="bpoCD" class="input" asp-for="BPO_CD">
                            <br></br>
                            <button type="button" class="save-btn active" onclick="validation();">Select BPO</button>
                            <span asp-validation-for="BPO_CD" class="text-danger"></span>

                        </div>

                        <div id="lstBPO" class="col-md-4 mb-3" style="display:none">
                           @* <label  for="Reference">BPO List</label>
                            @Html.DropDownListFor(model => model.BPO_CD, Common., new { id="listBPO" })*@
                            <label for="Reference">BPO</label>
                            <select id="SelectedBPO" class="form-control">
                               
                               @* @if(Model.BPOList != null){
                                    @foreach (var bpo in Model.BPOList)
                                    {
                                        <option value="@bpo.value">@bpo.text</option>
                                    }
                                }*@
                            </select>
                        </div>

                        <div  class="col-md-4 mb-3">
                            <label for="Reference">Narration</label>
                            <input type="text" class="input" id="txtNarrat" asp-for="NARRATION">
                            
                        </div>
                    </div>

                    <div class="savenext-btn">
                       @* <a asp-controller="LabRecieptVoucher" asp-action="Index" class="reset-btn">Cancel</a>*@
                        <button type="button" class="save-btn active Permission_Save" onclick="Save();">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
          
            var selectedValue = $("#AccCD").val();
            if (selectedValue === "2709" || selectedValue === "2210" || selectedValue === "2212") {
                $("#txtCSNO").show();
                $("#txtBPO").hide();
                $("#lstBPO").css("display", "none");
                $("#txtNarrat").show();
            } else {
                $("#txtCSNO").hide();
                $("#lstBPO").css("display", "none");
                $("#txtNarrat").show();
                $("#txtBPO").show();
            }

        });
        function Save() {
            $("#frmVoucherDetails").submit();
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            alert("Save Successfully.")
            window.location.href = "/LabRecieptVoucher/Index";
        }


       
            // Hide/show BPO details based on lstACD selection
            $("#AccCD").on("change", function () {
               
                var selectedValue = $("#AccCD").val();
                if (selectedValue === "2709" || selectedValue === "2210" || selectedValue === "2212") {
                    $("#txtCSNO").show();
                    $("#txtBPO").hide();
                $("#lstBPO").css("display", "none");
                    $("#txtNarrat").show();
                } else {
                    $("#txtCSNO").hide();
                $("#lstBPO").hide();
                    $("#txtNarrat").show();
                    $("#txtBPO").show();
                $("#lstBPO").css("display", "none");
                }
            });

            // Handle BPO selection
            $("#lstBPO").on("change", function () {
               
            });
function validation(){
    
            if ($("#CSNO").val() == '') {
                alert("Please Enter Case No.!!!");
                return false;
            }
            ButtonClick();
}

        function ButtonClick() {
            debugger;
            var AccCD = $("#AccCD").val();
            var txtBPO = $("#txtBPO").val();
            var lstBPO = $("#lstBPO").val();
            var listBPO = $("#listBPO").val();
            var txtCSNO = $("#CSNO").val();
            $.ajax({
                url: '/LabRecieptVoucher/ButtonClick',
                type: "POST",
                dataType: "JSON",
                data: { AccCD: AccCD, txtBPO: txtBPO, listBPO: listBPO, txtCSNO: txtCSNO },

                success: function (success) {
                    debugger;
                    if (success.BPOList != null){
                   //alert("buttonclicked");
                   // console.log(success);
                    $("#txtNarrat").val(success.Narrt);
                    $("#lstBPO").css("display","block");

                    for (i = 0; i < success.BPOList.length; i++) {

                        // var data = '<option value="' + success.BPCodes[i].Text + '">' + success.BPCodes[i].Value + '</option>'
                        var data = '<option value="' + success.BPOList[i].value + '">' + success.BPOList[i].text + '</option>'
                        $("#SelectedBPO").append(data);
                      
                    }
                    }

                }

            });

        }



    </script>
}