@model IBS.Models.BillRaisedModel

@{
    ViewData["Title"] = "Reports Summary";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>@Model.Title</h2>
    </div>
</div>

<div class="task-listinput">
    <form role="form" asp-controller="BillRaised" asp-action="Index" id="frmBillRaised">
        <input type="hidden" asp-for="Region" />
        <input type="hidden" asp-for="ActionType" />
        <table id="Table2" border="1" cellSpacing="1" borderColor="#b0c4de" cellPadding="1" width="80%" bgColor="#f0f8ff">
            <tr>
                <td colSpan="3">
                    <div class="custom-readio">
                        @*<label for="Reference">Summary of Report</label>*@
                        <div class="company-checkbox">
                            <div class="remember">
                                <div class="remecheckbox">
                                    <input type="radio" asp-for="BillSummary" value="M" id="BillSummary_M" checked="checked" />
                                    <label for="BillSummary_M">Summary Report For the Month</label>
                                    &nbsp;&nbsp;
                                    <input type="radio" asp-for="BillSummary" value="P" id="BillSummary_P" />
                                    <label for="BillSummary_P">Summary Report For the Given Period</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="WIDTH: 411px;display:none;" id="tdmonth"></td>
                <td>
                    <label id="lblMonth" runat="server" Width="40%" Font-Names="Verdana" Font-Size="8pt" ForeColor="DarkBlue" Font-Bold="True">Month</label>
                </td>
                <td>
                    <label id="lblYear" runat="server" Width="40%" Font-Names="Verdana" Font-Size="8pt" ForeColor="DarkBlue" Font-Bold="True">Year</label>
                </td>
            </tr>
            <tr>
                <td style="WIDTH: 411px; HEIGHT: 22px;display:none;" id="tdFrom">
                    <label id="lblFrom" runat="server" Width="40%" Font-Names="Verdana" Font-Size="8pt" ForeColor="DarkBlue" Font-Bold="True">From</label>
                </td>
                <td style="HEIGHT: 22px">
                    @Html.DropDownListFor(model => model.FromMn, new SelectList(IBS.Models.Common.GetMonths() , "Value", "Text"),"--Select--")
                    <span asp-validation-for="FromMn" class="text-danger"></span>
                </td>
                <td style="HEIGHT: 22px">
                    @Html.DropDownListFor(model => model.FromYr, new SelectList(IBS.Models.Common.GetYears() , "Value", "Text"),"--Select--")
                    <span asp-validation-for="FromYr" class="text-danger"></span>
                </td>
            </tr>
            <tr id="trTo" style="display:none;">
                <td style="WIDTH: 411px">
                    <label id="lblTo" runat="server" Width="40%" Font-Names="Verdana" Font-Size="8pt" ForeColor="DarkBlue" Font-Bold="True">To</label>
                </td>
                <td>
                    @Html.DropDownListFor(model => model.ToMn, new SelectList(IBS.Models.Common.GetMonths() , "Value", "Text"),"--Select--")
                <td>
                        @Html.DropDownListFor(model => model.ToYr, new SelectList(IBS.Models.Common.GetYears() , "Value", "Text"),"--Select--")
                </td>
            </tr>
        </table>
        <div class="savenext-btn">
            <a asp-controller="BillRaised" asp-action="Index" class="reset-btn">Cancel</a>
            <button type="button" class="save-btn active" id="btnView">View</button>
            <button type="button" class="save-btn active" id="btnReport">Report</button>
        </div>

        <section class="table-section">
            <div class="task-listinput">
                <h5 align="center"><font face="Verdana">North Region</font></h5>
                <h5 align="center"><font face="Verdana">Client Wise Billing Summary For the Month January - 2022</font></h5>
                <div class="dash-table">
                    <table id="dtList" class="table-responsive">
                        <thead>
                            <tr>
                                <th>Railway/Client</th>
                                <th>Insp Fee</th>
                                <th>Tax</th>
                                <th>Billing Amount</th>
                                <th>No. Of Bills</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </form>
</div>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" />

    <script type="text/javascript">
        $(document).ready(function () {
            validation();
            var radioM = $("#BillSummary_M");
            var radioP = $("#BillSummary_P");

            radioM.change(function () {
                if (radioM.is(":checked")) {
                    $("#tdmonth").hide();
                    $("#tdFrom").hide();
                    $("#trTo").hide();
                }
            });

            radioP.change(function () {
                if (radioP.is(":checked")) {
                    $("#tdmonth").show();
                    $("#tdFrom").show();
                    $("#trTo").show();
                }
            });
        });

        function validation() {
            $("#FromYr").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromYr = $(this).val();
                    var ToYr = $('#ToYr').val();
                    if (ToYr != "") {
                        if (FromYr > ToYr) {
                            $("#FromYr").val("");
                            ShowHideMsgNew(false, "From year less than To year.");
                        }
                    }
                }
            });

            $("#ToYr").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromYr = $('#FromYr').val();
                    var ToYr = $(this).val();
                    if (FromYr != "") {
                        if (FromYr > ToYr) {
                            $("#ToYr").val("");
                            ShowHideMsgNew(false, "From year less than To year.");
                        }
                    }
                }
            });

            $("#FromMn").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromMn = $(this).val();
                    var ToMn = $('#ToMn').val();
                    if (ToMn != "") {
                        if (FromMn > ToMn) {
                            $("#FromMn").val("");
                            ShowHideMsgNew(false, "From month less than To month.");
                        }
                    }
                }
            });

            $("#ToMn").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromMn = $('#FromMn').val();
                    var ToMn = $(this).val();
                    if (FromMn != "") {
                        if (FromMn > ToMn) {
                            $("#ToMn").val("");
                            ShowHideMsgNew(false, "From month less than To month.");
                        }
                    }
                }
            });
        }

        $("#btnView").click(function () {
            if ($("#frmBillRaised").valid()) {
                InitializeDatatable();
            }
        });

        function InitializeDatatable() {
            var FromMn = $("#FromMn").val();
            var FromYr = $("#FromYr").val();
            var ToMn = $("#ToMn").val();
            var ToYr = $("#ToYr").val();


            var radioM = $("#BillSummary_M");
            var radioP = $("#BillSummary_P");
            var rdo = "";
            if (radioM.is(":checked")) {
                rdo = "M";
            }
            else {
                rdo = "P";
            }
            var Region = $("#Region").val();

            $("#dtList").DataTable({
                stateSave: false,
                autoWidth: false,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: true,
                dom: 'Brti',
                buttons: [
                    'csv', 'excel', 'print'
                ],
                ajax: {
                    url: "@Url.Action("LoadTable", "BillRaised")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "FromMn": FromMn,
                            "FromYr": FromYr,
                            "ToMn": ToMn,
                            "ToYr": ToYr,
                            "rdo": rdo,
                            "Region": Region
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [
                    { data: "BPO_ORGN" },
                    { data: "INSP_FEE" },
                    { data: "TAX" },
                    { data: "BILL_AMOUNT" },
                    { data: "NO_OF_BILLS" },
                ],

                "order": [[0, "asc"]]
            });
        }

        $("#btnReport").click(function () {
            var FromMn = $("#FromMn").val();
            var FromYr = $("#FromYr").val();
            var ToMn = $("#ToMn").val();
            var ToYr = $("#ToYr").val();
            var Region = $("#Region").val();
            var ActionType = $("#ActionType").val();

            var radioM = $("#BillSummary_M");
            var radioP = $("#BillSummary_P");
            var rdo = "";
            if (radioM.is(":checked")) {
                rdo = "M";
            }
            else {
                rdo = "P";
            }

            window.location.href = '@Url.Action("BillRaisedReport", "BillRaised")' + '?FromMn=' + FromMn + "&FromYr=" + FromYr + "&ToMn=" + ToMn + "&ToYr=" + ToYr + "&ActionType=" + ActionType + "&rdo=" + rdo;
        });
    </script>
}