<div class="list-inner">
    <div class="tast-list">
        <h2>PHOTOS SUBMITTED BY IE OF INSPECTIONS</h2>
    </div>
</div>

<div class="accordion-body">

    <div class="row my-0" id="divdate">
        <div class="col-md-2">
            <div class="input-search">
                <label for="FromDate">Case No.</label>
                <input type="text" id="CaseNo" />
                <span class="text-danger field-validation-error" id="spnErrorFromDate"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-search">
                <label for="FromDate">Call Recieve Date</label>
                <input type="text" id="CallRecDT" class="datepicker" placeholder="DD/MM/YYYY" />
                <span class="text-danger field-validation-error" id="spnErrorFromDate"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-search">
                <label for="FromDate">Call SNO.</label>
                <input type="text" id="CallSno" />
                <span class="text-danger field-validation-error" id="spnErrorFromDate"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-search">
                <label for="FromDate">Book No.</label>
                <input type="text" id="BKNO" />
                <span class="text-danger field-validation-error" id="spnErrorFromDate"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-search">
                <label for="FromDate">Set No.</label>
                <input type="text" id="SETNO" />
                <span class="text-danger field-validation-error" id="spnErrorFromDate"></span>
            </div>
        </div>
        
    </div>
    <div class="col-md-3" style="margin-top: 30px;">
        <div class="savenext-btn">
            <button type="button" class="save-btn active" onclick="ViewReport();">Search</button>
            <button type="button" class="save-btn active" onclick="ViewReport1();">Generate Report</button>
            <button type="button" class="reset-btn" onclick="ClearControls1();">Clear</button>
        </div>
    </div>
</div>


<section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtphoto" class="table-responsive">
                <thead>
                    <tr>
                        <th>Case No.</th>
                        <th>Call Date</th>
                        <th>Call SNO.</th>
                        <th>Book NO.</th>
                        <th>Set NO.</th>
                        <th>Photo 1</th>
                        <th>Photo 2</th>
                        <th>Photo 3</th>
                        <th>Photo 4</th>
                        <th>Photo 5</th>
                        <th>Photo 6</th>
                        <th>Photo 7</th>
                        <th>Photo 8</th>
                        <th>Photo 9</th>
                        <th>Photo 10</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function ViewReport() {
           
            InitializeDatatable();
        }

        function ViewReport1() {

            var CaseNo = $("#CaseNo").val();
            var CallRecDT = $("#CallRecDT").val();
            var CallSno = $("#CallSno").val();
            var BKNO = $("#BKNO").val();
            var SETNO = $("#SETNO").val();

            let myObject = { CaseNo, CallRecDT, CallSno, BKNO, SETNO };

            var url = '@Url.Action("Manage", "IEICPhotoEnclosedReport")?' + $.param(myObject);
            window.open(url, '_blank');
        }

        function ClearControls1(){
            $("#CaseNo").val('');
            $("#CallRecDT").val('');
            $("#CallSno").val('');
            $("#BKNO").val('');
            $("#SETNO").val('');
        }

        function InitializeDatatable() {
            var CaseNo = $("#CaseNo").val();
            var CallRecDT = $("#CallRecDT").val();
            var CallSno = $("#CallSno").val();
            var BKNO = $("#BKNO").val();
            var SETNO = $("#SETNO").val();

            var ajaxUrl = "@Url.Action("LoadTable", "IEICPhotoEnclosedReport")";

            $("#dtphoto").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: true,
                ajax: {
                    url: ajaxUrl,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "CaseNo": CaseNo,
                            "CallRecDT": CallRecDT,
                            "CallSno": CallSno,
                            "BKNO": BKNO,
                            "SETNO": SETNO
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    },
                },
                columns: [
                    { data: "CaseNo", width: "10%" },
                    { data: "CallRecDT", width: "10%" },
                    { data: "CallSno", width: "10%" },
                    { data: "BKNO", width: "10%" },
                    { data: "SETNO", width: "10%" },
                    {
                        data: "FILE_1", width: "10%",
                        render: function (data, type, row) {
                            var photoUrl = '@Url.Content("~/IC_PHOTOS/")' + row.FILE_1;
                            var fileName = getFileNameFromUrl(row.FILE_1);
                            return '<a href="' + photoUrl + '" download target="_blank">' + fileName + '</a>';
                        }
                    },
                    {
                        data: "FILE_2", width: "10%",
                        render: function (data, type, row) {
                            var photoUrl = '@Url.Content("~/IC_PHOTOS/")' + row.FILE_2;
                            var fileName = getFileNameFromUrl(row.FILE_2);
                            return '<a href="' + photoUrl + '" download target="_blank">' + fileName + '</a>';
                        }
                    },
                    {
                        data: "FILE_3", width: "10%",
                        render: function (data, type, row) {
                            var photoUrl = '@Url.Content("~/IC_PHOTOS/")' + row.FILE_3;
                            var fileName = getFileNameFromUrl(row.FILE_3);
                            return '<a href="' + photoUrl + '" download target="_blank">' + fileName + '</a>';
                        }
                    },
                    {
                        data: "FILE_4", width: "10%",
                        render: function (data, type, row) {
                            var photoUrl = '@Url.Content("~/IC_PHOTOS/")' + row.FILE_4;
                            var fileName = getFileNameFromUrl(row.FILE_4);
                            return '<a href="' + photoUrl + '" download target="_blank">' + fileName + '</a>';
                        }
                    }, {
                        data: "FILE_5", width: "10%",
                        render: function (data, type, row) {
                            var photoUrl = '@Url.Content("~/IC_PHOTOS/")' + row.FILE_5;
                            var fileName = getFileNameFromUrl(row.FILE_5);
                            return '<a href="' + photoUrl + '" download target="_blank">' + fileName + '</a>';
                        }
                    }, {
                        data: "FILE_6", width: "10%",
                        render: function (data, type, row) {
                            var photoUrl = '@Url.Content("~/IC_PHOTOS/")' + row.FILE_6;
                            var fileName = getFileNameFromUrl(row.FILE_6);
                            return '<a href="' + photoUrl + '" download target="_blank">' + fileName + '</a>';
                        }
                    }, {
                        data: "FILE_7", width: "10%",
                        render: function (data, type, row) {
                            var photoUrl = '@Url.Content("~/IC_PHOTOS/")' + row.FILE_7;
                            var fileName = getFileNameFromUrl(row.FILE_7);
                            return '<a href="' + photoUrl + '" download target="_blank">' + fileName + '</a>';
                        }
                    }, {
                        data: "FILE_8", width: "10%",
                        render: function (data, type, row) {
                            var photoUrl = '@Url.Content("~/IC_PHOTOS/")' + row.FILE_8;
                            var fileName = getFileNameFromUrl(row.FILE_8);
                            return '<a href="' + photoUrl + '" download target="_blank">' + fileName + '</a>';
                        }
                    }, {
                        data: "FILE_9", width: "10%",
                        render: function (data, type, row) {
                            var photoUrl = '@Url.Content("~/IC_PHOTOS/")' + row.FILE_9;
                            var fileName = getFileNameFromUrl(row.FILE_9);
                            return '<a href="' + photoUrl + '" download target="_blank">' + fileName + '</a>';
                        }
                    }, {
                        data: "FILE_10", width: "10%",
                        render: function (data, type, row) {
                            var photoUrl = '@Url.Content("~/IC_PHOTOS/")' + row.FILE_10;
                            var fileName = getFileNameFromUrl(row.FILE_10);
                            return '<a href="' + photoUrl + '" download target="_blank">' + fileName + '</a>';
                        }
                    },

                ],
                "order": [[0, "asc"]]
            });
        }

        function getFileNameFromUrl(url) {
            var parts = url.split('/');
            return parts[parts.length - 1]; // Get the last part (the file name)
        }

    </script>
}
