@using System.Web;
@model IBS.Models.Reports.ConsigneeCompReports

@{
    Layout = null;
    string ReportType = (Model != null ? Model.ReportType : "");
    string ReportTitle = (Model != null ? Model.ReportTitle : "");
    string gobackUrl = Url.Action("Index?ReportType=" + ReportType, "ConsigneeCompReport");
    ViewData["Title"] = ReportTitle;
}

<html>
<head>
    <title>@ReportTitle</title>
</head>
<body>
    <p align="right">
        <a href="@Html.Raw(@HttpUtility.UrlDecode(gobackUrl))"><input type="button" class="commonBtn" value="Go Back" /></a>
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    <div id="dvReportViewer"></div>
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</body>
</html>

<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/site.js"></script>

<script type="text/javascript">

    var fileName = '';

    $(document).ready(function () {
        if ('@ReportType' == 'CCU') {
            loadComplaints();
            fileName = 'Consignee Complaints For The Period';
        }
        else if ('@ReportType' == 'COMPJI') {
            loadIEPerformance();
            fileName = 'RegionWise_Consignee_JIComplaint';
        } else if ('@ReportType' == 'TOPJI') {
            loadJI();
            fileName = 'JI_Complaint_Report';
        }
        else if ('@ReportType' == 'CORP') {
            loadJICONComplaints();
            fileName = 'Consignee_Complaint';
        } else if ('@ReportType' == 'COCOMPJI') {
            loadJICOMPReport();
            fileName = 'Summarized Position Consignee Rejection (Region Wise)';
        } else if ('@ReportType' == 'TOPNHIGH') {
            loadTopInspReport();
            fileName = 'Top N High Value Inspection';
        } else if ('@ReportType' == 'DCWACOMPS') {
            loadDefectCodeReport();
            fileName = 'Defect_Code';
        }
    });

    function loadDefectCodeReport() {
        $("#dvReportViewer").load("@Url.Action("DefectCodeReport")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadTopInspReport() {
        $("#dvReportViewer").load("@Url.Action("TopNHighValueInsp")", {
            month: '@Model.month', year: '@Model.year', valinsp: '@Model.valinsp', FromDate: '@Model.FromDate'
            , ToDate: '@Model.ToDate', ICDate: '@Model.ICDate', BillDate: '@Model.BillDate', formonth: '@Model.formonth', forperiod: '@Model.forperiod', monthChar: '@Model.monthChar'
        }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadJICOMPReport() {
        $("#dvReportViewer").load("@Url.Action("JICompReport")", { FinancialYearsText: '@Model.FinancialYearsText', FinancialYearsValue: '@Model.FinancialYearsValue' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadJICONComplaints() {
        $("#dvReportViewer").load("@Url.Action("ComplaintsByPeriod")", {
            FromDate: '@Model.FromDate', ToDate: '@Model.ToDate', Allregion: '@Model.Allregion', regionorth: '@Model.regionorth'
            , regionsouth: '@Model.regionsouth', regioneast: '@Model.regioneast', regionwest: '@Model.regionwest', jiallregion: '@Model.jiallregion', jinorth: '@Model.jinorth', jisourth: '@Model.jisourth'
            , jieast: '@Model.jieast', jiwest: '@Model.jiwest', compallregion: '@Model.compallregion', compyes: '@Model.compyes', compno: '@Model.compno', cancelled: '@Model.cancelled'
            , underconsider: '@Model.underconsider', allaction: '@Model.allaction', particilaraction: '@Model.particilaraction', actiondrp: '@Model.actiondrp',
            particilarcode: '@Model.particilarcode', particilarjicode: '@Model.particilarjicode', actioncodedrp: '@Model.actioncodedrp', actionjidrp: '@Model.actionjidrp'

        }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadComplaints() {
        $("#dvReportViewer").load("@Url.Action("ComplaintsByPeriod")", {
            FromDate: '@Model.FromDate', ToDate: '@Model.ToDate', Allregion: '@Model.Allregion', regionorth: '@Model.regionorth'
            , regionsouth: '@Model.regionsouth', regioneast: '@Model.regioneast', regionwest: '@Model.regionwest', jiallregion: '@Model.jiallregion', jinorth: '@Model.jinorth', jisourth: '@Model.jisourth'
            , jieast: '@Model.jieast', jiwest: '@Model.jiwest', compallregion: '@Model.compallregion', compyes: '@Model.compyes', compno: '@Model.compno', cancelled: '@Model.cancelled'
            , underconsider: '@Model.underconsider', allaction: '@Model.allaction', particilaraction: '@Model.particilaraction', actiondrp: '@Model.actiondrp'

        }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadJI() {
        $("#dvReportViewer").load("@Url.Action("JIComplaintsReport")", {
            JISNO: '@Model.JiSno'

        }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadIEPerformance() {
        $("#dvReportViewer").load("@Url.Action("ComplaintRecieved")", {
            FromDate: '@Model.FromDate', ToDate: '@Model.ToDate', AllCM: '@Model.AllCM', AllIEs: '@Model.AllIEs', AllVendors: '@Model.AllVendors', AllClient: '@Model.AllClient', AllConsignee: '@Model.AllConsignee', Compact: '@Model.Compact', AwaitingJI: '@Model.AwaitingJI', JIConclusion: '@Model.JIConclusion',
            JIConclusionfollowup: '@Model.JIConclusionfollowup', JIconclusionreport: '@Model.JIconclusionreport', JIDecidedDT: '@Model.JIDecidedDT', All: '@Model.All', ParticularIEs: '@Model.ParticularIEs', IEWise: '@Model.IEWise', CMWise: '@Model.CMWise',
            VendorWise: '@Model.VendorWise',
            ClientWise: '@Model.ClientWise',
            ConsigneeWise: '@Model.ConsigneeWise',
            FinancialYear: '@Model.FinancialYear',
            ParticularCMs: '@Model.ParticularCMs',
            ParticularClients: '@Model.ParticularClients',
            ParticularConsignee: '@Model.ParticularConsignee',
            ParticularVendor: '@Model.ParticularVendor',
            Detailed: '@Model.Detailed',
            FinancialYears: '@Model.FinancialYears',
            ddlsupercm: '@Model.ddlsupercm',
            ddliename: '@Model.ddliename',
            Clientwiseddl: '@Model.Clientwiseddl',
            vendor: '@Model.vendor',
            Item: '@Model.Item',
            consignee: '@Model.consignee', FinancialYearsvalue: '@Model.FinancialYearsValue'
        }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnExportToExcel").click(function () {
        var html = $('#dvReportViewer').html();
        html = html.replaceAll('class="borderTable"', 'border="1"');

        let file = new Blob([html], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        $.ajax({
            url: "@Url.Action("GeneratePDF", "ConsigneeCompReport")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            data: { ReportType: '@ReportType' },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (result) {
                var url = window.URL.createObjectURL(result);
                if (isPrint) {
                    iframe = document.createElement('iframe');
                    document.body.appendChild(iframe);

                    iframe.style.display = 'none';
                    iframe.src = url;
                    iframe.onload = function () {
                        setTimeout(function () {
                            iframe.focus();
                            iframe.contentWindow.print();
                        }, 1);
                    };
                }
                else {
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = getExportFileName(fileName) + '.pdf';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

</script>
