@model IBS.Models.Reports.HighValueInspReport

<div>
    <h3 class="center">@Model.Regions</h3>
<style>
   .borderTable th:nth-child(1){ width:3%;}

        .borderTable th:nth-child(2),
        .borderTable th:nth-child(3),
        .borderTable th:nth-child(4),
        .borderTable th:nth-child(5),
        .borderTable th:nth-child(10),
        .borderTable th:nth-child(11),
        .borderTable th:nth-child(12) {
            width: 6%;
        }

        .borderTable th:nth-child(6),
        .borderTable th:nth-child(7),
        .borderTable th:nth-child(8),
        .borderTable th:nth-child(9) {
            width: 12%;
        }
</style>
    @if(@Model.formonth == "true")
    {
        <h3 class="heading3">Top @Model.valinsp Inspections For The Month of : @Model.monthChar , @Model.year ( @Model.BillDate @Model.ICDate)</h3>
    }else{
        <h3 class="heading3">Top @Model.valinsp Inspections For The Period : @Model.FromDate To @Model.ToDate ( @Model.BillDate @Model.ICDate)</h3>
    }
        <div class="tableOuter">
            <table class="borderTable" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th valign="top" align="center"><b>S.NO.</b></th>
                        <th valign="top" align="center"><b>BILL NO.</b></th>
                        <th valign="top" align="center"><b>BILL DT</b></th>
                        <th valign="top" align="center"><b>IC DT</b></th>
                        <th valign="top" align="center"><b>CASE NO.</b></th>
                        <th valign="top" align="center"><b>ENG. NAME</b></th>
                        <th valign="top" align="center"><b>VENDOR</b></th>
                        <th valign="top" align="center"><b>CONSIGNEE</b></th>
                        <th valign="top" align="center"><b>ITEM DESC.</b></th>
                        <th valign="top" align="center"><b>PL NO.</b></th>
                        <th valign="top" align="center"><b>MATERIAL VALUE</b></th>
                        <th valign="top" align="center"><b>INSP. FEE</b></th>
                    </tr>
                    @if (Model != null && Model.lstValueInspList.Count > 0)
                    {
                         var SrNo = 0;
                        @foreach (var item in Model.lstValueInspList)
                        {
                            SrNo = SrNo + 1;
                            <tr>
                                <td valign="top" align="Left">@SrNo</td>
                                <td valign="top" align="Left">@item.BillNo</td>
                                <td valign="top" align="left">
                                    
                                        @((item.BillDate.HasValue) ? item.BillDate.Value.ToString("dd/MM/yyyy") : string.Empty)
                                    
                                </td>
                                 <td valign="top" align="left">
                                    
                                        @((item.ICDate.HasValue) ? item.ICDate.Value.ToString("dd/MM/yyyy") : string.Empty)
                                    
                                </td>
                                <td valign="top" align="Left">@item.CaseNo</td>
                                <td valign="top" align="Left">@item.EngName</td>
                                <td valign="top" align="Left">@item.VENDOR</td>
                                <td valign="top" align="Left">@item.CONSIGNEE</td>
                                <td valign="top" align="Left">@item.ITEMDESC</td>
                                <td valign="top" align="Left">@item.PLNO</td>
                                <td valign="top" align="Left">@item.MATERIALVALUE</td>
                                <td valign="top" align="Left">@item.INSPFEE</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
</div>


