@model IBS.Models.CentralQOIIModel

@{
    ViewData["Title"] = "Central QOII";
    string clsView = "";
    if (Model.IsEdited == false)
    {
        clsView = "Permission_View";
    }
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Central QOII</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="CentralQOII" class="formBtn viewall-btn">View List</a>
    </div>
</div>
<section id="tab-1" class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="CentralQOII" asp-action="CentralQOISave" data-ajax-method="post" data-ajax-complete="completed" id="frmCentralQOII">
            <input type="text" class="input" asp-for="IsEdited" style="display:none;">
            <div class="accordion-body">
                <div class="row my-0">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">For The Period Month<i class="text-danger">*</i></label>
                        @Html.DropDownListFor(model => model.Month, new SelectList(IBS.Models.Common.GetMonth() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="Month" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">For The Period year<i class="text-danger">*</i></label>
                        @Html.DropDownListFor(model => model.Year, new SelectList(IBS.Models.Common.GetYear() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Weight<i class="text-danger">*</i> </label>
                        @Html.DropDownListFor(model => model.Weights, new SelectList(IBS.Models.Common.GetLength() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="Weights" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Height<i class="text-danger">*</i> </label>
                        @Html.DropDownListFor(model => model.QoiLengths, new SelectList(IBS.Models.Common.GetWeight() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="QoiLengths" class="text-danger"></span>
                    </div>
                </div>

                <div class="row my-0">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Client<i class="text-danger">*</i></label>
                        @Html.DropDownListFor(model => model.Clients, new SelectList(IBS.Models.Common.GetClientForII() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="Clients" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Accepted Quantity(mt) </label>
                        <input type="text" class="input" asp-for="Accepted">
                        <span asp-validation-for="Accepted" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="Reference">Rejected Quantity(mt) </label>
                        <input type="text" class="input" asp-for="Rejected">
                        <span asp-validation-for="Rejected" class="text-danger"></span>
                    </div>
                </div>
                <div class="savenext-btn">
                    @*<a asp-controller="CentralQOII" asp-action="Index" class="reset-btn">Cancel</a>*@
                    <button type="button" class="save-btn active Permission_Save" onclick="Save();">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function Save() {
            if ($("#frmCentralQOII").valid()) {
                $("#frmCentralQOII").submit();
            }
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            if (res.responseText != "Selected Period and Client Already Exist") {
                if (res.status) {
                    window.location.href = '@Url.Action("Index", "CentralQOII")';
                };
            }
        };
    </script>
}