@model IBS.Models.CentralQOIIModel

@{
    ViewData["Title"] = "Central QOII";
}


<div class="list-inner">
    <div class="tast-list">
        <h2>Central QOII</h2>
    </div>
</div>
<section id="tab-1">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="CentralQOII" asp-action="CentralQOISave" data-ajax-method="post" data-ajax-complete="completed" id="frmCentralQOII">
            <input type="text" class="input" asp-for="IsEdited" style="display:none;">
            <div class="accordion-body">
                <div class="row my-0">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">For The Period Month</label>
                        @Html.DropDownListFor(model => model.Month, new SelectList(IBS.Models.Common.GetMonth() , "Value", "Text"),"--Select--")
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">For The Period year</label>
                        @Html.DropDownListFor(model => model.Year, new SelectList(IBS.Models.Common.GetYear() , "Value", "Text"),"--Select--")
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">WEIGHT  </label>
                        @Html.DropDownListFor(model => model.Weight, new SelectList(IBS.Models.Common.GetWeight() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="Client" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">HEIGHT  </label>
                        @Html.DropDownListFor(model => model.QoiLength, new SelectList(IBS.Models.Common.GetLength() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="Client" class="text-danger"></span>
                    </div>
                </div>

                <div class="row my-0">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Client </label>
                        @Html.DropDownListFor(model => model.Client, new SelectList(IBS.Models.Common.GetClientForII() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="Client" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">ACCEPTED QUANTITY(MT) </label>
                        <input type="text" class="input" asp-for="Accepted">
                        <span asp-validation-for="Accepted" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="Reference">REJECTED QUANTITY(MT) </label>
                        <input type="text" class="input" asp-for="Rejected">
                        <span asp-validation-for="Rejected" class="text-danger"></span>
                    </div>
                </div>
                <div class="savenext-btn">
                    <a asp-controller="CentralQOII" asp-action="Index" class="reset-btn">Cancel</a>
                    <button type="button" class="save-btn active" onclick="Save();">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(function () {

        });

        function Save() {
            if ($("#frmCentralQOII").valid()) {
                $("#frmCentralQOII").submit();
            }
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            if (res.responseText != "Selected Period and Client Already Exist") {
                window.location.href = "/CentralQOII/Index";
            }
        };
    </script>
}