@model IBS.Models.ManpowerModel
@{
    string clsView = "";
    if (Model.ID > 0)
    {
        clsView = "Permission_View";
    }
    ViewData["Title"] = "Manage Manpower in QA Vertical";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Manpower in QA Vertical Entry</h2>
    </div>
    <div>
        <a asp-controller="ManPowerQA" asp-action="Index" class="formBtn viewall-btn">View List</a>
    </div>
</div>

<section id="tab-1" class="@clsView">
    <div class="task-listinput">
        <form role="form" asp-controller="ManPowerQA" asp-action="Manage" id="frmManpower">
            <div class="accordion-body">
                <div class="row my-0">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">RIO</label>
                        @Html.DropDownListFor(model => model.Region, Common.GetRegionType(), new { })
                        <span asp-validation-for="Region" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Name of Employee</label>
                        <input type="text" class="input" asp-for="EmpName">
                        <span asp-validation-for="EmpName" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Employee No</label>
                        <input type="text" class="input" asp-for="EmpNo">
                        <span asp-validation-for="EmpNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Designation</label>
                        @Html.DropDownListFor(model => model.Desig, new SelectList(IBS.Models.Common.IEDesignation() , "Value", "Text"), "--Select--")
                        <span asp-validation-for="Desig" class="text-danger"></span>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Cadre</label>
                        @Html.DropDownListFor(model => model.Cadre, Common.GetRegionType(), new { })
                        @*<span asp-validation-for="Cadre" class="text-danger"></span>*@
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Discipline</label>
                        @Html.DropDownListFor(model => model.Discp, new SelectList(IBS.Models.Common.IEDepartmentlist() , "Value", "Text"), "--Select--")
                        <span asp-validation-for="Discp" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Status </label>
                        @Html.DropDownListFor(model => model.Status, Common.GetManPowerStatus(), new { })
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Date of Birth</label>
                        <input type="text" class="input datepicker" asp-for="Dob" placeholder="DD/MM/YYYY">
                        @*<span asp-validation-for="Dob" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Date of Joining in RITES</label>
                        <input type="text" class="input datepicker" asp-for="RitesDt" placeholder="DD/MM/YYYY">
                        @*<span asp-validation-for="RitesDt" class="text-danger"></span>*@
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Date of Joining in RIO</label>
                        <input type="text" class="input datepicker" asp-for="RioDt" placeholder="DD/MM/YYYY">
                        @*<span asp-validation-for="RioDt" class="text-danger"></span>*@
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Date of Repatriation /Retirement/Term Completion</label>
                        <input type="text" class="input datepicker" asp-for="DrrtDt" placeholder="DD/MM/YYYY">
                        @*<span asp-validation-for="DrrtDt" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="savenext-btn">
                    <button type="button" class="save-btn active Permission_Save" onclick="BtnSave()">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function BtnSave() {            
            if ($("#frmManpower").valid()) {
                $("#frmManpower").submit();
            }
        }
    </script>
}


