@model IBS.Models.DEOVendorPurchesOrderModel
@using IBS.Helper;
@{
    ViewData["Title"] = "PURCHASE ORDER SUBMITTED BY VENDORS AWAITING ALLOCATION OF CASE NUMBER";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>PURCHASE ORDER SUBMITTED BY VENDORS AWAITING ALLOCATION OF CASE NUMBER</h2>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtList" class="table-responsive nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="padR10 center">Action</th>
                            <th class="padR10 center">Edit Case No</th>
                            <th class="padR10 center">View PO Details</th>
                            <th>Ref No.</th>
                            <th>Purchase Order Number</th>
                            <th>Purchase Order Date</th>
                            <th>Recv Date</th>
                            <th>Agency</th>
                            <th>Vendor</th>
                            <th>Remarks</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<div id="EditCaseNoModal" class="modal" tabindex="-1" role="dialog">
</div>

@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {

            $("#dtList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
               // scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var CaseNo = data.CaseNo;
                            var editUrl = '@Url.Action("Manage", "DEOVendorPurchesOrder")?CaseNo=' + CaseNo;
                            var html = '<div align=\"center\" class=\"reportIcon center\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            //html += '<a onclick="MessageDelete(\'' + CaseNo + '\'); return false;" href="javascript:void(\'0\');" id=\"' + CaseNo + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var CaseNo = data.CaseNo;
                            var RealCaseNo = data.RealCaseNo == null ? "" : data.RealCaseNo;
                            //var editUrl = '@Url.Action("Manage", "DEOVendorPurchesOrder")?MessageId=' + CaseNo;
                            var html = '<div align=\"center\" class=\"reportIcon center\"> <a onclick="OpenCaseNoModal(\'' + data.CaseNo + '\',\'' + data.PoNo + '\',\'' + data.PoDt + '\',\'' + data.RlyCd + '\',\'' + RealCaseNo + '\'); return false; " href="javascript: void (\'0\');" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit Case No"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.CaseNo;
                            var poDetsilsUrl = '@Url.Action("PODetails", "DEOVendorPurchesOrder")?CaseNo=' + id;
                            var html = '<div align=\"center\" class=\"reportIcon center\"> <a href=\"' + poDetsilsUrl + '\" class=\"edit\"><i class=\"fa fa-eye Permission_EditView\" title="View PO Details"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                    
                    { data: "CaseNo" },
                    { data: "PoNo" },
                    {
                        data: "PoDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    {
                        data: "RecvDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "RlyCd" },
                    { data: "VendName" },
                    { data: "Remarks" },
                    //{
                    //    data: null,
                    //    render: function (data, type, row) {
                    //        var html = '<div align=\"center\"> <span class=\"oranges\">No PO</span>';
                    //        html += '</div>';
                    //        return html;
                    //    }
                    //},
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var CaseNo = data.CaseNo;
                            var html = "<a target='_blank' class='aTag' href='@Url.Content(Enums.GetEnumDescription(Enums.FolderPath.VendorPO))/" + CaseNo.trim() + ".PDF' Id='DocUpload_" + CaseNo + "'>Download PO</a> "
                            html += '</div>';
                            return html;
                        }
                    },
                    
                ],
                "order": [[0, "asc"]],
                "initComplete": function (settings, json) {
                    $("#dtList").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
            });
        }

        function OpenCaseNoModal(CaseNo, PoNo, PoDt, RlyCd, RealCaseNo) {
            $.ajax({
                url: '@Url.Action("EditCaseNo", "DEOVendorPurchesOrder")?CaseNo=' + CaseNo + '&PoNo=' + PoNo + '&PoDt=' + PoDt + '&RlyCd=' + RlyCd + '&RealCaseNo=' + RealCaseNo,
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response != null) {
                    $("#EditCaseNoModal").html("");
                    $("#EditCaseNoModal").html(response);
                    $("#EditCaseNoModal").modal('show');
                }
            });
        }

        function UpdateRealCaseNo() {
            var CaseNo = $("#CaseNo").val();
            var PoNo = $("#PoNo").val();
            var PoDt = $("#PoDt").val();
            var RlyCd = $("#RlyCd").val();
            var RealCaseNo = $("#RealCaseNo").val();
            if (RealCaseNo.length == 9) {
                $.ajax({
                    url: '@Url.Action("UpdateRealCaseNo", "DEOVendorPurchesOrder")?CaseNo=' + CaseNo + '&PoNo=' + PoNo + '&PoDt=' + PoDt + '&RlyCd=' + RlyCd + '&RealCaseNo=' + RealCaseNo,
                    type: 'POST',
                    cache: false,
                    processData: false,
                    contentType: false
                }).done(function (response) {
                    if (response != null) {
                        if (response.status) {
                            $("#EditCaseNoModal").modal('hide');
                            ShowHideMsgNew(response.status, response.responseText);
                            InitializeDatatable();
                        }
                        else {
                            ShowHideMsgNew(response.status, response.responseText);
                        }
                    }
                });
            }
            else
            {
                ShowHideMsgNew(false, "PLEASE ENTER 9 CHARACTERS CASE NUMBER!!!");
            }
        }
    </script>
    }
