@using IBS.Helper;
@model IBS.Models.PO_MasterModel

@{
    ViewData["Title"] = "PURCHASE ORDER FORM";
    string clsView = "";
    if (Model.CaseNo != null)
    {
        clsView = "Permission_View";
    }
}
<div class="list-inner">
    <div class="tast-list">
        <h2>PURCHASE ORDER FORM</h2>
    </div>
</div>
<section id="tab-1">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="DEOVendorPurchesOrder" asp-action="POMasterSave" data-ajax-method="post" data-ajax-complete="completed" id="frmPOMaster">
            <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CaseNo" />
            <input type="hidden" id="hdnType" />
            <input type="hidden" id="hdnRailway" />
            <input type="hidden" id="hdnRailwayCode" />
            <input type="hidden" id="hdnRCD" />
            <input type="text" class="input" asp-for="RlyNonrly" style="display:none;">
            <input type="hidden" asp-for="TempPurchaser" />
            <input type="hidden" asp-for="TempPoiCd" />

            <div class="accordion-body">
                <div class="row my-0">
                    <div class="col-md-2 mb-3">
                        <label for="Reference">Ref No.</label>
                        <input type="text" class="input" asp-for="CaseNo" readonly>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="Reference" id="lblRealCaseNO1"></label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Railway/Non-Railway<i class="text-danger">*</i></label>
                        @{
                            string rValues = "";
                            if (Model.RlyNonrly == "R")
                                rValues = "Railways";
                            else if (Model.RlyNonrly == "P")
                                rValues = "Private";
                            else if (Model.RlyNonrly == "U")
                                rValues = "PSU";
                            else if (Model.RlyNonrly == "S")
                                rValues = "State Govt.";
                            else if (Model.RlyNonrly == "F")
                                rValues = "Foreign Railways";

                        }
                        <input type="text" class="input" value="@rValues" readonly>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">&nbsp;</label>
                        @*<input type="text" class="input" asp-for="RlyCd" readonly>*@
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="Reference">Agency/Client</label>
                                @Html.DropDownListFor(model => model.RlyCd, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "--Select--",new {onchange="fill_consignee_purcher();"})
                            </div>
                            <div class="col-md-6">
                                <label for="txtBPO_RLY">&nbsp;</label><br />
                                <input type="text" class="input" id="txtBPO_RLY">
                                <span asp-validation-for="RlyCd" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @if (IBS.Helper.SessionHelper.UserModelDTO.RoleName.ToLower() != "admin")
                    {
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Case To Be Registered At</label>
                            @Html.DropDownListFor(model => model.RegionCode, new SelectList(IBS.Models.Common.RegionCode() , "Value", "Text"),"--Select--")
                            <span asp-validation-for="RegionCode" class="text-danger"></span>
                        </div>
                    }
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Stock / Non-Stock (For Railways Only)</label>
                        @Html.DropDownListFor(model => model.StockNonstock, new SelectList(IBS.Models.Common.StockNonstock() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="StockNonstock" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">PO/Offer Letter No.<i class="text-danger">*</i></label>
                        @Html.DropDownListFor(model => model.PoOrLetter, new SelectList(IBS.Models.Common.PoOrLetter() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="PoOrLetter" class="text-danger"></span>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-2 mb-3">
                        <label for="Reference">Vendor<i class="text-danger">*</i></label>
                        <input type="text" class="input" id="txtVend">
                        <label for="Reference" id="lblVendor"></label>
                    </div>
                    <div class="col-md-2 mb-3">
                        <button type="button" id="btnbtnFCList" class="btn btn-primary formSubBtn" onclick="GetVendor('1');">Select Vendor</button>
                    </div>
                    <div class="col-md-4 mb-3" style="margin-top: 32px;">
                        @Html.DropDownListFor(model => model.VendCd, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "--Select--",new {onchange="ChanedVendCd();"})
                        <span asp-validation-for="VendCd" class="text-danger"></span>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-12 mb-3">
                        <label for="Reference"><span class="astric">*</span> Select Purchase Order in case of normal Stores Purchase order and Letter of offer in case of LOA/Contract Agreement/Works Order/Other Contracts Order.</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Purchase Order No./ LOA No.</label>
                        <input type="text" class="input" asp-for="PoNo">
                        <span asp-validation-for="PoNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">PO/LOA Date (DD/MM/YYYY)</label>
                        <input id="PoDt" asp-for="PoDt" type="text" class="datepicker" placeholder="dd-MM-yyyy" readonly="readonly" />
                        <span asp-validation-for="PoDt" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Date of Reciept of PO in RITES</label>
                        <input id="PoDt" asp-for="RecvDt" type="text" class="datepicker" placeholder="dd-MM-yyyy" readonly="readonly" />
                        <span asp-validation-for="RecvDt" class="text-danger"></span>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Purchaser</label>
                        <input type="text" class="input" id="txtSPur">
                    </div>
                    <div class="col-md-4 mb-3">
                        <button type="button" class="btn btn-primary formSubBtn" onclick="SearchPurchaser();">Search Purchaser</button>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="Reference">Select "Other" if desired Purchaser not found in the list and then Enter its details in the text box below</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        @Html.DropDownListFor(model => model.PurchaserCd, new SelectList(IBS.Models.Common.Getfill_consignee_purcher("","","") , "Value", "Text"),"--Select--",new {onchange="ChanedPurchaserCd();"})
                        <span asp-validation-for="PurchaserCd" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3" id="dvPurchaser">
                        <input type="text" class="input" asp-for="Purchaser">
                    </div>
                </div>
                <div class="row my-0" style="display: none;">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Date of Reciept of PO in RITES</label>
                        <input type="text" class="input datepicker" asp-for="RecvDt" readonly="true">
                        <span asp-validation-for="RecvDt" class="text-danger"></span>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-12 mb-3">
                        <div class="reference">
                            <h4>Manufacturer's Information</h4>
                        </div>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <div class="custom-control custom-checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkManuf" onchange="sameAsVendor()" />
                                    Same As Vendor
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-12 mb-3">
                        <label for="Reference">Name of Manufacturer/Name Of Firm (In case place of inspection is other than place of manufacturer)</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" class="input" asp-for="PoiCd">
                    </div>
                    <div class="col-md-4 mb-3" id="dvbtnPOI">
                        <button type="button" id="btnPOI" class="btn btn-primary" style="width:auto;" onclick="SelectManufacturer();">Select Manufacturer</button>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="Reference"><span class="astric">*</span> To Search Enter First Few Characters Of Name and Click on Select Manufacturer Button, then select the from the list given below.</label>
                    </div>
                    <div class="col-md-4 mb-3" id="dvddlManufac">
                        @Html.DropDownListFor(model => model.ddlManufac, new SelectList(IBS.Models.Common.GetVendor(0) , "Value", "Text"),"--Select--",new {onchange="ChanedManufacturer();"})
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3" id="dvPlaceOfInspection">
                        <label for="Reference">Place of Inspection</label>
                        <input type="text" class="input" id="txtMPOI" disabled="disabled">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Remarks</label>
                        <textarea class="input" asp-for="Remarks"> </textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Contract</label>
                        @Html.DropDownListFor(model => model.Contractid, new SelectList(IBS.Models.Common.GetContract() , "Value", "Text"),"--Select--")
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="reference" style="margin-top: 42px;">
                            <div class="custom-control custom-checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" asp-for="Ispricevariation" />
                                    Does the PO include PVC clause?
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="reference" style="margin-top: 42px;">
                            <div class="custom-control custom-checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" asp-for="Isstageinspection" />
                                    Does the PO include Stage Inspection Clause?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.DrawingSpecification" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Amendment" />
                    </div>

                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.ParentLOA" />
                    </div>
                </div>
                <div class="savenext-btn">
                    <a asp-controller="DEOVendorPurchesOrder" asp-action="Index" class="reset-btn">Cancel</a>
                    <button type="button" id="btnSave" class="save-btn active Permission_Save" onclick="Save();">Save</button>
                    <button type="button" id="btnAcceptPO" class="save-btn active Permission_Save" onclick="AcceptPO();">Accept PO</button>
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PoDt').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
            });
            $('#RecvDt').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
            });
            if ('@Model.CaseNo' != null && '@Model.CaseNo' != "") {
                FillAgencyClient('@Model.RlyNonrly');
                setTimeout(function () {
                    $('#RlyCd').val('@Model.RlyCd');
                    $('#PoiCd').val('@Model.PoiCd');
                }, 2000);
                FillPurchaserCdForEdit('@Model.PurchaserCd');
                fill_manufacturer('@Model.PoiCd');
                GetManufVEND('@Model.PoiCd');
                $("#txtVend").val('@Model.VendCd');
                setTimeout(function () {
                    GetVendor(0);
                }, 2000);
            }
        });

        function Save() {
            if ($("#frmPOMaster").valid()) {
                //SaveSingleDcuments("tab-1");
                if (!SaveSingleDocuments("tab-1")) { return; }
                $("#frmPOMaster").submit();
            }
        }

        function AcceptPO() {
            var CaseNo = $("#CaseNo").val();
            var PoNo = $("#PoNo").val();
            var PoDt = $("#PoDt").val();
            $.ajax({
                url: '@Url.Action("AcceptPO", "DEOVendorPurchesOrder")?CaseNo=' + CaseNo + "&PoNo=" + PoNo + "&PoDt=" + PoDt,
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response != null) {
                    if (response.status) {
                        ShowHideMsgNew(response.status, response.responseText);
                        $("#lblRealCaseNO1").text(" Case No. --> " + response.OUT_CASE_NO);
                        $("#btnSave").attr("disabled", "disabled");
                        $("#btnAcceptPO").attr("disabled", "disabled");
                        window.location.href = '@Url.Action("Index", "DEOVendorPurchesOrder")';
                    }
                    else {
                        ShowHideMsgNew(response.status, response.responseText);
                    }
                }
            });
        }

        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            window.location.href = '@Url.Action("Index", "DEOVendorPurchesOrder")';
        };

        function FillAgencyClient(id) {
            $.ajax({
                url: '@Url.Action("GetAgencyClient", "DEOVendorPurchesOrder")?RlyNonrly=' + id,
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    $("#RlyCd").html("");
                    $.each(response.list, function (index, value) {
                        $("#RlyCd").append("<option value='" + value.Value + "' >" + value.Text + "</option>");
                    });
                    $("#hdnRCD").val($("#RlyCd").val());
                    $("#hdnRailway").val($("#RlyCd option:selected").text());
                }
            });
        }

        function FillPurchaserCd(ids) {
            var txtSPur = $("#txtSPur").val();
            $.ajax({
                url: '@Url.Action("GetPurchaserCd", "DEOVendorPurchesOrder")?consignee=' + txtSPur,
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    $("#PurchaserCd").html("");
                    var isExist = false;
                    $.each(response.list, function (index, value) {
                        //$("#PurchaserCd").append("<option value=" + value.Value + " Selected=" + value.Selected + " >" + value.Text + "</option>");
                        $("#PurchaserCd").append("<option value=" + value.Value + " >" + value.Text + "</option>");
                        if (ids != null && value.Value == ids.toString()) {
                            isExist = true;
                        }
                    });
                    if (isExist) {
                        $("#PurchaserCd").val(ids);
                    }
                }
            });
        }

        function FillPurchaserCdForEdit(ids) {
            $.ajax({
                url: '@Url.Action("GetConsigneeUsingConsignee", "POMaster")?ConsigneeSearch=' + ids,
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    $("#PurchaserCd").html("");
                    var isExist = false;
                    $.each(response.list, function (index, value) {
                        $("#PurchaserCd").append("<option value=" + value.Value + " >" + value.Text + "</option>");

                        if (ids != null && value.Value == ids.toString()) {
                            isExist = true;
                        }
                    });
                    if (ids == "0") {
                        $("#PurchaserCd").append("<option value='0' >Other</option>");
                    }
                    if (isExist) {
                        $("#PurchaserCd").val(ids);
                    }
                    ChanedPurchaserCd();
                }
            });
        }

        function ChanedPurchaserCd() {
            if ($("#PurchaserCd").val() == 0) {
                $("#dvPurchaser").css("display", "block");
            }
            else {
                $("#dvPurchaser").css("display", "none");
                $("#Purchaser").val("");
            }
        }

        function SearchPurchaser() {
            $("#TempPurchaser").val($("#txtSPur").val());
            FillPurchaserCd(null);
            setTimeout(function () {
                ChanedPurchaserCd();
            }, 2000);
        }

        function fill_consignee_purcher() {
            var RlyNonrlyValue = '@Model.RlyNonrly';
            var RlyNonrlyText = "";
            if(RlyNonrlyValue == "R")
                RlyNonrlyText = "Railways";
            else if (RlyNonrlyValue == "P")
                RlyNonrlyText = "Private";
            else if (RlyNonrlyValue == "U")
                RlyNonrlyText = "PSU";
            else if (RlyNonrlyValue == "S")
                RlyNonrlyText = "State Govt";
            else if (RlyNonrlyValue == "F")
                RlyNonrlyText = "Foreign Railways";

            var RlyCd = $("#RlyCd").val();
            $.ajax({
                url: '@Url.Action("Getfill_consignee_purcher", "DEOVendorPurchesOrder")?RlyNonrlyValue=' + RlyNonrlyValue + '&RlyNonrlyText=' + RlyNonrlyText + '&RlyCd=' + RlyCd,
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    $("#PurchaserCd").html("");
                    $.each(response.list, function (index, value) {
                        $("#PurchaserCd").append("<option value=" + value.Value + " >" + value.Text + "</option>");
                    });
                    ChanedPurchaserCd();
                }
            });
        }

        function sameAsVendor() {
            if ($("#chkManuf").prop('checked') == true) {
                fill_manufacturer(0);
                GetManufVEND(0);
            }
            else {
                $("#PoiCd").val("");
                $("#txtMPOI").val("");
                $("#ddlManufac").html("");
            }

            if ($("#chkManuf").prop('checked') == true) {
                $("#dvbtnPOI").css("display", "none");
                $("#dvddlManufac").css("display", "block");
                fill_manufacturer(0);
                setTimeout(function () {
                    $("#TempPoiCd").val($("#ddlManufac").val());
                    $("#PoiCd").val($("#ddlManufac").val());
                }, 1000);
                GetManufVEND(0);
            }
            else {
                $("#dvbtnPOI").css("display", "block");
                $("#dvddlManufac").css("display", "none");
                $("#PoiCd").val("");
                $("#txtMPOI").val("");
                $("#ddlManufac").html("");
                $("#PoiCd").removeAttr("disabled");
            }
        }

        function fill_manufacturer(id) {
            var isSameAs = false;
            if ($("#chkManuf").prop('checked') == true) {
                isSameAs = true;
            }
            var VendCd = '@Model.VendCd';
            $.ajax({
                url: '@Url.Action("GetVendor", "DEOVendorPurchesOrder")?VendCd=' + VendCd + "&searchValues=" + id + "&isSameAs=" + isSameAs,
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.list != null) {
                    $("#ddlManufac").html("");
                    //$("#ddlManufac").append("<option value=''>--Select--</option>");
                    $.each(response.list, function (index, value) {
                        $("#ddlManufac").append("<option value=" + value.Value + " Selected=" + value.Selected + " >" + value.Text + "</option>");
                    });
                }
                else {
                    ShowHideMsgNew(response.status, "No Vendor Found!!!");
                }
            });
        }

        function GetManufVEND(id) {
            var VendCd = '@Model.VendCd';
            $.ajax({
                url: '@Url.Action("GetManufVEND", "DEOVendorPurchesOrder")?VendCd=' + VendCd + "&id=" + id,
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    if (response.getvendor.VendStatus == 'B') {
                        ShowHideMsgNew(response.getvendor.status, "It is informed that due to unavoidable reasons, online call booking facility has temporarily restricted against your ID From: " + response.getvendor.VendStatusDtFrST);
                    }
                    else {
                        $("#PoiCd").val($("#ddlManufac").val());
                        $("#txtMPOI").val(response.getvendor.VendAdd1);
                    }
                }

            });
        }

        function SelectManufacturer() {
            $("#dvddlManufac").css("display", "block");
            var PoiCd = $("#PoiCd").val();
            fill_manufacturer(PoiCd);
            setTimeout(function () {
                $("#TempPoiCd").val($("#ddlManufac").val());
                $("#PoiCd").val($("#ddlManufac").val());
            }, 1000);

            setTimeout(function () {
                GetManufVEND($("#PoiCd").val());
            }, 2000);
            GetManufVEND(PoiCd);
        }

        function ChanedManufacturer() {
            $("#TempPoiCd").val($("#ddlManufac").val());
            $("#PoiCd").val($("#ddlManufac").val());
            setTimeout(function () {
                GetManufVEND($("#PoiCd").val());
            }, 2000);

        }
        function ChanedVendCd() {
            $("#txtVend").val($("#VendCd").val());
        }
        
        function GetVendor(i) {
            var VEND_CD = $("#txtVend").val();
            $.ajax({
                url: '@Url.Action("GetVend_CD", "DEOVendorPurchesOrder")?VEND_CD=' + VEND_CD,
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    $("#VendCd").html("");
                    $.each(response.list, function (index, value) {
                        $("#VendCd").append("<option value=" + value.Value + " >" + value.Text + "</option>");
                    });
                    vendor_status($("#VendCd").val());
                }
            });
        }

        function vendor_status(VendCd) {
            $.ajax({
                url: '@Url.Action("Getvendor_status", "DEOVendorPurchesOrder")?VendCd=' + VendCd,
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    ShowHideMsgNew(response.status, response.responseText);
                    $("#txtVend").val("");
                }
                else {
                    $("#txtVend").val(VendCd);
                }
            });
        }

    </script>
}