
@{
    string Title = "";
    string ButtonTitle = "";
    if (ViewBag.Type == "C")
    {
        Title = "Clients Contact List";
        ButtonTitle = "Add New Clients Contact";
    }
    else if (ViewBag.Type == "B")
    {
        Title = "BD Efforts List";
        ButtonTitle = "Add New BD Efforts";
    }
    else
    {
        Title = "DFO Visit List";
        ButtonTitle = "Add New DFO Visit";
    }
    ViewData["Title"] = Title;
}

<div>
    <input type="hidden" id="@ViewBag.Type" value="@ViewBag.Type" />
    <div class="list-inner">
        <div class="tast-list">
            <h2>@Title</h2>
        </div>
        <div class="list-btn">
            <a asp-area="" asp-controller="ClientContract" asp-action="Manage" asp-route-id="0" asp-route-Type="@ViewBag.Type" class="formBtn Permission_Add"><span class="fa fa-plus"></span> @ButtonTitle</a>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtClientContract" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>                            
                            <th>Client</th>
                            <th>VisitDt</th>
                            <th>ClientOfficerName</th>
                            <th>OverallOutcome</th>
                            <th>Highlights</th>                            
                            <th class="actionsTd">Action</th>
                            @*<th>View Contract</th>*@
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        
        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {
            $("#dtClientContract").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            Type : '@ViewBag.Type'
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "Client" },
                    { data: "VisitDt" },
                    { data: "ClientOfficerName" },
                    { data: "OverallOutcome" },
                    { data: "Highlights" },                                        
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.Id;
                            var TypeCb = data.TypeCb;
                            var editUrl = '@Url.Action("Manage", "ClientContract")/' + id;
                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            html += '<a onclick="ClientContractDelete(' + id + ',\'' + TypeCb + '\'); return false;" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete Permission_Delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function ClientContractDelete(id, TypeCb) {
            var url = '@Url.Action("Delete", "ClientContract")?id=' + id + "&Type=" + TypeCb;
            $("#btn-delete-yes").attr("href", url);
            $("#modal-delete-conf").modal("show");
        }
    </script>
}
