@model IBS.Models.Reports.RemitanceModel
<div>
    <h3 class="heading3">Statement of Short/Excess Payment against the Bills for the Period : <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate </span> (@Model.Region)</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th width="5%" valign="top" align="center"><b><font size="1" face="Verdana">S.No.</font></b></th>
                    <th width="35%" valign="top" align="center"><b><font size="1" face="Verdana">BPO</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">BILL NO.</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">BILL DATE</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">BILL AMOUNT</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">AMOUNT CLEARED</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">EXCESS</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">SHORT</font></b></th>
                </tr>
                @if (Model != null && Model.lstRemitanceStatementExcess != null && Model.lstRemitanceStatementExcess.Count > 0)
                {
                    int SrNo = 0;
                    string wBPO = "", pBPO = "";
                    double w_bamt = 0, w_bmtclear = 0, wExcess = 0, wShort = 0, w_TotExcess = 0, w_TotShort = 0;
                    @foreach (var item in Model.lstRemitanceStatementExcess)
                    {
                        SrNo++;
                        @if (Convert.ToDouble(@item.EXCESS_SHORT) > 0)
                        {
                            wShort = Convert.ToDouble(@item.EXCESS_SHORT);
                            wExcess = 0;
                        }
                        else
                        {
                            wExcess = -1.0 * Convert.ToDouble(@item.EXCESS_SHORT);
                            wShort = 0;
                        }
                        @if (wBPO == Convert.ToString(@item.BPO))
                        { pBPO = ""; }
                        else
                        {
                            wBPO = Convert.ToString(@item.BPO);
                            pBPO = wBPO;
                        }
                        w_bamt = w_bamt + Convert.ToDouble(@item.BILL_AMOUNT);
                        w_bmtclear = w_bmtclear + Convert.ToDouble(@item.BILL_AMT_CLEARED);
                        w_TotExcess = w_TotExcess + wExcess;
                        w_TotShort = w_TotShort + wShort;
                        <tr>
                            <td align="center" colspan="1"><font size="1" face="Verdana">@SrNo</font></td>
                            <td align="left"><font size="1" face="Verdana">@pBPO</font></td>
                            <td align="center"><font size="1" face="Verdana">@item.BILL_NO</font></td>
                            <td align="center"><font size="1" face="Verdana">@Convert.ToDateTime(@item.BILL_DT).ToString("dd/MM/yyyy")</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.BILL_AMOUNT</font></td>

                            <td align="right"><font size="1" face="Verdana">@item.BILL_AMT_CLEARED</font></td>
                            
                            @if (wExcess == 0)
                            {
                                <td align='right'><font size='1' face='Verdana'></font></td>
                            }
                            else
                            {
                                <td align="right"><font size="1" face="Verdana">@wExcess</font></td>
                            }
                            
                            @if (wShort == 0)
                            {
                                <td align='right'><font size='1' face='Verdana'></font></td>
                            }
                            else
                            {
                                <td align="right"><font size="1" face="Verdana">@wShort</font></td>
                            }
                            
                        </tr>
                    }
                    <tr class="reportTotal">
                        <td width='5%' valign='top' align='center' colspan='4'> <font size='1' face='Verdana'><b>Total : </b></font></td>
                        <td width='7%' valign='top' align='right'><font size='1' face='Verdana'><b>@w_bamt</b></font></td>
                        <td width='7%' valign='top' align='right'><font size='1' face='Verdana'><b>@w_bmtclear</b></font></td>
                        <td width='7%' valign='top' align='right'><font size='1' face='Verdana'><b>@w_TotExcess</b></font></td>
                        <td width='7%' valign='top' align='right'><font size='1' face='Verdana'><b>@w_TotShort</b></font></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="13" style="text-align:center; background: #f1f1f1 !important;"><font size="1" face="Verdana">No records found</font></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


