@model IBS.Models.ChatMessage
<input type="hidden" id="hdnCurrDtCount" value="@Model.CurrDateCount" />
<ul id="messageList" class="chatBodyText">
    @{
        if (Model.lstMsg.Count > 0)
        {
            var msgDate = DateTime.Now.ToString("dd MMMM yyyy");
            var Cnt = 0;

            foreach (var item in Model.lstMsg)
            {
                var FileUrl = "";
                var clsDel = "clsDel_" + item.ID;
                FileUrl = item.RelativePath + "/" + item.Field_ID;

                var clsDate = "";
                if (msgDate != item.Msg_Date.Date.ToString("dd MMMM yyyy"))
                {
                    Cnt = Cnt + 1;
                    msgDate = item.Msg_Date.Date.ToString("dd MMMM yyyy");
                    clsDate = "clsDate_" + Convert.ToDateTime(msgDate).ToString("ddMMMMyyyy");
                    <li class="@clsDate"><div class="messageDate"><span>@msgDate</span></div></li>
                }
                else if (DateTime.Now.ToString("dd MMMM yyyy") == item.Msg_Date.Date.ToString("dd MMMM yyyy") && Cnt == 0)
                {
                    Cnt = Cnt + 1;
                    clsDate = "clsDate_" + Convert.ToDateTime(msgDate).ToString("ddMMMMyyyy");
                    <li class="@clsDate"><div class="messageDate"><span>@msgDate</span></div></li>
                }

                if (Convert.ToString(Model.Master_ID) == item.msg_send_ID)
                {
                    if (!string.IsNullOrEmpty(item.Field_ID))
                    {
                        <li class="sendTextHolder @clsDel" id="@item.ID">
                            <div class="deleteSelect">
                                <span class="fa fa-chevron-down"></span>
                                <div class="fileUploadDelete">
                                    <ul class="editDeleteFile">
                                        <li onclick="DeleteMessage(@item.ID)"><a href="#"><span class="fa fa-trash"></span> Delete</a></li>
                                        @*<li onclick="DeleteMessage(@item.ID)"><a href="#"><span class="fa fa-pencil"></span> Edit</a></li>*@
                                    </ul>
                                </div>
                            </div>
                            <div class="sendText">
                                <div class="box-body">
                                    <div class="attachment-block">
                                        @if (item.Extension == ".jpg" || item.Extension == ".jpeg" || item.Extension == ".png")
                                        {
                                            <a href="@FileUrl" class="chatImagePopup"><img id="imgC" style="width:100px;" class="attachment-img" src="@FileUrl" alt="Attachment Image"></a>
                                        }
                                        else /*if (item.Extension != ".jpg" && item.Extension != ".jpeg" && item.Extension != ".png" && !string.IsNullOrEmpty(item.Extension))*/
                                        {
                                            <a href="@FileUrl" class="chatImagePopup"><img id="imgC" style="width:100px;" class="attachment-img" src="../images/file-icon.png" alt="Attachment Image"></a>
                                        }
                                        <div class="attachment-pushed">
                                            <span class="attachment-heading"><i class="fa fa-image"></i> @item.FileDisplayName</span>
                                        </div>
                                    </div>
                                    <div class="fileDownload">
                                        <div>
                                            <a id="btnDownload" href="@FileUrl" download="@item.FileDisplayName"><i class="fa fa fa-download"></i> Download</a>
                                            <a id="ShowModelImg" href="@FileUrl" class="chatImagePopup" target="_blank"><i class="fa fa-camera"></i> View</a>
                                        </div>
                                        <span class="chatFileSize">File Size : @item.FileSize</span>
                                    </div>
                                </div>
                                <span class="timeStamp">@item.Msg_Date.ToString("hh:mm tt")</span>
                            </div>
                        </li>
                    }

                    if (!string.IsNullOrEmpty(item.message))
                    {
                        <li class="sendTextHolder @clsDel" id="@item.ID">
                            <div class="deleteSelect">
                                <span class="fa fa-chevron-down"></span>
                                <div class="fileUploadDelete">
                                    <ul class="editDeleteFile">
                                        <li onclick="DeleteMessage(@item.ID)"><a href="#"><span class="fa fa-trash"></span> Delete</a></li>
                                        @*<li onclick="DeleteMessage(@item.ID)"><a href="#"><span class="fa fa-pencil"></span> Edit</a></li>*@
                                    </ul>
                                </div>
                            </div>
                            <div class="sendText">@item.message <span class="timeStamp">@item.Msg_Date.ToString("hh:mm tt")</span></div>
                        </li>
                    }
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Field_ID))
                    {
                        <li class="reciveTextHolder @clsDel" id="@item.ID">
                            <div class="recieveText">
                                <div class="box-body">
                                    <div class="attachment-block">
                                        @if (item.Extension == ".jpg" || item.Extension == ".jpeg" || item.Extension == ".png")
                                        {
                                            <a href="@FileUrl" class="chatImagePopup"><img id="imgC" style="width:100px;" class="attachment-img" src="@FileUrl" alt="Attachment Image"></a>
                                        }
                                        else /*if (item.Extension != ".jpg" && item.Extension != ".jpeg" && item.Extension != ".png" && !string.IsNullOrEmpty(item.Extension))*/
                                        {
                                            <a href="@FileUrl" class="chatImagePopup"><img id="imgC" style="width:100px;" class="attachment-img" src="../images/file-icon.png" alt="Attachment Image"></a>
                                        }
                                        <div class="attachment-pushed">
                                            <span class="attachment-heading"><i class="fa fa-image"></i> @item.FileDisplayName</span>
                                        </div>
                                    </div>
                                    <div class="fileDownload">
                                        <div>
                                            <a id="btnDownload" href="@FileUrl" download="@item.FileDisplayName"><i class="fa fa fa-download"></i> Download</a>
                                            <a id="ShowModelImg" href="@FileUrl" class="chatImagePopup" target="_blank"><i class="fa fa-camera"></i> View</a>
                                        </div>
                                        <span class="chatFileSize">File Size : @item.FileSize</span>
                                    </div>
                                </div>
                                <span class="timeStamp">@item.Msg_Date.ToString("hh:mm tt")</span>
                            </div>
                        </li>
                    }

                    if (!string.IsNullOrEmpty(item.message))
                    {
                        <li class="reciveTextHolder @clsDel" id="@item.ID">
                            <div class="recieveText">@item.message <span class="timeStamp">@item.Msg_Date.ToString("hh:mm tt")</span></div>
                        </li>
                    }
                }
            }
        }
    }
</ul>
<div class="chatInputArea">
    <input type="text" id="txtMsg" autocomplete="off" />
    <div class="upload-btn-wrapper submitChatBtn">
        <button><span class="fa fa-paperclip"></span></button>
        <input type="file" name="myfile" id="fileupload2" />
    </div>
    <button type="button" class="submitChatBtn" onclick="SendMessage(2);"><span class="fa fa-paper-plane"></span></button>
</div>
<div class="fileUploadedInfo" style="display:none;">
    <span class="fileUploadedInfoClose" onclick="CloseFileUploadPopup()">X</span>
    <h4>You have choosen file</h4>
    <span class="fileUploadFileName"><i class="fa fa-image"></i> Profile.png</span>
    <span class="chatFileSize"><b>File Size : </b><span id="FileSize">10KB</span></span>
</div>

<script src="~/js/ChatMessageHistory.js"></script>
