@model IBS.Models.ChatMessage
<input type="hidden" id="hdnCurrDtCount" value="@Model.CurrDateCount" />
<ul id="messageList" class="chatBodyText">
    @{
        if (Model.lstMsg.Count > 0)
        {
            var msgDate = DateTime.Now.ToString("dd MMMM yyyy");
            var Cnt = 0;
            foreach (var item in Model.lstMsg)
            {
                var FileUrl = "";
                FileUrl = item.RelativePath + "/" + item.Field_ID;
                if (msgDate != item.Msg_Date.Date.ToString("dd MMMM yyyy"))
                {
                    Cnt = Cnt + 1;
                    msgDate = item.Msg_Date.Date.ToString("dd MMMM yyyy");
                    <li><div class="messageDate"><span>@msgDate</span></div></li>
                }
                else if (DateTime.Now.ToString("dd MMMM yyyy") == item.Msg_Date.Date.ToString("dd MMMM yyyy") && Cnt == 0)
                {
                    Cnt = Cnt + 1;
                    <li><div class="messageDate"><span>@msgDate</span></div></li>
                }

                if (Convert.ToString(Model.Master_ID) == item.msg_send_ID)
                {
                    if (!string.IsNullOrEmpty(item.Field_ID))
                    {
                        <li class="sendTextHolder">
                            <div class="sendText">
                                <div class="box-body">
                                    <div class="attachment-block">
                                        @{
                                            if (item.Extension.ToLower() == ".jpg" || item.Extension.ToLower() == ".jpeg" || item.Extension.ToLower() == ".png")
                                            {
                                                <a href="@FileUrl" class="chatImagePopup"><img id="imgC" style="width:100px;" class="attachment-img" src="@FileUrl" alt="Attachment Image"></a>
                                            }
                                        }
                                        <div class="attachment-pushed">
                                            <span class="attachment-heading"><i class="fa fa-image"></i> @item.FileDisplayName</span>
                                        </div>
                                    </div>
                                    <div class="fileDownload">
                                    <div>
                                    <a id="btnDownload" href="@FileUrl" download="@item.FileDisplayName"><i class="fa fa fa-download"></i> Download</a>
                                    <a id="ShowModelImg" href="@FileUrl" class="chatImagePopup"><i class="fa fa-camera"></i> View</a>
                                        </div>
                                    <span class="chatFileSize">File Size : 10 KB</span>
                                    </div>
                                </div>
                                <span class="timeStamp">@item.Msg_Date.ToString("hh:mm tt")</span>
                            </div>
                        </li>
                    }

                    if (!string.IsNullOrEmpty(item.message))
                    {
                        <li class="sendTextHolder">
                            <div class="sendText">@item.message <span class="timeStamp">@item.Msg_Date.ToString("hh:mm tt")</span></div>
                        </li>
                    }
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Field_ID))
                    {
                        <li class="reciveTextHolder">
                            <div class="recieveText">
                                <div class="box-body">
                                    <div class="attachment-block clearfix">
                                        @{
                                            if (item.Extension.ToLower() == ".jpg" || item.Extension.ToLower() == ".jpeg" || item.Extension.ToLower() == ".png")
                                            {
                                                <a href="@FileUrl" class="chatImagePopup"><img id="imgC" style="width:100px;" class="attachment-img" src="@FileUrl" alt="Attachment Image"></a>
                                            }
                                        }
                                        <div class="attachment-pushed">
                                            <span class="attachment-heading"><i class="fa fa-image">@item.FileDisplayName</i></span>
                                        </div>
                                    </div>
                                    <div class="fileDownload">
                                        <div>
                                    <a id="btnDownload" href="@FileUrl" download="@item.FileDisplayName"><i class="fa fa fa-download"></i> Download</a>
                                    <a id="ShowModelImg" href="@FileUrl" class="chatImagePopup"><i class="fa fa-camera"></i> View</a>
                                        </div>
                                    <span class="chatFileSize">File Size : 10 KB</span>
                                    </div>
                                </div>
                                <span class="timeStamp">@item.Msg_Date.ToString("hh:mm tt")</span>
                            </div>
                        </li>
                    }

                    if (!string.IsNullOrEmpty(item.message))
                    {
                        <li class="reciveTextHolder">
                            <div class="recieveText">@item.message <span class="timeStamp">@item.Msg_Date.ToString("hh:mm tt")</span></div>
                        </li>
                    }
                }
            }
        }
    }
</ul>
<div class="chatInputArea">
    <input type="text" id="txtMsg" autocomplete="off" />
    <div class="upload-btn-wrapper submitChatBtn">
        <button><span class="fa fa-paperclip"></span></button>
        <input type="file" name="myfile" id="fileupload2" />
    </div>
    <button type="button" class="submitChatBtn" onclick="SendMessage(2);"><span class="fa fa-paper-plane"></span></button>
</div>
<script type="text/javascript">

    $('#txtMsg').keypress(function (e) {
        if (e.keyCode == 13) {  // detect the enter key
            SendMessage(2);
        }
    });

    //$('#fileupload2').change(function (e) {
    //    var fileInput = this;
    //    var file = fileInput.files[0];
    //    var type = 1;
    //    if (file != null) {
    //        UploadFile(2, file)
    //    }
    //});

    $('#fileupload2').change(function (e) {
        handleFile('fileupload2');
    });

</script>
