@model IBS.Models.ChatMessage

@{
    ViewData["Title"] = "Index";
    string SenderId = ViewBag.SenderId <= 0 ? "" : Convert.ToString(ViewBag.SenderId);
    string ReceiverId = Model.msg_recv_ID == "0" ? "" : Convert.ToString(Model.msg_recv_ID);
    string SiteUrl = Model.HostUrl;
}

<input type="hidden" id="hdnBase64String" value="" />
<input type="hidden" id="hdnFileName" value="" />
<input type="hidden" id="hdnFileSize" value="" />
<div class="list-inner">
    <div class="tast-list">
        <h2>Users Chat</h2>
    </div>
</div>
<div class="task-listinput">
    <form role="form" id="frmChatMessage">
        <div class="accordion-body chatArea">
            <div class="chatTopFilter">
                <div class="row my-0">
                    <div class="col-md-3">
                        <label for="Reference">Users</label>
                        <div class="userMultiSelect">@Html.ListBox("dpUser", new MultiSelectList(Common.GetUserMaster(), "Value", "Text"), new { multiple = "multiple" })</div>
                    </div>
                    <div class="col-md-8">
                        <label for="Reference">Message</label>
                        <input type="text" id="txtMessage" />
                    </div>
                    <div class="col-md-1 d-flex justify-content-between">
                        @*<div class="topUploadCustom">
                        <div class="upload-btn-wrapper submitChatBtn">
                        <button><span class="fa fa-paperclip"></span></button>
                        <input type="file" id="fileupload" class="fileUploadNormal" multiple>
                        </div>
                        </div>*@

                        <div class="savenext-btn" style="margin-top:28px;">
                            <button type="button" class="save-btn active" id="btnSave" onclick="SendMessage(1);"><span class="fa fa-paper-plane"></span></button>
                        </div>
                    </div>

                </div>
            </div>
            <div id="divFile"></div>
            <div class="chatBox">
                <div class="chatBoxHeader">
                    <h2>Message</h2>
                </div>
                <div class="messageBody">
                    <div class="chatBoxBody chatLeftBoxBody">
                    </div>
                    <div class="userChatBox">
                        <div class="chatUserHeader">
                            <ul>
                                <li class="userList">
                                    <div class="chatBoxIcon chatBoxIconBg1 clsShortName"></div>
                                    <div class="chatBoxInfo">
                                        <h4 class="clsName"></h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="chatBoxBody chatRightBoxBody">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<link href="~/css/chat.css" rel="stylesheet" />
<script src="~/js/signalr.min.js"></script>

<link href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>

<script type="text/javascript">

    var connection = new signalR.HubConnectionBuilder().withUrl('@SiteUrl' + "/chatHub").build();
    var SenderId = "@SenderId";
    var ReceiverId = "@ReceiverId";
    var Cnt = 0;
    var byteArray = [];
    var base64String = "";


    $(document).ready(function () {
        GetUserReceiverList();
        GetChatMessageList(ReceiverId);

        $('#dpUser').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            includeFilterClearBtn: true,
            enableCaseInsensitiveFiltering: true
        });

        $(document).ajaxSend(function () {
            $(".overlayLoader").hide();
        });
    });

    $('#fileupload').change(function (e) {
        handleFile('fileupload');
    });

    function GetUserReceiverList() {
        $.ajax({
            url: '@Url.Action("ChatUserReceiver", "Chat")',
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response != null) {
                $(".chatLeftBoxBody").html("");
                $(".chatLeftBoxBody").html(response);
                $(".userList").removeClass("active");
                $("#li" + ReceiverId).addClass("active");
            }
        });
    }

    function GetChatMessageList(recvid) {
        ReceiverId = recvid;
        $.ajax({
            url: '@Url.Action("ChatMessageHistory", "Chat")/' + ReceiverId,
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response != null) {
                $(".chatRightBoxBody").html("");
                $(".chatRightBoxBody").html(response);
                $(".userList").removeClass("active");
                $("#li" + ReceiverId).addClass("active");
                $(".chatBoxBody").scrollTop($(".chatBodyText").height());

                Cnt = parseInt($("#hdnCurrDtCount").val());
                $(".clsShortName").html($(".SN_" + recvid).html());
                $(".clsName").html($(".N_" + recvid).html());
            }
        });
    }

    function SendMessage(type) {
        var Message = "";

        if (type == 1) {
            ReceiverId = $("#dpUser").val().join(",");
            Message = $("#txtMessage").val();

            // validation
            if (ReceiverId == "" && Message == "") {
                return;
            }
            else if (ReceiverId != "" && Message == "") {
                return;
            }
        }
        else if (type == 2) {
            Message = $("#txtMsg").val();

            if (ReceiverId == "" && Message == "" && $(".fileUploadFileName").html() == "") {
                return;
            }
            else if (ReceiverId != "" && (Message == "" || $(".fileUploadFileName").html() != "")) {
            }
            else if (ReceiverId != "" && (Message == "" || $(".fileUploadFileName").html() == "")) {
                return;
            }
        }

        var imagesJson = null;

        if ($("#hdnBase64String").val() != "" && $("#hdnFileName").val() != "") {
            imagesJson = [
                { image: $("#hdnBase64String").val(), filename: $("#hdnFileName").val(), filesize: $("#hdnFileSize").val() },
            ];
        }
        connection.invoke("SendMessage", SenderId, ReceiverId, Message, type, imagesJson);

        if (type == 1) { $("#txtMessage").val(""); }
        else if (type == 2) { $("#txtMsg").val(""); }

        $("#hdnBase64String").val("");
        $("#hdnFileName").val("");
        $("#hdnFileSize").val("");
    }

    connection.start().then(function () {
        connection.invoke("OnConnectedAsync", SenderId);
    });

    connection.on("ReceiveMessage", function (recvID, Message, MsgType, Msg_Date, File_Field_ID, FileDisplayName, FileSize, Extension, CurrDateCnt, ResultID, clsDate) {
        if (MsgType == 1) {
            window.location.href = "@Url.Action("Index", "Chat")";
        }
        else {
            var FilePath = "../ReadWriteData/CHAT_FILES/";
            if (File_Field_ID != "" && File_Field_ID != null) { FilePath = FilePath + File_Field_ID }
            var element = "";
            var clsDel = "clsDel_" + ResultID;
            if (CurrDateCnt == 1) {
                var clsDate = "clsDate_" + "@DateTime.Now.ToString("ddMMMMyyyy")"
                element += '<li class="' + clsDate + '"><div class="messageDate"><span>' + "@DateTime.Now.ToString("dd MMMM yyyy")" + '</span></div></li>'
                $(".chatBodyText").append(element);
            }
            element = "";
            //Sender Side
            if (SenderId != recvID) {
                if (File_Field_ID != "" && File_Field_ID != null) {
                    element += '<li class="sendTextHolder ' + clsDel + '" id="' + ResultID + '" >' +
                        '<div class="deleteSelect">' +
                        '<div class="deleteSelectTriggerNew"><span class="fa fa-chevron-down" ></span></div>' +
                        '<div class="fileUploadDelete">' +
                        '<ul class="editDeleteFile" >' +
                        '<li onclick="DeleteMessage(' + ResultID + ')" > <a href="#" > <span class="fa fa-trash" > </span> Delete</a > </li>' +
                        '</ul>' +
                        '</div>' +
                        '</div>' +
                        '<div class="sendText" >' +
                        '<div class="box-body">' +
                        '<div class="attachment-block">';
                    if (Extension == ".jpg" || Extension == ".jpeg" || Extension == ".png") {
                        element += '<a href="' + FilePath + '" class="chatImagePopup"><img id="imgC" style="width:100px;" class="attachment-img" src="' + FilePath + '" alt="Attachment Image"></a>';
                    } else {
                        element += '<a href="' + FilePath + '" class="chatImagePopup"><img id="imgC" style="width:100px;" class="attachment-img" src="../images/file-icon.png" alt="Attachment Image"></a>';
                    }
                    element += '<div class="attachment-pushed">' +
                        '<span class="attachment-heading"><i class="fa fa-image"> ' + FileDisplayName + '</i></span>' +
                        '</div>' +
                        '</div>' +
                        '<div class="fileDownload">' +
                        '<div>' +
                        '<a id="btnDownload" href="' + FilePath + '" download="' + FileDisplayName + '" style="margin-right:5px;"><i class="fa fa fa-download"></i> Download</a>' +
                        '<a id="ShowModelImg" href="' + FilePath + '" class="chatImagePopup" target="_blank"><i class="fa fa-camera"></i> View</a>' +
                        '</div>' +
                        '<span class="chatFileSize">File Size : ' + FileSize + '</span>' +
                        '</div>' +
                        '</div>' +
                        '<span class="timeStamp">' + Msg_Date + '</span>' +
                        '</div></li>';
                }
                if (Message != "" && Message != null) {
                    element += '<li class="sendTextHolder ' + clsDel + '" id="' + ResultID + '">' +
                        '<div class="deleteSelect">' +
                        '<div class="deleteSelectTriggerNew"><span class="fa fa-chevron-down" > </span></div>' +
                        '<div class="fileUploadDelete" >' +
                        '<ul class="editDeleteFile" >' +
                        '<li onclick="DeleteMessage(' + ResultID + ')" > <a href="#" > <span class="fa fa-trash" > </span> Delete</a > </li>' +
                        '</ul>' +
                        '</div>' +
                        '</div>' +
                        '<div class="sendText" >' + Message + '<span class="timeStamp">' + Msg_Date + '</span></div></li>';
                }
                $(".chatBodyText").append(element);
                $(".chatBoxBody").scrollTop($(".chatBodyText").height());
                $("#txtMsg").focus();
            }

            //Receiver Side
            if (SenderId == recvID) {
                if (File_Field_ID != "" && File_Field_ID != null) {
                    element += '<li class="reciveTextHolder ' + clsDel + '" id="' + ResultID + '"> <div class="recieveText" >' +
                        '<div class="box-body">' +
                        '<div class="attachment-block">';
                    if (Extension == ".jpg" || Extension == ".jpeg" || Extension == ".png") {
                        element += '<a href="' + FilePath + '" class="chatImagePopup"><img id="imgC" style="width:100px;" class="attachment-img" src="' + FilePath + '" alt="Attachment Image"></a>';
                    } else {
                        element += '<a href="' + FilePath + '" class="chatImagePopup"><img id="imgC" style="width:100px;" class="attachment-img" src="../images/file-icon.png" alt="Attachment Image"></a>';
                    }
                    element += '<div class="attachment-pushed">' +
                        '<span class="attachment-heading"><i class="fa fa-image"> ' + FileDisplayName + '</i></span>' +
                        '</div>' +
                        '</div>' +
                        '<div class="fileDownload">' +
                        '<div>' +
                        '<a id="btnDownload" href="' + FilePath + '" download="' + FileDisplayName + '" style="margin-right:5px;"><i class="fa fa fa-download"></i> Download</a> ' +
                        '<a id="ShowModelImg" href="' + FilePath + '" class="chatImagePopup" target="_blank"><i class="fa fa-camera"></i> View</a>' +
                        '</div>' +
                        '<span class="chatFileSize">File Size : ' + FileSize + '</span>' +
                        '</div>' +
                        '</div>' +
                        '<span class="timeStamp">' + Msg_Date + '</span>' +
                        '</div></li>';
                }
                if (Message != "" && Message != null) {
                    element += '<li class="reciveTextHolder ' + clsDel + '" id="' + ResultID + '"> <div class="recieveText" >' + Message + '<span class="timeStamp">' + Msg_Date + '</span></div></li>';
                }
                $(".chatBodyText").append(element);
                $(".chatBoxBody").scrollTop($(".chatBodyText").height());
                $("#txtMsg").focus();
            }

            $(".fileUploadedInfo").hide();
            
            if ($(".deleteSelectTriggerNew").length) {
            $(".deleteSelectTriggerNew").click(function () {
                if ($(".fileUploadDelete").is(":visible")) {
                    $(this).next().slideUp();
                        
                } else {
                    $(this).next().slideDown();
                    return false;
                }
            });
            }
            //var runscript = document.createElement('script');
            //runscript.setAttribute('src', '/js/ChatMessageHistory.js');
            //document.head.appendChild(runscript);
        }
    });

    $('#txtMessage').keypress(function (e) {
        if (e.keyCode == 13) {  // detect the enter key
            e.preventDefault();
            SendMessage(1);
        }
    });

    async function handleFile(fileId) {
        const fileInput = document.getElementById(fileId);
        const file = fileInput.files[0];

        var fSExt = new Array('Bytes', 'KB', 'MB', 'GB');
        var sizeinbytes = file.size;
        fSize = sizeinbytes; i = 0; while (fSize > 900) { fSize /= 1024; i++; }
        var FileSize = (Math.round(fSize * 100) / 100) + ' ' + fSExt[i];

        if (file) {
            const base64String = await readAsDataURL(file);
            $("#hdnBase64String").val(base64String);
            $("#hdnFileName").val(file.name);
            $("#hdnFileSize").val(FileSize);

            // Preview File Upload
            $("#FileSize").html(FileSize);
            $(".fileUploadFileName").html(file.name);
            $(".fileUploadedInfo").show();
        }
        else {
            $("#hdnBase64String").val("");
            $("#hdnFileName").val("");
            $("#hdnFileSize").val("");

            // Preview File Upload
            $("#FileSize").html("");
            $(".fileUploadFileName").html("");
            $(".fileUploadedInfo").hide();
        }
    }

    function readAsDataURL(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();

            reader.onload = function (event) {
                //resolve(event.target.result.split(',')[1]);
                resolve(event.target.result);
            };

            reader.onerror = function (error) {
                reject(error);
            };

            reader.readAsDataURL(file);
        });
    }

    function DeleteMessage(Id) {
        connection.invoke("DeleteMessage", SenderId, ReceiverId, Id);
    }

    connection.on("ReceiveDeleteMessage", function (ReceiverId, DeletedId, CurrDateCnt, Result, DeleteDate) {
        if (Result > 0) {
            $(".clsDel_" + DeletedId).remove();
            if (CurrDateCnt == 0) {
                $("." + DeleteDate).remove();
            }
            $(".chatBoxBody").scrollTop($(".chatBodyText").height());
        }
    });
</script>