@model IBS.Models.ChatMessage

@{
    ViewData["Title"] = "Index";
    int SenderId = ViewBag.SenderId;
}

<div class="list-inner">
    <div class="tast-list">
        <h2>SignalR Chat Demo</h2>
    </div>
</div>
<div class="task-listinput">
    <form role="form" id="frmChatMessage">
        <div class="accordion-body chatArea">
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">User Name</label>
                    @Html.DropDownListFor(Model => Model.msg_recv_ID, new SelectList(IBS.Models.Common.GetUserMaster(), "Value", "Text"), "--Select--")
                    <span asp-validation-for="msg_recv_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="savenext-btn mb-5">
                <button type="button" class="save-btn active" id="btnSave" onclick="SaveMessage();">Save</button>
            </div>
            <div class="chatBox">
                <div class="chatBoxHeader">
                    <h2>Message</h2>
                </div>
                <div class="messageBody">
                    <div class="chatBoxBody chatLeftBoxBody">
                    </div>
                    <div class="userChatBox">
                        <div class="chatBoxBody chatRightBoxBody">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<link href="~/css/chat.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>

<script>

    var SenderId = '@SenderId';
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

    $(document).ready(function () {
        var id = "@Model.msg_recv_ID";

        GetUserReceiverList();
        GetChatMessageList(id);
    });

    function GetUserReceiverList() {
        $.ajax({
            url: '@Url.Action("ChatUserReceiver", "Chat")',
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response != null) {
                $(".chatLeftBoxBody").html("");
                $(".chatLeftBoxBody").html(response);
            }
        });
    }

    function GetChatMessageList(id) {
        $.ajax({
            url: '@Url.Action("ChatMessageHistory", "Chat")/' + id,
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response != null) {
                $(".chatRightBoxBody").html("");
                $(".chatRightBoxBody").html(response);
            }
        });
    }

    function SaveMessage() {
        var ReceiverId = $("#msg_recv_ID").val();
        var message = $("#txtMsg").val();

        var Recv_ID = "@Model.msg_recv_ID";

        if (ReceiverId == "" && Recv_ID == "") {
            return;
        }
        if (ReceiverId == "") {
            ReceiverId = Recv_ID;
        }
        connection.invoke("SendMessage", SenderId, ReceiverId, message);
        $("#txtMsg").val("");
    }

    connection.start().then(function () {
        connection.invoke("OnConnectedAsync", SenderId);
    });

    connection.on("ReceiveMessage", function (ReceiverId, message) {
        if (SenderId != ReceiverId) {
            var element = '<li class="sendTextHolder" > <div class="sendText" >' + message + '</div></li>';
            $(".chatBodyText").append(element);
        }
        if (SenderId == ReceiverId) {
            var element = '<li class="reciveTextHolder" > <div class="recieveText" >' + message + '</div></li>';
            $(".chatBodyText").append(element);
        }
    });

</script>



