@model IBS.Models.ChatMessage

@{
    ViewData["Title"] = "Index";
    var Master_ID = ViewBag.Master_ID;
}

<div class="list-inner">
    <div class="tast-list">
        <h2>SignalR Chat Demo</h2>
    </div>
</div>
<div class="task-listinput">
    <form role="form" id="frmChatMessage">
        <div class="accordion-body chatArea">

            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">User Name</label>
                    @Html.DropDownListFor(Model => Model.msg_recv_ID, new SelectList(IBS.Models.Common.GetUserMaster(), "Value", "Text"), "--Select--")
                    <span asp-validation-for="msg_recv_ID" class="text-danger"></span>
                </div>
                @*<div class="col-md-4 mb-3">
                <label for="Reference">Message</label>
                <input type="text" class="input" asp-for="send_message">
                </div>*@
            </div>
            <div class="savenext-btn mb-5">
                <button type="button" class="save-btn active" id="btnSave" onclick="SaveMessage();">Save</button>
                @*<button type="button" class="save-btn active" id="btnSearch">Search</button>*@
            </div>

            <div class="chatBox">
                <div class="chatBoxHeader">
                    <h2>Message</h2>
                </div>
                <div class="messageBody">
                    <div class="chatBoxBody chatLeftBoxBody">
                    </div>
                    <div class="userChatBox">
                        <div class="chatBoxBody chatRightBoxBody">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>

<script>
    var HostUrl = "@Model.HostUrl" + "/chatHub";
    var connection = new signalR.HubConnectionBuilder().withUrl(HostUrl).build();
    function GetUserReceiverList() {
        //$(".chatLeftBoxBody").load("@Url.Action("ChatUserReceiver", "Chat")", function (response) {
        //    $(".chatLeftBoxBody").empty();
        //    $(".chatLeftBoxBody").html(response);
        //});

        $.ajax({
            url: '@Url.Action("ChatUserReceiver", "Chat")',
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {

            if (response != null) {
                $(".chatLeftBoxBody").html("");
                $(".chatLeftBoxBody").html(response);
                //$("#chatLeftBoxBody").modal('show');
            }
        });
    }

    function GetChatMessageList(id) {
        //var id = "@Model.msg_recv_ID";
        //$(".chatRightBoxBody").load("@Url.Action("ChatMessageHistory", "Chat")", { id: id }, function (response) {
        //    $(".chatRightBoxBody").empty();
        //    $(".chatRightBoxBody").html(response);
        //});

        $.ajax({
            url: '@Url.Action("ChatMessageHistory", "Chat")?send_ID=' + parseInt(id) + '&recv_ID=' + @Master_ID,
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response != null) {
                $(".chatRightBoxBody").html("");
                $(".chatRightBoxBody").html(response);
                //$("#chatLeftBoxBody").modal('show');
            }
        });
    }

    $(document).ready(function () {
        var id = "@Model.msg_recv_ID";
        GetUserReceiverList();
        GetChatMessageList(id);

        connection.start().then(function (event) {
            // Connection to the hub is established
            console.log("Hub Connecting...!!");
            connection.invoke("OnConnectedAsync", '@Master_ID').then(function (err) {
                console.log("OnConnectedAsync Connection Success..!!");
            }).catch(function (err) {
                return console.log(err.toString());
            });
        }).catch(function (err) {
            return console.log(err.toString());
        });

        connection.on("NewUserConnected", function (conn) {
            console.log(conn);
        });

        connection.on("messageReceivedFromApi", function (user, message) {
            console.log("message received from API ready")
            // Handle received messages
            //GetChatMessageList(user);
            console.log(user + " says: " + message);
        });

        connection.on("MessageReceivedFromHub", function (user, message) {
            console.log("message received from Hub ready")
            // Handle received messages
            var data = user + " says: " + message;
            //GetChatMessageList(user);

            if (@Master_ID != user) {
                var element = '<li class="sendTextHolder" > <div class="sendText" >' + message + '</div></li>';
                $("#messageList").append(element);
            }

            if (@Master_ID == user) {
                var element = '<li class="reciveTextHolder" > <div class="recieveText" >' + message + '</div></li>';
                $("#messageList").append(element);
            }
        });
    })

    function SaveMessage() {
        //$("#btnSave").click(function (e) {

        var user = $("#msg_recv_ID").val();
        var message = $("#txtMsg").val();
        //var model = $("#frmChatMessage").serialize();

        var Recv_ID = "@Model.msg_recv_ID";

        if (user == "" && Recv_ID == "") {
            return;
        }
        if (user == "") {
            user = Recv_ID;
        }

        var url = "@Url.Action("SendMessage", "Chat")?user=" + user + "&message=" + message;
        $.post(url, function (response) {
            console.log("Message send From MVC Controller");
        });

        connection.invoke("BroadcastAsync", '@Master_ID', user, message).then(function (err) {

            console.log("BroadcastAsync Call");
        }).catch(function (err) {
            return console.log(err.toString());
        });
    }
</script>

<style type="text/css">

    .chatArea .chatBox {
        right: inherit !important;
        bottom: inherit !important;
    }

    .chatBox {
        width: 100%;
        height: calc(100vh - 20px);
        background-color: #e6edec;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
    }

    .chatBoxHeader {
        background-color: #017f6a;
        padding: 10px 20px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .chatBoxHeader h2 {
            font-size: 16px;
            font-weight: 600;
            margin: 0px;
            padding: 0px;
        }

        .chatBoxHeader .btn {
            flex-shrink: 0;
            display: inline-flex;
            align-items: center;
            color: #008b29;
            font-size: 12px;
            font-weight: bold;
            padding: 5px 10px;
            height: 35px;
        }

            .chatBoxHeader .btn:hover {
                background-color: #fff;
            }

    .chatBoxBody {
        padding: 20px;
        height: calc(100vh - 68px);
        overflow: auto;
    }

    .chatLeftBoxBody {
        width: 30%;
        border-right: 1px solid #d1d1d1;
    }

    .chatBoxBody h4, .chatBoxHeadBody li h4 {
        font-size: 12px;
        font-weight: 500;
    }

    .chatBoxBody h4, .chatBoxBody p, .chatBoxHeadBody li p {
        margin: 0;
        padding: 0px;
    }

    .chatBoxBody ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .chatBoxBody li:not(:last-child) {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .chatBoxBody li {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 35px;
        postion: relative;
    }

        .chatBoxBody li.active:before {
            content: "";
            background: rgba(255,255,255,0.5);
            height: 55px;
            width: 100%;
            position: absolute;
            z-index: 0;
            border-radius: 5px;
            left: -10px;
        }

    .chatBoxIcon {
        width: 40px;
        height: 40px;
        display: inline-flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin: 0 10px 0 0;
    }

    .chatBoxIconBg1 {
        background-color: #edcea5;
        color: #a25600;
    }

    .chatBoxIconBg2 {
        background-color: #a2d2ff;
        color: #0f62b0;
    }

    .chatBoxIconBg3 {
        background-color: #83c5be;
        color: #1e7f75;
    }

    .chatBoxIconBg4 {
        background-color: #ffddd2;
        color: #ba4a25;
    }

    .chatBoxIconBg5 {
        background-color: #ffb3c6;
        color: #bf2b51;
    }

    .chatBoxIconBg6 {
        background-color: #cbdfbd;
        color: #4a8b1b;
    }

    .chatBoxIconBg7 {
        background-color: #ced9c0;
        color: #5b7a10;
    }

    .chatInputArea {
        background: #d1d1d1;
        padding: 10px;
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        border-radius: 12px;
    }

        .chatInputArea input[type="text"] {
            border-radius: 30px;
            width: 100%;
            padding: 10px 15px;
            box-sizing: border-box;
            border: 1px solid #999;
            background: #fff;
        }

    .chatBoxHeadBody ul, .chatBoxBody .chatBodyText {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .chatBoxHeadBody li {
        display: flex;
        align-items: center;
    }

    .chatBoxBody .chatBodyText {
        padding-bottom: 50px;
    }

        .chatBoxBody .chatBodyText li {
            display: flex;
            border: none;
            margin: 0;
            padding: 0;
        }

    .chatBoxHeadBody li h4 {
        margin: 0;
    }

    .chatBoxBody .chatBodyText .recieveText {
        background: #fff;
        border-radius: 6px;
        margin: 5px 0;
        padding: 10px;
        position: relative;
        width: 95%;
    }

    .chatBoxBody .chatBodyText .sendText {
        background: #e6feda;
        border-radius: 6px;
        margin: 5px 0;
        padding: 10px;
        text-align: left;
        position: relative;
        width: 95%;
    }

    .chatBoxBody .chatBodyText .reciveTextHolder {
        justify-content: start;
    }

    .chatBoxBody .chatBodyText .sendTextHolder {
        justify-content: end;
    }

    .userSelect {
        padding: 2px 8px !important;
        max-width: 150px;
        border-radius: 6px;
        width: 100%;
        background: #fff;
        height: 35px;
    }

    .messageBody {
        display: flex;
    }

    .userChatBox {
        width: 65%;
        margin-left: 4.5%;
        position: relative;
    }

        .userChatBox .chatBoxBody {
            padding: 20px;
            height: calc(100vh - 137px);
        }

    .recieveText:after {
        right: 100%;
        top: 20px;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffffff;
        border-width: 10px;
        margin-top: -10px;
    }

    .sendText:after {
        left: 100%;
        top: 20px;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(196, 223, 207, 0);
        border-left-color: #e6feda;
        border-width: 10px;
        margin-top: -10px;
    }

    .submitChatBtn {
        position: absolute;
        right: 10px;
        top: 10px;
        background: #F66A2F;
        border-radius: 35px;
        padding: 5px;
        width: 60px;
        height: 42px;
        color: #fff;
        border: 4px solid #F66A2F;
    }
</style>

