@model IBS.Models.ChatMessage

@{
    ViewData["Title"] = "Index";
    string SenderId = ViewBag.SenderId <= 0 ? "" : Convert.ToString(ViewBag.SenderId);
    string ReceiverId = Model.msg_recv_ID == "0" ? "" : Convert.ToString(Model.msg_recv_ID);
    string SiteUrl = Model.HostUrl;
    int CurrentDateCount = Model.CurrDateCount;
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Users Chat</h2>
    </div>
</div>
<div class="task-listinput">
    <form role="form" id="frmChatMessage">
        <div class="accordion-body chatArea">
            <div class="chatTopFilter">
                <div class="row my-0">
                    <div class="col-md-3">
                        <label for="Reference">Users</label>
                        <div class="userMultiSelect">@Html.ListBox("dpUser", new MultiSelectList(Common.GetUserMaster(), "Value", "Text"), new { multiple = "multiple" })</div>

                    </div>
                    <div class="col-md-8">
                        <label for="Reference">Message</label>
                        <input type="text" id="txtMessage" />
                    </div>
                    <div class="col-md-1 savenext-btn" style="margin-top:30px;">
                        <button type="button" class="save-btn active" id="btnSave" onclick="SendMessage(1);"><span class="fa fa-paper-plane"></span></button>
                    </div>
                </div>
            </div>
            <div class="chatBox">
                <div class="chatBoxHeader">
                    <h2>Message</h2>
                </div>
                <div class="messageBody">
                    <div class="chatBoxBody chatLeftBoxBody">
                    </div>
                    <div class="userChatBox">
                        <div class="chatBoxBody chatRightBoxBody">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<link href="~/css/chat.css" rel="stylesheet" />
<script src="~/js/signalr.min.js"></script>

<link href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>

<script type="text/javascript">

    var connection = new signalR.HubConnectionBuilder().withUrl('@SiteUrl' + "/chatHub").build();
    var SenderId = "@SenderId";
    var ReceiverId = "@ReceiverId";
    //var currDate = @DateTime.Now.ToString("dd MMMM yyyy");
    var Cnt = @CurrentDateCount;

    $(document).ready(function () {
        GetUserReceiverList();
        GetChatMessageList(ReceiverId);

        $('#dpUser').multiselect({
            includeSelectAllOption: true,
        });
    });

    function GetUserReceiverList() {
        $.ajax({
            url: '@Url.Action("ChatUserReceiver", "Chat")',
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response != null) {
                $(".chatLeftBoxBody").html("");
                $(".chatLeftBoxBody").html(response);
                $(".userList").removeClass("active");
                $("#li" + ReceiverId).addClass("active");
            }
        });
    }

    function GetChatMessageList(recvid) {
        ReceiverId = recvid;
        $.ajax({
            url: '@Url.Action("ChatMessageHistory", "Chat")/' + ReceiverId,
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response != null) {
                $(".chatRightBoxBody").html("");
                $(".chatRightBoxBody").html(response);
                $(".userList").removeClass("active");
                $("#li" + ReceiverId).addClass("active");
                $('.chatBoxBody').scrollTop($('.chatBoxBody').height());
            }
        });
    }

    function SendMessage(type) {
        var message = "";
        if (type == 1) {
            ReceiverId = $("#dpUser").val().join(",");
            message = $("#txtMessage").val();
        }
        else if (type == 2) {
            message = $("#txtMsg").val();
        }

        if (ReceiverId == "" || message == "") {
            //alert("Receiver and Message is required.")
            return;
        }
        debugger
        connection.invoke("SendMessage", SenderId, ReceiverId, message, type);

        if (type == 1) { $("#txtMessage").val(""); }
        else if (type == 2) { $("#txtMsg").val(""); }
    }

    connection.start().then(function () {
        debugger
        connection.invoke("OnConnectedAsync", SenderId);
    });

    connection.on("ReceiveMessage", function (ReceiverId, message, MsgType) {
        if (MsgType == 1) {
            window.location.href = "@Url.Action("Index", "Chat")";
        }
        else {
            if (Cnt == 0) {
                var element = '<li><div class="messageDate"><span>' + "@DateTime.Now.ToString("dd MMMM yyyy")" + '</span></div></li>'
                $(".chatBodyText").append(element);
                Cnt = Cnt + 1;
            }
            if (SenderId != ReceiverId) {
                var element = '<li class="sendTextHolder" > <div class="sendText" >' + message + '<span class="timeStamp">' + "@DateTime.Now.ToString("hh:mm tt")" + '</span></div></li>';
                $(".chatBodyText").append(element);
                $('.chatBoxBody').scrollTop($('.chatBoxBody').height());
                $("#txtMsg").focus();
            }
            if (SenderId == ReceiverId) {
                var element = '<li class="reciveTextHolder" > <div class="recieveText" >' + message + '<span class="timeStamp">' + "@DateTime.Now.ToString("hh:mm tt")" + '</span></div></li>';
                $(".chatBodyText").append(element);
                $('.chatBoxBody').scrollTop($('.chatBoxBody').height());
                $("#txtMsg").focus();
            }
        }
    });

    $('#txtMessage').keypress(function (e) {
        if (e.keyCode == 13) {  // detect the enter key
            SendMessage(1);
        }
    });

</script>