@model IBS.Models.AllGeneratedBills
@{
    ViewData["Title"] = "SouthBill";
    var billDate = Model.BILL_DT;
    var expire = "2020-10-01";
    var billDate_time = Convert.ToDateTime(billDate);
    var expire_time = Convert.ToDateTime(expire);
    var size = Model.items.Count();
    var requireQr = false;
    var total = 0;
    var no = 1;
    var count = 1;
    var Adh = "@";
    if (billDate_time >= expire_time)
    {
        requireQr = true;
    }
    else
    {
        requireQr = false;
    }
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>South</h2>
        </div>
    </div>
</div>
<div>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="100%">
                <table width="100%" style="border:1px solid #000;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="100%" style="border-bottom:1px solid #000;">
                            <!--================sec1 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="middle" width="40%"><img src="img/riteslogo1.jpg" alt="" style="width:600px;display: block;" /></td>
                                    @if (Model.BILL_NO.Substring(0, 1) == "T") @*.Substring(0, 1)*@
                                    {
                                        <td width="15%" valign="middle" align="center" style="font-size:25px; font-family:Arial, Helvetica, sans-serif;">
                                            <b>
                                                <br>CREDIT NOTE<br>
                                                <span class="hindi">मूल </span>ORIGINAL
                                            </b>
                                        </td>
                                    }
                                    else
                                    {
                                        <td width="15%" valign="middle" align="center" style="font-size:25px; font-family:Arial, Helvetica, sans-serif;">
                                            <b>
                                                <span class="hindi"><img src="img/nirikshan.JPG" alt="" /></span>
                                                <br>INSPECTION FEE BILL<br>
                                                <span class="hindi">मूल </span>ORIGINAL
                                            </b>
                                        </td>
                                    }


                                    <td width="45%" style=" font-family:Arial, Helvetica, sans-serif; line-height:9px;" valign="middle" align="right">
                                        <b>
                                            <table>
                                                <tr>
                                                    <td style="font-size:36px;"><span class="hindi">आयकर सं</span> / Pan No.</td>
                                                    <td align="center" width="10">:</td>
                                                    <td style="font-size:36px;">AAACR0830Q</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:36px;"> <span class="hindi">माल और सेवा कर सं </span>/ GST No.</td>
                                                    <td align="center" width="10">:</td>
                                                    <td style="font-size:36px;">33AAACR0830Q1ZD</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:36px;"><span class="hindi">दूरभाष</span> / Telephone</td>
                                                    <td align="center" width="10">:</td>
                                                    <td style="font-size:36px;">28290355,28290356</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:36px;"><span class="hindi">फैक्स</span> / Fax No.</td>
                                                    <td align="center" width="10">:</td>
                                                    <td style="font-size:36px;">044-28290359 </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:36px;"><span class="hindi">ई-मेल</span> / E-mail</td>
                                                    <td align="center" width="10">:</td>
                                                    <td style="font-size:36px;padding-bottom: 15px;">srinspn@rites.com</td>
                                                </tr>
                                            </table>
                                        </b>
                                    </td>
                                </tr>
                            </table>
                            <!--================sec1 over==============-->
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #000;padding-left:10px;">
                            <!--================sec2 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0" style="vertical-align: top;">
                                <tr>

                                    <td style="padding: 7px; padding-top: 100px;">
                                        @if (!string.IsNullOrEmpty(Model.irfc_bpo_cd) && Model.irfc_funded == "Y")
                                        {
                                            <div width="20%">
                                                <span>
                                                    <b><span class="hindi"> सेवा में</span> / TO</b>
                                                    @Model.irfc_bpo_name   @Model.irfc_bpo_rly   @Model.irfc_bpo_add  @Model.irfc_bpo_city
                                                </span>
                                                @if (!string.IsNullOrEmpty(Model.irn_no) && !string.IsNullOrEmpty(Model.qr_code) && requireQr)
                                                {
                                                    <br>

                                                    <p style="padding:0;margin:0;"><strong>IRN No.</strong>@Model.irn_no</p>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.remarks))
                                                {
                                                    <p style="padding:0;margin:0;"><strong>Remarks.</strong>@Model.remarks</p>
                                                }
                                            </div>

                                            <div valign="top" width="30%"> <b> Through</b><br>@Model.BPO_NAME<br>@Model.bpo_orgn<br>@Model.bpo_add<br>@Model.bpo_city<br>Recipient GSTIN : @Model.recipient_gstin_no<br>State Code : @Model.recipient_gstin_no.Substring(0,2)</div>
                                        }
                                        else
                                        {
                                            <div valign="top" width="30%">
                                                <b><span class="hindi"> सेवा में</span> / TO</b><br>
                                                @Model.BPO_NAME;
                                                <br>{{@Model.bpo_orgn}}<br>@Model.bpo_add<br>@Model.bpo_city<br>Recipient GSTIN : @Model.recipient_gstin_no<br>State Code : @Model.recipient_gstin_no.Substring(0,2)
                                                @if (!string.IsNullOrEmpty(Model.irn_no) && !string.IsNullOrEmpty(Model.qr_code) && requireQr)
                                                {
                                                    <br>
                                                    <p style="padding:0;margin:0;"><strong>IRN No.</strong>@Model.irn_no</p>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.remarks))
                                                {
                                                    <p style="padding:0;margin:0;"><strong>Remarks.</strong>@Model.remarks</p>
                                                }
                                            </div>
                                        }

                                    </td>
                                    @if (!string.IsNullOrEmpty(Model.irn_no) && !string.IsNullOrEmpty(Model.qr_code) && requireQr)
                                    {
                                        <td align="center" style="padding: 7px;padding-top: 25px;padding-bottom: 25px;">
                                            @*<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->size(400)->generate(@Model.qr_code)) !!}">*@
                                            <img src="data:image/png;base64, @Html.Raw(Model.qr_code)" />
                                        </td>
                                    }



                                    <td align="right" style="padding: 7px; padding-top: 100px;" width="35%">
                                        <b>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <img src="img/south.JPG" alt="" /> / Southern Region/Q.A.Division<br><span class="hindi">बीएसएनएल कार्यालय, </span> BSNL Office<br><span class="hindi"> सी टी एस &#2367;बल&#2367;्डंग, दूसरी मं&#2367;जल </span> CTS BUILDING, II FLOOR <br> 16, <span class="hindi">ग्रीम रोड, चेन्नई</span> - 600006, 16 Greams Road, Chennai - 600016<br>CIN NO.L74899DL1974GOI007227
                                                        @if (!string.IsNullOrEmpty(Model.irn_no) && !string.IsNullOrEmpty(Model.qr_code) && requireQr)
                                                        {
                                                            <br>
                                                            <p style="padding:0;margin:0;"><strong>ACK No.</strong>@Model.ack_no <strong>ACK Date:</strong>@Model.ack_dt</p>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </b>
                                    </td>
                                </tr>
                            </table>
                            <!--================sec2 over==============-->
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="border-bottom:1px solid #000; padding-left:10px;padding-top: 25px;padding-bottom: 25px;">
                            <!--================sec3 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%" style="font-family:Arial, Helvetica, sans-serif;">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                @if (!string.IsNullOrEmpty(Model.BILL_NO) && Model.BILL_NO.Substring(0, 1) == "T")
                                                {
                                                    <td style="width: 14%;"><b><span><img style="width:120px" src="img/CreditNote.jpg" alt="" /></span><br>CREDIT NOTE.</b></td>
                                                    <td style="width: 86%;" valign="middle" align="left">@Model.credit_doc_id</td>
                                                }
                                                else
                                                {
                                                    <td style="width: 14%;"><b><span class="hindi">&#2367;बल सं.</span><br>BILL NO.</b></td>
                                                    <td style="width: 86%;" valign="middle" align="left">@Model.invoice_no</td>
                                                }

                                            </tr>
                                        </table>
                                    </td>
                                    <td width="50%" style="font-family:Arial, Helvetica, sans-serif;" align="right">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width: 80%;font-size:30px;" align="right"><b><span class="hindi">&#2367;दनांक.</span><br>DATE:</b></td>
                                                <td style="width: 20%;font-size:30px;" valign="middle" align="right">@(Convert.ToDateTime(Model.BILL_DT).ToString("dd-MMM-yyyy"))</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!--================sec3 over==============-->
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="border-bottom:1px solid #000; padding-left:10px;padding-top: 25px;padding-bottom: 25px;">
                            <!--================sec4 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%" style="font-family:Arial, Helvetica, sans-serif;">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width: 35%;font-size:30px;"><b><span class="hindi">सं&#2367;वदा / एटी / पी.ओ.सं.</span><br>CONTRACT/AT/P.O. NO.</b></td>
                                                <td style="width: 65%;font-size:30px;" valign="middle" align="left">@Model.po_no</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="50%" style="font-family:Arial, Helvetica, sans-serif;" align="right">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width: 80%;font-size:30px;" align="right"><b><span class="hindi">&#2367;दनांक.</span><br>DATE:</b></td>
                                                <td style="width: 20%;font-size:30px;" valign="middle" align="right">@(Convert.ToDateTime(Model.po_dt).ToString("dd-MMM-yyyy"))</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!--================sec4 over==============-->
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="border-bottom:1px solid #000; padding-left:10px; " valign="top">
                            <!--================sec5 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="top" width="51%" style="font-family:Arial, Helvetica, sans-serif;border-right:1px solid #000;padding-top: 25px;padding-bottom: 25px;" height="100">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="font-size: 30px;"><b><span class="hindi">सं&#2367;वदाकार का नाम और पता</span> / CONTRACTOR'S NAME AND ADDRESS</b></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 30px;">
                                                    @Model.Vend_Name
                                                    <br>
                                                    @Model.Vend_Add1
                                                    <br>
                                                    @Model.Vendor_City
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top" width="49%" style="font-family:Arial, Helvetica, sans-serif;padding-left:10px;padding-top: 25px;padding-bottom: 25px;">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="font-size: 30px;"><b><span class="hindi"><img src="img/b1.JPG" alt="" />का &#2367;ववरण</span> / RECIPIENT / CONSIGNEE'S DETAILS</b></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 30px;">
                                                    @Model.Consignee
                                                    <br>
                                                    @Model.Consignee_Add1
                                                    <br>
                                                    @Model.Consignee_City
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!--================sec5 over==============-->
                        </td>
                    </tr>

                    <tr>
                        <td width="100%" style="font-family:Arial, Helvetica, sans-serif;padding:0" valign="top">
                            <!--================sec6 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="30%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;padding-left:10px;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" width="275" align="center"><b><span class="hindi"><img src="img/c1.JPG" alt="" /></span> / INSPECTION CERTIFICATE NO.</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi">&#2367;दनांक </span>/ DATE</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi">बुक सं </span>/ BOOK NO.</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi">सेट सं </span>/ SET NO.</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi"><img src="img/c2.JPG" alt="" /> </span>/ INSTALMENT NO.</b></td>
                                </tr>
                                <tr>
                                    <td width="30%" valign="top" height="50" style="border-bottom:1px solid #000;border-right:1px solid #000; text-align:left;padding-top: 25px;padding-bottom: 25px;font-size: 30px;">@Model.IC_NO</td>
                                    <td width="15%" valign="top" height="50" style="border-bottom:1px solid #000;border-right:1px solid #000;text-align:center;padding-top: 25px;padding-bottom: 25px;font-size: 30px;">@(Convert.ToDateTime(Model.IC_DT).ToString("dd-MM-yyyy"))</td>
                                    <td width="15%" valign="top" height="50" style="border-bottom:1px solid #000;border-right:1px solid #000;text-align:center;padding-top: 25px;padding-bottom: 25px;font-size: 30px;">@Model.bk_no</td>
                                    <td width="15%" valign="top" height="50" style="border-bottom:1px solid #000;border-right:1px solid #000;text-align:center;padding-top: 25px;padding-bottom: 25px;font-size: 30px;">@Model.set_no</td>
                                    <td width="15%" valign="top" height="50" style="border-bottom:1px solid #000;border-right:1px solid #000;text-align:center;padding-top: 25px;padding-bottom: 25px;font-size: 30px;">@Model.call_instalment_no</td>
                                </tr>
                            </table>
                            <!--================sec6 over==============-->
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="font-family:Arial, Helvetica, sans-serif;" valign="top">
                            <!--================sec7 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="5%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi"><img src="img/d1.JPG" alt="" /></span> <br>SL.NO.</b></td>
                                    <td width="50%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi"><img src="img/d2.JPG" alt="" /></span><br>DESCRIPTION OF MATERIAL INSPECTED</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;font-size: 30px;padding-bottom: 25px;" align="center"><b><span class="hindi"><img src="img/d3.JPG" alt="" /></span> <br>QUANTITY</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi">यू&#2367;नट लागत</span> <br>UNIT COST</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi"><img src="img/d4.JPG" alt="" /></span> <br>BASIC VALUE</b></td>
                                    <br>

                                </tr>
                                @{
                                    foreach (var val in Model.items.Skip(0).Take(7))
                                    {
                                        <tr>
                                            <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@no</td>
                                            <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 15px;" align="center">@val.item_desc</td>
                                            <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@val.qty<br>@val.uom_s_desc</td>
                                            <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@val.rate<br>@val.uom_factor</td>
                                            <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@val.basic_value</td>
                                        </tr>
                                        <tr>
                                            @if (Convert.ToInt32(val.sales_tax) > 0)
                                            {
                                                <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                                <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">GST @Adh @val.sales_tax_per%</td>
                                                <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                                <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                                <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@val.sales_tax</td>
                                            }
                                        </tr>

                                        string[] typeArr = { "N", "P", "L" };
                                        var discountHTML = "";
                                        var discountOtHTML = "";
                                        var perHtml = "";
                                        var perOtHtml = "";
                                        var disStatus = false;
                                        var otherChStatus = false;
                                        if (typeArr.Contains(val.discount_type))
                                        {
                                            disStatus = true;
                                            var dSign = val.discount_type == "P" ? "%" : (val.discount_type == "N" ? "Per Num." : "Lumsum");
                                            discountHTML = $"<span>{val.discount}</span><br>";
                                            perHtml = $"Discount Value@{val.discount_per} {dSign}<br>";
                                        }
                                        if (typeArr.Contains(val.ot_charge_type))
                                        {
                                            otherChStatus = true;
                                            var dSign2 = val.ot_charge_type == "P" ? "%" : (val.ot_charge_type == "N" ? "Per Num." : "Lumsum");
                                            perOtHtml = $"<span>Other Charges@{val.ot_charge_per} {dSign2}</span><br>";
                                            discountOtHTML = $"<span>{val.other_charges}</span><br>";
                                        }
                                        if (disStatus)
                                        {
                                            <tr>
                                                <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                                <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@perHtml</td>
                                                <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                                <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                                <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@discountHTML</td>
                                            </tr>
                                        }
                                        if (otherChStatus)
                                        {
                                            <tr>
                                                <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                                <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@perOtHtml</td>
                                                <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                                <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                                <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@discountOtHTML</td>
                                            </tr>
                                        }
                                        no = no + 1;
                                        total += Convert.ToInt32(val.basic_value) + Convert.ToInt32(val.sales_tax);
                                    }
                                }
                            </table>
                            @if (size <= 7)
                            {
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="100%">
                                            <table width="100%" cellpadding="0" cellspacing="0" style="border:1px solid #000;">
                                                <tr>
                                                    <td width="5%" valign="top" style="border:1px solid #000;padding: 25px;" align="center"></td>
                                                    <td width="50%" valign="top" style="border:1px solid #000;padding: 25px;font-size: 30px;" align="center"><b>Total Material Value Inspected</b></td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;padding: 25px;font-size: 30px;" align="center"></td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;padding: 25px;font-size: 30px;" align="center"></td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;padding: 25px;font-size: 30px;" align="center"><b>@total</b></td>
                                                </tr>

                                                @if (!string.IsNullOrEmpty(Model.BILL_NO) && Model.BILL_NO.Substring(0, 1) == "T")
                                                {
                                                    <tr style="border-bottom: 0">
                                                        <td width="5%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center"></td>
                                                        <td width="50%" valign="top" style="border:1px solid #000;padding:0 10px;border-bottom: 0" align="right">
                                                            Credit Note Amount <br>9% SGST<br>9% CGST<br>18% IGST<br>
                                                            <br>

                                                        </td>
                                                        <td width="15%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center"></td>
                                                        <td width="15%" valign="top" style="border:1px solid #000; border-bottom: 0;border-bottom: 0;padding:0px 0" align="center">
                                                            @(Math.Round(Model.insp_fee))<br>@Math.Round(Model.sgst)<br>@Math.Round(Model.cgst)<br>@Math.Round(Model.igst)
                                                        </td>
                                                        <td width="15%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center">
                                                        </td>
                                                    </tr>
                                                }
                                                <tr style="border-bottom: 0">
                                                    <td width="5%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center"></td>
                                                    <td width="50%" valign="top" style="border:1px solid #000;padding:0 10px;border-bottom: 0" align="right">
                                                        @foreach (var val in Model.items)
                                                        {
                                                            if (Convert.ToInt32(Model.fee_rate) > 0 && count == 1)
                                                            {
                                                                <span>RITES Inspection Fee</span> @Adh @Model.fee_rate @(val.discount_type == "P" ? "%" : "")
                                                                <span><br> 9% SGST <br>9% CGST <br>18% IGST<br><br> </span>
                                                            }
                                                            count++;
                                                        }
                                                    </td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center"></td>
                                                    <td width="15%" valign="top" style="border:1px solid #000; border-bottom: 0;border-bottom: 0;padding:0px 0" align="center">
                                                        @(Math.Round(Model.insp_fee))<br>@Math.Round(Model.sgst)<br>@Math.Round(Model.cgst)<br>@Math.Round(Model.igst)
                                                    </td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center">
                                                    </td>
                                                </tr>
                                                }
                                                <tr>
                                                    <td width="5%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                    @if (!string.IsNullOrEmpty(Model.BILL_NO) && Model.BILL_NO.Substring(0, 1) == "T")
                                                    {
                                                        <td width="50%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>Total Credit Note Value</b></td>
                                                    }
                                                    else
                                                    {
                                                        <td width="50%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>Total Inspection Fee</b></td>
                                                    }
                                                    <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;padding:15px 0" align="center">
                                                        <b>
                                                            @(Model.sgst + Model.cgst + Model.igst + Model.insp_fee)
                                                        </b>
                                                    </td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;padding:15px 0" align="center">
                                                        <b>
                                                            @(Model.sgst + Model.cgst + Model.igst + Model.insp_fee)
                                                        </b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="5%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                                    <td width="50%" valign="top" style="border:1px solid #000;padding: 15px;" align="left">SAC Code 998346 <br> (Technical Testing & Analysis Services)</td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                                </tr>
                                                <tr>
                                                    <td width="5%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                                    <td colspan="3" width="80%" valign="top" style="border:1px solid #000;padding: 15px;" align="center">
                                                        <b>
                                                            @(Common.ConvertAmountToWords(Model.sgst + Model.cgst + Model.igst + Model.insp_fee))
                                                        </b>
                                                    </td>
                                                    <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center">
                                                        <b>
                                                            @(Model.sgst + Model.cgst + Model.igst + Model.insp_fee)
                                                        </b>
                                                    </td>
                                                </tr>

                                            </table>
                                            <!--================sec7 over==============-->
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="100%" style="font-family:Arial, Helvetica, sans-serif;padding:0" valign="top">
                                            <!--================sec8 start==============-->
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style="border-bottom:1px solid #000;border-right:1px solid #000;padding-left:10px;padding: 15px;" width="80%" height="25" valign="middle"><b><span class="hindi"><img src="img/11.JPG" alt="" /></span> Enclosures : <span class="hindi"><img src="img/nirikshan.JPG" alt="" /></span>/ Inspection Certificate <span class="hindi">पी. ओ. कॉपी </span> / P.O. Copy</b></td>
                                                    <td style="font-size:12px;border-right:1px solid #000;padding: 15px;" align="center" rowspan="2">
                                                        <b>
                                                            <table cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td><b> <span class="hindi"><img src="img/14.JPG" alt="" /><br><img src="img/15.JPG" alt="" /></span></b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="100" valign="top"><b>FOR RITES LTD.</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b> <span class="hindi"><img src="img/16.JPG" alt="" /><br><img src="img/17.JPG" alt="" /></span></b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b><i>Authorised Officer</i></b></td>
                                                                </tr>
                                                            </table>
                                                        </b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:9px; border-right:1px solid #000; padding-left:10px;padding: 15px;" valign="top">
                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td style="font-size: 18px;">1) <span class="hindi">ई एफ टी / क्रॉस्ड चेक / डीडी को "राइट्स &#2367;ल&#2367;मटेड" के पक्ष में तैयार &#2367;कया जाना चा&#2367;हए। दक&#2367;्षणी क्षेत्र, चेन्नई</span> / E F T /Crossed cheque/DD should be drawn In favour of "Rites Ltd." Southern Region, Chennai</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-size: 18px;">2) <span class="hindi">कृपया उपरोक्त पते पर सभी व्यवहार करें </span> / Please send all communications to the address given above.</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-size: 18px;">3) <span class="hindi">कृपया चेक नंबर और चेक की तारीख स&#2367;हत &#2367;व&#2367;धवत क्रम सं संलग्न भुगतान के साथ &#2367;बल की एक प्र&#2367;त लौटाई जाये </span> / Return one copy of bill with payment for ready reference</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="padding: 15px 0;font-size: 13px;">
                                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td width="50%" style="font-size: 18px;"><span class="hindi">ई एफ टी &#2367;ववरण &#2367;नम्नानुसार हैं</span> / EFT detail are as under </td>
                                                                            <td style="font-size: 18px;"><span class="hindi">खाता संख्या</span> / Account No: 006010200009843</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 18px;"><span class="hindi">बैंक का नाम</span> / NAME OF BANK : / <span class="hindi">ए&#2367;क्सस बैंक &#2367;ल.</span> AXIS BANK LTD.</td>
                                                                            <td><span class="hindi">शाखा क्र्मांक</span> / BRANCH CODE: 600211002</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 18px;"><span class="hindi">शाखा का नाम</span>NAME OF THE BRANCH : 82, <span class="hindi"> डॉ। राधाकृष्णन सलाल, मायलापुर, चेन्नई </span>-4<br> / 82, Dr. Radhakrishnan Salal, Mylapore, Chennai-4</td>
                                                                            <td style="font-size: 18px;"><span class="hindi">आईफससी कोड</span> / IFSC CODE: <span class="hindi">यूटीआईबी0000006</span> / UTIB0000006</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td style="font-size: 18px;"><span class="hindi">खाते का प्रकार</span> / TYPE OF ACCOUNT : <span class="hindi">चालू खाता</span>CURRENT ACCOUNT</td>
                                                                            <td style="font-size: 18px;"><span class="hindi">केंद्र कोड</span> / CENTER CODE: 006</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="2" style="font-size: 18px;"> <span class="hindi"> बैंक शाखा की 9 अंकों की कोड संख्या MICR चेक पर &#2367;दखाई दे रही है। बैंक द्वारा जारी की गई: </span> 600211002</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 18px;" colspan="2">9 Digit Code Number of the Bank Branch Appearing on MICR Cheque Issued by the Bank : 600211002</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!--================sec8 over==============-->
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="100%" style="padding:20px 10px; border-top:1px solid #000;font-size: 18px;" align="center">
                                            <br>
                                            <b> <span class="hindi"><img src="img/18.JPG" alt="" />: १२वीं मं&#2367;जल, कोर १, <img src="img/a3.JPG" alt="" />,<img src="img/a4.JPG" alt="" /></span><br>Registered Office:12th FLOOR, CORE 1, SCOPE MINAR, LAXMI NAGAR, DELHI-110092</b><br><b><span class="hindi"><img src="img/19.JPG" alt="" />: राइट्स भवन, प्लॉट १, सेक्टर २९, गुरुग्राम, ह&#2367;रयाणा -१२२ ००१,</span> <br>Corporate Office: Rites Bhawan, Plot No. 1,Sector-29,Gurgaon,Haryana -122 001.</b>
                                            <br><br>
                                            <span>
                                                This is an electronically generated bill and does not require signature as per Rule No. 46(q) of GST Rules 2017 notified vide notification No. 74/2018 Dt. 31.12.2018
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <pagebreak></pagebreak>
    @if (size > 7)
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td width="100%" style="font-size: 11px; font-family: Arial, Helvetica, sans-serif; padding: 15px 0; border-bottom: 1px solid #000;" valign="top">
                    <!--================sec7 start==============-->
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="5%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi"><img src="img/d1.JPG" alt="" /></span> <br>SL.NO.</b></td>
                            <td width="50%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi"><img src="img/d2.JPG" alt="" /></span><br>DESCRIPTION OF MATERIAL INSPECTED</b></td>
                            <td width="15%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;font-size: 30px;padding-bottom: 25px;" align="center"><b><span class="hindi"><img src="img/d3.JPG" alt="" /></span> <br>QUANTITY</b></td>
                            <td width="15%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi">यू&#2367;नट लागत</span> <br>UNIT COST</b></td>
                            <td width="15%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi"><img src="img/d4.JPG" alt="" /></span> <br>BASIC VALUE</b></td>
                            <br>
                        </tr>
                        @{
                            foreach (var val in Model.items.Skip(7).Take(15))
                            {
                                <tr>
                                    <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@no</td>
                                    <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 15px;" align="center">@val.item_desc</td>
                                    <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@val.qty<br>@val.uom_s_desc</td>
                                    <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@val.rate<br>@val.uom_factor</td>
                                    <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@val.basic_value</td>
                                </tr>
                                <tr>
                                    @if (Convert.ToInt32(val.sales_tax) > 0)
                                    {
                                        <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">GST @Adh @val.sales_tax_per%</td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@val.sales_tax</td>
                                    }
                                </tr>

                                string[] typeArr = { "N", "P", "L" };
                                var discountHTML = "";
                                var discountOtHTML = "";
                                var perHtml = "";
                                var perOtHtml = "";
                                var disStatus = false;
                                var otherChStatus = false;
                                if (typeArr.Contains(val.discount_type))
                                {
                                    disStatus = true;
                                    var dSign = val.discount_type == "P" ? "%" : (val.discount_type == "N" ? "Per Num." : "Lumsum");
                                    discountHTML = $"<span>{val.discount}</span><br>";
                                    perHtml = $"Discount Value@{val.discount_per} {dSign}<br>";
                                }
                                if (typeArr.Contains(val.ot_charge_type))
                                {
                                    otherChStatus = true;
                                    var dSign2 = val.ot_charge_type == "P" ? "%" : (val.ot_charge_type == "N" ? "Per Num." : "Lumsum");
                                    perOtHtml = $"<span>Other Charges@{val.ot_charge_per} {dSign2}</span><br>";
                                    discountOtHTML = $"<span>{val.other_charges}</span><br>";
                                }
                                if (disStatus)
                                {
                                    <tr>
                                        <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@perHtml</td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@discountHTML</td>
                                    </tr>
                                }
                                if (otherChStatus)
                                {
                                    <tr>
                                        <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@perOtHtml</td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@discountOtHTML</td>
                                    </tr>
                                }
                                no = no + 1;
                                total += Convert.ToInt32(val.basic_value) + Convert.ToInt32(val.sales_tax);
                            }
                        }
                    </table>
                </td>
            </tr>
        </table>
        @if (size <= 22)
        {
            if (size > 14)
            {
                <pagebreak></pagebreak>
            }
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="100%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif;padding:15px 0 ;border-bottom:1px solid #000;" valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="100%">
                                    <!--table start-->
                                    <table width="100%" style="border:1px solid #000;" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="5%" valign="top" style="border:1px solid #000;" align="center"></td>
                                            <td width="50%" valign="top" style="border:1px solid #000;padding:15px 0;" align="center"><b>Total Material Value Inspected</b></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000" align="center"><b>@total</b></td>
                                        </tr>
                                        <tr style="border-bottom: 0">
                                            <td width="5%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center"></td>
                                            <td width="50%" valign="top" style="border:1px solid #000;padding:0 10px;border-bottom: 0" align="right">
                                                @foreach (var val in Model.items)
                                                {
                                                    if (Convert.ToInt32(Model.fee_rate) > 0 && count == 1)
                                                    {
                                                        <span>RITES Inspection Fee</span> @Adh @Model.fee_rate @(val.discount_type == "P" ? "%" : "")
                                                        <span><br> 9% SGST <br>9% CGST <br>18% IGST<br><br> </span>
                                                    }
                                                    count++;
                                                }
                                            </td>
                                            <td width="15%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000; border-bottom: 0;border-bottom: 0;padding:0px 0" align="center">@*abs*@ @Math.Round(Model.insp_fee)<br>@Math.Round(Model.sgst)<br>@Math.Round(Model.cgst)<br>@*abs*@ @Math.Round(Model.igst)</td>
                                            <td width="15%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="5%" valign="top" style="border:1px solid #000;" align="center"></td>
                                            <td width="50%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>Total Inspection Fee</b></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>@Model.sgst+@Model.cgst+@Model.igst+@Model.insp_fee</b></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>@Model.sgst+@Model.cgst+@Model.igst+@Model.insp_fee</b></td>
                                        </tr>
                                        <tr>
                                            <td width="5%" valign="top" style="border:1px solid #000;" align="center"></td>
                                            <td width="50%" valign="top" style="border:1px solid #000;padding:15px 0" align="left">SAC Code 998346 <br> (Technical Testing & Analysis Services)</td>
                                            <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000" align="center"></td>
                                        </tr>
                                        <tr>
                                            <td width="5%" valign="top" style="border:1px solid #000;" align="center"></td>
                                            <td colspan="3" width="80%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>@(Common.ConvertAmountToWords(Model.sgst + Model.cgst + Model.igst + Model.insp_fee))</b></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>@Model.sgst+@Model.cgst+@Model.igst+@Model.insp_fee</b></td>
                                        </tr>
                                    </table>
                                    <!--================sec7 over==============-->
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" style="font-family:Arial, Helvetica, sans-serif;padding:0" valign="top">
                                    <!--================sec8 start==============-->
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:1px solid #000;border-right:1px solid #000;padding-left:10px;" width="80%" height="25" valign="middle"><b><span class="hindi"><img src="img/11.JPG" alt="" /></span> Enclosures : <span class="hindi"><img src="img/nirikshan.JPG" alt="" /></span>/ Inspection Certificate <span class="hindi">पी. ओ. कॉपी </span> / P.O. Copy</b></td>
                                            <td style="font-size:12px;border-right:1px solid #000;" align="center" rowspan="2">
                                                <b>
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td><b> <span class="hindi"><img src="img/14.JPG" alt="" /><br><img src="img/15.JPG" alt="" /></span></b></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="100" valign="top"><b>FOR RITES LTD.</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b> <span class="hindi"><img src="img/16.JPG" alt="" /><br><img src="img/17.JPG" alt="" /></span></b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b><i>Authorised Officer</i></b></td>
                                                        </tr>
                                                    </table>
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:9px; border-right:1px solid #000; padding-left:0px;padding-top: 15px;" valign="top">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td style="font-size: 18px;">1) <span class="hindi">ई एफ टी / क्रॉस्ड चेक / डीडी को "राइट्स &#2367;ल&#2367;मटेड" के पक्ष में तैयार &#2367;कया जाना चा&#2367;हए। दक&#2367;्षणी क्षेत्र, चेन्नई</span> / E F T /Crossed cheque/DD should be drawn In favour of "Rites Ltd." Southern Region, Chennai</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 18px;">2) <span class="hindi">कृपया उपरोक्त पते पर सभी व्यवहार करें </span> / Please send all communications to the address given above.</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 18px;">3) <span class="hindi">कृपया चेक नंबर और चेक की तारीख स&#2367;हत &#2367;व&#2367;धवत क्रम सं संलग्न भुगतान के साथ &#2367;बल की एक प्र&#2367;त लौटाई जाये </span> / Return one copy of bill with payment for ready reference</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td width="50%" style="font-size: 18px;"><span class="hindi">ई एफ टी &#2367;ववरण &#2367;नम्नानुसार हैं</span> / EFT detail are as under </td>
                                                                    <td style="font-size: 18px;"><span class="hindi">खाता संख्या</span> / Account No: 006010200009843</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 18px;"><span class="hindi">बैंक का नाम</span> / NAME OF BANK : / <span class="hindi">ए&#2367;क्सस बैंक &#2367;ल.</span> AXIS BANK LTD.</td>
                                                                    <td><span class="hindi">शाखा क्र्मांक</span> / BRANCH CODE: 600211002</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 18px;"><span class="hindi">शाखा का नाम</span>NAME OF THE BRANCH : 82, <span class="hindi"> डॉ। राधाकृष्णन सलाल, मायलापुर, चेन्नई </span>-4<br> / 82, Dr. Radhakrishnan Salal, Mylapore, Chennai-4</td>
                                                                    <td style="font-size: 18px;"><span class="hindi">आईफससी कोड</span> / IFSC CODE: <span class="hindi">यूटीआईबी0000006</span> / UTIB0000006</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 18px;"><span class="hindi">खाते का प्रकार</span> / TYPE OF ACCOUNT : <span class="hindi">चालू खाता</span>CURRENT ACCOUNT</td>
                                                                    <td style="font-size: 18px;"><span class="hindi">केंद्र कोड</span> / CENTER CODE: 006</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" style="font-size: 18px;"> <span class="hindi"> बैंक शाखा की 9 अंकों की कोड संख्या MICR चेक पर &#2367;दखाई दे रही है। बैंक द्वारा जारी की गई: </span> 600211002</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 18px;" colspan="2">9 Digit Code Number of the Bank Branch Appearing on MICR Cheque Issued by the Bank : 600211002</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--================sec8 over==============-->
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" style="padding:20px 10px; border-top:1px solid #000;font-size: 18px;" align="center">
                                    <br>
                                    <b> <span class="hindi"><img src="img/18.JPG" alt="" />: १२वीं मं&#2367;जल, कोर १, <img src="img/a3.JPG" alt="" />,<img src="img/a4.JPG" alt="" /></span><br>Registered Office:12th FLOOR, CORE 1, SCOPE MINAR, LAXMI NAGAR, DELHI-110092</b><br><b><span class="hindi"><img src="img/19.JPG" alt="" />: राइट्स भवन, प्लॉट १, सेक्टर २९, गुरुग्राम, ह&#2367;रयाणा -१२२ ००१,</span> <br>Corporate Office: Rites Bhawan, Plot No. 1,Sector-29,Gurgaon,Haryana -122 001.</b>
                                    <br><br>
                                    <span>
                                        This is an electronically generated bill and does not require signature as per Rule No. 46(q) of GST Rules 2017 notified vide notification No. 74/2018 Dt. 31.12.2018
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
    }
    @if (size > 22)
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td width="100%" style="font-family:Arial, Helvetica, sans-serif;" valign="top">
                    <!--================sec7 start==============-->
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="5%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi"><img src="img/d1.JPG" alt="" /></span> <br>SL.NO.</b></td>
                            <td width="50%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi"><img src="img/d2.JPG" alt="" /></span><br>DESCRIPTION OF MATERIAL INSPECTED</b></td>
                            <td width="15%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;font-size: 30px;padding-bottom: 25px;" align="center"><b><span class="hindi"><img src="img/d3.JPG" alt="" /></span> <br>QUANTITY</b></td>
                            <td width="15%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi">यू&#2367;नट लागत</span> <br>UNIT COST</b></td>
                            <td width="15%" valign="top" style="border-bottom:1px solid #000;padding-top: 25px;padding-bottom: 25px;font-size: 30px;" align="center"><b><span class="hindi"><img src="img/d4.JPG" alt="" /></span> <br>BASIC VALUE</b></td>
                            <br>
                        </tr>
                        @{
                            foreach (var val in Model.items.Skip(22).Take(37))
                            {
                                <tr>
                                    <td width="5%" valign="top" style="border-left:1px solid #000000;border-right:1px solid #000000;padding:0 25px;font-size: 30px;padding-top: 15px;" align="center">@no</td>
                                    <td width="50%" valign="top" style="border-left:1px solid #000000;border-right:1px solid #000000;padding:10px 25px;font-size: 30px;" align="center">@val.item_desc</td>
                                    <td width="15%" valign="top" style="border-left:1px solid #000000;border-right:1px solid #000000;padding:0 25px;font-size: 30px;" align="center">@val.qty<br>@val.uom_s_desc</td>
                                    <td width="15%" valign="top" style="border-left:1px solid #000000;border-right:1px solid #000000;padding:0 25px;font-size: 30px;" align="center">@val.rate<br>@val.uom_factor</td>
                                    <td width="15%" valign="top" style="border-left:1px solid #000000;border-right:1px solid #000000;padding:0 25px;font-size: 30px;" align="center">@val.basic_value</td>
                                </tr>
                                <tr>
                                    @if (Convert.ToInt32(val.sales_tax) > 0)
                                    {
                                        <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">GST @Adh @val.sales_tax_per%</td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@val.sales_tax</td>
                                    }
                                </tr>

                                string[] typeArr = { "N", "P", "L" };
                                var discountHTML = "";
                                var discountOtHTML = "";
                                var perHtml = "";
                                var perOtHtml = "";
                                var disStatus = false;
                                var otherChStatus = false;
                                if (typeArr.Contains(val.discount_type))
                                {
                                    disStatus = true;
                                    var dSign = val.discount_type == "P" ? "%" : (val.discount_type == "N" ? "Per Num." : "Lumsum");
                                    discountHTML = $"<span>{val.discount}</span><br>";
                                    perHtml = $"Discount Value@{val.discount_per} {dSign}<br>";
                                }
                                if (typeArr.Contains(val.ot_charge_type))
                                {
                                    otherChStatus = true;
                                    var dSign2 = val.ot_charge_type == "P" ? "%" : (val.ot_charge_type == "N" ? "Per Num." : "Lumsum");
                                    perOtHtml = $"<span>Other Charges@{val.ot_charge_per} {dSign2}</span><br>";
                                    discountOtHTML = $"<span>{val.other_charges}</span><br>";
                                }
                                if (disStatus)
                                {
                                    <tr>
                                        <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@perHtml</td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@discountHTML</td>
                                    </tr>
                                }
                                if (otherChStatus)
                                {
                                    <tr>
                                        <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@perOtHtml</td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@discountOtHTML</td>
                                    </tr>
                                }
                                no = no + 1;
                                total += Convert.ToInt32(val.basic_value) + Convert.ToInt32(val.sales_tax);
                            }
                        }
                    </table>
                </td>
            </tr>
        </table>
        @if (size <= 37)
        {
            @if (size > 29)
            {
                <pagebreak></pagebreak>
            }

            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="100%" style="font-family:Arial, Helvetica, sans-serif;" valign="top">

                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="100%">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="border:1px solid #000;">
                                        <tr>
                                            <td width="5%" valign="top" style="border:1px solid #000;padding: 25px;" align="center"></td>
                                            <td width="50%" valign="top" style="border:1px solid #000;padding: 25px;font-size: 30px;" align="center"><b>Total Material Value Inspected</b></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding: 25px;font-size: 30px;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding: 25px;font-size: 30px;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding: 25px;font-size: 30px;" align="center"><b>@total</b></td>
                                        </tr>

                                        <tr style="border-bottom: 0">
                                            <td width="5%" valign="top" style="border:1px solid #000;border-bottom: 0;padding: 25px;font-size: 30px;" align="center"></td>
                                            <td width="50%" valign="top" style="border:1px solid #000;padding:0 10px;border-bottom: 0;padding: 15px;" align="right">
                                                @foreach (var val in Model.items)
                                                {
                                                    if (Convert.ToInt32(Model.fee_rate) > 0 && count == 1)
                                                    {
                                                        <span>RITES Inspection Fee</span> @Adh @Model.fee_rate @(val.discount_type == "P" ? "%" : "")
                                                        <span><br> 9% SGST <br>9% CGST <br>18% IGST<br><br> </span>
                                                    }
                                                    count++;
                                                }
                                            </td>
                                            <td width="15%" valign="top" style="border:1px solid #000;border-bottom: 0;padding:0 15px;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000; border-bottom: 0;border-bottom: 0;padding:0 15px;" align="center">@Math.Round(Model.insp_fee)<br>@Math.Round(Model.sgst)<br>@Model.cgst<br>@*abs*@ @Math.Round(Model.igst)</td>
                                            <td width="15%" valign="top" style="border:1px solid #000;border-bottom: 0;padding:0 15px;" align="center">
                                                <br>


                                                <span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="5%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                            <td width="50%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"><b>Total Inspection Fee</b></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"><b>@Model.sgst+@Model.cgst+@Model.igst+@Model.insp_fee</b></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"><b>@Model.sgst+@Model.cgst+@Model.igst+@Model.insp_fee</b></td>
                                        </tr>

                                        <tr>
                                            <td width="5%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                            <td width="50%" valign="top" style="border:1px solid #000;padding: 15px;" align="left">SAC Code 998346 <br> (Technical Testing & Analysis Services)</td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                        </tr>

                                        <tr>
                                            <td width="5%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"></td>
                                            <td colspan="3" width="80%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"><b>@(Common.ConvertAmountToWords(Model.sgst + Model.cgst + Model.igst + Model.insp_fee))</b></td>
                                            <td width="15%" valign="top" style="border:1px solid #000;padding: 15px;" align="center"><b>@(Model.sgst + Model.cgst + Model.igst + Model.insp_fee)</b></td>
                                        </tr>

                                    </table>
                                    <!--================sec7 over==============-->
                                </td>
                            </tr>

                            <tr>
                                <td width="100%" style="font-family:Arial, Helvetica, sans-serif;padding:0" valign="top">
                                    <!--================sec8 start==============-->
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:1px solid #000;border-right:1px solid #000;padding-left:10px;padding: 15px;" width="80%" height="25" valign="middle"><b><span class="hindi"><img src="img/11.JPG" alt="" /></span> Enclosures : <span class="hindi"><img src="img/nirikshan.JPG" alt="" /></span>/ Inspection Certificate <span class="hindi">पी. ओ. कॉपी </span> / P.O. Copy</b></td>
                                            <td style="font-size:12px;border-right:1px solid #000;padding: 15px;" align="center" rowspan="2">
                                                <b>
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td><b> <span class="hindi"><img src="img/14.JPG" alt="" /><br><img src="img/15.JPG" alt="" /></span></b></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="100" valign="top"><b>FOR RITES LTD.</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b> <span class="hindi"><img src="img/16.JPG" alt="" /><br><img src="img/17.JPG" alt="" /></span></b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b><i>Authorised Officer</i></b></td>
                                                        </tr>
                                                    </table>
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:9px; border-right:1px solid #000; padding-left:10px;padding: 15px;" valign="top">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td style="font-size: 18px;">1) <span class="hindi">ई एफ टी / क्रॉस्ड चेक / डीडी को "राइट्स &#2367;ल&#2367;मटेड" के पक्ष में तैयार &#2367;कया जाना चा&#2367;हए। दक&#2367;्षणी क्षेत्र, चेन्नई</span> / E F T /Crossed cheque/DD should be drawn In favour of "Rites Ltd." Southern Region, Chennai</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="font-size: 18px;">2) <span class="hindi">कृपया उपरोक्त पते पर सभी व्यवहार करें </span> / Please send all communications to the address given above.</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="font-size: 18px;">3) <span class="hindi">कृपया चेक नंबर और चेक की तारीख स&#2367;हत &#2367;व&#2367;धवत क्रम सं संलग्न भुगतान के साथ &#2367;बल की एक प्र&#2367;त लौटाई जाये </span> / Return one copy of bill with payment for ready reference</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="padding: 15px 0;font-size: 13px;">
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td width="50%" style="font-size: 18px;"><span class="hindi">ई एफ टी &#2367;ववरण &#2367;नम्नानुसार हैं</span> / EFT detail are as under </td>
                                                                    <td style="font-size: 18px;"><span class="hindi">खाता संख्या</span> / Account No: 006010200009843</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 18px;"><span class="hindi">बैंक का नाम</span> / NAME OF BANK : / <span class="hindi">ए&#2367;क्सस बैंक &#2367;ल.</span> AXIS BANK LTD.</td>
                                                                    <td><span class="hindi">शाखा क्र्मांक</span> / BRANCH CODE: 600211002</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 18px;"><span class="hindi">शाखा का नाम</span>NAME OF THE BRANCH : 82, <span class="hindi"> डॉ। राधाकृष्णन सलाल, मायलापुर, चेन्नई </span>-4<br> / 82, Dr. Radhakrishnan Salal, Mylapore, Chennai-4</td>
                                                                    <td style="font-size: 18px;"><span class="hindi">आईफससी कोड</span> / IFSC CODE: <span class="hindi">यूटीआईबी0000006</span> / UTIB0000006</td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="font-size: 18px;"><span class="hindi">खाते का प्रकार</span> / TYPE OF ACCOUNT : <span class="hindi">चालू खाता</span>CURRENT ACCOUNT</td>
                                                                    <td style="font-size: 18px;"><span class="hindi">केंद्र कोड</span> / CENTER CODE: 006</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" style="font-size: 18px;"> <span class="hindi"> बैंक शाखा की 9 अंकों की कोड संख्या MICR चेक पर &#2367;दखाई दे रही है। बैंक द्वारा जारी की गई: </span> 600211002</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 18px;" colspan="2">9 Digit Code Number of the Bank Branch Appearing on MICR Cheque Issued by the Bank : 600211002</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--================sec8 over==============-->
                                </td>
                            </tr>

                            <tr>
                                <td width="100%" style="padding:20px 10px; border-top:1px solid #000;font-size: 18px;" align="center">
                                    <br>
                                    <b> <span class="hindi"><img src="img/18.JPG" alt="" />: १२वीं मं&#2367;जल, कोर १, <img src="img/a3.JPG" alt="" />,<img src="img/a4.JPG" alt="" /></span><br>Registered Office:12th FLOOR, CORE 1, SCOPE MINAR, LAXMI NAGAR, DELHI-110092</b><br><b><span class="hindi"><img src="img/19.JPG" alt="" />: राइट्स भवन, प्लॉट १, सेक्टर २९, गुरुग्राम, ह&#2367;रयाणा -१२२ ००१,</span> <br>Corporate Office: Rites Bhawan, Plot No. 1,Sector-29,Gurgaon,Haryana -122 001.</b>
                                    <br><br>
                                    <span>
                                        This is an electronically generated bill and does not require signature as per Rule No. 46(q) of GST Rules 2017 notified vide notification No. 74/2018 Dt. 31.12.2018
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
    }
</div>