@model IBS.Models.AllGeneratedBills
@{
    ViewData["Title"] = "EastBill";
    var billDate = Model.BILL_DT;
    var expire = "2020-10-01";
    var billDate_time = Convert.ToDateTime(billDate);
    var expire_time = Convert.ToDateTime(expire);
    var size = Model.items.Count();
    var requireQr = false;
    var total = 0;
    var no = 1;
    var count = 1;
    var Adh = "@";
    if (billDate_time >= expire_time)
    {
        requireQr = true;
    }
    else
    {
        requireQr = false;
    }
}

<style>
    .hindi {
        font-family: 'mangal';
    }

    table,
    tr,
    td,
    th {
        border-collapse: collapse;
    }
</style>
<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>West</h2>
        </div>
    </div>
</div>


<div>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="100%">
                <!-- table start-->
                <table width="100%" style="border:1px solid #000;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="100%" style="border-bottom:1px solid #000;">
                            <!--================sec1 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="middle" width="40%"><img src="~/images/rites-logo.png" alt="" style="width:600px;display: block;" /></td> @*img/riteslogo1.jpg*@
                                    @if (Model.BILL_NO == "F") @*.Substring(0, 1)*@
                                    {
                                        <td width="15%" valign="middle" align="center" style="font-size:25px; font-family:Arial, Helvetica, sans-serif;">
                                            <b>
                                                <br>CREDIT NOTE<br>
                                                <span class="hindi">मूल </span>ORIGINAL
                                            </b>
                                        </td>
                                    }
                                    else
                                    {
                                        <td width="15%" valign="middle" align="center" style="font-size:25px; font-family:Arial, Helvetica, sans-serif;">
                                            <b>
                                                <span class="hindi"><img src="img/nirikshan.JPG" alt="" /></span>
                                                <br>INSPECTION FEE BILL<br>
                                                <span class="hindi">मूल </span>ORIGINAL
                                            </b>
                                        </td>
                                    }
                                    <td width="45%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif; line-height:9px;" valign="middle" align="right">
                                        <b>
                                            <table>
                                                <tr>
                                                    <td><span class="hindi">आयकर संख्या</span> / Pan No.</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>AAACR0830Q</td>
                                                </tr>

                                                <tr>
                                                    <td><span class="hindi">माल और सेवा कर सं </span>/ GSTIN No.</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>27AAACR0830Q1Z6</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="hindi">दूरभाष</span> / Telephone</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>022-22012523/22015573</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="hindi">फैक्स</span> / Fax No.</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>022-22084155</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="hindi">ई-मेल</span> / E-mail</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>wrinspn@rites.com</td>
                                                </tr>
                                            </table>
                                        </b>
                                    </td>
                                </tr>
                            </table>
                            <!--================sec1 over==============-->
                        </td>
                    </tr>
                    <!--================sec2 start==============-->
                    <tr>
                        <td width="100%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #000;padding-left:10px;">

                            <table width="100%" cellpadding="0" cellspacing="0" style="vertical-align: top;">
                                <tr>

                                    <td style="padding:7px;font-size: 20px;padding-top: 30px">
                                        @if (!string.IsNullOrEmpty(Model.irfc_bpo_cd) && Model.irfc_funded == "Y")
                                        {
                                            <div width="20%">
                                                <span>
                                                    <br><b><span class="hindi"> सेवा में</span> / TO</b>
                                                    @*<?php echo Model.irfc_bpo_name .  Model.irfc_bpo_rly .  Model.irfc_bpo_add . Model.irfc_bpo_city; ?>*@
                                                </span>
                                                @if (!string.IsNullOrEmpty(Model.irn_no) && !string.IsNullOrEmpty(Model.qr_code) && @requireQr)
                                                {
                                                    <br>
                                                    <p style="padding:0;margin:0;"><strong>IRN No.</strong>@Model.irn_no</p>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.remarks))
                                                {
                                                    <p style="padding:0;margin:0;"><strong>Remarks.</strong>@Model.remarks</p>
                                                }
                                            </div>
                                            <div valign="top" width="30%"> <b> Through</b><br>@Model.BPO_NAME<br>@Model.bpo_orgn<br>@Model.bpo_add<br>@Model.bpo_city<br><br>Recipient GSTIN : @Model.recipient_gstin_no<br>State Code : @(string.IsNullOrEmpty(Model.recipient_gstin_no) ? "" : Model.recipient_gstin_no.Substring(0, 2))</div>
                                        }
                                        else
                                        {
                                            <div valign="top" width="30%">
                                                <b><span class="hindi"> सेवा में</span> / TO</b><br>
                                                @*<?php echo Model.bpo_name; ?>*@
                                                @Model.BPO_NAME<br>
                                                @Model.bpo_orgn WEST CENTRAL RAILWAY<br>
                                                @Model.bpo_add <br>
                                                @Model.bpo_city <br>
                                                Recipient GSTIN : @Model.recipient_gstin_no<br>State Code : @(string.IsNullOrEmpty(Model.recipient_gstin_no) ? "" : Model.recipient_gstin_no.Substring(0, 2))

                                                @if (!string.IsNullOrEmpty(Model.irn_no) && !string.IsNullOrEmpty(Model.qr_code) && @requireQr)
                                                {
                                                    <br>
                                                    <p style="padding:0;margin:0;"><strong>IRN No.</strong>@Model.irn_no</p>
                                                    @if (!string.IsNullOrEmpty(Model.remarks)) { }
                                                    <p style="padding:0;margin:0;"><strong>Remarks.</strong>@Model.remarks</p>
                                                }
                                            </div>
                                        }
                                    </td>

                                    <!-- <td width="20%">&nbsp;</td>-->
                                    <td align="right">
                                        <b>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="font-size: 20px;padding-top: 30px;">
                                                            <span class="hindi">पशि्चमी</span> / Western Region<br><span class="hindi">रीजेंट चैंबर, 5 वीं मंजिल</span> / Regent Chamber, 5th floor,<br><span class="hindi">
                                                                ऊपर स्थिति रेस्तरां
                                                            </span> / Above Status Restaurant, <br>
                                                            <span class="hindi">
                                                                नरीमन पॉइंट
                                                            </span> / Nariman Point,
                                                            <br>
                                                            <span class="hindi">मुंबई - 400 021</span>
                                                            / Mumbai - 400 021
                                                            @if (!string.IsNullOrEmpty(Model.irn_no) && !string.IsNullOrEmpty(Model.qr_code) && @requireQr)
                                                            {
                                                                <p style="padding:0;margin:0;"><strong>ACK No.</strong>@Model.ack_no <strong>ACK Date:</strong>@Model.ack_dt</p>

                                                            }
                                                            <br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </b>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="border-bottom:1px solid #000; padding:15px 0;">
                            <!--================sec3 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif;">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                @if (!string.IsNullOrEmpty(Model.BILL_NO) && Model.BILL_NO.Substring(0, 1) == "F")
                                                {
                                                    <td style="width: 14%;"><b><span><img style="width:120px" src="img/CreditNote.jpg" alt="" /></span><br>CREDIT NOTE.</b></td>
                                                    <td style="width: 86%;" valign="middle" align="left">@Model.credit_doc_id</td>
                                                }
                                                else
                                                {
                                                    <td style="width: 14%;"><b><span class="hindi">&#2367;बल सं.</span><br>BILL NO.</b></td>
                                                    <td style="width: 86%;" valign="middle" align="left">@Model.invoice_no</td>
                                                }
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="50%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif;" align="right">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width: 80%;" align="right"><b><span class="hindi">&#2367;दनांक.</span><br>DATE:</b></td>
                                                <td style="width: 20%;" valign="middle" align="right">@(Convert.ToDateTime(Model.BILL_DT).ToString("dd-MMM-yyyy"))</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!--================sec3 over==============-->
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="border-bottom:1px solid #000; padding:15px 0;">
                            <!--================sec4 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif;">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width: 35%;"><b><span class="hindi">सं&#2367;वदा / एटी / पी.ओ.सं.</span><br>CONTRACT/AT/P.O. NO.</b></td>
                                                <td style="width: 65%;" valign="middle" align="left">@Model.po_no</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="50%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif;" align="right">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width: 80%;" align="right"><b><span class="hindi">&#2367;दनांक.</span><br>DATE:</b></td>
                                                <td style="width: 20%;" valign="middle" align="right">@(Convert.ToDateTime(Model.po_dt).ToString("dd-MMM-yyyy"))</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!--================sec4 over==============-->
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="border-bottom:1px solid #000;" valign="top">
                            <!--================sec5 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="top" width="51%" style="font-size:11px;font-family:Arial, Helvetica, sans-serif;border-right:1px solid #000;padding:15px 0;" height="100">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><b><span class="hindi">सं&#2367;वदाकार का नाम और पता</span> / CONTRACTOR'S NAME AND ADDRESS</b></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Model.Vend_Name
                                                    <br>
                                                    @Model.Vend_Add1
                                                    <br>
                                                    @Model.Vendor_City
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top" width="49%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif;padding:15px 0;">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><b><span class="hindi"><img src="img/b1.JPG" alt="" />का &#2367;ववरण</span> / RECIPIENT / CONSIGNEE'S DETAILS</b></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Model.Consignee
                                                    <br>
                                                    @Model.Consignee_Add1
                                                    <br>
                                                    @Model.Consignee_City
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!--================sec5 over==============-->
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif;padding:0" valign="top">
                            <!--================sec6 start==============-->
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="30%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;padding:15px;" width="275" align="center"><b><span class="hindi"><img src="img/c1.JPG" alt="" /></span> / INSPECTION CERTIFICATE NO.</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;padding:15px;" align="center"><b><span class="hindi">&#2367;दनांक </span>/ DATE</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;padding:15px;" align="center"><b><span class="hindi">बुक सं </span>/ BOOK NO.</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;padding:15px;" align="center"><b><span class="hindi">सेट सं </span>/ SET NO.</b></td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;padding:15px;" align="center"><b><span class="hindi"><img src="img/c2.JPG" alt="" /> </span>/ INSTALMENT NO.</b></td>
                                </tr>
                                <tr>
                                    <td width="30%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000; text-align:left;padding:15px 0;">@Model.IC_NO</td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;text-align:center;padding:15px 0;">@(Convert.ToDateTime(Model.IC_DT).ToString("dd-MM-yyyy"))</td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;text-align:center;padding:15px 0;">@Model.bk_no</td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;text-align:center;padding:15px 0;">@Model.set_no</td>
                                    <td width="15%" valign="top" style="border-bottom:1px solid #000;border-right:1px solid #000;text-align:center;padding:15px 0;">@Model.call_instalment_no</td>
                                </tr>
                            </table>
                            <!--================sec6 over==============-->
                        </td>
                    </tr>
                    <td width="100%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif;padding:15px 0 ;border-bottom:1px solid #000;" valign="top">
                        <!--================sec7 start==============-->
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="5%" valign="top" style="border-bottom:1px solid #000;padding:15px 0" align="center"><b><span class="hindi"><img src="img/d1.JPG" alt="" /></span> <br>SL.NO.</b></td>
                                <td width="50%" valign="top" style="border-bottom:1px solid #000;padding:15px 0" align="center"><b><span class="hindi"><img src="img/d2.JPG" alt="" /></span><br>DESCRIPTION OF MATERIAL INSPECTED</b></td>
                                <td width="15%" valign="top" style="border-bottom:1px solid #000;padding:15px 0" align="center"><b><span class="hindi"><img src="img/d3.JPG" alt="" /></span> <br>QUANTITY</b></td>
                                <td width="15%" valign="top" style="border-bottom:1px solid #000;padding:15px 0" align="center"><b><span class="hindi">यू&#2367;नट लागत</span> <br>UNIT COST</b></td>
                                <td width="15%" valign="top" style="border-bottom:1px solid #000;padding:15px 0" align="center"><b><span class="hindi"><img src="img/d4.JPG" alt="" /></span> <br>BASIC VALUE</b></td>
                            </tr>
                            @{
                                foreach (var val in Model.items.Skip(0).Take(7))
                                {
                                    <tr>
                                        <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@no</td>
                                        <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 15px;" align="center">@val.item_desc</td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@($"{val.qty} <br>{val.uom_s_desc}")</td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@($"{val.rate}<br>{val.uom_factor}")</td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding-left: 15px; padding-right: 15px; padding-top: 15px;" align="center">@val.basic_value</td>
                                    </tr>
                                    <tr>
                                        if (Convert.ToInt32(val.sales_tax) > 0)
                                        {
                                        <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">GST @Adh @val.sales_tax_per%</td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                        <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@val.sales_tax</td>
                                        }
                                    </tr>

                                    string[] typeArr = { "N", "P", "L" };
                                    var discountHTML = "";
                                    var discountOtHTML = "";
                                    var perHtml = "";
                                    var perOtHtml = "";
                                    var disStatus = false;
                                    var otherChStatus = false;
                                    if (typeArr.Contains(val.discount_type))
                                    {
                                        disStatus = true;
                                        var dSign = val.discount_type == "P" ? "%" : (val.discount_type == "N" ? "Per Num." : "Lumsum");
                                        discountHTML = $"<span>{val.discount}</span><br>";
                                        perHtml = $"Discount Value@{val.discount_per} {dSign}<br>";
                                    }
                                    if (typeArr.Contains(val.ot_charge_type))
                                    {
                                        otherChStatus = true;
                                        var dSign2 = val.ot_charge_type == "P" ? "%" : (val.ot_charge_type == "N" ? "Per Num." : "Lumsum");
                                        perOtHtml = $"<span>Other Charges@{val.ot_charge_per} {dSign2}</span><br>";
                                        discountOtHTML = $"<span>{val.other_charges}</span><br>";
                                    }
                                    if (disStatus)
                                    {
                                        <tr>
                                            <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                            <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@perHtml</td>
                                            <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                            <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                            <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@discountHTML</td>
                                        </tr>
                                    }
                                    if (otherChStatus)
                                    {
                                        <tr>
                                            <td width="5%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                            <td width="50%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@perOtHtml</td>
                                            <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                            <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center"></td>
                                            <td width="15%" valign="top" style="border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0 25px; font-size: 30px;" align="center">@discountOtHTML</td>
                                        </tr>
                                    }
                                    no = no + 1;
                                    total += Convert.ToInt32(val.basic_value) + Convert.ToInt32(val.sales_tax);
                                }
                            }
                        </table>
                        @if (size <= 22)
                        {
                            if (size > 14)
                            {
                                <pagebreak></pagebreak>
                            }
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="100%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif;padding:15px 0 ;border-bottom:1px solid #000;" valign="top">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="100%">
                                                    <!--table start-->
                                                    <table width="100%" style="border:1px solid #000;" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td width="5%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                            <td width="50%" valign="top" style="border:1px solid #000;padding:15px 0;" align="center"><b>Total Material Value Inspected</b></td>
                                                            <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                            <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                            <td width="15%" valign="top" style="border:1px solid #000" align="center"><b>@Model.material_value</b></td>
                                                        </tr>
                                                        <tr style="border-bottom: 0">
                                                            <td width="5%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center"></td>
                                                            <td width="50%" valign="top" style="border:1px solid #000;padding:0 10px;border-bottom: 0" align="right">
                                                                @foreach (var val in Model.items)
                                                                {
                                                                    if (Convert.ToInt32(Model.fee_rate) > 0 && count == 1)
                                                                    {
                                                                        <span>RITES Inspection Fee</span> @Adh @Model.fee_rate @(
                                                                                 val.discount_type == "P" ? "%" : ""
)
                                                                        <span><br> 9% SGST <br>9% CGST <br>18% IGST<br><br> </span>
                                                                    }
                                                                    count++;
                                                                }
                                                            </td>
                                                            <td width="15%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center"></td>
                                                            <td width="15%" valign="top" style="border:1px solid #000; border-bottom: 0;border-bottom: 0;padding:0px 0" align="center">@*abs*@ @Math.Round(Model.insp_fee)<br>@Math.Round(Model.sgst)<br>@Math.Round(Model.cgst)<br>@*abs*@ @Math.Round(Model.igst)</td>
                                                            <td width="15%" valign="top" style="border:1px solid #000;border-bottom: 0" align="center">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                            <td width="50%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>Total Inspection Fee</b></td>
                                                            <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                            <td width="15%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>@Model.sgst+@Model.cgst+@Model.igst+@Model.insp_fee</b></td>
                                                            <td width="15%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>@Model.sgst+@Model.cgst+@Model.igst+@Model.insp_fee</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                            <td width="50%" valign="top" style="border:1px solid #000;padding:15px 0" align="left">SAC Code 998346 <br> (Technical Testing & Analysis Services)</td>
                                                            <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                            <td width="15%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                            <td width="15%" valign="top" style="border:1px solid #000" align="center"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="5%" valign="top" style="border:1px solid #000;" align="center"></td>
                                                            <td colspan="3" width="80%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>numtowords(@Model.sgst+@Model.cgst+@Model.igst+@Model.insp_fee)</b></td>
                                                            <td width="15%" valign="top" style="border:1px solid #000;padding:15px 0" align="center"><b>@Model.sgst+@Model.cgst+@Model.igst+@Model.insp_fee</b></td>
                                                        </tr>
                                                    </table>
                                                    <!--================sec7 over==============-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" style="font-family:Arial, Helvetica, sans-serif;padding:0" valign="top">
                                                    <!--================sec8 start==============-->
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td style="border-bottom:1px solid #000;border-right:1px solid #000;padding-top: 15px;padding-left: 15px;" width="80%" height="25" valign="middle"><b><span class="hindi"><img src="img/l1.JPG" alt="" /></span> Enclosures : <span class="hindi"><img src="img/nirikshan.JPG" alt="" /></span>/ Inspection Certificate <span class="hindi">पी. ओ. कॉपी </span> / P.O. Copy</b></td>
                                                            <td style="font-size:12px;border-right:1px solid #000;padding-left: 15px;" align="center" rowspan="2">
                                                                <b>
                                                                    <table cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td><b> <span class="hindi"><img src="img/l4.JPG" alt="" /><br><img src="img/l5.JPG" alt="" /></span></b></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="100" valign="top"><b>FOR RITES LTD.</b></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><b> <span class="hindi"><img src="img/l6.JPG" alt="" /><br><img src="img/l7.JPG" alt="" /></span></b></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><b><i>Authorised Officer</i></b></td>
                                                                        </tr>
                                                                    </table>
                                                                </b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:9px; border-right:1px solid #000; padding-left:15px;" valign="top">
                                                                <table width="100%" style="table-layout:fixed;border-top:1px solid #000" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td style="border-right:1px solid #000;padding-left:15px;" height="25" valign="middle">
                                                                            <b><span class="hindi">संलग्न</span> Enclosures : <span class="hindi">&#2367;नरीक्षण प्रमाणपत्र</span> / Inspection Certificate <span class="hindi">पी. ओ. कॉपी</span> / P.O. Copy</b>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <p>1) <span class="hindi">&#2367;डमांड ड्राफ्ट को "राइट्स &#2367;लमिटेड, मुंबई" के पक्ष में तैयार &#2367;कया जाना चा&#2367;हए।</span> / Demand Draft should be drawn in favor of "RITES LTD., Mumbai"</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <p>2) <span class="hindi">कृपया उपरोक्त पते पर सभी व्यवहार करें </span> / Please send all communications to the address given above.</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <p>3) <span class="hindi">कृपया चेक नंबर और चेक की तारीख स&#2367;हत &#2367;व&#2367;धवत क्रम सं संलग्न भुगतान के साथ &#2367;बल की एक प्र&#2367;त लौटाई जाये </span> / Return one copy of bill with payment for ready reference</p>
                                                                        </td>
                                                                    </tr>

                                                                    <!--<td style="font-size:13px;border-right:1px solid #000;padding-left:10px;"><p><span style="width:100px;display:inline-block">BANK </span>: AXIS BANK LTD. Fort, Mumbai</p>
                                                                    <p><span style="width:100px;display:inline-block">Account No</span> : 004010200023773</p>
                                                                    <p><span style="width:100px;display:inline-block">IFSC CODE</span> : UTIB0000004</p>
                                                                    <p><span style="width:100px;display:inline-block">MICR  </span> : 400211002</p>
                                                                    </td>

                                                                    <td style="font-size:12px;" align="center" rowspan="2">
                                                                    <b>
                                                                    <table cellpadding="0" cellspacing="0">
                                                                    <tr><td style="font-size:12px;"><b><span class="hindi">कृते राइट्स &#2367;ल&#2367;मटेड</span> </b></td></tr>
                                                                    <tr><td style="font-size:14px;" height="100" valign="top"><b>FOR RITES LTD.</b></td></tr>
                                                                    <tr><td style="font-size:14px;"><b><span class="hindi">प्रा&#2367;धकृत अ&#2367;धकारी</span></b></td></tr>
                                                                    <tr><td style="font-size:12px;"><b><i>Authorised Officer</i></b></td></tr>
                                                                    </table>
                                                                    </b>
                                                                    </td>-->
                                                                    <!--new genrated start-->
                                                                    <tr>
                                                                        <td style="border-right:1px solid #000;padding-left:10px;">
                                                                            <p><span>BANK </span>: AXIS BANK LTD. Fort, Mumbai</p>
                                                                            <p><span>Account No</span> : 004010200023773</p>
                                                                            <p><span>IFSC CODE</span> : UTIB0000004</p>
                                                                            <p><span>MICR </span> : 400211002</p>
                                                                        </td>

                                                                    </tr>

                                                                    <tr>
                                                                    </tr>

                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!--================sec8 over==============-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" style="padding:5px 10px; border-top:1px solid #000;" align="center">
                                                    <br>
                                                    <b><span class="hindi">पंजीकृत कार्यालय: स्कोप मीनार, लक्ष्मी नगर, &#2367;दल्ली - 110092</span> <br>Registered Office : Scope Minar, Laxmi Nagar, Delhi - 110092 </b><br>
                                                    <b><span class="hindi">कॉर्पोरेट ऑ&#2367;फस: राइट्स भवन, प्लॉट नंबर 1, सेक्टर 29, गुड़गांव, ह&#2367;रयाणा - 122001</span> <br>Corporate Office : Rites Bhavan, Plot No.1, Sector 29, Gurgaon, Haryana - 122001</b>
                                                    <br><br>
                                                    <span>
                                                        This is an electronically generated bill and does not require signature as per Rule No. 46(q) of GST Rules 2017 notified vide notification No. 74/2018 Dt. 31.12.2018
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        }
                    </td>
                </table>
            </td>
        </tr>
    </table>
</div>     