@model IBS.Models.ContractEntry

@{
    string clsView = "";
    if (Model.ID > 0)
    {
        clsView = "Permission_View";
    }
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Manage Contract Entry</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="ContractEntry" class="formBtn viewall-btn">View List</a>
    </div>
</div>

<section id="tab-1" class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="ContractEntry" asp-action="ContractDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmContract">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" value="0" id="hdnValueID" />
            <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />
            <div class="accordion-body">
                <div class="row my-0">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Letter No.</label>
                        <input type="text" class="input" ASP-FOR="LETTER_NO" maxlength="300" required />
                        <span asp-validation-for="LETTER_NO" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Letter Date</label>
                        <input type="text" class="input datepicker" ASP-FOR="LETTER_DATE" maxlength="300" placeholder="DD/MM/YYYY" required />
                        <span asp-validation-for="LETTER_DATE" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="Reference">Organization Type</label>
                        @Html.DropDownListFor(model => model.CLIENTTYPE, new SelectList(IBS.Models.Common.RailwaysTypes(), "Value", "Text"), "--Select--", new { @class = "form-control", @id = "CLIENTTYPE" })
                        <span asp-validation-for="CLIENTTYPE" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Organization Name</label>
                        @if (!string.IsNullOrEmpty(Model.CLIENTNAME))
                        {
                            @Html.DropDownListFor(model => model.CLIENTNAME,
                                     new SelectList(IBS.Models.Common.SetClientName(Model.CLIENTTYPE, Model.CLIENTNAME), "Value", "Text", Model.CLIENTNAME),
                                     "--Select--", new { @class = "form-control", @id = "CLIENTNAME" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.CLIENTNAME,
                                     new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                                     "--Select--", new { @class = "select2", id = "CLIENTNAME" })
                        }

                        <span asp-validation-for="CLIENTNAME" class="text-danger"></span>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Time Period From.</label>
                        <input type="text" class="input datepicker" asp-for="TPFROM" readonly="true" placeholder="DD/MM/YYYY" required>
                        <span asp-validation-for="TPFROM" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">To</label>
                        <input type="text" class="input datepicker" asp-for="TPTO" readonly="true" placeholder="DD/MM/YYYY" required>
                        <span asp-validation-for="TPTO" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_Contract_Doc" />
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-lg-12">
                        <h3 class="heading3">Inspection Fee</h3>
                    </div>
                </div>

                <div class="row my-0">
                    <div class="col-md-3 mb-3">
                        <label for="BillAdType">Fee Types</label>
                        <div class="custom-readio">
                            <div class="company-checkbox">
                                <div class="remember">
                                    <div class="remecheckbox">
                                        <ul class="radioListForm">
                                            <li>
                                                <input type="radio" asp-for="InspectionfeeType" name="InspectionfeeType" value="F" id="InspectionfeeType_F" checked />
                                                <label for="InspectionfeeType_F">Flat Fee</label>
                                            </li>
                                            <li>
                                                <input type="radio" asp-for="InspectionfeeType" name="InspectionfeeType" value="M" id="InspectionfeeType_M" />
                                                <label for="InspectionfeeType_M">Material value wise</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-0 FlatFee" style="display:none;">
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Percentage  Basis</label>
                                        <input type = "text" class="input" ASP-FOR="PerBasisFlatfee" maxlength="10" onkeypress="return isNumber(event)"/>
                        <span asp-validation-for="PerBasisFlatfee" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Man Days</label>
                                        <input type = "text" class="input" ASP-FOR="MandayFlatfee" maxlength="10" onkeypress="return isNumber(event)"/>
                        <span asp-validation-for="MandayFlatfee" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Lumpsum</label>
                                        <input type = "text" class="input" ASP-FOR="LumpsumFlatfee" maxlength="10" onkeypress="return isNumber(event)"/>
                        <span asp-validation-for="LumpsumFlatfee" class="text-danger"></span>
                    </div>
                </div>

                <div class="row my-0 MaterialFee" style="display:none;">
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Percentage  Basis</label>
                                        <input type = "text" class="input" ASP-FOR="PerBasis" maxlength="10" onkeypress="return isNumber(event)"/>
                            <span asp-validation-for="PerBasis" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Reference">Man Days</label>
                                        <input type = "text" class="input" ASP-FOR="Manday" maxlength="10" onkeypress="return isNumber(event)"/>
                            <span asp-validation-for="Manday" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Reference">Lumpsum</label>
                                        <input type = "text" class="input" ASP-FOR="Lumpsum" maxlength="10" onkeypress="return isNumber(event)"/>
                            <span asp-validation-for="Lumpsum" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Reference">Material Value From (Rs)</label>
                                        <input type = "text" class="input" ASP-FOR="Fromrs" maxlength="10" onkeypress="return isNumber(event)"/>
                            <span asp-validation-for="Fromrs" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Reference">Material Value To (Rs)</label>
                                        <input type = "text" class="input" ASP-FOR="Tors" maxlength="10" onkeypress="return isNumber(event)"/>
                            <span asp-validation-for="Tors" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 mb-3 btnAlign">
                            <button type="button" id="AddValue" class="formBtn"><span class="fa fa-plus"></span> Add</button>
                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="col-md-12 mb-3">
                            <section class="table-section">
                                <div class="task-listinput">
                                    <div class="dash-table">
                                        <table id="dtValues" class="table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Percentage  Basis</th>
                                                    <th>Man Days</th>
                                                    <th>Lumpsum</th>
                                                    <th>Material Value From (Rs)</th>
                                                    <th>Material Value To (Rs)</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div id="modal-delete-conf-valuation-detail" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirmation!</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this record?</p>
                                </div>
                                <div class="modal-footer">
                                    <div class="savenext-btn">
                                        <button type="button" class="reset-btn" data-bs-dismiss="modal">No</button>
                                        <button type="button" class="save-btn active" id="btnDeletevaluationDetail" data-id="">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-0" style="display:none;">
                    <div class="col-md-2 mb-4">
                        <label for="Reference">Inspection Fee</label>
                        <input type="text" class="input" ASP-FOR="INSPFEE" maxlength="300" required />
                        <span asp-validation-for="INSPFEE" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-4">
                        <label for="Reference">Manday Basis</label>
                        <input type="text" class="input" ASP-FOR="MANDAYBASIS" maxlength="300" required />
                        <span asp-validation-for="MANDAYBASIS" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-4">
                        <label for="Reference">Total Lot Of Insp</label>
                        <input type="text" class="input" ASP-FOR="LOTOFINSP" maxlength="300" required />
                        <span asp-validation-for="LOTOFINSP" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-4">
                        <label for="Reference">Material Value</label>
                        <input type="text" class="input" ASP-FOR="MATERIALVALUE" maxlength="300" required />
                        <span asp-validation-for="MATERIALVALUE" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-4">
                        <label for="Reference">Min PO Value</label>
                        <input type="text" class="input" ASP-FOR="MINPOVAL" maxlength="300" required />
                        <span asp-validation-for="MINPOVAL" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-4">
                        <label for="Reference">Max PO Value</label>
                        <input type="text" class="input" ASP-FOR="MAXPOVAL" maxlength="300" required />
                        <span asp-validation-for="MAXPOVAL" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-0">
                    <div class="col-lg-12">
                        <h3 class="heading3">Call Cancellation</h3>
                    </div>
                </div>

                <div class="row my-0 Cancellation">
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Percentage  Basis</label>
                        <input type="text" class="input" ASP-FOR="PerBasisCancellation" maxlength="10" />
                        <span asp-validation-for="PerBasisCancellation" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Man Days</label>
                        <input type="text" class="input" ASP-FOR="MandayCancellation" maxlength="10" />
                        <span asp-validation-for="MandayCancellation" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Lumpsum</label>
                        <input type="text" class="input" ASP-FOR="LumpsumCancellation" maxlength="10" />
                        <span asp-validation-for="LumpsumCancellation" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-0">
                    <div class="col-lg-12">
                        <h3 class="heading3">Call Rejection</h3>
                    </div>
                </div>

                <div class="row my-0 Rejection">
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Percentage  Basis</label>
                        <input type="text" class="input" ASP-FOR="PerBasisRejection" maxlength="10" />
                        <span asp-validation-for="PerBasisRejection" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Man Days</label>
                        <input type="text" class="input" ASP-FOR="MandayRejection" maxlength="10" />
                        <span asp-validation-for="MandayRejection" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Lumpsum</label>
                        <input type="text" class="input" ASP-FOR="LumpsumRejection" maxlength="10" />
                        <span asp-validation-for="LumpsumRejection" class="text-danger"></span>
                    </div>
                </div>

                <div class="row my-0" style="display:none;">
                    <div class="col-md-4 mb-2">
                        <label for="Reference">Call Cancelation</label>
                        <input type="text" class="input" ASP-FOR="CALLCANCELATION" maxlength="300" required />
                        <span asp-validation-for="CALLCANCELATION" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Material Description</label>
                        <input type="text" class="input" ASP-FOR="Materialdescription" maxlength="300" />
                    </div>
                </div>

                <div class="savenext-btn">
                    <button type="button" class="save-btn active Permission_Save" onclick="BtnSave()">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>


@section scripts {

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function BtnSave() {
            if ($("#frmContract").valid()) {
                SaveSingleDocuments("tab-1");
                $("#frmContract").submit();
            }
        }

        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            if (res.status) {
                window.location.href = '@Url.Action("Index", "ContractEntry")';
            }
        };

        $(document).ready(function () {
            var clientType = $("#CLIENTTYPE").val();
            $('#CLIENTNAME').select2({
                ajax: {
                    url: '@Url.Action("SearchClient", "ContractEntry")',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            clientType: $("#CLIENTTYPE").val(),
                            searchTerm: params.term || ''
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 1
            });

            $("#CLIENTTYPE").on("change", function () {
                $('#CLIENTNAME').val("");
            });

            $('input[type=radio][name=InspectionfeeType]').change();
            InitializeClusterData();
        });
        $('input[type=radio][name=InspectionfeeType]').change(function () {
            var FeeType = $('input[type=radio][name=InspectionfeeType]:checked').val();
            if (FeeType == "F") {
                $(".FlatFee").show();
                $(".MaterialFee").hide();
            }
            else {
                $(".MaterialFee").show();
                $(".FlatFee").hide();
            }
        });

        $("#AddValue").click(function () {
            debugger
            var formData = {
                PerBasis: $("#PerBasis").val(),
                Manday: $("#Manday").val(),
                Lumpsum: $("#Lumpsum").val(),
                Fromrs: $("#Fromrs").val(),
                Tors: $("#Tors").val(),
            }
            $.post("@Url.Action("SaveMValue", "ContractEntry")", { model: formData }, function (response) {
                if (response.status) {
                    InitializeClusterData();
                    $("#PerBasis").val(""),
                        $("#Manday").val(""),
                        $("#Lumpsum").val(""),
                        $("#Fromrs").val(""),
                        $("#Tors").val(""),
                        $("#Id").val("0");
                    ShowHideMsgNew(response.status, response.responseText);
                }
            });

            return false;
        });

        function InitializeClusterData() {
            //$("#hdnValueID").val($("#ClusterID option:selected").text());
            debugger
            $("#dtValues").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadDataTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "PerBasis" },
                    { data: "Manday" },
                    { data: "Lumpsum" },
                    { data: "Fromrs" },
                    { data: "Tors" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.Id;
                            var html = '<div align=\"center\" class=\"reporticon actioncenter\"> <a onclick="EditMValue(' + id + ');" href="javascript:void(\'0\');" class=\"edit\"><i class=\"fa fa-pencil\" title="edit"></i></a>';
                            html += '<a onclick="DeleteMValue(' + id + ');"  href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function EditMValue(id) {
            $.ajax({
                url: '@Url.Action("EditMValue", "ContractEntry")?id=' + id,
                type: 'GET',
                cache: false,
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    $("#PerBasis").val(response.list.PerBasis),
                        $("#Manday").val(response.list.Manday),
                        $("#Lumpsum").val(response.list.Lumpsum),
                        $("#Fromrs").val(response.list.Fromrs),
                        $("#Tors").val(response.list.Tors),

                        $("#Id").val(response.list.Id);
                }
            });
        }

        function DeleteMValue(id) {
            $("#btnDeletevaluationDetail").attr("data-id", id);
            $("#modal-delete-conf-valuation-detail").modal("show");
            InitializeClusterData();
        }
        $("#btnDeletevaluationDetail").click(function () {
            $.ajax({
                url: '@Url.Action("DeleteMValue", "ContractEntry")?id=' + $(this).attr("data-id"),
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false
            }).done(function (response) {
                ShowHideMsgNew(response.status, response.responseText);
                if (response.status) {
                    $("#btnDeletevaluationDetail").attr("data-id", "");
                    $("#modal-delete-conf-valuation-detail").modal('hide');
                    InitializeClusterData();
                }
            });
        });

    </script>
}