@model IBS.Models.BillRaisedModel

<div style="margin-left:5px;margin-right:5px;">
    @if (Model.ActionType == "NSC")
    {
        <h3 class="center">Cris payment details for the period : <span class="orangeText">@Convert.ToDateTime(@Model.FromDt).ToString("dd/MM/yyyy") To @Convert.ToDateTime(@Model.ToDt).ToString("dd/MM/yyyy") (Report Sorted on Vendor)</span> @Model.Region</h3>
    }
    else
    {
        <h3 class="center">Returned Bills yet to be Resent (Not Posted in IBS)  @Model.Region</h3>
    }
    <table id="dtList" class="borderTable" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            @if (Model.ActionType == "NSC")
            {
                <tr>
                    <th width="4%" valign="top" align="center"><b><font size="2" face="Verdana">Sr. No.</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">RLY</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">PO OR LOA</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">AU</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">Bill No.</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">Bill Dt.</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">Invoice No.</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">Bill Amount</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">Amount Recieved</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">Bill Amt Cleared</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">Bill Gen Dt</font></b></th>
                    <th width="16%" valign="top" align="center"><b><font size="2" face="Verdana">IRN NO.</font></b></th>
                </tr>
                @if (Model != null && Model.lstBillCris.Count > 0)
                {
                    int SrNo = 1;
                    int TotalBILL_AMOUNT = 0;
                    int TotalAMT_RECEIVED = 0;
                    int TotalAMT_CLEARED = 0;

                    @foreach (var item in Model.lstBillCris)
                    {
                        <tr>
                            <td align="center"><b><font size="1" face="Verdana">@SrNo</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.BPO_RLY</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.PO_OR_LETTER</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.AU</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.BILL_NO</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.BILL_DT</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.INVOICE_NO</font></b></td>
                            <td align="right"><b><font size="1" face="Verdana">@item.BILL_AMOUNT</font></b></td>
                            <td align="right"><b><font size="1" face="Verdana">@item.AMT_RECEIVED</font></b></td>
                            <td align="right"><b><font size="1" face="Verdana">@item.AMT_CLEARED</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.BILL_GEN_DATE</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.IRN_NO</font></b></td>
                        </tr>
                        SrNo++;
                        TotalBILL_AMOUNT += Convert.ToInt32(@item.BILL_AMOUNT);
                        TotalAMT_RECEIVED += Convert.ToInt32(@item.AMT_RECEIVED);
                        TotalAMT_CLEARED += Convert.ToInt32(@item.AMT_CLEARED);
                    }
                    <tr class="reportTotal">
                        <td align="center" colspan="7"><b><font size="1" face="Verdana">Total :</font></b></td>
                        <td align="right"><b><font size="1" face="Verdana">@TotalBILL_AMOUNT</font></b></td>
                        <td align="right"><b><font size="1" face="Verdana">@TotalAMT_RECEIVED</font></b></td>
                        <td align="right"><b><font size="1" face="Verdana">@TotalAMT_CLEARED</font></b></td>
                        <td align="center" colspan="1"><b><font size="2" face="Verdana"></font></b></td>
                    </tr>
                }
            }

            @if (Model.ActionType == "RBNRS")
            {
                @*<tr>
            <td width='100%' colspan='12'>
            <h5 align='center'><font face='Verdana'>@Model.Region</font></h5>
            <h5 align='center'><font face='Verdana'>Returned Bills yet to be Resent (Not Posted in IBS)</font></h5>
            </td>
            </tr>*@
                <tr>
                    <th width="4%" valign="top" align="center"><b><font size="2" face="Verdana">Sr. No.</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="2" face="Verdana">Client</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="2" face="Verdana">Bill No.</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="2" face="Verdana">Bill Dt.</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">Bill Amount</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">BK No.</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="2" face="Verdana">SET No.</font></b></th>
                    <th width="22%" valign="top" align="center"><b><font size="2" face="Verdana">Return Reason</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="2" face="Verdana">Return Date</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="2" face="Verdana">AU CODE</font></b></th>
                </tr>
                @if (Model != null && Model.lstBillCrisSubmitted.Count > 0)
                {
                    int SrNo = 1;
                    int TotalBILL_AMOUNT = 0;

                    @foreach (var item in Model.lstBillCrisSubmitted)
                    {
                        <tr>
                            <td align="center"><b><font size="1" face="Verdana">@SrNo</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.BPO_RLY</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.BILL_NO</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.BILL_DT</font></b></td>
                            <td align="right"><b><font size="1" face="Verdana">@item.BILL_AMOUNT</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.BK_NO</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.SET_NO</font></b></td>
                            <td align="left"><b><font size="1" face="Verdana">@item.RETURN_REASON</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.RETURN_DT</font></b></td>
                            <td align="center"><b><font size="1" face="Verdana">@item.AU</font></b></td>
                        </tr>
                        SrNo++;
                        TotalBILL_AMOUNT += Convert.ToInt32(@item.BILL_AMOUNT);
                    }
                    <tr class="reportTotal">
                        <td align="center" colspan="4"><b><font size="1" face="Verdana">Total :</font></b></td>
                        <td align="right"><b><font size="1" face="Verdana">@TotalBILL_AMOUNT</font></b></td>
                        <td align="center" colspan="5"><b><font size="1" face="Verdana"></font></b></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>