@model IBS.Models.BillRaisedModel
@{
    Layout = null;
    ViewData["Title"] = "Billing Report";
}
<html>
<head>
    <title>Client Wise Billing Summary</title>
</head>
<body>
    <div class="savenext-btn">
        <button type="button" class="save-btn active" onclick="ExportExcel('xlsx')">Export table to excel</button>
        <button type="button" class="save-btn active" onclick="ExportPDF('pdf')">Export table to pdf</button>
    </div>
    <br />
    <table id="dtList" border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse;" bordercolor="#111111" width="100%">
        <tbody>
            <tr>
                <td width='100%' colspan='5'>
                    <h5 align='center'><font face='Verdana'>@Model.Region</font></h5>
                    @*<h5 align='center'><font face='Verdana'>Client Wise Billing Summary For the Month @Model.MonthName - @Model.FromYr</font></h5>*@
                    @if (Model.BillSummary == "M")
                    {
                        <h5 align='center'><font face='Verdana'>Client Wise Billing Summary For the Month @Model.FromMonthName - @Model.FromYr</font></h5>
                    }
                    else
                    {
                        <h5 align='center'><font face='Verdana'>Client Wise Billing Summary For the Period @Model.FromMonthName - @Model.FromYr to @Model.ToMonthName - @Model.ToYr</font></h5>
                    }
                </td>
            </tr>

            <tr>
                <th width="50%" valign="top" align="center"><b><font size="2" face="Verdana">Railway/Client</font></b></th>
                <th width="10%" valign="top" align="center"><b><font size="2" face="Verdana">Insp Fee</font></b></th>
                <th width="10%" valign="top" align="center"><b><font size="2" face="Verdana">Tax</font></b></th>
                <th width="15%" valign="top" align="center"><b><font size="2" face="Verdana">Billing Amount</font></b></th>
                <th width="15%" valign="top" align="center"><b><font size="2" face="Verdana">No. Of Bills</font></b></th>
            </tr>
            <tr>
                <td class="actionCenter" style="background:#ccccff;" width='13%' valign='top' align='center' colspan=5 bgcolor=#ccccff> <font size='2' face='Verdana'><b>Railways</b></font></td>
            </tr>
            @if (Model != null && Model.lstBill.Count > 0)
            {
                int TotalINSP_FEE1 = 0;
                int TotalTAX1 = 0;
                int TotalBILL_AMOUNT1 = 0;
                int TotalNO_OF_BILLS1 = 0;
                @foreach (var item in Model.lstBill)
                {
                    @if (item.BPO_TYPE == "Railways")
                    {
                        <tr>
                            <th width="50%" valign="top" align="left"><b><font size="2" face="Verdana">@item.BPO_ORGN</font></b></th>
                            <th width="10%" valign="top" align="right"><b><font size="2" face="Verdana">@item.INSP_FEE</font></b></th>
                            <th width="10%" valign="top" align="right"><b><font size="2" face="Verdana">@item.TAX</font></b></th>
                            <th width="15%" valign="top" align="right"><b><font size="2" face="Verdana">@item.BILL_AMOUNT</font></b></th>
                            <th width="15%" valign="top" align="right"><b><font size="2" face="Verdana">@item.NO_OF_BILLS</font></b></th>
                        </tr>

                        TotalINSP_FEE1 += Convert.ToInt32(@item.INSP_FEE);
                        TotalTAX1 += Convert.ToInt32(@item.TAX);
                        TotalBILL_AMOUNT1 += Convert.ToInt32(@item.BILL_AMOUNT);
                        TotalNO_OF_BILLS1 += Convert.ToInt32(@item.NO_OF_BILLS);
                    }
                }
                <tr style="background:#d4d0c8;">
                    <th align="center"><b><font size="2" face="Verdana">Total For Railways:</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalINSP_FEE1</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalTAX1</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalBILL_AMOUNT1</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalNO_OF_BILLS1</font></b></th>
                </tr>
            }
            <tr>
                <td class="actionCenter" style="background:#ccccff;" width='13%' valign='top' align='center' colspan=5 bgcolor=#ccccff> <font size='2' face='Verdana'><b>PSU</b></font></td>
            </tr>
            @if (Model != null && Model.lstBill.Count > 0)
            {
                int TotalINSP_FEE2 = 0;
                int TotalTAX2 = 0;
                int TotalBILL_AMOUNT2 = 0;
                int TotalNO_OF_BILLS2 = 0;
                @foreach (var item in Model.lstBill)
                {
                    @if (item.BPO_TYPE == "PSU")
                    {
                        <tr>
                            <th width="50%" valign="top" align="left"><b><font size="2" face="Verdana">@item.BPO_ORGN</font></b></th>
                            <th width="10%" valign="top" align="right"><b><font size="2" face="Verdana">@item.INSP_FEE</font></b></th>
                            <th width="10%" valign="top" align="right"><b><font size="2" face="Verdana">@item.TAX</font></b></th>
                            <th width="15%" valign="top" align="right"><b><font size="2" face="Verdana">@item.BILL_AMOUNT</font></b></th>
                            <th width="15%" valign="top" align="right"><b><font size="2" face="Verdana">@item.NO_OF_BILLS</font></b></th>
                        </tr>

                        TotalINSP_FEE2 += Convert.ToInt32(item.INSP_FEE);
                        TotalTAX2 += Convert.ToInt32(item.TAX);
                        TotalBILL_AMOUNT2 += Convert.ToInt32(item.BILL_AMOUNT);
                        TotalNO_OF_BILLS2 += Convert.ToInt32(item.NO_OF_BILLS);
                    }
                }
                <tr style="background:#d4d0c8;">
                    <th align="center"><b><font size="2" face="Verdana">Total For PSU:</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalINSP_FEE2</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalTAX2</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalBILL_AMOUNT2</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalNO_OF_BILLS2</font></b></th>
                </tr>
            }
            <tr>
                <td class="actionCenter" style="background:#ccccff;" width='13%' valign='top' align='center' colspan=5 bgcolor=#ccccff> <font size='2' face='Verdana'><b>Private</b></font></td>
            </tr>
            @if (Model != null && Model.lstBill.Count > 0)
            {
                int TotalINSP_FEE3 = 0;
                int TotalTAX3 = 0;
                int TotalBILL_AMOUNT3 = 0;
                int TotalNO_OF_BILLS3 = 0;
                @foreach (var item in Model.lstBill)
                {
                    @if (item.BPO_TYPE == "Private")
                    {
                        <tr>
                            <th width="50%" valign="top" align="left"><b><font size="2" face="Verdana">@item.BPO_ORGN</font></b></th>
                            <th width="10%" valign="top" align="right"><b><font size="2" face="Verdana">@item.INSP_FEE</font></b></th>
                            <th width="10%" valign="top" align="right"><b><font size="2" face="Verdana">@item.TAX</font></b></th>
                            <th width="15%" valign="top" align="right"><b><font size="2" face="Verdana">@item.BILL_AMOUNT</font></b></th>
                            <th width="15%" valign="top" align="right"><b><font size="2" face="Verdana">@item.NO_OF_BILLS</font></b></th>
                        </tr>

                        TotalINSP_FEE3 += Convert.ToInt32(item.INSP_FEE);
                        TotalTAX3 += Convert.ToInt32(item.TAX);
                        TotalBILL_AMOUNT3 += Convert.ToInt32(item.BILL_AMOUNT);
                        TotalNO_OF_BILLS3 += Convert.ToInt32(item.NO_OF_BILLS);
                    }
                }
                <tr style="background:#d4d0c8;">
                    <th align="center"><b><font size="2" face="Verdana">Total For Private:</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalINSP_FEE3</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalTAX3</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalBILL_AMOUNT3</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalNO_OF_BILLS3</font></b></th>
                </tr>
            }
            <tr>
                <td class="actionCenter" style="background:#ccccff;" width='13%' valign='top' align='center' colspan=5 bgcolor=#ccccff> <font size='2' face='Verdana'><b>State Government</b></font></td>
            </tr>
            @if (Model != null && Model.lstBill.Count > 0)
            {
                int TotalINSP_FEE4 = 0;
                int TotalTAX4 = 0;
                int TotalBILL_AMOUNT4 = 0;
                int TotalNO_OF_BILLS4 = 0;
                @foreach (var item in Model.lstBill)
                {
                    @if (item.BPO_TYPE == "State Government")
                    {
                        <tr>
                            <th width="50%" valign="top" align="left"><b><font size="2" face="Verdana">@item.BPO_ORGN</font></b></th>
                            <th width="10%" valign="top" align="right"><b><font size="2" face="Verdana">@item.INSP_FEE</font></b></th>
                            <th width="10%" valign="top" align="right"><b><font size="2" face="Verdana">@item.TAX</font></b></th>
                            <th width="15%" valign="top" align="right"><b><font size="2" face="Verdana">@item.BILL_AMOUNT</font></b></th>
                            <th width="15%" valign="top" align="right"><b><font size="2" face="Verdana">@item.NO_OF_BILLS</font></b></th>
                        </tr>

                        TotalINSP_FEE4 += Convert.ToInt32(item.INSP_FEE);
                        TotalTAX4 += Convert.ToInt32(item.TAX);
                        TotalBILL_AMOUNT4 += Convert.ToInt32(item.BILL_AMOUNT);
                        TotalNO_OF_BILLS4 += Convert.ToInt32(item.NO_OF_BILLS);
                    }
                }
                <tr style="background:#d4d0c8;">
                    <th align="center"><b><font size="2" face="Verdana">Total For State Government:</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalINSP_FEE4</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalTAX4</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalBILL_AMOUNT4</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalNO_OF_BILLS4</font></b></th>
                </tr>
            }
            <tr>
                <td class="actionCenter" style="background:#ccccff;" width='13%' valign='top' align='center' colspan=5 bgcolor=#ccccff> <font size='2' face='Verdana'><b>RITES</b></font></td>
            </tr>
            @if (Model != null && Model.lstBill.Count > 0)
            {
                int TotalINSP_FEE5 = 0;
                int TotalTAX5 = 0;
                int TotalBILL_AMOUNT5 = 0;
                int TotalNO_OF_BILLS5 = 0;
                @foreach (var item in Model.lstBill)
                {
                    @if (item.BPO_TYPE == "RITES")
                    {
                        <tr>
                            <th width="50%" valign="top" align="left"><b><font size="2" face="Verdana">@item.BPO_ORGN</font></b></th>
                            <th width="10%" valign="top" align="right"><b><font size="2" face="Verdana">@item.INSP_FEE</font></b></th>
                            <th width="10%" valign="top" align="right"><b><font size="2" face="Verdana">@item.TAX</font></b></th>
                            <th width="15%" valign="top" align="right"><b><font size="2" face="Verdana">@item.BILL_AMOUNT</font></b></th>
                            <th width="15%" valign="top" align="right"><b><font size="2" face="Verdana">@item.NO_OF_BILLS</font></b></th>
                        </tr>

                        TotalINSP_FEE5 += Convert.ToInt32(item.INSP_FEE);
                        TotalTAX5 += Convert.ToInt32(item.TAX);
                        TotalBILL_AMOUNT5 += Convert.ToInt32(item.BILL_AMOUNT);
                        TotalNO_OF_BILLS5 += Convert.ToInt32(item.NO_OF_BILLS);
                    }
                }
                <tr style="background:#d4d0c8;">
                    <th align="center"><b><font size="2" face="Verdana">Total For RITES:</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalINSP_FEE5</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalTAX5</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalBILL_AMOUNT5</font></b></th>
                    <th align="right"><b><font size="2" face="Verdana">@TotalNO_OF_BILLS5</font></b></th>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script>

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const actiontype = urlParams.get('ActionType');
    });

    function ExportExcel(type, fn, dl) {
        var elt = document.getElementById('dtList');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('ClientBillExcel.' + (type || 'xlsx')));
    }
    function ExportPDF(type, fn, dl) {

    }

</script>