@model IBS.Models.BillRaisedModel

@{
    ViewData["Title"] = "Reports Summary";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>@Model.Title</h2>
    </div>
</div>

<div class="task-listinput">
    <input type="hidden" asp-for="Region" />
    <input type="hidden" asp-for="ActionType" />
    <table id="Table2" border="1" cellSpacing="1" borderColor="#b0c4de" cellPadding="1" width="80%" bgColor="#f0f8ff">
        @if (Model.ActionType == "CWBills" || Model.ActionType == "SWBills")
        {
            <tr>
                <td colSpan="3">
                    <div class="custom-readio">
                        @*<label for="Reference">Summary of Report</label>*@
                        <div class="company-checkbox">
                            <div class="remember">
                                <div class="remecheckbox">
                                    <input type="radio" asp-for="BillSummary" value="M" id="BillSummary_M" checked="checked" />
                                    <label for="BillSummary_M">Summary Report For the Month</label>
                                    &nbsp;&nbsp;
                                    <input type="radio" asp-for="BillSummary" value="P" id="BillSummary_P" />
                                    <label for="BillSummary_P">Summary Report For the Given Period</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="WIDTH: 411px;display:none;" id="tdmonth"></td>
                <td>
                    <label id="lblMonth" runat="server" Width="40%" Font-Names="Verdana" Font-Size="8pt" ForeColor="DarkBlue" Font-Bold="True">Month</label>
                </td>
                <td>
                    <label id="lblYear" runat="server" Width="40%" Font-Names="Verdana" Font-Size="8pt" ForeColor="DarkBlue" Font-Bold="True">Year</label>
                </td>
            </tr>
            <tr>
                <td style="WIDTH: 411px; HEIGHT: 22px;display:none;" id="tdFrom">
                    <label id="lblFrom" runat="server" Width="40%" Font-Names="Verdana" Font-Size="8pt" ForeColor="DarkBlue" Font-Bold="True">From</label>
                </td>
                <td style="HEIGHT: 22px">
                    @Html.DropDownListFor(model => model.FromMn, new SelectList(IBS.Models.Common.GetMonths() , "Value", "Text"),"--Select--")
                    <span asp-validation-for="FromMn" class="text-danger"></span>
                </td>
                <td style="HEIGHT: 22px">
                    @Html.DropDownListFor(model => model.FromYr, new SelectList(IBS.Models.Common.GetYears() , "Value", "Text"),"--Select--")
                    <span asp-validation-for="FromYr" class="text-danger"></span>
                </td>
            </tr>
            <tr id="trTo" style="display:none;">
                <td style="WIDTH: 411px">
                    <label id="lblTo" runat="server" Width="40%" Font-Names="Verdana" Font-Size="8pt" ForeColor="DarkBlue" Font-Bold="True">To</label>
                </td>
                <td>
                    @Html.DropDownListFor(model => model.ToMn, new SelectList(IBS.Models.Common.GetMonths() , "Value", "Text"),"--Select--")
                <td>
                        @Html.DropDownListFor(model => model.ToYr, new SelectList(IBS.Models.Common.GetYears() , "Value", "Text"),"--Select--")
                </td>
            </tr>
            @if (Model.ActionType == "SWBills")
            {
                <tr>
                    <td style="WIDTH: 411px">
                        <label id="Label2" runat="server" Width="192px" Font-Names="Verdana" Font-Size="8pt" ForeColor="DarkBlue" Font-Bold="True">Include RITES Billing (Y/N)</label>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.IncRites, new SelectList(IBS.Models.Common.CommonYesNo() , "Value", "Text"),"--Select--")
                    </td>
                    <td></td>
                </tr>
            }
        }

        @if (Model.ActionType == "RlyBills")
        {
            <tr>
                <td colSpan="3">
                    <div class="custom-readio">
                        <div class="company-checkbox">
                            <div class="remember">
                                <div class="remecheckbox">
                                    <input type="radio" asp-for="BillSummary" value="M" id="BillSummary_M" checked="checked" />
                                    <label for="BillSummary_M">Summary Report For the Month</label>
                                    &nbsp;&nbsp;
                                    <input type="radio" asp-for="BillSummary" value="P" id="BillSummary_P" />
                                    <label for="BillSummary_P">Summary Report For the Given Period</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
    <div class="savenext-btn">
        <button type="button" class="save-btn active" onclick="ViewReport();" style="display:none;">Report</button>
        <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
        <button type="button" class="save-btn active" onclick="NewViewReport();">Get Report</button>
    </div>
</div>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            validation();
            var radioM = $("#BillSummary_M");
            var radioP = $("#BillSummary_P");

            radioM.change(function () {
                if (radioM.is(":checked")) {
                    $("#tdmonth").hide();
                    $("#tdFrom").hide();
                    $("#trTo").hide();
                }
            });

            radioP.change(function () {
                if (radioP.is(":checked")) {
                    $("#tdmonth").show();
                    $("#tdFrom").show();
                    $("#trTo").show();
                }
            });
        });

        function validation() {
            $("#FromYr").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromYr = $(this).val();
                    var ToYr = $('#ToYr').val();
                    if (ToYr != "") {
                        if (FromYr > ToYr) {
                            $("#FromYr").val("");
                            ShowHideMsgNew(false, "From year less than To year.");
                        }
                    }
                }
            });

            $("#ToYr").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromYr = $('#FromYr').val();
                    var ToYr = $(this).val();
                    if (FromYr != "") {
                        if (FromYr > ToYr) {
                            $("#ToYr").val("");
                            ShowHideMsgNew(false, "From year less than To year.");
                        }
                    }
                }
            });

            $("#FromMn").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromMn = $(this).val();
                    var ToMn = $('#ToMn').val();
                    if (ToMn != "") {
                        if (FromMn > ToMn) {
                            $("#FromMn").val("");
                            ShowHideMsgNew(false, "From month less than To month.");
                        }
                    }
                }
            });

            $("#ToMn").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromMn = $('#FromMn').val();
                    var ToMn = $(this).val();
                    if (FromMn != "") {
                        if (FromMn > ToMn) {
                            $("#ToMn").val("");
                            ShowHideMsgNew(false, "From month less than To month.");
                        }
                    }
                }
            });
        }

        function ClearControls() {
            $("#FromMn").val("");
            $("#FromYr").val("");
            $("#ToMn").val("");
            $("#ToYr").val("");
        }

        function ViewReport() {
            var FromMn = $("#FromMn").val();
            var FromYr = $("#FromYr").val();
            var ToMn = $("#ToMn").val();
            var ToYr = $("#ToYr").val();
            var Region = $("#Region").val();
            var ActionType = $("#ActionType").val();

            var radioM = $("#BillSummary_M");
            var radioP = $("#BillSummary_P");
            var rdo = "";
            if (radioM.is(":checked")) {
                rdo = "M";
            }
            else {
                rdo = "P";
            }

            let myObject = { FromMn, FromYr, ToMn, ToYr, Region, ActionType, rdo };
            var url = '@Url.Action("BillRaisedReport", "BillingReports")?' + $.param(myObject);
            window.open(url, '_blank');
        }

        function NewViewReport() {
            var FromMn = $("#FromMn").val();
            var FromYr = $("#FromYr").val();
            var ToMn = $("#ToMn").val();
            var ToYr = $("#ToYr").val();
            var Region = $("#Region").val();
            var ActionType = $("#ActionType").val();

            var radioM = $("#BillSummary_M");
            var radioP = $("#BillSummary_P");
            var rdo = "";
            if (radioM.is(":checked")) {
                rdo = "M";
            }
            else {
                rdo = "P";
            }

            const urlParams = new URLSearchParams(window.location.search);
            const actiontype = urlParams.get('ActionType');
            if (actiontype == "CWBills") {
                let myObject = { FromMn, FromYr, ToMn, ToYr, Region, ActionType, rdo };
                var url = '@Url.Action("BillingClientReport", "BillingReports")?' + $.param(myObject);
                window.open(url, '_blank');
            }
            else if (actiontype == "SWBills") {
                var IncRites = $("#IncRites").val();
                let myObject = { FromMn, FromYr, ToMn, ToYr, Region, ActionType, rdo, IncRites };
                var url = '@Url.Action("BillingSectorReport", "BillingReports")?' + $.param(myObject);
                window.open(url, '_blank');
            }


        }
    </script>
}