@model IBS.Models.BillRaisedModel

@{
    ViewData["Title"] = "Reports Summary";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>@Model.Title</h2>
    </div>
</div>

<div class="task-listinput">
    <input type="hidden" asp-for="Region" />
    <input type="hidden" asp-for="ActionType" />
    <div class="task-listinput">
        <div class="accordion-body">
            <table id="Table2">
                @if (Model.ActionType == "CWBills" || Model.ActionType == "SWBills")
                {
                    <tr>
                        <td colSpan="3">
                            <div class="custom-readio">
                                @*<label for="Reference">Summary of Report</label>*@
                                <div class="company-checkbox">
                                    <div class="remember">
                                        <div class="remecheckbox">
                                            <ul class="radioListForm">
                                                <li>
                                            <input type="radio" asp-for="BillSummary" value="M" id="BillSummary_M" checked="checked" />
                                            <label for="BillSummary_M">Summary Report For the Month</label>
                                            </li>
                                            <li>
                                            <input type="radio" asp-for="BillSummary" value="P" id="BillSummary_P" />
                                            <label for="BillSummary_P">Summary Report For the Given Period</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="display:none;" id="tdmonth"></td>
                        <td>
                            <label id="lblMonth" runat="server">Month</label>
                        </td>
                        <td>
                            <label id="lblYear" runat="server">Year</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="display:none; width:150px;" id="tdFrom">
                            <label id="lblFrom" runat="server">From</label>
                        </td>
                        <td style="width:45%;">
                            @Html.DropDownListFor(model => model.FromMn, new SelectList(IBS.Models.Common.GetMonths() , "Value", "Text"),"--Select--")
                            <span asp-validation-for="FromMn" class="text-danger"></span>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.FromYr, new SelectList(IBS.Models.Common.GetYears() , "Value", "Text"),"--Select--")
                            <span asp-validation-for="FromYr" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr id="trTo" style="display:none;">
                        <td>
                            <label id="lblTo" runat="server">To</label>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.ToMn, new SelectList(IBS.Models.Common.GetMonths() , "Value", "Text"),"--Select--")
                        <td>
                                @Html.DropDownListFor(model => model.ToYr, new SelectList(IBS.Models.Common.GetYears() , "Value", "Text"),"--Select--")
                        </td>
                    </tr>
                    @if (Model.ActionType == "SWBills")
                    {
                        <tr>
                            <td>
                                <label id="Label2" runat="server">Include RITES Billing (Y/N)</label>
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.IncRites, new SelectList(IBS.Models.Common.CommonYesNo() , "Value", "Text"),"--Select--")
                            </td>
                            <td></td>
                        </tr>
                    }
                }

                @if (Model.ActionType == "RlyBills")
                {
                    <tr>
                        <td>
                            <label for="Reference" style="color:red;">Client Type</label>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.ClientType, new SelectList(IBS.Models.Common.GetRailType() , "Value", "Text"),"--Select--")
                            <span asp-validation-for="ClientType" class="text-danger"></span>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-readio">
                                <div class="company-checkbox">
                                    <div class="remember">
                                        <div class="remecheckbox">
                                            <ul class="radioListForm">
                                                <li>
                                                    <input type="radio" asp-for="BpoType" value="A" id="BPO_A" checked="checked" />
                                                    <label for="BPO_A">All BPO</label>
                                                </li>
                                                <li>
                                                    <input type="radio" asp-for="BpoType" value="P" id="BPO_P" />
                                                    <label for="BPO_P">Particular BPO</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td id="tdBpoRly1" style="display:none;">
                            <label for="Reference" style="color:red;">For Particular Client</label>
                        </td>
                        <td id="tdBpoRly2" style="display:none;">
                            @Html.DropDownListFor(model => model.BpoRly, new SelectList(IBS.Models.Common.GetBPORLY("R") , "Value", "Text"),"--Select--")
                            <span asp-validation-for="BpoRly" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <div class="custom-readio">
                                <div class="company-checkbox">
                                    <div class="remember">
                                        <div class="remecheckbox">
                                            <input type="radio" asp-for="BillSummary" value="M" id="BillSummary_M" checked="checked" />
                                            <label for="BillSummary_M">For the Month</label>
                                            &nbsp;&nbsp;
                                            <input type="radio" asp-for="BillSummary" value="P" id="BillSummary_P" />
                                            <label for="BillSummary_P">For Given Period</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div id="RMonth">
                                <label for="Reference">Month</label>
                                @Html.DropDownListFor(model => model.FromMn, new SelectList(IBS.Models.Common.GetMonths() , "Value", "Text"),"--Select--")
                                <span asp-validation-for="FromMn" class="text-danger"></span>
                            </div>
                            <div id="RFromDt" style="display:none;">
                                <label for="Reference">From Date</label>
                                <input type="text" class="datepicker" asp-for="FromDt" readonly>
                                <span asp-validation-for="FromDt" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div id="RYear">
                                <label for="Reference">Year</label>
                                @Html.DropDownListFor(model => model.FromYr, new SelectList(IBS.Models.Common.GetYears() , "Value", "Text"),"--Select--")
                                <span asp-validation-for="FromYr" class="text-danger"></span>
                            </div>
                            <div id="RToDt" style="display:none;">
                                <label for="Reference">To Date</label>
                                <input type="text" class="datepicker" asp-for="ToDt" readonly>
                                <span asp-validation-for="ToDt" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="custom-readio">
                                <div class="company-checkbox">
                                    <div class="remember">
                                        <div class="remecheckbox">
                                            <label for="Region_A"><input type="checkbox" asp-for="chkRegion" value="A" id="Region_A" checked="checked" /> All Regions</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                }

                @if (Model.ActionType == "NSC" || Model.ActionType == "RBNRS")
                {
                    @if (Model.ActionType == "NSC")
                    {
                        <tr>
                            <td>
                                <label for="FromDate">For The Period From</label>
                                <input type="text" class="datepicker" id="FromDate" placeholder="DD/MM/YYYY" />
                            </td>
                            <td>
                                <label for="ToDate">To</label>
                                <input type="text" class="datepicker" id="ToDate" placeholder="DD/MM/YYYY" />
                            </td>
                            <td>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>                            
                            <label for="Region_A"><input type="checkbox" asp-for="chkRegion" value="A" id="Region_A" checked="checked" /> All Regions</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="RlyTypes">Type of Railway</label>
                            <div class="custom-readio">
                                <div class="company-checkbox">
                                    <div class="remember">
                                        <div class="remecheckbox">
                                            <input type="radio" asp-for="RlyTypes" value="A" id="Railways_A" checked="checked" />
                                            <label for="Railways_A">All Railways</label>
                                            &nbsp;&nbsp;
                                            <input type="radio" asp-for="RlyTypes" value="P" id="Railways_P" />
                                            <label for="Railways_P">Particular Railway</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="display:none;" id="tdClientType">
                            <label for="ClientType">Particular Railway Types</label>
                            @Html.DropDownListFor(model => model.ClientType, new SelectList(IBS.Models.Common.GetRailway() , "Value", "Text"),"--Select--", new { @class = "", @onchange = "BindlstAU();" })
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr style="display:none;" id="trAU">
                        <td>
                            <label for="AU">Type of AU</label>
                            <div class="custom-readio">
                                <div class="company-checkbox">
                                    <div class="remember">
                                        <div class="remecheckbox">
                                            <input type="radio" asp-for="AU" value="A" id="AU_A" checked="checked" />
                                            <label for="AU_A">All AU's</label>
                                            &nbsp;&nbsp;
                                            <input type="radio" asp-for="AU" value="P" id="AU_P" />
                                            <label for="AU_P">Particular AU</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="display:none;" id="tdAU">
                            <label for="lstAU">Particular AU Types</label>
                            @Html.DropDownListFor(model => model.lstAU, new SelectList(IBS.Models.Common.GetAUCrisByRlyCd(Model.ClientType) , "Value", "Text"),"--Select--")
                        </td>
                        <td>
                        </td>
                    </tr>

                }
            </table>
            <div class="savenext-btn">
                <button type="button" class="save-btn active" onclick="ViewReport();" style="display:none;">Report</button>
                <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
                <button type="button" class="save-btn active" onclick="GetViewReport();">Get Report</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const actiontype = urlParams.get('ActionType');

            if (actiontype == "CWBills" || actiontype == "SWBills") {
                validation();
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");

                radioM.change(function () {
                    if (radioM.is(":checked")) {
                        $("#tdmonth").hide();
                        $("#tdFrom").hide();
                        $("#trTo").hide();
                    }
                });

                radioP.change(function () {
                    if (radioP.is(":checked")) {
                        $("#tdmonth").show();
                        $("#tdFrom").show();
                        $("#trTo").show();
                    }
                });
            }
            else if (actiontype == "RlyBills") {
                $("#BillSummary_M").change(function () {
                    if ($("#BillSummary_M").is(":checked")) {
                        $("#RMonth").show();
                        $("#RYear").show();
                        $("#RFromDt").hide();
                        $("#RToDt").hide();
                    }
                });
                $("#BillSummary_P").change(function () {
                    if ($("#BillSummary_P").is(":checked")) {
                        $("#RMonth").hide();
                        $("#RYear").hide();
                        $("#RFromDt").show();
                        $("#RToDt").show();
                    }
                });

                $("#BPO_A").change(function () {
                    if ($("#BPO_A").is(":checked")) {
                        $("#tdBpoRly1").hide();
                        $("#tdBpoRly2").hide();
                    }
                });
                $("#BPO_P").change(function () {
                    if ($("#BPO_P").is(":checked")) {
                        $("#tdBpoRly1").show();
                        $("#tdBpoRly2").show();
                    }
                });
            }
            else if (actiontype == "NSC" || actiontype == "RBNRS") {
                $("#Railways_A").change(function () {
                    if ($("#Railways_A").is(":checked")) {
                        $("#tdClientType").hide();
                        $("#trAU").hide();
                        $("#ClientType").val("");
                        $("#lstAU").val("");
                    }
                });
                $("#Railways_P").change(function () {
                    if ($("#Railways_P").is(":checked")) {
                        $("#tdClientType").show();
                        $("#trAU").show();
                        $("#AU_A").change(function () {
                            if ($("#AU_A").is(":checked")) {
                                $("#tdAU").hide();
                            }
                            $("#lstAU").val("");
                        });
                        $("#AU_P").change(function () {
                            if ($("#AU_P").is(":checked")) {
                                $("#tdAU").show();
                            }
                            $("#lstAU").val("");
                        });
                    }
                    $("#ClientType").val("");
                    $("#lstAU").val("");
                });
            }
        });

        function validation() {
            $("#FromYr").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromYr = $(this).val();
                    var ToYr = $('#ToYr').val();
                    if (ToYr != "") {
                        if (FromYr > ToYr) {
                            $("#FromYr").val("");
                            ShowHideMsgNew(false, "From year less than To year.");
                        }
                    }
                }
            });

            $("#ToYr").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromYr = $('#FromYr').val();
                    var ToYr = $(this).val();
                    if (FromYr != "") {
                        if (FromYr > ToYr) {
                            $("#ToYr").val("");
                            ShowHideMsgNew(false, "From year less than To year.");
                        }
                    }
                }
            });

            $("#FromMn").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromMn = $(this).val();
                    var ToMn = $('#ToMn').val();
                    if (ToMn != "") {
                        if (FromMn > ToMn) {
                            $("#FromMn").val("");
                            ShowHideMsgNew(false, "From month less than To month.");
                        }
                    }
                }
            });

            $("#ToMn").change(function () {
                var radioM = $("#BillSummary_M");
                var radioP = $("#BillSummary_P");
                if (radioP.is(":checked")) {
                    var FromMn = $('#FromMn').val();
                    var ToMn = $(this).val();
                    if (FromMn != "") {
                        if (FromMn > ToMn) {
                            $("#ToMn").val("");
                            ShowHideMsgNew(false, "From month less than To month.");
                        }
                    }
                }
            });
        }

        function ClearControls() {
            $("#FromMn").val("");
            $("#FromYr").val("");
            $("#ToMn").val("");
            $("#ToYr").val("");
        }

        function ViewReport() {
            var FromMn = $("#FromMn").val();
            var FromYr = $("#FromYr").val();
            var ToMn = $("#ToMn").val();
            var ToYr = $("#ToYr").val();
            var Region = $("#Region").val();
            var ActionType = $("#ActionType").val();

            var radioM = $("#BillSummary_M");
            var radioP = $("#BillSummary_P");
            var rdo = "";
            if (radioM.is(":checked")) {
                rdo = "M";
            }
            else {
                rdo = "P";
            }

            let myObject = { FromMn, FromYr, ToMn, ToYr, Region, ActionType, rdo };
            var url = '@Url.Action("BillRaisedReport", "BillingReports")?' + $.param(myObject);
            window.open(url, '_blank');
        }

        function GetViewReport() {
            var FromMn = $("#FromMn").val();
            var FromYr = $("#FromYr").val();
            var ToMn = $("#ToMn").val();
            var ToYr = $("#ToYr").val();
            var Region = $("#Region").val();
            var ActionType = $("#ActionType").val();

            const urlParams = new URLSearchParams(window.location.search);
            const actiontype = urlParams.get('ActionType');
            if (actiontype == "CWBills" || actiontype == "SWBills") {
                var rdo = "";
                if ($("#BillSummary_M").is(":checked")) {
                    rdo = "M";
                }
                else {
                    rdo = "P";
                }
                if (actiontype == "CWBills") {
                    let myObject = { FromMn, FromYr, ToMn, ToYr, Region, ActionType, rdo };
                    var url = '@Url.Action("BillingClientReport", "BillingReports")?' + $.param(myObject);
                    window.open(url, '_blank');
                }
                else if (actiontype == "SWBills") {
                    var IncRites = $("#IncRites").val();
                    let myObject = { FromMn, FromYr, ToMn, ToYr, Region, ActionType, rdo, IncRites };
                    var url = '@Url.Action("BillingSectorReport", "BillingReports")?' + $.param(myObject);
                    window.open(url, '_blank');
                }
            }
            if (actiontype == "RlyBills") {
                var rdoSummary = "";
                if ($("#BillSummary_M").is(":checked")) {
                    rdoSummary = "M";
                }
                else {
                    rdoSummary = "P";
                }

                var rdoBpo = "";
                if ($("#BPO_A").is(":checked")) {
                    rdoBpo = "A";
                }
                else {
                    rdoBpo = "P";
                }

                var chkRegion = "";
                if ($("#Region_A").is(":checked")) {
                    chkRegion = "A";
                }

                var ClientType = $("#ClientType").val();
                var BpoRly = $("#BpoRly").val();
                var FromMn = $("#FromMn").val();
                var FromYr = $("#FromYr").val();
                var FromDt = moment($('#FromDt').datepicker('getDate')).format("YYYY-MM-DD");
                var ToDt = moment($('#ToDt').datepicker('getDate')).format("YYYY-MM-DD");

                let myObject = { ClientType, rdoSummary, BpoRly, rdoBpo, FromMn, FromYr, FromDt, ToDt, actiontype, chkRegion };
                var url = '@Url.Action("RailwayOnlineReport", "BillingReports")?' + $.param(myObject);
                window.open(url, '_blank');
            }
            if (actiontype == "NSC" || actiontype == "RBNRS") {
                if (actiontype == "NSC") {
                    if ($('#FromDate').val() == null || $('#FromDate').val() == "") {
                        ShowHideMsgNew(false, "Please add For The Period From");
                        return;
                    }
                    if ($('#ToDate').val() == null || $('#ToDate').val() == "") {
                        ShowHideMsgNew(false, "Please add For The Period To");
                        return;
                    }
                }

                var FromDate = moment($('#FromDate').datepicker('getDate')).format("YYYY-MM-DD");
                var ToDate = moment($('#ToDate').datepicker('getDate')).format("YYYY-MM-DD");
                var chkRegion = "";
                if ($("#Region_A").is(":checked")) {
                    chkRegion = "Y";
                }
                else {
                    chkRegion = "N";
                }
                var ClientType = $("#ClientType").val();
                var lstAU = $("#lstAU").val();

                var rdbPRly = "";
                if ($("#Railways_P").is(":checked")) {
                    rdbPRly = "P";
                }
                else {
                    rdbPRly = "A";
                }
                var rdbPAU = "";
                if ($("#AU_P").is(":checked")) {
                    rdbPAU = "P";
                }
                else {
                    rdbPAU = "A";
                }

                let myObject = { FromDate, ToDate, chkRegion, ClientType, lstAU, actiontype, rdbPRly, rdbPAU };
                var url = '@Url.Action("BillsNotCrisReport", "BillingReports")?' + $.param(myObject);
                window.open(url, '_blank');
            }

        }

        function BindlstAU() {
            $("#lstAU").empty();
            $("#lstAU").append($('<option value="">--Select--</option>'));

            $.get("@Url.Action("GetAU", "BillingReports")", { RlyCd: $("#ClientType").val() }, function (response) {
                if (response != null) {
                    $("#lstAU").empty();
                    $("#lstAU").append($('<option value="">--Select--</option>'));
                    $.each(response.list, function (ind, val) {
                        $("#lstAU").append($('<option></option>').val(val.Value).html(val.Text));
                    });
                }
            });
        }
    </script>
}