@model IBS.Models.BillRaisedModel
@{
    Layout = null;
    ViewData["Title"] = "Billing Report";
}
<html>
<head>
    <title>Railway online bills</title>
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Back" id="btnBack" style="display:none;" />
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>

    <div id="dvReportViewer">
        @if (Model.BillSummary == "M")
        {
            <h3 class="center">Download documents for rly invoices for the period : <span class="orangeText">@Model.FromMonthName - @Model.FromYr</span> @Model.Region</h3>
        }
        else
        {
            <h3 class="center">Download documents for rly invoices for the period : <span class="orangeText">@Convert.ToDateTime(@Model.FromDt).ToString("dd/MM/yyyy") - @Convert.ToDateTime(@Model.ToDt).ToString("dd/MM/yyyy")</span> @Model.Region</h3>
        }
        <div>
            <div class="tableOuter">
                <table class="borderTable" cellpadding="0" cellspacing="0" id="dtList">
                    <tbody>
                        <tr>
                            <td colspan='22'>
                                @*<h5 align='center'>@Model.Region</h5>*@
                                @*<h5 align='center'>Client Wise Billing Summary For the Month @Model.MonthName - @Model.FromYr</h5>*@
                            </td>
                        </tr>

                        <tr>
                            <th valign="top" align="center"><b>Sr. No.</b></th>
                            <th valign="top" align="center"><b>RLY</b></th>
                            <th valign="top" align="center"><b>PO No.</b></th>
                            <th valign="top" align="center"><b>PO Dt</b></th>
                            <th valign="top" align="center"><b>Case No.</b></th>
                            <th valign="top" align="center"><b>PO or Letter</b></th>
                            <th valign="top" align="center"><b>BPO Name</b></th>
                            <th valign="top" align="center"><b>Bill No.</b></th>
                            <th valign="top" align="center"><b>Bill Dt.</b></th>
                            <th valign="top" align="center"><b>Invoice No.</b></th>
                            <th valign="top" align="center"><b>AU</b></th>
                            <th valign="top" align="center"><b>IC No.</b></th>
                            <th valign="top" align="center"><b>IC Date</b></th>
                            <th valign="top" align="center"><b>BK No.</b></th>
                            <th valign="top" align="center"><b>Set No.</b></th>
                            <th valign="top" align="center"><b>Bill Amount</b></th>
                            <th valign="top" align="center"><b>Outstanding Amt</b></th>
                            <th valign="top" align="center"><b>Digital Bill Gen Date</b></th>
                            <th valign="top" align="center"><b>Digital Invoice</b></th>
                            <th valign="top" align="center"><b>Digital IC</b></th>
                            <th valign="top" align="center"><b>PO</b></th>
                            <th valign="top" align="center"><b>Invoice Supp Docs</b></th>
                        </tr>
                        @if (Model != null && Model.lstBillRailway.Count > 0)
                        {
                            int SrNo = 1;

                            @foreach (var item in Model.lstBillRailway)
                            {
                                <tr>
                                    <td align="center">@SrNo</td>
                                    <td align="center">@item.BPO_RLY</td>
                                    <td align="left">@item.PO_NO</td>
                                    <td align="right">@item.PO_DT</td>
                                    <td align="right">@item.CASE_NO</td>
                                    <td align="center">@item.PO_OR_LETTER</td>
                                    <td align="center">@item.BPO_NAME</td>
                                    <td align="left">@item.BILL_NO</td>
                                    <td align="right">@item.BILL_DT</td>
                                    <td align="left">@item.INVOICE_NO</td>
                                    <td align="left">@item.AU_DESC</td>
                                    <td align="left">@item.IC_NO</td>
                                    <td align="right">@item.IC_DT</td>
                                    <td align="right">@item.BK_NO</td>
                                    <td align="right">@item.SET_NO</td>
                                    <td align="right">@item.BILL_AMOUNT</td>
                                    <td align="right">@item.AMOUNT_OUTSTANDING</td>
                                    <td align="right"><b>@item.DIG_BILL_GEN_DATE</td>
                                    @if (@item.ONLINE_INVOICE != null)
                                    {
                                        <td align="left">

                                            <a href=@item.ONLINE_INVOICE target="_blank" Font-Names='Verdana' Font-Size='1'><h5 align='center'>INVOICE</h5></a>

                                        </td>
                                    }
                                    else
                                    {
                                        <td align="left"><b></b></td>
                                    }
                                    @if (@item.IC_PHOTO != null)
                                    {
                                        var fpath1 = Model.FilePath3 + "/" + @item.IC_PHOTO + ".pdf";
                                        var Fpath2 = Model.FilePath3 + "/ReadWriteData/BILL_IC/" + @item.IC_PHOTO + ".pdf";
                                        if (System.IO.File.Exists(fpath1) == true)
                                        {
                                            <td align="left">

                                                <a href=@Fpath2 target="_blank" Font-Names='Verdana' Font-Size='1'><h5 align='center'>IC</h5></a>

                                            </td>
                                        }
                                        else
                                        {
                                            <td align="left"></td>
                                        }
                                    }
                                    else
                                    {
                                        <td align="left"></td>
                                    }


                                    @if (@item.PO_SOURCE == "C")
                                    {
                                        string po_source = "https://www.ireps.gov.in/ireps/etender/pdfdocs/MMIS/PO/" + @item.PO_YR + "/" + @item.IMMS_RLY_CD + "/" + @item.PO_NO + ".pdf";
                                        <td align="left">

                                            <a href=@po_source target="_blank" Font-Names='Verdana' Font-Size='1'><h5 align='center'>VIEW PO</h5></a>

                                        </td>
                                    }
                                    else
                                    {
                                        var fpath_po = Model.FilePath2 + "/" + @item.CASE_NO + ".pdf";
                                        var Fpath = Model.FilePath1 + "/ReadWriteData/CASE_NO/" + @item.CASE_NO + ".pdf";
                                        if (System.IO.File.Exists(fpath_po) == true)
                                        {
                                            <td align="left">

                                                <a href=@Fpath target="_blank" Font-Names='Verdana' Font-Size='1'><h5 align='center'>VIEW PO</h5></a>

                                            </td>
                                        }
                                        else
                                        {
                                            <td align="left">
                                            </td>
                                        }

                                    }

                                    <td align="left">@item.INVOICE_SUPP_DOCS</td>
                                </tr>
                                SrNo++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js"></script>

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    var fileName = '';
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const actiontype = urlParams.get('ActionType');
    });

    $(document).ready(function () {
        fileName = "RailwayOnline_1";
    });
    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnBack").click(function () {
        var url = '@Url.Action("Index", "Dashboard")';
        window.location.href = url;
    });

    $("#btnExportToExcel").click(function () {
        var html = $('#dvReportViewer').html();
        html = html.replaceAll('class="borderTable"', 'border="1"');

        let file = new Blob([html], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        $.ajax({
            url: "@Url.Action("GeneratePDF", "BillingReports")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            data: { ReportType: 'RailwayOnlineReport' },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (result) {
                var url = window.URL.createObjectURL(result);
                if (isPrint) {
                    iframe = document.createElement('iframe');
                    document.body.appendChild(iframe);

                    iframe.style.display = 'none';
                    iframe.src = url;
                    iframe.onload = function () {
                        setTimeout(function () {
                            iframe.focus();
                            iframe.contentWindow.print();
                        }, 1);
                    };
                }
                else {
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = getExportFileName(fileName) + '.pdf';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    function FileExists(url) {
        var exists = false;

        $.ajax({
            url: url,
            type: 'HEAD', // Use HEAD request to check if the file exists
            async: false, // Set to synchronous to wait for the response
            success: function () {
                exists = true;
            },
            error: function () {
                exists = false;
            }
        });

        return exists;
    }
</script>