@model IBS.Models.BillRaisedModel
@{
    Layout = null;
    ViewData["Title"] = "Billing Report";
}
<html>
<head>
    <title>Railway online bills</title>
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Back" id="btnBack" style="display:none;" />
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    @*<div class="savenext-btn">
    <button type="button" class="save-btn active" onclick="ExportExcel('xlsx')">Export table to excel</button>
    <button type="button" class="save-btn active" onclick="ExportPDF('pdf')">Export table to pdf</button>
    </div>*@
    @*<br />*@
    <div id="dvReportViewer">
        @if (Model.BillSummary == "M")
        {
            <h3 class="center">Download documents for rly invoices for the period : <span class="orangeText">@Model.FromMonthName - @Model.FromYr</span> @Model.Region</h3>
        }
        else
        {
            <h3 class="center">Download documents for rly invoices for the period : <span class="orangeText">@Model.FromDt - @Model.ToDt</span> @Model.Region</h3>
        }
        <table class="borderTable" cellpadding="0" cellspacing="0" width="100%" id="dtList">
            <tbody>
                <tr>
                    <td width='100%' colspan='22'>
                        @*<h5 align='center'><font face='Verdana'>@Model.Region</font></h5>*@
                        @*<h5 align='center'><font face='Verdana'>Client Wise Billing Summary For the Month @Model.MonthName - @Model.FromYr</font></h5>*@
                    </td>
                </tr>

                <tr>
                    <th width="2%" valign="top" align="center"><b><font size="2" face="Verdana">Sr. No.</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="2" face="Verdana">RLY</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="2" face="Verdana">PO No.</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">PO Dt</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">Case No.</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">PO or Letter</font></b></th>
                    <th width="4%" valign="top" align="center"><b><font size="2" face="Verdana">BPO Name</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">Bill No.</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">Bill Dt.</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">Invoice No.</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">AU</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="2" face="Verdana">IC No.</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">IC Date</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="2" face="Verdana">BK No.</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="2" face="Verdana">Set No.</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">Bill Amount</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">Outstanding Amt</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">Digital Bill Gen Date</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="2" face="Verdana">Digital Invoice</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="2" face="Verdana">Digital IC</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="2" face="Verdana">PO</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="2" face="Verdana">Invoice Supp Docs</font></b></th>
                </tr>
                @if (Model != null && Model.lstBillRailway.Count > 0)
                {
                    int SrNo = 1;

                    @foreach (var item in Model.lstBillRailway)
                    {
                        <tr>
                            <td align="center"><font size="1" face="Verdana">@SrNo</font></td>
                            <td align="center"><font size="1" face="Verdana">@item.BPO_RLY</font></td>
                            <td align="left"><font size="1" face="Verdana">@item.PO_NO</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.PO_DT</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.CASE_NO</font></td>
                            <td align="center"><font size="1" face="Verdana">@item.PO_OR_LETTER</font></td>
                            <td align="center"><font size="1" face="Verdana">@item.BPO_NAME</font></td>
                            <td align="left"><font size="1" face="Verdana">@item.BILL_NO</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.BILL_DT</font></td>
                            <td align="left"><font size="1" face="Verdana">@item.INVOICE_NO</font></td>
                            <td align="left"><font size="1" face="Verdana">@item.AU_DESC</font></td>
                            <td align="left"><font size="1" face="Verdana">@item.IC_NO</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.IC_DT</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.BK_NO</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.SET_NO</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.BILL_AMOUNT</font></td>
                            <td align="right"><font size="1" face="Verdana">@item.AMOUNT_OUTSTANDING</font></td>
                            <td align="right"><b><font size="1" face="Verdana">@item.DIG_BILL_GEN_DATE</font></td>
                            @if (@item.ONLINE_INVOICE != null)
                            {
                                <td align="left">
                                    <font size="1" face="Verdana">
                                        <a href=@item.ONLINE_INVOICE target="_blank" Font-Names='Verdana' Font-Size='1'><h5 align='center'><font face='Verdana'>INVOICE</font></h5></a>
                                    </font>
                                </td>
                            }
                            else
                            {
                                <td align="left"><b><font size="1" face="Verdana"></font></b></td>
                            }
                            <td align="left"><font size="1" face="Verdana">@item.IC_PHOTO</font></td>
                            @if (@item.PO_SOURCE == "C")
                            {
                                string po_source = "https://www.ireps.gov.in/ireps/etender/pdfdocs/MMIS/PO/" + @item.PO_YR + "/" + @item.IMMS_RLY_CD + "/" + @item.PO_NO + ".pdf";
                                <td align="left">
                                    <font size="1" face="Verdana">
                                        <a href=@po_source target="_blank" Font-Names='Verdana' Font-Size='1'><h5 align='center'><font face='Verdana'>PO</font></h5></a>
                                    </font>
                                </td>
                            }
                            else
                            {
                                //string fpath_po = $"../ReadWriteData/CASE_NO/{@item.CASE_NO}.pdf";
                                var fpath_po = System.IO.Path.Combine("../ReadWriteData/CASE_NO/" + @item.CASE_NO + ".pdf");
                                var FilePath = item.FilePath;
                                if (System.IO.File.Exists(fpath_po) == true)
                                {
                                    <td align="left">
                                        <font size="1" face="Verdana">
                                            <a href=@fpath_po target="_blank" Font-Names='Verdana' Font-Size='1'><h5 align='center'><font face='Verdana'>VIEW PO</font></h5></a>
                                        </font>
                                    </td>
                                }
                                else
                                {
                                    <td align="left">
                                        <font size="1" face="Verdana">
                                        </font>
                                    </td>
                                }

                            }

                            <td align="left"><font size="1" face="Verdana">@item.INVOICE_SUPP_DOCS</font></td>
                        </tr>
                        SrNo++;
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js"></script>

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    var fileName = '';
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const actiontype = urlParams.get('ActionType');
    });

    $(document).ready(function () {
        fileName = "RailwayOnline_1";
    });
    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnBack").click(function () {
        var url = '@Url.Action("Index", "Dashboard")';
        window.location.href = url;
    });

    $("#btnExportToExcel").click(function () {
        var html = $('#dvReportViewer').html();
        html = html.replaceAll('class="borderTable"', 'border="1"');

        let file = new Blob([html], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        var element = document.getElementById('dvReportViewer');

        element.style.width = "1100px";

        const options = {
            margin: 0,
            filename: getExportFileName(fileName) + '.pdf',
            image: { type: 'jpeg', quality: 1 },
            html2canvas: {
                scale: 4,
                useCORS: true
            },
            jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
        };

        if (isPrint) {
            html2pdf().set(options).from(element).toPdf().get('pdf').then(function (pdfObj) {
                pdfObj.autoPrint();
                window.open(pdfObj.output('bloburl'), '_blank');
            });
        }
        else {
            html2pdf().set(options).from(element).save();
        }

        setTimeout(function () {
            element.style.width = "100%";
        }, 1000);
    }

    function FileExists(url) {
        var exists = false;

        $.ajax({
            url: url,
            type: 'HEAD', // Use HEAD request to check if the file exists
            async: false, // Set to synchronous to wait for the response
            success: function () {
                exists = true;
            },
            error: function () {
                exists = false;
            }
        });

        return exists;
    }


    function ExportExcel(type, fn, dl) {
        var elt = document.getElementById('dtList');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('SectorBillExcel.' + (type || 'xlsx')));
    }
    function ExportPDF(type, fn, dl) {

    }

</script>