@model IBS.Models.MasterItemsListFormModel

@{
    ViewData["Title"] = "Master Items List Form";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Master Items List Form</h2>
    </div>
</div>

<div class="task-listinput">
    <form role="form" asp-controller="MasterItemsListForm" asp-action="Manage" id="frmDetails">
        <div class="accordion-body" id="tab-1">
            <input type="hidden" asp-for="ItemCd" />
            <input type="hidden" asp-for="Region" />
            <input type="hidden" asp-for="actiontype" />
            
            <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">Item Description</label>
                    <textarea class="input" asp-for="ItemDesc" maxlength="30"> </textarea>
                    <span asp-validation-for="ItemDesc" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Descipline</label>
                    @*<textarea class="input" asp-for="Department" maxlength="30"> </textarea>*@
                    @Html.DropDownListFor(model => model.Department, new SelectList(IBS.Models.Common.Departmentlist() , "Value", "Text"),"--Select Item Descipline--")
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Prep By Inspection Engineer</label>
                    @Html.DropDownListFor(model => model.IeCd, new SelectList(IBS.Models.Common.GetIEData(Model.Region) , "Value", "Text"),"--Select--", new { @class = "" })
                    <span asp-validation-for="IeCd" class="text-danger"></span>
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">App By Controlling Officer </label>
                    @Html.DropDownListFor(model => model.CoCd, new SelectList(IBS.Models.Common.GetCOData(Model.Region) , "Value", "Text"),"--Select--", new { @class = "" })
                    <span asp-validation-for="CoCd" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Creation Or Revision Date</label>
                    <input type="text" class="datepicker" asp-for="CreationRevDt" maxlength="100" placeholder="DD/MM/YYYY">
                    <span asp-validation-for="CreationRevDt" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">No of Days For IC</label>
                    <input type="text" class="input" asp-for="TimeForInsp" maxlength="100">
                    <span asp-validation-for="TimeForInsp" class="text-danger"></span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.MasterItemDoc" />
                </div>
            </div>

            <div class="savenext-btn">
                @*<a asp-controller="MasterItemsListForm" asp-action="Index" class="reset-btn" id="btnCancelD">Cancel</a>*@
                <button type="button" class="reset-btn" onclick="Cancel();">Cancel</button>
                <button type="button" class="save-btn active" onclick="Save();">Save</button>
            </div>
        </div>
    </form>

</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {
            setDefaultDate();
        });

        function Cancel() {
            const urlParams = new URLSearchParams(window.location.search);
            const actiontype = urlParams.get('actiontype');
            if (actiontype == "D") {
                window.location.href = '@Url.Action("Index", "MasterItemsListForm")' + '?actiontype=D';
            }
            else {
                window.location.href = '@Url.Action("Index", "MasterItemsListForm")' + '?actiontype=IE';
            }
        }

        function Save() {
            const urlParams = new URLSearchParams(window.location.search);
            const actiontype = urlParams.get('actiontype');
            $("#actiontype").val(actiontype);
            if ($("#frmDetails").valid()) {
                if (!SaveSingleDocuments("tab-1")) { return; }
                $("#frmDetails").submit();
            }
        }

        function GetIEData(Region) {
            $.ajax({
                url: '@Url.Action("GetIEData", "MasterItemsListForm")',
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    $("#IeCd").html("");
                    $("#IeCd").append("<option value=''>--Select--</option>");
                    $.each(response.list, function (index, value) {
                        $("#IeCd").append("<option value=" + value.Value + " >" + value.Text + "</option>");
                    });
                    if (id > 0) {
                        $("#IeCd").val(id);
                    }
                }
            });
        }

        function GetCOData() {
            $.ajax({
                url: '@Url.Action("GetCOData", "MasterItemsListForm")',
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    $("#CoCd").html("");
                    $("#CoCd").append("<option value=''>--Select--</option>");
                    $.each(response.list, function (index, value) {
                        $("#CoCd").append("<option value=" + value.Value + " >" + value.Text + "</option>");
                    });
                    if (id > 0) {
                        $("#CoCd").val(id);
                    }
                }
            });
        }

    </script>
}