@model IBS.Models.CheckPostingFormModel

@{
    ViewData["Title"] = "Cheaque Posting";
    string clsView = "";
    //if (Model.CHQ_NO != "0")
    //{
    //    clsView = "Permission_View";
    //}
}

<style>
    .billInvoiceClass{

    }

    .btn-group .btn {
        flex: 1;
        min-width: 100px;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
    }

</style>
<div class="list-inner">
    <div class="tast-list">
        <h2>Cheaque Posting</h2>
    </div>
  @*  <div class="list-btn">
        <a asp-area="" asp-controller="AddRecieptVoucher" asp-action="AddRecieptVoucher" class="formBtn Permission_Add">Add New Voucher</a>
    </div>*@
</div>
<section class="@clsView">
    <div class="task-listinput">
    <form data-ajax="true" asp-antiforgery="true" asp-controller="CheckPostingForm" asp-action="search" data-ajax-method="post" data-ajax-complete="completed" id="frmchqposting">
                <div class="accordion-body">
                    <div class="row my-0">
                       

                        <div  class="col-md-4 mb-4">
                            <label for="Reference">Bank</label>
                            @Html.DropDownListFor(model => model.BANK_NAME, Common.GetBank(), new { @id = "BankNameDropdown" })
                            <span asp-validation-for="BANK_NAME" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="Reference">Cheque No.</label>
                            <input type="text" id="CHQ_NO" class="input" asp-for="CHQ_NO" maxlength="300" />
                           
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="Reference">Cheque Date</label>
                            <input type="text" id="CHQ_DATE" class="input datepicker" asp-for="CHQ_DATE" />
                          
                        </div>

                        <div class="hide1 col-md-4 mb-4"  >
                            <label for="Reference">Voucher No.</label>
                            <input type="text" id="vchr_no" class="input"  readonly />

                        </div>


                        <div class="hide1 col-md-4 mb-4">
                            <label for="Reference">Dated</label>
                            <input type="text" id="vchr_dt" class="input" maxlength="300" readonly />

                        </div>

                        <div class="hide1 col-md-4 mb-4" >
                            <label for="Reference">Cheque Amount </label>
                            <input type="text" id="chqAmt" class="input" maxlength="300" readonly />

                        </div>

                        <div class="hide1 col-md-4 mb-4" >
                            <label for="Reference">Paying Authority </label>
                            <input type="text" id="payAuth" class="input" maxlength="300" readonly />

                        </div>

                        <div class="hide1 col-md-4 mb-4" >
                            <label for="Reference">Posted Amount </label>
                            <input type="text" id="pstAmt" class="input" maxlength="300" readonly />

                        </div>

                        <div class="hide1 col-md-4 mb-4" >
                            <label for="Reference">Amount Transferred to other Region </label>
                            <input type="text" id="Amttrnsfered" class="input" maxlength="300" readonly />

                        </div>

                        <div class="hide1 col-md-4 mb-4" >
                            <label for="Reference">Un-Adjusted Advance </label>
                            <input type="text" id="unAdjstedAdvance" class="input" maxlength="300" readonly />

                        </div>

                        <div class="savenext-btn"> 
                            <button type="button" class="save-btn active" onclick="search();">Search</button>
                        </div>


                        <table id="dtchequepost" class="table-responsive">
                            <thead>
                                <tr>
                                    
                                    @*<th>S NO</th>*@

                                     <th>#</th>
                                    <th>Bill No.</th>
                                    <th>BPO</th>
                                    <th>Bill Amount</th>
                                    <th>Bill Amount Cleared</th>
                                    <th>Amount Cleared By above Cheque</th>
                                    <th>Posting Date</th>
                                    <th>Action</th>

                                   
                          
                               
                            
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                            </tbody>
                        </table>

                        <div class="hide1 col-md-4 mb-4">
                              <input type="radio" class="billInvoiceClass" id="radioBill" name="Bill" value="Bill_No">
                            <label for="Reference" class="billInvoiceClass">Bill No.</label><br>

                            <input type="radio" class="billInvoiceClass" id="radioInvoice" name="Bill" value="Invoice_No">
                            <label for="Reference" class="billInvoiceClass">Invoice No.</label><br>

                             <input type="text" class="billInvoiceClass" id="Bill/InvoiceNo" class="input" asp-for="BILL_NO" maxlength="300" />
                             <br></br>
                            <button class="billInvoiceClass save-btn active" id="btnBillDetails" onclick="btnBillDetailsClick();">Bill Details</button>
                        </div>

                   </div>

                   


                </div>
            </form>
    </div>
    <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Cheque Information</h5>
                       
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <form id="editForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Reference">Bill/Invoice No.</label>
                                        <input type="text" id="billNo" class="form-control" placeholder="Bill No" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Reference">Bill Date</label>
                                        <input type="text" id="billDate" class="form-control" placeholder="Bill Date" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Reference">Bill Amount</label>
                                        <input type="text" id="BillAmount" class="form-control" placeholder="Bill Amount" readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label for="Reference">Amount Already Recieved Thru Cheque/EFT</label>
                                        <input type="text" id="AmountRecieved" class="form-control" placeholder="Amount Recieved" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Reference">Total Amount Cleared (B)	</label>
                                        <input type="text" id="totalAmount" class="form-control" placeholder="Total Amount Cleared" readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="Reference">Amount To Recover (A-B)</label>
                                        <input type="text" id="AmountRecover" class="form-control" placeholder="Amount Recover" readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="Reference">Total TDS</label>
                                        <input type="text" id="totalTDS" class="form-control" placeholder="Total TDS" readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="Reference">Retention Money</label>
                                        <input type="text" id="RetentionMoney" class="form-control" placeholder="Retention Money" readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="Reference">Amount To Thru Credit Note</label>
                                        <input type="number" id="AmountCreditNote" class="form-control" placeholder="Amount Through Credit Note" readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="Reference">Write off Amt / Amt Adjusted	</label>
                                        <input type="text" id="AmountAdjusted" class="form-control" placeholder="Amount Adjusted">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="Reference">Posting Date		</label>
                                        <input type="text" id="PostingDate" class="form-control" placeholder=" Posting Date ">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="Reference">Amount To be Cleared by this Cheque</label>
                                        <input type="text" id="AmountClearedByCheque" class="form-control" placeholder=" Amount Cleared by cheque ">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="Reference">Case No</label>
                                        <input type="text" id="caseNo" class="form-control" placeholder=" Case No " readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="Reference">BK NO</label>
                                        <input type="text" id="BKNO" class="form-control" placeholder=" Bk No " readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="Reference">SET NO</label>
                                        <input type="text" id="SetNo" class="form-control" placeholder=" Set No " readonly>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label for="Reference">BPO</label>
                                            <input type="text" id="BPO" class="form-control" placeholder=" BPO " readonly>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="button" id="cancelChanges" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="saveChanges" class="btn btn-primary Permission_Save" onclick="savedata();">Save</button>
                            <button type="button" id="TDSentry" class="btn btn-primary" onclick="Tds();" >TDS Entry</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $(".hide1").css("display", "none");
            $("#dtchequepost").css("display", "none");
            $(".billInvoiceClass").css("display", "none");

            //var parts = .split('-');
            //var convertedDate = parts[0] + '/' + parts[1] + '/' + parts[2]

            var Date = '@ViewBag.CHQ_DATE';
            var CHQ_NO = '@ViewBag.CHQ_NO';
            var BankNameDropdown = '@ViewBag.BankNameDropdown';

            if (Date != "" && CHQ_NO != "" && BankNameDropdown!=""){
                $("#CHQ_DATE").val(Date);
                $("#BankNameDropdown").val(BankNameDropdown);
                $("#CHQ_NO").val(CHQ_NO);
                //search();
            }
            //InitializeDatatable();
        });

        function btnBillDetailsClick(){
            debugger;
            if ($('#radioBill').is(':checked')) {
               RadioBill =  $("#radioBill").val();
                $.ajax({
                    url: '/CheckPostingForm/btnBillDetailsClick',
                    type: "POST",
                    dataType: "JSON",
                    data: { RadioBill: RadioBill },

                    success: function (success)
                    {

                      alert(success.alert);

                    }

                });
            }
            else if($('#radioInvoice').is(':checked'))
            {
                RadioInvoice = $("#radioInvoice").val();
                $.ajax({
                    url: '/CheckPostingForm/btnInvoiceClick',
                    type: "POST",
                    dataType: "JSON",
                    data: { RadioInvoice: RadioInvoice },

                    success: function (success) {

                        alert(success.alert);


                    }

                });
            }

        }

        function search()
        {
            if ($("#CHQ_DATE").val() == null || $("#CHQ_DATE").val() == "")
            {
                alert('all fields are mandatory');
             
            }
            else
            {
                var BankNameDropdown = $("#BankNameDropdown").val();
                var CHQ_NO = $("#CHQ_NO").val();
                var CHQ_DATE = $("#CHQ_DATE").val();
                $(".hide1").css("display", "block");
                $(".billInvoiceClass").css("display", "block");
                InitializeDatatable(BankNameDropdown, CHQ_NO, CHQ_DATE);
                GetValue(BankNameDropdown, CHQ_NO, CHQ_DATE);
            }
        }

        function GetValue(BankNameDropdown, CHQ_NO, CHQ_DATE) {
            //var CaseNo = '@ViewBag.CaseNo';
            //var CallRdt = '@ViewBag.CallRdt';
            //var CallSno = '@ViewBag.Sno';

            $.ajax({
                url: '/CheckPostingForm/GetValue',
                type: "POST",
                dataType: "JSON",
                data: { BankNameDropdown: BankNameDropdown, CHQ_NO: CHQ_NO, CHQ_DATE: CHQ_DATE },

                success: function (success) {
                  
                    $("#vchr_no").val(success.VCHR_NO)
                    $("#vchr_dt").val(success.VCHR_DT)
                    $("#chqAmt").val(success.Cheaque_amount)
                    $("#payAuth").val(success.BPO_CD)
                    $("#pstAmt").val(success.Amount_Adjusted)
                    $("#Amttrnsfered").val(success.amount_transferred)
                    $("#unAdjstedAdvance").val(success.un_adjusted_advance)

                    sessionStorage.setItem("IEcode", success.IE);

                }

            });
        }



        function InitializeDatatable(BankNameDropdown, CHQ_NO, CHQ_DATE) {
            $("#dtchequepost").css("display", "block");
            $("#dtchequepost").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: false,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("ChequePost")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            BankNameDropdown: BankNameDropdown,
                            CHQ_NO: CHQ_NO,
                            CHQ_DATE: CHQ_DATE,
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                        
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                          
                        }
                    },
                    //{ data: "SNO" },
                    { data: "BILL_NO" },
                    { data: "BPO_CD" },
                    { data: "BILL_AMOUNT" },
                    { data: "BILL_AMOUNT_CLEARED" },
                    { data: "AMOUNT_CLEARED" },
                    { data: "POSTING_DATE" },
                    //{
                    //    data: null, orderable: false,
                    //    render: function (data, type, row) {
                    //        var CHQ_NO = data.CHQ_NO;
                    //        var CHQ_DT = data.CHQ_DATE;
                    //        var BANK_CD = data.BANK_CD;
                    //        var BILL_NO = data.BILL_NO;
                    //        var AMOUNT_CLEARED = data.AMOUNT_CLEARED;

                    //        var editUrl = '@Url.Action("FindByID", "CheckPostingForm")?CHQ_NO=' + encodeURIComponent(CHQ_NO) + '&CHQ_DT=' + encodeURIComponent(CHQ_DT) + '&BANK_CD=' + encodeURIComponent(BANK_CD) + '&BILL_NO=' + encodeURIComponent(BILL_NO) + '&AMOUNT_CLEARED=' + encodeURIComponent(BILL_NO);
                        
                    //        var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                    //        //// html += '<a onclick="ContractDelete(this.id); return false;" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                    //        html += '</div>';
                    //        return html;

                    //        //var html = '<div align="center" class="reportIcon"> <a href="javascript:void(0);" class="edit" onclick="showEditFields(\'' + CHQ_NO + '\', \'' + CHQ_DT + '\', \'' + BANK_CD + '\', \'' + BILL_NO + '\', \'' + AMOUNT_CLEARED + '\')"><i class="fa fa-pencil" title="Edit"></i></a></div>';
                    //        //return html;
                    //    }
                    //},

                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {


                            var editButtonHtml = '<button class="custom-edit-button btn-sm btn-primary"><i class="fa fa-pencil" title="Edit"></i></button>';
                            return editButtonHtml;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });

       
        }


        $("#dtchequepost").on("click", ".custom-edit-button", function () {
            debugger;

            var billNo = $(this).closest("tr").find("td:eq(1)").text();
            // Make an AJAX call to fetch additional data from the controller
            $.ajax({
                type: 'POST',
                contentType: false,
                processData: false,
                url: '/CheckPostingForm/FindByID', // Replace with your actual controller and action URL
                dataType: "json",
                data: { billNo: billNo },
                success: function (data) {
                    debugger;
                    $("#billNo").val(billNo);
                    $("#billDate").val(data.BILL_DATE);
                    $("#BillAmount").val(data.BILL_AMOUNT_CLEARED);
                    $("#AmountRecieved").val(data.AMOUNT_RECIEVED);
                    $("#totalAmount").val(data.BILL_AMOUNT_CLEARED);
                    $("#totalTDS").val(data.TDS);
                    $("#RetentionMoney").val(data.Retention_Money);
                    $("#AmountCreditNote").val(data.Cnote);
                    $("#AmountAdjusted").val(data.WriteOffAmount);
                    $("#PostingDate").val(data.POSTING_DATE);
                    $("#AmountClearedByCheque").val(data.BILL_AMOUNT_CLEARED);
                    $("#caseNo").val(data.CASE_NO);
                    $("#BKNO").val(data.BK_NO);
                    $("#SetNo").val(data.SET_NO);
                    $("#BPO").val(data.BPO_NAME);

                    // Open the modal
                    $("#editModal").modal("show");


                },
                error: function (error) {
                    console.log(error);
                }
            });
        });


        // Handle save changes button click


        $("#cancelChanges").click(function () {
            // Close the modal without saving
            $("#editModal").modal("hide");
        });

        function savedata(){
           
                debugger;
                //var CheckPostingFormModel = {
                //    BANK_CD: $("#BankNameDropdown").val(),
                //    CHQ_DATE: $("#CHQ_DATE").val(),
                //    CHQ_NO: $("#CHQ_NO").val(),
                //    BILL_DATE: $("#billDate").val(),
                //    BILL_AMOUNT_CLEARED: $("#BillAmount").val(),
                //    AMOUNT_RECIEVED: $("#AmountRecieved").val(),
                //    TDS: $("#totalTDS").val(),
                //    Retention_Money: $("#RetentionMoney").val(),
                //    Cnote: $("#AmountCreditNote").val(),
                //    WriteOffAmount: $("#AmountAdjusted").val(),
                //    POSTING_DATE: $("#PostingDate").val(),
                //    CASE_NO: $("#caseNo").val(),
                //    BK_NO: $("#BKNO").val(),
                //    SET_NO: $("#SetNo").val(),
                //    BPO_NAME: $("#BPO").val(),
                //};
                var formData = new FormData();
                formData.append("BANK_CD", $("#BankNameDropdown").val());
                formData.append("CHQ_DATE", $("#CHQ_DATE").val());
                formData.append("CHQ_NO", $("#CHQ_NO").val());
                formData.append("BILL_DATE", $("#billDate").val());
                formData.append("BILL_AMOUNT_CLEARED", $("#BillAmount").val());
                formData.append("AMOUNT_RECIEVED", $("#AmountRecieved").val());
                formData.append("TDS", $("#totalTDS").val());
                formData.append("Retention_Money", $("#RetentionMoney").val());
                formData.append("Cnote", $("#AmountCreditNote").val());
                formData.append("WriteOffAmount", $("#AmountAdjusted").val());
                formData.append("POSTING_DATE", $("#PostingDate").val());
                formData.append("CASE_NO", $("#caseNo").val());
                formData.append("BK_NO", $("#BKNO").val());
                formData.append("SET_NO", $("#SetNo").val());
                formData.append("BPO_NAME", $("#BPO").val());

                $.ajax({
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    url: '/CheckPostingForm/UpdateInfo', // Replace with your actual controller and action URL
                    dataType: "json",
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        debugger;
                        // Assuming data is an object returned from the controller


                        // Open the modal
                        $("#editModal").modal("show");
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });


                // Perform any necessary actions with the edited data here

                // Close the modal
                $("#editModal").modal("hide");
           
        }

        function Tds()
        {
            var newURL = "/TDSEntry/Index?CHQ_NO=" + CHQ_NO + '&CHQ_DATE=' + CHQ_DATE;
            window.location.href = newURL;
        }

    </script>
}