@model IBS.Models.ExpenditureModel
@{
    ViewData["Title"] = "Manage Expenditure";
    string clsView = "";
    if (Model.ExpPer != null)
    {
        clsView = "Permission_View";
    }
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Expenditure</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Expenditure" class="formBtn viewall-btn">View List</a>
    </div>
</div> 
<section class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="Expenditure" asp-action="ExpenditureDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmExpenditureDetails">
            <input type="hidden" asp-for="ExpPer" />
            <div class="accordion-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading3">For the Period</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row"> 
                            <div class="col-md-4">
                                <label for="Reference">Month: </label>                                 
                                @Html.DropDownListFor(model => model.ExpPerMonth, new SelectList(IBS.Models.Common.GetMonth(), "Value", "Text"),"--Select--")
                                <span asp-validation-for="ExpPerMonth" class="text-danger"></span>
                            </div> 
                            <div class="col-md-4">
                                <label for="Reference">Year: </label>                                
                                @Html.DropDownListFor(model => model.ExpPerYear, new SelectList(IBS.Models.Common.GetYear(), "Value", "Text"),"--Select--")
                                <span asp-validation-for="ExpPerYear" class="text-danger"></span>
                            </div> 
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="Expenditure">Expenditure Amount Fee(In Rs.)</label>
                                <input type="text" class="input" asp-for="ExpAmt" maxlength="500" />
                                <span asp-validation-for="ExpAmt" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label for="Expenditure">Tax Amount Fee(In Rs.)</label>
                                <input type="text" class="input" asp-for="TaxAmt" maxlength="500" />
                                <span asp-validation-for="TaxAmt" class="text-danger"></span>
                            </div>  
                        </div>
                    </div> 
                    <div class="savenext-btn">
                        @*<a asp-controller="Expenditure" asp-action="Index" class="reset-btn">Cancel</a>*@
                        <button type="button" class="save-btn active Permission_Save" onclick="Save();">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts 
{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />    
    <script type="text/javascript">
        $(document).ready(function () {
            if (@Model.ExpPer > null) 
            {
                var s = @Model.ExpPer;
                var year = s.toString().substring(0, 4);
                var mon = s.toString().substring(4, 6);
                $("#ExpPerMonth").val(mon);
                $("#ExpPerYear").val(year);
            }
        });
    </script>
    <script type="text/javascript"> 
        function Save() {
            if ($("#frmExpenditureDetails").valid()) {
                $("#frmExpenditureDetails").submit();
            }
        } 
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            if (res.status) {
                window.location.href = '@Url.Action("Index", "Expenditure")';
            }
        }; 
    </script>
}