@model DashboardModel

@{
    ViewData["Title"] = "Client Dashboard";
}
<div class="dashHeader justify-content-between">
    <h2 class="alignLeft">Client Dashboard</h2>
    <a href="#" class="addNew"> <span class="fa fa-plus"></span> Add new PO</a>
</div>
<div class="admindashboard-section">
    <div class="admindashboard-wrap">
        <div class="row admin-dashboard">
            <div class="col-lg-3">
                <a class="totalcall" href="@Url.Action("Dashboard_Client_List", "Dashboard", new { Type = "TC" })">
                    <div class="dashboard-box das1Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.TotalCallsCount</div>
                                <div class="total-inner">
                                    Total<br />
                                    Calls
                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="PendingCall" href="@Url.Action("Dashboard_Client_List", "Dashboard", new { Type = "M" })">
                    <div class="dashboard-box das2Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.PendingCallsCount</div>
                            </div>
                            <div class="total-inner">
                                Pending<br />
                                Calls
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="AcceptedCall" href="@Url.Action("Dashboard_Client_List", "Dashboard", new { Type = "A" })">
                    <div class="dashboard-box das3Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.AcceptedCallsCount</div>
                            </div>
                            <div class="total-inner">
                                Accepted<br />
                                Calls
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="CancelleCall" href="@Url.Action("Dashboard_Client_List", "Dashboard", new { Type = "C" })">
                    <div class="dashboard-box das4Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.CancelledCallsCount</div>
                            </div>
                            <div class="total-inner">
                                Cancelled<br />
                                Calls
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-5.svg" alt="Inspection Pending"> </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row admin-dashboard">
            <div class="col-lg-3">
                <a class="UnderLabCall" href="@Url.Action("Dashboard_Client_List", "Dashboard", new { Type = "U" })">
                    <div class="dashboard-box das5Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.UnderLabTestingCount</div>
                                <div class="total-inner">
                                    Under Lab<br />
                                    Testing
                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="StillUnderInspCall" href="@Url.Action("Dashboard_Client_List", "Dashboard", new { Type = "S" })">
                    <div class="dashboard-box das6Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.StillUnderInspectionCount</div>
                            </div>
                            <div class="total-inner">
                                Still Under<br />
                                Inspection
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="StageRejectionCall" href="@Url.Action("Dashboard_Client_List", "Dashboard", new { Type = "T" })">
                    <div class="dashboard-box das7Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.StageRejectionCount</div>
                            </div>
                            <div class="total-inner">
                                Stage<br />
                                Rejection
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="graph-section iePieGraphGrid">
        <div class="row my-0">
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Complaint</h3>
                </div>
                <div class="graph">
                    <div id="region-wise-pie"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Complaint Status</h3>
                </div>
                <table class="borderGrid">
                    <tr>
                        <th class="textLeft">Status</th>
                        <th class="text-center">Complaints</th>
                    </tr>
                    <tr>
                        <td class="textLeft">Pending</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.PENDING</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Accepted</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.ACCEPTED</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Upheld</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.UPHELD</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Sorting</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.SORTING</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Rectification</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.RECTIFICATION</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Price Reduction</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.PRICE_REDUCTION</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Lifted Before JI</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.LIFTED_BEFORE_JI</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Transit Damange</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.TRANSIT_DEMANGE</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Unstamped</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.UNSTAMPED</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Not on Rites A/C</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.NOT_ON_RITES</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Deleted</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.DELETED</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3"> Vendor wise performance </h3>
        <div class="gridNote">(<strong>Note:</strong> Top 5 recent calls)</div>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th>Sr. No.</th>
                <th>Vendor name </th>
                <th class="text-center">Total Calls</th>
                <th class="text-center">Call Rejected</th>
                <th class="text-center">Call Cancelled</th>
            </tr>
            @if (Model != null && Model.lstClientVEND != null && Model.lstClientVEND.Count > 0)
            {
                var SrNo = 0;
                @foreach (var item in Model.lstClientVEND.Take(5))
                {
                    SrNo = SrNo + 1;
                    <tr>
                        <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@SrNo</font></td>
                        <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@item.VEND_NAME</font></td>
                        <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.TOTAL_CALL</font></td>
                        <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.REJECTED_CALL</font></td>
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.CANCELLED_CALL</font></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No Data Found</td>
                </tr>
            }
        </table>
    </div>
    <div class="tableBottomLink">
        <div class="recordCount">@*Showing <span>5</span> out of <span>@Model.lstClientVEND.Count</span> records*@</div>
        <a class="viewall" href="@Url.Action("Dashboard_Client_ViewAll_List", "Dashboard", new { Type = "VWP" })">View All</a>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3"> Recent Request Status </h3>
        <div class="gridNote"> (<strong>Note:</strong> Top 5 Recent Requests based on Call Date.) </div>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th>Sr. No.</th>
                <th>Case no.</th>
                <th>Call Date</th>
                <th>Call S.No</th>                
                <th>Vendor name </th>
                <th>Inspection Engineer</th>
                <th>Status</th>
            </tr>
            @if (Model != null && Model.lstClientRecentReq != null && Model.lstClientRecentReq.Count > 0)
            {
                var SrNo = 0;
                @foreach (var item in Model.lstClientRecentReq.Take(5))
                {
                    SrNo = SrNo + 1;
                    <tr>
                        <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@SrNo</font></td>
                        <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.CASE_NO</font></td>
                        <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_RECV_DT.ToString("dd/MM/yyyy")</font></td>
                        <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@item.CALL_SNO</font></td>                        
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.VEND_NAME</font></td>
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.CALL_STATUS</font></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            }
        </table>
    </div>
    <div class="tableBottomLink">
        <div class="recordCount">@*Showing <span>5</span> out of <span>@Model.lstClientRecentReq.Count</span> records*@</div>
        <a class="viewall" href="@Url.Action("Dashboard_Client_ViewAll_List", "Dashboard", new { Type = "RRS" })">View All</a>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            Recent Purchase order
        </h3>
        <div class="gridNote">
            (<strong>Note:</strong> Top 5 Recent PO based on PO Date.)
        </div>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th>Sr. No.</th>
                <th>Case no.</th>
                <th>Value</th>
                <th>PO No.</th>
                <th>PO Date</th>
                <th>Recv Date</th>
                <th>Po/Letter</th>
                <th>Vendor</th>
                <th>Quantity</th>
            </tr>
            @if (Model != null && Model.lstClientRecentPO != null && Model.lstClientRecentPO.Count > 0)
            {
                var SrNo = 0;
                @foreach (var item in Model.lstClientRecentPO.Take(5))
                {
                    SrNo = SrNo + 1;
                    <tr>
                        <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@SrNo</font></td>
                        <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@item.CASE_NO</font></td>
                        <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.VALUE</font></td>
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.PO_NO</font></td>
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@(item.PO_DT == null ? "" : Convert.ToDateTime(item.PO_DT).ToString("dd/MM/yyyy"))</font></td>
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@(item.RECV_DT == null ? "" : Convert.ToDateTime(item.RECV_DT).ToString("dd/MM/yyyy"))</font></td>
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.PO_OR_LETTER</font></td>
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.VEND_NAME</font></td>
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.QTY</font></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9">No Data Found</td>
                </tr>
            }
        </table>
    </div>
    <div class="tableBottomLink">
        <div class="recordCount">@*Showing <span>5</span> out of <span> @Model.lstClientRecentPO.Count</span> records*@</div>
        <a class="viewall" href="@Url.Action("Dashboard_Client_ViewAll_List", "Dashboard", new { Type = "RPO" })">View All</a>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            Top five vendors with the most consignee complaints @*Recent Consignee Complaints*@
        </h3>
        <div class="gridNote">
            (<strong>Note:</strong> Top 5 Recent recent Consignee Complaints.)
        </div>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th class="srNo">Sr. No </th>
                <th>Vendor</th>
                <th>Number of complaints</th>
            </tr>
            @if (Model != null && Model.lstClientVendConComp != null && Model.lstClientVendConComp.Count > 0)
            {
                var SrNo = 0;
                var totalRecords = Model.lstClientVendConComp?.Count ?? 0;
                @foreach (var item in Model.lstClientVendConComp.Take(5))
                {
                    SrNo = SrNo + 1;
                    <tr>
                        <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@SrNo</font></td>
                        <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@item.VEND_NAME</font></td>
                        <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.NO_OF_COMPLAINTS</font></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No Data Found</td>
                </tr>
            }
        </table>
    </div>
    <div class="tableBottomLink">
        <div class="recordCount">@*Showing <span>5</span> out of <span>@Model.lstClientVendConComp.Count</span> records*@</div>
        <a class="viewall" href="@Url.Action("Dashboard_Client_ViewAll_List", "Dashboard", new { Type = "RCC" })">View All</a>
    </div>
</section>
@section scripts{
    <script>
        Highcharts.chart('region-wise-pie', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45
                },
                margin: [10, 10, 75, 10],
                spacingTop: 0,
                spacingBottom: 10,
                spacingLeft: 0,
                spacingRight: 0,
                backgroundColor: 'transparent'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            legend: {
                itemStyle: {
                },
            },
            plotOptions: {
                pie: {
                    size: '105%',
                    innerSize: 0,
                    borderColor: 'transparent',
                    depth: 50,
                    showInLegend: true,
                    cursor: 'pointer',
                    allowPointSelect: true,
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        //color: '#fff',
                        format: '<b>{point.y}</b>'
                    }
                },
            },
            series: [{
                name: '',
                data: @Html.Raw(Model.ComplaintStatusSummary),
            }],
        });
    </script>
}