@model DashboardModel

@{
    ViewData["Title"] = "CM/Call Desk Incharge Dashboard";
}

<div class="dashHeader justify-content-between">
    <h2 class="alignLeft">
        CM/Call Desk Incharge Dashboard
    </h2>
</div>
<div class="admindashboard-section">
    <div class="admindashboard-wrap cmDash">
        <div class="row admin-dashboard">
            <div class="col-lg-4">
                <a class="totalcall" href="@Url.Action("CallDeskInfo", "Dashboard", new { Type = "TC" })">
                    <div class="dashboard-box das1Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.TotalCallsCount</div>
                                <div class="total-inner">
                                    No. of <br />Total Calls

                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/no-of-total-calls-icon.svg" alt="Inspection Requests"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="totalcall" href="@Url.Action("CallDeskInfo", "Dashboard", new { Type = "MCM" })">
                    <div class="dashboard-box das2Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.ManualRegCall</div>
                            </div>
                            <div class="total-inner">
                                No. of manually<br /> marked calls
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/no-of-manually-marked-calls-icon.svg" alt="Inspection Assigned"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="totalcall" href="@Url.Action("CallDeskInfo", "Dashboard", new { Type = "ACM" })">
                    <div class="dashboard-box das3Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.OnlineRegCall</div>
                            </div>
                            <div class="total-inner">
                                No. of Online<br /> Calls marked
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/no-of-online-calls-marked-icon.svg" alt="Inspection Completed"> </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row admin-dashboard">

            <div class="col-lg-4">
                <a asp-area="" asp-controller="Dashboard" asp-action="AwaitingForCaseNo">
                    <div class="dashboard-box das4Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.POAwaitingCaseNo</div>
                            </div>
                            <div class="total-inner">
                                No. of POs,<br /> Awaiting for  Case No.

                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/no-of-pos-awaiting-for-case-no-icon.svg" alt="Inspection Pending"> </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a class="totalcall" href="@Url.Action("CallDeskInfo", "Dashboard", new { Type = "PCR" })">
                    <div class="dashboard-box das5Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.PendingCallRemarks</div>
                                <div class="total-inner">
                                    Pending Calls<br /> to Remark
                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/pending-calls-to-remarks-icon.svg" alt="Inspection Requests"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="totalcall" href="@Url.Action("CallDeskInfo", "Dashboard", new { Type = "POCAM" })">
                    <div class="dashboard-box das6Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.PendingOnlineCallAwaitingMark</div>
                            </div>
                            <div class="total-inner">
                                No. of pending online<br /> calls awaiting marking

                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/no-of-pending-online-calls-awaiting-marking-icon.svg" alt="Inspection Assigned"> </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            IE wise performance
        </h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th>Sr. No.</th>
                <th>Name of IE</th>
                <th>Total Calls</th>
                <th>Pending Calls</th>
                <th>Accepted Calls</th>
                <th>Cancelled Calls</th>
                <th>Under Lab Testing</th>
                <th>Still Under Inspection</th>
                <th>Stage Rejection</th>
            </tr>
            @if (Model != null && Model.IEWisePerformance != null && Model.IEWisePerformance.Count > 0)
            {
                var SrNo = 0;
                if (Model.IEWisePerformance.Count() > 0)
                {
                    @foreach (var item in Model.IEWisePerformance.Take(10))
                    {
                        SrNo = SrNo + 1;
                        <tr>
                            <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@SrNo</font></td>
                            <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                            <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.TotalCallsCount</font></td>
                            <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.PendingCallsCount</font></td>
                            <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.AcceptedCallsCount</font></td>
                            <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.CancelledCallsCount</font></td>
                            <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.UnderLabTestingCount</font></td>
                            <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.StillUnderInspectionCount</font></td>
                            <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.StageRejectionCount</font></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10">No Data Found</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10">No Data Found</td>
                </tr>
            }
        </table>
    </div>
    <div class="tableBottomLink">
        <div class="recordCount">@*Showing <span>5</span> out of <span>@Model.lstHightPayment.Count()</span> records*@</div>
        <a class="viewall" href="@Url.Action("Dashboard_CMGeneral_ViewAll_List", "Dashboard")">View All</a>
    </div>
</section>