@model DashboardModel
@{
    var Years = Model.lstLastThreeYearSectorBilling.Select(x => x.YEAR).Distinct().ToList();    
}
<div class="dashHeader justify-content-between">
    <h2 class="alignLeft">CM/DFO Dashboard </h2>
</div>
<div class="admindashboard-section">
    <div class="admindashboard-wrap cmDash">
        <div class="row admin-dashboard">
            <div class="col-lg-3">
                <a class="totalcall" href="@Url.Action("CMDFO_List", "Dashboard", new { Type = "OSA" })">
                <div class="dashboard-box das1Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.TotalOutstandingAmount</div>
                            <div class="total-inner">
                                Total Outstanding<br />
                                Amount
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/total-outstanding-amount-icon.svg" alt="Inspection Requests"> </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="totalcall" href="@Url.Action("CMDFO_List", "Dashboard", new { Type = "SA" })">
                <div class="dashboard-box das2Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.SuspenseAmount</div>
                        </div>
                        <div class="total-inner"> Suspense<br /> Amount </div>
                    </div>
                    <div class="total-icons"><img src="~/images/suspense-amount-icon.svg" alt="Inspection Assigned"> </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="totalcall" href="@Url.Action("CMDFO_List", "Dashboard", new { Type = "OB" })">
                <div class="dashboard-box das3Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.NoOfOutstandingBillCount</div>
                        </div>
                        <div class="total-inner">
                            No. of <br />
                            Outstanding bills
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/no-of-bills-icon.svg" alt="Inspection Completed"> </div>
                </div>
                </a>
            </div>
            @*<div class="col-lg-3">
            <div class="dashboard-box das4Client">
            <div class="dash-total">
            <div class="dash-count">
            <div class="total-amount">07</div>
            </div>
            <div class="total-inner">
            No. of <br />
            Pending Bills
            </div>
            </div>
            <div class="total-icons"><img src="~/images/pending-invoice-for-finalization-icon.svg" alt="Inspection Pending"> </div>
            </div>
            </div>*@
        </div>
        <div class="row admin-dashboard">
            <div class="col-lg-3">
                <a class="totalcall" href="@Url.Action("CMDFO_List", "Dashboard", new { Type = "TOTI" })">
                <div class="dashboard-box das5Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.TotalInvoiceCount</div>
                        </div>
                        <div class="total-inner">
                            No. of <br />
                            Total Invoices
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-5.svg" alt="Inspection Pending"> </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="totalcall" href="@Url.Action("CMDFO_List", "Dashboard", new { Type = "FI" })">
                <div class="dashboard-box das6Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.FinalizedInvoiceCount</div>
                            <div class="total-inner">
                                No. of <br />
                                Finalized Invoices
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="totalcall" href="@Url.Action("CMDFO_List", "Dashboard", new { Type = "PIF" })">
                <div class="dashboard-box das7Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.PendingInvoiceFinalizeCount</div>
                            <div class="total-inner">
                                Pending Invoices<br />
                                for Finalization
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="graph-section iePieGraphGrid">
        <div class="row my-0">
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Sector Wise Billing</h3>
                </div>
                <div class="graph">
                    <div id="region-wise-pie" style="height:250px;"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Sector Wise Status</h3>
                </div>
                <table class="borderGrid">
                    <tr>
                        <th class="textLeft">Sector </th>
                        <th class="text-center">Amount</th>
                    </tr>
                    @{
                        //var row = Model.lstCurrYearSectorBilling.Where(x => x.SECTOR == "PSU").Select(x => x.AMOUNT).FirstOrDefault()
                        <tr>
                            <td class="textLeft">PSU</td>
                            <td class="text-center">@Model.lstCurrYearSectorBilling.Where(x => x.SECTOR == "PSU").Select(x => x.AMOUNT).FirstOrDefault()</td>
                        </tr>
                        <tr>
                            <td class="textLeft">Railways</td>
                            <td class="text-center">@Model.lstCurrYearSectorBilling.Where(x => x.SECTOR == "RAILWAY").Select(x => x.AMOUNT).FirstOrDefault()</td>
                        </tr>
                        <tr>
                            <td class="textLeft">Non-Railways </td>
                            <td class="text-center">@Model.lstCurrYearSectorBilling.Where(x => x.SECTOR == "NONRAILWAY").Select(x => x.AMOUNT).FirstOrDefault()</td>
                        </tr>
                        <tr>
                            <td class="textLeft">Private</td>
                            <td class="text-center">@Model.lstCurrYearSectorBilling.Where(x => x.SECTOR == "PRIVATE").Select(x => x.AMOUNT).FirstOrDefault()</td>
                        </tr>
                        <tr>
                            <td class="textLeft">Lab </td>
                            <td class="text-center">@Model.lstCurrYearSectorBilling.Where(x => x.SECTOR == "LAB").Select(x => x.AMOUNT).FirstOrDefault()</td>
                        </tr>
                    }
                </table>
                <div class="gridNote"><strong>Note:</strong> Current FY data</div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="graph-section iePieGraphGrid">
        <div class="row my-0">
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Sector wise Billing comparison of Last three Years</h3>
                </div>
                <div class="graph">
                    <div id="sector-wise-billing" style="height:250px;"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Sector Wise Billing Status</h3>
                </div>
                <table class="borderGrid">
                    <tr>
                        <th class="textLeft">Sector </th>
                        <th class="text-center">@Years[0]</th>
                        <th class="text-center">@Years[1]</th>
                        <th class="text-center">@Years[2]</th>
                    </tr>
                    <tr>
                        <td class="textLeft">PSU </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[0] && x.SECTOR == "PSU").Select(x => x.AMOUNT).FirstOrDefault() </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[1] && x.SECTOR == "PSU").Select(x => x.AMOUNT).FirstOrDefault() </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[2] && x.SECTOR == "PSU").Select(x => x.AMOUNT).FirstOrDefault() </td>
                    </tr>
                    <tr>
                        <td class="textLeft">Railways </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[0] && x.SECTOR == "RAILWAY").Select(x => x.AMOUNT).FirstOrDefault() </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[1] && x.SECTOR == "RAILWAY").Select(x => x.AMOUNT).FirstOrDefault() </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[2] && x.SECTOR == "RAILWAY").Select(x => x.AMOUNT).FirstOrDefault() </td>
                    </tr>
                    <tr>
                        <td class="textLeft">Non- Railways </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[0] && x.SECTOR == "NONRAILWAY").Select(x => x.AMOUNT).FirstOrDefault() </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[1] && x.SECTOR == "NONRAILWAY").Select(x => x.AMOUNT).FirstOrDefault() </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[2] && x.SECTOR == "NONRAILWAY").Select(x => x.AMOUNT).FirstOrDefault() </td>
                    </tr>
                    <tr>
                        <td class="textLeft">Private </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[0] && x.SECTOR == "PRIVATE").Select(x => x.AMOUNT).FirstOrDefault() </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[1] && x.SECTOR == "PRIVATE").Select(x => x.AMOUNT).FirstOrDefault() </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[2] && x.SECTOR == "PRIVATE").Select(x => x.AMOUNT).FirstOrDefault() </td>
                    </tr>
                    <tr>
                        <td class="textLeft">Lab </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[0] && x.SECTOR == "LAB").Select(x => x.AMOUNT).FirstOrDefault() </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[1] && x.SECTOR == "LAB").Select(x => x.AMOUNT).FirstOrDefault() </td>
                        <td class="text-center">@Model.lstLastThreeYearSectorBilling.Where(x => x.YEAR == @Years[2] && x.SECTOR == "LAB").Select(x => x.AMOUNT).FirstOrDefault() </td>
                    </tr>
                </table>
                <div class="gridNote"> <strong>Note:</strong> FY wise, not using current date </div>
            </div>
        </div>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3"> Top 10 Biling Clients <span class="subTitle">(Current Financial year)</span> </h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th class="srNo">Sr. No.</th>
                <th>Client Name</th>
                <th>Amount</th>
            </tr>
            @{
                var B_SrNo = 0;
                if (Model.lstBillingClient.Count() > 0)
                {
                    foreach (var item in Model.lstBillingClient.Take(10))
                    {
                        B_SrNo = B_SrNo + 1;
                        <tr>
                            <td>@B_SrNo</td>
                            <td>@item.CLIENT_NAME</td>
                            <td>@item.AMOUNT</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">No Data Found</td>
                    </tr>
                }
            }
        </table>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">Top 05 Outstanding Clients <span class="subTitle">(Current Financial year)</span></h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th class="srNo">Sr. No.</th>
                <th>Client Name</th>
                <th>Amount</th>
            </tr>
            @{
                var O_SrNo = 0;
                if (Model.lstOutstandingClient.Count() > 0)
                {
                    foreach (var item in Model.lstOutstandingClient.Take(5))
                    {
                        O_SrNo = O_SrNo + 1;
                        <tr>
                            <td>@O_SrNo</td>
                            <td>@item.CLIENT_NAME</td>
                            <td>@item.AMOUNT</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">No Data Found</td>
                    </tr>
                }
            }
        </table>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">Billing Comparison for the Last Three Years</h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th class="text-left">Period</th>
                <th>Total Amount</th>
            </tr>
            @{
                foreach (var item in Model.lstBillingCompare)
                {
                    <tr>
                        <td class="text-left">@item.FINALCIAL_YEAR</td>
                        <td>@item.AMOUNT</td>
                    </tr>
                }
            }
            @*<tr>
            <td class="text-left">1 Apr 2023 - current date</td>
            <td></td>
            </tr>
            <tr>
            <td class="text-left">1 apr 2022 - current date 2022 </td>
            <td></td>
            </tr>
            <tr>
            <td class="text-left">1 apr 2021 - current date 2021 </td>
            <td></td>
            </tr>*@
        </table>
    </div>
</section>
@section scripts{
    <script>
        Highcharts.chart('region-wise-pie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '',
                align: 'left'
            },
            tooltip: {
                pointFormat: '{name}'
            },

            tooltip: {
                valueSuffix: ''
            },
            filter: {
                operator: '>',
                property: 'percentage',
                value: 10
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            legend: {
                align: 'right',
                layout: 'vertical',
                verticalAlign: 'middle',
            },
            series: [{
                //name: 'Brands',
                colorByPoint: true,
                data: @Html.Raw(Model.CurrYearSectorBillingSummary),                
            }]
        });

        // Bar chart

        Highcharts.chart('sector-wise-billing', {
            chart: {
                type: 'column'
            },
            title: {
                text: '',
            },
            xAxis: {
                categories: ['PSU', 'Railways', 'Non-Railways', 'Private', 'Lab'],
                crosshair: true,
                accessibility: {
                    description: 'Sector Wise'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                align: 'right',
                layout: 'vertical',
                verticalAlign: 'middle',
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {
                    name: '@Years[2]', //2021
                    data: @Html.Raw(Model.LastYearSectorBillingSummary3)
                },
                {
                    name: '@Years[1]', //2022
                    data: @Html.Raw(Model.LastYearSectorBillingSummary2)
                },
                {
                    name: '@Years[0]', //2023
                    data: @Html.Raw(Model.LastYearSectorBillingSummary1)
                }
            ]
            //series: [
            //    {
            //        name: '2021',
            //        data: [50000000, 500000000, 15000000, 7000000, 60000000]
            //    },
            //    {
            //        name: '2022',
            //        data: [500000000, 15000000, 7000000, 60000000, 80000000]
            //    },
            //    {
            //        name: '2023',
            //        data: [7000000, 60000000, 500000000, 900000000, 15000000]
            //    }
            //]
        });
    </script>
}