@model DashboardModel

@{
    ViewData["Title"] = "Inspection Engineer (IE) Dashboard";
}

<div class="dashHeader">
    <h2 class="alignLeft">Inspection Engineer (IE) Dashboard</h2>
</div>
<div class="admindashboard-section">
    <div class="admindashboard-wrap">
        <div class="row ie-dashboard">
            <div class="col-lg-3">
                <div class="dashboard-box das1Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.TotalCallsCount</div>
                            <div class="total-inner">
                                Total<br />
                                Calls
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das2Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.PendingCallsCount</div>
                        </div>
                        <div class="total-inner">
                            Pending<br />
                            Calls
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das3Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.AcceptedCallsCount</div>
                        </div>
                        <div class="total-inner">
                            Accepted <br />
                            Calls
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das4Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.CancelledCallsCount</div>
                        </div>
                        <div class="total-inner">
                            Cancelled<br />
                            Calls
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/request-cancel.svg" alt="Request Cancel"> </div>
                </div>
            </div>
        </div>
        <div class="row ie-dashboard">
            <div class="col-lg-3">
                <div class="dashboard-box das5Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.UnderLabTestingCount</div>
                            <div class="total-inner">
                                Under Lab <br />
                                Testing
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das6Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.StillUnderInspectionCount</div>
                        </div>
                        <div class="total-inner">
                            Still Under<br />
                            Inspection
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das7Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.StageRejectionCount</div>
                        </div>
                        <div class="total-inner">
                            Stage<br />
                            Rejection
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das8Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.DSCExpiryDateCount</div>
                        </div>
                        <div class="total-inner">
                            DSC Expiry<br />
                            Date
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/request-cancel.svg" alt="Request Cancel"> </div>
                </div>
            </div>
        </div>
        <div class="row ie-dashboard">
            <div class="col-lg-3">
                <a class="NCIssued" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "NCI" })">
               @* <a href='@Url.Action("IE_Dashboard_Detail", "Dashboard")?Type=NCIssuedAgainstIE'>*@
                <div class="dashboard-box das9Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.NCIsuedAgainstIECount</div>
                            <div class="total-inner">
                                Total Number of NC<br />
                                Isued against IE
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3">
                @*<a href='@Url.Action("IE_Dashboard_Detail", "Dashboard")?Type=NCIssuedAgainstIE'>*@
                <div class="dashboard-box das10Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.OutstandingNCCount</div>
                        </div>
                        <div class="total-inner">
                            Outstanding NC in the <br />
                            current financial year
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                </div>
               @* </a>*@
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das11Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.NotRecievedCount</div>
                        </div>
                        <div class="total-inner">
                            IC issued by IE but<br />
                            not recieved in office
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href='@Url.Action("IE_Dashboard_Detail", "Dashboard")?Type=ConsigneeComp'>
                <div class="dashboard-box das12Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.ConsigneeCompaintCount</div>
                        </div>
                        <div class="total-inner">
                            Total Consignee<br />
                            Compaint
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/request-cancel.svg" alt="Request Cancel"> </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="graph-section iePieGraphGrid">
        <div class="row my-0">
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Complaint</h3>
                </div>
                <div class="graph">
                    <div id="complaintPieChart"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Complaint Status</h3>
                </div>
                <table class="borderGrid">
                    <tr>
                        <th class="textLeft">Status</th>
                        <th class="text-center">Complaints</th>
                    </tr>
                    <tr>
                        <td class="textLeft">Pending</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.PENDING</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Accepted</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.ACCEPTED</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Upheld</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.UPHELD</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Sorting</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.SORTING</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Rectification</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.RECTIFICATION</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Price Reduction</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.PRICE_REDUCTION</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Lifted Before JI</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.LIFTED_BEFORE_JI</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Transit Damange</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.TRANSIT_DEMANGE</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Unstamped</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.UNSTAMPED</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Not on Rites A/C</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.NOT_ON_RITES</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Deleted</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.DELETED</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="table-section iePieGraphGrid">
    <div class="table-title">
        <h3 class="headingh3"> INSTRUCTIONS FOR IE </h3>
    </div>
    <table class="borderGrid">
        <tr>
            <th>Message ID</th>
            <th>Message Dt</th>
            <th>Message</th>
            <th>Letter No.</th>
            <th>Letter Date</th>
        </tr>
        <tr>
            <td>380</td>
            <td>13/07/2022</td>
            <td>SIGNING OF DOCUMENTS DURING INSPECTION</td>
            <td>RITES/RMI/06/IE INST NO. 331</td>
            <td>07-07-2022</td>
        </tr>
        <tr>
            <td>379</td>
            <td>13/07/2022</td>
            <td>ASSESSMENT OF IEs AFTER COMPLETING OF INDUCTION TRAINING</td>
            <td>RITES/RMI/06/IE INST NO. 330</td>
            <td>07-04-2022</td>
        </tr>
        <tr>
            <td>378</td>
            <td>13/07/2022</td>
            <td>PROCEDURAL LAPSES OBSERVED DURING PREVENTIVE CHECK BY VIGILANCE</td>
            <td>RITES/RMI/06/IE INST NO. 329</td>
            <td>30/05/2022</td>
        </tr>
        <tr>
            <td>377</td>
            <td>16/03/2022</td>
            <td>VERIFICATION OF MODIFICATION ADVICE (MA) BY INSPECTING ENGINEERS</td>
            <td>RITES/RMI/06/IE INST NO. 328</td>
            <td>16/03/2022</td>
        </tr>
        <tr>
            <td>376</td>
            <td>02-01-2022</td>
            <td>INSPECTION OF &quot;CABLE HARNESS OF UNDER FRAME &amp; ROOF ARR FOR LHB AC EOG 2-TIER COACHES&quot; AS PER SPEC EDTS252,REV-J</td>
            <td>RITES/RMI/06/IE INST NO. 327</td>
            <td>31/01/2021</td>
        </tr>
        <tr>
            <td>375</td>
            <td>23/11/2021</td>
            <td>PREVENTIVE MEASURES TO BE TAKEN DURING INSPECTION OF AUSTENITIC STAINLESS STEEL ITEMS</td>
            <td>RITES/RMI/06/IE INST NO. 326</td>
            <td>22/11/2021</td>
        </tr>
        <tr>
            <td>365</td>
            <td>21/01/2021</td>
            <td>SYSTEM IMPROVEMENT FOR INSPECTION</td>
            <td>RITES/RMI/06/IE INST NO. 316</td>
            <td>14/01/2021</td>
        </tr>
        <tr>
            <td>373</td>
            <td>21/09/2021</td>
            <td>TESTING OF CONDUCTOR RESISTANCE FOR XLPE/PVC CABLES</td>
            <td>RITES/RMI/06/IE INST NO. 325</td>
            <td>21/09/2021</td>
        </tr>
        <tr>
            <td>374</td>
            <td>21/09/2021</td>
            <td>TESTING OF CONDUCTOR RESISTANCE FOR XLPE/PVC CABLES</td>
            <td>RITES/RMI/06/IE INST NO. 325</td>
            <td>21/09/2021</td>
        </tr>
        <tr>
            <td>372</td>
            <td>21/09/2021</td>
            <td>STRICT COMPLIANCE OF INSPECTION PROCEDURES TO REDUCE CONSIGNEE COMPLAINTS</td>
            <td>RITES/RMI/06/IE INST NO. 324</td>
            <td>21/09/2021</td>
        </tr>
        <tr>
            <td>371</td>
            <td>21/09/2021</td>
            <td>NO. OF SAMPLES FOR DESTRUCTIVE TESTING IF HEAT OR CAST DETAILS ARE NOT AVAILABLE OR RELEVANT</td>
            <td>RITES/RMI/06/IE INST NO. 323</td>
            <td>20/09/2021</td>
        </tr>
        <tr>
            <td>370</td>
            <td>08-10-2021</td>
            <td>TESTING OF CONDUCTOR RESISTANCE FOR XLPE/PVC CABLES</td>
            <td>RITES/RMI/06/IE INST NO. 321</td>
            <td>08-10-2021</td>
        </tr>
        <tr>
            <td>369</td>
            <td>23/06/2021</td>
            <td>SYSTEM IMPROVEMENT FOR INSPECTION - REGARDING BILLING</td>
            <td>RITES/RMI/06/IE INST NO. 320</td>
            <td>22/06/2021</td>
        </tr>
        <tr>
            <td>368</td>
            <td>06-08-2021</td>
            <td>UTILIZATION OF CALIBRATOR BOX ISSUED FROM OFFICE</td>
            <td>RITES/RMI/06/IE INST NO. 319</td>
            <td>06-08-2021</td>
        </tr>
    </table>
</section>
<section class="table-section iePieGraphGrid">
    <div class="table-title">
        <h3 class="headingh3"> Pending Calls </h3>
    </div>
    <table class="borderGrid">
        <tr>
            <th>Sr. No.</th>
            <th>Case no.</th>
            <th>Call Date</th>
            <th>Call Sr. no.</th>
            <th>Inspection Desired Date</th>
            <th>Client</th>
            <th>Vendor</th>
            <th>Contact Person</th>
            <th>Contact No.</th>
        </tr>
        @if (Model != null && Model.lstIE != null && Model.lstIE.Count > 0)
        {
            var SrNo = 0;
            @foreach (var item in Model.lstIE.Take(5))
            {
                SrNo = SrNo + 1;
                <tr>
                    <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@SrNo</font></td>
                    <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@item.CASE_NO</font></td>
                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_RECV_DT</font></td>
                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_SNO</font></td>
                    <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.INSP_DESIRE_DT</font></td>
                    <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.CLIENT_NAME</font></td>
                    <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.VEND_NAME</font></td>
                    <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.CONTACT_PER</font></td>
                    <td width="1%" valign="top" align="left"><font size="1" face="Verdana">@item.CONTACT_NO</font></td>
                </tr>
            }
        }
    </table>
</section>

@section scripts{

    <script>
        Highcharts.chart('complaintPieChart', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45
                },
                margin: [10, 10, 75, 10],
                spacingTop: 0,
                spacingBottom: 10,
                spacingLeft: 0,
                spacingRight: 0,
                backgroundColor: 'transparent'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            legend: {
                itemStyle: {
                },
            },
            plotOptions: {
                pie: {
                    size: '105%',
                    innerSize: 0,
                    borderColor: 'transparent',
                    depth: 50,
                    showInLegend: true,
                    cursor: 'pointer',
                    allowPointSelect: true,
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        //color: '#fff',
                        format: '<b>{point.y}</b>'
                    }
                },
            },
            series: [{
                name: '',
                data: @Html.Raw(Model.ComplaintStatusSummary),
            }],
        });
        function NCIssued() {
            window.location.href = '@Url.Action("IE_Dashboard_Detail", "Dashboard")?Type=NCI';
        }
    </script>
}