@model DashboardModel

@{
    ViewData["Title"] = "Inspection Engineer (IE) Dashboard";
}

<div class="dashHeader">
    <h2 class="alignLeft">Inspection Engineer (IE) Dashboard</h2>
</div>
<div class="admindashboard-section">
    <div class="admindashboard-wrap">
        <div class="row ie-dashboard">
            <div class="col-lg-3">
                <a class="totalcall" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "TC" })">
                    <div class="dashboard-box das1Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.TotalCallsCount</div>
                                <div class="total-inner">
                                    Total<br />
                                    Calls
                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="PendingCall" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "M" })">
                    <div class="dashboard-box das2Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.PendingCallsCount</div>
                            </div>
                            <div class="total-inner">
                                Pending<br />
                                Calls
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="AcceptedCall" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "A" })">
                    <div class="dashboard-box das3Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.AcceptedCallsCount</div>
                            </div>
                            <div class="total-inner">
                                Accepted <br />
                                Calls
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="CancelleCall" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "C" })">
                    <div class="dashboard-box das4Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.CancelledCallsCount</div>
                            </div>
                            <div class="total-inner">
                                Cancelled<br />
                                Calls
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/request-cancel.svg" alt="Request Cancel"> </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row ie-dashboard">
            <div class="col-lg-3">
                <a class="UnderLabCall" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "U" })">
                    <div class="dashboard-box das5Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.UnderLabTestingCount</div>
                                <div class="total-inner">
                                    Under Lab <br />
                                    Testing
                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="StillUnderInspCall" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "S" })">
                    <div class="dashboard-box das6Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.StillUnderInspectionCount</div>
                            </div>
                            <div class="total-inner">
                                Still Under<br />
                                Inspection
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="StageRejectionCall" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "T" })">
                    <div class="dashboard-box das7Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.StageRejectionCount</div>
                            </div>
                            <div class="total-inner">
                                Stage<br />
                                Rejection
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das8Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.DSCExpiryDateCount</div>
                        </div>
                        <div class="total-inner">
                            DSC Expiry<br />
                            Date
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/DSC-expiry-date-icon.svg" alt="Request Cancel"> </div>
                </div>
            </div>
        </div>
        <div class="row ie-dashboard">
            <div class="col-lg-3">
                <a class="NCIssued" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "NCI" })">
                    @* <a href='@Url.Action("IE_Dashboard_Detail", "Dashboard")?Type=NCIssuedAgainstIE'>*@
                    <div class="dashboard-box das9Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.NCIsuedAgainstIECount</div>
                                <div class="total-inner">
                                    Total Number of NC<br />
                                    Isued against IE
                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                @*<a href='@Url.Action("IE_Dashboard_Detail", "Dashboard")?Type=NCIssuedAgainstIE'>*@
                <div class="dashboard-box das10Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.OutstandingNCCount</div>
                        </div>
                        <div class="total-inner">
                            Outstanding NC in the <br />
                            current financial year
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/outstanding-NC-in-the-current-financial-year-icon.svg" alt="Inspection Completed"> </div>
                </div>
                @* </a>*@
            </div>
            <div class="col-lg-3">
                <a class="StageRejectionCall" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "ICIE" })">
                <div class="dashboard-box das11Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">@Model.NotRecievedCount</div>
                        </div>
                        <div class="total-inner">
                            IC issued by IE but<br />
                            not recieved in office
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/IC-issued-by-IE-but-icon.svg" alt="Inspection Assigned"> </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="ConsigneeComp" href="@Url.Action("IE_Dashboard_Detail", "Dashboard", new { Type = "CC" })">
                    <div class="dashboard-box das12Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.ConsigneeCompaintCount</div>
                            </div>
                            <div class="total-inner">
                                Total Consignee<br />
                                Compaint
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/request-cancel.svg" alt="Request Cancel"> </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="graph-section iePieGraphGrid">
        <div class="row my-0">
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Complaint</h3>
                </div>
                <div class="graph">
                    <div id="complaintPieChart"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Complaint Status</h3>
                </div>
                <table class="borderGrid">
                    <tr>
                        <th class="textLeft">Status</th>
                        <th class="text-center">Complaints</th>
                    </tr>
                    <tr>
                        <td class="textLeft">Pending</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.PENDING</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Accepted</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.ACCEPTED</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Upheld</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.UPHELD</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Sorting</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.SORTING</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Rectification</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.RECTIFICATION</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Price Reduction</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.PRICE_REDUCTION</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Lifted Before JI</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.LIFTED_BEFORE_JI</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Transit Damange</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.TRANSIT_DEMANGE</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Unstamped</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.UNSTAMPED</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Not on Rites A/C</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.NOT_ON_RITES</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Deleted</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.DELETED</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="table-section iePieGraphGrid">
    <div class="table-title">
        <h3 class="headingh3"> INSTRUCTIONS FOR IE </h3>
    </div>
    <table class="borderGrid">
        <tr>
            <th>#</th>
            <th>Message ID</th>
            <th>Message Dt</th>
            <th>Message</th>
            <th>Letter No.</th>
            <th>Letter Date</th>
        </tr>
        @if (Model != null && Model.lstInstructionsIE != null && Model.lstInstructionsIE.Count > 0)
        {
            var SrNo = 0;
            if (Model.lstInstructionsIE.Count() > 0)
            {
                @foreach (var item in Model.lstInstructionsIE.Take(5))
                {
                    SrNo = SrNo + 1;
                    <tr>
                        <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@SrNo</font></td>
                        <td width="1%" valign="top" align="Left"><font size="1" face="Verdana">@item.MessageId</font></td>
                        <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.MessageDt?.ToString("dd/MM/yyyy")</font></td>
                        <td width="10%" valign="top" align="center"><font size="1" face="Verdana">@item.Message</font></td>
                        <td width="3%" valign="top" align="left"><font size="1" face="Verdana">@item.LetterNo</font></td>
                        <td width="3%" valign="top" align="left"><font size="1" face="Verdana">@item.LetterDt?.ToString("dd/MM/yyyy")</font></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10">No Data Found</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="10">No Data Found</td>
            </tr>
        }
    </table>
</section>
<section class="table-section iePieGraphGrid">
    <div class="table-title">
        <h3 class="headingh3"> Pending Calls </h3>
    </div>
    <table class="borderGrid">
        <tr>
            <th>Sr. No.</th>
            <th>Case no.</th>
            <th>Call Date</th>
            <th>Call Sr. no.</th>
            <th>Inspection Desired Date</th>
            <th>Client</th>
            <th>Vendor</th>
            <th>Contact Person</th>
            <th>Contact No.</th>
        </tr>
        @if (Model != null && Model.lstIE != null && Model.lstIE.Count > 0)
        {
            var SrNo = 0;
            if (Model.lstIE.Count() > 0)
            {
                @foreach (var item in Model.lstIE.Take(5))
                {
                    SrNo = SrNo + 1;
                    <tr>
                        <td width="10%" valign="top" align="Left"><font size="1" face="Verdana">@SrNo</font></td>
                        <td width="10%" valign="top" align="Left"><font size="1" face="Verdana">@item.CASE_NO</font></td>
                        <td width="10%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_RECV_DT</font></td>
                        <td width="10%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_SNO</font></td>
                        <td width="10%" valign="top" align="left"><font size="1" face="Verdana">@item.INSP_DESIRE_DT</font></td>
                        <td width="10%" valign="top" align="left"><font size="1" face="Verdana">@item.CLIENT_NAME</font></td>
                        <td width="10%" valign="top" align="left"><font size="1" face="Verdana">@item.VEND_NAME</font></td>
                        <td width="10%" valign="top" align="left"><font size="1" face="Verdana">@item.CONTACT_PER</font></td>
                        <td width="10%" valign="top" align="left"><font size="1" face="Verdana">@item.CONTACT_NO</font></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10">No Data Found</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="10">No Data Found</td>
            </tr>
        }
    </table>
</section>
<div class="chatIcon">
    <span class="fa fa-commenting-o"></span>
</div>
<div class="overlay">
    <div class="chatBox chat1stOpen">
        <div class="chatBoxHeader">
            <h2>Chats</h2>
            <a href="javascript:void(0);" id="broadcastOpen" title="Broadcast" class="btn btn-light px-3" style="width:auto;">Broadcast</a>
        </div>
        <div class="chatBoxBody">
            <ul>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg1">DR</div>
                    <div class="chatBoxInfo">
                        <h4>Deep Ravrani</h4>
                        <p>Inspection Engineer | Rajasthan</p>
                        <div class="chatRedNotIcon">2</div>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg2">AS</div>
                    <div class="chatBoxInfo">
                        <h4>Ajay Sharma</h4>
                        <p>General Manager | Maharastra</p>
                        <div class="chatRedNotIcon">2</div>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg3">BR</div>
                    <div class="chatBoxInfo">
                        <h4>Bhavin Rathod</h4>
                        <p>Inspection Engineer | Madhya Pradesh</p>
                        <div class="chatRedNotIcon">2</div>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg4">RB</div>
                    <div class="chatBoxInfo">
                        <h4>
                            Rahul Banna
                            <span class="badge text-bg-primary rounded-pill">NEW</span>
                        </h4>
                        <p>Control Manager | Uttar Pradesh</p>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg5">YP</div>
                    <div class="chatBoxInfo">
                        <h4>Yadav Paras</h4>
                        <p>Genneral Manager | Punjab</p>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg6">CV</div>
                    <div class="chatBoxInfo">
                        <h4>Chauhan Vijay</h4>
                        <p>Inpection Engineer |Delhi</p>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg7">JS</div>
                    <div class="chatBoxInfo">
                        <h4>Jaydeep Sanchaniya</h4>
                        <p>Inspection Engineer | Hariyana</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chatBox broadcastBox">
        <div class="chatBoxHeader">
            <h2><span class="fa fa-angle-left"></span> Broadcast</h2>
            <label>Select All <input type="checkbox" /></label>
        </div>
        <div class="chatBoxBody">
            <ul>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg1">DR</div>
                    <div class="chatBoxInfo">
                        <h4>Deep Ravrani</h4>
                        <p>Inspection Engineer | Rajasthan</p>
                        <div class="selectCheckbox"><input type="checkbox" /></div>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg2">AS</div>
                    <div class="chatBoxInfo">
                        <h4>Ajay Sharma</h4>
                        <p>General Manager | Maharastra</p>
                        <div class="selectCheckbox"><input type="checkbox" /></div>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg3">BR</div>
                    <div class="chatBoxInfo">
                        <h4>Bhavin Rathod</h4>
                        <p>Inspection Engineer | Madhya Pradesh</p>
                        <div class="selectCheckbox"><input type="checkbox" /></div>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg4">RB</div>
                    <div class="chatBoxInfo">
                        <h4>
                            Rahul Banna
                            <span class="badge text-bg-primary rounded-pill">NEW</span>
                        </h4>
                        <p>Control Manager | Uttar Pradesh</p>
                        <div class="selectCheckbox"><input type="checkbox" /></div>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg5">YP</div>
                    <div class="chatBoxInfo">
                        <h4>Yadav Paras</h4>
                        <p>Genneral Manager | Punjab</p>
                        <div class="selectCheckbox"><input type="checkbox" /></div>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg6">CV</div>
                    <div class="chatBoxInfo">
                        <h4>Chauhan Vijay</h4>
                        <p>Inpection Engineer |Delhi</p>
                        <div class="selectCheckbox"><input type="checkbox" /></div>
                    </div>
                </li>
                <li>
                    <div class="chatBoxIcon chatBoxIconBg7">JS</div>
                    <div class="chatBoxInfo">
                        <h4>Jaydeep Sanchaniya</h4>
                        <p>Inspection Engineer | Hariyana</p>
                        <div class="selectCheckbox"><input type="checkbox" /></div>
                    </div>
                </li>
            </ul>
            <div class="chatInputArea">
                <div class="chatInputHolder">
                    <input type="text" />
                    <div class="chatSubmit">
                        <a href="javascript:void(0);"><span class="fa fa-paperclip"></span></a>
                    <button><span class="fa fa-paper-plane"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function(){
            $(".overlay, .broadcastBox").hide();
            if ($(".chatIcon").length) {
                $(".chatIcon").click(function () {
                    if ($(this).next().is(":visible")) {
                        $(this).next().hide();
                        return false;
                    }
                    else {
                        $(".overlay").hide();
                        $(this).next().show();
                        return false;
                    }

                });
            }
            if ($("#broadcastOpen").length) {
                $("#broadcastOpen").click(function () {
                    if ($(".broadcastBox").is(":visible")) {
                        $(this).hide();
                        return false;
                    }
                    else {
                        $(".chat1stOpen").hide();
                        $(".broadcastBox").show();
                        return false;
                    }

                });
            }
        });
    </script>

    <script>
        Highcharts.chart('complaintPieChart', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45
                },
                margin: [10, 10, 95, 10],
                spacingTop: 0,
                spacingBottom: 10,
                spacingLeft: 0,
                spacingRight: 0,
                backgroundColor: 'transparent'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            legend: {
                itemStyle: {
                },
            },
            plotOptions: {
                pie: {
                    size: '105%',
                    innerSize: 0,
                    borderColor: 'transparent',
                    depth: 50,
                    showInLegend: true,
                    cursor: 'pointer',
                    allowPointSelect: true,
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        //color: '#fff',
                        format: '<b>{point.y}</b>'
                    }
                },
            },
            series: [{
                name: '',
                data: @Html.Raw(Model.ComplaintStatusSummary),
            }],
        });
        function NCIssued() {
            window.location.href = '@Url.Action("IE_Dashboard_Detail", "Dashboard")?Type=NCI';
        } function ConsigneeComp() {
            window.location.href = '@Url.Action("IE_Dashboard_Detail", "Dashboard")?Type=CC';
        }
    </script>
}