@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="list-inner pe-4 ps-4">
    <div class="tast-list my-0">
        <h2 class="alignLeft">Admin Dashboard</h2>
    </div>
    <div class="list-btn">
        <div class="wd50per"> @Html.DropDownListFor(model => model.Region, Common.GetDashboardRegion(), new { @onChange = "OnChangeRegion();"})</div>
    </div>
    @*<div class="list-btn">
    <a asp-area="" asp-controller="ContractEntry" asp-action="Manage" class="formBtn Permission_Add"><span class="fa fa-plus"></span> Add New Contract</a>
    </div>*@
</div>
<div class="admindashboard-section">
    <div class="admindashboard-wrap">
        <div class="row admin-dashboard">
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a class="totalcall" href="@Url.Action("TotalCallListing", "Dashboard", new { Type = "TC", Region = Model.Region })">
                    <div class="dashboard-box das1">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.TotalCallsCount</div>
                                <div class="total-inner">
                                    Total<br />Call
                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/total-calls-icon.svg" width="46" height="54" alt="Total Call"> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a class="PendingCall" href="@Url.Action("TotalCallListing", "Dashboard", new { Type = "M", Region = Model.Region })">
                    <div class="dashboard-box das2">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.PendingCallsCount</div>
                            </div>
                            <div class="total-inner">
                                Pending<br />Calls
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/pending-calls-icon.svg" width="46" height="54" alt="Pending Calls"> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a class="AcceptedCall" href="@Url.Action("TotalCallListing", "Dashboard", new { Type = "A", Region = Model.Region })">
                    <div class="dashboard-box das3">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.AcceptedCallsCount</div>
                            </div>
                            <div class="total-inner">
                                Accepted<br />Calls
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/accepted-calls-icon.svg" width="46" height="54" alt="Accepted Calls"> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a class="CancelleCall" href="@Url.Action("TotalCallListing", "Dashboard", new { Type = "C", Region = Model.Region })">
                    <div class="dashboard-box das4">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.CancelledCallsCount</div>
                            </div>
                            <div class="total-inner">
                                Cancelled<br />Calls
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/cancelled-calls-icon.svg" width="46" height="54" alt="Cancelled Calls"> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a class="UnderLabCall" href="@Url.Action("TotalCallListing", "Dashboard", new { Type = "U", Region = Model.Region })">
                    <div class="dashboard-box das5">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.UnderLabTestingCount</div>
                                <div class="total-inner">
                                    Under Lab<br /> Testing
                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/under-lab-testing-icon.svg" width="46" height="54" alt="Under Lab Testing"> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a class="StillUnderInspCall" href="@Url.Action("TotalCallListing", "Dashboard", new { Type = "S", Region = Model.Region})">
                    <div class="dashboard-box das6">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.StillUnderInspectionCount</div>
                            </div>
                            <div class="total-inner">
                                Still Under<br /> Inspection
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/still-under-inspection-icon.svg" width="46" height="54" alt="Still Under Inspection"> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a href="@Url.Action("TotalCallListing", "Dashboard", new { Type = "T", Region = Model.Region })">
                    <div class="dashboard-box das7">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.StageRejectionCount</div>
                            </div>
                            <div class="total-inner">
                                Stage<br /> Rejection
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/stage-rejection-icon.svg" width="46" height="54" alt="Stage Rejection"> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a href="@Url.Action("TotalCallListing", "Dashboard", new { Type = "TB", Region = Model.Region })">
                    <div class="dashboard-box das10">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.NOofBill</div>
                            </div>
                            <div class="total-inner">
                                No. of<br /> Bills
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/no-of-bills-icon.svg" width="46" height="54" alt="No. of Bills"> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a href="@Url.Action("IEPerCM","Dashboard")">
                    <div class="dashboard-box das11">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.NOOFIEPERCM</div>
                            </div>
                            <div class="total-inner">
                                No. of IEs<br /> per CMs
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/no-of-IEs-per-CMs-icon.svg" width="46" height="54" alt="No. of IEs per CMs"> </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 col-xxl-3">
                <div class="dashboard-box das14">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">20</div>
                        </div>
                        <div class="total-inner">
                            No. of Calls<br /> per IE
                        </div>
                    </div>
                    <div class="total-icons"><img src="images/no-of-calls-per-IE-icon.svg" width="46" height="54" alt="No. of Calls per IE"> </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xxl-3">
                <div class="dashboard-box das15">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">7000/-</div>
                        </div>
                        <div class="total-inner">
                            Avg<br /> fees
                        </div>
                    </div>
                    <div class="total-icons"><img src="images/AVG-fees-icon.svg" width="46" height="54" alt="Avg fees"> </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a href="@Url.Action("TotalCallListing", "Dashboard", new { Type = "ICNR", Region = Model.Region})">
                    <div class="dashboard-box das12">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.NotRecievedCount</div>
                                <div class="total-inner">
                                    Issued IC Not<br /> received in office
                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/not-received-office-icon.svg" width="46" height="54" alt="Not received in office"> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <a href="@Url.Action("TotalCallListing", "Dashboard", new { Type = "ICRNB", Region = Model.Region })">
                    <div class="dashboard-box das9">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">@Model.ICISSUERECEIVEOFFICENOTBILL</div>
                                <div class="total-inner">
                                    Issued IC and received in office Not billed IC
                                </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="images/not-billed-IC-icon-sml.svg" width="46" height="54" alt="Not billed IC"> </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="graph-section iePieGraphGrid">
        <div class="row my-0">
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Complaint</h3>
                </div>
                <div class="graph">
                    <div id="region-wise-pie"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Complaint Status</h3>
                </div>
                <table class="borderGrid">
                    <tr>
                        <th class="textLeft">Status</th>
                        <th class="text-center">Complaints</th>
                    </tr>
                    <tr>
                        <td class="textLeft">Pending</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.PENDING</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Accepted</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.ACCEPTED</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Upheld</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.UPHELD</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Sorting</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.SORTING</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Rectification</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.RECTIFICATION</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Price Reduction</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.PRICE_REDUCTION</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Lifted Before JI</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.LIFTED_BEFORE_JI</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Transit Damange</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.TRANSIT_DEMANGE</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Unstamped</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.UNSTAMPED</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Not on Rites A/C</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.NOT_ON_RITES</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Deleted</td>
                        <td class="text-center">@Model.complaintStatusSummaryModel.DELETED</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            Top Five Clients with Highest Payments
        </h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th class="srNo">Sr. No.</th>
                <th>Name of Client</th>
                <th>No. of bills</th>
                <th>Value (₹)</th>
            </tr>
            @{
                var Srno = 0;
                if (Model.lstHightPayment.Count() > 0)
                {
                    foreach (var item in Model.lstHightPayment.Take(5))
                    {
                        Srno = Srno + 1;
                        <tr>
                            <td>@Srno</td>
                            <td>@item.CLIENT_NAME</td>
                            <td>@item.NO_OF_BILL</td>
                            <td>@item.AMOUNT</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No Data Found</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="tableBottomLink">
        <div class="recordCount">@*Showing <span>5</span> out of <span>@Model.lstHightPayment.Count()</span> records*@</div>
        <a class="viewall" href="@Url.Action("Dashboard_Admin_ViewAll_List", "Dashboard", new { Type = "CHP", Region = Model.Region })">View All</a>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            Top Five Clients with highest outstanding
        </h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th class="srNo">Sr. No.</th>
                <th>Name of Client</th>
                <th>No. of bills</th>
                <th>Value (₹)</th>
            </tr>
            @{
                var No = 0;
                if (Model.lstHightOutstanding.Count() > 0)
                {
                    foreach (var item in Model.lstHightOutstanding.Take(5))
                    {
                        No = No + 1;
                        <tr>
                            <td>@No</td>
                            <td>@item.CLIENT_NAME</td>
                            <td>@item.NO_OF_BILL</td>
                            <td>@item.AMOUNT</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No Data Found</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="tableBottomLink">
        <div class="recordCount">@*Showing <span>5</span> out of <span>@Model.lstHightOutstanding.Count()</span> records*@</div>
        <a class="viewall" href="@Url.Action("Dashboard_Admin_ViewAll_List", "Dashboard", new { Type = "CHO", Region = Model.Region })">View All</a>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            Five oldest pending cases
        </h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th class="srNo">Sr. No.</th>
                <th>Case no.</th>
                <th>Date</th>
                <th>PO No.</th>
            </tr>
            @{
                var P_SrNo = 0;
                if (Model.lstPendingCase.Count() > 0)
                {
                    foreach (var item in Model.lstPendingCase.Take(5))
                    {
                        P_SrNo = P_SrNo + 1;
                        <tr>
                            <td>@P_SrNo</td>
                            <td>@item.CASE_NO</td>
                            <td>@item.CALL_DATE.ToString("dd/MM/yyyy")</td>
                            <td>@item.PO_NO</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No Data Found</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="tableBottomLink">
        <div class="recordCount">@*Showing <span>5</span> out of <span>@Model.lstPendingCase.Count()</span> records*@</div>
        <a class="viewall" href="@Url.Action("Dashboard_Admin_ViewAll_List", "Dashboard", new { Type = "OPC", Region = Model.Region })">View All</a>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            Five Oldest JI cases
        </h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th class="srNo">Sr. No.</th>
                <th>Case no.</th>
                <th>Date</th>
                <th>PO No.</th>
            </tr>
            @{
                var J_SrNo = 0;
                if (Model.lstJiCase.Count() > 0)
                {
                    foreach (var item in Model.lstJiCase.Take(5))
                    {
                        J_SrNo = J_SrNo + 1;
                        <tr>
                            <td>@J_SrNo</td>
                            <td>@item.CASE_NO</td>
                            <td>@item.CALL_DATE.ToString("dd/MM/yyyy")</td>
                            <td>@item.PO_NO</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No Data Found</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="tableBottomLink">
        <div class="recordCount">@*Showing <span>5</span> out of <span>@Model.lstJiCase.Count()</span> records*@</div>
        <a class="viewall" href="@Url.Action("Dashboard_Admin_ViewAll_List", "Dashboard", new { Type = "OJC", Region = Model.Region })">View All</a>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            Region Wise Consignee Complaints
        </h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th class="srNo">Sr. No.</th>
                <th>Region</th>
                <th>No. of Consignee complaints</th>
            </tr>

            @{
                var RegionRowNo = 0;
                if (Model.lstRegionConsComp.Count() > 0)
                {
                    foreach (var item in Model.lstRegionConsComp)
                    {
                        RegionRowNo = RegionRowNo + 1;
                        <tr>
                            <td>@RegionRowNo</td>
                            <td>@item.REGION</td>
                            <td>@item.NO_OF_CONSINEE_COMPLAINTS</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">No Data Found</td>
                    </tr>
                }
            }

        </table>
    </div>
    <div class="tableBottomLink">
    </div>
</section>

@section scripts{
    <script>

        // Pie Chart
        Highcharts.chart('region-wise-pie', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45
                },
                margin: [10, 10, 95, 10],
                spacingTop: 0,
                spacingBottom: 10,
                spacingLeft: 0,
                spacingRight: 0,
                backgroundColor: 'transparent'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            legend: {
                itemStyle: {
                },
            },
            plotOptions: {
                pie: {
                    size: '105%',
                    innerSize: 0,
                    borderColor: 'transparent',
                    depth: 50,
                    showInLegend: true,
                    cursor: 'pointer',
                    allowPointSelect: true,
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        //color: '#fff',
                        //format: '<b>{point.y}</b>'
                        formatter: function () {
                            if (this.y > 0) {
                                return this.y
                            }
                            else {
                                return ''
                            }
                        }
                    }
                },
            },
            series: [{
                name: '',
                data: @Html.Raw(Model.ComplaintStatusSummary),
            }],
        });

        function OnChangeRegion() {
            var Region = $("#Region").val();
            var url = '@Url.Action("Index", "Dashboard")?Region=' + Region;
            $(".overlayLoader").show();
            window.location.href = url;
        }
    </script>
}
