@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="dashHeader justify-content-between">
    <h2 class="alignLeft">
        LAB Dashboard
    </h2>
</div>
<div class="admindashboard-section">
    <div class="admindashboard-wrap">
        <div class="row admin-dashboard">
            <div class="col-lg-4">
                <div class="dashboard-box das1Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">35</div>
                            <div class="total-inner">
                               No. of <br />total Invoices
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das2Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">15</div>
                        </div>
                        <div class="total-inner">
                            No. of <br />Finalized Invoices	
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das3Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">12</div>
                        </div>
                        <div class="total-inner">
                            No. of Pending<br /> Invoices for finalization	
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                </div>
            </div>
        </div>
        <div class="row admin-dashboard">
            <div class="col-lg-4">
                <div class="dashboard-box das4Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">07</div>
                        </div>
                        <div class="total-inner">
                           No. of sample <br />registered per day	
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-5.svg" alt="Inspection Pending"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das5Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">35</div>
                            <div class="total-inner">
                                Total No. of <br />Reports generated
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das6Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">15</div>
                        </div>
                        <div class="total-inner">
                            Total No. of<br /> Reports Uploaded
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            Billing Amount/October <span class="subTitle">(Current Month)</span>
        </h3>
    </div>
    <div class="iePieGraphGrid">
<table class="borderGrid">
    <tr>
      <td>Total Number of Samples (2023) </td>
      <td>500</td>
    </tr>
    <tr>
      <td>Internal (2023)</td>
      <td>300</td>
    </tr>
    <tr>
      <td>External (2023)</td>
      <td>200</td>
    </tr>
</table>
    </div>
</section>
<script>
    $(document).ready(function () {
        
        $('.dashboard-box.das1Client').on('click', function () {
            window.location.href = '@Url.Action("TotalInvoice", "Dashboard")?Flag=' + 1;
        });
        $('.dashboard-box.das2Client').on('click', function () {
            window.location.href = '@Url.Action("TotalInvoice", "Dashboard")?Flag=' + 2;
        });
        $('.dashboard-box.das3Client').on('click', function () {
            window.location.href = '@Url.Action("TotalInvoice", "Dashboard")?Flag=' + 3;
        });
        $('.dashboard-box.das5Client').on('click', function () {
            window.location.href = '@Url.Action("TotalReportUploaded", "Dashboard")';
        });
        $('.dashboard-box.das6Client').on('click', function () {
            window.location.href = '@Url.Action("TotalReportUploaded", "Dashboard")';
        });
    });
</script>