@model IBS.Models.InspectionCertModel

<div class="task-listinput">
    <div class="accordion-body" style="overflow-x: auto;">
        <input type="hidden" id="_BpoType" value=@Model.BpoType />
        <input type="hidden" id="_BpoFeeType" value=@Model.BpoFeeType />
        @*<input type="hidden" asp-for="BpoFeeType" />*@
        @*<input type="hidden" asp-for="IcTypeId" />*@
        <input type="hidden" asp-for="Callrecvdt" />
        <input type="hidden" asp-for="BpoCd" />
        <input type="hidden" asp-for="ConsigneeCd" />
        

        <h3 class="heading3">Credit/Debit Bill Details </h3>
        @*<h3 class="heading3"><span id="spnBillHdr"></span> </h3>*@

        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <label for="Caseno">Bill Types</label>
                <div class="custom-readio">
                    <div class="company-checkbox">
                        <div class="remember">
                            <div class="remecheckbox">
                                <ul class="radioListForm">
                                    <li>
                                        <input type="radio" asp-for="BillAdType" name="BillAdType" value="Credit" id="BillAdType_C" />
                                        <label for="BillAdType_C">Credit Note</label>
                                    </li>
                                    <li>
                                        <input type="radio" asp-for="BillAdType" name="BillAdType" value="Debit" id="BillAdType_D" checked/>
                                        <label for="BillAdType_D">Debit Note</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Case No.</label>
                    <input type="text" class="input" asp-for="Caseno" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Call Date</label>
                    <input type="text" class="input" asp-for="Callrecvdt" maxlength="100">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Call SNo.</label>
                    <input type="text" class="input" asp-for="Callsno" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Contract No.</label>
                    <input type="text" class="input" asp-for="PoNo" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Date</label>
                    <input type="text" class="input" asp-for="PoDt" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Po Source</label>
                    <input type="text" class="input" asp-for="PoSource" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-8 mb-3">
                <div class="reference">
                    <label for="Caseno">Vendor Name</label>
                    <input type="text" class="input" asp-for="VendName" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Inspecting Er.</label>
                    <input type="text" class="input" asp-for="IeName" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>

        <div class="row my-0">
            @if (Model.IrfcFunded == "Y")
            {
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">IRFC BPO</label>
                        @Html.DropDownListFor(model => model.IrfcBpo, new SelectList(IBS.Models.Common.GetBPOList() , "Value", "Text"),"--Select--", new { @disabled = "disabled" })
                    </div>
                </div>
            }
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">IRFC Funded</label>
                    @Html.DropDownListFor(model => model.IrfcFunded, new SelectList(IBS.Models.Common.OnlineCallStatus() , "Value", "Text"), new { @disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Consignee</label>
                    @Html.DropDownListFor(model => model.Consignee, new SelectList(IBS.Models.Common.GetConsignee(Model.Caseno) , "Value", "Text"), new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Bk No.</label>
                    <input type="text" class="input" asp-for="Bkno" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Set No.</label>
                    <input type="text" class="input" asp-for="Setno" maxlength="100" style="text-transform: uppercase;" readonly>
                    <span id="spnBillDt" style="color:#d52127;"></span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Cert Date (DD/MM/YYYY)</label>
                    <input type="text" class="input" asp-for="CertDt" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">BPO.</label>
                    @Html.DropDownListFor(model => model.Bpo, new SelectList(IBS.Models.Common.GetBPOList(Model.BpoCd) , "Value", "Text"))
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Install No</label>
                    <input type="text" class="input" asp-for="CallInstallNo" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Install Part</label>
                    @Html.DropDownListFor(model => model.FullPart, new SelectList(IBS.Models.Common.GetFPart() , "Value", "Text"),"--Select--" , new { @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="FirstInspDt">First Insp Date(dd/mm/yyyy) <span class="text-danger">*</span></label>
                    <input type="text" class="datepicker" asp-for="FirstInspDt" maxlength="100" style="text-transform: uppercase;" placeholder="DD/MM/YYYY">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="LastInspDt">Last Insp Date(dd/mm/yyyy) <span class="text-danger">*</span></label>
                    <input type="text" class="datepicker" asp-for="LastInspDt" maxlength="100" style="text-transform: uppercase;" placeholder="DD/MM/YYYY">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Other Insp Dates</label>
                    <input type="text" class="datepicker" asp-for="OtherInspDt" maxlength="100" style="text-transform: uppercase;" placeholder="DD/MM/YYYY">
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">IC Submit Date</label>
                    <input type="text" class="datepicker" asp-for="ICSubmitDt" maxlength="100" style="text-transform: uppercase;" placeholder="DD/MM/YYYY">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Sealing Pattern</label>
                    @Html.DropDownListFor(model => model.StampPatternCd, new SelectList(IBS.Models.Common.GetSealing() , "Value", "Text"),"--Select--" , new { @disabled = "disabled" })
                    <textarea class="input" asp-for="StampPattern" style="text-transform: uppercase;display:none;"></textarea>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Photo Attached</label>
                    @Html.DropDownListFor(model => model.Photo, new SelectList(IBS.Models.Common.OnlineCallStatus() , "Value", "Text"),"--Select--" , new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Bill No.</label>
                    <input type="text" class="input" asp-for="BillNo" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Bill Date</label>
                    <input type="text" class="input" asp-for="BillDt" maxlength="100" style="text-transform: uppercase;" readonly>
                    <span id="spnBillDt" style="color:#d52127;"></span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">No. of Visits</label>
                    <input type="text" class="input" asp-for="NoOfInsp" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">GSTIN No.</label>
                    <input type="text" class="input" asp-for="GstinNo" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Legal Name</label>
                    <input type="text" class="input" asp-for="LegalName" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">IC Type</label>
                    @Html.DropDownListFor(model => model.IcTypeId, new SelectList(IBS.Models.Common.GetICType() , "Value", "Text"),"--Select--", new { @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Au Code</label>
                    <input type="text" class="input" asp-for="Au" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Bill Paying Officer</label>
                    <input type="text" class="input" asp-for="BpoName" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>

        <h3 class="heading3">Items Details </h3>
        <div id="divgrid">
            <section class="table-section">
                <div class="task-listinput">
                    <div class="dash-table">
                        <table id="dtList" class="table-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Item SNo.</th>
                                    <th>Item Desc</th>
                                    <th>UOM</th>
                                    <th>Qty. Ord</th>
                                    <th>Cumm Qty off Prev</th>
                                    <th>Qty Prev Passed</th>
                                    <th>Qty Off Now</th>
                                    <th>Qty Passed</th>
                                    <th>Qty Rejected</th>
                                    <th>Qty Due</th>
                                    <th>Rate</th>
                                    <th>New Rate</th>
                                    <th>Sales Tax(%)</th>
                                    <th>Sales Tax</th>
                                    <th>Excise (%)</th>
                                    <th>Excise</th>
                                    <th>Discount (%)</th>
                                    <th>Discount</th>
                                    <th>Other Charges</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        
        <div class="accordion-body inner">
            <h3 class="heading3">Old Values </h3>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">Material Value</label>
                        <input type="text" class="input" asp-for="TMValue" maxlength="100" style="text-transform: uppercase;" readonly>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">Insp Fee</label>
                        <input type="text" class="input" asp-for="TIFee" maxlength="100" style="text-transform: uppercase;" readonly>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">Net Fee</label>
                        <input type="text" class="input" asp-for="NetFee" maxlength="100" style="text-transform: uppercase;" readonly>
                    </div>
                </div>
            </div>
            <h3 class="heading3">New Values </h3>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">Material Value</label>
                        <input type="text" class="input" asp-for="TMValueNew" maxlength="100" style="text-transform: uppercase;" readonly>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">Insp Fee</label>
                        <input type="text" class="input" asp-for="TIFeeNew" maxlength="100" style="text-transform: uppercase;" readonly>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">Net Fee</label>
                        <input type="text" class="input" asp-for="NetFeeNew" maxlength="100" style="text-transform: uppercase;" readonly>
                    </div>
                </div>
            </div>
            <h3 class="heading3">Difference between Old Values & New Values </h3>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">Material Value</label>
                        <input type="text" class="input" asp-for="TMValueDiff" maxlength="100" style="text-transform: uppercase;" readonly>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">Insp Fee</label>
                        <input type="text" class="input" asp-for="TIFeeDiff" maxlength="100" style="text-transform: uppercase;" readonly>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">Net Fee</label>
                        <input type="text" class="input" asp-for="NetFeeDiff" maxlength="100" style="text-transform: uppercase;" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Invoice No.</label>
                    <input type="text" class="input" asp-for="InvoiceNo" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Min Fee Payble</label>
                    <input type="text" class="input" asp-for="MinFee" maxlength="100" style="text-transform: uppercase;" readonly>
                    <span id="spnMinFee" style="color:#d52127;"></span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Max Fee Allowed</label>
                    <input type="text" class="input" asp-for="MaxFee" maxlength="100" style="text-transform: uppercase;" readonly>
                    <span id="spnMaxFee" style="color:#d52127;"></span>
                </div>
            </div>
        </div>

        <div class="row my-0">
            @*<div class="col-md-4 mb-3">
            <div class="reference">
            <label for="Reference">FEE</label>
            @Html.DropDownListFor(model => model.BpoFee, new SelectList(IBS.Models.Common.RlyBPOFee() , "Value", "Text"))
            </div>
            </div>*@
            <div class="col-md-4 mb-3 RlyBpoFee" style="display:none;">
                <div class="reference">
                    <label for="Reference">Rly BPO Fee</label>
                    @Html.DropDownListFor(model => model.RlyBpoFee, new SelectList(IBS.Models.Common.RlyBPOFee() , "Value", "Text"), new { @disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-4 mb-3 BpoFee" style="display:none;">
                <div class="reference">
                    <label for="Reference">FEE</label>
                    <input type="text" class="input" asp-for="BpoFee" maxlength="100" style="text-transform: uppercase;" readonly>
                    <span asp-validation-for="BpoFee" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Adjustment Fee</label>
                    <input type="text" class="input" asp-for="AdjustmentFee" maxlength="100" style="text-transform: uppercase;" onChange="onAdjustmentFee()">
                    <span asp-validation-for="AdjustmentFee" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">FEE Type</label>
                    @Html.DropDownListFor(model => model.BpoFeeType, new SelectList(IBS.Models.Common.GetFeeType() , "Value", "Text"),"--Select--", new { @class = "" ,onChange="onBpoFeeType()", @disabled = "disabled"})
                </div>
            </div>
            @if (@Convert.ToInt32(Convert.ToDateTime(@Model.CertDt).ToString("yyyyMMdd")) >= @Convert.ToInt32(20170701))
            {
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Reference">TAX GST Type</label>
                        @Html.DropDownListFor(model => model.TaxType, new SelectList(IBS.Models.Common.GetTaxType_GST() , "Value", "Text"),"--Select--", new { @disabled = "disabled" })
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Reference">TAX Type</label>
                        @Html.DropDownListFor(model => model.BpoTaxType, new SelectList(IBS.Models.Common.GetTAXType() , "Value", "Text"),"--Select--", new { @disabled = "disabled" })
                    </div>
                </div>
            }
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Advance Bill</label>
                    @Html.DropDownListFor(model => model.AdvBill, new SelectList(IBS.Models.Common.GetAdvanceBill() , "Value", "Text"),"--Select--", new { @disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-8 mb-3">
                <div class="reference">
                    <label for="Caseno">Remarks</label>
                    @*<input type="text" class="input" asp-for="Remarks" maxlength="200" style="text-transform: uppercase;">*@
                    <textarea class="input" asp-for="Remarks" style="text-transform: uppercase;"></textarea>
                    <span id="spnRemarks" style="color:#d52127;"></span>
                </div>
            </div>

        </div>

        <div class="alert alert-warning">
            <div class="row center my-0">
                <div class="col-md-12">
                    <span style="color:#d52127;">* Enter Fee Details Before Generating Bill !!!</span>
                    <div>
                        @if (@Model.STS != "X")
                        {
                            <button type="button" class="commonBtn" id="btnGBill" onclick="onbtnGBill();">Generate Bill</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="EditCallDetailsModal" class="modal" tabindex="-1" role="dialog">
</div>

<div id="PopUp" class="modal" tabindex="-1" role="dialog">
</div>

