@model IBS.Models.InspectionCertModel

<div class="task-listinput">
    <div class="accordion-body" style="overflow-x: auto;">
        <input type="hidden" asp-for="BpoType" />
        <input type="hidden" asp-for="BpoFeeType" />
        <input type="hidden" asp-for="IcTypeId" />
        <input type="hidden" asp-for="Callrecvdt" />

        <h3 class="heading3">Adjustment Bill Details </h3>

        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <label for="Caseno">Bill Types</label>
                <div class="custom-readio">
                    <div class="company-checkbox">
                        <div class="remember">
                            <div class="remecheckbox">
                                <ul class="radioListForm">
                                    <li>
                                        <input type="radio" asp-for="BillTypes" value="C" id="BillTypes_C" checked />
                                        <label for="BillTypes_C">Credit Note</label>
                                    </li>
                                    <li>
                                        <input type="radio" asp-for="BillTypes" value="D" id="BillTypes_D" />
                                        <label for="BillTypes_D">Debit Note</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Case No.</label>
                    <input type="text" class="input" asp-for="Caseno" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Call Date</label>
                    <input type="text" class="input" asp-for="Callrecvdt" maxlength="100">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Call SNo.</label>
                    <input type="text" class="input" asp-for="Callsno" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Contract No.</label>
                    <input type="text" class="input" asp-for="PoNo" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Date</label>
                    <input type="text" class="input" asp-for="PoDt" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Po Source</label>
                    <input type="text" class="input" asp-for="PoSource" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-8 mb-3">
                <div class="reference">
                    <label for="Caseno">Vendor Name</label>
                    <input type="text" class="input" asp-for="VendName" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Inspecting Er.</label>
                    <input type="text" class="input" asp-for="IeName" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>
        <div class="row my-0">
            @if (Model.IrfcFunded == "Y")
            {
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Caseno">IRFC BPO</label>
                        @Html.DropDownListFor(model => model.IrfcBpo, new SelectList(IBS.Models.Common.GetBPOList() , "Value", "Text"),"--Select--", new { @disabled = "disabled" })
                    </div>
                </div>
            }
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">IRFC Funded</label>
                    @Html.DropDownListFor(model => model.IrfcFunded, new SelectList(IBS.Models.Common.OnlineCallStatus() , "Value", "Text"), new { @disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Consignee</label>
                    @Html.DropDownListFor(model => model.Consignee, new SelectList(IBS.Models.Common.GetConsignee(Model.Caseno) , "Value", "Text"), new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Bill No.</label>
                    <input type="text" class="input" asp-for="BillNo" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Bill Date</label>
                    <input type="text" class="input" asp-for="BillDt" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>

        <h3 class="heading3">Items Details </h3>

        <div id="divgrid">
            <section class="table-section">
                <div class="task-listinput">
                    <div class="dash-table">
                        <table id="dtList" class="table-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Item SNo.</th>
                                    <th>Item Desc</th>
                                    <th>UOM</th>
                                    <th>Qty. Ord</th>
                                    <th>Cumm Qty off Prev</th>
                                    <th>Qty Prev Passed</th>
                                    <th>Qty Off Now</th>
                                    <th>Qty Passed</th>
                                    <th>Qty Rejected</th>
                                    <th>Qty Due</th>
                                    <th>Rate</th>
                                    <th>Sales Tax(%)</th>
                                    <th>Sales Tax</th>
                                    <th>Excise (%)</th>
                                    <th>Excise</th>
                                    <th>Discount (%)</th>
                                    <th>Discount</th>
                                    <th>Other Charges</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">GSTIN No.</label>
                    <input type="text" class="input" asp-for="GstinNo" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Legal Name</label>
                    <input type="text" class="input" asp-for="LegalName" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">IC Type</label>
                    @Html.DropDownListFor(model => model.IcTypeId, new SelectList(IBS.Models.Common.GetICType() , "Value", "Text"),"--Select--")
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Au Code</label>
                    <input type="text" class="input" asp-for="Au" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Bill Paying Officer</label>
                    <input type="text" class="input" asp-for="BpoName" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>

        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Material Value</label>
                    <input type="text" class="input" asp-for="TMValue" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Insp Fee</label>
                    <input type="text" class="input" asp-for="TIFee" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Net Fee</label>
                    <input type="text" class="input" asp-for="NetFee" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Invoice No.</label>
                    <input type="text" class="input" asp-for="InvoiceNo" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Min Fee Payble</label>
                    <input type="text" class="input" asp-for="MinFee" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Max Fee Allowed</label>
                    <input type="text" class="input" asp-for="MaxFee" maxlength="100" style="text-transform: uppercase;" readonly>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">FEE</label>
                    @Html.DropDownListFor(model => model.Rate, new SelectList(IBS.Models.Common.RlyBPOFee() , "Value", "Text"))
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">FEE Type</label>
                    @Html.DropDownListFor(model => model.BpoFeeType, new SelectList(IBS.Models.Common.GetFeeType() , "Value", "Text"),"--Select--")
                </div>
            </div>
            @if (@Convert.ToInt32(Convert.ToDateTime(@Model.CertDt).ToString("yyyyMMdd")) >= @Convert.ToInt32(20170701))
            {
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Reference">TAX GST Type</label>
                        @Html.DropDownListFor(model => model.TaxType, new SelectList(IBS.Models.Common.GetTaxType_GST() , "Value", "Text"),"--Select--")
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Reference">TAX Type</label>
                        @Html.DropDownListFor(model => model.BpoTaxType, new SelectList(IBS.Models.Common.GetTAXType() , "Value", "Text"),"--Select--")
                    </div>
                </div>
            }
        </div>

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Advance Bill</label>
                    @Html.DropDownListFor(model => model.AdvBill, new SelectList(IBS.Models.Common.GetAdvanceBill() , "Value", "Text"),"--Select--", new { @disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Caseno">Remarks</label>
                    <input type="text" class="input" asp-for="Remarks" maxlength="200" style="text-transform: uppercase;" readonly>
                </div>
            </div>

        </div>

    </div>
</div>
<div id="EditCallDetailsModal" class="modal" tabindex="-1" role="dialog">
</div>

<div id="PopUp" class="modal" tabindex="-1" role="dialog">
</div>