@model IBS.Models.InspectionCertModel

@{
    ViewData["Title"] = "Bill Adjustments";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="task-listinput">
    <form role="form" asp-controller="BillAdjustments" asp-action="Index" id="frmDetails">
        <input type="hidden" asp-for="UpdateStatus" />
        <input type="hidden" asp-for="ItemSrnoPo" />
        <input type="hidden" asp-for="BpoType" />
        <input type="hidden" asp-for="BillAdType" />

        <div class="accordion-body" style="overflow-x: auto;">
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <div class="reference">
                        <label for="Caseno">Bill No. <span class="darkRedBoldText">*</span></label>
                        <input type="text" class="input" asp-for="BillNo" maxlength="100" style="text-transform: uppercase;">
                        <span id="spnBillNo" class="darkRedBoldText"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="savenext-btn btnAlign">
                        <button type="button" class="save-btn active" onclick="BillSearch();">Search</button>
                        <button type="button" class="reset-btn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <section class="table-section" id="tblsection">
        </section>
    </form>
</div>

<div id="EditCallDetailsModal" class="modal" tabindex="-1" role="dialog">
</div>

<div id="PopUp" class="modal" tabindex="-1" role="dialog">
</div>
@section scripts {
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
        });

        function BillSearch() {
            var BillNo = $("#BillNo").val();

            $("#spnBillNo").html("");
            if ($("#BillNo").val() == null || $("#BillNo").val() == "") {
                $("#spnBillNo").html("Please add Bill No.");
                return;
            }

            let myObject = { BillNo };
            $.get("@Url.Action("GetBillDetails", "BillAdjustments")", $.param(myObject), function (response) {
                if (response.status == false) {
                    ShowHideMsgNew(response.status, response.responseText);
                }
                if (response != null) {
                    $("#tblsection").html(response);
                    $("#BpoFeeType").val($("#_BpoFeeType").val());
                    InitializeDatatable();
                    onBpoFeeType();
                    // AdjustCalculation();
                    $("#IcTypeId").val("10");

                    $('input[type=radio][name=BillAdType]').change(function () {
                        var BillAdType = $('input[type=radio][name=BillAdType]:checked').val();
                        $('#BillAdType').val(BillAdType);
                        //AdjustCalculation();
                        if (BillAdType == "Credit") {
                            $("#IcTypeId").val("9");
                        }
                        else if (BillAdType == "Debit") {
                            $("#IcTypeId").val("10");
                        }

                    });
                }

            });
        }

        function InitializeDatatable() {
            var Caseno = $("#Caseno").val();
            var Callrecvdt = $("#Callrecvdt").val();
            var Callsno = $("#Callsno").val();
            var Consignee = $("#Consignee").val();

            $("#dtList").DataTable({
                stateSave: false,
                autoWidth: true,
                //scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: true,
                dom: 'rti',
                ajax: {
                    url: "@Url.Action("LoadTableDetails", "BillAdjustments")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "Caseno": Caseno,
                            "Callrecvdt": Callrecvdt,
                            "Callsno": Callsno,
                            "Consignee": Consignee
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var _ItemSrnoPo = data.ItemSrnoPo;

                            var _Caseno = data.Caseno;
                            var _Callrecvdt = data.Callrecvdt;
                            var _Callsno = data.Callsno;

                            //var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a onclick="OpenEditCallDetailsModal(\'' + _ItemSrnoPo + '\'); return false; " href="javascript: void (\'0\');" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            var html = '<div align="center" class="reportIcon actionCenter">';
                            html += '<a onclick="OpenEditCallDetailsModal(\'' + _Caseno + '\',\'' + _Callrecvdt + '\' ,\'' + _Callsno + '\',\'' + _ItemSrnoPo + '\'); return false;" href="javascript: void (\'0\');" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';

                            //var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a onclick="OpenEditCallDetailsModal(\'' + _ItemSrnoPo + '\'); return false; " href="javascript: void (\'0\');" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            //var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a onclick="OpenEditCallDetailsModal(\'' + Caseno + '\',' + Callrecvdt + '\',' + Callsno + '\',' + _ItemSrnoPo + '); return false; " href="javascript: void (\'0\');" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                    { data: "ItemSrnoPo" },
                    { data: "ItemDescPo" },
                    { data: "UomSDesc" },
                    { data: "QtyOrdered" },
                    { data: "CumQtyPrevOffered" },
                    { data: "CumQtyPrevPassed" },
                    { data: "QtyToInsp" },
                    { data: "QtyPassed" },
                    { data: "QtyRejected" },
                    { data: "QtyDue" },
                    { data: "Rate" },
                    { data: "SuppNewRate" },
                    { data: "SalesTaxPer" },
                    { data: "SalesTax" },
                    { data: "ExcisePer" },
                    { data: "Excise" },
                    { data: "DiscountPer" },
                    { data: "Discount" },
                    { data: "OtherCharges" },
                ],
                "order": [[0, "desc"]],
                "initComplete": function (settings, json) {
                    $("#dtList").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
            });
        }

        function OpenEditCallDetailsModal(Caseno, Callrecvdt, Callsno, ItemSrnoPo) {
            $("#ItemSrnoPo").val(ItemSrnoPo);
            //event.preventDefault();
            $('select').prop('disabled', false);
            //var formData = $("#frmDetails").serialize();
            let myObject = { Caseno, Callrecvdt, Callsno, ItemSrnoPo };

            $.ajax({
                url: "@Url.Action("EditListDetails", "BillAdjustments")",
                type: 'GET',
                cache: false,
                processData: false,
                contentType: false,
                data: $.param(myObject),
            }).done(function (response) {
                if (response != null) {
                    $("#EditCallDetailsModal").html("");
                    $("#EditCallDetailsModal").html(response);
                    $("#EditCallDetailsModal").modal('show');
                }
            });

            // $.post("@Url.Action("EditListDetails", "BillAdjustments")", formData, function (response) {
            //     alert(JSON.stringify(response));
            //     if (response != null) {
            //         $("#EditCallDetailsModal").html("");
            //         $("#EditCallDetailsModal").html(response);
            //         $("#EditCallDetailsModal").modal('show');
            //     }
            // });
        }

        function UpdateCallDetails() {
            var ItemDescPo = $("#ItemDescPo").val();
            var QtyToInsp = $("#QtyToInsp").val();
            var QtyPassed = $("#QtyPassed").val();
            var QtyRejected = $("#QtyRejected").val();
            var QtyDue = $("#QtyDue").val();
            var Consignee = $("#Consignee").val();
            var QtyOrdered = $("#QtyOrdered").val();
            var OtherCharges = $("#OtherCharges").val();

            $("#spnQtyToInsp").html("");
            $("#spnQtyPassed").html("");
            $("#spnQtyRejected").html("");
            $("#spnQtyDue").html("");
            $("#spnOtherCharges").html("");
            $("#spnItemDescPo").html("");


            var IsValid = true;

            if (QtyToInsp == "") {
                //ShowHideMsgNew(false, "Please add Qty Off Now.");
                $("#spnQtyToInsp").html("Please add Qty Off Now.");
                IsValid = false;
            }
            if (QtyPassed == "") {
                //ShowHideMsgNew(false, "Please add Qty Passed.");
                $("#spnQtyPassed").html("Please add Qty Passed.");
                IsValid = false;
            }
            if (QtyRejected == "") {
                //ShowHideMsgNew(false, "Please add Qty Rejected.");
                $("#spnQtyRejected").html("Please add Qty Passed.");
                IsValid = false;
            }
            if (QtyDue == "") {
                //ShowHideMsgNew(false, "Please add Qty Due.");
                $("#spnQtyDue").html("Please add Qty Passed.");
                IsValid = false;
            }
            if (OtherCharges == "") {
                //ShowHideMsgNew(false, "Please add Other Charges.");
                $("#spnOtherCharges").html("Please add Other Charges.");
                IsValid = false;
            }
            if (ItemDescPo == "") {
                //ShowHideMsgNew(false, "Please add Description.");
                $("#spnItemDescPo").html("Please add Description.");
                IsValid = false;
            }

            if (parseInt(QtyToInsp) > parseInt(QtyOrdered)) {
                $("#spnQtyToInsp").html("Please add less then Qty Ord.");
                $("#QtyToInsp").val("0");
                IsValid = false;
            }
            if (parseInt(QtyPassed) > parseInt(QtyToInsp)) {
                $("#spnQtyPassed").html("Please add less then Qty Off Now.");
                $("#QtyPassed").val("0");
                IsValid = false;
            }

            var QtyR = parseInt(QtyToInsp) - parseInt(QtyPassed);
            if (parseInt(QtyRejected) > parseInt(QtyR)) {
                $("#spnQtyRejected").html("Less then Qty Off Now - Qty Passed.");
                $("#QtyRejected").val("0");
                IsValid = false;
            }
            var QtyD = parseInt(QtyToInsp) - parseInt(QtyPassed) - parseInt(QtyRejected);
            if (parseInt(QtyDue) > parseInt(QtyD)) {
                $("#spnQtyDue").html("Less then Qty Off Now - Qty Passed - Qty Rejected.");
                $("#QtyDue").val("0");
                IsValid = false;
            }

            if (!IsValid) return;

            event.preventDefault();
            var formData = $("#frmDetails").serialize();
            $.post("@Url.Action("UpdateCallDetails", "BillAdjustments")", formData, function (response) {
                if (response.status) {
                    $("#EditCallDetailsModal").modal('hide');
                    ShowHideMsgNew(response.status, response.responseText);
                    InitializeDatatable();
                    AdjustCalculation();
                }
                else {
                    ShowHideMsgNew(response.status, response.responseText);
                }
                $("#IrfcBpo").attr("disabled", true);
                $("#IrfcFunded").attr("disabled", true);
                $("#Consignee").attr("disabled", true);
                $("#Bpo").attr("disabled", true);
                $("#FullPart").attr("disabled", true);
                $("#StampPatternCd").attr("disabled", true);

                $("#Photo").attr("disabled", true);
                $("#IcTypeId").attr("disabled", true);
                $("#BpoFeeType").attr("disabled", true);
                $("#TaxType").attr("disabled", true);
                $("#AdvBill").attr("disabled", true);
            });
        }

        function AdjustCalculation() {
            var Caseno = $('#Caseno').val();
            var Callrecvdt = $('#Callrecvdt').val();
            var Callsno = $('#Callsno').val();
            var Consignee = $('#Consignee').val();
            var AdjustmentFee = $('#AdjustmentFee').val();
            var BillNo = $('#BillNo').val();
            var ConsigneeCd = $('#ConsigneeCd').val();

            var BillAdType = $('#BillAdType').val();

            let myObject = { Caseno, Callrecvdt, Callsno, Consignee, BillNo, AdjustmentFee, ConsigneeCd, BillAdType };
            $.get("@Url.Action("GetFeeCalculation", "BillAdjustments")", $.param(myObject), function (response) {
                if (response.status) {
                    $("#TMValueNew").val(parseFloat(response.responseText.TMValueNew).toFixed(2));
                    $("#TIFeeNew").val(parseFloat(response.responseText.TIFeeNew).toFixed(2));
                    $("#NetFeeNew").val(parseFloat(response.responseText.NetFeeNew).toFixed(2));

                    var OldValueM = $("#TMValue").val();
                    var NewValueM = $("#TMValueNew").val();
                    var DiffValueM = (parseFloat(NewValueM) - parseFloat(OldValueM));
                    $("#TMValueDiff").val(parseFloat(DiffValueM.toFixed(2)))

                    var TIFeeOldValueM = $("#TIFee").val();
                    var TIFeeNewValueM = $("#TIFeeNew").val();
                    var TIFeeDiffValueM = (parseInt(TIFeeNewValueM) - parseInt(TIFeeOldValueM));
                    $("#TIFeeDiff").val(TIFeeDiffValueM);

                    var NetFeeOldValueM = $("#NetFee").val();
                    var NetFeeNewValueM = $("#NetFeeNew").val();
                    var NetFeeDiffValueM = (parseInt(NetFeeNewValueM) - parseInt(NetFeeOldValueM));
                    $("#NetFeeDiff").val(NetFeeDiffValueM);
                }
            });
        }

        function PopUp(BillNo) {
            //var _BillNo = $("#BillNo").val();
            $.ajax({
                url: '@Url.Action("PopUp", "BillAdjustments")?BillNo=' + BillNo,
                type: 'GET',
                cache: false,
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response != null) {
                    $("#PopUp").html("");
                    $("#PopUp").html(response);
                    $("#PopUp").modal('show');
                }
            });
        }

        function PopUpOk() {
            //location.reload();
            $("#PopUp").modal('hide');
        }

        function onbtnGBill() {
            $("#spnMinFee").html("");
            $("#spnMaxFee").html("");
            $("#spnBillDt").html("");
            $("#spnRemarks").html("");
            if ($("#BillDt").val() == "") {
                $("#spnBillDt").html("Please add Bill Date.");
                return;
            }
            if ($("#MinFee").val() == null) {
                $("#spnMinFee").html("Please Minimum fees.");
                return;
            }
            if ($("#MaxFee").val() == null) {
                $("#spnMaxFee").html("Please Maximum fees.");
                return;
            }
            if ($("#Remarks").val() == "") {
                $("#spnRemarks").html("Please add Remarks.");
                return;
            }
            $('select').prop('disabled', false);
            event.preventDefault();
            var formData = $("#frmDetails").serialize();
            $.post("@Url.Action("BillUpdate", "BillAdjustments")", formData, function (response) {
                if (response.status) {
                    if (response.responseText == "Update Successfully.") {
                        var BillNo = response.Id;
                        PopUp(BillNo);
                    }
                    else {
                        ShowHideMsgNew(false, response.responseText);
                    }
                }
                else {
                    ShowHideMsgNew(response.status, response.responseText);
                }
            });
        }

        function onBpoFeeType() {
            var BpoFeeType = $("#BpoFeeType").val();
            if (BpoFeeType == "P") {
                $(".RlyBpoFee").show();
                $(".BpoFee").hide();
                var Fees = $("#RlyBpoFee").val();
                $("#AdjustmentFee").val(Fees);
            }
            else {
                $(".RlyBpoFee").hide();
                $(".BpoFee").show();

                var Fees = $("#BpoFee").val();
                $("#AdjustmentFee").val(Fees);
            }

            if (BpoFeeType == "L") {
                $("#AdjustmentFee").attr("disabled", false);
            }
            else {
                $("#AdjustmentFee").attr("disabled", true);
            }
            AdjustCalculation();
        }

        function onAdjustmentFee() {
            AdjustCalculation();
        }


    </script>
}