@model IBS.Models.VenderCallStatusModel

@{
    ViewData["Title"] = "Call Status Update form";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Call Status Update form</h2>
    </div>
</div>

<div class="task-listinput">
    <form role="form" asp-controller="CallRegisterIB" asp-action="CallStatus" id="frmCallStatus">
        <input type="hidden" asp-for="ActionType" />
        <div class="accordion-body" style="overflow-x: auto;">
            <table>
                @*<col style="width: 20%;" />
                <col style="width: 80%;" />*@
                <tr>
                    <td>
                        <label for="Reference">Vendor : </label>
                    </td>

                    <td colspan="4">
                        <input type="text" class="input" asp-for="VendName" maxlength="100" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Purchaser : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="Consignee" maxlength="100" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Item : </label>
                    </td>
                    <td colspan="4">
                        <textarea rows="4" asp-for="ItemDescPo" style="color:red;text-transform: uppercase;" readonly="readonly"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Call Date : </label>
                    </td>
                    <td>
                        <input type="text" class="input" id="callRecdt" asp-for="CallRecvDt" maxlength="30" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Inpection Desire Date : </label>
                    </td>
                    <td>
                        <input type="text" class="input" asp-for="DesireDt" maxlength="30" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Engineer Name : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="IeName" maxlength="100" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Engineer Contact No. : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="IePhoneNo" maxlength="12" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">PO No. : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="PoNo" maxlength="50" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">PO Date : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="PoDt" maxlength="30" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Case No. : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="CaseNo" maxlength="30" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Contact Person : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="MfgPers" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Contact Person Tel No. : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="MfgPhone" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Call Serial No. : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="CallSno" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Case Status : </label>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CallStatus, new SelectList(IBS.Models.Common.CallStatus(), "Value", "Text"), "--Select--",new { @class = "form-control" ,@id="CallStatusdrp"})
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CallCancelStatus, new SelectList(IBS.Models.Common.CallCancelStatus() , "Value", "Text"), "--Select--",new { @class = "form-control" ,@id="CallCancelStatusdrp"})
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CallListByRly,new SelectList(Model.CallRlyFirmList, "Value", "Text"),"--Select--",new { @class = "form-control", @id = "CallCancelChargesdrp" })
                    </td>
                </tr>
                <tr id="ReasonFIFOdv">
                    <td>
                        <label for="Reference">Reason For Voilating FIFO : </label>
                    </td>
                    <td colspan="4">
                        <textarea rows="4" asp-for="ReasonFIFO" style="color:red;text-transform: uppercase;" id="ReasonFIFO"></textarea>
                    </td>
                </tr>
                <tr id="MatCanvalue">
                    <td>
                        <label for="Reference">Material Vlaue: </label>
                    </td>
                    <td>
                        <input type="text" class="input" id="MatValue" asp-for="MaterialValue" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                    <td>
                        <label for="Reference">Cancellation Charge: </label>
                    </td>
                    <td>
                        <input type="text" class="input" id="CanCharges" asp-for="CallCancelCharges" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr id="bkset">
                    <td>
                        <label for="Reference">BK & Set No : </label>
                    </td>
                    <td>
                        <input type="text" class="input" id="BkNo" asp-for="BkNo" style="color:red;text-transform: uppercase;">
                    </td>
                    <td>
                        <input type="text" class="input" id="SetNo" asp-for="SetNo" style="color:red;text-transform: uppercase;">
                    </td>
                </tr>
                @if (Model.ActionType != "C")
                {
                    <tr>
                        <td>
                            <label for="Reference">Allow Updation of Call(Y/N) : </label>
                        </td>
                        <td colspan="4">
                            @Html.DropDownListFor(model => model.UpdateAllowed, new SelectList(IBS.Models.Common.OnlineCallStatus() , "Value", "Text"), "--Select--")
                        </td>
                    </tr>
                }
                @if (Model.ActionType == "C")
                {
                    <tr>
                        <td>
                            <label for="Reference">Case Status Date : </label>
                        </td>
                        <td>
                            <input type="text" class="datepicker" asp-for="CallStatusDt" style="color:red;text-transform: uppercase;" readonly="readonly" placeholder="DD/MM/YYYY">
                        </td>
                        <td colspan="2">
                            <span style="color:red;">(Current Date Will be the Case Status Date i.e Date of Cancellation/Acceptance..etc)</span>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="savenext-btn" id="savedetails">
            <button type="button" class="save-btn active" onclick="Save();">Save</button>
            <a asp-controller="CallRegisterIB" asp-action="Index" class="reset-btn">Cancel</a>
        </div>
    </form>

</div>

<div id="accepteddrp">
    <div id="tab-1" class="task-listinput">
        <form role="form" asp-controller="CallRegisterIB" asp-action="CallStatusFiles" id="frmCallStatusAccept">
            <input type="hidden" asp-for="ActionType" />
            <input type="hidden" asp-for="CaseNo" />
            <input type="hidden" asp-for="CallRecvDt" />
            <input type="hidden" asp-for="CallSno" />
            <input type="hidden" asp-for="CallStatus" />
            <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />

            <div class="accordion-body" style="overflow-x: auto;">
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Consignee : </label>
                        @Html.DropDownListFor(model => model.ConsigneeFirm,new SelectList(Model.ConsigneeFirmList, "Value", "Text"),new { @class = "form-control" ,@id="consigneeFirmDropdown"})
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Book No : </label>
                        <input type="text" asp-for="BkNo" maxlength="100" >
                        <span asp-validation-for="BkNo" class="text-danger"></span>

                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Set No : </label>
                        <input type="text" asp-for="SetNo" maxlength="100" >
                        <span asp-validation-for="SetNo" class="text-danger"></span>

                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload1" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload2" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload3" />
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload4" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload5" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload6" />
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload7" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload8" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload9" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload10" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="savenext-btn">
                            <button type="button" class="save-btn active" onclick="SaveImages();">Save Files</button>
                            <a asp-controller="CallRegisterIB" asp-action="Index" class="reset-btn">Cancel</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div id="accepteuploadddrp">
    <div id="tab-2" class="task-listinput">
         <form role="form" asp-controller="CallRegisterIB" asp-action="CallStatusUpload" id="frmCallStatusAcceptupload">
            <input type="hidden" asp-for="ActionType" />
            <input type="hidden" asp-for="CaseNo" />
            <input type="hidden" asp-for="BkNo" />
            <input type="hidden" asp-for="SetNo" />
            <input type="hidden" asp-for="CallRecvDt" />
            <input type="hidden" asp-for="CallSno" />
            <input type="hidden" asp-for="CallStatus" />
            <input type="hidden" asp-for="ConsigneeFirm" />
            <input type="hidden" asp-for="ReasonFIFO" />
            <input type="hidden" asp-for="RejectionCharge" />
            <input type="hidden" asp-for="MaterialValue" />
            <input type="hidden" asp-for="CallCancelCharges" />
            <input type="hidden" asp-for="CallStatusDt" />
            <input type="hidden" name="hdnUploadedDocumentList_tab-2" id="hdnUploadedDocumentList_tab-2" value="" />
            <div class="accordion-body" style="overflow-x: auto;">
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                     <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.ICPhoto_Dig_Sign" />
                 </div>
                <div class="col-md-4 mb-3">
                     <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_Test_Plan" />
                 </div>
                <div class="col-md-4 mb-3">
                     <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_IC_Annexue1" />
                </div>
                <div class="col-md-4 mb-3">
                     <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_IC_Annexue2" />
                </div>
                <div class="col-md-4 mb-3" id="localdrp">
                   <label for="Reference">Local or Outstation : </label>
                   @Html.DropDownListFor(model => model.LocalOutstation,new SelectList(IBS.Models.Common.RejectionType(), "Value", "Text"),new { @class = "form-control" ,@id="LocalOutstationdrp"})
                </div>
                 <div class="col-md-4 mb-3" id="rejvalue">
                        <label for="Reference">Rejection Charges (Exclusive of Taxes) : </label>
                        <input type="text" asp-for="RejectionCharge" id="RejectionCharge" maxlength="100">
                 </div>
                <div class="col-md-4 mb-3">
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active" onclick="UploadFiles();">Upload Files</button>
                        <button type="button" class="save-btn active" id="AcceptReject" onclick="Accepted();">Accepted</button>
                    </div>
                </div>
            </div>
            </div>
          </form>
    </div>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {

            $('#accepteddrp').hide();
            $('#CallCancelChargesdrp').hide();
            $('#MatCanvalue').hide();
            $('#ReasonFIFOdv').hide();
            $('#accepteuploadddrp').hide();
            $('#bkset').hide();
            $('#LocalOutstationdrp').hide();
            $('#localdrp').hide();
            $('#rejvalue').hide();

            $('#consigneeFirmDropdown').change(function () {
                debugger
                var selectedValue = $('#consigneeFirmDropdown').val();
                var CaseNo = $('#CaseNo').val();
                var CallSno = $('#CallSno').val();
                var DesireDt = $('#callRecdt').val();
                $('#MatCanvalue').hide();


                $.ajax({
                    url: '/CallRegisterIB/GetBkNoAndSetNo',
                    type: 'GET',
                    data: { selectedConsigneeCd: selectedValue, CaseNo: CaseNo, CallSno: CallSno,DesireDt:DesireDt },
                    success: function (data) {
                        $('#BkNo').val(data.BkNo);
                        $('#SetNo').val(data.SetNo);
                    },
                    error: function () {
                        alert('Error occurred while retrieving BkNo and SetNo.');
                    }
                });
            });

            $('#CallStatusdrp').change(function () {
                $('#MatCanvalue').hide();

                var selectedValue = $('#CallStatusdrp').val();
                var CaseNo = $('#CaseNo').val();
                var CallSno = $('#CallSno').val();
                var DesireDt = $('#callRecdt').val();

                if(selectedValue == "A"){
                    $('#accepteddrp').show();
                    $('#savedetails').hide();
                    $('#bkset').hide();
                    $('#CallCancelStatusdrp').hide();
                    $('#accepteuploadddrp').show();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                }else if(selectedValue == "W"){
                    $('#accepteddrp').hide();
                } else if (selectedValue == "R") {
                    $('#MatValue').show();
                    $('#accepteddrp').show();
                    $('#localdrp').show();
                    $('#rejvalue').show();
                    $('#accepteuploadddrp').show();
                    $('#ReasonFIFOdv').show();
                    $('#AcceptReject').text('Rejected');
                } else if (selectedValue == "G") {
                    $('#accepteuploadddrp').show();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').hide();
                    $('#ReasonFIFOdv').show();
                    $('#bkset').show();
                    $('#CallCancelStatusdrp').hide();
                }else if (selectedValue == "T") {
                    $('#accepteuploadddrp').show();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').hide();
                    $('#bkset').show();
                    $('#ReasonFIFOdv').show();
                    $('#CallCancelStatusdrp').hide();
                } else if (selectedValue == "S") {
                    $('#accepteuploadddrp').hide();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').hide();
                    $('#bkset').hide();
                    $('#ReasonFIFOdv').show();
                    $('#CallCancelStatusdrp').hide();
                }else if (selectedValue == "U") {
                    $('#accepteuploadddrp').hide();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').hide();
                    $('#bkset').hide();
                    $('#ReasonFIFOdv').show();
                    $('#CallCancelStatusdrp').hide();
                }else if (selectedValue == "W") {
                    $('#accepteuploadddrp').hide();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').hide();
                    $('#bkset').hide();
                    $('#ReasonFIFOdv').show();
                    $('#CallCancelStatusdrp').hide();
                }

                $.ajax({
                    url: '/CallRegisterIB/GetRlyDrp',
                    type: 'GET',
                    data: { selectedValue: selectedValue, CaseNo: CaseNo, CallSno: CallSno, DesireDt: DesireDt },
                    success: function (data) {
                        debugger
                        if(data.ChkFIFO == "true"){
                            $('#ReasonFIFOdv').show();
                        } else if (data.ChkFIFO == "false"){
                            $('#ReasonFIFOdv').hide();
                        }
                    },
                    error: function () {
                        alert('Error occurred while retrieving BkNo and SetNo.');
                    }
                });
            });

            $('#LocalOutstationdrp').change(function () {
                var selectedValue = $('#LocalOutstationdrp').val();
                var CaseNo = $('#CaseNo').val();
                var CallSno = $('#CallSno').val();
                var DesireDt = $('#callRecdt').val();
                $.ajax({
                    url: '/CallRegisterIB/LocalOutstation',
                    type: 'GET',
                    data: { selectedValue: selectedValue, CaseNo: CaseNo, CallSno: CallSno, DesireDt: DesireDt },
                    success: function (data) {
                        $('#MatValue').val(data.MaterialValue);
                        $('#RejectionCharge').val(data.RejectionCharge);
                    },
                    error: function () {
                        alert('Error occurred while retrieving BkNo and SetNo.');
                    }
                });
            });

            $('#CallCancelStatusdrp').change(function () {
                $('#MatCanvalue').hide();
                var selectedValue1 = $('#CallCancelStatusdrp').val();
                var selectedValue = $('#CallStatusdrp').val();
                var CaseNo = $('#CaseNo').val();
                var CallSno = $('#CallSno').val();
                var DesireDt = $('#callRecdt').val();

                debugger
                if (selectedValue1 == "C") {
                    $('#CallCancelChargesdrp').show();
                } else if (selectedValue1 == "N") {
                    $('#CallCancelChargesdrp').hide();
                }

                $.ajax({
                    url: '/CallRegisterIB/GetRlyDrp',
                    type: 'GET',
                    data: { selectedValue: selectedValue, CaseNo: CaseNo, CallSno: CallSno, DesireDt: DesireDt },
                    success: function (data) {
                        debugger
                        if (data.ChkFIFO == "true") {
                            $('#ReasonFIFOdv').show();
                        } else if (data.ChkFIFO == "false") {
                            $('#ReasonFIFOdv').hide();
                        }
                        var callRlyFirmList = data.CallRlyFirmList;
                        for (var i = 0; i < callRlyFirmList.length; i++) {
                            $('#CallCancelChargesdrp').append($('<option>', {
                                value: callRlyFirmList[i].Value,
                                text: callRlyFirmList[i].Text
                            }));
                        }
                    },
                    error: function () {
                        alert('Error occurred while retrieving BkNo and SetNo.');
                    }
                });
            });

            $('#CallCancelChargesdrp').change(function () {
                var selectedValue = $('#CallCancelChargesdrp').val();
                var CaseNo = $('#CaseNo').val();
                var CallSno = $('#CallSno').val();
                var DesireDt = $('#callRecdt').val();
                $.ajax({
                    url: '/CallRegisterIB/CancelChargeByStatus',
                    type: 'GET',
                    data: { selectedValue: selectedValue, CaseNo: CaseNo, CallSno: CallSno, DesireDt: DesireDt },
                    success: function (data) {
                        $('#MatCanvalue').show();
                        $('#MatValue').val(data.MaterialValue);
                        $('#CanCharges').val(data.CallCancelCharges);
                    },
                    error: function () {
                        alert('Error occurred while retrieving BkNo and SetNo.');
                    }
                });
               
            });
        });

        function UploadFiles(){
            SaveSingleDocuments("tab-2");
            if ($("#ActionType").val() == "C") {
                $("#frmCallStatusAcceptupload").submit();
            }
            else {
                if ($("#frmCallStatusAcceptupload").valid()) {
                    $("#frmCallStatusAcceptupload").submit();
                }
            }
        }
        function Accepted() {
            if ($("#ActionType").val() == "C") {
                $("#frmCallStatusAcceptupload").submit();
            }
            else {
                if ($("#frmCallStatusAcceptupload").valid()) {
                    $("#frmCallStatusAcceptupload").submit();
                }
            }
        }

        function Save() {
            if ($("#ActionType").val() == "C") {
                $("#frmCallStatus").submit();
            }
            else {
                if ($("#frmCallStatus").valid()) {
                    $("#frmCallStatus").submit();
                }
            }
        }

        function SaveImages() {
            SaveSingleDocuments("tab-1");
            if ($("#ActionType").val() == "C") {
                $("#frmCallStatusAccept").submit();
            }
            else {
                if ($("#frmCallStatusAccept").valid()) {
                    $("#frmCallStatusAccept").submit();
                }
            }
        }

    </script>
}