@model IBS.Models.VendrorCallDetailsModel
@{
    ViewData["Title"] = "Call Details";
}

<form role="form" asp-controller="CallRegisterIB" asp-action="CallDetails" id="frmDetails">
    <div class="list-inner">
        <div class="tast-list">
            <h2>Call Details</h2>
        </div>
        <input type="hidden" id="hdnQtyToInsp" asp-for="QtyToInsp" />
        <input type="hidden" asp-for="CaseNo" />
        <input type="hidden" asp-for="CallRecvDt" />
        <input type="hidden" asp-for="CallSno" />
        <input type="hidden" asp-for="PoNo" />
        <input type="hidden" asp-for="PoDt" />
        <input type="hidden" asp-for="IESName" />
    </div>
        <div class="alert alert-warning center">
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <label for="Reference">Case No : @Model.CaseNo</b></label>
                    <b><span id="lblCaseNo" style="text-transform: uppercase; color:red;"></span></b>
                    <label style="text-transform: uppercase; color:red;"><b>@Model.CaseNo</b></label>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Call Date - SNo : </label>
                    <label style="text-transform: uppercase; color:red;"><b>@Convert.ToDateTime(@Model.CallRecvDt).ToString("dd/MM/yyyy") - @Model.CallSno </b></label>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">PO No & Date : </label>
                    <label style="text-transform: uppercase; color:red;"><b> @Model.PoNo - @Convert.ToDateTime(@Model.PoDt).ToString("dd/MM/yyyy")  </b></label>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">IE : </label>
                    <label style="text-transform: uppercase; color:red;"><b>@Model.IESName</b></label>
                </div>
            </div>
        </div>

    @*<div class="accordion-body">
    <table>
    <tr>
    <td style="width: 15%; height: 16px" bgcolor="#ffffcc">Case No:</td>
    <td style="width: 40%; height: 16px" bgcolor="#ffffcc">
    <label id="lblCaseNo" style="text-transform: uppercase; color:red;"></label>
    </td>
    <td style="width: 15%; height: 16px" bgcolor="#ffffcc">Call Date - SNo:</td>
    <td style="width: 20%; height: 16px" bgcolor="#ffffcc">
    <label id="lblCallRecvDt" style="text-transform: uppercase; color:red;"></label>
    <span> - </span>
    <label id="lblCallSNo" style="text-transform: uppercase; color:red;"></label>
    </td>
    </tr>
    <tr>
    <td style="width: 15%; height: 16px" bgcolor="#ffffcc">PO No & Date:</td>
    <td style="width: 40%; height: 16px" bgcolor="#ffffcc">
    <label id="lblPoNo" style="text-transform: uppercase; color:red;"></label>
    <span> & </span>
    <label id="lblPoDt" style="text-transform: uppercase; color:red;"></label>
    </td>
    <td style="width: 15%; height: 16px" bgcolor="#ffffcc">IE:</td>
    <td style="width: 20%; height: 16px" bgcolor="#ffffcc">
    <label id="lblIE_SName" style="text-transform: uppercase; color:red;"></label>
    </td>
    </tr>
    </table>
    </div>*@
    <div class="accordion-body">
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Item SNo.</label>
                    @*<input type="text" class="input" asp-for="ItemSrNoPo" maxlength="100" style="text-transform: uppercase;">*@
                    <label style="text-transform: uppercase; color:red;"><b>@Model.ItemSrNoPo</b></label>
                    <span asp-validation-for="ItemSrNoPo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Qty Ordered</label>
                    <input type="text" class="input" asp-for="QtyOrdered" maxlength="100" style="text-transform: uppercase;">
                    <span asp-validation-for="QtyOrdered" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Cumm. Qty off Prev</label>
                    <input type="text" class="input" asp-for="CumQtyPrevOffered" maxlength="100" style="text-transform: uppercase;">
                    <span asp-validation-for="CumQtyPrevOffered" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Qty Prev Passed</label>
                    <input type="text" class="input" asp-for="CumQtyPrevPassed" maxlength="100" style="text-transform: uppercase;">
                    <span asp-validation-for="CumQtyPrevPassed" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">Qty Offered Now</label>
                    <input type="text" class="input" asp-for="QtyToInsp" maxlength="100" style="text-transform: uppercase;">
                    <span asp-validation-for="QtyToInsp" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-12 mb-3">
                <div class="reference">
                    <label for="Reference">Item Desc</label>
                    <textarea rows="4" asp-for="ItemDescPo" style="color:orangered" style="text-transform: uppercase;"></textarea>
                    <span asp-validation-for="ItemDescPo" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-md-6 mb-3">
                <div class="savenext-btn">
                    <a asp-controller="CallRegister" asp-action="Index" class="reset-btn">Cancel</a>
                    <button type="button" class="save-btn active" id="btnSave">Save</button>
                    <button type="button" class="save-btn" id="btnDelete" onclick="CallDetailsDelete();">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="alert alert-warning center">
            ITEMS MARKED/AVAILABLE FOR INSPECTION
        </div>

    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtList" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Item Desc</th>
                            <th>Consignee</th>
                            <th>Qty. Ord</th>
                            <th>Cumm Qty off Prev</th>
                            <th>Qty Prev Passed</th>
                            <th>Qty Offered Now</th>
                            <th>Qty Passed</th>
                            <th>Qty Rejected</th>
                            <th>Qty Due</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</form>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {

            $("#lblCaseNo").text($("#CaseNo").val());
            $("#lblCallRecvDt").text($("#CallRecvDt").val());
            $("#lblCallSNo").text($("#CallSno").val());
            $("#lblPoNo").text($("#PoNo").val());
            $("#lblPoDt").text($("#PoDt").val());
            $("#lblIE_SName").text($("#IESName").val());



            $('#QtyToInsp').on('input', function () {
                var QtyToInsp = parseFloat($(this).val());
                var hdnQtyToInsp = $("#hdnQtyToInsp").val();

                if (QtyToInsp < hdnQtyToInsp) {
                    alert("Qty To Inspected Cannot Be Decreased!!!");
                    $("#QtyToInsp").val(hdnQtyToInsp);
                }
            });

            const urlParams = new URLSearchParams(window.location.search);
            var cstatus = urlParams.get('cstatus');
            if (cstatus == "N") {
                $("#btnSave").hide();
                $("#btnDelete").hide();

            }
            else {
                $("#btnSave").show();
                $("#btnDelete").show();
            }

        });

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {
            var CaseNo = $("#CaseNo").val();
            var CallSNo = $("#CallSno").val();

            var getDt = moment('@Model.CallRecvDt', "DD/MM/YYYY");
            var setDt = getDt.toDate();
            var CallRecvDt = moment(setDt).format("DD/MM/YYYY");

            const urlParams = new URLSearchParams(window.location.search);
            var cstatus = urlParams.get('cstatus');

            $("#dtList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: '@Url.Action("LoadTableCallDetails", "CallRegisterIB")',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "CaseNo": CaseNo,
                            "CallRecvDt": CallRecvDt,
                            "CallSNo": CallSNo
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    //{
                    //    data: '', orderable: false, width: '5%',
                    //    render: function (data, type, row, meta) {
                    //        return meta.row + meta.settings._iDisplayStart + 1;
                    //    }
                    //},
                    { data: "ItemSrNoPo" },
                    { data: "Status" },
                    { data: "ItemDescPo" },
                    { data: "Consignee" },
                    { data: "QtyOrdered" },
                    { data: "CumQtyPrevOffered" },
                    { data: "CumQtyPrevPassed" },
                    { data: "QtyToInsp" },
                    { data: "QtyPassed" },
                    { data: "QtyRejected" },
                    { data: "QtyDue" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {

                            var editUrl = '@Url.Action("CallDetails", "CallRegisterIB")?CaseNo=' + CaseNo + "&_CallRecvDt=" + CallRecvDt + "&CallSno=" + CallSNo + "&ItemSrNoPo=" + data.ItemSrNoPo + "&cstatus=" + cstatus + "&status=" + data.Status;
                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },

                ],
                "order": [[1, "asc"]]
            });
        }

        $("#btnSave").click(function () {
            if ($("#frmDetails").valid()) {
                debugger
                var qord = parseInt($("#QtyOrdered").val());
                var ppass = parseInt($("#CumQtyPrevPassed").val());
                var qoff = parseInt($("#QtyToInsp").val());

                if (!isNaN(qord) && !isNaN(ppass) && !isNaN(qoff)) {
                    if ((qord - ppass) < qoff) {
                        alert("QUANTITY OFFERED SHOULD NOT BE GREATER THAN (QUANTITY ORDERED - QUANTITY PREVIOUSLY PASSED)");
                        event.preventDefault();
                        return;
                    }
                }
                if (!isNaN(qord) && !isNaN(qoff)) {
                    if (qord < qoff) {
                        alert("QUANTITY OFFERED SHOULD NOT BE GREATER THAN QUANTITY ORDERED");
                        event.preventDefault();
                        return;
                    }
                }

                var formData = new FormData($("#frmDetails")[0]);
                debugger
                $.ajax({
                    url: '@Url.Action("CallDetailsSave", "CallRegisterIB")',
                    type: "POST",
                    dataType: "JSON",
                    //data: details,
                    data: formData,
                    processData: false, // Prevent jQuery from converting the data to a string
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            if (response.Status == "1") {
                                alert("Their are Other Calls Present For this Case No. and Item. So,Total Qty Offered in all the Calls  is Exceeding Qty Ordered in PO for the Given Case No.!!!");
                            }
                            else if (response.Status == "2") {
                                alert("Total Qty To Inspected in the previous Calls  is already Exceeding Qty Ordered in PO for the Given Case No.!!!");
                            }
                            else {
                                var msg = "Record Update Successfully.";
                                var d = confirm(msg);
                                if (d === true) {
                                    window.location.href = '@Url.Action("Index", "CallRegisterIB")';
                                }
                            }
                        }
                    }
                });
            }
        });

        function CallDetailsDelete() {
            if ($("#frmDetails").valid()) {
                $("#frmDetails").submit();
            }
        }

        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            //window.location.href = "/CallRegister";
            window.location.href = '@Url.Action("Index", "CallRegister")';
        };
    </script>
    }