@model IBS.Models.VenderCallStatusModel

@{
    ViewData["Title"] = "Call Status Update form";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Call Status Update form</h2>
    </div>
</div>
<style>
    .disabled-button {
        cursor: not-allowed; /* Change cursor to not-allowed */
        opacity: 0.6; /* Reduce opacity for a disabled look */
    }
</style>
<div class="task-listinput">
    <form role="form" asp-controller="CallRegisterIB" asp-action="CallStatus" id="frmCallStatus">
        <input type="hidden" asp-for="ActionType" />
        <input type="hidden" asp-for="IeCd" />
        <div class="accordion-body" style="overflow-x: auto;">
            <table>
                @*<col style="width: 20%;" />
                <col style="width: 80%;" />*@
                <tr>
                    <td>
                        <label for="Reference">Vendor : </label>
                    </td>

                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Model.VendName</span>
                        <input type="text" class="input" asp-for="VendName" maxlength="100" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Purchaser : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Model.Consignee</span>
                        <input type="text" class="input" asp-for="Consignee" maxlength="100" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Item : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Model.ItemDescPo</span>
                        <textarea rows="4" asp-for="ItemDescPo" style="color:red;text-transform: uppercase; display:none;" readonly="readonly"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Call Date : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Convert.ToDateTime(@Model.CallRecvDt).ToString("dd/MM/yyyy")</span>
                        <input type="text" class="input" asp-for="CallRecvDt" maxlength="30" style="color:red;text-transform: uppercase; display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Inpection Desire Date : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Convert.ToDateTime(@Model.DesireDt).ToString("dd/MM/yyyy")</span>
                        <input type="text" class="input" asp-for="DesireDt" maxlength="30" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Engineer Name : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Model.IeName</span>
                        <input type="text" class="input" asp-for="IeName" maxlength="100" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Engineer Contact No. : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Model.IePhoneNo</span>
                        <input type="text" class="input" asp-for="IePhoneNo" maxlength="12" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">PO No. : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Model.PoNo</span>
                        <input type="text" class="input" asp-for="PoNo" maxlength="50" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">PO Date : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Convert.ToDateTime(@Model.PoDt).ToString("dd/MM/yyyy")</span>
                        <input type="text" class="input" asp-for="PoDt" maxlength="30" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Case No. : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Model.CaseNo</span>
                        <input type="text" class="input" id="caseno" asp-for="CaseNo" maxlength="30" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Contact Person : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Model.MfgPers</span>
                        <input type="text" class="input" asp-for="MfgPers" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Contact Person Tel No. : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Model.MfgPhone</span>
                        <input type="text" class="input" asp-for="MfgPhone" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Call Serial No. : </label>
                    </td>
                    <td colspan="4">
                        <span style="color:red;text-transform: uppercase;">@Model.CallSno</span>
                        <input type="text" class="input" id="callsnos" asp-for="CallSno" style="color:red;text-transform: uppercase;display:none;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    @{
                        var URLICInter = "/CallRegisterIB/CallStatus?CaseNo=" + Model.CaseNo + "&CallRecvDt=" + Convert.ToDateTime(Model.CallRecvDt).ToString("yyyy-mm-dd") + "&CallSno=" + Model.CallSno + "&IeCd=" + Model.IeCd + "&ActionType=" + Model.ActionType;
                        <td class="center" colspan="5">
                            @*<label style="display:none;" id="linkICPhoto"><a href="@URLICInter">IC Photo Upload</a></label>
                        <label style="display:none;" id="linkICPhotoAR"><a href="@URLICInter">IC Photo Upload Only for Accepted and Rejected!</a></label>
                        <br>*@
                            <label class="text-danger">Upload the Photos first in case of Accepted or Rejection, before changing the Call Status.</label>
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Case Status : </label>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CallStatus, new SelectList(IBS.Models.Common.CallStatus(), "Value", "Text"), "--Select--", new { @id = "CallStatusdrp" })
                        <input type="hidden" asp-for="CallStatus1" />
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CallCancelStatus, new SelectList(IBS.Models.Common.CallCancelStatus(), "Value", "Text"), "--Select--", new { @id = "CallCancelStatusdrp" })
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CallListByRly, new SelectList(Model.CallRlyFirmList, "Value", "Text"), "--Select--", new { @id = "CallCancelChargesdrp" })
                    </td>
                </tr>
                <tr id="ReasonFIFOdv">
                    <td>
                        <label for="Reference">Reason For Voilating FIFO : </label>
                    </td>
                    <td colspan="4">
                        <textarea rows="4" asp-for="ReasonFIFO" style="color:red;text-transform: uppercase;" id="ReasonFIFO"></textarea>
                    </td>
                </tr>
                <tr id="MatCanvalue">
                    <td>
                        <label for="Reference">Material Vlaue: </label>
                    </td>
                    <td>
                        <input type="text" class="input" id="MatValue" asp-for="MaterialValue" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                    <td>
                        <label for="Reference">Cancellation Charge: </label>
                    </td>
                    <td>
                        <input type="text" class="input" id="CanCharges" asp-for="CallCancelCharges" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr id="bkset">
                    <td>
                        <label for="Reference">BK & Set No : </label>
                    </td>
                    <td>
                        <input type="text" class="input" id="BkNo" asp-for="BkNo" maxlength="4" style="color:red;text-transform: uppercase;">
                    </td>
                    <td>
                        <input type="text" class="input" id="SetNo" asp-for="SetNo" maxlength="3" style="color:red;text-transform: uppercase;">
                    </td>
                </tr>
                @if (Model.ActionType != "C")
                {
                    <tr>
                        <td>
                            <label for="Reference">Allow Updation of Call(Y/N) : </label>
                        </td>
                        <td colspan="4">
                            @Html.DropDownListFor(model => model.UpdateAllowed, new SelectList(IBS.Models.Common.OnlineCallStatus(), "Value", "Text"), "--Select--")
                        </td>
                    </tr>
                }
                @if (Model.ActionType == "C")
                {
                    <tr>
                        <td>
                            <label for="Reference">Case Status Date : </label>
                        </td>
                        <td>
                            <input type="text" class="input" id="calldtstatus" asp-for="CallStatusDt" style="color:red;text-transform: uppercase;" readonly="readonly" placeholder="DD/MM/YYYY">
                        </td>
                        <td colspan="2">
                            <span style="color:red;">(Current Date Will be the Case Status Date i.e Date of Cancellation/Acceptance..etc)</span>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div id="accepteddrp">
            <div id="tab-1" class="task-listinput">
                <form role="form" asp-controller="CallRegisterIB" asp-action="CallStatusFiles" id="frmCallStatusAccept">
                    <input type="hidden" asp-for="ActionType" />
                    <input type="hidden" asp-for="CaseNo" />
                    <input type="hidden" asp-for="CallRecvDt" />
                    <input type="hidden" asp-for="CallSno" />
                    <input type="hidden" asp-for="CallStatus" />
                    <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />

                    <div class="accordion-body" style="overflow-x: auto;">
                        <div class="row my-0">
                            <div class="col-md-4 mb-3">
                                <label for="Reference">Consignee : </label>
                                @Html.DropDownList("consigneeFirmDropdown", new SelectList(Model.ConsigneeFirmList, "Value", "Text"), new { @id = "consigneeFirmDropdown" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Reference">Book No : </label>
                                <input type="text" id="bknoaccpted" maxlength="4">
                                <span asp-validation-for="DocBkNo" class="text-danger"></span>

                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Reference">Set No : </label>
                                <input type="text" id="setnoaccpted" maxlength="3">
                                <span asp-validation-for="DocSetNo" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row my-0 ">
                            <div class="col-md-12 mb-3">
                                <label class="text-danger"><span style="color:red;"><b>Browse the Images to Upload (* Select Atleast 5 Images)</b></span></label>
                            </div>
                        </div>
                        <div class="row my-0">

                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" id="Img1" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload1" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" id="Img2" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload2" />
                            </div>

                        </div>
                        <div class="row my-0">
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" id="Img3" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload3" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload4" />
                            </div>
                        </div>

                        <div class="row my-0">

                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload5" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload6" />
                            </div>
                        </div>
                        <div class="row my-0">
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload7" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload8" />
                            </div>
                        </div>
                        <div class="row my-0">
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload9" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload10" />
                            </div>
                        </div>
                        <div class="row my-0">
                            <div class="col-md-4 mb-3">
                                <div class="savenext-btn" style="margin-top:30px;">
                                    <button type="button" class="save-btn active" id="savefiles" onclick="SaveImages();">Save Files</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="accepteuploadddrp">
            <div id="tab-2" class="task-listinput">
                <form role="form" asp-controller="CallRegisterIB" asp-action="CallStatusUpload" id="frmCallStatusAcceptupload">
                    <input type="hidden" asp-for="ActionType" />
                    <input type="hidden" asp-for="CaseNo" />
                    <input type="hidden" asp-for="BkNo" />
                    <input type="hidden" asp-for="SetNo" />
                    <input type="hidden" asp-for="CallRecvDt" />
                    <input type="hidden" asp-for="CallSno" />
                    <input type="hidden" asp-for="CallStatus" />
                    <input type="hidden" asp-for="ConsigneeFirm" />
                    <input type="hidden" asp-for="ReasonFIFO" />
                    <input type="hidden" asp-for="MaterialValue" />
                    <input type="hidden" asp-for="CallCancelCharges" />
                    <input type="hidden" asp-for="CallStatusDt" />
                    <input type="hidden" asp-for="Remarkslbl" id="Remarkslbl" />
                    <input type="hidden" name="hdnUploadedDocumentList_tab-2" id="hdnUploadedDocumentList_tab-2" value="" />
                    <div class="accordion-body" style="overflow-x: auto;">
                        <div class="row my-0">
                            <div class="col-md-4 mb-3" id="Remarksval">
                                <label for="Reference">Remarks : </label>
                                <input asp-for="Remarks" style="color:red;text-transform: uppercase;" id="Remarks">
                            </div>
                            <div class="col-md-4 mb-3" id="Holograms">
                                <label for="Reference">Holograms : </label>
                                <input asp-for="Hologram" style="color:red;text-transform: uppercase;" id="hologram">
                            </div>
                        </div>
                        <div class="row my-0 ">
                            <div class="col-md-12 mb-3">
                                <label class="text-danger"><span style="color:red;"><b>Browse the Pdf to Upload</b></span></label>
                            </div>
                        </div>
                        <div class="row my-0 ">
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.ICPhoto_Dig_Sign" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_Test_Plan" />
                            </div>
                        </div>
                        <div class="row my-0">
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_IC_Annexue1" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_IC_Annexue2" />
                            </div>
                            <div class="col-md-4 mb-3" id="localdrp">
                                <label for="Reference">Local or Outstation : </label>
                                @Html.DropDownList("LocalOutstationdrp", new SelectList(IBS.Models.Common.RejectionType(), "Value", "Text"), new { @id = "LocalOutstationdrp" })
                            </div>
                            <div class="col-md-4 mb-3" id="rejvalue">
                                <label for="Reference">Rejection Charges (Exclusive of Taxes) : </label>
                                <input type="text" asp-for="RejectionCharge" maxlength="100">
                            </div>
                            <div class="col-md-5 mb-4" style="margin-top:30px;">
                                <div class="savenext-btn">
                                    <button type="button" class="save-btn active" id="uploadfile" onclick="UploadFiles();">Upload Files</button>
                                </div>
                            </div>
                            <p style="color:red;"><b>Refresh All : * It will delete all the records which are not accepted or rejected!</b></p>
                            <p style="color:red;"><b>* Click on Accepted/Rejected Button after the Files are uploaded for all the Consignee's</b></p>
                        </div>
                        <div class="row my-0">
                            <div class="col-md-12 mb-5" style="align-content:center;">
                                <div class="savenext-btn">
                                    <button type="button" class="save-btn active" id="AcceptReject" onclick="Accepted();">Accepted</button>
                                    <button type="button" class="save-btn active" id="RefreshAll" onclick="RefreshAll();">Refresh All</button>
                                    <button type="button" class="save-btn active" onclick="RedirectViewPrintIC();" id="ViewPrintIC">View Print/IC</button>
                                    <a asp-controller="CallRegisterIB" asp-action="Index" id="uploadcancel" class="reset-btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="accordion-body" style="overflow-x: auto;" id="frmcancelled">
            <div id="tab-3" class="task-listinput">
                <form role="form" asp-controller="CallRegisterIB" asp-action="SaveCancellation" id="frmCancellation">
                    <input type="hidden" asp-for="ActionType" />
                    <input type="hidden" asp-for="CaseNo" />
                    <input type="hidden" asp-for="BkNo" />
                    <input type="hidden" asp-for="SetNo" />
                    <input type="hidden" asp-for="CallRecvDt" />
                    <input type="hidden" asp-for="CallSno" />
                    <input type="hidden" asp-for="CallStatus" />
                    <input type="hidden" asp-for="ConsigneeFirm" />
                    <input type="hidden" asp-for="ReasonFIFO" />
                    <input type="hidden" asp-for="RejectionCharge" />
                    <input type="hidden" asp-for="MaterialValue" />
                    <input type="hidden" asp-for="CallCancelCharges" />
                    <input type="hidden" asp-for="CallStatusDt" />
                    <input type="hidden" asp-for="ItemSrnoPo" />
                    <input type="hidden" name="hdnUploadedDocumentList_tab-3" id="hdnUploadedDocumentList_tab-3" value="" />
                    <div class="row my-0">
                        <div class="alert alert-warning center">
                            <span id="Label8">
                                <b style="color:red;">Attention IE's - Please Select the reasons for cancellation carefully. The reason of cancellation should be same to what is being entered on Call Cancellation Form. There should not be any difference in both the cases, If difference is found that will be viewed seriously.</b>
                            </span>
                        </div>
                        <div class="col-md-10 mb-10">
                            <div class="reference">
                                <label>Reasons For Cancellation:-</label>
                                <div class="custom-control custom-checkbox">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[0]" class="custom" />

                                        <label for="chk_1">01 - Material Not Found</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[1]" class="custom" />

                                        <label for="chk_2">02 - Call letter recieved after expiry of delivery period</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[2]" class="custom" />
                                        <label for="chk_3">03 - your call letter was not in prescribed format</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[3]" class="custom" />
                                        <label for="chk_4">04 - Your refusal to undertake test on samples in approved independent test houses or RITES Lab at your cost (Whichever applicable)</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[4]" class="custom" />
                                        <label for="chk_5">05 - Material offered at premises where adequate room or lighting etc. not available for proper sampling or inspection.</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[5]" class="custom" />
                                        <label for="chk_6">06 - Internal inspection and test records incomplete / not as per contractual requirement.</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[6]" class="custom" />
                                        <label for="chk_7">07 - Packing list showing quantities offered item wise and consignee wise not read (Whichever applicable)</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[7]" class="custom" />
                                        <label for="chk_8">08 - Lot mixed not segregated. Please re-offer after proper segregation.</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[8]" class="custom" />
                                        <label for="chk_9">09 - You could not arrange for inspection in spite of personal contact / phone with your Shri.</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[9]" class="custom" />
                                        <label for="chk_10">10 - You could not produce following documents drg, / spec. / P.O.: at the time of inspection in absence of which inspection could not be done.</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[10]" class="custom" />

                                        <label for="chk_11">11 - Call Withdrawn By Vendor</label>
                                    </label>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="chkItems[11]" class="custom" />
                                        <label for="chk_12">12 - Others (Specify)</label>
                                    </label>
                                    <div class="col-md-4 mb-3">
                                        <label for="Reference">Cancellation Description:-</label>
                                        <textarea rows="4" asp-for="CancellationDescription" id="Candesc" style="color:red;text-transform: uppercase;"></textarea>
                                        <span asp-validation-for="CancellationDescription" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Cancellation_Document" />
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="savenext-btn">
                                        <button type="button" class="save-btn active" id="canlsave" onclick="SaveCancellation();">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="savenext-btn" id="savedetails">
            <button type="button" class="save-btn active" onclick="Save();">Save</button>
            <a asp-controller="CallRegisterIB" asp-action="Index" class="reset-btn">Cancel</a>
        </div>
    </form>

</div>



@section scripts {
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {

            //var bknoaccpted = $('#bknoaccpted').val();
            //var setnoaccpted = $('#setnoaccpted').val();
            //if (bknoaccpted != "" || setnoaccpted!= ""){

            //}else{

            //}
            $('#ViewPrintIC').prop('disabled', true);
            $("#ViewPrintIC").css("cursor", "auto");
            $('#accepteddrp').hide();
            $('#CallCancelChargesdrp').hide();
            $('#MatCanvalue').hide();
            $('#ReasonFIFOdv').hide();
            $('#accepteuploadddrp').hide();
            $('#bkset').hide();
            $('#LocalOutstationdrp').hide();
            $('#localdrp').hide();
            $('#rejvalue').hide();
            $('#Remarksval').hide();
            $('#Holograms').hide();

            $("#CallStatus1").val("@Model.CallStatus");


            $('#consigneeFirmDropdown').change(function () {
                var selectedValue = $('#consigneeFirmDropdown').val();
                var CaseNo = $('#CaseNo').val();
                var CallSno = $('#CallSno').val();
                var DesireDt = $('#CallRecvDt').val();
                $('#MatCanvalue').hide();
                $.ajax({
                    url: '@Url.Action("GetBkNoAndSetNo", "CallRegisterIB")',
                    type: 'GET',
                    data: { selectedConsigneeCd: selectedValue, CaseNo: CaseNo, CallSno: CallSno, DesireDt: DesireDt },
                    success: function (data) {
                        if (selectedValue == data.Consignee) {
                            $('#bknoaccpted').val(data.DocBkNo);
                            $('#setnoaccpted').val(data.DocSetNo);
                            if ($('#bknoaccpted').val() != "" && $('#setnoaccpted').val() != "") {
                                $('#ViewPrintIC').prop('disabled', false);
                                $("#ViewPrintIC").css("cursor", "pointer");
                            }
                        }
                        else {
                            $('#bknoaccpted').val("");
                            $('#setnoaccpted').val("");
                            $('#ViewPrintIC').prop('disabled', true);
                            $("#ViewPrintIC").css("cursor", "auto");
                        }
                    },
                    error: function () {
                        alert('Error occurred while retrieving BkNo and SetNo.');
                    }
                });
            });

            $('#CallStatusdrp').change(function () {
                $('#MatCanvalue').hide();

                var selectedValue = $('#CallStatusdrp').val();
                var CaseNo = $('#CaseNo').val();
                var CallSno = $('#CallSno').val();
                var DesireDt = $('#CallRecvDt').val();

                if (selectedValue == "A") {
                    $('#accepteddrp').show();
                    $('#savedetails').hide();
                    $('#bkset').hide();
                    $('#CallCancelStatusdrp').hide();
                    $('#accepteuploadddrp').show();
                    $('#localdrp').hide();
                    $('#AcceptReject').text('Accepted');
                    $('#rejvalue').hide();
                    $('#Remarksval').hide();
                    $('#AcceptReject').show();
                    $('#Holograms').hide();
                    $('#frmcancelled').hide();
                    $('#uploadfile').show();
                    $('#RefreshAll').show();
                    $('#ViewPrintIC').show();
                    $('#uploadcancel').show();
                    $('#consigneeFirmDropdown').trigger('change');
                } else if (selectedValue == "R") {
                    $('#MatValue').show();
                    $('#accepteddrp').show();
                    $('#localdrp').show();
                    $('#rejvalue').show();
                    $('#savedetails').hide();
                    $('#accepteuploadddrp').show();
                    $('#ReasonFIFOdv').show();
                    $('#AcceptReject').show();
                    $('#AcceptReject').text('Rejected');
                    $('#frmcancelled').hide();
                    $('#Remarksval').hide();
                    $('#Holograms').hide();
                    $('#LocalOutstationdrp').show();
                    $('#uploadfile').show();
                    $('#RefreshAll').show();
                    $('#ViewPrintIC').show();
                    $('#uploadcancel').show();
                    $('#consigneeFirmDropdown').trigger('change');
                } else if (selectedValue == "G") {
                    // $('#accepteuploadddrp').show();
                    // $('#localdrp').hide();
                    // $('#rejvalue').hide();
                    // $('#accepteddrp').hide();
                    // $('#savedetails').show();
                    // $('#ReasonFIFOdv').show();
                    // $('#bkset').show();
                    // $('#Remarksval').hide();
                    // $('#Holograms').hide();
                    // $('#CallCancelStatusdrp').hide();
                    // $('#frmcancelled').hide();
                    // $('#AcceptReject').hide();
                    // $('#uploadfile').hide();
                    // $('#RefreshAll').hide();
                    // $('#ViewPrintIC').hide();
                    // $('#uploadcancel').hide();
                    $('#accepteddrp').show();
                    $('#savedetails').show();
                    $('#bkset').hide();
                    $('#CallCancelStatusdrp').hide();
                    $('#accepteuploadddrp').show();
                    $('#localdrp').hide();
                    $('#AcceptReject').show();
                    $('#rejvalue').hide();
                    $('#Remarksval').hide();
                    $('#Holograms').hide();
                    $('#frmcancelled').hide();
                    $('#ReasonFIFOdv').show();
                    $('#uploadfile').show();
                    $('#RefreshAll').show();
                    $('#ViewPrintIC').show();
                    $('#uploadcancel').show();

                    $('#consigneeFirmDropdown').trigger('change');

                } else if (selectedValue == "T") {
                    $('#accepteuploadddrp').show();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').show();
                    $('#bkset').show();
                    $('#Remarksval').hide();
                    $('#Holograms').hide();
                    $('#ReasonFIFOdv').show();
                    $('#CallCancelStatusdrp').hide();
                    $('#frmcancelled').hide();
                    $('#uploadfile').hide();
                    $('#RefreshAll').hide();
                    $('#AcceptReject').hide();
                    $('#ViewPrintIC').hide();
                    $('#uploadcancel').hide();
                } else if (selectedValue == "S") {
                    $('#accepteuploadddrp').hide();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').show();
                    $('#bkset').hide();
                    $('#ReasonFIFOdv').show();
                    $('#Remarksval').show();
                    $('#Holograms').show();
                    $('#CallCancelStatusdrp').hide();
                    $('#frmcancelled').hide();
                    $('#uploadfile').hide();
                    $('#RefreshAll').hide();
                    $('#AcceptReject').hide();
                    $('#ViewPrintIC').hide();
                    $('#uploadcancel').hide();
                } else if (selectedValue == "U") {
                    $('#accepteuploadddrp').hide();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').show();
                    $('#bkset').hide();
                    $('#ReasonFIFOdv').show();
                    $('#CallCancelStatusdrp').hide();
                    $('#frmcancelled').hide();
                    $('#Remarksval').show();
                    $('#Holograms').show();
                    $('#uploadfile').hide();
                    $('#AcceptReject').hide();
                    $('#RefreshAll').hide();
                    $('#ViewPrintIC').hide();
                    $('#uploadcancel').hide();
                } else if (selectedValue == "W") {
                    $('#accepteuploadddrp').hide();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').show();
                    $('#bkset').hide();
                    $('#Remarksval').hide();
                    $('#Holograms').hide();
                    $('#ReasonFIFOdv').show();
                    $('#uploadfile').hide();
                    $('#RefreshAll').hide();
                    $('#ViewPrintIC').hide();
                    $('#AcceptReject').hide();
                    $('#uploadcancel').hide();
                    $('#CallCancelStatusdrp').hide();
                    $('#frmcancelled').hide();
                } else if (selectedValue == "M" || selectedValue == "B") {
                    $('#accepteuploadddrp').hide();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').show();
                    $('#bkset').hide();
                    $('#uploadfile').hide();
                    $('#RefreshAll').hide();
                    $('#ViewPrintIC').hide();
                    $('#uploadcancel').hide();
                    $('#ReasonFIFOdv').show();
                    $('#AcceptReject').hide();
                    $('#CallCancelStatusdrp').hide();
                    $('#Remarksval').show();
                    $('#Holograms').show();
                    $('#frmcancelled').hide();
                } else if (selectedValue == "RB" || selectedValue == "PR" || selectedValue == "PRB" || selectedValue == "CB") {
                    $('#accepteuploadddrp').hide();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').show();
                    $('#bkset').hide();
                    $('#ReasonFIFOdv').show();
                    $('#Remarksval').hide();
                    $('#Holograms').hide();
                    $('#uploadfile').hide();
                    $('#RefreshAll').hide();
                    $('#ViewPrintIC').hide();
                    $('#uploadcancel').hide();
                    $('#AcceptReject').hide();
                    $('#CallCancelStatusdrp').hide();
                    $('#frmcancelled').hide();
                } else if (selectedValue == "C") {
                    $('#accepteuploadddrp').hide();
                    $('#localdrp').hide();
                    $('#rejvalue').hide();
                    $('#accepteddrp').hide();
                    $('#savedetails').hide();
                    $('#bkset').hide();
                    $('#ReasonFIFOdv').show();
                    $('#Remarksval').hide();
                    $('#uploadfile').hide();
                    $('#RefreshAll').hide();
                    $('#ViewPrintIC').hide();
                    $('#uploadcancel').hide();
                    $('#Holograms').hide();
                    $('#AcceptReject').hide();
                    $('#frmcancelled').show();
                    $('#CallCancelStatusdrp').show();
                    $('#MatValue').show();
                }

                $.ajax({
                    url: '@Url.Action("GetRlyDrp", "CallRegisterIB")',
                    type: 'GET',
                    data: { selectedValue: selectedValue, CaseNo: CaseNo, CallSno: CallSno, DesireDt: DesireDt },
                    success: function (data) {
                        if (data.ChkFIFO == "true") {
                            $('#ReasonFIFOdv').show();
                        } else if (data.ChkFIFO == "false") {
                            $('#ReasonFIFOdv').hide();
                        }
                    },
                    error: function () {
                        alert('Error occurred while retrieving BkNo and SetNo.');
                    }
                });
            });
            var CallStatusdrp = $('#CallStatusdrp').val();

            if (CallStatusdrp == "C") {
                $('#canlsave').prop('disabled', true);
                $('#canlsave').addClass('disabled-button');
                $('#CallStatusdrp').prop('disabled', true);
                $('#savedetails').hide();
                $('#Remarksval').hide();
                $('#Holograms').hide();
                $('#uploadfile').hide();
                $('#RefreshAll').hide();
                $('#ViewPrintIC').hide();
                $('#AcceptReject').hide();
                $('#uploadcancel').hide();
            } else if (CallStatusdrp == "A") {
                $('#CallStatusdrp').prop('disabled', true);
                $('#savefiles').prop('disabled', true);
                $('#savefiles').addClass('disabled-button');
                $('#AcceptReject').addClass('disabled-button');
                $('#AcceptReject').prop('disabled', true);
                $('#uploadfile').addClass('disabled-button');
                $('#uploadfile').prop('disabled', true);
                $('#RefreshAll').addClass('disabled-button');
                $('#RefreshAll').prop('disabled', true);
                $('#accepteddrp').show();
                $('#savedetails').hide();
                $('#bkset').hide();
                $('#CallCancelStatusdrp').hide();
                $('#accepteuploadddrp').show();
                $('#localdrp').hide();
                $('#Remarksval').hide();
                $('#Holograms').hide();
                $('#rejvalue').hide();
                $('#uploadfile').show();
                $('#ViewPrintIC').show();
                $('#uploadcancel').show();
                $('#AcceptReject').text('Accepted');
                $('#frmcancelled').hide();
                $('#consigneeFirmDropdown').trigger('change');
            } else if (CallStatusdrp == "R") {
                $('#CallStatusdrp').prop('disabled', true);
                $('#savefiles').prop('disabled', true);
                $('#AcceptReject').prop('disabled', true);
                $('#AcceptReject').addClass('disabled-button');
                $('#MatValue').show();
                $('#accepteddrp').show();
                $('#localdrp').show();
                $('#rejvalue').show();
                $('#Remarksval').hide();
                $('#Holograms').hide();
                $('#accepteuploadddrp').show();
                $('#savedetails').hide();
                $('#ReasonFIFOdv').show();
                $('#AcceptReject').text('Rejected');
                $('#frmcancelled').hide();
                $('#LocalOutstationdrp').show();
                $('#uploadfile').show();
                $('#RefreshAll').show();
                $('#ViewPrintIC').show();
                $('#uploadcancel').show();
                $('#consigneeFirmDropdown').trigger('change');
            } else if (CallStatusdrp == "G") {
                $('#accepteuploadddrp').show();
                $('#localdrp').hide();
                $('#rejvalue').hide();
                $('#accepteddrp').hide();
                $('#savedetails').show();
                $('#ReasonFIFOdv').show();
                $('#bkset').show();
                $('#Remarksval').hide();
                $('#Holograms').hide();
                $('#CallCancelStatusdrp').hide();
                $('#frmcancelled').hide();
                $('#AcceptReject').hide();
                $('#uploadfile').hide();
                $('#RefreshAll').hide();
                $('#ViewPrintIC').hide();
                $('#uploadcancel').hide();
            } else if (CallStatusdrp == "T") {
                $('#accepteuploadddrp').show();
                $('#localdrp').hide();
                $('#rejvalue').hide();
                $('#accepteddrp').hide();
                $('#savedetails').show();
                $('#bkset').show();
                $('#Remarksval').hide();
                $('#Holograms').hide();
                $('#ReasonFIFOdv').show();
                $('#CallCancelStatusdrp').hide();
                $('#uploadfile').hide();
                $('#RefreshAll').hide();
                $('#AcceptReject').hide();
                $('#ViewPrintIC').hide();
                $('#uploadcancel').hide();
                $('#frmcancelled').hide();
            } else if (CallStatusdrp == "S") {
                $('#accepteuploadddrp').hide();
                $('#localdrp').hide();
                $('#rejvalue').hide();
                $('#accepteddrp').hide();
                $('#savedetails').show();
                $('#bkset').hide();
                $('#ReasonFIFOdv').show();
                $('#Remarksval').show();
                $('#Holograms').show();
                $('#CallCancelStatusdrp').hide();
                $('#uploadfile').hide();
                $('#RefreshAll').hide();
                $('#AcceptReject').hide();
                $('#ViewPrintIC').hide();
                $('#uploadcancel').hide();
                $('#frmcancelled').hide();
            } else if (CallStatusdrp == "U") {
                $('#accepteuploadddrp').hide();
                $('#localdrp').hide();
                $('#rejvalue').hide();
                $('#accepteddrp').hide();
                $('#savedetails').show();
                $('#bkset').hide();
                $('#ReasonFIFOdv').show();
                $('#Remarksval').show();
                $('#Holograms').show();
                $('#uploadfile').hide();
                $('#RefreshAll').hide();
                $('#AcceptReject').hide();
                $('#ViewPrintIC').hide();
                $('#uploadcancel').hide();
                $('#CallCancelStatusdrp').hide();
                $('#frmcancelled').hide();
            } else if (CallStatusdrp == "W") {
                $('#accepteuploadddrp').hide();
                $('#localdrp').hide();
                $('#rejvalue').hide();
                $('#accepteddrp').hide();
                $('#savedetails').show();
                $('#bkset').hide();
                $('#Remarksval').hide();
                $('#Holograms').hide();
                $('#ReasonFIFOdv').show();
                $('#CallCancelStatusdrp').hide();
                $('#uploadfile').hide();
                $('#RefreshAll').hide();
                $('#AcceptReject').hide();
                $('#ViewPrintIC').hide();
                $('#uploadcancel').hide();
                $('#frmcancelled').hide();
            } else if (CallStatusdrp == "M" || CallStatusdrp == "B") {
                $('#accepteuploadddrp').hide();
                $('#localdrp').hide();
                $('#rejvalue').hide();
                $('#accepteddrp').hide();
                $('#savedetails').show();
                $('#bkset').hide();
                $('#Remarksval').show();
                $('#Holograms').show();
                $('#ReasonFIFOdv').hide();
                $('#CallCancelStatusdrp').hide();
                $('#uploadfile').hide();
                $('#RefreshAll').hide();
                $('#AcceptReject').hide();
                $('#ViewPrintIC').hide();
                $('#uploadcancel').hide();
                $('#frmcancelled').hide();
            } else if (CallStatusdrp == "RB" || CallStatusdrp == "PR" || CallStatusdrp == "PRB" || CallStatusdrp == "CB") {
                $('#accepteuploadddrp').hide();
                $('#localdrp').hide();
                $('#rejvalue').hide();
                $('#accepteddrp').hide();
                $('#savedetails').show();
                $('#bkset').hide();
                $('#ReasonFIFOdv').show();
                $('#Remarksval').hide();
                $('#Holograms').hide();
                $('#CallCancelStatusdrp').hide();
                $('#frmcancelled').hide();
                $('#uploadfile').hide();
                $('#RefreshAll').hide();
                $('#AcceptReject').hide();
                $('#ViewPrintIC').hide();
                $('#uploadcancel').hide();
            } else if (CallStatusdrp == "C") {
                $('#accepteuploadddrp').hide();
                $('#localdrp').hide();
                $('#rejvalue').hide();
                $('#accepteddrp').hide();
                $('#savedetails').hide();
                $('#bkset').hide();
                $('#ReasonFIFOdv').show();
                $('#frmcancelled').show();
                $('#Remarksval').hide();
                $('#Holograms').hide();
                $('#CallCancelStatusdrp').show();
                $('#MatValue').show();
                $('#uploadfile').hide();
                $('#RefreshAll').hide();
                $('#AcceptReject').hide();
                $('#ViewPrintIC').hide();
                $('#uploadcancel').hide();
            }
            $('#LocalOutstationdrp').change(function () {
                var selectedValue = $('#LocalOutstationdrp').val();
                var CaseNo = $('#CaseNo').val();
                var CallSno = $('#CallSno').val();
                var DesireDt = $('#CallRecvDt').val();
                $.ajax({
                    url: '@Url.Action("LocalOutstation", "CallRegisterIB")',
                    type: 'GET',
                    data: { selectedValue: selectedValue, CaseNo: CaseNo, CallSno: CallSno, DesireDt: DesireDt },
                    success: function (data) {
                        $('#MatValue').val(data.MaterialValue);
                        $('#RejectionCharge').val(data.RejectionCharge);
                    },
                    error: function () {
                        alert('Error occurred while retrieving BkNo and SetNo.');
                    }
                });
            });

            $('#CallCancelStatusdrp').change(function () {
                $('#MatCanvalue').hide();
                var selectedValue1 = $('#CallCancelStatusdrp').val();
                var selectedValue = $('#CallStatusdrp').val();
                var CaseNo = $('#CaseNo').val();
                var CallSno = $('#CallSno').val();
                var DesireDt = $('#CallRecvDt').val();

                if (selectedValue1 == "C") {
                    $('#CallCancelChargesdrp').show();
                } else if (selectedValue1 == "N") {
                    $('#CallCancelChargesdrp').hide();
                }

                $.ajax({
                    url: '@Url.Action("GetRlyDrp", "CallRegisterIB")',
                    type: 'GET',
                    data: { selectedValue: selectedValue, CaseNo: CaseNo, CallSno: CallSno, DesireDt: DesireDt },
                    success: function (data) {
                        if (data.ChkFIFO == "true") {
                            $('#ReasonFIFOdv').show();
                        } else if (data.ChkFIFO == "false") {
                            $('#ReasonFIFOdv').hide();
                        }
                        var callRlyFirmList = data.CallRlyFirmList;
                        for (var i = 0; i < callRlyFirmList.length; i++) {
                            $('#CallCancelChargesdrp').append($('<option>', {
                                value: callRlyFirmList[i].Value,
                                text: callRlyFirmList[i].Text
                            }));
                        }
                    },
                    error: function () {
                        alert('Error occurred while retrieving BkNo and SetNo.');
                    }
                });
            });

            $('#CallCancelChargesdrp').change(function () {
                var selectedValue = $('#CallCancelChargesdrp').val();
                var CaseNo = $('#CaseNo').val();
                var CallSno = $('#CallSno').val();
                var DesireDt = $('#CallRecvDt').val();
                $.ajax({
                    url: '@Url.Action("CancelChargeByStatus", "CallRegisterIB")',
                    type: 'GET',
                    data: { selectedValue: selectedValue, CaseNo: CaseNo, CallSno: CallSno, DesireDt: DesireDt },
                    success: function (data) {
                        $('#MatCanvalue').show();
                        $('#MatValue').val(data.MaterialValue);
                        $('#CanCharges').val(data.CallCancelCharges);
                    },
                    error: function () {
                        alert('Error occurred while retrieving BkNo and SetNo.');
                    }
                });

            });
        });

        function UploadFiles() {
            var formData = new FormData();

            SaveSingleDocuments("tab-2");
            var consigneeFirmDropdown = $('#consigneeFirmDropdown').val();
            var bknoaccpted = $('#bknoaccpted').val();
            var setnoaccpted = $('#setnoaccpted').val();

            if (bknoaccpted != "" && setnoaccpted != "") {
                var ajaxData = AjaxModel();

                if (ajaxData) {
                    for (var key in ajaxData) {
                        if (ajaxData.hasOwnProperty(key)) {
                            formData.append(key, ajaxData[key]);
                        }
                    }
                }
                var fileInput = $('#hdnUploadedDocumentList_tab-2')[0];

                if (fileInput && fileInput.defaultValue && fileInput.defaultValue != null) {
                    var file = fileInput.defaultValue;
                    formData.append("UploadeFile", file);
                }

                var hiddenInput = $("#hdnUploadedDocumentList_tab-2");
                var uploadedDocuments = hiddenInput.val();
                if (uploadedDocuments == "" || uploadedDocuments == null) {
                    alert('Please select all files!');
                    return;
                }

                $.ajax({
                    url: '@Url.Action("CallStatusUpload", "CallRegisterIB")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.Id == 1) {
                            ShowHideMsgNew(true, response.responseText);
                        }
                        else {
                            ShowHideMsgNew(false, response.responseText);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // Handle error
                        console.error('Error: ' + textStatus, errorThrown);
                    }
                });
            } else {
                alert("BKNO & SetNo Is Required.");
                return;
            }

        }
        function Accepted() {
            var formData = AjaxModel();
            var consigneeFirmDropdown = $('#consigneeFirmDropdown').val();
            var bknoaccpted = $('#bknoaccpted').val();
            var setnoaccpted = $('#setnoaccpted').val();

            //if (bknoaccpted != "" || setnoaccpted != "") {
            $.ajax({
                url: '@Url.Action("CallStatusAcceptRej", "CallRegisterIB")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.Id == 1) {
                        var redirectUrl = '@Url.Action("CallsMarkedToIE", "CallsMarkedToIE")' + '?type=C';
                        ShowHideMsgNew(true, response.responseText);
                        $('#uploadfile').prop('disabled', true);
                        $('#AcceptReject').prop('disabled', true);
                        $('#savefiles').prop('disabled', true);
                        $('#AcceptReject').addClass('disabled-button');
                        setTimeout(function () {
                            window.location.href = redirectUrl;
                        }, 1000);

                    }
                    else {

                        ShowHideMsgNew(false, response.responseText);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error: ' + textStatus, errorThrown);
                }
            });
            //} else {
            //    alert("BKNO & SetNo Is Required.");
            //    return;
            //}

        }

        function Save() {

            var formData = new FormData();
            SaveSingleDocuments("tab-2");
            var bknoaccpted = $('#BkNo').val();
            var setnoaccpted = $('#SetNo').val();
            var CallStatus = $('#CallStatusdrp').val();

            //if (bknoaccpted != "" && setnoaccpted != "") {
            var ajaxData = AjaxModel();

            if (CallStatus == "G" || CallStatus == "T") {
                var fileInput = $('#hdnUploadedDocumentList_tab-2')[0];

                if (fileInput && fileInput.defaultValue && fileInput.defaultValue != null) {
                    var file = fileInput.defaultValue;
                    formData.append("UploadeFile", file);
                }

                var hiddenInput = $("#hdnUploadedDocumentList_tab-2");
                var uploadedDocuments = hiddenInput.val();
                if (uploadedDocuments == "" || uploadedDocuments == null) {
                    alert('Please select all files!');
                    return;
                }
            }
            if (ajaxData) {
                for (var key in ajaxData) {
                    if (ajaxData.hasOwnProperty(key)) {
                        formData.append(key, ajaxData[key]);
                    }
                }
            }


            if (CallStatus == "C") {
                var atLeastOneChecked = $('input[name^="chkItems"]').is(':checked');

                if (!atLeastOneChecked) {
                    alert('Please select at least one Cancellation Reason.');
                    return;
                }

                $('input[name^="chkItems"]').each(function () {
                    var index = $(this).attr('name').match(/\[([\d]+)\]/)[1];
                    formData.append("chkItems[" + index + "]", $(this).is(':checked'));
                });
            }

            $.ajax({
                url: '@Url.Action("CallStatus", "CallRegisterIB")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.Id == 1) {
                        ShowHideMsgNew(true, response.responseText);
                    }
                    else {
                        ShowHideMsgNew(false, response.responseText);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Handle error
                    console.error('Error: ' + textStatus, errorThrown);
                }
            });
            //} else {
            //    alert("BKNO & SetNo Is Required.");
            //    return;
            //}
            //if ($("#ActionType").val() == "C") {
            //    $("#frmCallStatus").submit();
            //}
            //else {
            //    if ($("#frmCallStatus").valid()) {
            //        $("#frmCallStatus").submit();
            //    }
            //}
        }

        function SaveImages() {

            var formData = new FormData();
            SaveSingleDocuments("tab-1");
            var consigneeFirmDropdown = $('#consigneeFirmDropdown').val();
            var bknoaccpted = $('#bknoaccpted').val();
            var setnoaccpted = $('#setnoaccpted').val();

            if ($("#consigneeFirmDropdown").val() == '0') {
                alert("Please select consignee !");
                return;
            }

            if (bknoaccpted != "" && setnoaccpted != "") {

                var hiddenInput = $("#hdnUploadedDocumentList_tab-1");

                var uploadedDocuments = hiddenInput.val();

                var uploadedDocumentsArray = (uploadedDocuments == "" || uploadedDocuments == null) ? [] : JSON.parse(uploadedDocuments);

                if (uploadedDocumentsArray.length >= 5) {

                    if (uploadedDocumentsArray[0].DocName == "IC Image 1" && uploadedDocumentsArray[1].DocName == "IC Image 2" && uploadedDocumentsArray[2].DocName == "IC Image 3" && uploadedDocumentsArray[3].DocName == "IC Image 4" && uploadedDocumentsArray[4].DocName == "IC Image 5") {
                        var ajaxData = AjaxModel();

                        if (ajaxData) {
                            for (var key in ajaxData) {
                                if (ajaxData.hasOwnProperty(key)) {
                                    formData.append(key, ajaxData[key]);
                                }
                            }
                        }
                        var files = $('#hdnUploadedDocumentList_tab-1')[0];


                        if (files && files.defaultValue && files.defaultValue != null) {
                            var files = files.defaultValue;
                            formData.append("UploadeFile", files);
                        }
                        $.ajax({
                            url: '@Url.Action("CallStatusFiles", "CallRegisterIB")',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (response) {

                                if (response.Id == 1) {
                                    ShowHideMsgNew(true, response.responseText);
                                    $('#consigneeFirmDropdown').trigger('change');
                                }
                                else {
                                    ShowHideMsgNew(false, response.responseText);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                // Handle error
                                console.error('Error: ' + textStatus, errorThrown);
                            }
                        });
                    }
                    else {
                        alert('Please select the first five (5) Images!');
                    }
                } else {
                    alert('Please select the first five (5) Images!');
                }
            }
            else {
                alert("BKNO & SetNo Is Required.");
                return;
            }
        }

        function SaveCancellation() {
            var formData = new FormData();

            SaveSingleDocuments("tab-3");

            var ajaxData = AjaxModel();

            if (ajaxData) {
                for (var key in ajaxData) {
                    if (ajaxData.hasOwnProperty(key)) {
                        formData.append(key, ajaxData[key]);
                    }
                }
            }
            var fileInput = $('#hdnUploadedDocumentList_tab-3')[0];

            if (fileInput && fileInput.defaultValue && fileInput.defaultValue != null) {
                var file = fileInput.defaultValue;
                formData.append("UploadeFile", file);
            } else {
                alert("Upload File");
                return;
            }

            var atLeastOneChecked = $('input[name^="chkItems"]').is(':checked');

            if (!atLeastOneChecked) {
                alert('Please select at least one Cancellation Reason.');
                return;
            }

            $('input[name^="chkItems"]').each(function () {
                var index = $(this).attr('name').match(/\[([\d]+)\]/)[1];
                formData.append("chkItems[" + index + "]", $(this).is(':checked'));
            });


            $.ajax({
                url: '@Url.Action("SaveCancellation", "CallRegisterIB")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    if (response.Id == 1) {
                        var redirectUrl = '@Url.Action("CallsMarkedToIE", "CallsMarkedToIE")' + '?type=C';
                        ShowHideMsgNew(true, response.responseText);
                        setTimeout(function () {
                            window.location.href = redirectUrl;
                        }, 1000);
                    }
                    else {
                        ShowHideMsgNew(false, response.responseText);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Handle error
                    console.error('Error: ' + textStatus, errorThrown);
                }
            });
        }

        function AjaxModel() {
            var CallStatus = $('#CallStatusdrp').val();
            var ConsigneeFirm = $('#consigneeFirmDropdown').val();
            var LocalOutstation = $('#LocalOutstationdrp').val();
            var DocBkNo = $('#bknoaccpted').val();
            var DocSetNo = $('#setnoaccpted').val();
            var CaseNo = $('#caseno').val();
            var CallRecvDt = $('#CallRecvDt').val();
            var CallSno = $('#callsnos').val();
            var CallStatusDt = $('#calldtstatus').val();
            var CallCancelCharges = $('#CanCharges').val();
            var CancellationDescription = $('#Candesc').val();
            var PoNo = $('#PoNo').val();
            var ReasonFIFO = $('#ReasonFIFO').val();
            var Remarks = $('#Remarks').val();
            var hologram = $('#hologram').val();
            var Remarkslbl = $('#Remarkslbl').val();
            var SetNo = $('#SetNo').val();
            var BkNo = $('#BkNo').val();
            var PoDt = $('#PoDt').val();
            var RejectionCharge = $('#RejectionCharge').val();
            var IeCd = $('#IeCd').val();

            var formData = {
                CallStatus: CallStatus,
                BkNo: BkNo,
                SetNo: SetNo,
                ConsigneeFirm: ConsigneeFirm,
                LocalOutstation: LocalOutstation,
                CaseNo: CaseNo,
                CallRecvDt: CallRecvDt,
                CallSno: CallSno,
                CallStatusDt: CallStatusDt,
                CancellationDescription: CancellationDescription,
                PoNo: PoNo,
                Remarks: Remarks,
                hologram: hologram,
                Remarkslbl: Remarkslbl,
                PoDt: PoDt,
                DocBkNo: DocBkNo,
                DocSetNo: DocSetNo,
                RejectionCharge: RejectionCharge,
                IeCd: IeCd
            };

            return formData;
        }

        function RedirectViewPrintIC() {
            var CASE_NO = $('#caseno').val();
            var CALL_RECV_DT = $('#CallRecvDt').val();
            var CALL_SNO = $('#callsnos').val();
            var CONSIGNEE_CD = $('#consigneeFirmDropdown').val();
            var ACTIONAR = $("#ActionType").val();

            let myObject = { CASE_NO, CALL_RECV_DT, CALL_SNO, CONSIGNEE_CD };
            $.ajax({
                url: '@Url.Action("Save_RPT_PRM_Inspection_Certificate", "CallRegisterIB")?' + $.param(myObject),
                type: 'POST',
                //data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    if (response) {
                        let myObject = { CASE_NO, CALL_RECV_DT, CALL_SNO, CONSIGNEE_CD, ACTIONAR };
                        var url = '@Url.Action("Index", "IC_RPT_Intermediate")?' + $.param(myObject);
                        window.location.href = url;
                    }
                    else {
                        ShowHideMsgNew(false, "Opps Something went wrong !!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Handle error
                    console.error('Error: ' + textStatus, errorThrown);
                }
            });


        }

        function RefreshAll() {
            var formData = AjaxModel();

            $.ajax({
                url: '@Url.Action("RefreshAllDlt", "CallRegisterIB")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    if (response.Id == 1) {
                        var redirectUrl = '@Url.Action("CallsMarkedToIE", "CallsMarkedToIE")' + '?type=C';
                        ShowHideMsgNew(true, response.responseText);
                        setTimeout(function () {
                            window.location.href = redirectUrl;
                        }, 1000);
                    }
                    else {
                        ShowHideMsgNew(false, response.responseText);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Handle error
                    console.error('Error: ' + textStatus, errorThrown);
                }
            });
        }

    </script>
}