@model IBS.Models.VenderCallRegisterModel
@{
    ViewData["Title"] = "Call Registration/Cancellation";
}

<form data-ajax="true" asp-antiforgery="true" asp-controller="CallRegister" asp-action="DetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmDetails">
        <div class="list-inner">
            <div class="tast-list">
                @*<h2>Call Registration/Cancellation</h2>*@
                <h3 class="heading3">Call Registration/Cancellation </h3>
            </div>
        </div>
    <div class="accordion-body">
        <div class="row my-0">
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Case No.</label>
                    <input type="text" asp-for="CaseNo" maxlength="100" style="text-transform: uppercase;">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Reference">Call Date</label>
                    <input type="text" class="datepicker" placeholder="DD/MM/YYYY" asp-for="CallRecvDt" maxlength="100" style="text-transform: uppercase;">
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Call SNo.</label>
                    <input type="text" class="input" asp-for="CallSno" maxlength="100" style="text-transform: uppercase;">
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">PO No.</label>
                    <input type="text" class="input" asp-for="PoNo" maxlength="100" style="text-transform: uppercase;">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Reference">PO Date</label>
                    <input type="text" class="datepicker" placeholder="DD/MM/YYYY" asp-for="PoDt" maxlength="100" style="text-transform: uppercase;">
                </div>
            </div>

        </div>
        <div class="row my-0">
            <div class="col-md-6 mb-3">
                <div class="reference">
                    <label for="Reference">Vendor Name</label>
                    <input type="text" class="input" asp-for="Vendor" maxlength="100" style="text-transform: uppercase;">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="reference">
                    <label for="Reference">Call Letter No./Dispatch Ref No.</label>
                    <input type="text" class="input" asp-for="CallLetterNo" maxlength="100" style="text-transform: uppercase;">
                </div>
            </div>
        </div>
        <div class="alert alert-warning center">
            To Search a Case-> Enter Case No. or Call Date or Part or Full PO No. or PO DT or Vendor Name or Call Letter No./Dispatch Ref No. and Click on Search ButtonTo Edit/Delete or To Register New Call --> Enter Case No & Call Date and then Click on desired Button
        </div>
        <div class="row my-0">
            <div class="col-md-12 mb-4 text-center">
                <div class="savenext-btn">
                <button type="button" class="reset-btn" id="btnSearch">Search</button>
                <button type="button" class="reset-btn active" id="btnNewCall">New Call</button>
                <button type="button" class="reset-btn" id="btnModify">Modify</button>
                <button type="button" class="reset-btn" id="btnDelete">Delete</button>
                <button type="button" class="reset-btn" id="btnCCancellation">Call Cancellation</button>
                <button type="button" class="reset-btn" id="btnEditStatus">Edit Call Status</button>
                </div>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtList" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Case No.</th>
                            <th>PO No.</th>
                            <th>PO Date</th>
                            <th>Call Date</th>
                            <th>Call SNo.</th>
                            <th>Call Install No.</th>
                            <th>IE SName</th>
                            <th>Vendor</th>
                            <th>Status</th>
                            <th>Call Letter No/Dispatch Ref No.</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</form>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(function () {
            //setDefaultDate();
            //InitializeDatatable();

            //$("#CallRecvDt").val(moment($("#CallRecvDt").val()).format("DD/MM/YYYY"));
        });

        $("#btnSearch").click(function () {
            debugger
            InitializeDatatable();
        });

        function Search() {
            //InitializeDatatable();
        }
        function setDefaultDate() {
            $('#PoDt').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
            });
            //$('#CallRecvDt').datepicker({
            //    changeMonth: true,
            //    changeYear: true,
            //    dateFormat: 'dd/mm/yy',
            //});
        }

        function InitializeDatatable() {
            var CaseNo = $("#CaseNo").val();
            var PoNo = $("#PoNo").val();
            var PoDt = $("#PoDt").val();
            var CallSno = $("#CallSno").val();
            var Vendor = $("#Vendor").val();
            var CallRecvDt = $("#CallRecvDt").val();
            var CallLetterNo = $("#CallLetterNo").val();

            $("#dtList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable", "CallRegisterIB")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "CaseNo": CaseNo,
                            "PoNo": PoNo,
                            "PoDt": PoDt,
                            "CallSno": CallSno,
                            "Vendor": Vendor,
                            "CallRecvDt": CallRecvDt,
                            "CallLetterNo": CallLetterNo
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "CaseNo" },
                    { data: "PoNo" },
                    {
                        data: "PoDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    {
                        data: "CallRecvDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "CallSno" },
                    { data: "CallInstallNo" },
                    { data: "IeSname" },
                    { data: "Vendor" },
                    { data: "CallStatus" },
                    { data: "CallLetterNo" },
                    { data: "Remarks" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var CaseNo = data.CaseNo;
                            //var CallRecvDt = moment(data.CallRecvDt).format("DD/MM/YYYY");
                            //var CallRecvDt = moment(data.CallRecvDt).format("YYYY-MM-DD");
                            var CallRecvDt = data.CallRecvDt;
                            var CallSno = data.CallSno;

                            var editUrl = '@Url.Action("Index", "CallRegisterIB")?CaseNo=' + CaseNo + "&_CallRecvDt=" + CallRecvDt + "&CallSno=" + CallSno;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-eye\" title="Edit"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },

                ],
                "order": [[0, "asc"]]
            });
        }

        $("#btnModify").click(function () {
            var CaseNo = $("#CaseNo").val();
            var CallRecvDt = $("#CallRecvDt").val();
            var CallSno = $("#CallSno").val();

            if (CaseNo == null || CaseNo == "") {
                ShowHideMsgNew(false, "Please select Case No.");
                return;
            }
            if (CallRecvDt == null || CallRecvDt == "") {
                ShowHideMsgNew(false, "Please select Call Date");
                return;
            }
            if (CallSno == null || CallSno == "") {
                ShowHideMsgNew(false, "Please select Call Sno.");
                return;
            }
            var w_itemBlocked = "";
            var w_remarksVend = "";
            $.ajax({
                url: '@Url.Action("GetModifyClick", "CallRegisterIB")',
                type: "GET",
                dataType: "JSON",
                data: { "CaseNo": CaseNo, "CallRecvDt": CallRecvDt, "CallSno": CallSno },
                success: function (contacts) {
                    if (contacts.data && contacts.data.length > 0) {
                        var vendCd = contacts.data[0].VendCd;
                        var VendInspStopped = contacts.data[0].VendInspStopped;
                        var Remarks = contacts.data[0].Remarks;
                        //w_itemBlocked = "Y";
                        //w_remarksVend = Remarks;

                        $.ajax({
                            url: '@Url.Action("GetMatch", "CallRegisterIB")',
                            type: "GET",
                            dataType: "JSON",
                            data: { "CaseNo": CaseNo, "CallRecvDt": CallRecvDt, "CallSno": CallSno },
                            success: function (contacts) {
                                if (contacts.data && contacts.data.length > 0) {
                                    var RegionCode = contacts.data[0].RegionCode;
                                    var SetRegionCode = contacts.data[0].SetRegionCode;

                                    var Check = "";
                                    if (RegionCode == "\0" && RegionCode == "") {
                                        Check = "0";
                                        alert('No Record Present for the Given Case No, Call Date and Call SNo!!!');
                                    }
                                    else if (RegionCode == SetRegionCode) {
                                        Check = "2";
                                    }
                                    else {
                                        Check = "1";
                                        alert('You are not Authorised to Update/Delete/Cancel The Call For Other Regions.!!!');
                                        return;
                                    }

                                    if (Check == "2") {
                                        if (VendInspStopped == "Y") {
                                            var msg = "Some Items of the Vendor have been blocked due to following reasons :\\n" + Remarks + "\\nDo You Still Want to Register/Update This Call?";
                                            var d = confirm(msg);
                                            if (d === false) {
                                                window.location.href = '@Url.Action("Index", "CallRegisterIB")';
                                            } else {
                                                window.location.href = '@Url.Action("Manage", "CallRegisterIB")' + '?CaseNo=' + CaseNo + "&CallRecvDt=" + CallRecvDt + "&CallSno=" + CallSno + "&ActionType=M";
                                            }
                                        }
                                        else {
                                            window.location.href = '@Url.Action("Manage", "CallRegisterIB")' + '?CaseNo=' + CaseNo + "&CallRecvDt=" + CallRecvDt + "&CallSno=" + CallSno + "&ActionType=M";
                                        }
                                    }

                                }
                            }
                        });
                    }
                }
            });
        });

        $("#btnNewCall").click(function () {
            debugger
            var CaseNo = $("#CaseNo").val();
            var CallRecvDt = $("#CallRecvDt").val();
            var CallSno = $("#CallSno").val();

            if (CaseNo == null || CaseNo == "") {
                ShowHideMsgNew(false, "Please select Case No.");
                return;
            }
            if (CaseNo != null) {
                $.get("@Url.Action("GetAddDetails", "CallRegisterIB")", { "CaseNo": CaseNo, "CallRecvDt": CallRecvDt, "CallSno": CallSno }, function (response) {
                    debugger
                    if (response.status) {
                        if(response.Client == "Y"){
                            if (response.w_itemBlocked == "Y") {
                                var msg = response.responseText;
                                var d = confirm(msg);
                                
                                if (d === false) {
                                    window.location.href = '@Url.Action("Index", "CallRegisterIB")';
                                } else {
                                    window.location.href = '@Url.Action("Manage", "CallRegisterIB")' + '?CaseNo=' + response.code + "&CallRecvDt=" + response.dt + "&ActionType=A";
                                }
                            }
                            else {
                                window.location.href = '@Url.Action("Manage", "CallRegisterIB")' + '?CaseNo=' + response.code + "&CallRecvDt=" + response.dt + "&ActionType=A";
                            }
                        }
                        else
                        {
                            if (response.responseText != null) {
                                ShowHideMsgNew(response.status, response.responseText);
                            }
                            else {
                                ShowHideMsgNew(false, "Please Your Call are Register in Offline.");
                            }
                        }
                    }
                    else {
                        ShowHideMsgNew(response.status, response.responseText);
                    }
                    
                });
            }
        });

        $("#btnDelete").click(function () {
            var CaseNo = $("#CaseNo").val();
            var CallRecvDt = $("#CallRecvDt").val();
            var CallSno = $("#CallSno").val();

            if (CaseNo == null || CaseNo == "") {
                ShowHideMsgNew(false, "Please select Case No.");
                return;
            }
            if (CallRecvDt == null || CallRecvDt == "") {
                ShowHideMsgNew(false, "Please select Call Date");
                return;
            }
            if (CallSno == null || CallSno == "") {
                ShowHideMsgNew(false, "Please select Call Sno.");
                return;
            }
            if (CaseNo != null || CallRecvDt != null || CallSno != null) {
                $.get("@Url.Action("DeleteDetails", "CallRegisterIB")", { "CaseNo": CaseNo, "CallRecvDt": CallRecvDt, "CallSno": CallSno }, function (response) {
                    if (response.status) {
                        if (response.ActionType == "D") {
                            window.location.href = '@Url.Action("Manage", "CallRegisterIB")' + '?CaseNo=' + response.CaseNo + "&CallRecvDt=" + response.CallRecvDt + "&CallSno=" + response.CallSno + "&ActionType=" + response.ActionType;
                        }

                    }
                });
            }
        });

        $("#btnCCancellation").click(function () {
            var CaseNo = $("#CaseNo").val();
            var CallRecvDt = $("#CallRecvDt").val();
            var CallSno = $("#CallSno").val();

            if (CaseNo == null || CaseNo == "") {
                ShowHideMsgNew(false, "Please select Case No.");
                return;
            }
            if (CallRecvDt == null || CallRecvDt == "") {
                ShowHideMsgNew(false, "Please select Call Date");
                return;
            }
            if (CallSno == null || CallSno == "") {
                ShowHideMsgNew(false, "Please select Call Sno.");
                return;
            }

            if ((CaseNo != null || CaseNo != "") && (CallRecvDt != null || CallRecvDt != "") && (CallSno != null || CallSno != null)) {
                $.get("@Url.Action("GetCCancellationDetails", "CallRegisterIB")", { "CaseNo": CaseNo, "CallRecvDt": CallRecvDt, "CallSno": CallSno }, function (response) {
                    if (response.status) {
                        window.location.href = '@Url.Action("CallCancellation", "CallRegisterIB")' + '?CaseNo=' + response.CaseNo + "&_CallRecvDt=" + response.CallRecvDt + "&CallSno=" + response.CallSno + "&ActionType=" + response.ActionType;

                    }
                });
            }
        });

        $("#btnEditStatus").click(function () {
            var CaseNo = $("#CaseNo").val();
            var CallRecvDt = moment($('#CallRecvDt').datepicker('getDate')).format("YYYY-MM-DD");
            var CallSno = $("#CallSno").val();

            if (CaseNo == null || CaseNo == "") {
                ShowHideMsgNew(false, "Please select Case No.");
                return;
            }
            if (CallRecvDt == null || CallRecvDt == "") {
                ShowHideMsgNew(false, "Please select Call Date");
                return;
            }
            if (CallSno == null || CallSno == "") {
                ShowHideMsgNew(false, "Please select Call Sno.");
                return;
            }
            if (CaseNo != null || CallRecvDt != null || CallSno != null) {
                window.location.href = '@Url.Action("CallStatus", "CallRegisterIB")' + '?CaseNo=' + CaseNo + "&CallRecvDt=" + CallRecvDt + "&CallSno=" + CallSno;
            }

        });

        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            //window.location.href = "/CallRegister";
            window.location.href = '@Url.Action("Index", "CallRegisterIB")';
        };
    </script>
    }