@model IBS.Models.VenderCallRegisterModel

@{
    ViewData["Title"] = "VENDOR CALL REGISTRATION";
}
<div id="tab-1">
    <form data-ajax="true" asp-antiforgery="true" asp-controller="VendorCallRegister" asp-action="DetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmDetails">
        <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />
        <div class="list-inner">
            <div class="tast-list">
                <h2>@ViewData["Title"] </h2>
            </div>
            <input type="hidden" asp-for="CaseNo" />
            <input type="hidden" asp-for="CallRecvDt" />
            <input type="hidden" asp-for="CallSno" />
            <input type="hidden" asp-for="ActionType" />
            <input type="hidden" asp-for="FOS" />
            <input type="hidden" asp-for="RegionCode" />
            <input type="hidden" asp-for="UpdateAllowed" />
            <input type="hidden" asp-for="RlyNonrly" />
        </div>
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">Case No. : </label>
                    <input type="text" class="input" asp-for="CaseNo" maxlength="100" style="color:orangered" readonly="readonly">
                    @*<label style="text-transform: uppercase; color:orangered;"> @Model.CaseNo </label>*@
                    <span asp-validation-for="CaseNo" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Call Date : </label>
                    <input type="text" class="input" asp-for="CallRecvDt" maxlength="30" style="color:orangered" readonly="readonly">
                    @*<label style="text-transform: uppercase; color:orangered;" class="input"> @Convert.ToDateTime(@Model.CallRecvDt).ToString("dd/MM/yyyy") </label>*@
                    <span asp-validation-for="CallRecvDt" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Call SNo. : </label>
                    <input type="text" class="input" asp-for="CallSno" maxlength="30" style="color:orangered" readonly="readonly">
                    @*<label style="text-transform: uppercase; color:orangered;" class="input"> @Model.CallSno </label>*@
                    <span asp-validation-for="CallSno" class="text-danger"></span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">Purchaser : </label>
                    <input type="text" class="input" asp-for="PurchaserCd" maxlength="100" style="color:orangered" readonly="readonly">
                    @*<label style="text-transform: uppercase; color:orangered;" class="input"> @Model.PurchaserCd </label>*@
                    <span asp-validation-for="PurchaserCd" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Vendor : </label>
                    <input type="text" class="input" asp-for="VendCd" maxlength="30" style="color:orangered" readonly="readonly">
                    @*<label style="text-transform: uppercase; color:orangered;" class="input"> @Model.VendCd </label>*@
                    <span asp-validation-for="VendCd" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="PoDt">Purchase Order Date : </label>
                    <input type="text" class="input" asp-for="PoDt" maxlength="100" style="color:orangered" readonly="readonly">
                    @*<label style="text-transform: uppercase; color:orangered;" class="input"> @Convert.ToDateTime(@Model.PoDt).ToString("dd/MM/yyyy") </label>*@
                    <span asp-validation-for="PoDt" class="text-danger"></span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="PoNo">Purchase Order No. : </label>
                    <input type="text" class="input" asp-for="PoNo" maxlength="30" style="color:orangered" readonly="readonly">
                    @*<label style="text-transform: uppercase; color:orangered;"> @Model.PoNo </label>*@
                    <span asp-validation-for="PoNo" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="CallStatus">Call Status : </label>
                    <input type="text" asp-for="CallStatus" style="color:orangered" readonly="readonly">
                    @*<label style="text-transform: uppercase; color:orangered;" class="input"> @Model.CallStatus </label>*@
                    <span asp-validation-for="CallStatus" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="RegionCode">Region : </label>
                    @if (Model.RegionCode == "N")
                    {
                        <span style="color:orangered">Norther</span>
                    }
                    @if (Model.RegionCode == "S")
                    {
                        <span style="color:orangered">Southern</span>
                    }
                    @if (Model.RegionCode == "W")
                    {
                        <span style="color:orangered">Western</span>
                    }
                    @if (Model.RegionCode == "E")
                    {
                        <span style="color:orangered">Eastern</span>
                    }
                    @if (Model.RegionCode == "C")
                    {
                        <span style="color:orangered">Central</span>
                    }
                    @if (Model.RegionCode == "Q")
                    {
                        <span style="color:orangered">CO QA Division</span>
                    }
                    <span asp-validation-for="RegionCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Name">Date of Mark of call to IE</label>
                        <input type="text" class="input" asp-for="CallMarkDt" readonly="readonly">
                        <span asp-validation-for="CallMarkDt" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Name">Call Status date</label>
                        <input type="text" class="input" asp-for="CallStatusDt" readonly="readonly">
                        <span asp-validation-for="CallStatusDt" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Name">Inspecting Engineer to whom Call is marked</label>
                        @Html.DropDownListFor(model => model.ClusterCode, new SelectList(IBS.Models.Common.GetCluster(Model.RegionCode) , "Value", "Text"),"--Select--")
                        <span asp-validation-for="ClusterCode" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="DtInspDesire">Expected Date of Inspection/Material Readiness Date.</label>
                    <input type="text" class="input" asp-for="DtInspDesire" readonly="readonly">
                    <span asp-validation-for="DtInspDesire" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="CallLetterNo">Call Letter Number\ Dispatch Reference No.</label>
                        <input type="text" class="input" asp-for="CallLetterNo" maxlength="30">
                        <span asp-validation-for="CallLetterNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="CallLetterDt">
                        <label for="CallLetterDt">Call Letter Date (DD/MM/YYYY)</label>
                        <input type="text" class="input" asp-for="CallLetterDt" readonly="readonly">
                        <span asp-validation-for="CallLetterDt" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="CallRemarkStatus">Call Re-Mark Status(If Call has been Re-marked)</label>
                        @Html.DropDownListFor(model => model.CallRemarkStatus, new SelectList(IBS.Models.Common.CallRStatus() , "Value", "Text"),"--Select--")
                        <span asp-validation-for="CallRemarkStatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="CallInstallNo">Call Install No.</label>
                        <input type="text" class="input" asp-for="CallInstallNo" readonly="readonly">
                        <span asp-validation-for="CallInstallNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="DepartmentCode">Item to be inspected viz. Mechanical, Electrical, Civil etc</label>
                    @Html.DropDownListFor(model => model.DepartmentCode, new SelectList(IBS.Models.Common.Departmentlist() , "Value", "Text"),"--Select--")
                    <span asp-validation-for="DepartmentCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="drone">State whether the Call is for Final Or Stage Inspection</label>
                        <div class="company-checkbox">
                            <div class="remember">
                                <div class="remecheckbox">
                                    <input type="radio" id="huey" name="drone" checked disabled="disabled">
                                    <label for="huey" id="rdbFinal" name="rdbFinal">Final</label>

                                    <input type="radio" id="dewey" name="drone" disabled="disabled">
                                    <label for="dewey" id="rdbStage" name="rdbStage">Stage</label>
                                </div>
                            </div>
                        </div>
                        <label for="Name" style="color:DarkMagenta">* Select Stage in case of Stage Inspection Call.</label>

                    </div>
                </div>
                <div class="col-md-4 mb-3" id="dvIrfcFunded">
                    <div class="reference">
                        <label for="IrfcFunded"><span style="color:red">In case of IRFC Funded Project, Select 'Yes'</span></label>
                        @Html.DropDownListFor(model => model.IrfcFunded, new SelectList(IBS.Models.Common.CommonYesNo() , "Value", "Text"),"--Select--")
                    </div>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <div class="reference">
                        <label for="Name">Remarks</label>
                        <label for="Name" style="color:orangered">(250 Chars Maxm)</label>
                        <textarea rows="4" asp-for="Remarks"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Name" style="color:RoyalBlue;text-decoration:underline;font-size:15pt;">Manufacturer's Information</label>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="company-checkbox">
                    <div class="remember">
                        <div class="remecheckbox">
                            <input type="checkbox" class="input" name="IsSameVender" id="IsSameVender">
                            Same As Vendor
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-2 mb-3">
                    <div class="reference">
                        <label for="Name">Name of Manufacturer</label>
                        <input type="text" class="input" id="MfgCd1" value="@Model.MfgCd">
                    </div>
                </div>
                <div class="col-md-8 mb-3">
                    <div class="reference">
                        <label for="Name"><br /></label>
                        @Html.DropDownListFor(model => model.MfgCd, new SelectList(IBS.Models.Common.GetVendor_City(@Model.MfgCd) , "Value", "Text"),"--Select--")
                        <span asp-validation-for="MfgCd" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="reference">
                        <label for="Name"><br /></label>
                        <div class="savenext-btn">
                            @*<button type="button" class="search-btn" id="SearchDetailsM" onclick="location.href='@Url.Action("VendorCallRegisterDetail", "VendorCallRegister",new { Action = "M",CaseNo = @Model.CaseNo,CallRecvDt = Convert.ToDateTime(@Model.CallRecvDt).ToString("dd-MM-yyyy"), CallSno = @Model.CallSno })'">Select Manufacturer</button>*@
                            <button type="button" class="search-btn" id="SearchDetailsM">Select Manufacturer</button>
                        </div>
                        <span asp-validation-for="CallInstallNo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <div class="reference">
                        <label for="Name">Place of Inspection</label>
                        <textarea rows="4" asp-for="VendAdd1"></textarea>
                        <span asp-validation-for="VendAdd1" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <div class="reference">
                        <label for="Name">Contact Person's Name</label>
                        <input type="text" class="input" asp-for="VendContactPer1">
                        <span asp-validation-for="VendContactPer1" class="text-danger" id="spnVendContactPer1"></span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="reference">
                        <label for="Name">Manufacturer Email</label>
                        <input type="text" class="input" asp-for="VendEmail">
                        <span asp-validation-for="VendEmail" class="text-danger" id="spnVendEmail"></span>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="reference">
                        <label for="Name">Phone No.</label>
                        <input type="text" class="input" asp-for="VendContactTel1">
                        <span asp-validation-for="VendContactTel1" class="text-danger" id="spnVendContactTel1"></span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Name"><br /></label>
                    <div class="savenext-btn">
                        <button type="button" class="save-btn" id="btnUpdateMDetails">Update Manufacturer's Contact Details.</button>
                    </div>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <input type="checkbox" class="input" name="IsNewVender" id="IsNewVender" asp-for="IsNewVender">
                    <label for="Name" style="color:orangered">Kindly Check this option, If You are a New Vendor!!!</label>
                </div>
            </div>
        </div>
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <input type="checkbox" class="input" name="CHKRejCan" id="CHKRejCan">
                    <label for="Name" style="color:orangered">Call for Billing of Cancellation/Rejection Charges!!!</label>
                    <br />
                </div>
                <div class="savenext-btn center">
                    <button type="button" class="save-btn active" id="btnRegiserCallSave">Save</button>
                    <button type="button" class="save-btn" id="btnDelete">Delete</button>
                    <a asp-controller="CallRegisterIB" asp-action="Index" class="reset-btn">Cancel</a>
                    <button type="button" class="save-btn" id="btnCDetails">Call Details</button>
                </div>
            </div>
            <br />
            <div class="row my-0">
                <div class="alert alert-warning center">
                    Note: Scanned copy of order given by prime contractor to vendor (In case of Contract/LOA Calls)/ Other relevant Document (If any in "PDF" Format only). Scanned copy should be in Black & White and Low DPI.
                </div>

            </div>
            <div class="row my-0">
                <div class="col-md-6 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.CallRegistrationDoc" />
                </div>
                <div class="savenext-btn center">
                    <button type="button" class="save-btn active" id="btnUpload">Upload Documents</button>
                    <a asp-controller="CallRegisterIB" asp-action="Index" class="reset-btn">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            debugger
            $("#MfgCd").prop("disabled", "disabled");
            if ($("#RlyNonrly").val() == "R") {
                $("#dvIrfcFunded").show();
            }
            else {
                $("#dvIrfcFunded").hide();
            }
            const urlParams = new URLSearchParams(window.location.search);
            const actiontype = urlParams.get('ActionType');
            const FOS = urlParams.get('FOS');
            $("#ActionType").val(actiontype);
            $("#FOS").val(FOS);
            var UpdateAllowed = $("#UpdateAllowed").val();
            if (actiontype == "M") {
                if (UpdateAllowed == "N") {
                    $("#btnRegiserCallSave").hide();
                }
                else {
                    $("#btnRegiserCallSave").show();
                }
                $("#btnDelete").hide();
                $("#btnCDetails").show();
            }
            else if (actiontype == "D") {
                if (UpdateAllowed == "N") {
                    $("#btnRegiserCallSave").hide();
                    $("#btnDelete").hide();
                }
                else {
                    $("#btnRegiserCallSave").show();
                    $("#btnDelete").show();
                }
                $("#btnRegiserCallSave").hide();
                $("#btnCDetails").show();
            }
            else if (actiontype == "A") {
                $("#btnCDetails").hide();
                $("#btnDelete").hide();
                $("#CallStatus").val("Marked");
            }

        });

        function Save() {
            if ($("#frmDetails").valid()) {
                $("#frmDetails").submit();
            }
        }

        $("#SearchDetailsM").click(function () {
            FillVendorClick();
        });

        $('#IsSameVender').change(function () {
            var StaggeredDp = $('input:checkbox[name=IsSameVender]:checked').val();
            if (this.checked) {
                FillVendor();
            }
            else {
                $("#MfgCd").val("");
                $("#MfgCd1").val("");
                $("#VendAdd1").val("");
                $("#VendContactPer1").val("");
                $("#VendEmail").val("");
                $("#VendContactTel1").val("");
            }

        });

        function FillVendor() {
            var MfgCd = $('#MfgCd').val();
            var hdnMfgCd = $("#MfgCd1").val();
            var CaseNo = $('#CaseNo').val();
            if (MfgCd == null) {
                MfgCd = 0;
            }
            $.ajax({
                url: '@Url.Action("GetVendorDetails", "CallRegisterIB")',
                type: "GET",
                dataType: "JSON",
                data: { "MfgCd": MfgCd, "CaseNo": CaseNo },
                success: function (contacts) {
                    if (contacts.data && contacts.data.length > 0) {
                        $("#MfgCd").val(contacts.data[0].VendCd);
                        $("#MfgCd1").val(contacts.data[0].VendCd);
                        $("#VendAdd1").val(contacts.data[0].VendAdd1);
                        $("#VendContactPer1").val(contacts.data[0].VendContactPer1);
                        $("#VendEmail").val(contacts.data[0].VendEmail);
                        $("#VendContactTel1").val(contacts.data[0].VendContactTel1);

                        hdnMfgCd = contacts.data[0].VendCd;
                        BindVendor(hdnMfgCd);
                        $("#MfgCd").val(hdnMfgCd);
                    }
                }
            });

        }

        function FillVendorClick() {
            var MfgCd = $('#MfgCd1').val();
            BindVendor(MfgCd);
            $.ajax({
                url: '@Url.Action("GetVendorDetailsClick", "VendorCallRegister")',
                type: "GET",
                dataType: "JSON",
                data: { id: MfgCd },
                success: function (contacts) {
                    if (contacts.data && contacts.data.length > 0) {
                        $("#MfgCd").val(contacts.data[0].VendCd);
                        $("#MfgCd1").val(contacts.data[0].VendCd);
                        $("#VendAdd1").val(contacts.data[0].VendAdd1);
                        $("#VendContactPer1").val(contacts.data[0].VendContactPer1);
                        $("#VendEmail").val(contacts.data[0].VendEmail);
                        $("#VendContactTel1").val(contacts.data[0].VendContactTel1);
                    }
                }
            });
        }

        function BindVendor(MfgCd) {
            $.ajax({
                url: '@Url.Action("BindVendor", "VendorCallRegister")',
                type: "GET",
                dataType: "JSON",
                data: { id: MfgCd },
                success: function (contacts) {
                    $("#MfgCd").html(""); // clear before appending new list
                    $("#MfgCd").append($('<option></option>').val(0).html("--Select--"));
                    if (contacts && contacts.length > 0) {
                        if (MfgCd > 0) {
                            $.each(contacts, function (i, cnt) {
                                $("#MfgCd").append($('<option></option>').val(cnt.Value).html(cnt.Text));
                            });
                            $("#MfgCd").val(MfgCd);
                        } else {
                            $.each(contacts, function (i, cnt) {
                                $("#MfgCd").append($('<option></option>').val(cnt.Value).html(cnt.Text));
                            });
                        }
                    }
                }
            });
        }

        $("#btnUpdateMDetails").click(function () {
            if ($("#VendContactPer1").val() == "" || $("#VendContactPer1").val() == null) {
                $("#spnVendContactPer1").html("Contact Person's Name");
                //ShowHideMsgNew(false, "Please add Contact Person's Name");
                return;
            }
            if ($("#VendEmail").val() == "" || $("#VendEmail").val() == null) {
                $("#spnVendEmail").html("Manufacturer Email");
                return;
            }
            if ($("#VendContactTel1").val() == "" || $("#VendContactTel1").val() == null) {
                $("#spnVendContactTel1").html("Phone No.");
                return;
            }
            var formData = {
                MfgCd: $("#MfgCd").val(),
                VendCd: $("#VendCd").val(),
                VendAdd1: $("#VendAdd1").val(),
                VendContactPer1: $("#VendContactPer1").val(),
                VendEmail: $("#VendEmail").val(),
                VendContactTel1: $("#VendContactTel1").val(),
            }
            $.post("@Url.Action("UpdateDetails", "VendorCallRegister")", { model: formData }, function (response) {
                ShowHideMsgNew(response.status, response.responseText);
                if (response.status) {
                }
            });

            return false;
        });

        $("#btnRegiserCallSave").click(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const actiontype = urlParams.get('ActionType');
            $("#ActionType").val(actiontype);

            if ($("#MfgCd").is(":hidden")) {
                alert("Please select Manufacturer first and then save it");
            }
            else if (!$("#CHKRejCan").prop("checked")) {
                alert("Kindly [Select or Check] the declaration before you click on Register Call button.");
            }
            else if ($("#CallRemarkStatus").val() == "") {
                alert("Please Select item to be inspected viz. Mechanical, Electrical, Civil etc.");
            }
            else if ($("#RegionCode").val() == "R") {
                alert("Select The project is IRFC Funded [Yes/No] !!!");
            }
            else {


                event.preventDefault();
                $("#MfgCd").prop("disabled", "");

                var formData = $("#frmDetails").serialize();
                $.post("@Url.Action("DetailsSave", "CallRegisterIB")", formData, function (response) {
                    ShowHideMsgNew(response.status, response.responseText);
                    if (response.status) {
                    }
                });
                var UpdateAllowed = $("#UpdateAllowed").val();
                if (UpdateAllowed == "N") {
                    $("#btnRegiserCallSave").hide();
                    $("#btnDelete").hide();
                }
                else {
                    $("#btnRegiserCallSave").show();
                }
            }
            return false;
        });

        $("#btnDelete").click(function () {
            event.preventDefault();

            var formData = $("#frmDetails").serialize();
            $.post("@Url.Action("DetailsDelete", "CallRegisterIB")", formData, function (response) {
                ShowHideMsgNew(response.status, response.responseText);
                if (response.status) {
                }
            });
            return false;
        });

        $("#btnCDetails").click(function () {
            var CaseNo = $("#CaseNo").val();
            var CallRecvDt = $("#CallRecvDt").val();
            var CallSno = $("#CallSno").val();
            const urlParams = new URLSearchParams(window.location.search);
            //var CallSNo = urlParams.get('CallSNo');
            var cstatus = urlParams.get('cstatus');
            var status = "";
            debugger
            //if ($('#btnRegiserCallSave').prop('disabled') === false || $('#btnDelete').prop('disabled') === false) {
            if ($('#btnRegiserCallSave').hide() === true || $('#btnDelete').hide() === true) {
                status = "M";
            }
            else {
                status = "N";
            }
            window.location.href = '@Url.Action("CallDetails", "CallRegisterIB")' + '?CaseNo=' + CaseNo + "&_CallRecvDt=" + CallRecvDt + "&CallSno=" + CallSno + "&cstatus=" + status;
        });

        $("#btnUpload").click(function () {
            event.preventDefault();
            if (!SaveSingleDocuments("tab-1")) { return; }
            var formData = $("#frmDetails").serialize();
            $.post("@Url.Action("UploadDoc", "CallRegisterIB")", formData, function (response) {
                ShowHideMsgNew(response.status, response.responseText);
                if (response.status) {
                }
            });
            return false;
        });

        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            window.location.href = '@Url.Action("VendorCallRegister", "VendorCallRegister")';
        };
    </script>
}