@model IBS.Models.VendEquipClbrCertModel

@{
    ViewData["Title"] = "Vendor Document";
    string clsSave = "Permission_Save";
    string clsView = "";
    if (Model.VendCd > 0)
    {
        clsSave = "Permission_Update";
        clsView = "Permission_View";
    }
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Vendor Document</h2>
    </div>
</div>
<section id="tab-1" class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="VendorDocument" asp-action="SaveVendorDocument" data-ajax-method="post" data-ajax-complete="completed" id="frmRoleDetails">
            <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />
            <input type="hidden" asp-for="VendCd" />
            <div class="accordion-body">
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Doc Type</label>
                        @Html.DropDownListFor(model => model.DocType, new SelectList(IBS.Models.Common.DocType() , "Value", "Text"),"--Select--",new { @onchange="DocTypeChanged()" })
                        <span asp-validation-for="DocType" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3" id="dvDocument">

                    </div>
                </div>
                <div id="dvCalibrationRecordsVendDocument">

                </div>
                <div class="savenext-btn">
                    <a asp-controller="VendorDocument" asp-action="Index" class="reset-btn">Cancel</a>
                    <button type="button" class="save-btn active @clsSave" onclick="Save();">Save</button>
                </div>
                <div id="dvCalibrationRecordsVendDocumentList" style="display:none;">
                    <partial name="_CalibrationRecordsVendDocumentList" />
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts{
<partial name="_DataTablesScriptsPartial" />
<partial name="_ValidationScriptsPartial" />
<script type="text/javascript">
    $(function () {
        InitializeDatatable();
    });
    function ValidateData() {
        var isValidate = true;
        $("#spnErrorEquipMkSl").html("");
            if ($("#EquipMkSl").val() == "") {
                $("#spnErrorEquipMkSl").html("Make,Model Sl.No./ID No. is required.");
                $("#EquipMkSl").focus();
                isValidate = false;
        }

        $("#spnErrorCalibCertNo").html("");
        if ($("#CalibCertNo").val() == "") {
            $("#spnErrorCalibCertNo").html("Calibration Certificate No. is required.");
            $("#CalibCertNo").focus();
            isValidate = false;
        }
        return isValidate;
    }
    function Save() {
        if (ValidateData() == false) {
            return false;
        }
        if ($("#frmRoleDetails").valid()) {
            SaveSingleDocuments("tab-1");
            $("#frmRoleDetails").submit();
        }
    }
    completed = function (response) {
        var res = response.responseJSON;
        ShowHideMsgNew(res.status, res.responseText);
        if($("#DocType").val() == "C")
        {
            InitializeDatatable();
            DocTypeChanged();
        }
        //window.location.href = "/Role/Index";
    };

    function DocTypeChanged() {
        var DocType = $("#DocType").val();
        if (DocType != "") {
            $.ajax({
                url: '@Url.Action("GetDocument", "VendorDocument")?DocType=' + DocType,
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response != null) {
                    $("#dvDocument").html("");
                    $("#dvCalibrationRecordsVendDocument").html("");
                    $("#dvCalibrationRecordsVendDocumentList").hide();
                    if (DocType == 'C') {
                        $("#dvCalibrationRecordsVendDocument").html(response);
                        $("#dvCalibrationRecordsVendDocumentList").show();
                        SetDate();
                    }
                    else
                    {
                        $("#dvDocument").html(response);
                    }
                }
            });
        }
    }

    function InitializeDatatable() {
        $("#dtDocument").DataTable({
            stateSave: false,// Design Assets
            autoWidth: true,
            scrollX: true,
            scrollCollapse: true,
            processing: true, // ServerSide Setups
            serverSide: true,
            destroy: true,
            paging: true,// Paging Setups
            searching: true,// Searching Setups
            ajax: {// Ajax Filter
                url: "@Url.Action("LoadTable")",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: function (d) {
                    var AdditionalValues = {
                    };
                    d.AdditionalValues = AdditionalValues;
                    return JSON.stringify(d);
                }
            },
            columns: [// Columns Setups
                { data: "EQUIP_NAME" },
                { data: "EQUIP_MK_SL" },
                { data: "DT_OF_CALIB" },
                { data: "NEXT_DT_CALIB" },
                { data: "CALIB_CERT_NO" },
                { data: "EQUIP_CLBR_CERT_SNO" },
                { data: "EQUIP_RANGE" },
                { data: "NABL_ACC_DET" },
                { data: "EQUIP_DESC" },
                {
                    data: null, orderable: false,
                    render: function (data, type, row) {
                        var VendCd = data.VEND_CD;
                        var DocType = data.DOC_TYPE;
                        var EquipMkSl = data.EQUIP_MK_SL;
                        var CalibCertNo = data.CALIB_CERT_NO;
                        var EquipClbrCertSno = data.EQUIP_CLBR_CERT_SNO;
                        //var editUrl = '@Url.Action("EditVendorCalibration", "VendorDocument")?VendCd=' + data.VEND_CD + "&DocType=" + data.DOC_TYPE + "&EquipMkSl=" + data.EQUIP_MK_SL + "&CalibCertNo=" + data.CALIB_CERT_NO + "&EquipClbrCertSno=" + data.EQUIP_CLBR_CERT_SNO;
                        var html = '<div align=\"center\" class=\"reportIcon\"> <a onclick="EditVendorCalibration(' + VendCd + ',\'' + DocType + '\',\'' +  EquipMkSl  + '\',\'' + CalibCertNo + '\',' + EquipClbrCertSno + '); return false; " href="javascript: void (\'0\');" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                        html += '</div>';
                        return html;
                    }
                },
            ],
            "order": [[0, "asc"]]
        });
    }

    function EditVendorCalibration(VendCd, DocType, EquipMkSl, CalibCertNo, EquipClbrCertSno) {
        $.ajax({
            url: '@Url.Action("EditVendorCalibration", "VendorDocument")?VendCd=' + VendCd + "&DocType=" + DocType + "&EquipMkSl=" + EquipMkSl + "&CalibCertNo=" + CalibCertNo + "&EquipClbrCertSno=" + EquipClbrCertSno,
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response != null) {
                $("#DocType").val(DocType);
                $("#dvCalibrationRecordsVendDocument").html("");
                $("#dvCalibrationRecordsVendDocument").html(response);
                SetDate();
            }
        });
    }
    function SetDate()
    {
        $('#DtOfCalib').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $('#NextDtCalib').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
    }
</script>
}