@model IBS.Models.Reports.ContractReportModel

<div>
   
    <h3 class="heading3">CONTRACTS</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th valign="top" align="center"><b>S.No.</b></th>
                    <th valign="top" align="center"><b>Contract Code</b></th>
                    <th valign="top" align="center"><b>Client</b></th>
                    <th valign="top" align="center"><b>Contract No.</b></th>
                    <th valign="top" align="center"><b>Scope of Work</b></th>
                    <th valign="top" align="center"><b>Period From</b></th>
                    <th valign="top" align="center"><b>Period To</b></th>
                    <th valign="top" align="center"><b>Rate of Insp Fee</b></th>
                    <th valign="top" align="center"><b>Contract Fee</b></th>
                    <th valign="top" align="center"><b>CM Name</b></th>
                    <th valign="top" align="center"><b>Region</b></th>
                    <th valign="top" align="center"><b>Cont Special Condns</b></th>
                    <th valign="top" align="center"><b>Contract Penalty</b></th>
                    <th valign="top" align="center"><b>File Uploaded(If Any)</b></th>
                </tr>
                @if (Model != null && Model.lstContrcats != null && Model.lstContrcats.Count > 0)
                {
                    var SrNo = 0;
                    @foreach (var item in Model.lstContrcats)
                    {
                        SrNo = SrNo + 1;
                        <tr>
                            <td valign="top" align="center">@SrNo</td>
                            <td valign="top" align="Left">@item.CONTRACT_ID</td>
                            <td valign="top" align="center">@item.CLIENT_NAME</td>
                            <td valign="top" align="center">@item.CONTRACT_NO</td>
                            <td valign="top" align="center">@item.SCOPE_OF_WORK</td>
                            <td valign="top" align="center">@item.PER_FROM</td>
                            <td valign="top" align="center">@item.PER_TO</td>
                            <td valign="top" align="center">@item.CONT_INSP_FEE</td>
                            <td valign="top" align="center">@item.CONTRACT_FEE_NUM</td>
                            <td valign="top" align="center">@item.CO_NAME</td>
                            <td valign="top" align="center">@item.REGION</td>
                            <td valign="top" align="center">@item.CONTRACT_SPECIAL_CONDN</td>
                            <td valign="top" align="center">@item.CONTRACT_PANALTY</td>
                            <td valign="top" align="center"></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


