@model IBS.Models.Reports.DailyIECMWorkPlanReportModel

<div>

    <h3 class="heading3">@Model.Regions</h3>

    <h3 class="heading3">Daily Work Plan Exception Report For the Period @Model.FromDate To @Model.ToDate (IE Wise)</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">S.No.</font></b></th>
                    <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">CASE NO.</font></b></th>
                    <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">CALL RECV DT</font></b></th>
                    <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">CALL SNO.</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="1" face="Verdana">IE</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">BK NO.</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">SET No.</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">NO. OF INSP's</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">IC DT</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">IC FIRST INSP DT</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">IC LAST INSP DT</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">WORKPLAN VISIT DT</font></b></th>
                </tr>
                @if (Model != null && Model.lstDailyIEWorklanExcepReport != null && Model.lstDailyIEWorklanExcepReport.Count > 0)
                {
                    var SrNo = 0;
                    @foreach (var item in Model.lstDailyIEWorklanExcepReport)
                    {
                        SrNo = SrNo + 1;
                        <tr>
                            <td width="7%" valign="top" align="center"><font size="1" face="Verdana">@SrNo</font></td>
                            <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item.CASE_NO</font></td>
                            <td width="15%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_RECV_DATE</font></td>
                            <td width="7%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_SNO</font></td>
                            <td width="7%" valign="top" align="center"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                            <td width="8%" valign="top" align="center"><font size="1" face="Verdana">@item.BK_NO</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.SET_NO</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.NO_OF_INSP</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.IC_DATE</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FIRST_INSP_DATE</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.LAST_INSP_DATE</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.VISIT_DATE</font></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>