@model IBS.Models.Reports.IEWiseTrainingReportModel

<div>
    <h3 class="center">@Model.Regions</h3>
    <h3 class="heading3">SUMMARY OF IE WISE TRAINING DETAILS</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th valign="top" align="center"><b>S.No.</b></th>
                    <th valign="top" align="center"><b>IE NAME.</b></th>
                    <th valign="top" align="center"><b>EMP No.</b></th>
                    <th valign="top" align="center"><b>CATEGORY</b></th>
                    <th valign="top" align="center"><b>QUALIFICATION</b></th>
                    <th valign="top" align="center"><b>TRAINING TYPE</b></th>
                    <th valign="top" align="center"><b>TRAINING FEILD</b></th>
                    <th valign="top" align="center"><b>COURSE NAME</b></th>
                    <th valign="top" align="center"><b>COURSE INSTITUTE</b></th>
                    <th valign="top" align="center"><b>COURSE DUR FR</b></th>
                    <th valign="top" align="center"><b>COURSE DUR TO</b></th>
                    <th valign="top" align="center"><b>CERTIFICATE</b></th>
                    <th valign="top" align="center"><b>FEES</b></th>
                    <th valign="top" align="center"><b>VALIDITY</b></th>
                </tr>
                @if (Model != null && Model.lstIEWISETRAINING != null && Model.lstIEWISETRAINING.Count > 0)
                {
                    var SrNo = 0;
                    @foreach (var item in Model.lstIEWISETRAINING)
                    {
                        SrNo = SrNo + 1;
                        <tr>
                            <td valign="top" align="center">@SrNo</td>
                            <td valign="top" align="Left">@item.NAME</td>
                            <td valign="top" align="center">@item.EMP_NO</td>
                            <td valign="top" align="center">@item.CATEGORY</td>
                            <td valign="top" align="center">@item.QUAL</td>
                            <td valign="top" align="center">@item.T_TYPE</td>
                            <td valign="top" align="center">@item.T_FEILD</td>
                            <td valign="top" align="center">@item.COURSE_NAME</td>
                            <td valign="top" align="center">@item.COURSE_INSTITUTE</td>
                            <td valign="top" align="center">@item.C_DUR_FR</td>
                            <td valign="top" align="center">@item.C_DUR_TO</td>
                            <td valign="top" align="center">@item.CERTIFICATE</td>
                            <td valign="top" align="center">@item.FEES</td>
                            <td valign="top" align="center">@item.VALIDITY</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


