@model IBS.Models.Reports.NCRReport
@using System.Globalization

<div>
    <h3 class="center">@Model.Regions</h3>

    @if (@Model.reporttype == "C")
    {
        @if (@Model.formonth == "true")
        {
            @if (@Model.AllCM == "true")
            {
                <h3 class="heading3">No. Of NCR's Registered during  : @Model.monthChar , @Model.year (CM Wise)</h3>
            }
            else
            {
                <h3 class="heading3">CO : @Model.IENametext Registered during : @Model.monthChar , @Model.year </h3> 
            }

        }
        else
        {
            @if (@Model.AllCM == "true")
            {
                <h3 class="heading3">No. Of NCR's Registered during  : @Model.FromDate.ToString("dd/MM/yyyy") To @Model.ToDate.ToString("dd/MM/yyyy") (CM Wise)</h3>
                <h3 class="heading3">Run Date  : @Model.Todaydate</h3>
            }
            else
            {
                <h3 class="heading3">CO : @Model.IENametext Registered during : @Model.FromDate.ToString("dd/MM/yyyy") To @Model.ToDate.ToString("dd/MM/yyyy") </h3>
                <h3 class="heading3">Run Date  : @Model.Todaydate </h3>
            }
        }

    }
    else
    {
        @if (@Model.formonth == "true")
        {
            @if (@Model.AllCM == "true")
            {
                <h3 class="heading3">No. Of NCR's Registered during  : @Model.monthChar , @Model.year (IE Wise)</h3>
            }
            else
            {
                <h3 class="heading3">IE : @Model.IENametext Registered during : @Model.monthChar , @Model.year </h3>
            }

        }
        else
        {
            @if (@Model.AllCM == "true")
            {
                <h3 class="heading3">No. Of NCR's Registered during  : @Model.FromDate.ToString("dd/MM/yyyy") To @Model.ToDate.ToString("dd/MM/yyyy") (IE Wise)</h3>
                <h3 class="heading3">Run Date  : @Model.Todaydate</h3>
            }
            else
            {
                <h3 class="heading3">IE : @Model.IENametext Registered during : @Model.FromDate.ToString("dd/MM/yyyy") To @Model.ToDate.ToString("dd/MM/yyyy") </h3>
                <h3 class="heading3">Run Date  : @Model.Todaydate </h3>
            }
        }

    }
    
    @if (@Model.AllCM == "true")
    {
        <div class="tableOuter">
            <table class="borderTable" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th width="5%" valign="top" align="center"><b><font size="1" face="Verdana">S.NO.</font></b></th>
                        <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">CM Name</font></b></th>
                        <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">Total No. OF Calls</font></b></th>
                        <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">Total No. OF NCR</font></b></th>
                        <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">Total No. OF NO NCR</font></b></th>
                        <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">Total No. of Minor</font></b></th>
                        <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">Total No. of Major</font></b></th>
                        <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">Total No. of Critical</font></b></th>
                        <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">Total NCR Marks</font></b></th>
                    </tr>
                    @if (Model != null && Model.lstAllNCRCMIE.Count > 0)
                    {
                        var SrNo = 0;
                        var Ncr_Number = 0;
                        @foreach (var item in Model.lstAllNCRCMIE)
                        {
                            SrNo = SrNo + 1;
                            Ncr_Number = 0;
                            Ncr_Number = Ncr_Number + Convert.ToInt32(item.Total_Minor);
                            Ncr_Number = Ncr_Number + (2 * Convert.ToInt32(item.Total_Major));
                            Ncr_Number = Ncr_Number + (4 * Convert.ToInt32(item.Total_Critical));
                            <tr>
                                <td width="5%" valign="top" align="Left"><font size="1" face="Verdana">@SrNo</font></td>
                                <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item.IECMName</font></td>
                                <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item.Total_NO_Call</font></td>
                                <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item.Total_NC</font></td>
                                <td width="15%" valign="top" align="Left"><font size="1" face="Verdana">@item.NO_NC</font></td>
                                <td width="15%" valign="top" align="Left"><font size="1" face="Verdana">@item.Total_Minor</font></td>
                                <td width="15%" valign="top" align="Left"><font size="1" face="Verdana">@item.Total_Major</font></td>
                                <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item.Total_Critical</font></td>
                                <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@Ncr_Number</font></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="tableOuter">
            <table class="borderTable" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th width="5%" valign="top" align="center"><b><font size="1" face="Verdana">S.NO.</font></b></th>
                        <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">Case No. (BK No-Set No.)</font></b></th>
                        <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">Vendor</font></b></th>
                        <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">NCR No.</font></b></th>
                        <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">ITEM</font></b></th>
                        <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">NCR CODES SNo.</font></b></th>
                        <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">NCR Desc</font></b></th>
                        <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">IE Name</font></b></th>
                        <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">IE Remarks</font></b></th>
                        <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">CM Remark</font></b></th>
                    </tr>
                    @if (Model != null && Model.lstIECMWise.Count > 0)
                    {
                        var SrNo = 0;
                        var region = Model.lstIECMWise.Select(x => x.CASE_NO).Distinct().ToList();

                        @foreach (var item in region)
                        {
                            var list = Model.lstIECMWise.Where(x => x.CASE_NO == item).Select(x => x);
                            <tr>
                                <td colspan="6" align="center">@item</td>
                            </tr>
                           @foreach (var item2 in list)
                            {
                                SrNo = SrNo + 1;
                                <tr>
                                    <td width="5%" valign="top" align="Left"><font size="1" face="Verdana">@SrNo</font></td>
                                    <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item2.CASE_NO</font></td>
                                    <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item2.VENDOR</font></td>
                                    <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item2.NC_NO</font></td>
                                    <td width="15%" valign="top" align="Left"><font size="1" face="Verdana">@item2.ITEM</font></td>
                                    <td width="15%" valign="top" align="Left"><font size="1" face="Verdana">@item2.NC_CD_SNO</font></td>
                                    <td width="15%" valign="top" align="Left"><font size="1" face="Verdana">@item2.NC</font></td>
                                    <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item2.IE_NAME</font></td>
                                    <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item2.IE_ACTION1</font></td>
                                    <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item2.CO_FINAL_REMARKS1</font></td>
                                </tr>
                            }
                        }
@*
                        foreach (var item in Model.lstIECMWise)
                        {
                            
                        }*@
                    }
                </tbody>
            </table>
        </div>
    }
</div>


