@model IBS.Models.Reports.IEICPhotoEnclosedModelReport

<div>

    <h3 class="center">@ViewBag.Regions</h3>

    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">S.No.</font></b></th>
                    <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">CASE NO.</font></b></th>
                    <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">CALL RECV DT</font></b></th>
                    <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">CALL SNO.</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">BK NO.</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">SET No.</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">Photo 1</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">Photo 2</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">Photo 3</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">Photo 4</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">Photo 5</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">Photo 6</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">Photo 7</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">Photo 8</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">Photo 9</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">Photo 10</font></b></th>
                </tr>
                @if (Model != null && Model.lstlistSubmittedPhotobyIE != null && Model.lstlistSubmittedPhotobyIE.Count > 0)
                {
                    var SrNo = 0;
                    @foreach (var item in Model.lstlistSubmittedPhotobyIE)
                    {
                        SrNo = SrNo + 1;
                        <tr>
                            <td width="7%" valign="top" align="center"><font size="1" face="Verdana">@SrNo</font></td>
                            <td width="7%" valign="top" align="Left"><font size="1" face="Verdana">@item.CaseNo</font></td>
                            <td width="15%" valign="top" align="center"><font size="1" face="Verdana">@item.CallRecDT</font></td>
                            <td width="7%" valign="top" align="center"><font size="1" face="Verdana">@item.CallSno</font></td>
                            <td width="8%" valign="top" align="center"><font size="1" face="Verdana">@item.BKNO</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.SETNO</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FILE_1</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FILE_2</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FILE_3</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FILE_4</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FILE_5</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FILE_6</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FILE_7</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FILE_8</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FILE_9</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.FILE_10</font></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>