@model IBS.Models.LabPaymentFormModel

@{
    ViewData["Title"] = "EXTERNAL LABORATORY PAYMENT FORM";

    //string clsView = "";
    //if (Model.PaymentID != "0")
    //{

    //    clsView = "Permission_View";
    //}
}
@* <style>
    #showPayment1 {
        max-height: 300px; /* Set the maximum height for the scrolling area */
        overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
    }

    tr:nth-child(even) {
        background-color: #f0f8ff; /* Light Blue */
    }

    /* Style for table cells */
    td {
        height: 50px;
        padding: 10px;
        border: 1px solid #b0c4de;
        vertical-align: top;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-top: 2px solid #b0c4de; /* Add top border */
        background-color: #f0f8ff;
        margin-bottom: 20px; /* Add margin at the bottom for spacing */
    }

    /* Style for table cells */
    td {
        height: 50px; /* Adjust the height of table cells */
        padding: 5px;
        vertical-align: top;
    }

    /* Style for labels */
    label {
        display: block; /* Make labels block-level to occupy the whole cell width */
        font-weight: bold;
    }

    /* Style for input fields */
    input[type="text"],
    input[type="date"] {
        width: 100%;
        height: 42px;
        border: 1px solid #cccccc;
        border-radius: 6px;
        padding: 5px;
        box-sizing: border-box; /* Ensure the padding is included in the width */
    }

    /* Style for error message */
    .text-danger {
        color: red;
        margin-left: 6%;
    }

    /* Style for left-aligned button */
    .left-button {
        float: left;
        margin-right: 10px;
    }

    /* Style for right-aligned button */
    .right-button {
        float: right;
        margin-left: 10px;
    }

    /* Clear floating elements */
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .table-responsive {
        overflow-x: auto;
        height: 190px;
    }

    .custom-textarea {
        width: 400px;
        height: auto;
    }

    .table-section {
        width: 100%;
        /*height: 400px;*/ /* Set the desired height */
        overflow-y: auto; /* Enable vertical scrollbar if table exceeds height */
    }

    /* Set table width to 100% and disable horizontal scrollbar */
    #dtPayment {
        width: 100%;
        table-layout: fixed;
    }

        /* Style table header cells */
        #dtPayment th {
            background-color: #f2f2f2;
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        /* Style table body cells */
        #dtPayment td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

    /* Add custom scrollbar style for the table section */
    .table-section::-webkit-scrollbar {
        width: 8px;
    }

    .table-section::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

        .table-section::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
</style> *@
@*<form data-ajax="true" asp-antiforgery="true" asp-controller="LaboratoryMaster" asp-action="LabDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmLabDetails">*@

<div class="list-inner">
    <div class="tast-list">
        <h2>EXTERNAL LABORATORY PAYMENT FORM</h2>
    </div>
    <div>
        <a asp-action="LabPaymentForm" asp-controller="LabPaymentsForm" class="formBtn viewall-btn">View List</a>
    </div>
</div>
<div class="accordion-body">

    <div class="col-md-8 mb-3">
        <label for="PropertyId">Lab</label>
        @Html.DropDownListFor(model => model.LabCd, Common.GetLab(), new { @id="ddlppylab"})
        <span asp-validation-for="LabCd" class="text-danger"></span>
    </div>

</div>
<div class="savenext-btn" style="margin-left:40%;">
    <button type="button" class="save-btn active" onclick="InitializeDatatableChild();">Submit</button>
</div>
<br />
<div id="showPayment1" style="display:none;">
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtPaymentchild" class="table-responsive">
                    <thead>
                        <tr>
                            <th>SNo.</th>
                            <th>Sample Reg No</th>
                            <th>Case No</th>
                            <th>Total Lab Charges</th>
                            <th>TDS AMT</th>
                            <th>Fees+S.T.</th>
                            <th>Amount Cleared</th>
                            <th>Instrument No</th>
                            <th>Instrument Dt</th>
                            <th>Instrument Amt</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<br />
<div class="savenext-btn" style="margin-left:40%;">
    <button type="button" class="save-btn active" style="display:none;" id="btnp" onclick="Click();">Proceed For Payment</button>
</div>


<div class="task-listinput" style="display:none;" id="pytdtl">
    <div class="accordion-body">

        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <label for="Reference">Payment No.</label>
                <input type="text" class="input" id="lblpyno" readonly="readonly">
                <span class="text-danger field-validation-error" id="spnError1"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Payment Date</label>
                <input type="text" class="input" id="dtpydt" readonly="readonly">

            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Instrument No</label>
                <input type="text" class="input" id="txtAno">
                <span class="text-danger field-validation-error" id="spnError2"></span>
            </div>
        </div>
        <div class="row my-0">

            <div class="col-md-4 mb-3">
                <label for="Reference">Instrument Date</label>
                <input type="text" class="input datepicker" id="dtAdt">
                <span class="text-danger field-validation-error" id="spnError3"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Bank</label>
                @Html.DropDownListFor(model => model.Bank, Common.GetBankPayment(), new { @id="ddlbank"})
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Amount</label>
                <input type="text" class="input" id="txtamt">
                <span class="text-danger field-validation-error" id="spnError4"></span>
            </div>
        </div>
        <div class="row my-0">

            <div class="col-md-4 mb-3">
                <label for="Reference">Remarks</label>
                <textarea class="input" asp-for="Remarks" id="txtremk"> </textarea>

            </div>
        </div>
        <div class="savenext-btn" style="margin-left:47%;">
            <button type="button" class="save-btn active Permission_Save" onclick="Save();" id="btnsave">Save</button>
            <button type="button" class="save-btn active" id="btnprint" style="display:none;">Print</button>
        </div>
    </div>
</div>
@*</form>*@
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy" // Set the date format to "dd/mm/yy"
            });
            var today = new Date();
            //$("#dtregdt").val(today.getFullYear() + '-' + ('0' + (today.getMonth() - 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
            $("#dtpydt").val(('0' + (today.getMonth() + 1)).slice(-2) + '/' + ('0' + today.getDate()).slice(-2) + '/' + (today.getFullYear()));
        });
        $("#btnp").click(function () {
            $('html, body').animate({
                scrollTop: $("#pytdtl").offset().top
            }, 1000);
        });
        function cancel() {
            window.location.href = "/LabPaymentsForm/LabPaymentForm";
        }
        // function GetPayment() {


        //     var Lab = $("#ddlppylab").val();
        //     $.ajax({
        //         url: '/LabPaymentsForm/GetPayment', // Replace with your actual endpoint URL
        //         type: 'POST',
        //         dataType: 'json',
        //         data: { Lab: Lab },
        //         success: function (data) {

        //             if (data.length == 0) {

        //             }
        //             else {

        //                 $("#showPayment1").css("display", "block");
        //                 $("#btnp").css("display", "block");

        //                 // Once data is successfully received, populate the table
        //                 var tableBody = $('#tableBody');
        //                 tableBody.empty(); // Clear existing rows (if any)
        //                 for (i = 0; i < data.length; i++) {

        //                     var row = $('<tr>');
        //                     //row.append($('<td>').text(data[i].SNO)); // SRNo.
        //                     //var snoLink = $('<a>').text("Select").attr('id', "editButton").css({ 'color': 'blue', 'text-decoration': 'none' });
        //                     var snoLink = $('<input>').attr({ 'type': 'checkbox', 'data-sno': data[i].SNO, 'data-regno': data[i].SAMPLE_REG_NO });

        //                     var snoCell = $('<td>').append(snoLink);
        //                     row.append(snoCell);
        //                     row.append($('<td>').text(data[i].SAMPLE_REG_NO));
        //                     row.append($('<td>').text(data[i].CASE_NO));
        //                     row.append($('<td>').text(data[i].TOT_CHARGES));
        //                     row.append($('<td>').text(data[i].TDS_AMT));
        //                     row.append($('<td>').text(data[i].TESTING_FEE));
        //                     row.append($('<td>').text(data[i].AMT_CLEARED));
        //                     row.append($('<td>').text(data[i].CHQ_NO));
        //                     row.append($('<td>').text(data[i].CHQ_DT));
        //                     row.append($('<td>').text(data[i].IAMOUNT));


        //                     tableBody.append(row);
        //                     var sno = data[i].SNO;
        //                 }

        //                 //editButton.click(function(event) {
        //                 snoLink.click(function (event) {
        //                     //var regNo = regNo1;
        //                     //var sno = sno1;
        //                     //LabDtlModify(regNo, sno);
        //                 });
        //             }
        //         },
        //         error: function () {

        //         }

        //     });
        // }
        function InitializeDatatableChild() {
           
            var Lab = $("#ddlppylab").val();
            $("#dtPaymentchild").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: true,
                ajax: {
                    url: "@Url.Action("GetPayment")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            Lab: Lab
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [
                    // {
                    //     targets: 0,
                    //     orderable: false,
                    //     className: 'dt-body-center',
                    //     render: function (data, type, full, meta) {
                    //         if (data.length == 0) {

                    //         }
                    //         else {

                    //             $("#showPayment1").css("display", "block");
                    //             $("#btnp").css("display", "block");
                    //         }
                    //         var sno = data.SNO;
                    //         var regNo = data.SAMPLE_REG_NO;
                    //         return '<input type="checkbox" data-sno="' + sno + '" data-regno="' + regNo + '">';
                    //     },
                    // },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            if (data.length == 0) {

                            }
                            else {

                                $("#showPayment1").css("display", "block");
                                $("#btnp").css("display", "block");
                            }
                            var sno = data.SNO;
                            var regNo = data.SAMPLE_REG_NO;
                            return '<input type="checkbox" data-sno="' + sno + '" data-regno="' + regNo + '">';
                        }
                    },
                    { data: "SAMPLE_REG_NO" },
                    { data: "CASE_NO" },
                    { data: "TOT_CHARGES" },
                    { data: "TDS_AMT" },
                    { data: "TESTING_FEE" },
                    { data: "AMT_CLEARED" },
                    { data: "CHQ_NO" },
                    { data: "CHQ_DT" },
                    { data: "IAMOUNT" }

                    

                ],

                "order": [[0, "asc"]],
            });
        }
        function Click() {

            var text = $("#ddlppylab option:selected").text();
            $("#pytdtl").css("display", "block");
            $("#txtremk").val(text);
        }
        function Save() {
            
            $("#spnError1").html("");
            $("#spnError2").html("");
            $("#spnError3").html("");
            $("#spnError4").html("");
            var IsValid = true;
            // if ($("#lblpyno").val() == "") {
            //     $("#spnError1").html("Please Enter Payment No");
            //     IsValid = false;
            // }
            if ($("#txtAno").val() == "") {
                $("#spnError2").html("Please Enter Instrument No");
                IsValid = false;
            }
            if ($("#dtAdt").val() == "") {
                $("#spnError3").html("Please Enter Instrument Date");
                IsValid = false;
            }
            if ($("#txtamt").val() == "") {
                $("#spnError4").html("Please Enter Amount");
                IsValid = false;
            }
            if (!IsValid) return;
            var selectedsrno = [];
            var selectedregno = [];
            $("input[type='checkbox'][data-sno]:checked").each(function () {
                var sno = $(this).data("sno");
                var regNo = $(this).data("regno");
                selectedsrno.push(sno);
                selectedregno.push(regNo);
            });
            var Srno = selectedsrno.join(',');
            var RegNo = selectedregno.join(',');
            if (selectedregno.length > 0) {
                var LabPaymentFormModel = {
                    PaymentID: $("#lblpyno").val(),
                    PaymentDt: $("#dtpydt").val(),
                    CHQ_NO: $("#txtAno").val(),
                    CHQ_DT: $("#dtAdt").val(),
                    Bank: $("#ddlbank").val(),
                    IAMOUNT: $("#txtamt").val(),
                    Remarks: $("#txtremk").val(),
                    LabCd: $("#ddlppylab").val(),
                    SNO: Srno,
                    SAMPLE_REG_NO: RegNo
                };
                $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    url: "/LabPaymentsForm/SavePayment",
                    dataType: "json",
                    data: JSON.stringify(LabPaymentFormModel),
                    success: function (result) {

                        sessionStorage.setItem("pytid", result.message);
                        if (result.success == true) {

                            alert('Data Saved Successfully!');
                            $("#lblpyno").val(result.message);
                            $("#btnsave").css("display", "none");
                            $("#btnprint").css("display", "block");
                            window.location.href = "@Url.Action("LabPaymentForm", "LabPaymentForm")";
                        }
                        else {

                            alert('Error Occurred. Contact Your admin!');
                            //alert(error);
                        }

                    },
                    error: function (result) {


                        if (result.success == true) {

                            alert('Data Saved Successfully!');
                            $("#lblpyno").val(result.message);
                            $("#btnsave").css("display", "none");
                            $("#btnprint").css("display", "block");
                            window.location.href = "@Url.Action("LabPaymentForm", "LabPaymentForm")";
                        }
                        else {
                            alert('Error Occurred. Contact Your admin!');
                            //alert(error);
                        }

                    }
                });
            }
            else {
                alert("Select atleast One Sample Registration No. to process the Lab Payment.");
            }
        }

        $("#btnprint").click(function () {

            var PaymentID = $("#lblpyno").val();
            var url = '@Url.Action("PrintLabPayment", "LabPaymentsForm")' + '?VOUCHER_NO=' + PaymentID;
            printDirectly(url);
            //window.location.href = '@Url.Action("PrintLabPayment", "LabPaymentsForm")' + '?VOUCHER_NO=' + PaymentID;
        })
        function printDirectly(url) {

            var iframe = document.createElement('iframe');
            iframe.src = url;
            iframe.style.display = 'none';


            document.body.appendChild(iframe);


            setTimeout(function () {
                iframe.contentWindow.print();
            }, 1000);


            setTimeout(function () {
                document.body.removeChild(iframe);
            }, 2000);
        }
    </script>
}