@model IBS.Models.LabPaymentFormModel

@{
    ViewData["Title"] = "EXTERNAL LABORATORY PAYMENT FORM";

    string clsView = "";
    //if (Model.PaymentID != "0")
    //{

    //    clsView = "Permission_View";
    //}
}
@* <style>
    #showPayment1 {
        max-height: 300px; /* Set the maximum height for the scrolling area */
        overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
    }

    

    /* Style for table cells */
    

    /* Style for labels */
    label {
        display: block; /* Make labels block-level to occupy the whole cell width */
        font-weight: bold;
    }

    /* Style for input fields */
    input[type="text"],
    input[type="date"] {
        width: 100%;
        height: 42px;
        border: 1px solid #cccccc;
        border-radius: 6px;
        padding: 5px;
        box-sizing: border-box; /* Ensure the padding is included in the width */
    }

    /* Style for error message */
    .text-danger {
        color: red;
        margin-left: 6%;
    }

    /* Style for left-aligned button */
    .left-button {
        float: left;
        margin-right: 10px;
    }

    /* Style for right-aligned button */
    .right-button {
        float: right;
        margin-left: 10px;
    }

    /* Clear floating elements */
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .table-responsive {
        overflow-x: auto;
        height: 190px;
    }

    .custom-textarea {
        width: 400px;
        height: auto;
    }

    .table-section {
        width: 100%;
        /*height: 400px;*/ /* Set the desired height */
        overflow-y: auto; /* Enable vertical scrollbar if table exceeds height */
    }

    /* Set table width to 100% and disable horizontal scrollbar */
    #dtPayment {
        width: 100%;
        table-layout: fixed;
    }

        /* Style table header cells */
        #dtPayment th {
            background-color: #f2f2f2;
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        /* Style table body cells */
        #dtPayment td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

    /* Add custom scrollbar style for the table section */
    .table-section::-webkit-scrollbar {
        width: 8px;
    }

    .table-section::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

        .table-section::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
</style> *@


<div class="list-inner">
    <div class="tast-list">
        <h2>EXTERNAL LABORATORY PAYMENT FORM</h2>
    </div>
    <div>
        <a asp-action="LabPaymentForm" asp-controller="LabPaymentsForm" class="formBtn viewall-btn">View List</a>
    </div>
</div>
<section class="@clsView">
    <div class="task-listinput">
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-8 mb-3">
                    <label for="PropertyId">Lab</label>
                    @Html.DropDownListFor(model => model.LabCd, Common.GetLab(), new { @id="ddlppylab",@disabled="disabled"})
                    <span asp-validation-for="LabCd" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="showPayment1">
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtPayment" class="class=" table-responsive"">
                    <thead>
                        <tr>

                            <th>Sample Reg No</th>
                            <th>Case No</th>
                            <th>Total Lab Charges</th>
                            @* <th>TDS AMT</th> *@
                            <th>Fees+S.T.</th>
                            <th>Amount Cleared</th>
                            <th>Instrument No</th>
                            <th>Instrument Dt</th>
                            <th>Instrument Amt</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<div class="task-listinput" id="pytdtl">
    <div class="accordion-body">
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <label for="Reference">Payment No.</label>
                <input type="text" class="input" id="lblpyno" readonly="readonly">
                
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Payment Date</label>
                <input type="text" class="input" id="dtpydt" readonly="readonly">
               
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <label for="Reference">Instrument No</label>
                <input type="text" class="input" id="txtAno">

            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Instrument Date</label>
                <input type="text" class="input datepicker" id="dtAdt">

            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Bank</label>
                @Html.DropDownListFor(model => model.Bank, Common.GetBankPayment(), new { @id="ddlbank" , @disabled="disabled"})
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <label for="Reference">Amount</label>
                <input type="text" class="input" id="txtamt" readonly="readonly">

            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Remarks</label>
                <textarea class="input" asp-for="Remarks" id="txtremk"> </textarea>
                
            </div>
        </div>
        <div class="savenext-btn" style="margin-left:47%;">
            <button type="button" class="save-btn active Permission_Save" onclick="Save();" id="btnsave">Save</button>
            <button type="button" class="save-btn active" id="btnprint">Print</button>
        </div>
    </div>
</div>

@*</form>*@
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>
        function InitializeDatatable() {

            $("#dtPayment").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTableEdit")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            PaymentID: '@ViewBag.PaymentID'
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups

                    { data: "SAMPLE_REG_NO" },
                    { data: "CASE_NO" },
                    { data: "TOT_CHARGES" },
                    // { data: "TDS_AMT" },
                    { data: "TESTING_FEE" },
                    { data: "AMT_CLEARED" },
                    { data: "CHQ_NO" },
                    { data: "CHQ_DT" },
                    { data: "IAMOUNT" }
                ],
                "order": [[0, "asc"]]
            });
        }
        $(function () {
            var PaymentID = '@ViewBag.PaymentID';
            Edit(PaymentID);
            InitializeDatatable();
            // GetPayment();
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy" // Set the date format to "dd/mm/yy"
            });
            var today = new Date();
            //$("#dtregdt").val(today.getFullYear() + '-' + ('0' + (today.getMonth() - 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
            $("#dtpydt").val(('0' + (today.getMonth() + 1)).slice(-2) + '/' + ('0' + today.getDate()).slice(-2) + '/' + (today.getFullYear()));
        });
        $("#btnp").click(function () {
            $('html, body').animate({
                scrollTop: $("#pytdtl").offset().top
            }, 1000);
        });
        function cancel() {
            window.location.href = "/LabPaymentsForm/LabPaymentForm";
        }
        function GetPayment() {


            var PaymentID = '@ViewBag.PaymentID';
            var url = '@Url.Action("LoadTableEdit", "LabPaymentsForm")';
            $.ajax({
                //url: '/LabPaymentsForm/LoadTableEdit', // Replace with your actual endpoint URL
                url:url,
                type: 'POST',
                dataType: 'json',
                data: { PaymentID: PaymentID },
                success: function (data) {

                    if (data.length == 0) {

                    }
                    else {

                        $("#showPayment1").css("display", "block");
                        $("#btnp").css("display", "block");

                        // Once data is successfully received, populate the table
                        var tableBody = $('#tableBody');
                        tableBody.empty(); // Clear existing rows (if any)
                        for (i = 0; i < data.length; i++) {

                            var row = $('<tr>');
                            //row.append($('<td>').text(data[i].SNO)); // SRNo.
                            //var snoLink = $('<a>').text("Select").attr('id', "editButton").css({ 'color': 'blue', 'text-decoration': 'none' });
                            //var snoLink = $('<input>').attr({ 'type': 'checkbox', 'data-sno': data[i].SNO, 'data-regno': data[i].SAMPLE_REG_NO });

                            //var snoCell = $('<td>').append(snoLink);
                            //row.append(snoCell);
                            row.append($('<td>').text(data[i].SAMPLE_REG_NO));
                            row.append($('<td>').text(data[i].CASE_NO));
                            row.append($('<td>').text(data[i].TOT_CHARGES));
                            row.append($('<td>').text(data[i].TDS_AMT));
                            row.append($('<td>').text(data[i].TESTING_FEE));
                            row.append($('<td>').text(data[i].AMT_CLEARED));
                            row.append($('<td>').text(data[i].CHQ_NO));
                            row.append($('<td>').text(data[i].CHQ_DT));
                            row.append($('<td>').text(data[i].IAMOUNT));


                            tableBody.append(row);
                            //var sno = data[i].SNO;
                        }

                        //editButton.click(function(event) {
                        //snoLink.click(function (event) {
                        //    //var regNo = regNo1;
                        //    //var sno = sno1;
                        //    //LabDtlModify(regNo, sno);
                        //});
                    }
                },
                error: function () {

                }

            });
        }

        function Click() {

            var text = $("#ddlppylab option:selected").text();
            $("#pytdtl").css("display", "block");
            $("#txtremk").val(text);
        }
        function Save() {



            var LabPaymentFormModel = {
                PaymentID: $("#lblpyno").val(),
                CHQ_NO: $("#txtAno").val(),
                CHQ_DT: $("#dtAdt").val(),
                Remarks: $("#txtremk").val()
            };
            var url = '@Url.Action("UpdatePayment", "LabPaymentsForm")';
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                //url: "/LabPaymentsForm/UpdatePayment",
                url:url,
                dataType: "json",
                data: JSON.stringify(LabPaymentFormModel),
                success: function (result) {

                    sessionStorage.setItem("pytid", result.message);
                    if (result.success == true) {

                        alert('Data Saved Successfully!');
                        $("#lblpyno").val(result.message);
                        $("#btnsave").css("display", "none");
                        $("#btnprint").css("display", "block");
                        //window.location.href = "@Url.Action("Index", "LabRegisterForm")";
                    }
                    else {

                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }

                },
                error: function (result) {


                    if (result.success == true) {

                        alert('Data Saved Successfully!');
                        $("#lblpyno").val(result.message);
                        $("#btnsave").css("display", "none");
                        $("#btnprint").css("display", "block");
                        //window.location.href = "@Url.Action("Index", "LabRegisterForm")";
                    }
                    else {
                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }

                }
            });

            //else
            //{
            //    alert("Select atleast One Sample Registration No. to process the Lab Payment.");
            //}
        }
        function printDirectly(url) {

            var iframe = document.createElement('iframe');
            iframe.src = url;
            iframe.style.display = 'none';


            document.body.appendChild(iframe);


            setTimeout(function () {
                iframe.contentWindow.print();
            }, 1000);


            setTimeout(function () {
                document.body.removeChild(iframe);
            }, 2000);
        }
        $("#btnprint").click(function () {
            
            var PaymentID = $("#lblpyno").val();
            //window.location.href = '@Url.Action("PrintLabPayment", "LabPaymentsForm")' + '?VOUCHER_NO=' + PaymentID;
            var url = '@Url.Action("ManagePrint", "LabPaymentsForm")' + '?VOUCHER_NO=' + PaymentID;
            window.open(url, '_blank');
            //printDirectly(url);
        })
        function Edit(PaymentID) {

            var PaymentID = PaymentID;
            var url = '@Url.Action("Edit", "LabPaymentsForm")';
            $.ajax({
                //url: '/LabPaymentsForm/Edit',
                url:url,
                type: "POST",
                dataType: "JSON",
                data: { PaymentID: PaymentID },

                success: function (success) {

                    var parts = success.PaymentDt.split('/');
                    var PaymentDt = parts[1] + '/' + parts[0] + '/' + parts[2];

                    var parts1 = success.CHQ_DT.split('/');
                    var CHQ_DT = parts1[1] + '/' + parts1[0] + '/' + parts1[2];
                    //$("#dtregdt").val(success.SampleRegDate);
                    $("#lblpyno").val(success.PaymentID);
                    $("#dtpydt").val(PaymentDt);
                    $("#txtAno").val(success.CHQ_NO);
                    $("#dtAdt").val(CHQ_DT);
                    $("#ddlbank").val(success.BankCD);
                    $("#txtamt").val(success.Amount);
                    $("#ddlppylab").val(success.LabCd);
                    $("#txtremk").val(success.Remarks);


                }

            });
        }
    </script>
}