@model IBS.Models.LabPaymentFormModel

<style>
    
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    .accordion-body {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
    }

    .my-0 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .mb-3 {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
    }

    .col-md-4,
    .col-md-2,
    .col-md-6 {
        margin-bottom: 15px;
    }

    .input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    
    .row .col-md-4 {
        flex: 0 0 calc(33.333% - 10px); 
        max-width: calc(33.333% - 10px); 
        margin-right: 10px; 
    }

        .row .col-md-4:last-child {
            margin-right: 0;
        }

    .row.my-0 {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto; 
    }

    .col-md-4 {
        flex: 0 0 auto; 
        width: auto; 
        margin-right: 10px; 
    }

        .col-md-4:last-child {
            margin-right: 0; 
        }
   
</style>
<h3 class="center">LAB PAYMENT VOUCHER <span class="orangeText"> (@ViewBag.Region) </span></h3>

<div class="task-listinput">
    <div class="accordion-body">
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <label for="Reference">Voucher No.</label>
                <input type="text" class="input" id="lblvno" asp-for="PaymentID" readonly="readonly">
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Dated:</label>
                <input type="text" class="input" id="dtdt" asp-for="PaymentDt"  readonly="readonly">
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">CHQ No.</label>
                <input type="text" class="input" id="lblcno" asp-for="CHQ_NO" readonly="readonly">
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <label for="Reference">Dated:</label>
                <input type="text" class="input" id="lbldt" asp-for="PaymentDt" readonly="readonly">
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Bank:</label>
                <input type="text" class="input" id="lblbnk" asp-for="Bank" readonly="readonly">
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference">Amount:</label>
                <input type="text" class="input" id="lblamt" asp-for="Amount" readonly="readonly">
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <label for="Reference">Laboratory:</label>
                <input type="text" class="input" id="lbllab" asp-for="Lab" readonly="readonly">
            </div>
        </div>
    </div>
</div>

<div class="tableOuter">
    <table class="borderTable" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>

                <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Account Code</font></b></th>
                <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Sub Code</font></b></th>
                <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">SBU Code</font></b></th>
                <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Project Code</font></b></th>
                <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Sample Register No.</font></b></th>
                <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Amount</font></b></th>
                
            </tr>
            @if (Model != null && Model.lstPrint != null && Model.lstPrint.Count > 0)
            {
                
                @foreach (var item in Model.lstPrint)
                {

                    <tr>
                        <td width="25%" valign="top" align="right">
                            <font size="1" face="Verdana">
                                @item.AccountCd
                            </font>
                        </td>
                        <td width="25%" valign="top" align="right">
                            <font size="1" face="Verdana">
                                @item.SubCd
                            </font>
                        </td>
                        <td width="25%" valign="top" align="right">
                            <font size="1" face="Verdana">
                                @item.SBUCd
                            </font>
                        </td>
                        <td width="25%" valign="top" align="right">
                            <font size="1" face="Verdana">
                                @item.ProjectCd
                            </font>
                        </td>
                        <td width="25%" valign="top" align="right">
                            <font size="1" face="Verdana">
                                @item.SAMPLE_REG_NO
                            </font>
                        </td>
                        <td width="25%" valign="top" align="right">
                            <font size="1" face="Verdana">
                                @item.Amount
                            </font>
                        </td>
                        
                    </tr>
                }

                
            }
            else
            {
                <tr>
                    <td colspan="6" class="noRecordGrid">No records found</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@* <section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="printlab" class="table-responsive">
                <thead>
                    <tr>
                        <th>Account Code</th>
                        <th>Sub Code</th>
                        <th>SBU Code</th>
                        <th>Project Code</th>
                        <th>Sample Reg No</th>
                        <th>Amount</th>                       
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section> *@

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy" 
            });

            var pyid = '@ViewBag.PaymentID';

           // Print(pyid);
           // InitializeDatatable(pyid);
        });
        function InitializeDatatable(pyid) {

            $("#printlab").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: false,
                destroy: false,
                paging: false,
                searching: false,
                ajax: {
                    url: "@Url.Action("PrintLoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            pyid: pyid
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [

                    { data: "AccountCd" },
                    { data: "SubCd" },
                    { data: "SBUCd" },
                    { data: "ProjectCd" },
                    { data: "SAMPLE_REG_NO" },
                    { data: "Amount" }

                ],
                "order": [[0, "asc"]]
            });
        }
        function Print(pyid) {

            var VOUCHER_NO = pyid;
            var url = '@Url.Action("PrintLapPayments", "LabPaymentsForm")';
            $.ajax({
                //url: '/LabPaymentsForm/PrintLapPayments',
                url:url,
                type: "POST",
                dataType: "JSON",
                data: { VOUCHER_NO: VOUCHER_NO },

                success: function (success) {

                 
                    //$("#dtregdt").val(success.SampleRegDate);
                    $("#lblvno").val(success.PaymentID);
                    $("#dtdt").val(success.PaymentDt);
                    $("#lblcno").val(success.CHQ_NO);
                    $("#lbldt").val(success.CHQ_DT);
                    $("#lblbnk").val(success.Bank);
                    $("#lblamt").val(success.Amount);
                    $("#lbllab").val(success.Lab);
                    // $("#lblregno").text(success.SAMPLE_REG_NO);
                    // $("#lbliamt").text(success.IAMOUNT);

                }

            });
        }
                        //completed = function (response) {
                        //    var res = response.responseJSON;
                        //    ShowHideMsgNew(res.status, res.responseText);
                        //    window.location.href = "/LaboratoryMaster/LaboratoryMaster";
                        //};
        // $(document).ajaxSend(function () {
        //     $(".overlayLoader").show();
        // });

        // $(document).ajaxComplete(function () {
        //     $(".overlayLoader").hide();
        // });
        // $(function () {
        //     generatePdf(true);
        // });
        // function generatePdf(isPrint) {
        //     var HTML = $('#print').html();

        //     $.ajax({
        //         url: "@Url.Action("GeneratePDF", "LabPaymentsForm")",
        //         type: "POST",
        //         contentType: "application/x-www-form-urlencoded",
        //         data: { htmlContent: HTML },
        //         xhrFields: {
        //             responseType: 'blob'
        //         },
        //         success: function (result) {
        //             var url = window.URL.createObjectURL(result);
        //             if (isPrint) {
        //                 iframe = document.createElement('iframe');
        //                 document.body.appendChild(iframe);

        //                 iframe.style.display = 'none';
        //                 iframe.src = url;
        //                 iframe.onload = function () {
        //                     setTimeout(function () {
        //                         iframe.focus();
        //                         iframe.contentWindow.print();
        //                     }, 1);
        //                 };
        //             }
        //             else {
        //                 var a = document.createElement('a');
        //                 a.href = url;
        //                 a.download = getExportFileName(fileName) + '.pdf';
        //                 document.body.append(a);
        //                 a.click();
        //                 a.remove();
        //                 window.URL.revokeObjectURL(url);
        //             }
        //         },
        //         error: function (error) {
        //             console.error(error);
        //         }
        //     });
        // }
    </script>
}