@model IBS.Models.LabReportsModel

<div>
    <h3 class="center">(@ViewBag.Region)</h3>


    <h3 class="center">Lab Posting Report For The Period: <span class="orangeText"> @ViewBag.From </span> To <span class="orangeText">@ViewBag.To </span></h3>

    <br>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>

                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">S.No.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Sample Reg No.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Sample Reg Date</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Case No.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Call Date</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Call Sno</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Vendor</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">IE</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Total Lab Charge</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Amount Cleared By DD</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">TDS</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">TDS Date</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Due</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Chq No.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Chq Dt.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Chq Amount</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Amount Adjusted</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Chq Case No</font></b></th>


                </tr>
                @if (Model != null && Model.lstLabReport != null && Model.lstLabReport.Count > 0)
                {
                    var serialNumber = 1;
                    @foreach (var item in Model.lstLabReport)
                    {

                        <tr>
                            <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@serialNumber</font></td>
                            <td width="25%" valign="top" align="left">
                                <font size="1" face="Verdana">
                                    @item.SAMPLE_REG_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="left">
                                <font size="1" face="Verdana">
                                    @item.SAMPLE_REG_DATE
                                </font>
                            </td>
                            <td width="25%" valign="top" align="left">
                                <font size="1" face="Verdana">
                                    @item.CASE_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CALL_RECV_DATE
                                </font>
                            </td>
                            <td width="25%" valign="top" align="left">
                                <font size="1" face="Verdana">
                                    @item.CALL_SNO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="left">
                                <font size="1" face="Verdana">
                                    @item.VENDOR
                                </font>
                            </td>
                            <td width="25%" valign="top" align="left">
                                <font size="1" face="Verdana">
                                    @item.IE_NAME
                                </font>
                            </td>
                            <td width="25%" valign="top" align="right">
                                <font size="1" face="Verdana">
                                    @item.TOTAL_LAB_CHARGES
                                </font>
                            </td>
                            <td width="25%" valign="top" align="right">
                                <font size="1" face="Verdana">
                                    @item.AMOUNT_RECIEVED
                                </font>
                            </td>
                            <td width="25%" valign="top" align="right">
                                <font size="1" face="Verdana">
                                    @item.TDS_AMT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="right">
                                <font size="1" face="Verdana">
                                    @item.TDS_DATE
                                </font>
                            </td>
                            <td width="25%" valign="top" align="right">
                                <font size="1" face="Verdana">
                                    @item.AMT_DUE
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CHQ_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CHQ_DATE
                                </font>
                            </td>
                            <td width="25%" valign="top" align="right">
                                <font size="1" face="Verdana">
                                    @item.AMOUNT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="right">
                                <font size="1" face="Verdana">
                                    @item.AMOUNT_ADJUSTED
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CHQ_CASE_NO
                                </font>
                            </td>


                        </tr>
                        serialNumber++;
                    }

                }
                else
                {
                    <tr>
                        <td colspan="17" class="noRecordGrid">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


