@model IBS.Models.Reports.ConsignRejectModel
<style>
    .borderTable td:nth-child(5), .borderTable th:nth-child(5){ width:80px;}
    .borderTable td:nth-child(13), .borderTable th:nth-child(13), .borderTable td:nth-child(14), .borderTable th:nth-child(14), .borderTable td:nth-child(17), .borderTable th:nth-child(17) {
        width: 150px;
    }
</style>
<div style="margin-left:5px;margin-right:5px;">
    <h3 class="center">(@Model.Region), RITES Ltd.</h3>
    <h3 class="center">Details of Online Consignee Rejections for the Period : <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate </span></h3>

    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th width="3%" valign="top" align="center"><b>S.No.</b></th>
                    <th width="4%" valign="top" align="center"><b>Temp Rej No.</b></th>
                    <th width="4%" valign="top" align="center"><b>Temp Rej Date</b></th>
                    <th width="5%" valign="top" align="center"><b>Consiegnee Name</b></th>
                    <th width="8%" valign="top" align="center"><b>Consignee Desig</b></th>
                    <th width="5%" valign="top" align="center"><b>Consignee Email</b></th>
                    <th width="5%" valign="top" align="center"><b>Consignee Tel</b></th>
                    <th width="3%" valign="top" align="center"><b>Rej Memo No.</b></th>
                    <th width="4%" valign="top" align="center"><b>Rej Memo Dt.</b></th>
                    <th width="5%" valign="top" align="center"><b>Case No.</b></th>
                    <th width="4%" valign="top" align="center"><b>BK NO</b></th>
                    <th width="4%" valign="top" align="center"><b>SET NO</b></th>
                    <th width="7%" valign="top" align="center"><b>Vendor</b></th>
                    <th width="14%" valign="top" align="center"><b>Item Desc</b></th>
                    <th width="3%" valign="top" align="center"><b>Qty Rej</b></th>
                    <th width="5%" valign="top" align="center"><b>Rej Value</b></th>
                    <th width="5%" valign="top" align="center"><b>Rej Reason</b></th>
                    <th width="4%" valign="top" align="center"><b>Status</b></th>
                    <th width="4%" valign="top" align="center"><b>Complaint ID</b></th>
                    <th width="5%" valign="top" align="center"><b>Reason For Rejection</b></th>
                    <th width="5%" valign="top" align="center"><b>JI Required</b></th>
                    <th width="4%" valign="top" align="center"><b>JI SNO</b></th>
                </tr>
                @if (Model != null && Model.lstConsignReject != null && Model.lstConsignReject.Count > 0)
                {
                    @foreach (var item in Model.lstConsignReject)
                    {
                        <tr>
                            <td valign="top" align="center">@item.ID</td>
                            <td valign="top" align="center">@item.TempComplaintId.</td>
                            <td valign="top" align="center">@item.Display_TempComplaintDt</td>
                            <td valign="top" align="center">@item.ConsigneeName</td>
                            <td valign="top" align="center">@item.ConsigneeDesig</td>
                            <td valign="top" align="center">@item.ConsigneeEmail</td>
                            <td valign="top" align="center">@item.ConsigneeMobile</td>
                            <td valign="top" align="center">@item.RejMemoNo</td>
                            <td valign="top" align="center">@item.Display_RejMemoDt</td>
                            <td valign="top" align="center">@item.CaseNo</td>
                            <td valign="top" align="center">@item.BkNo</td>
                            <td valign="top" align="center">@item.SetNo</td>
                            <td valign="top" align="center">@item.Vendor</td>
                            <td valign="top" align="center">@item.ItemDesc</td>
                            <td valign="top" align="center">@item.QtyRejected</td>
                            <td valign="top" align="center">@item.RejectionValue</td>
                            <td valign="top" align="center">@item.RejectionReason</td>
                            <td valign="top" align="center">@item.Status</td>
                            <td valign="top" align="center">@item.ComplaintId</td>
                            <td valign="top" align="center">@item.TempCompRejReason</td>
                            <td valign="top" align="center">@item.JiRequired</td>
                            <td valign="top" align="center">@item.JiSno</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="23" class="noRecordGrid">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





