@model IBS.Models.Reports.ICIssuedNotReceivedModel

@{
    string currDate = DateTime.Now.ToString("dd/MM/yyyy - hh:mm tt");
}

<div style="margin-left:5px;margin-right:5px;">
    <h3 class="center"><span class="orangeText"> @Model.Region </span></h3>
    <h3 class="center">IC Issued but not Received in Office For the Period : <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate </span> ---- Status as on : <span class="orangeText">@currDate </span></h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">S.No</font></b></th>
                    <th width="40%" valign="top" align="center"><b><font size="1" face="Verdana">CM Name</font></b></th>
                    <th width="40%" valign="top" align="center"><b><font size="1" face="Verdana">IE Name</font></b></th>
                    <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">No of IC</font></b></th>
                </tr>
                @if (Model != null && Model.lstICIssuedNotReceived != null && Model.lstICIssuedNotReceived.Count > 0)
                {
                    string CO_NAME = string.Empty;
                    int Sno = 0;

                    @foreach (var item in Model.lstICIssuedNotReceived)
                    {
                        if (CO_NAME == item.CO_NAME)
                        {
                            <tr>
                                <td width="50%" valign="top" align="center" colspan="2"><font size="1" face="Verdana"></font></td>
                                <td width="40%" valign="top" align="center"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                                <td width="10%" valign="top" align="center"><font size="1" face="Verdana">@decimal.Truncate(item.NO_IC)</font></td>
                            </tr>
                        }
                        else
                        {
                            if (Sno != 0)
                            {
                                <tr class="reportTotal">
                                    <td width="80%" valign="top" align="right" colspan="3"><font size="1" face="Verdana"><b>Total for @CO_NAME : </b></font></td>
                                    <td width="20%" valign="top" align="center"><font size="1" face="Verdana">@decimal.Truncate(Model.lstICIssuedNotReceived.Where(x => x.CO_NAME == CO_NAME).Sum(x => x.NO_IC))</font></td>
                                </tr>
                            }
                            Sno = Sno + 1;
                            <tr>
                                <td width="10%" valign="top" align="center"><font size="1" face="Verdana">@Sno</font></td>
                                <td width="40%" valign="top" align="center"><font size="1" face="Verdana">@item.CO_NAME</font></td>
                                <td width="40%" valign="top" align="center"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                                <td width="10%" valign="top" align="center"><font size="1" face="Verdana">@decimal.Truncate(item.NO_IC)</font></td>
                            </tr>
                            CO_NAME = item.CO_NAME;
                        }
                    }
                    <tr class="reportTotal">
                        <td width="90%" valign="top" align="right" colspan="3"><font size="1" face="Verdana"><b>Total for @CO_NAME : </b></font></td>
                        <td width="10%" valign="top" align="center"><font size="1" face="Verdana">@decimal.Truncate(Model.lstICIssuedNotReceived.Where(x => x.CO_NAME == CO_NAME).Sum(x => x.NO_IC))</font></td>
                    </tr>
                    <tr class="reportTotal">
                        <td width="90%" valign="top" align="right" colspan="3"><font size="1" face="Verdana"><b>Grand Total</b></font></td>
                        <td width="10%" valign="top" align="center"><font size="1" face="Verdana">@decimal.Truncate(Model.lstICIssuedNotReceived.Sum(x => x.NO_IC))</font></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="4" class="noRecordGrid">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


