@using System.Web;

@model IBS.Models.Reports.ManagementReportsModel

@{
    Layout = null;
    string ReportType = (Model != null ? Model.ReportType : "");
    string ReportTitle = (Model != null ? Model.ReportTitle : "");
    ViewData["Title"] = ReportTitle;
    string gobackUrl = Url.Action("Index?ReportType=" + ReportType, "ManagementReports");
}

<html>
<head>
    <title>@ReportTitle</title>
</head>
<body>
    <p align="right">
        <a href="@Html.Raw(@HttpUtility.UrlDecode(gobackUrl))"><input type="button" class="commonBtn" value="Go Back" /></a>
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    <div id="dvReportViewer"></div>
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</body>
</html>

<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/site.js"></script>

<script type="text/javascript">

    var fileName = '';

    $(document).ready(function () {
        if ('@ReportType' == 'IE_X') {
            loadIEPerformance();
            fileName = 'IE_Performance';
        }
        else if ('@ReportType' == 'CLUSTER_X') {
            loadClusterPerformance();
            fileName = 'Cluster_Performance';
        }
        else if ('@ReportType' == 'RWB') {
            loadRWBSummary();
            fileName = 'Region_Wise_Billing_Summary';
        }
        else if ('@ReportType' == 'R') {
            loadRWCO();
            fileName = 'Region_Wise_Comparison_Outstanding';
        }
        else if ('@ReportType' == 'ICSUBMIT') {
            loadICSubmission();
            fileName = 'IC_Submission';
        }
        else if ('@ReportType' == 'CALLSWITHOUTIC') {
            loadPendingICAgainstCalls();
            fileName = 'Pending_IC_Against_Calls';
        }
        else if ('@ReportType' == 'SUPSUR') {
            loadSuperSurpriseDetails();
            fileName = 'Super_Surprise_Details';
        }
        else if ('@ReportType' == 'SUPSURPSUMM') {
            loadSuperSurpriseSummary();
            fileName = 'Super_Surprise_Summary';
        }
        else if ('@ReportType' == 'CONSIGN_REJECT') {
            loadSuperConsignReject();
            fileName = 'Consign_Reject';
        }
        else if ('@ReportType' == 'X') {
            loadOutstandingOverRegion();
            fileName = 'Outstanding_Over_Region';
        }
        else if ('@ReportType' == 'CLIENTWISEREJ') {
            loadClientWiseRejection();
            fileName = 'Client_Wise_Rejection';
        }
        else if ('@ReportType' == 'NON_CONFORMITY') {
            loadNonConformity();
            fileName = 'Non_Conformity';
        }
        else if ('@ReportType' == 'PENDING_CALLS') {
            loadPendingCalls();
            fileName = 'Pending_Calls';
        }
        else if ('@ReportType' == 'COUNTIC') {
            loadICIssuedNotReceived();
            fileName = 'IC_Issued_Not_Received';
        }
        else if ('@ReportType' == 'HIGHVALUE') {
            loadTentativeInspectionFeeWisePendingCalls();
            fileName = 'Inspection_Fee_Wise_Pending_Calls';
        }
        else if ('@ReportType' == 'REMARKING') {
            loadCallRemarking();
            fileName = 'Call_Remarking';
        }
        else if ('@ReportType' == 'CALL_DETAILS') {
            loadCallDetailsDashborad();
            fileName = 'Call_Details_Dashborad';
        }
    });

    function loadIEPerformance() {
        $("#dvReportViewer").load("@Url.Action("IEPerformance")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadClusterPerformance() {
        $("#dvReportViewer").load("@Url.Action("ClusterPerformance")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadRWBSummary() {
        $("#dvReportViewer").load("@Url.Action("RegionWiseBillingSummary")", { FromYearMonth: '@Model.FromYearMonth', ToYearMonth: '@Model.ToYearMonth' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadRWCO() {
        $("#dvReportViewer").load("@Url.Action("RegionWiseComparisonOutstanding")", { FromDate: '@Model.FromDate', Outstanding: '@Model.Outstanding' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadICSubmission() {
        $("#dvReportViewer").load("@Url.Action("ICSubmission")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadPendingICAgainstCalls() {
        $("#dvReportViewer").load("@Url.Action("PendingICAgainstCalls", "ManagementReports")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadSuperSurpriseDetails() {
        $("#dvReportViewer").load("@Url.Action("SuperSurpriseDetails", "ManagementReports")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate', ParticularCM: '@Model.ParticularCM', ParticularSector: '@Model.ParticularSector' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadSuperSurpriseSummary() {
        $("#dvReportViewer").load("@Url.Action("SuperSurpriseSummary", "ManagementReports")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadSuperConsignReject() {
        $("#dvReportViewer").load("@Url.Action("ConsignReject", "ManagementReports")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate', InspRegion: '@Model.Region', Status: '@Model.Status' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadOutstandingOverRegion() {
        $("#dvReportViewer").load("@Url.Action("OutstandingOverRegion")", { FromDate: '@Model.FromDate' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadClientWiseRejection() {
        $("#dvReportViewer").load("@Url.Action("ClientWiseRejection")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate', ClientType: '@Model.ClientType', BPORailway: '@Model.BPORailway' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadNonConformity() {
        $("#dvReportViewer").load("@Url.Action("NonConformity")", { FromYearMonth: '@Model.FromYearMonth', ToYearMonth: '@Model.ToYearMonth', IeCd: '@Model.IeCd' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadPendingCalls() {
        $("#dvReportViewer").load("@Url.Action("PendingCalls")", {}, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadICIssuedNotReceived() {
        $("#dvReportViewer").load("@Url.Action("ICIssuedNotReceived")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadTentativeInspectionFeeWisePendingCalls() {
        $("#dvReportViewer").load("@Url.Action("TentativeInspectionFeeWisePendingCalls", "ManagementReports")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate', ParticularCM: '@Model.ParticularCM', SortedOn: '@Model.SortedOn' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadCallRemarking() {
        $("#dvReportViewer").load("@Url.Action("CallRemarking", "ManagementReports")", { FromDate: '@Model.FromDate', ToDate: '@Model.ToDate', CallRemarkingDate: '@Model.CallRemarkingDate', CallsStatus: '@Model.CallsStatus' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    function loadCallDetailsDashborad() {
        $("#dvReportViewer").load("@Url.Action("CallDetailsDashborad")", {}, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnExportToExcel").click(function () {
        var html = $('#dvReportViewer').html();
        html = html.replaceAll('class="borderTable"', 'border="1"');

        let file = new Blob([html], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    $("#btnTest").click(function () {
        var HTML = $('#dvReportViewer').html();


    });

    function generatePdf(isPrint) {
        $.ajax({
            url: "@Url.Action("GeneratePDF", "ManagementReports")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            data: { ReportType: '@ReportType' },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (result) {
                var url = window.URL.createObjectURL(result);
                if (isPrint) {
                    iframe = document.createElement('iframe');
                    document.body.appendChild(iframe);

                    iframe.style.display = 'none';
                    iframe.src = url;
                    iframe.onload = function () {
                        setTimeout(function () {
                            iframe.focus();
                            iframe.contentWindow.print();
                        }, 1);
                    };
                }
                else {
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = getExportFileName(fileName) + '.pdf';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

</script>
