@model IBS.Models.Reports.PendingICAgainstCallsModel

<div style="margin-left:5px;margin-right:5px;">
    <h3 class="center">Pending IC against calls where material has been Accepted or Rejected and Pending, For the Period :  <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate </span> (@Model.Region)</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th width="7%" valign="top" align="center"><b><font size="1" face="Verdana">S.No.</font></b></th>
                    <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">CASE NO.</font></b></th>
                    <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">CALL DATE</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="1" face="Verdana">CALL SNO</font></b></th>
                    <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">CALL STATUS</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font size="1" face="Verdana">IE</font></b></th>
                    <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">IE STATUS</font></b></th>
                </tr>
                @if (Model != null && Model.lstPendingICAgainstCalls != null && Model.lstPendingICAgainstCalls.Count > 0)
                {
                    @foreach (var item in Model.lstPendingICAgainstCalls)
                    {
                        <tr>
                            <td width="7%" valign="top" align="center"><font size="1" face="Verdana">@item.ID</font></td>
                            <td width="15%" valign="top" align="center"><font size="1" face="Verdana">@item.CASE_NO</font></td>
                            <td width="15%" valign="top" align="center"><font size="1" face="Verdana">@item.Display_CALL_RECV_DT</font></td>
                            <td width="8%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_SNO</font></td>
                            <td width="15%" valign="top" align="center"><font size="1" face="Verdana">@item.STATUS</font></td>
                            <td width="25%" valign="top" align="center"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                            <td width="15%" valign="top" align="center"><font size="1" face="Verdana">@item.IE_STATUS</font></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="noRecordGrid">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





