@using IBS.Helper;
@model IBS.Models.OnlineComplaints

@{
    ViewData["Title"] = "Create NCR";
    string clsView = "";
    if (Model.CaseNo != null)
    {
        clsView = "Permission_View";
    }
}
<div class="list-inner">
    <div class="tast-list">
        <h2>ONLINE REJECTIONS APPROVAL FORM</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="ComplaintApproval" class="formBtn viewall-btn">View List</a>
    </div>
</div>

<section class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="ComplaintApproval" asp-action="Manage" data-ajax-method="post" data-ajax-complete="completed" id="frmComplaints" enctype="multipart/form-data">
            <div class="accordion-body">
                <div class="row my-0">
                    <input type="text" asp-for="ItemSrnoPo"  hidden>
                    <input type="text" asp-for="UomCd" hidden>
                    <input type="text" asp-for="Rate"  hidden>
                    <input type="text" asp-for="RejectionValue"  hidden>
                    <input type="text" asp-for="CaseNo" hidden>
                    <input type="text" asp-for="VendCd"  hidden>
                    <input type="text" asp-for="ConsigneeCd" hidden>
                    <input type="text" asp-for="IE_CD" hidden>
                    <input type="text" asp-for="CoCd"  hidden>
                    <input type="text" asp-for="ITEM_DESC_PO" hidden>
                    <input type="text" asp-for="Regioncode" hidden>
                    <input type="text" asp-for="CaseNo" hidden>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Temp Rejection ID</label>
                        <input type="text" class="input" ASP-FOR="TEMP_COMPLAINT_ID"  maxlength="300" readonly />
                        <span asp-validation-for="TEMP_COMPLAINT_ID" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Temp Rejection Date</label>
                        <input type="text" class="input" ASP-FOR="TempComplaintDt" maxlength="300" asp-format="{0:dd-MM-yyyy}" readonly />
                        <span asp-validation-for="TempComplaintDt" class="text-danger"></span>
                    </div>
               
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Book No.</label>
                        <input type="text" class="input" ASP-FOR="BKNo" maxlength="300" readonly />
                        <span asp-validation-for="BKNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Set No.</label>
                        <input type="text" class="input" ASP-FOR="SetNo" maxlength="300"  readonly />
                        <span asp-validation-for="SetNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Contract No.</label>
                        <input type="text" class="input" ASP-FOR="Contract" id="PONO" maxlength="300" readonly />
                        <span asp-validation-for="Contract" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Date</label>
                        <input type="text" class="input" ASP-FOR="Date" id="PODT" maxlength="300" asp-format="{0:dd-MM-yyyy}"  readonly />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">IC No.</label>
                        <input type="text" class="input" ASP-FOR="IC_NO" maxlength="300" readonly />
                        <span asp-validation-for="IC_NO" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">IC Date</label>
                        <input type="text" class="input" ASP-FOR="IC_DT" maxlength="300" asp-format="{0:dd-MM-yyyy}"  readonly />
                        <span asp-validation-for="IC_DT" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Consignee</label>
                        <input type="text" class="input" ASP-FOR="Consignee" maxlength="300" readonly />
                        <span asp-validation-for="Consignee" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Vendor</label>
                        <input type="text" class="input" ASP-FOR="Vendor" maxlength="300" readonly />
                        <span asp-validation-for="Vendor" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Inspecting Er.</label>
                        <input type="text" class="input" ASP-FOR="InspER" maxlength="300" readonly />
                        <span asp-validation-for="InspER" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Item</label>
                        <input type="text" class="input" ASP-FOR="Item" maxlength="300" readonly />
                        <span asp-validation-for="Item" class="text-danger"></span>
                    </div>

                     <div class="col-md-3 mb-3">
                        <label for="Reference">Qty. as per IC</label>
                        <input type="text" class="input" ASP-FOR="QtyperIC" maxlength="300" readonly />
                        <span asp-validation-for="QtyperIC" class="text-danger"></span>
                    </div>
                     <div class="col-md-3 mb-3">
                        <label for="Reference">Qty. Rejected</label>
                        <input type="text" class="input" ASP-FOR="RejectionValue" maxlength="300" readonly />
                        <span asp-validation-for="RejectionValue" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Reasons of Rejection</label>
                        <input type="text" class="input" ASP-FOR="RejectionReason" maxlength="300" readonly />
                        <span asp-validation-for="RejectionReason" class="text-danger"></span>
                    </div>
                    <div class="col-md-10 mb-10" id="rejectvalue">
                        <label for="Reference">Reason for not accepting Rejection (250 CHARS ONLY)</label>
                        <input type="text" class="input" ASP-FOR="Reasonforreject"  maxlength="300" />
                        <span asp-validation-for="Reasonforreject" class="text-danger"></span>
                    </div>   
                    <div class="col-md-3 mb-3" id="nojiotherfield">
                        <label for="Reference">Reason for NO JI Others</label>
                        <input type="text" class="input" ASP-FOR="NoJiOther" maxlength="300" readonly />
                        <span asp-validation-for="NoJiOther" class="text-danger"></span>
                    </div>
                   
                    <div class="col-md-3 mb-3" id="NOJIReasons">
                        <label>Joint Inspection Engineer</label>
                        @Html.DropDownListFor(model => model.NoJIReason, new SelectList(IBS.Models.Common.NOJIReasons() , "Value", "Text"))
                    </div>
                    <div class="col-md-3 mb-3">
                        @if (!string.IsNullOrEmpty(Model.TEMP_COMPLAINT_ID)){
                            var FileName = Model.TEMP_COMPLAINT_ID + ".pdf";
                            <label>Rejection Memo Document : </label>
                            <a target='_blank' style="color:blue;" href='@Url.Content(Enums.GetEnumDescription(Enums.FolderPath.OnlineComplaints))/@FileName'>Download</a>
                        }
                    </div>
                </div>
                <div class="row m-3" id="JIFields">
                    <h3 class="heading3 mb-4">JI Details</h3>
                    <div class="col-md-3 mb-3" id="rejno">
                        <label>Rejection Memo Id</label>
                        <input type="text" class="input" ASP-FOR="RejMemono" asp-format="{0:dd-MM-yyyy}" maxlength="300" readonly />
                    </div>
                    <div class="col-md-3 mb-3" id="rejdt">
                        <label>Rejection Memo Date </label>
                        <input type="text" class="input datepicker" ASP-FOR="RejMemodate" asp-format="{0:dd-MM-yyyy}" Placeholder="DD/MM/YYYY" maxlength="300" readonly />
                    </div>
                    <div class="col-md-3 mb-3" id="inspreq">
                        <label>Joint Inspection Required</label>
                        @Html.DropDownListFor(model => model.AcceptRejornot, new SelectList(IBS.Models.Common.Inspectionrequired() , "Value", "Text"),"--Select--", new { id = "AcceptRejornot" })
                    </div>
                    <div class="col-md-3 mb-3" id="inspregions">
                        <label> Region Doing Joint Inspection</label>
                        @Html.DropDownListFor(model => model.InspRegion, new SelectList(IBS.Models.Common.InspRegion() , "Value", "Text"),"--Select--", new { id = "InspRegion" })
                    </div>
                    <div class="col-md-3 mb-3" id="JIDates">
                        <label>JI Date (Date on Which IE Will Attend JI)</label>
                        <input type="text" class="input datepicker" ASP-FOR="JIDate" asp-format="{0:dd-MM-yyyy}" Placeholder="DD/MM/YYYY" maxlength="300" readonly />
                    </div>
                    <div class="col-md-3 mb-3" id="JointInspection">
                        <label for="Jointisp">Joint Inspection Engineer</label>
                        <select id="Jointisp" asp-for="InspER" class="form-control" required></select>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="savenext-btn">
                    <button type="button" class="save-btn active Permission_Save" id="acceptbtn" onclick="Accept();">Accept</button>
                    <button type="button" class="save-btn active Permission_Save" id="sendemailbtn" onclick="Send_Email();">Send Email For Rejected Complaints</button>
                    <button type="button" class="save-btn" id="rejectbtn" onclick="Reject();">Reject</button>
                    <button type="button" class="save-btn active Permission_Save" id="btnsubmit" onclick="Submit();">Submit</button>
                </div>
                
            </div>
        </form>
    </div>
</section>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
       
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rejectvalue").hide();
            $("#sendemailbtn").hide();
            $("#rejno").hide();
            $("#rejdt").hide();
            $("#JIFields").hide();
            $("#inspregions").hide();
            $("#inspreq").hide();
            $("#JIDates").hide();
            $("#JointInspection").hide();
            $("#NOJIReasons").hide();
            $("#btnsubmit").hide();
        });

        var nojiother = $("#Jointisp").val();
        if (nojiother == "K") {
            $("#nojiotherfield").show();
        }else{
            $("#nojiotherfield").hide();
        }

        $("#AcceptRejornot").change(function () {
            debugger
            var selectedValue = $(this).val();
            if(selectedValue == "Y"){
                $("#JIDates").show();
                $("#JointInspection").show();
                $("#inspregions").show();
            }else{
                $("#JIDates").hide();
                $("#JointInspection").hide();
                $("#inspregions").hide();
                $("#NOJIReasons").show();
            }
        });
        

        function Reject(){
            $("#rejectvalue").show();
            $("#sendemailbtn").show();
            $("#acceptbtn").hide();
            $("#btnsubmit").hide;
            $("#rejectbtn").hide;
        }

        function Submit(){

            $("#acceptbtn").hide;
            var urlpath = "@Url.Action("Submit", "ComplaintApproval")";
            var formData = $("#frmComplaints").serialize();
            
            $.ajax({
                url: urlpath,
                type: 'POST',
                data: formData,
                success: function (dataToSend) {
                    if (dataToSend.status === true) {
                        if (dataToSend.redirectToIndex === true) {
                            redirectUrl = "@Url.Action("Index", "ComplaintApproval")";
                            ShowHideMsgNew(dataToSend.status, dataToSend.responseText);
                            setTimeout(function () {
                                window.location.href = redirectUrl;
                            }, 1000);
                            
                        }
                    } 
                },
                error: function (xhr, textStatus, errorThrown) {
                }
            });
        }

        function Accept(){
            var urlpath = "@Url.Action("AcceptComplaint", "ComplaintApproval")";
            var formData = $("#frmComplaints").serialize();
            $.ajax({
                url: urlpath,
                type: 'POST',
                data: formData,
                success: function (dataToSend) {
                    debugger
                    if (dataToSend.status == true) {
                            ShowHideMsgNew(dataToSend.status, dataToSend.responseText);
                            setTimeout(function () {
                            }, 1000);
                            $("#acceptbtn").hide();
                            $("#btnsubmit").show();
                            $("#rejectbtn").hide();
                            $("#rejno").show();
                            $("#rejdt").show();
                            $("#JIFields").show();
                            $("#inspreq").show();
                    } else {
                        ShowHideMsgNew(dataToSend.status, dataToSend.responseText);
                        $("#acceptbtn").show();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                }
            });
        }

        function Send_Email(){
            $("#rejectvalue").show();
            var RejectValue = $("#Reasonforreject").val();
            var urlpath = "@Url.Action("RejectComplaint", "ComplaintApproval")";
            var formData = $("#frmComplaints").serialize();

            $.ajax({
                url: urlpath,
                type: 'POST',
                data: formData,
                success: function (dataToSend) {
                    if (dataToSend.status === true) {
                        if (dataToSend.redirectToIndex === true) {
                            alert(dataToSend.alertMessage);
                            window.location.href = "@Url.Action("Index", "ComplaintApproval")";
                        }
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                }
            });
        }

        $("#InspRegion").change(function () {
            var InspRegionDropdown = $(this).val();
            var urlpath = "@Url.Action("GetItems", "ComplaintApproval")";
            $.ajax({
                url: urlpath,
                type: 'GET',
                data: { InspRegionDropdown: InspRegionDropdown },
                success: function (data) {
                    var Item = $("#Jointisp");
                    Item.empty();
                    var items = JSON.parse(data);

                    for (var i = 0; i < items.length; i++) {
                        var option = $("<option>")
                            .text(items[i].IeName)
                            .val(items[i].IeCd);

                        Item.append(option);
                    }
                }
            });
        });
    </script>
}