@model IBS.Models.Reports.ReInspectionICsModel
<div>
    <h3 class="center">Re-Inspection IC's for the Period <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate </span>(Report Sorted on Vendor) <br /> (@Model.Region)</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th valign="top" align="center"><b>S.No.</b></th>
                    <th valign="top" align="center"><b>Book No.</b></th>
                    <th valign="top" align="center"><b>Set No.</b></th>
                    <th valign="top" align="center"><b>Case No.</b></th>
                    <th valign="top" align="center"><b>IC No.</b></th>
                    <th valign="top" align="center"><b>IC Date</b></th>
                    <th valign="top" align="center"><b>IE</b></th>
                    <th valign="top" align="center"><b>Vendor</b></th>
                    <th valign="top" align="center"><b>Client</b></th>
                    <th valign="top" align="center"><b>BPO</b></th>
                    <th valign="top" align="center"><b>Bill No.</b></th>
                    <th valign="top" align="center"><b>Bill Date</b></th>
                    <th valign="top" align="center"><b>Insp Fee</b></th>
                    <th valign="top" align="center"><b>Tax</b></th>
                    <th valign="top" align="center"><b>Bill Amount</b></th>
                </tr>
                @if (Model != null && Model.lstReInspectionIC != null && Model.lstReInspectionIC.Count > 0)
                {
                    var SrNo = 0;
                    var i = 0;
                    var wBPO_CD = "";
                    int wSubINSP_FEE = 0, wSubSERV_TAX = 0, wSubBILL_AMT = 0;
                    int wTINSP_FEE = 0, wTSERV_TAX = 0, wTBILL_AMT = 0;
                    @foreach (var item in Model.lstReInspectionIC)
                    {
                        SrNo = SrNo + 1;
                        wBPO_CD = item.BPO_CD;
                        wSubINSP_FEE = wSubINSP_FEE + Convert.ToInt32(item.INSP_FEE);
                        wSubSERV_TAX = wSubSERV_TAX + Convert.ToInt32(item.TAX);
                        wSubBILL_AMT = wSubBILL_AMT + Convert.ToInt32(item.BILL_AMOUNT);
                        <tr>
                            <td valign="top" align="center">@SrNo</td>
                            <td valign="top" align="center">@item.BK_NO</td>
                            <td valign="top" align="center">@item.SET_NO</td>
                            <td valign="top" align="left">@item.CASE_NO</td>
                            <td valign="top" align="left">@item.IC_NO</td>
                            <td valign="top" align="Left">@item.IC_DT</td>
                            <td valign="top" align="left">@item.IE_SNAME</td>
                            <td valign="top" align="left">@item.Vendor</td>
                            <td valign="top" align="left">@item.RLY_CD</td>
                            <td valign="top" align="left">@item.BPO</td>
                            <td valign="top" align="center">@item.BILL_NO</td>
                            <td valign="top" align="center">@item.BILL_DT</td>
                            <td valign="top" align="right">@item.INSP_FEE</td>
                            <td valign="top" align="right">@item.SERVICE_TAX</td>
                            <td valign="top" align="right">@item.BILL_AMOUNT</td>
                        </tr>

                        if (i <= Model.lstReInspectionIC.Count() - 2 && Convert.ToInt32(wBPO_CD) != Convert.ToInt32(Model.lstReInspectionIC[i + 1].BPO_CD))
                        {
                            <tr>
                                <td valign='top' align='center' colspan=12><B>  Total of: @item.BPO </B></td>
                                <td valign='top' align='right'> <B> @wSubINSP_FEE </B></td>
                                <td valign='top' align='right'><B>  @wSubSERV_TAX </B></td>
                                <td valign='top' align='right'> <B> @wSubBILL_AMT </B></td>
                            </tr>
                            wTINSP_FEE = wTINSP_FEE + wSubINSP_FEE;
                            wTSERV_TAX = wTSERV_TAX + wSubSERV_TAX;
                            wTBILL_AMT = wTBILL_AMT + wSubBILL_AMT;
                            wSubINSP_FEE = 0; wSubSERV_TAX = 0; wSubBILL_AMT = 0;
                            wBPO_CD = item.BPO_CD;
                        }
                        else if (i == Model.lstReInspectionIC.Count() - 1)
                        {
                            <tr>
                                <td valign='top' align='center' colspan=12><B>  Total of: @item.BPO </B></td>
                                <td valign='top' align='right'> <B> @wSubINSP_FEE </B></td>
                                <td valign='top' align='right'><B>  @wSubSERV_TAX </B></td>
                                <td valign='top' align='right'> <B> @wSubBILL_AMT </B></td>
                            </tr>
                            wTINSP_FEE = wTINSP_FEE + wSubINSP_FEE;
                            wTSERV_TAX = wTSERV_TAX + wSubSERV_TAX;
                            wTBILL_AMT = wTBILL_AMT + wSubBILL_AMT;
                            wSubINSP_FEE = 0; wSubSERV_TAX = 0; wSubBILL_AMT = 0;
                            wBPO_CD = item.BPO_CD;
                        }
                        i = i + 1;
                    }
                    <tr>
                        <td valign='top' align='center' colspan=12><B>  Grand Total </B></td>
                        <td valign='top' align='right'> <B> @wTINSP_FEE </B></td>
                        <td valign='top' align='right'><B>  @wTSERV_TAX </B></td>
                        <td valign='top' align='right'> <B> @wTBILL_AMT </B></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="15" class="noRecordGrid center">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


