@{
    ViewData["Title"] = "Inspection Billing & Delay";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>STATEMENT OF INSPECTION BILLING & DELAY'S</h2>
        </div>
        <div>
            @*<div class="col-md-4 mb-3">*@
            <div class="list-btn" style="margin-top: 0px;">
                <a class="btnicons" href="javascript:void(0);" title="Export to Excel"><img id="imgExcel" src="../images/excel.png" alt="Export to Excel" /></a>
                <a class="btnicons" href="javascript:void(0);" title="Export to PDF"><img id="imgPdf" src="../images/pdf.png" alt="Export to PDF" /></a>
                <a class="btnicons" href="javascript:void(0);" title="Print"><img id="imgPrint" src="../images/print.png" alt="Print" /></a>
                @*<a asp-area="" asp-controller="CentralRegionBillingInformation" asp-action="Manage" class="formBtn Permission_Add"><span class="fa fa-plus"></span> Add Bill</a>*@
            </div>
            @*</div>*@
        </div>
    </div>
    <div class="accordion-body">

        <div class="row my-0">
            <div class="col-md-6 mb-3">
                <label for="reference"></label>
                <div class="mt-3">
                    <label formaction="rdbAllCallMarked"> @Html.RadioButton("rdbInspBill", "Inspection Billing For The Month", new {  @id="rdbMonth", @checked = true }) Inspection Billing For The Month --></label>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="reference" id="lblHeader1">From</label>
                @Html.DropDownList("lstMonths", new SelectList(IBS.Models.Common.GetMonths() , "Value", "Text"),"--Select--", new {@class = "clsMonthYear"})
            </div>
            <div class="col-md-3 mb-3">
                <label for="reference" id="lblHeader2">To</label>
                @Html.DropDownList("lstYears", new SelectList(IBS.Models.Common.GetYears() , "Value", "Text"),"--Select--", new {@class = "clsMonthYear"})
            </div>
            @*<div class="col-md-2 mb-3">
            <div class="savenext-btn" style="margin-top: 31px;">
            <button type="button" class="save-btn active" onclick="Search();">search</button>
            </div>
            </div>*@
        </div>
        <div class="row my-0">
            <div class="col-md-6 mb-3">
                <div class="mt-3">
                    <label formaction="rdbAllCallMarked"> @Html.RadioButton("rdbInspBill", "Inspection Billing For The Period", new {  @id="rdbDate" }) Inspection Billing For The Period (DD/MM/YYYY) --></label>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" class="input datepicker clsDate" id="txtBillFromDate">
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" class="input datepicker clsDate" id="txtBillToDate">
            </div>
        </div>
        @if (@ViewBag.Action == "U")
        {
            <div class="row my-0">
                <div class="col-md-4 mb-3" style="font-weight: bold;">
                    <div class="reference">
                        <label for="Name">Status of IE</label>
                        @Html.RadioButton("rdType", "AllIES", new {@id="rdAllIE", @class = "text-darkblue font-bold font-size-8pt" }) All IE'S
                        &nbsp;&nbsp;
                        @Html.RadioButton("rdType", "ParticularIE", new { @id="rdPartiIE",@class = "text-darkblue font-bold font-size-8pt" }) For Particular IE
                    </div>
                </div>
                <div class="col-md-4 mb-3" id="IEStatus" style="display:none;">
                    <div class="reference">
                        <label for="Name" id="lblIECM"></label>
                        @Html.DropDownList("lstIE", new SelectList(IBS.Models.Common.GetIEToWhomIssued(@ViewBag.RegionCode) , "Value", "Text"),"--Select--", new{@id="DpIE"})
                    </div>
                </div>
            </div>
        }
        <div class="row my-0">
            <div class="col-md-2 mb-3">
                <label>Report to be sorted on</label>
            </div>
            <div class="col-md-1 mb-3">
                <label formaction="rdbAllCallMarked"> @Html.RadioButton("rdbSort", "Bill Date", new {  @id="rdbBillDate", @checked = true }) Bill Date</label>
            </div>
            @if (@ViewBag.Action == "U")
            {
                <div class="col-md-1 mb-3">
                    <label formaction="rdbAllCallMarked"> @Html.RadioButton("rdbSort", "IE Name", new {  @id="rdbIEName", }) IE Name</label>
                </div>
            }
            <div class="col-md-1 mb-3">
                <label formaction="rdbAllCallMarked"> @Html.RadioButton("rdbSort", "IC Date", new {  @id="rdbICDate" }) IC Date</label>
            </div>
            <div class="col-md-2 mb-3" style="width: 11%;">
                <label formaction="rdbAllCallMarked"> @Html.RadioButton("rdbSort", "First Insp Date", new {  @id="rdbFisrtInspDate" }) First Insp Date</label>
            </div>
            <div class="col-md-2 mb-3">
                <label formaction="rdbAllCallMarked"> @Html.RadioButton("rdbSort", "Last Insp Date", new {  @id="rdbLastInspDate" }) Last Insp Date</label>
            </div>
        </div>
        <div class="row my-0">
            <div class="savenext-btn" style="margin-top: 0px;">
                <button type="button" class="save-btn active" id="btnSearch">Submit</button>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtInspBillDelay" class="table-responsive nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>IC NO.</th>
                            <th>IC DATE</th>
                            <th>IC SUBMIT DATE</th>
                            <th>BK NO.</th>
                            <th>SET NO</th>
                            <th>CALL/MATERIAL READINESS DATE</th>
                            <th>FIRST INS. DATE</th>
                            <th>LAST INS. DATE</th>
                            <th>DELAY INS.</th>
                            <th>DELAY IC</th>
                            <th>DELAY SUBM</th>
                            <th>DELAY BILL</th>
                            <th>BILL NO</th>
                            <th>BILL DATE</th>
                            <th>IE NAME</th>
                            <th>VENDOR</th>
                            <th>VENDOR CITY</th>
                            <th>AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<div id="EditPODateModal" class="modal" tabindex="-1" role="dialog">
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        var Region = "@ViewBag.Region";
        var Action = "@ViewBag.Action";
        $(document).ready(function () {
            Manage();
            $('input[type=radio][name=rdbInspBill]').change(function () {
                Manage();
            });

            $("#btnSearch").click(function () {
                InitializeDatatable();
            });

            $("#imgExcel").on("click", function () {
                $('#dtInspBillDelay').DataTable().buttons(0, 0).trigger();
            });

            $("#imgPdf").on("click", function () {
                $('#dtInspBillDelay').DataTable().buttons(0, 1).trigger();
            });

            $("#imgPrint").on("click", function () {
                $('#dtInspBillDelay').DataTable().buttons(0, 2).trigger();
            });

            $('input[type=radio][name=rdType]').change(function () {
                debugger
                var value = $(this).val();

                if (value == "AllIES") {
                    $("#IEStatus").css("display", "none");
                } else {
                    $("#IEStatus").css("display", "block");
                }
            });
        });

        function Manage() {
            if ($("#rdbMonth").is(":checked")) {
                $("#lblHeader1").html("Month");
                $("#lblHeader2").html("Year");

                $(".clsMonthYear").css("display", "block");
                $(".clsDate").css("display", "none");
            }
            else if ($("#rdbDate").is(":checked")) {
                $("#lblHeader1").html("From");
                $("#lblHeader2").html("To");

                $(".clsMonthYear").css("display", "none");
                $(".clsDate").css("display", "block");
            }
        }

        function InitializeDatatable() {
            var SortOn = "";
            var totalRec = 0;
            var w_DELAY_INSP = 0, w_DELAY_IC = 0, w_DELAY_SUBM = 0, w_DELAY_BILL = 0;
            //var _title = "Inspection Billing and Delay";
            var MonthWise = $("#rdbMonth").is(":checked") == true ? "true" : "false";
            var DateWise = $("#rdbDate").is(":checked") == true ? "true" : "false";
            var Month = $("#lstMonths").val();
            var Year = $("#lstYears").val();
            var FromDate = $("#txtBillFromDate").val();
            var ToDate = $("#txtBillToDate").val();
            var BillDate = $("#rdbBillDate").is(":checked") == true ? "true" : "false";
            var IEName = $("#rdbIEName").is(":checked") == true ? "true" : "false";
            var IcDt = $("#rdbICDate").is(":checked") == true ? "true" : "false";
            var FInspDt = $("#rdbFisrtInspDate").is(":checked") == true ? "true" : "false";
            var LFnspDt = $("#rdbLastInspDate").is(":checked") == true ? "true" : "false";
            var AllIE = $("#rdAllIE").is(":checked") == true ? "true" : "false";
            var PartiIE = $("#rdPartiIE").is(":checked") == true ? "true" : "false";
            var IECD = $("#lstIE").val() == undefined ? null : $("#lstIE").val();

            if (IcDt == "true") { SortOn = "Report Sorted on IC Date" }
            else if (FInspDt == "true") { SortOn = "Report Sorted on First Inspection Date" }
            else if (LFnspDt == "true") { SortOn = "Report Sorted on Last Inspection Date" }
            else { SortOn = "Report Sorted on Bill Date" }

            if (MonthWise == "true") {
                _wHdr = $("#lstMonths option:selected").text() + ", " + $("#lstYears").val()//$("#lstMonths").val();
                _title = "STATEMENT OF INSPECTION BILLING GENERATED AS ON " + _wHdr + " (" + SortOn + ")";
            } else {
                _wHdr = $("#txtBillFromDate").val() + " - " + $("#txtBillToDate").val();
                _title = "STATEMENT OF INSPECTION BILLING GENERATED FOR THE PERIOD " + _wHdr + " (" + SortOn + ")";
            }


            dt = $("#dtInspBillDelay").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: false,// Paging Setups
                searching: true,// Searching Setups
                dom: 'rtip',
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Export to Excel',
                        filename: function () { return getExportFileName('Inspection_Billing_Delay'); },
                        download: 'open',
                        orientation: 'landscape',
                        title: Region + "\n" + _title,
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
                            modifier: {
                                page: 'all',
                                search: 'none'
                            }
                        },
                    },
                    {
                        extend: 'pdfHtml5',
                        filename: function () { return getExportFileName('Inspection_Billing_Delay'); },
                        text: 'Export to PDF',
                        orientation: 'landscape',
                        title: Region + "\n" + _title,
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
                            modifier: {
                                page: 'all',
                                pageSize: 'LEGAL',
                                search: 'none',
                            }
                        },
                        customize: function (doc) {
                            doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                            doc.defaultStyle.fontSize = 8; //<-- set fontsize to 16 instead of 10
                            doc.pageMargins = [5, 100, 5, 5];

                        }
                    },
                    {
                        extend: 'print',
                        text: 'Print',
                        orientation: 'landscape',
                        title: Region + "\n" + _title,
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
                        },
                    },
                ],
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            MonthWise: MonthWise,
                            DateWise: DateWise,
                            Month: Month,
                            Year: Year,
                            FromDate: FromDate,
                            ToDate: ToDate,
                            IsBillDate: BillDate,
                            IsIEName: IEName,
                            IsIcDt: IcDt,
                            IsFInspDt: FInspDt,
                            IsLFnspDt: LFnspDt,
                            IsAllIE: AllIE,
                            IsPartiIE: PartiIE,
                            IECD: IECD
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "Ic_No" },
                    { data: "Ic_Dt" },
                    { data: "IC_SUBMIT_DATE" },
                    { data: "Bk_No" },
                    { data: "Set_No" },
                    {
                        data: "Call_Dt", width: "10%",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    {
                        data: "First_Insp_Dt", width: "10%",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    {
                        data: "Last_Insp_Dt", width: "10%",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "Delay_Insp" },
                    { data: "Delay_Ic" },
                    { data: "Delay_Subm" },
                    { data: "Delay_Bill" },
                    { data: "Bill_No" },
                    {
                        data: "Bill_Dt", width: "10%",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "Ie_Name" },
                    { data: "Vendor" },
                    { data: "Vendor_City" },
                    { data: "Bill_Amount" },
                ],
                "order": [[0, "asc"]],
                footerCallback: function (row, data, start, end, display) {
                    debugger
                    var api = this.api(), data;

                    // converting to interger to find total
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    ;
                    var TotalRec = api
                        .column(1)
                        .data()
                        .reduce(function (a, b) {
                            totalRec = totalRec + 1
                            return totalRec;
                        }, 0);
                    debugger
                    var DELAY_INSP = api
                        .column(9)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    var DELAY_IC = api
                        .column(10)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    var DELAY_SUBM = api
                        .column(11)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    var DELAY_BILL = api
                        .column(12)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    var BillAmount = api
                        .column(18)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    //TotalRec = $.fn.dataTable.render.number(',', '.', 0).display(TotalRec);
                    //DELAY_INSP = $.fn.dataTable.render.number(',', '.', 2).display(DELAY_INSP);
                    //DELAY_IC = $.fn.dataTable.render.number(',', '.', 2).display(DELAY_IC);
                    //DELAY_SUBM = $.fn.dataTable.render.number(',', '.', 2).display(DELAY_SUBM);
                    //DELAY_BILL = $.fn.dataTable.render.number(',', '.', 2).display(DELAY_BILL);
                    //BillAmount = $.fn.dataTable.render.number(',', '.', 2).display(BillAmount);

                    // Update footer by showing the total with the reference of the column index
                    $(api.column(0).footer()).html('&nbsp;');
                    $(api.column(1).footer()).html("No. Of IC's: ");
                    $(api.column(2).footer()).html(TotalRec);
                    $(api.column(3).footer()).html('&nbsp;');
                    $(api.column(4).footer()).html();
                    $(api.column(5).footer()).html('&nbsp;');
                    $(api.column(6).footer()).html('&nbsp;');
                    $(api.column(7).footer()).html('&nbsp;');
                    $(api.column(8).footer()).html('Average Delay:');
                    $(api.column(9).footer()).html(parseFloat(DELAY_INSP / TotalRec).toFixed(2));
                    $(api.column(10).footer()).html(parseFloat(DELAY_IC / TotalRec).toFixed(2));
                    $(api.column(11).footer()).html(parseFloat(DELAY_SUBM / TotalRec).toFixed(2));
                    $(api.column(12).footer()).html(parseFloat(DELAY_BILL / TotalRec).toFixed(2));
                    $(api.column(13).footer()).html('&nbsp;');
                    $(api.column(14).footer()).html('&nbsp;');
                    $(api.column(15).footer()).html('&nbsp;');
                    $(api.column(16).footer()).html('&nbsp;');
                    $(api.column(17).footer()).html('&nbsp;');
                    $(api.column(18).footer()).html(BillAmount);
                },
            });
            //dt.column(3).visible(false);
            //dt.column(4).visible(false);
            //dt.column(5).visible(false);
        }
    </script>
}

