@model IBS.Models.InspectionBillingDelayReportModel

@{
    Layout = null;
    //string ReportType = (Model != null ? Model.ReportType : "");
    string ReportTitle = (Model != null ? Model.ReportTitle : "");
    ViewData["Title"] = ReportTitle;
}

<html>
<head>
    <title>@ReportTitle</title>
    <style>
        body {
            background-color: transparent;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
        }

        .commonBtn {
            background: #F66A2F;
            border: 1px solid #F66A2F;
            padding: 8px 15px;
            border-radius: 6px;
            color: #fff;
            cursor: pointer;
        }

            .commonBtn:hover {
                background: #008B29;
                border: 1px solid #008B29;
            }

        .borderTable {
            border-left: 1px solid #d1d1d1;
            border-top: 1px solid #d1d1d1;
            white-space: nowrap;            
        }

            .borderTable th, .borderTable td {
                border-right: 1px solid #d1d1d1;
                border-bottom: 1px solid #d1d1d1;
                padding: 5px;
            }

            .borderTable th {
                background: #008B29;
                color: #fff;
                font-weight: bold;
                font-size: 14px;
            }

            .borderTable tr:nth-child(odd) td {
                background: #f1f1f1;
            }        
        .tableOuter {
            width: 100%;
            /*overflow: auto;*/
            /*max-height: 450px;*/
            margin-bottom: 20px;
            margin-right: 20px;
        }

        .heading3 {
            font-size: 20px;
            font-weight: 600;
            position: relative;
            color: #118133;
            margin: 0;
            padding: 0;
            margin-bottom: 40px;
        }

            .heading3:before {
                background: #FC5518;
                content: "";
                width: 5%;
                height: 2px;
                position: absolute;
                bottom: -10px;
                left: 0;
            }

        .orangeText {
            color: #F66A2F;
        }

        .borderTable tr.reportTotal td {
            background: #ff0;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    <div id="dvReportViewer"></div>
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</body>
</html>

<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js"></script>

<script type="text/javascript">

    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

    $(document).ready(function () {
        //if ('ReportType' == 'IE_X') {
        fileName = 'Inspection_Billing_Delay';
        loadIEPerformance();
        //}
    });

    function loadIEPerformance() {
        $("#dvReportViewer").load("@Url.Action("InspectionBillingDelay")", 
            { 
                MonthWise: '@Model.MonthWise', 
                DateWise: '@Model.DateWise', 
                Month: '@Model.Month', 
                Year: '@Model.Year', 
                FromDate: '@Model.FromDate', 
                ToDate: '@Model.ToDate', 
                BillDate: '@Model.IsBillDate',
                IEName: '@Model.IsIEName',
                IcDt: '@Model.IsIcDt',
                FInspDt: '@Model.IsFInspDt', 
                LFnspDt: '@Model.IsLFnspDt', 
                AllIE: '@Model.IsAllIE',
                PartiIE: '@Model.IsPartiIE',
                IECD: '@Model.IECD',
                ReportTitle: '@Model.ReportTitle'
            }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnExportToExcel").click(function () {
        let file = new Blob([$('#dvReportViewer').html()], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        var element = document.getElementById('dvReportViewer');

        element.style.width = "1100px";

        const options = {
            margin: 0,
            filename: getExportFileName(fileName) + '.pdf',
            image: { type: 'jpeg', quality: 1 },
            html2canvas: {
                scale: 4,
                useCORS: true
            },
            jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
        };

        if (isPrint) {
            html2pdf().set(options).from(element).toPdf().get('pdf').then(function (pdfObj) {
                pdfObj.autoPrint();
                window.open(pdfObj.output('bloburl'), '_blank');
            });
        }
        else {
            html2pdf().set(options).from(element).save();
        }

        element.style.width = "100%";
    }

    //$("#btnPrint").click(function () {
    //    generatePdf(true);
    //});

    //$("#btnExportToPdf").click(function () {
    //    generatePdf(false);
    //});

    //$("#btnExportToExcel").click(function () {
    //    let file = new Blob([$('#dvReportViewer').html()], { type: "application/vnd.ms-excel" });
    //    let url = URL.createObjectURL(file);
    //    let a = $("<a />", {
    //        href: url,
    //        download: getExportFileName("Inspection_Billing_Delay") + ".xls"
    //    }).appendTo("body").get(0).click();
    //    e.preventDefault();
    //});

    //function generatePdf(isPrint) {
    //    var quotes = document.getElementById('dvReportViewer');

    //    quotes.style.width = "920px";

    //    html2canvas(quotes, {
    //        onrendered: function (canvas) {
    //            var pdf = new jsPDF('p', 'pt', 'letter');
    //            for (var i = 0; i <= quotes.clientHeight / 980; i++) {
    //                var srcImg = canvas;
    //                var sX = 0;
    //                var sY = 980 * i; // start 980 pixels down for every new page
    //                var sWidth = 920;
    //                var sHeight = 980;
    //                var dX = 0;
    //                var dY = 0;
    //                var dWidth = 920;
    //                var dHeight = 980;

    //                window.onePageCanvas = document.createElement("canvas");
    //                onePageCanvas.setAttribute('width', 920);
    //                onePageCanvas.setAttribute('height', 980);
    //                var ctx = onePageCanvas.getContext('2d');
    //                ctx.drawImage(srcImg, sX, sY, sWidth, sHeight, dX, dY, dWidth, dHeight);
    //                var canvasDataURL = onePageCanvas.toDataURL("image/png", 1.0);

    //                var width = onePageCanvas.width;
    //                var height = onePageCanvas.clientHeight;

    //                //! If we're on anything other than the first page,
    //                // add another page
    //                if (i > 0) {
    //                    pdf.addPage(612, 791); //8.5" x 11" in pts (in*72)
    //                }
    //                //! now we declare that we're working on that page
    //                pdf.setPage(i + 1);
    //                //! now we add content to that page!
    //                pdf.addImage(canvasDataURL, 'PNG', 20, 40, (width * .62), (height * .62));

    //            }

    //            quotes.style.width = "100%";

    //            if (isPrint) {
    //                pdf.autoPrint();
    //                window.open(pdf.output('bloburl'), '_blank');
    //            }
    //            else {
    //                pdf.save(getExportFileName('Inspection_Billing_Delay') + '.pdf');
    //            }
    //        }
    //    });
    //}

</script>
