@model IBS.Models.InspectionBillingDelayReportModel

@{
    Layout = null;
    //string ReportType = (Model != null ? Model.ReportType : "");
    string ReportTitle = (Model != null ? Model.ReportTitle : "");
    ViewData["Title"] = ReportTitle;
}

<html>
<head>
    <title>@ReportTitle</title>    
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    <div id="dvReportViewer"></div>
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</body>
</html>

<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js"></script>

<script type="text/javascript">

    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

    $(document).ready(function () {
        //if ('ReportType' == 'IE_X') {
        fileName = 'Inspection_Billing_Delay';
        loadIEPerformance();
        //}
    });

    function loadIEPerformance() {
        $("#dvReportViewer").load("@Url.Action("InspectionBillingDelay")", 
            { 
                MonthWise: '@Model.MonthWise', 
                DateWise: '@Model.DateWise', 
                Month: '@Model.Month', 
                Year: '@Model.Year', 
                FromDate: '@Model.FromDate', 
                ToDate: '@Model.ToDate', 
                BillDate: '@Model.IsBillDate',
                IEName: '@Model.IsIEName',
                IcDt: '@Model.IsIcDt',
                FInspDt: '@Model.IsFInspDt', 
                LFnspDt: '@Model.IsLFnspDt', 
                AllIE: '@Model.IsAllIE',
                PartiIE: '@Model.IsPartiIE',
                IECD: '@Model.IECD',
                ReportTitle: '@Model.ReportTitle'
            }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnExportToExcel").click(function () {
        let file = new Blob([$('#dvReportViewer').html()], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        $.ajax({
            url: "@Url.Action("GeneratePDF", "InspectionBillingDelay")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",            
            xhrFields: {
                responseType: 'blob'
            },
            success: function (result) {
                var url = window.URL.createObjectURL(result);
                if (isPrint) {
                    iframe = document.createElement('iframe');
                    document.body.appendChild(iframe);

                    iframe.style.display = 'none';
                    iframe.src = url;
                    iframe.onload = function () {
                        setTimeout(function () {
                            iframe.focus();
                            iframe.contentWindow.print();
                        }, 1);
                    };
                }
                else {
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = getExportFileName(fileName) + '.pdf';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    //function generatePdf(isPrint) {
    //    var element = document.getElementById('dvReportViewer');

    //    //element.style.width = "1350px";

    //    const options = {
    //        margin: 0,
    //        filename: getExportFileName(fileName) + '.pdf',
    //        image: { type: 'jpeg', quality: 1 },
    //        html2canvas: {
    //            scale: 4,
    //            useCORS: true
    //        },
    //        jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
    //    };

    //    if (isPrint) {
    //        html2pdf().set(options).from(element).toPdf().get('pdf').then(function (pdfObj) {
    //            pdfObj.autoPrint();
    //            window.open(pdfObj.output('bloburl'), '_blank');
    //        });
    //    }
    //    else {
    //        html2pdf().set(options).from(element).save();
    //    }

    //    //element.style.width = "100%";
    //}

</script>
