@model IBS.Models.CaseHistoryModel
@{
    Layout = null;
    ViewData["Title"] = "Case History";
    var ViewPoURL = "https://www.ireps.gov.in/ireps/etender/pdfdocs/MMIS/PO/" + Model.PO_YR + "/" + Model.RLY_CD + "/" + Model.PO_NO + ".pdf";
}
<html>
<head>
    <title>Case History</title>
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Back" id="btnBack" style="display:none;" />
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    <div id="dvReportViewer">
        <h3 class="center"><b><u>History for Case No. - <span class="orangeText">@Model.CASE_NO</span> (@ViewBag.RegionName)</u></b></h3>
        <h3 class="heading3">PO DETAILS</h3>
        <ul class="reportLabelList">
            <li><span class="labelName">Case No:</span> @Model.CASE_NO</li>
            <li><span class="labelName">Vendor:</span> @Model.VENDOR</li>
            <li><span class="labelName">Po No:</span> @Model.PO_NO</li>
            <li><span class="labelName">Dated:</span> @Model.PO_DT</li>
            <li><span class="labelName">Client:</span> @Model.RLY_CD</li>
        </ul>
        @*Item List*@
        <table class="borderTable" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <th width="2%" valign="top" align="center"><b><font size="1" face="Verdana">Item SrNo</font></b></th>
                    <th width="22%" valign="top" align="center"><b><font size="1" face="Verdana">Item Description</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">Qty Ordered</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">Qty Passed</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">Qty Rejected</font></b></th>
                    <th width="8%" valign="top" align="center"><b><font size="1" face="Verdana">BALANCE QTY (Qty Ordered - Qty Passed)</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">Delv Period</font></b></th>
                </tr>
                @{
                    foreach (var item in Model.itemList)
                    {
                        <tr>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.ITEM_SRNO</font></td>
                            <td width="22%" valign="top" align="Left"><font size="1" face="Verdana">@item.ITEM_DESC</font></td>
                            <td width="3%" valign="top" align="right"><font size="1" face="Verdana">@item.QTY</font></td>
                            <td width="3%" valign="top" align="right"><font size="1" face="Verdana">@item.PASSED</font></td>
                            <td width="3%" valign="top" align="right"><font size="1" face="Verdana">@item.REJECTED</font></td>
                            <td width="8%" valign="top" align="right"><font size="1" face="Verdana"><b>@item.BALANCE_QTY</b></font></td>
                            <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.DELV_DATE</font></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div style="text-align:center;">
            @if (Model.PO_SOURCE == "C")
            {
                <a href="@ViewPoURL" target="_blank">VIEW PO</a>
            }
            else
            {
                var tifpath = System.IO.Path.Combine("/RBS/CASE_NO/" + Model.CASE_NO + ".tif");
                var pdfpath = System.IO.Path.Combine("/RBS/CASE_NO/" + Model.CASE_NO + ".pdf");
                if (System.IO.File.Exists(tifpath) == true)
                {
                    <a href="@tifpath" target="_blank">VIEW PO</a>
                }
                else if (System.IO.File.Exists(tifpath) == true)
                {
                    <a href="@pdfpath" target="_blank">VIEW PO</a>
                }
            }
        </div>
        <br />
        @*PO AMMENDMENTS IREPS*@
        @if (@Model.poIrepsList.Count() > 0 && @Model.poIrepsList != null)
        {
            <h3 class="heading3">PO AMMENDMENTS IREPS</h3>
            <div class="tableOuter">
                <table class="borderTable" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">SrNo</font></b></th>
                            <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">MA No.</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">MA Date</font></b></th>
                            <th width="5%" valign="top" align="center"><b><font size="1" face="Verdana">MA Field</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">OLD Value</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">New Value</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">Status</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">PDF</font></b></th>
                        </tr>
                        @{
                            foreach (var item in Model.poIrepsList)
                            {
                                var urlireps = "https://www.ireps.gov.in/ireps/etender/pdfdocs/MMIS/PO/" + Model.PO_YR + "/" + Model.RLY_CD + "/" + Model.PO_NO + "_" + item.MA_NO + ".pdf";
                                <tr>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.SLNO</font></td>
                                    <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.MA_NO</font></td>
                                    <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.MA_DT</font></td>
                                    <td width="5%" valign="top" align="left"><font size="1" face="Verdana">@item.MA_FLD_DESCR</font></td>
                                    <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.OLD_VALUE</font></td>
                                    <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.NEW_VALUE</font></td>
                                    <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.MA_STATUS</font></td>
                                    <td width="3%" valign="top" align="center">
                                        <font size="1" face="Verdana">
                                            <div align="center" class="reportIcon" style="text-align: center;cursor: pointer;">
                                                <a href=@urlireps>View</a>
                                            </div>
                                        </font>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
        }

        @*PO AMMENDMENTS VENDOR*@
        @if (@Model.poVendorList.Count() > 0 && @Model.poVendorList != null)
        {
            <h3 class="heading3">PO AMMENDMENTS VENDOR</h3>
            <div class="tableOuter">
                <table class="borderTable" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">SrNo</font></b></th>
                            <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">MA No.</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">MA Date</font></b></th>
                            <th width="5%" valign="top" align="center"><b><font size="1" face="Verdana">MA Field</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">OLD Value</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">New Value</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">Status</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">PDF</font></b></th>
                        </tr>
                        @{
                            foreach (var item in Model.poVendorList)
                            {
                                var MADT = Common.DateConcate(item.MA_DT);
                                var urlvendor = "/RBS/Vendor/MA/" + @item.CASE_NO + "_" + @item.MA_NO + "_" + MADT + ".pdf";
                                <tr>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.MA_SNO</font></td>
                                    <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.MA_NO</font></td>
                                    <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.MA_DT</font></td>
                                    <td width="5%" valign="top" align="left"><font size="1" face="Verdana">@item.MA_DESC</font></td>
                                    <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.OLD_PO_VALUE</font></td>
                                    <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.NEW_PO_VALUE</font></td>
                                    <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.MA_STATUS</font></td>
                                    <td width="3%" valign="top" align="center">
                                        <font size="1" face="Verdana">
                                            <div align="center" class="reportIcon" style="text-align: center;cursor: pointer;">
                                                <a href="@urlvendor" target="_blank">View MA</a>
                                            </div>
                                        </font>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
        }

        @*PREVIOUS CALL DETAILS*@
        @if (@Model.PrevCallList.Count() > 0 && @Model.PrevCallList != null)
        {
            <h3 class="heading3">PREVIOUS CALL DETAILS</h3>
            <div class="tableOuter">
                <table class="borderTable" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">SrNo</font></b></th>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">Call Letter Date</font></b></th>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">Call Recieving Date</font></b></th>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">Call Sno</font></b></th>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">Call Install No.</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">IE</font></b></th>
                            <th width="2%" valign="top" align="center"><b><font size="1" face="Verdana">Status</font></b></th>
                            <th width="4%" valign="top" align="center"><b><font size="1" face="Verdana">Cancel Reason</font></b></th>
                            <th width="4%" valign="top" align="center"><b><font size="1" face="Verdana">Rejection Reason</font></b></th>
                        </tr>
                        @{
                            var SrNo = 0;
                            foreach (var item in Model.PrevCallList)
                            {
                                SrNo = SrNo + 1;
                                <tr>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@SrNo</font></td>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_DATE</font></td>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.LETTER_DATE</font></td>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_SNO</font></td>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_INSTALL_NO</font></td>
                                    <td width="3%" valign="top" align="left"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                                    <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_STATUS</font></td>
                                    @if (item.REASON_REJECT == "")
                                    {
                                        <td width="4%" valign="top" align="center"><font size="1" face="Verdana">-</font></td>
                                    }
                                    else
                                    {
                                        <td width="4%" valign="top" align="left"><font size="1" face="Verdana">@item.REASON_REJECT</font></td>
                                    }

                                    @if (item.REASON == "**")
                                    {
                                        <td width="4%" valign="top" align="center"><font size="1" face="Verdana">-</font></td>
                                    }
                                    else
                                    {
                                        <td width="4%" valign="top" align="left"><font size="1" face="Verdana">@item.REASON</font></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
        }

        @*SPECIAL REMARKS*@
        <div id="SpecialRemark">
            <h3 class="heading3">SPECIAL REMARKS</h3>
            <section class="table-section">
                <div class="row my-0">
                    <div class="col-md-12">
                        <label for="Reference" style="padding-right:10px;">PO :</label>
                        <label id="lblPO" style="color:red;">@(Model.REMARKS != null ? Model.REMARKS : "Nil")</label>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-12">
                        <label for="Reference" style="padding-right:10px;">Vendor/Firm :</label>
                        <label id="lblVendorFirm" style="color:red;">@(Model.VEND_REMARKS != null ? Model.VEND_REMARKS : "Nil")</label>
                    </div>
                </div>
            </section>
        </div>
        <br />

        @*CONSIGNEE COMPLAINTS*@
        @if (@Model.ConsingCompList.Count() > 0 && @Model.ConsingCompList != null)
        {
            <h3 class="heading3">CONSIGNEE COMPLAINTS</h3>
            <div class="tableOuter">
                <table class="borderTable" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">SrNo</font></b></th>
                            <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">Item</font></b></th>
                            <th width="2%" valign="top" align="center"><b><font size="1" face="Verdana">Rej Memo Date</font></b></th>
                            <th width="5%" valign="top" align="center"><b><font size="1" face="Verdana">Rejection Reason</font></b></th>
                            <th width="2%" valign="top" align="center"><b><font size="1" face="Verdana">BK No & Set No.</font></b></th>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">Consignee</font></b></th>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">JI Outcome</font></b></th>
                        </tr>
                        @{
                            var SrNo = 0;
                            foreach (var item in Model.ConsingCompList)
                            {
                                SrNo = SrNo + 1;
                                <tr>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@SrNo</font></td>
                                    <td width="10%" valign="top" align="center"><font size="1" face="Verdana">@item.ITEM_DESC</font></td>
                                    <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.REJ_MEMO_DATE</font></td>
                                    <td width="5%" valign="top" align="center"><font size="1" face="Verdana">@item.REJECTION_REASON</font></td>
                                    <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@(item.BK_NO + " & " + item.SET_NO)</font></td>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.CONSIGNEE</font></td>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.JI_STATUS_DESC</font></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
        }

        @*REJECTION AT VENDOR PLACE*@
        @if (@Model.RejectVendorList.Count() > 0 && @Model.RejectVendorList != null)
        {
            <h3 class="heading3">REJECTION AT VENDOR PLACE</h3>
            <div class="tableOuter">
                <table class="borderTable" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">SrNo</font></b></th>
                            <th width="10%" valign="top" align="center"><b><font size="1" face="Verdana">Item</font></b></th>
                            <th width="1%" valign="top" align="center"><b><font size="1" face="Verdana">IC Date</font></b></th>
                            <th width="5%" valign="top" align="center"><b><font size="1" face="Verdana">Rejection Reason</font></b></th>
                            <th width="2%" valign="top" align="center"><b><font size="1" face="Verdana">BK No & Set No.</font></b></th>
                            <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">IE</font></b></th>
                        </tr>
                        @{
                            var SrNo = 0;
                            foreach (var item in Model.RejectVendorList)
                            {
                                SrNo = SrNo + 1;
                                <tr>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@SrNo</font></td>
                                    <td width="10%" valign="top" align="left"><font size="1" face="Verdana">@item.ITEM_DESC_PO</font></td>
                                    <td width="1%" valign="top" align="center"><font size="1" face="Verdana">@item.IC_DATE</font></td>
                                    <td width="5%" valign="top" align="left"><font size="1" face="Verdana">@item.REASON_REJECT</font></td>
                                    <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@(item.BK_NO + " & " + item.SET_NO)</font></td>
                                    <td width="3%" valign="top" align="left"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
        }
    </div>
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</body>
</html>


@*<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/jspdf.debug.js"></script>
<script src="~/js/html2canvas.min.js"></script>
<script src="~/js/site.js"></script>*@

<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js"></script>

<script type="text/javascript">
    var fileName = '';
    $(document).ready(function () {
        var urlParams = new URLSearchParams(window.location.search);
        actiontype = urlParams.get('ActionType');
        if (actiontype == "CHI") {
            $("#btnBack").show();
        }
    });
    $(document).ready(function () {
        fileName = "Case_History_@Model.CASE_NO";
    });
    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnBack").click(function () {
        var url = '@Url.Action("Index", "Dashboard")';
        window.location.href = url;
    });

    $("#btnExportToExcel").click(function () {
        var html = $('#dvReportViewer').html();
        html = html.replaceAll('class="borderTable"', 'border="1"');

        let file = new Blob([html], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        var element = document.getElementById('dvReportViewer');

        element.style.width = "1100px";

        const options = {
            margin: 0,
            filename: getExportFileName(fileName) + '.pdf',
            image: { type: 'jpeg', quality: 1 },
            html2canvas: {
                scale: 4,
                useCORS: true
            },
            jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
        };

        if (isPrint) {
            html2pdf().set(options).from(element).toPdf().get('pdf').then(function (pdfObj) {
                pdfObj.autoPrint();
                window.open(pdfObj.output('bloburl'), '_blank');
            });
        }
        else {
            html2pdf().set(options).from(element).save();
        }

        setTimeout(function () {
            element.style.width = "100%";
        }, 1000);
    }

</script>