@model IBS.Models.CallMarkedOnlineModel

<div class="row">
    <form asp-action="Manage" id="frmCallMarked">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <label for="Reference" style="padding-right:10px;">Case No :</label>
                <label id="lblCaseNo" style="text-transform: uppercase; color:red;"></label>
                <input type="hidden" asp-for="CASE_NO" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference" style="padding-right:10px;">Call Date - SNO :</label>
                <span id="lblCallDate" style="text-transform: uppercase; color:red;"></span>
                <span id="lblRegTime" style="text-transform: uppercase; color:red;"></span> -
                <span id="lblSNo" style="text-transform: uppercase; color:red;"></span>
                <input type="hidden" asp-for="CALL_RECV_DT" />
                <input type="hidden" asp-for="REG_TIME" />
                <input type="hidden" asp-for="CALL_SNO" />
            </div>
            <div class="col-md-5 mb-3">
                <label for="Reference" style="padding-right:10px;">Contract No :</label>
                <label id="lblContractNo" style="text-transform: uppercase; color:red;"></label>
                <label id="lblL5noPo" style="text-transform: uppercase; color:red;"></label>
                <label id="lblRly" style="text-transform: uppercase; color:red;"></label>
                <input type="hidden" asp-for="PO_NO" />
                <input type="hidden" asp-for="L5NO_PO" />
                <input type="hidden" asp-for="RLY" />
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <label for="" style="padding-right:36px;">Date :</label>
                <label id="lblDate" style="text-transform: uppercase; color:red;"></label>
                <input type="text" id="txtCALLLETTERDT" />
                <input type="hidden" asp-for="PO_DT" />
                <input type="hidden" asp-for="LETTER_DT" />
            </div>
            <div class="col-md-9 mb-3">
                <label for="Reference" style="padding-right:71px;">Vendor :</label>
                <label id="lblVendor" style="text-transform: uppercase; color:red;"></label>
                <input type="hidden" asp-for="VEND_NAME" />
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-12 mb-3">
                <label for="Reference" style="padding-right: 20px;">Manufacturer/Place of Inspection : </label>
                <label id="lblMFG" style="text-transform: uppercase; color:red;"></label>
                <label id="lblManuf" style="text-transform: uppercase;"></label>
                <input type="hidden" asp-for="MFG" />
                <input type="hidden" asp-for="MFG_CD" />
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-6 mb-3">
                <div class="reference">
                    <label for="Reference">Remarks</label>
                    <textarea asp-for="REMARKS" rows="1"> </textarea>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="reference">
                    <label for="Reference">Inspecting Er.</label>
                    @Html.DropDownListFor(Model => Model.IE_NAME, new SelectList(@ViewBag.ClusterIEList , "Value", "Text"),"--Select--")
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <label for="Reference">Item</label>
                    <label id="lblItem" style="text-transform: uppercase; color:red;"></label>
                    <input type="hidden" asp-for="ITEM_DESC_PO" />
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <label for="Reference" style="padding-right:10px;">Staggered DP :</label>
                <label id="lblStaggered" style="text-transform: uppercase; color:red;"></label>
                <input type="hidden" asp-for="STAGG_DP" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference" style="padding-right:10px;">1. Lot Size & DP :</label>
                <label id="lblLotSize1" style="text-transform: uppercase; color:red;"></label>
                <input type="hidden" asp-for="LOT_DP_1" />
            </div>
            <div class="col-md-5 mb-3">
                <label for="Reference" style="padding-right:10px;">2. Lot Size & DP :</label>
                <label id="lblLotSize2" style="text-transform: uppercase; color:red;"></label>
                <input type="hidden" asp-for="LOT_DP_2" />
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <label for="Reference" style="padding-right:10px;">Quantity Ordered :</label>
                <label id="lblQtyOrder" style="text-transform: uppercase; color:red;"></label>
                <input type="hidden" asp-for="QTY_ORDERED" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Reference" style="padding-right:10px;">Quantity Offered :</label>
                <label id="lblQtyOffer" style="text-transform: uppercase; color:red;"></label>
                <input type="hidden" asp-for="QTY_TO_INSP" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Reference" style="padding-right:10px;">Call Material Value :</label>
                <label id="lblCallMaterialValue" style="text-transform: uppercase; color:red;"></label>
                <input type="hidden" asp-for="CALL_MATERIAL_VALUE" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="Reference" style="padding-right:10px;">Desire Date :</label>
                <label id="lblDesireDate" style="text-transform: uppercase; color:red;"></label>
                <input type="hidden" asp-for="INSP_DESIRE_DATE" />
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-5 mb-3">
                <div class="reference">
                    <label for="Reference">Item to be inspected viz. Mechanical, Electrical, Civil etc</label>
                    @Html.DropDownListFor(Model => Model.DEPT_DROPDOWN, new SelectList(@ViewBag.InspectedList , "Value", "Text"),"--Select--")
                    <label id="lblDept_CD"></label> <input type="hidden" asp-for="DEPARTMENT_CODE" />
                    <label id="lblDepartment"></label> <input type="hidden" asp-for="DEPARTMENT" />
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="Reference" style="padding-right:10px;">Final Or Stage Inspection</label>
                <label id="lblFinalStageInspection" style="text-transform: uppercase; color:red;">test</label>
                <input type="hidden" asp-for="FINAL_OR_STAGE" />
            </div>
        </div>
        <div class="alert alert-warning center" style="text-align:center;">
            <h4>PREVIOUS CALL DETAILS</h4>
        </div>
        <div class="row my-0">
            <div class="col-md-12 mb-3">
                <label id="lblCall1" style="text-transform: uppercase; color:red;"></label>
                <label id="lblCall2" style="text-transform: uppercase; color:red;"></label>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-12 mb-3">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active" id="btnSave">Save</button>
                    <button type="button" class="reset-btn" id="btnCancel">Cancel</button>
                    <button type="button" class="reset-btn" id="btnCaseHistory">Case History</button>
                    <button type="button" class="reset-btn" id="btnRejectCall">Reject Call</button>
                    <button type="button" class="reset-btn" id="btnSendMail" style="display:none;">Send Email For Incomplete Calls</button>
                </div>
            </div>
        </div>
        <section id="rejectCall" style="display:none;">
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <div class="reference">
                        <label for="Reference">Reason of rejection</label>
                        <input type="text" class="input" asp-for="REJECT_REASON"> </input>
                        @*<span asp-validation-for="REJECT_REASON" class="text-danger"></span>*@
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active" id="btnSaveReject">Send Email For Rejected Calls</button>
                </div>
            </div>
        </section>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#btnSave").click(function () {
            SaveCallMarkedDetail();
        });

        $("#btnRejectCall").click(function () {
            $("#rejectCall").css("display", "block");
        });

        $("#btnCancel").click(function () {
            window.location.href = "@Url.Action("Index","CallMarkedOnline")";
        });


        $("#lblContractNo").html("@Model.PO_NO");
        $("#lblDate").html("@Model.PO_DT");
        $("#lblVendor").html("@Model.VEND_NAME");
        if ("@Model.VEND_REMARKS" != "") {
            $("#lblVendor").html("<br><font color='crimson'> Remarks: @Model.VEND_REMARKS");
        }
        $("#lblCaseNo").html("@Model.CASE_NO");
        $("#lblCallDate").html("@Model.CALL_RECV_DT");
        $("#REMARKS").val("@Model.REMARKS");
        $("#lblRegTime").html("(@Model.REG_TIME)");
        $("#lblSNo").html("@Model.CALL_SNO");
        $("#lblQtyOrder").html("@Model.QTY_ORDERED");
        $("#lblQtyOffer").html("@Model.QTY_TO_INSP");
        $("#lblItem").html("@Model.ITEM_DESC_PO");
        $("#lblMFG").html("@Model.MFG");
        if ("@Model.MFG_REMARKS" != "") {
            $("#lblMFG").html("<br><font color='crimson'> Remarks: @Model.MFG_REMARKS");
        }
        $("#lblRly").html("@Model.RLY");
        $("#lblL5noPo").html("@Model.L5NO_PO");
        $("#lblManuf").html("@Model.MFG_CD");
        $("#txtCALLLETTERDT").val("@Model.LETTER_DT");
        $("#lblStaggered").html("@Model.STAGG_DP");
        $("#lblLotSize1").html("@Model.LOT_DP_1");
        $("#lblLotSize2").html("@Model.LOT_DP_2");
        $("#lblCallMaterialValue").html("@Model.CALL_MATERIAL_VALUE");
        $("#lblDesireDate").html("@Model.INSP_DESIRE_DATE");
        $("#DEPT_DROPDOWN").val("@Model.DEPARTMENT_CODE");
        $("#lblDept_CD").html("@Model.DEPARTMENT_CODE");
        $("#lblDepartment").html("@Model.DEPARTMENT");
        $("#lblFinalStageInspection").html("@Model.FINAL_OR_STAGE");
    });

    function SaveCallMarkedDetail() {
        var formData = new FormData($("#frmCallMarked")[0]);
        $.ajax({
            url: '@Url.Action("Call_Marked_Online_Save", "CallMarkedOnline")',
            type: "POST",
            dataType: "JSON",
            data: formData,
            processData: false, // Prevent jQuery from converting the data to a string
            contentType: false,
            success: function (response) {
                console.log("success");
            }
        });
    }
</script>

