@model IBS.Models.OnlinePaymentGateway

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="container">
    <div class="innerContent">
        <div class="list-inner">
            <div class="tast-list">
                <h2>ONLINE PAYMENT GATEWAY FORM FOR RITES INSPECTION CHARGES</h2>
            </div>
        </div>
        <div class="accordion-body p-4">
            <form data-ajax="true" asp-antiforgery="true" data-ajax-method="Get" id="frmPaymentGateway" enctype="multipart/form-data">
                <div class="row">
                    <input asp-for="VEND_CD" hidden />
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Case No. </label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="CaseNo" maxlength="50" />
                        <span asp-validation-for="CaseNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Call Date </label><i class="text-danger">*</i>
                        <input type="text" class="datepicker" placeholder="DD/MM/YYYY" ASP-FOR="CallDate" maxlength="10" />
                        <span asp-validation-for="CallDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Call SNo. </label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="CallSno" maxlength="5" onkeypress="return isNumber(event)" />
                        <span asp-validation-for="CallSno" class="text-danger"></span>
                    </div>
                </div>
                <div class="overlayLoader" style="display: none">
                    <div class="loaderHolder">
                        <div class="lds-dual-ring"></div>
                    </div>
                </div>
                <div class="savenext-btn">
                    <button type="button" class="save-btn active Permission_Save" onclick="BtnVerify()">Verify</button>
                </div>
                </br>
                <div class="savenext-btn">
                    <a asp-controller="OnlinePaymentGateway" asp-action="PaymentResponse" class="btn btn-primary active Permission_Save">Receipt</a>
                </div>
                <div class="row" id="PayNowId">
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Vendor Name </label>
                        <input type="text" class="input" ASP-FOR="VEND_NAME" maxlength="50" readonly />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Purchase Order No. & Date</label>
                        <input type="text" class="input" ASP-FOR="PO_NO" maxlength="50" readonly />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Purchase Order No. & Date</label>
                        @Html.DropDownListFor(model => model.ChargesType, new SelectList(IBS.Models.Common.ChargesType() , "Value", "Text"),"--Select--", new { id = "ChargesType" })
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Email</label>
                        <input type="email" class="input" ASP-FOR="Email"  />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Mobile No.</label>
                        <input type="text" class="input" ASP-FOR="Mobile" onkeypress="return isNumber(event)" maxlength="10" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Charges (Rs. Only)</label>
                        <input type="text" class="input" ASP-FOR="Charges" onkeypress="return isNumberWithDot(event)" maxlength="10" />
                        <span asp-validation-for="Charges" class="text-danger"></span>
                    </div>
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active Permission_Save" onclick="BtnPayNow()">Pay Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script src="https://pgtest.atomtech.in/staticdata/ots/js/atomcheckout.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#PayNowId").hide();
        });

        $(document).ajaxSend(function () {
            $(".overlayLoader").show();
        });

        $(document).ajaxComplete(function () {
            $(".overlayLoader").hide();
        });

        function BtnVerify() {

            if ($("#frmPaymentGateway").valid()) {
                var urlpath = "@Url.Action("VerifyPayment", "OnlinePaymentGateway")";
                var formData = $("#frmPaymentGateway").serialize();
                $.ajax({
                    url: urlpath,
                    type: 'GET',
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        if (data.PO_NO != null) {
                            $("#PO_NO").val(data.PO_NO);
                            $("#VEND_NAME").val(data.VEND_NAME);
                            $("#VEND_CD").val(data.VEND_CD);
                            $("#PayNowId").show();
                        } else {
                            ShowHideMsgNew(false, data.AlertMsg);
                            $("#PayNowId").hide();
                            return;
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                    }
                });
            }
        }

        function BtnPayNow() {
            var urlpath = "@Url.Action("PaymentIntegration", "OnlinePaymentGateway")";
            var formData = $("#frmPaymentGateway").serialize();

            $.get("@Url.Action("PaymentIntegration", "OnlinePaymentGateway")" + "?" + formData, function (response) {
                debugger;
                var rb = response.response.Tok_id;
                const options = {
                    "atomTokenId": rb,
                    "merchId": "8952",
                    "custEmail": response.response.Email,
                    "custMobile": response.response.Mobile,
                    "returnUrl": "@Url.Action("PaymentResponse", "OnlinePaymentGateway")"
                }
                let atom = new AtomPaynetz(options, 'uat');
            });

        }

    </script>
}