@model IBS.Models.OnlinePaymentGateway
<div style="background:#fff; border:1px solid #d1d1d1; padding:20px;">
    <div class="row mb-2">
        <div class="col-lg-12">
            <div style="background:#cff4fc; font-weight:bold; color:#055160; padding:20px;">
                <h3 class="center" style="margin:0; padding:0; color:#055160;">3-Party Transaction</h3>
            </div>
        </div>
    </div>
    <br />
    <div class="row my-0">
        <div class="col-md-12">
            <h3 class="heading3 mb-4" style="color:#000">Transaction Receipt Fields</h3>
        </div>
    </div>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0" style="font-size:12px;">
            <tbody>
                <tr>
                    <td style="width:50%;"><strong>MMP TRANSACTION: </strong></td>
                    <td style="width:50%;">@Model.MER_TXN_REF</td>
                </tr>
                <tr>
                    <td><strong>Case No: </strong></td>
                    <td>@Model.CaseNo</td>
                </tr>
                <tr>
                    <td><strong>Call Date: </strong></td>
                    <td>@Model.CallDate</td>
                </tr>
                <tr>
                    <td><strong>Call Sno: </strong></td>
                    <td>@Model.CallSno</td>
                </tr> 
                <tr>
                    <td><strong>Charges Type: </strong></td>
                    <td>@Model.ChargesType</td>
                </tr> 
                <tr>
                    <td><strong>MERCHANT TRANSACTION ID: </strong></td>
                    <td>@Model.MERTXNID</td>
                </tr>
                <tr>
                    <td><strong>TRANSACTION AMOUNT: </strong></td>
                    <td>@Model.Charges</td>
                </tr>
                <tr>
                    <td><strong>TRANSACTION DATE: </strong></td>
                    <td>@Model.TranDate</td>
                </tr>
                <tr>
                    <td><strong>BANK TRANSACTION ID: </strong></td>
                    <td>@Model.BankTXNID</td>
                </tr>
                <tr>
                    <td><strong>PAYMENT STATUS: </strong></td>
                    <td>@Model.PaymentStatus</td>
                </tr>
                <tr>
                    <td><strong>BANK NAME: </strong></td>
                    <td>@Model.BankName</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
