@model IBS.Models.OnlinePaymentGateway
<div style="background:#fff; border:1px solid #d1d1d1; padding:20px;">
    <div class="row mb-2">
        <div class="col-lg-12">
            <div style="background:#cff4fc; font-weight:bold; color:#055160; padding:20px;">
                <h3 class="center" style="margin:0; padding:0; color:#055160;">3-Party Transaction</h3>
            </div>
        </div>
    </div>
    <br />
    <div class="row my-0">
        <div class="col-md-12">
            <h3 class="heading3 mb-4" style="color:#000">Transaction Receipt Fields</h3>
        </div>
    </div>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0" style="font-size:12px;">
            <tbody>
                <tr>
                    <td style="width:50%;"><strong>MerchTxnRef</strong></td>
                    <td style="width:50%;">@Model.MER_TXN_REF</td>
                </tr>
                <tr>
                    <td><strong>Merchant ID</strong></td>
                    <td>@Model.MerchantID</td>
                </tr>
                <tr>
                    <td><strong>Order Info.</strong></td>
                    <td>@Model.OrderInfo</td>
                </tr>
                <tr>
                    <td><strong>Transaction Amount</strong></td>
                    <td>@Model.TransactionAmount</td>
                </tr>
                <tr>
                    <td><strong>Transaction Response Code</strong></td>
                    <td>@Model.TranRespCode</td>
                </tr>
                <tr>
                    <td><strong>Transaction Response Code Description</strong></td>
                    <td>@Model.TranRespCodeDesc</td>
                </tr>
                <tr>
                    <td><strong>Payment Server Message</strong></td>
                    <td>@Model.PaymentServerMsg</td>
                </tr>
                <tr>
                    <td><strong>Acquirer Response Code</strong></td>
                    <td>@Model.AcquirerRespCode</td>
                </tr>
                <tr>
                    <td><strong>Shopping Transaction Number</strong></td>
                    <td>@Model.ShoppingTranNO</td>
                </tr>
                <tr>
                    <td><strong>Receipt Number</strong></td>
                    <td>@Model.ReceiptNo</td>
                </tr>
                <tr>
                    <td><strong>Authorization ID</strong></td>
                    <td>@Model.AuthorizationID</td>
                </tr>
                <tr>
                    <td><strong>Batch Number For This Transaction</strong></td>
                    <td>@Model.BatchNo</td>
                </tr>
                <tr>
                    <td><strong>Card Type</strong></td>
                    <td>@Model.CardType</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row my-0">
        <div class="col-md-12">
            <h3 class="heading3 mb-4" style="color:#000">CSC Data Fields</h3>
        </div>
    </div>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0" style="font-size:12px;">
            <tbody>
                <tr>
                    <td style="width:50%;"><strong>CSC Result Code</strong></td>
                    <td style="width:50%;">@Model.CSCResultCode</td>
                </tr>
                <tr>
                    <td><strong>CSC Result Description</strong></td>
                    <td>@Model.CSCResultDescrip</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row my-0">
        <div class="col-md-12">
            <h3 class="heading3 mb-4" style="color:#000">3DS Response Fields</h3>
        </div>
    </div>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0" style="font-size:12px;">
            <tbody>
                <tr>
                    <td style="width:50%;"><strong>CSC Result Code</strong></td>
                    <td style="width:50%;">@Model.CSCResultCode</td>
                </tr>
                <tr>
                    <td><strong>CSC Result Description</strong></td>
                    <td>@Model.CSCResultDescrip</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row my-0">
        <div class="col-md-12">
            <h3 class="heading3 mb-4" style="color:#000">3DS Response Fields</h3>
        </div>
    </div>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0" style="font-size:12px;">
            <tbody>
                <tr>
                    <td style="width:50%;"><strong>3DS ECI</strong></td>
                    <td style="width:50%;">@Model.ECI</td>
                </tr>
                <tr>
                    <td><strong>3DS XID</strong></td>
                    <td>@Model.XID</td>
                </tr>
                <tr>
                    <td><strong>3DS Enrolled</strong></td>
                    <td>@Model.Enrolled</td>
                </tr>
                <tr>
                    <td><strong>3DS Status</strong></td>
                    <td>@Model.Status</td>
                </tr>
                <tr>
                    <td><strong>3DS VerToken</strong></td>
                    <td>@Model.VerToken</td>
                </tr>
                <tr>
                    <td><strong>3DS VerType</strong></td>
                    <td>@Model.VerType</td>
                </tr>
                <tr>
                    <td><strong>3DS VerSecurityLevel</strong></td>
                    <td>@Model.VerSecurityLevel</td>
                </tr>
                <tr>
                    <td><strong>3DS VerStatus</strong></td>
                    <td>@Model.VerStatus</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row my-0">
        <div class="col-md-12">
            <h3 class="heading3 mb-4" style="color:#000">Risk Assessment Result Fields</h3>
        </div>
    </div>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0" style="font-size:12px;">
            <tbody>
                <tr>
                    <td style="width:50%;"><strong>Risk Overall Result</strong></td>
                    <td style="width:50%;">@Model.RiskOverallResult</td>
                </tr>
                <tr>
                    <td><strong>Transaction Reversal Result</strong></td>
                    <td>@Model.TranReversalResult</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
