@model IBS.Models.Statement_IeVendorWiseModel

<div>
    @* <p align="center"><font size="3" face="Verdana"><b><u>(@ViewBag.Region)</u></b></p> *@
    <h3 class="center">(@ViewBag.Region)</h3>
    @*<h3 class="center">Statement of IE & Vendor Wise Calls Cancelled during the Period <span class="orangeText"> @ViewBag.Frm </span> To <span class="orangeText">@ViewBag.To </span></h3>*@
    <h3 class="center">Statement of Overdue Calls on <span class="orangeText">@ViewBag.OnDate </span></h3>
    <br>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th valign="top" align="center"><b>S.NO.</b></th>
                    <th valign="top" align="center"><b>Case No.</b></th>
                    <th valign="top" align="center"><b>Call Date</b></th>
                    <th valign="top" align="center"><b>Desire Date</b></th>
                    <th valign="top" align="center"><b>Call Sno.</b></th>
                    <th valign="top" align="center"><b>Client</b></th>
                    <th valign="top" align="center"><b>IE</b></th>
                    <th valign="top" align="center"><b>CO</b></th>
                    <th valign="top" align="center"><b>Vendor</b></th>
                    <th valign="top" align="center"><b>Call Status</b></th>
                    <th valign="top" align="center"><b>Call Status Date</b></th>

                </tr>
                @if (Model != null && Model.statement_IeVendorWiseModels.Count > 0)
                {
                    var serialNumber = 1;
                    @foreach (var item in Model.statement_IeVendorWiseModels)
                    {

                        <tr>
                            <td valign="top" align="Left">@serialNumber</td>
                            <td valign="top" align="center">@item.CASE_NO</td>
                            <td valign="top" align="center">@item.CALL_RECV_DT</td>
                            <td valign="top" align="center">@item.DESIRE_DT</td>
                            <td valign="top" align="center">@item.CALL_SNO</td>
                            <td valign="top" align="center">@item.RLY_CD</td>
                            <td valign="top" align="center">@item.IE_NAME</td>
                            <td valign="top" align="center">@item.CO_NAME</td>
                            <td valign="top" align="center">@item.VENDOR</td>
                            <td valign="top" align="center">@item.CALL_STATUS_DESC</td>
                            <td valign="top" align="center">@item.CALL_STATUS_DATE</td>
                        </tr>
                        serialNumber++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>


