@model IBS.Models.Statement_IeVendorWiseModel

<div>
    @* <p align="center"><font size="3" face="Verdana"><b><u>(@ViewBag.Region)</u></b></p> *@
   @* <h3 class="center">(@ViewBag.Region)</h3>*@



    <h3 class="center">Call Details For Specific PO </h3>


   @* <h3 class="center">Statement of Overdue Calls on <span class="orangeText">@ViewBag.OnDate </span></h3>*@



    <br>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th  valign="top" align="center"><b>S.NO.</b></th>
                    <th  valign="top" align="center"><b>Vendor Name</b></th>
                    <th  valign="top" align="center"><b>Purchaser</b></th>
                    <th  valign="top" align="center"><b>Item</b></th>
                    <th  valign="top" align="center"><b>Call Date</b></th>
                    <th  valign="top" align="center"><b>Engineer Deputed</b></th>
                    <th  valign="top" align="center"><b>Engineer Contact No.</b></th>
                    <th  valign="top" align="center"><b>PO No.</b></th>
                    <th  valign="top" align="center"><b>PO Date</b></th>
                    <th  valign="top" align="center"><b>Case No</b></th>
                    <th  valign="top" align="center"><b>Status</b></th>
                    <th  valign="top" align="center"><b>Holofram OR Other</b></th>
                    <th  valign="top" align="center"><b>View IC</b></th>
                    <th  valign="top" align="center"><b>Contact Person</b></th>
                    <th  valign="top" align="center"><b>Call Serial No.</b></th>
                    <th  valign="top" align="center"><b>Controlling Manager</b></th>
                    <th  valign="top" align="center"><b>Remarks</b></th>

                </tr>
                @if (Model != null && Model.statement_IeVendorWiseModels.Count > 0)
                {
                    var serialNumber = 1;
                    @foreach (var item in Model.statement_IeVendorWiseModels)
                    {

                        <tr>
                            <td  valign="top" align="Left">@serialNumber</td>
                            <td  valign="top" align="center">@item.VENDOR</td>
                            <td  valign="top" align="center">@item.VEND_CD</td>
                            <td  valign="top" align="center">@item.ITEM_DESC_PO</td>
                            <td  valign="top" align="center">@item.CALL_DATE</td>
                            <td  valign="top" align="center">@item.IE_NAME</td>
                            <td  valign="top" align="center">@item.IE_PHONE_NO</td>
                            <td  valign="top" align="center">@item.PO_NO</td>
                            <td  valign="top" align="center">@item.PO_DT</td>
                            <td  valign="top" align="center">@item.CASE_NO</td>
                            <td  valign="top" align="center">@item.CALL_STATUS</td>
                            <td  valign="top" align="center">@item.Hologram</td>
                            <td  valign="top" align="center">@item.ICPhoto</td>
                            <td  valign="top" align="center">@item.CO_NAME</td>
                            <td  valign="top" align="center">@item.CALL_SNO</td>
                            <td  valign="top" align="center">@item.CONSIGNEE</td>
                            <td  valign="top" align="center">@item.REMARK</td>
                        </tr>
                        serialNumber++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>


