@model IBS.Models.Statement_IeVendorWiseModel

<div>
    @* <p align="center"><font size="3" face="Verdana"><b><u>(@ViewBag.Region)</u></b></p> *@
    <h3 class="center">(@ViewBag.Region)</h3>



    <h3 class="center">Details of Calls Cancelled Approval by CM's For <span class="orangeText"> @ViewBag.Frm </span> To <span class="orangeText">@ViewBag.To </span></h3>



    <br>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th valign="top" align="center"><b>S.NO.</b></th>
                    <th valign="top" align="center"><b>Case No</b></th>
                    <th valign="top" align="center"><b>Call Date</b></th>
                    <th valign="top" align="center"><b>Call Sno</b></th>
                    <th valign="top" align="center"><b>MFG</b></th>
                    <th valign="top" align="center"><b>Desire Date</b></th>
                    <th valign="top" align="center"><b>User ID</b></th>
                    <th valign="top" align="center"><b>Approval Date</b></th>
                    <th valign="top" align="center"><b>Cancellation Doc</b></th>

                </tr>
                @if (Model != null && Model.statement_IeVendorWiseModels.Count > 0)
                {
                    var serialNumber = 1;
                    @foreach (var item in Model.statement_IeVendorWiseModels)
                    {

                        <tr>
                            <td  valign="top" align="Left">@serialNumber</td>
                            <td  valign="top" align="center">@item.CASE_NO</td>
                            <td  valign="top" align="center">@item.CALL_DATE</td>
                            <td  valign="top" align="center">@item.CALL_SNO</td>
                            <td  valign="top" align="center">@item.MFG</td>
                            <td  valign="top" align="center">@item.DESIRE_DATE</td>
                            <td  valign="top" align="center">@item.USER_ID</td>
                            <td  valign="top" align="center">@item.APPROVAL_DATE</td>
                            <td  valign="top" align="center">@item.CANCEL_DT</td>
                          
                        </tr>
                        serialNumber++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>



