@model IBS.Models.Statement_IeVendorWiseModel

<div>
<style>
.borderTable th:nth-child(1){
    width:3%;
}

.borderTable th:nth-child(2), .borderTable th:nth-child(8) {
    width: 10%;
}
.borderTable th:nth-child(3),
.borderTable th:nth-child(5),
.borderTable th:nth-child(6),
.borderTable th:nth-child(7),
.borderTable th:nth-child(9),
.borderTable th:nth-child(10),
.borderTable th:nth-child(11),
.borderTable th:nth-child(12),
.borderTable th:nth-child(13),
.borderTable th:nth-child(14),
.borderTable th:nth-child(15),
.borderTable th:nth-child(16) {
    width: 5%;
}

.borderTable th:nth-child(5) {
    width: 5%;
}
</style>
    @* <p align="center"><font size="3" face="Verdana"><b><u>(@ViewBag.Region)</u></b></p> *@
    <h3 class="center">(@ViewBag.Region)</h3>



    @*<h3 class="center">Statement of IE & Vendor Wise Calls Cancelled during the Period <span class="orangeText"> @ViewBag.Frm </span> To <span class="orangeText">@ViewBag.To </span></h3>*@


    <h3 class="center">CALLS STATUS FOR THE PERIOD<span class="orangeText"> @ViewBag.Frm </span> To <span class="orangeText">@ViewBag.To </span></h3>
    <h2 class="center">(Status of <span class="orangeText"> @ViewBag.Region </span> As on Date) - Report Sorted on<span class="orangeText">@ViewBag.Sort </span></h2>



    <br>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th  valign="top" align="center"><b>S.NO.</b></th>
                    <th  valign="top" align="center"><b>Vendor Name.</b></th>
                    <th  valign="top" align="center"><b>Purchaser</b></th>
                    <th  valign="top" align="center"><b>Item</b></th>
                    <th  valign="top" align="center"><b>Qty OFF.</b></th>
                    <th  valign="top" align="center"><b>Delv Date</b></th>
                    <th  valign="top" align="center"><b>Call Date</b></th>
                    <th  valign="top" align="center"><b>Engineer Deputed</b></th>
                    <th  valign="top" align="center"><b>Engineer Contact No.</b></th>
                    <th  valign="top" align="center"><b>Po No</b></th>
                    <th  valign="top" align="center"><b>Status</b></th>
                    <th  valign="top" align="center"><b>Contact Person</b></th>
                    <th  valign="top" align="center"><b>Contact Person Phone No.</b></th>
                    <th  valign="top" align="center"><b>Call Serial No.</b></th>
                    <th  valign="top" align="center"><b>Controlling Manager</b></th>
                    <th  valign="top" align="center"><b>Remarks</b></th>

                </tr>
                @if (Model != null && Model.statement_IeVendorWiseModels.Count > 0)
                {
                    var serialNumber = 1;
                    @foreach (var item in Model.statement_IeVendorWiseModels)
                    {

                        <tr>
                            <td  valign="top" align="Left">@serialNumber</td>
                            <td  valign="top" align="center">@item.VENDOR</td>
                            <td  valign="top" align="center">@item.VEND_CD</td>
                            <td  valign="top" align="center">@item.ITEM_DESC_PO</td>
                            <td  valign="top" align="center">@item.QTY_TO_INSP</td>
                            <td  valign="top" align="center">@item.EXT_DELV_DT</td>
                            <td  valign="top" align="center">@item.CALL_DATE</td>
                            <td  valign="top" align="center">@item.IE_NAME</td>
                            <td  valign="top" align="center">@item.IE_PHONE_NO</td>
                            <td  valign="top" align="center">@item.PO_NO</td>
                            <td  valign="top" align="center">@item.CALL_STATUS</td>
                            <td  valign="top" align="center">@item.CO_NAME</td>
                            <td  valign="top" align="center">@item.MFG_PERS</td>
                            <td  valign="top" align="center">@item.CALL_SNO</td>
                            <td  valign="top" align="center">@item.CONSIGNEE</td>
                            <td  valign="top" align="center">@item.REMARK</td>
                        </tr>
                        serialNumber++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>


