@model IBS.Models.ICIssuedNotReceivedReportModel
<div>
    @*<h3 class="heading3">@Model.Region</h3>
    <h3 class="heading3">IC Issued but not Received in Office For The Period <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate </span></h3>*@
    <h3 class="center">IC Issued but not Received in Office For The Period<br /> <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate </span><br />(@Model.Region)</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0" width="75%">
            <tbody>
                <tr>

                    <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">S.No.</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">IE S.No.</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">IC Issue Date</font></b></th>
                    @{
                        if (Model.Type == "" || Model.Type == "IEWise")
                        {
                            <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">IE</font></b></th>
                            <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">CM</font></b></th>
                        }
                        else
                        {
                            <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">CM</font></b></th>
                            <th width="15%" valign="top" align="center"><b><font size="1" face="Verdana">IE</font></b></th>
                        }
                    }
                    <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">BK NO.</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">SET NO.</font></b></th>
                    <th width="3%" valign="top" align="center"><b><font size="1" face="Verdana">Digital IC</font></b></th>
                    <th width="5%" valign="top" align="center"><b><font size="1" face="Verdana">PO</font></b></th>

                </tr>
                @{
                    int SrNo = 0, PartSrNo = 0;
                    var IE_Name = "";
                    foreach (var item in Model.ICIssuedNotReceivedList)
                    {
                        SrNo = SrNo + 1;
                        if (Model.Type == "IEWise")
                        {
                            if (IE_Name == item.IE_NAME)
                            {
                                PartSrNo = PartSrNo + 1;
                            }
                            else
                            {
                                IE_Name = item.IE_NAME;
                                PartSrNo = 0;
                                PartSrNo = PartSrNo + 1;
                            }
                        }
                        else
                        {
                            if (IE_Name == item.CO_NAME)
                            {
                                PartSrNo = PartSrNo + 1;
                            }
                            else
                            {
                                IE_Name = item.CO_NAME;
                                PartSrNo = 0;
                                PartSrNo = PartSrNo + 1;
                            }
                        }
                        var ICPath = "/RBS/BILL_IC/" + item.CASE_NO + "-" + item.BK_NO + "-" + item.SET_NO + ".PDF";
                        <tr>
                            <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@SrNo</font></td>

                            <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@PartSrNo</font></td>
                            <td width="6%" valign="top" align="center"><font size="1" face="Verdana">@item.IC_ISSUED_DT</font></td>
                            @if (Model.Type == "IEWise")
                            {
                                <td width="8%" valign="top" align="left"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                                <td width="6%" valign="top" align="left"><font size="1" face="Verdana">@item.CO_NAME</font></td>
                            }
                            else
                            {
                                <td width="8%" valign="top" align="left"><font size="1" face="Verdana">@item.CO_NAME</font></td>
                                <td width="6%" valign="top" align="left"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                            }
                            <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.BK_NO</font></td>
                            <td width="3%" valign="top" align="center"><font size="1" face="Verdana">@item.SET_NO</font></td>
                            <td width="3%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    <div align="center" class="reportIcon" style="text-align: center;cursor: pointer;"><a href="@ICPath" target="_blank">IC</a></div>
                                </font>
                            </td>
                            <td width="5%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @if (Model.Type == "IEWise")
                                    {
                                        if (item.RLY_NONRLY == "R" && item.PO_SOURCE == "C")
                                        {
                                            var url = "https://www.ireps.gov.in/ireps/etender/pdfdocs/MMIS/PO/" + item.PO_YR + "/" + item.IMMS_RLY_CD + "/" + item.PO_NO + ".pdf";
                                            <div width='10%' valign='top' align='center'><a href='@url' Font-Names='Verdana' Font-Size='8pt' target='_blank'><font size='1' face='Verdana'>@item.CASE_NO  </font></a></div>
                                        }
                                        else
                                        {
                                            var urlTif = "/RBS/CASE_NO/" + @item.CASE_NO + ".TIF";
                                            var urlPdf = "/RBS/CASE_NO/" + @item.CASE_NO + ".PDF";
                                            if (item.IsTIF == true)
                                            {
                                                <div width='10%' valign='top' align='center'><a href='@urlTif' Font-Names='Verdana' Font-Size='8pt' target='_blank'><font size='1' face='Verdana'> @item.CASE_NO </font></a></div>
                                            }
                                            else if (item.IsPDF == true)
                                            {
                                                <div width='10%' valign='top' align='center'><a href='@urlPdf' Font-Names='Verdana' Font-Size='8pt' target='_blank'><font size='1' face='Verdana'> @item.CASE_NO</font></a></div>
                                            }
                                            else
                                            {
                                                <div width='10%' valign='top' align='center'> <font size='1' face='Verdana'> @item.CASE_NO </font></div>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (item.RLY_NONRLY == "R" && item.PO_SOURCE == "C")
                                        {
                                            var url = "https://www.ireps.gov.in/ireps/etender/pdfdocs/MMIS/PO/" + item.PO_YR + "/" + item.IMMS_RLY_CD + "/" + item.PO_NO + ".pdf";
                                            <div width='10%' valign='top' align='center'><a href='@url' Font-Names='Verdana' Font-Size='8pt' target='_blank'><font size='1' face='Verdana'> @item.CASE_NO </font></a></div>
                                        }
                                        else
                                        {
                                            var urlTif = "/RBS/CASE_NO/" + @item.CASE_NO + ".TIF";
                                            var urlPdf = "/RBS/CASE_NO/" + @item.CASE_NO + ".PDF";
                                            if (item.IsTIF == true)
                                            {
                                                <div width='10%' valign='top' align='center'><a href='@urlTif' Font-Names='Verdana' Font-Size='8pt'><font size='1' face='Verdana' target='_blank'> @item.CASE_NO </font></a></div>
                                            }
                                            else if (item.IsPDF == true)
                                            {
                                                <div width='10%' valign='top' align='center'><a href='@urlPdf' Font-Names='Verdana' Font-Size='8pt'><font size='1' face='Verdana' target='_blank'> @item.CASE_NO </font></a></div>
                                            }
                                            else
                                            {
                                                <div width='10%' valign='top' align='center'> <font size='1' face='Verdana'> @item.CASE_NO </font></div>
                                            }
                                        }
                                    }
                                </font>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

