@using IBS.Helper;
@model IBS.Models.ICIssuedNotReceivedReportModel
<div style="margin-left:5px;margin-right:5px;">
    @*<h3 class="heading3">@Model.Region</h3>
    <h3 class="heading3">IC Issued but not Received in Office For The Period <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate </span></h3>*@
    <h3 class="center">IC Issued but not Received in Office For The Period<br /> <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate </span><br />(@Model.Region)</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0" width="75%">
            <tbody>
                <tr>

                    <th valign="top" align="center"><b>S.No.</b></th>
                    <th valign="top" align="center"><b>IE S.No.</b></th>
                    <th valign="top" align="center"><b>IC Issue Date</b></th>
                    @{
                        if (Model.Type == "" || Model.Type == "IEWise")
                        {
                            <th valign="top" align="center"><b>IE</b></th>
                            <th valign="top" align="center"><b>CM</b></th>
                        }
                        else
                        {
                            <th width="15%" valign="top" align="center"><b>CM</b></th>
                            <th width="15%" valign="top" align="center"><b>IE</b></th>
                        }
                    }
                    <th valign="top" align="center"><b>BK NO.</b></th>
                    <th valign="top" align="center"><b>SET NO.</b></th>
                    <th valign="top" align="center"><b>Digital IC</b></th>
                    <th valign="top" align="center"><b>PO</b></th>

                </tr>
                @{
                    int SrNo = 0, PartSrNo = 0;
                    var IE_Name = "";
                    foreach (var item in Model.ICIssuedNotReceivedList)
                    {
                        SrNo = SrNo + 1;
                        if (Model.Type == "IEWise")
                        {
                            if (IE_Name == item.IE_NAME)
                            {
                                PartSrNo = PartSrNo + 1;
                            }
                            else
                            {
                                IE_Name = item.IE_NAME;
                                PartSrNo = 0;
                                PartSrNo = PartSrNo + 1;
                            }
                        }
                        else
                        {
                            if (IE_Name == item.CO_NAME)
                            {
                                PartSrNo = PartSrNo + 1;
                            }
                            else
                            {
                                IE_Name = item.CO_NAME;
                                PartSrNo = 0;
                                PartSrNo = PartSrNo + 1;
                            }
                        }
                        //var ICPath = $"/ReadWriteData/BILL_IC/" + item.CASE_NO + "-" + item.BK_NO + "-" + item.SET_NO + ".PDF";
                        var ICPath = $"/ReadWriteData/BILL_IC/{item.CASE_NO}-{item.BK_NO}-{item.SET_NO}.PDF";
                        <tr>
                            <td valign="top" align="center">@SrNo</td>

                            <td valign="top" align="center">@PartSrNo</td>
                            <td valign="top" align="center">@item.IC_ISSUED_DT</td>
                            @if (Model.Type == "IEWise")
                            {
                                <td valign="top" align="left">@item.IE_NAME</td>
                                <td valign="top" align="left">@item.CO_NAME</td>
                            }
                            else
                            {
                                <td valign="top" align="left">@item.CO_NAME</td>
                                <td valign="top" align="left">@item.IE_NAME</td>
                            }
                            <td valign="top" align="center">@item.BK_NO</td>
                            <td valign="top" align="center">@item.SET_NO</td>
                            <td valign="top" align="center">
                                
                                    <div align="center" class="reportIcon" style="text-align: center;cursor: pointer;"><a href="@ICPath" target="_blank">IC</a></div>
                                
                            </td>
                            <td valign="top" align="center">
                                
                                    @if (Model.Type == "IEWise")
                                    {
                                        if (item.RLY_NONRLY == "R" && item.PO_SOURCE == "C")
                                        {
                                            var url = $"https://www.ireps.gov.in/ireps/etender/pdfdocs/MMIS/PO/{item.PO_YR}/{item.IMMS_RLY_CD}/{item.PO_NO}.pdf";
                                            <div valign='top' align='center'><a href='@url' Font-Names='Verdana' Font-Size='8pt' target='_blank'>@item.CASE_NO  </a></div>
                                        }
                                        else
                                        {
                                            var urlTif = @IBS.Helper.Enums.GetEnumDescription(Enums.FolderPath.CaseNo);
                                            var urlPdf = @IBS.Helper.Enums.GetEnumDescription(Enums.FolderPath.CaseNo);

                                            urlTif = $"{urlTif}/{item.CASE_NO}.TIF";
                                            urlPdf = $"{urlPdf}/{item.CASE_NO}.PDF";
                                            if (item.IsTIF == true)
                                            {
                                                <div valign='top' align='center'><a href='@urlTif' Font-Names='Verdana' Font-Size='8pt' target='_blank'> @item.CASE_NO </a></div>
                                            }
                                            else if (item.IsPDF == true)
                                            {
                                                <div valign='top' align='center'><a href='@urlPdf' Font-Names='Verdana' Font-Size='8pt' target='_blank'> @item.CASE_NO</a></div>
                                            }
                                            else
                                            {
                                                <div valign='top' align='center'>  @item.CASE_NO </div>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (item.RLY_NONRLY == "R" && item.PO_SOURCE == "C")
                                        {
                                            var url = $"https://www.ireps.gov.in/ireps/etender/pdfdocs/MMIS/PO/{item.PO_YR}/{item.IMMS_RLY_CD}/{item.PO_NO}.pdf";
                                            <div valign='top' align='center'><a href='@url' Font-Names='Verdana' Font-Size='8pt' target='_blank'> @item.CASE_NO </a></div>
                                        }
                                        else
                                        {
                                            var urlTif = @IBS.Helper.Enums.GetEnumDescription(Enums.FolderPath.CaseNo);
                                            var urlPdf = @IBS.Helper.Enums.GetEnumDescription(Enums.FolderPath.CaseNo);

                                            urlTif = $"{urlTif}/{item.CASE_NO}.TIF";
                                            urlPdf = $"{urlPdf}/{item.CASE_NO}.PDF";
                                            if (item.IsTIF == true)
                                            {
                                                <div valign='top' align='center'><a href='@urlTif' target='_blank'> @item.CASE_NO </a></div>
                                            }
                                            else if (item.IsPDF == true)
                                            {
                                                <div valign='top' align='center'><a href='@urlPdf' target='_blank'> @item.CASE_NO </a></div>
                                            }
                                            else
                                            {
                                                <div valign='top' align='center'>  @item.CASE_NO </div>
                                            }
                                        }
                                    }
                                
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

