@model IBS.Models.IEFromToDate

@{
    ViewData["Title"] = "IE Dairy Report";
}

<form data-ajax="true" asp-antiforgery="true" asp-controller="Reports" asp-action="FromToDate" data-ajax-method="post" data-ajax-complete="completed" id="frmDetails">
    <div class="list-inner">
        <div class="tast-list">
            <h2><label id="lblTitle" style="font-weight:600;font-family:'Poppins', sans-serif;font-size:24px;"></label>IE DAIRY REPORT</h2>
        </div>
    </div>
    <div class="accordion-body">

        <div class="row my-0" id="iesec">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    @Html.RadioButton("rdbIEManage", "IE Wise", new { @id="rdbIE", @class = "text-darkblue font-bold font-size-8pt", @tabindex = "6", @checked = true }) IE Wise
                </div>
            </div>
            <div class="col-md-4 mb-3" style="font-weight: bold;">
                <div class="reference">
                    <label for="Name" id="statusIECM">Status of IE</label>
                    @Html.RadioButton("rdbAllParti", "AllIES", new { @id="rdbAll", @class = "text-darkblue font-bold font-size-8pt", @tabindex = "6", @checked = true })<span id="lblAll">All IE'S</span>
                    &nbsp;&nbsp;
                    @Html.RadioButton("rdbAllParti", "ParticularIE", new {@id="rdbParticular", @class = "text-darkblue font-bold font-size-8pt", @tabindex = "6" }) <span id="lblParticular">For Particular IE</span>
                </div>
            </div>
            <div class="col-md-4 mb-3" id="secDrop">
                <div class="reference">
                    <label for="Name" id="lblIECM">IE</label>
                    @Html.DropDownList("lstIE", new SelectList(IBS.Models.Common.GetIENameIsStatusNull(@ViewBag.Region) , "Value", "Text"),"--Select--", new{@id="DpIE"})
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">From Date</label>
                    <input type="text" class="datepicker" asp-for="FromDt" maxlength="100" style="text-transform: uppercase;">
                    <span asp-validation-for="FromDt" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="reference">
                    <label for="Reference">To Date</label>
                    <input type="text" class="datepicker" asp-for="ToDt" maxlength="100" style="text-transform: uppercase;">
                    <span asp-validation-for="ToDt" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-4 mb-3" style="font-weight: bold;">
                <div class="reference">
                    <label for="Name" id="statusIECM">Sorted On</label>
                    @Html.RadioButton("rdbRecvVisitDTSort", "Call Recv DT", new { @id="rdbCallRecvDt", @class = "text-darkblue font-bold font-size-8pt", @tabindex = "6", @checked = true })<span id="lblIESort">CALL RECV DT</span>
                    &nbsp;&nbsp;
                    @Html.RadioButton("rdbRecvVisitDTSort", "Visit Sort", new {@id="rdbVisitSort", @class = "text-darkblue font-bold font-size-8pt", @tabindex = "6" }) <span id="lblVisitSort">VISIT DATE</span>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-6 mb-3">
                <div class="savenext-btn">
                    @*<a asp-controller="Report" asp-action="IEDairy" class="reset-btn">Back</a>*@
                    <button type="button" class="save-btn active" id="btnSearch">Search</button>
                </div>
            </div>
        </div>

    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtList" class="table-responsive">
                    <thead>
                        <tr>
                            @*<th>SNO</th>*@
                            <th>IE</th>
                            <th>PO No. & Date Rly/Non Rly</th>
                            <th>RITES Case No.</th>
                            <th>Call No. & Date</th>
                            <th>Name of the Vendor/Mfgr</th>
                            <th>Date of Visit</th>
                            <th>Brief Disc of Stores</th>
                            <th>Qty. Insp</th>
                            <th>Installment No.</th>
                            <th>Book No./Set No.</th>
                            <th>A. IC Issued, B. Rejection C.Cancellation issue Date</th>
                            <th>Consignee and Rly/Non Rly</th>
                            <th>Value of Stores</th>
                            <th>Date of submission of papers for Billing</th>
                            <th>Inspection Fee</th>
                            @*<th>Remarks, Date of Test Report recd.</th>*@
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</form>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" />

    <script type="text/javascript">
        var UserName = "@ViewBag.UserName";
        var Action = "@ViewBag.Action";
        var IECD = @ViewBag.IECD;
        $(document).ready(function () {
            debugger
            setDefaultDate();
            $('input[type=radio][name=rdbAllParti]').change(function () {
                ManageAllPartiRadio();
            });
            ManageAllPartiRadio();

            if (Action == "E") {
                $("#iesec").css("display", "block");
            }
            else {
                $("#iesec").css("display", "none");
            }

            $("#btnSearch").click(function () {
                if (UserName == "") {
                    $("#rdbIE").prop("checked", true);
                    $("#rdbParticular").prop("checked", true);
                    $("#DpIE").val(IECD);
                }
                InitializeDatatable();
            });
        });

        function setDefaultDate() {
            $('#FromDt').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
            });
            $('#ToDt').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
            });
        }

        function ManageAllPartiRadio() {
            if ($('#rdbAll').is(':checked')) {
                $("#lblIECM").css("display", "none");
                $("#DpIE").css("display", "none");
            } else if ($('#rdbParticular').is(':checked')) {
                $("#lblIECM").css("display", "block");
                $("#DpIE").css("display", "block");
            }
        }

        function InitializeDatatable() {
            debugger
            var FromDate = $("#FromDt").val();
            var ToDate = $("#ToDt").val();
            var OrderByVisit = $('#rdbCallRecvDt').is(':checked') == true ? "0" : "1";
            var IsAllIE = $('#rdbAll').is(':checked') == true ? "true" : "false";

            $("#dtList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'excel', //'print'
                    {
                        extend: 'print',
                        //text: 'ButtonLabelHere',
                        title: 'IE Dairy Report ' + FromDate + ' To ' + ToDate + ' (IE Wise)',
                        customize: function (win) {
                            $(win.document.body).find('h1').css('text-align', 'center');
                        },
                    }
                ],
                ajax: {// Ajax Filter
                    url: "@Url.Action("Get_IEDairy", "Reports")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "FromDate": FromDate,
                            "ToDate": ToDate,
                            "DpIE": $("#DpIE").val(),
                            "OrderByVisit": OrderByVisit,
                            "IsAllIE": IsAllIE
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    },
                },

                columns: [// Columns Setups
                    //{
                    //    data: '', orderable: false, width: '5%',
                    //    render: function (data, type, row, meta) {
                    //        return meta.row + meta.settings._iDisplayStart + 1;
                    //    }
                    //},
                    { data: "IE_NAME" },
                    { data: "PO" },
                    { data: "CASE_NO" },
                    { data: "CALL" },
                    { data: "VEND" },
                    { data: "DT_OF_VISIT" },
                    { data: "ITEM_DESC_PO" },
                    { data: "QTY_TO_INSP" },
                    { data: "CALL_INSTALL_NO" },
                    { data: "BK_NO" },
                    { data: "IC_ISSUE_DT" },
                    { data: "CONSIGNEE" },
                    { data: "MATERIAL_VALUE" },
                    { data: "SUBMIT_DT" },
                    { data: "INSP_FEE" }
                ],
                "order": [[0, "asc"]]
            });
        }

    </script>
}

