@model IBS.Models.IEWorkPlanModel
<div>
    <h3 class="center">IE Inspection Daily Work Plan Report <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate (IE Wise)</span> <br /> @Model.Region, RITES Ltd</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    

                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">S.No.</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">IE Name</font></b></th>                    
                    <th width='8%' valign='top' align='center'><b><font size='1' face='Verdana'>CM Name</font></b></th>
                    <th width='7%' valign='top' align='center'><b><font size='1' face='Verdana'>Scheduled Visit Date</font></b></th>
                    <th width='7%' valign='top' align='center'><b><font size='1' face='Verdana'>Date & Time of Entry</font></b></th>
                    <th width='6%' valign='top' align='center'><b><font size='1' face='Verdana'>Case No.</font></b></th>
                    <th width='6%' valign='top' align='center'><b><font size='1' face='Verdana'>Call Date</font></b></th>                    
                    <th width='6%' valign='top' align='center'><b><font size='1' face='Verdana'>Desire Date</font></b></th>                    
                    <th width='4%' valign='top' align='center'><b><font size='1' face='Verdana'>Call SNo.</font></b></th>                    
                    <th width='5%' valign='top' align='center'><b><font size='1' face='Verdana'>Master Checksheet Linked(Yes/No)</font></b></th>                    
                    <th width='9' valign='top' align='center'><b><font size='1' face='Verdana'>Manufacturer</font></b></th>                    
                    <th width='10%' valign='top' align='center'><b><font size='1' face='Verdana'>Place Of Inspection</font></b></th>                    
                    <th width='5%' valign='top' align='center'><b><font size='1' face='Verdana'>Manufacturer City</font></b></th>                    
                    <th width='10%' valign='top' align='center'><b><font size='1' face='Verdana'>Item</font></b></th>                    
                    <th width='5%' valign='top' align='center'><b><font size='1' face='Verdana'>Value</font></b></th>                    
                    <th width='5%' valign='top' align='center'><b><font size='1' face='Verdana'>Call Status</font></b></th>
                </tr>
                @if (Model != null && Model.lstWorkPlan1 != null && Model.lstWorkPlan1.Count > 0)
                {
                    var SrNo = 0;
                    @foreach (var item in Model.lstWorkPlan1)
                    {
                        SrNo = SrNo + 1;
                        <tr>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@SrNo</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.CO_NAME</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.VISIT_DATE</font></td>
                            <td width="2%" valign="top" align="left"><font size="1" face="Verdana">@item.LOGIN_TIME</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.CASE_NO</font></td>
                            <td width="2%" valign="top" align="left"><font size="1" face="Verdana">@item.CALL_RECV_DATE</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.DESIRE_DT</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_SNO</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.CHK_COUNT</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.MFG_NAME</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.MFG_PLACE</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.MFG_CITY</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.ITEM_DESC_PO</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.VALUE</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.CALL_STATUS</font></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="16" style="text-align:center; background: #f1f1f1 !important;"><font size="1" face="Verdana">No records found</font></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <h3 class="center">IE Non Inspection Daily Work Plan Report <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate (IE Wise)</span> <br /> @Model.Region, RITES Ltd</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>


                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">S.No.</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">IE Name</font></b></th>
                    <th width='8%' valign='top' align='center'><b><font size='1' face='Verdana'>CM Name</font></b></th>
                    <th width='7%' valign='top' align='center'><b><font size='1' face='Verdana'>Work Plan</font></b></th>
                    <th width='7%' valign='top' align='center'><b><font size='1' face='Verdana'>Work Date</font></b></th>
                    <th width='6%' valign='top' align='center'><b><font size='1' face='Verdana'>Time</font></b></th>                    
                </tr>
                @if (Model != null && Model.lstWorkPlan2 != null && Model.lstWorkPlan2.Count > 0)
                {
                    var SrNo = 0;
                    @foreach (var item in Model.lstWorkPlan2)
                    {
                        SrNo = SrNo + 1;
                        <tr>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@SrNo</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.CO_NAME</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.NI_WORK_PLAN_CD</font></td>
                            <td width="2%" valign="top" align="left"><font size="1" face="Verdana">@item.WORK_DATE</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.LOGIN_TIME</font></td>                            
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" style="text-align:center; background: #f1f1f1 !important;"><font size="1" face="Verdana">No records found</font></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <h3 class="center">IE Who Had Not Entered Daily Work Plan <span class="orangeText"> @Model.Display_FromDate </span> To <span class="orangeText">@Model.Display_ToDate (IE Wise)</span> <br /> @Model.Region, RITES Ltd</h3>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>


                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">S.No.</font></b></th>
                    <th width="6%" valign="top" align="center"><b><font size="1" face="Verdana">IE Name</font></b></th>
                    <th width='8%' valign='top' align='center'><b><font size='1' face='Verdana'>CM Name</font></b></th>
                    <th width='7%' valign='top' align='center'><b><font size='1' face='Verdana'>Date</font></b></th>
                    <th width='7%' valign='top' align='center'><b><font size='1' face='Verdana'>Reason</font></b></th>                    
                </tr>
                @if (Model != null && Model.lstWorkPlan3 != null && Model.lstWorkPlan3.Count > 0)
                {
                    var SrNo = 0;
                    @foreach (var item in Model.lstWorkPlan3)
                    {
                        SrNo = SrNo + 1;
                        <tr>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.SrNo</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.IE_NAME</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.CO_NAME</font></td>
                            <td width="2%" valign="top" align="center"><font size="1" face="Verdana">@item.Date</font></td>
                            <td width="2%" valign="top" align="left"><font size="1" face="Verdana">@item.Reason</font></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" style="text-align:center; background: #f1f1f1 !important;"><font size="1" face="Verdana">No records found</font></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>