@model IBS.Models.BPOWiseOutstandingBillsModel

<div>
    <h3 class="center">(@ViewBag.Region)</h3>


    <h3 class="center">OUTSTANDING BILLS Report For The Period: <span class="orangeText"> @ViewBag.From </span> To <span class="orangeText">@ViewBag.To </span></h3>

    <br>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>

                    <th  valign="top" align="center"><b>Bill No.</b></th>
                    <th  valign="top" align="center"><b>Invoice No</b></th>
                    <th  valign="top" align="center"><b>Bill Date.</b></th>
                    <th  valign="top" align="center"><b>Bill Amount.</b></th>
                    <th  valign="top" align="center"><b>BK No.</b></th>
                    <th  valign="top" align="center"><b>Set No.</b></th>
                    <th  valign="top" align="center"><b>GST TDS</b></th>
                    <th  valign="top" align="center"><b>I TAX TDS</b></th>
                    <th  valign="top" align="center"><b>Retention Money</b></th>
                    <th  valign="top" align="center"><b>C Note Number</b></th>
                    <th  valign="top" align="center"><b>C Note Amount</b></th>
                    <th  valign="top" align="center"><b>Write Off Amount</b></th>
                    <th  valign="top" align="center"><b>Amount Posted</b></th>
                    <th  valign="top" align="center"><b>Amount Realised</b></th>
                    <th  valign="top" align="center"><b>Amount Outstading</b></th>
                    <th  valign="top" align="center"><b>Case No.</b></th>
                    <th  valign="top" align="center"><b>Po No.</b></th>
                    <th  valign="top" align="center"><b>Po Date.</b></th>
                    <th  valign="top" align="center"><b>PO OR Letter</b></th>
                    <th  valign="top" align="center"><b>Consignee</b></th>
                    <th  valign="top" align="center"><b>BPO</b></th>
                    <th  valign="top" align="center"><b>AU DESC</b></th>
                    <th  valign="top" align="center"><b>Sap Cust CD BPO</b></th>
                    <th  valign="top" align="center"><b>Vendor</b></th>
                    <th  valign="top" align="center"><b>IE</b></th>
                    <th  valign="top" align="center"><b>Recipient GSTIN NO</b></th>
                    <th  valign="top" align="center"><b>IC NO</b></th>
                    <th  valign="top" align="center"><b>IC Date</b></th>
                    <th  valign="top" align="center"><b>Cheque Date</b></th>
                    <th  valign="top" align="center"><b>Cheque Amount</b></th>
                    <th  valign="top" align="center"><b>Narration/UTR No</b></th>
                    <th  valign="top" align="center"><b>Lo Remarks</b></th>
                    
                </tr>
                @if (Model != null && Model.lstBPOReport != null)
                {
                    var serialNumber = 1;
                    @foreach (var item in Model.lstBPOReport)
                    {

                        <tr>
                            <td  valign="top" align="center">
                                
                                    @item.BILL_NO
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.INVOICE_NO
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.BILL_DT
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.BILL_AMOUNT
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.BK_NO
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.SET_NO
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.GST_TDS
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.I_TAX_TDS
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.RETENTION_MONEY
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.CNOTE_NUMBER
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.CNOTE_AMOUNT
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.WRITE_OFF_AMT
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.AMOUNT_POSTED
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.AMOUNT_REALISED
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.AMOUNT_OUTSTADING
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.CASE_NO
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.PO_NO
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.PO_DT
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.PO_OR_LETTER
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.CONSIGNEE
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.BPO
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.AU_DESC
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.SAP_CUST_CD_BPO
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.VENDOR
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.IE
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.RECIPIENT_GSTIN_NO
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.IC_NO
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.IC_DT
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.CHQ_DT
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.Amount
                                
                            </td>
                            <td  valign="top" align="center">
                                
                                    @item.NARRATION
                                
                            </td>
                            
                            <td  valign="top" align="center">
                                
                                    @item.LO_REMARKS
                                
                            </td>
                        </tr>
                        serialNumber++;
                    }

                }
                else
                {
                    <tr>
                        <td colspan="22" style="text-align:center; background: #f1f1f1 !important;">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


