@model IBS.Models.BPOWiseOutstandingBillsModel

<div>
    <h3 class="center">(@ViewBag.Region)</h3>


    <h3 class="center">OUTSTANDING BILLS Report For The Period: <span class="orangeText"> @ViewBag.From </span> To <span class="orangeText">@ViewBag.To </span></h3>

    <br>
    <div class="tableOuter">
        <table class="borderTable" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>

                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Bill No.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Invoice No</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Bill Date.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Bill Amount.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">BK No.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Set No.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">GST TDS</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">I TAX TDS</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Retention Money</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">C Note Number</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">C Note Amount</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Write Off Amount</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Amount Posted</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Amount Realised</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Amount Outstading</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Case No.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Po No.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Po Date.</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">PO OR Letter</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Consignee</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">BPO</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">AU DESC</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Sap Cust CD BPO</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Vendor</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">IE</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Recipient GSTIN NO</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">IC NO</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">IC Date</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Cheque Date</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Cheque Amount</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Narration/UTR No</font></b></th>
                    <th width="25%" valign="top" align="center"><b><font sizw="1" face="Verdana">Lo Remarks</font></b></th>
                    
                </tr>
                @if (Model != null && Model.lstBPOReport != null)
                {
                    var serialNumber = 1;
                    @foreach (var item in Model.lstBPOReport)
                    {

                        <tr>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.BILL_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.INVOICE_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.BILL_DT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.BILL_AMOUNT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.BK_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.SET_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.GST_TDS
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.I_TAX_TDS
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.RETENTION_MONEY
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CNOTE_NUMBER
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CNOTE_AMOUNT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.WRITE_OFF_AMT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.AMOUNT_POSTED
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.AMOUNT_REALISED
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.AMOUNT_OUTSTADING
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CASE_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.PO_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.PO_DT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.PO_OR_LETTER
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CONSIGNEE
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.BPO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.AU_DESC
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.SAP_CUST_CD_BPO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.VENDOR
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.IE
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.RECIPIENT_GSTIN_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.IC_NO
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.IC_DT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.CHQ_DT
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.Amount
                                </font>
                            </td>
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.NARRATION
                                </font>
                            </td>
                            
                            <td width="25%" valign="top" align="center">
                                <font size="1" face="Verdana">
                                    @item.LO_REMARKS
                                </font>
                            </td>
                        </tr>
                        serialNumber++;
                    }

                }
                else
                {
                    <tr>
                        <td colspan="22" style="text-align:center; background: #f1f1f1 !important;"><font size="1" face="Verdana">No records found</font></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


