@model IBS.Models.LabSampleInfoModel

@{
    ViewData["Title"] = "";

    string clsView = "";
    // if (Model.CaseNo != null)
    // {

    //     clsView = "Permission_View";
    // }
}

<div id="tab-1">
    <form data-ajax="true" asp-antiforgery="true" asp-controller="LabSampleInfo" asp-action="SaveDataDetails" data-ajax-method="post" data-ajax-complete="completed" id="frmDetails">
        <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />
        <div class="list-inner">
            <div class="tast-list">
                <h2>LAB SAMPLE INFORMATION DETAIL</h2>
            </div>
            <input type="hidden" asp-for="FileId" />
            <div>
                <a asp-action="LabSampleInfo" asp-controller="LabSampleInfo" class="formBtn viewall-btn">View List</a>
            </div>
        </div>

        <section class="@clsView">
            <div class="task-listinput">
                <div class="accordion-body">
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Case No.</label>
                            <input type="text" class="input" readonly="readonly" id="lblcno" asp-for="CaseNo">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Call Date & Sno</label>
                            <input type="text" class="input" readonly="readonly" id="lblCallDT" asp-for="CallRecDt">

                        </div>
                        <div class="col-md-4 mb-3" style="margin-top:auto;">

                            <input type="text" class="input" readonly="readonly" id="lblCallSno" asp-for="CallSNO">
                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Vendor</label>
                            <input type="text" class="input" readonly="readonly" id="lblVend" asp-for="VendorName">
                            <input type="text" class="input" readonly="readonly" style="display:none;" id="lblVENDCD" asp-for="Vendor">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">IE</label>
                            <input type="text" class="input" readonly="readonly" id="lblIE" asp-for="IEName">
                            <input type="text" class="input" readonly="readonly" style="display:none;" id="lblIECD" asp-for="IE">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Date of Receipt of Sample <i class="text-danger">*</i></label>
                            <input type="text" class="input datepicker" id="dtrecsam" asp-for="DateofRecSample">
                            <span class="text-danger field-validation-error" id="spnError1"></span>
                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Total Testing Fee (incl of Taxes)</label>
                            <input type="text" class="input" id="txttesfee" asp-for="TotalTFee">


                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Likely Date of Test Report <i class="text-danger">*</i></label>
                            <input type="text" class="input datepicker" id="dtlike" asp-for="LikelyDt">
                            <span class="text-danger field-validation-error" id="spnError2"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Status</label>
                            @Html.DropDownListFor(model => model.Status, new SelectList(IBS.Models.Common.LabSmapleStatus() , "Value", "Text"),new { @id = "ddlstatus", @class = "form-control" })
                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="col-md-8 mb-3">
                            <label for="Reference">Remarks</label>
                            <textarea asp-for="Remarks" class="form-control custom-textarea" id="txtremark"></textarea>

                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Payment Slip Uploaded By Vendor</label>
                            <input type="text" class="input" id="lblpslip" readonly="readonly">

                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Payment Status By Finance (RITES)</label>
                            <input type="text" class="input" id="lblps" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.LabUploadDoc" />
                    </div>
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active" onclick="Save();" id="btnsave">Save</button>
                        <button type="button" class="save-btn active" onclick="Update();" style="display:none;" id="btnupdate">Update</button>
                        <a asp-controller="LabSampleInfo" asp-action="LabSampleInfo" class="reset-btn">Clear</a>
                    </div>
                   @*  <div class="row my-0">
                        <div class="col-md-4 mb-3" id="showfill">
                            <label for="Reference">Upload Lab Report<i class="text-danger">(PDF Only and Max Size: 1 MB)</i><i id="mandatory" class="text-danger">*</i></label>

                            <input type="file" name="fileUpload" id="upload" enctype="multipart/form-data" />
                        </div>
                        <a id="download" href="javascript:void(0);" style="display:none;">Download File</a>
                    </div> *@
                    @* <div class="savenext-btn">
                        <button type="button" class="save-btn active Permission_Save" onclick="SaveDetails();" id="btnsave">Save</button>
                        <button type="button" class="save-btn active Permission_EditView" style="display:none;" onclick="UpdateDetails();" id="btnupdate">Update</button>
                    </div> *@
                </div>
                @*<form asp-controller="YourController" asp-action="YourAction" method="post">*@

            </div>
        </section>
    </form>
</div>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>

        function InitializeDatatable() {

            $("#dtlabregdtl").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {

                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "SNO" },
                    { data: "ITEM_DESC" },
                    { data: "QTY" },
                    { data: "TEST" },
                    { data: "LAB_ID" },
                    { data: "TESTING_FEE" },
                    { data: "REMARKS" },

                    //{
                    //    data: null, orderable: false,
                    //    render: function (data, type, row) {
                    //        return data.Status ? "Active" : "InActive";
                    //    }
                    //},
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var Id = data.LabId;
                            var editUrl = '@Url.Action("LaboratoryManage", "LaboratoryMaster")?LabId=' + Id;
                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            //html += '<a onclick="UserDelete(\'' + Id + '\'); return false;" href="javascript:void(\'0\');" id=\"' + Id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },

                ],
                "order": [[0, "asc"]]
            });
        }
        const reader = new FileReader();
        const fileByteArray = [];
        var encode = function (d, a, e, b, c, f) { c = ""; for (a = e = b = 0; a < 4 * d.length / 3; f = b >> 2 * (++a & 3) & 63, c += String.fromCharCode(f + 71 - (f < 26 ? 6 : f < 52 ? 0 : f < 62 ? 75 : f ^ 63 ? 90 : 87)) + (75 == (a - 1) % 76 ? "\r\n" : ""))a & 3 ^ 3 && (b = b << 8 ^ d[e++]); for (; a++ & 3;)c += "="; return c };

        $('#upload').change(function (e) {
            var file = this.files[0];
            var maxSize = 1024 * 1024;
            var allowedExtensions = /(\.pdf)$/i;

            if (!allowedExtensions.test(file.name)) {
                alert('Only PDF files are allowed.');
                this.value = '';
                return false;
            }

            if (file.size > maxSize) {
                alert('File size exceeds 1MB limit.');
                this.value = '';
                return false;
            }
            reader.readAsArrayBuffer(e.target.files[0]);
            reader.onloadend = (evt) => {
                if (evt.target.readyState === FileReader.DONE) {
                    const arrayBuffer = evt.target.result,
                        array = new Uint8Array(arrayBuffer);
                    for (const a of array) {
                        fileByteArray.push(a);
                    }
                    console.log(fileByteArray)
                }
            }
        });
        $(function () {

            // $("#lblpslip").val("Not Uploaded");
            // $("#lblps").val("Not Approved");
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy" // Set the date format to "dd/mm/yy"
            });
            var today = new Date();
            //$("#dtregdt").val(today.getFullYear() + '-' + ('0' + (today.getMonth() - 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
            $("#dtregdt").val(('0' + (today.getMonth() + 1)).slice(-2) + '/' + ('0' + today.getDate()).slice(-2) + '/' + (today.getFullYear()));
            LoadSampleDtl();

        });
        $("#ddlitem").change(function () {

            var name = $("#ddlitem option:selected").text();
            $("#txtitemnm").val(name);
        })
        $("#ddlstatus").change(function () {


            if ($("#ddlstatus").val() != "U") {
                $("#showfill").css("display", "none");
                $("#mandatory").css("display", "none");
            }
            else {
                $("#showfill").css("display", "");
                $("#mandatory").css("display", "");
            }
        })


        function LoadSampleDtl() {

            var CaseNo = '@ViewBag.CaseNo';
            var CallRdt = '@ViewBag.CallRdt';
            var CallSno = '@ViewBag.Sno';

            var url = '@Url.Action("SampleDtlData", "LabSampleInfo")';

            $.ajax({
                // url: '/LabSampleInfo/SampleDtlData',
                url: url,
                type: "POST",
                dataType: "JSON",
                data: { CaseNo: CaseNo, CallRdt: CallRdt, CallSno: CallSno },

                success: function (success) {

                    if (success.DateofRecSample != null && success.LikelyDt != null && success.DateofRecSample != "" && success.LikelyDt != "") {
                        var originalDateStr = success.DateofRecSample;

                        var dateParts = originalDateStr.split(' ');
                        var datePart = dateParts[0];
                        var timePart = dateParts[1];

                        var dateComponents = datePart.split('/');
                        var day = dateComponents[0];
                        var month = dateComponents[1];
                        var year = dateComponents[2];

                        var convertedDateStr = day + "/" + month + "/" + year;


                        var originalDateStr1 = success.LikelyDt;
                        var dateParts1 = originalDateStr1.split(' ');
                        var datePart1 = dateParts1[0];
                        var timePart1 = dateParts1[1];

                        var dateComponents1 = datePart1.split('/');
                        var day1 = dateComponents1[0];
                        var month1 = dateComponents1[1];
                        var year1 = dateComponents1[2];

                        var convertedDateStr1 = day1 + "/" + month1 + "/" + year1;


                        $("#dtrecsam").val(convertedDateStr);
                        $("#dtlike").val(convertedDateStr1);
                        $("#ddlstatus").val(success.Status);
                        $("#btnsave").css("display", "none");
                        $("#btnupdate").css("display", "");

                        if ($("#ddlstatus").val(success.Status).val() != "U") {
                            $("#showfill").css("display", "none");
                            $("#mandatory").css("display", "none");
                        }
                        else {
                            $("#showfill").css("display", "");
                            $("#mandatory").css("display", "");
                        }
                    }
                    else {
                        $("#dtrecsam").val('');
                        $("#dtlike").val('');
                    }

                    $("#lblcno").val(success.CaseNo);
                    $("#lblCallDT").val(success.CallRecDt);
                    $("#lblCallSno").val(success.CallSNO);
                    $("#lblVend").val(success.VendorName);
                    $("#lblIE").val(success.IEName);
                    $("#txttesfee").val(success.TotalTFee);

                    $("#txtremark").val(success.Remarks);
                    $("#lblpslip").val(success.PaymentSlip);
                    $("#lblps").val(success.PaymentStatus);

                    //$("#download").attr('href',success.Hyperlink2);
                    if (success.Hyperlink2 != "false") {
                        $("#download").css("display", "");
                        $("#upload").css("display", "none");
                    }
                    sessionStorage.setItem("lINK", success.Hyperlink2);
                    sessionStorage.setItem("IEcode", success.IE);
                    $("#lblIECD").val(success.IE);
                }

            });
        }

        $('#download').on('click', function () {
            var caseno = $("#lblcno").val();
            var calldt = $("#lblCallDT").val();
            var csno = $("#lblCallSno").val();
            var filename = sessionStorage.getItem("lINK");
            //var fileUrl = '/LabSampleInfo/DownloadFile?caseno=' + caseno + '&calldt=' + calldt + '&csno=' + csno + '&filename=' + filename;
            var fileUrl = "@Url.Action("DownloadFile","LabSampleInfo")" + "?caseno=" + caseno + "&calldt=" + calldt + "&csno=" + csno + "&filename=" + filename;
            if (fileUrl) {

                $(this).attr('href', fileUrl);
            } else {
                alert("File not found.");
            }
        });
        function SaveDetails() {

            if ($("#ddlstatus").val() == "U") {
                if ($("#upload").val() == "") {
                    alert("please Upload File");
                    return false;
                }

            }
            $("#spnError1").html("");
            $("#spnError2").html("")
            var IsValid = true;
            if ($("#dtrecsam").val() == "") {
                $("#spnError1").html("Please Enter Date of Receipt of Sample");
                IsValid = false;
            }
            if ($("#dtlike").val() == "") {
                $("#spnError2").html("Please Enter Likely Date of Test Report");
                IsValid = false;
            }
            if (!IsValid) return;

            var parts = $("#lblCallDT").val().split('/');
            var convertedDate = parts[1] + '/' + parts[0] + '/' + parts[2];
            var iecd = sessionStorage.getItem("IEcode");
            //var LabSampleInfoModel = {
            //    CaseNo: $("#lblcno").text(),
            //    CallRecDt: convertedDate,
            //    CallSNO: $("#lblCallSno").text(),
            //    IE: iecd,
            //    Status: $("#ddlstatus").val(),
            //    DateofRecSample: $("#dtrecsam").val(),
            //    TotalTFee: $("#txttesfee").val(),
            //    LikelyDt: $("#dtlike").val(),
            //    Remarks: $("#txtremark").val()
            //};
            var formData = new FormData();
            formData.append("UploadLab", $("#upload")[0].files[0]);
            formData.append("CaseNo", $("#lblcno").val());
            formData.append("CallRecDt", convertedDate);
            formData.append("CallSNO", $("#lblCallSno").val());
            formData.append("IE", iecd);
            formData.append("Status", $("#ddlstatus").val());
            formData.append("DateofRecSample", $("#dtrecsam").val());
            formData.append("TotalTFee", $("#txttesfee").val());
            formData.append("LikelyDt", $("#dtlike").val());
            formData.append("Remarks", $("#txtremark").val());
            var url = '@Url.Action("SaveDataDetails", "LabSampleInfo")';
            //LABREGISTERModel = JSON.stringify(LABREGISTERModel);
            $.ajax({
                type: 'POST',
                contentType: false,
                processData: false,
                //contentType: "application/json",
                //url: "/LabSampleInfo/SaveDataDetails",
                url: url,
                dataType: "json",
                data: formData,
                success: function (res) {

                    if (res == true) {

                        alert('Data Saved Successfully!');

                        window.location.href = "@Url.Action("LabSampleInfo", "LabSampleInfo")";
                        //$.unblockUI({});
                        //hideLoader();
                    }
                    else {

                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }



                },
                error: function (res) {


                    if (res == true) {

                        alert('Data Saved Successfully!');

                        window.location.href = "@Url.Action("LabSampleInfo", "LabSampleInfo")";
                    }
                    else {
                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }

                }
            });

        }
        function UpdateDetails() {

            if ($("#ddlstatus").val() == "U") {
                if ($("#upload").val() == "") {
                    alert("please Upload File");
                    return false;
                }

            }
            $("#spnError1").html("");
            $("#spnError2").html("")
            var IsValid = true;
            if ($("#dtrecsam").val() == "") {
                $("#spnError1").html("Please Enter Date of Receipt of Sample");
                IsValid = false;
            }
            if ($("#dtlike").val() == "") {
                $("#spnError2").html("Please Enter Likely Date of Test Report");
                IsValid = false;
            }
            if (!IsValid) return;
            var parts = $("#lblCallDT").val().split('/');
            var convertedDate = parts[1] + '/' + parts[0] + '/' + parts[2];
            var parts1 = $("#dtrecsam").val().split('/');
            var convertedDate1 = parts1[1] + '/' + parts1[0] + '/' + parts1[2];
            var parts2 = $("#dtlike").val().split('/');
            var convertedDate2 = parts2[1] + '/' + parts2[0] + '/' + parts2[2];
            //var files = [];
            //files.push($('input[type=file]').val());
            var formData = new FormData();
            formData.append("UploadLab", $("#upload")[0].files[0]);
            formData.append("CaseNo", $("#lblcno").val());
            formData.append("CallRecDt", convertedDate);
            formData.append("CallSNO", $("#lblCallSno").val());
            formData.append("Status", $("#ddlstatus").val());
            formData.append("DateofRecSample", convertedDate1);
            formData.append("TotalTFee", $("#txttesfee").val());
            formData.append("LikelyDt", convertedDate2);
            formData.append("Remarks", $("#txtremark").val());
            formData.append("Data", encode(fileByteArray));
            //var LabSampleInfoModel = {
            //    CaseNo: $("#lblcno").text(),
            //    CallRecDt: convertedDate,
            //    CallSNO: $("#lblCallSno").text(),
            //    Status: $("#ddlstatus").val(),
            //    DateofRecSample: $("#dtrecsam").val(),
            //    TotalTFee: $("#txttesfee").val(),
            //    LikelyDt: $("#dtlike").val(),
            //    Remarks: $("#txtremark").val(),
            //    //UploadLab: files,
            //    Data: encode(fileByteArray)
            //};

            //LABREGISTERModel = JSON.stringify(LABREGISTERModel);
            var url = '@Url.Action("UpdateDetails", "LabSampleInfo")';
            $.ajax({
                type: 'POST',
                contentType: false,
                processData: false,
                url: url,
                //url: "/LabSampleInfo/UpdateDetails",
                dataType: "json",
                data: formData,
                success: function (res) {

                    if (res == true) {

                        alert('Data Saved Successfully!');

                        window.location.href = "@Url.Action("LabSampleInfo", "LabSampleInfo")";
                        //$.unblockUI({});
                        //hideLoader();
                    }
                    else {

                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }



                },
                error: function (res) {


                    if (res == true) {

                        alert('Data Saved Successfully!');

                        window.location.href = "@Url.Action("LabSampleInfo", "LabSampleInfo")";
                    }
                    else {
                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }

                }
            });

        }

        function Save() {
            if ($("#frmDetails").valid()) {
                if (!SaveSingleDocuments("tab-1")) { return; }
                $("#frmDetails").submit();

            }
        }
        function Update() {
            if ($("#frmDetails").valid()) {
                if (!SaveSingleDocuments("tab-1")) { return; }
                $("#frmDetails").submit();

            }
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            //window.location.href = "/AdminUserUploadDoc/UploadDoc";
            window.location.href = '@Url.Action("LabSampleInfo", "LabSampleInfo")';
        };
    </script>
}

