@model IBS.Models.InspectionCertModel

@{
    ViewData["Title"] = "Inspection Certificate";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>@ViewData["Title"]</h2>
        @*<h3 class="heading3">@ViewData["Title"]</h3>*@
    </div>
</div>

<div class="task-listinput">
    <form role="form" asp-controller="InspectionCert" asp-action="Index" id="frmDetails">
        <div class="accordion-body" style="overflow-x: auto;">
            <h3 class="heading3">New Inspection Certificate </h3>
            <input type="hidden" asp-for="Callstatus" />
            <input type="hidden" asp-for="CallCancelStatus" />
            <input type="hidden" asp-for="CancellationStatus" />
            
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <div class="reference">
                        <label for="Reference">Case No.</label>
                        <input type="text" class="input" asp-for="Caseno" maxlength="100" style="text-transform: uppercase;">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="reference">
                        <label for="Reference">Call Recieve Date</label>
                        <input type="text" class="datepicker" asp-for="Callrecvdt" maxlength="100" style="text-transform: uppercase;" placeholder="DD/MM/YYYY">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="reference">
                        <label for="Reference">Call SNo.</label>
                        <input type="text" class="input" asp-for="Callsno" maxlength="100" style="text-transform: uppercase;">
                    </div>
                </div>
            </div>

            <h3 class="heading3 BookSet">Update Inspection Certificate </h3>
            <div class="row my-0 BookSet">
                <div class="col-md-3 mb-3">
                    <div class="reference">
                        <label for="Reference">Book No.</label>
                        <input type="text" class="input" asp-for="Bkno" maxlength="4" style="text-transform: uppercase;">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="reference">
                        <label for="Reference">Set No.</label>
                        <input type="text" class="input" asp-for="Setno" maxlength="3" style="text-transform: uppercase;">
                    </div>
                </div>
            </div>
            <div class="row my-0">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active" id="btnSearch" onclick="Search();">Search</button>
                    <button type="button" class="save-btn" id="btnAddNew">New Certificate</button>
                    <button type="button" class="reset-btn active" id="btnModify">Modify</button>
                    <button type="button" class="reset-btn" id="btnDelete">Delete</button>
                    <button type="button" class="reset-btn" id="btnChangeConsignee">Change Consignee</button>
                    <button type="button" class="reset-btn" id="btnBPOReturned">Change BPO in Returned Bills</button>
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <div class="savenext-btn">
                    </div>
                </div>
            </div>
            <div class="alert alert-warning center">
                Search Result is Sorted on [Call Date]
            </div>
        </div>
        <section class="table-section">
            <div class="task-listinput">
                <div class="dash-table">
                    <table id="dtList" class="table-responsive">
                        <thead>
                            <tr>
                                <th class="dt-align-center">Action</th>
                                <th>Bill Status</th>
                                <th>Case No.</th>
                                <th>Call Date</th>
                                <th>Call SNo.</th>
                                <th>Call Status</th>
                                <th>IE</th>
                                <th>IC NO</th>
                                <th>Book No</th>
                                <th>Set No.</th>
                                <th>Consignee</th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </form>
</div>

@section scripts {
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <style>
        #dtList td {
            word-wrap: anywhere;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            var Bkno = $("#Bkno").val();
            var Setno = $("#Setno").val();
            if ((Bkno == "" || Bkno == null) && (Setno == "" || Setno == null)) {
                $("#btnAddNew").show();
            }
            else {
                $("#btnAddNew").hide();
            }

            if ($("#Callstatus").val() == "C" || $("#Callstatus").val() == "CB" || $("#Callstatus").val() == "R" || $("#Callstatus").val() == "RB") {
                $(".BookSet").hide();
                if ($("#CancellationStatus").val() == "1") {
                    $("#btnAddNew").hide();
                }
            }
            else {
                $(".BookSet").show();
                if ($("#CancellationStatus").val() != "1") {
                    $("#btnAddNew").show();
                }
            }

            // $("#Callrecvdt").datepicker({
            //     changeMonth: true,
            //     changeYear: true,
            //     dateFormat: 'dd/mm/yyyy',
            // });
            //InitializeDatatable();
        });

        function Save() {
            if ($("#frmDetails").valid()) {
                $("#frmDetails").submit();
            }

        }

        function Search() {
            InitializeDatatable();
        }

        function InitializeDatatable() {
            var Caseno = $("#Caseno").val();
            //var Callrecvdt = moment($('#Callrecvdt').datepicker('getDate')).format("YYYY-MM-DD");
            var Callrecvdt = $("#Callrecvdt").val();
            var Callsno = $("#Callsno").val();
            var Bkno = $("#Bkno").val();
            var Setno = $("#Setno").val();

            $("#dtList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable", "InspectionCert")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "Caseno": Caseno,
                            "Callrecvdt": Callrecvdt,
                            "Callsno": Callsno,
                            "Bkno": Bkno,
                            "Setno": Setno
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var CaseNo = data.Caseno;
                            var CallRecvDt = moment(data.Callrecvdt).format("YYYY-MM-DD");
                            //var CallRecvDt = data.Callrecvdt;
                            var CallSno = data.Callsno;

                            var Bkno = data.Bkno == null ? "" : data.Bkno;
                            var Setno = data.Setno == null ? "" : data.Setno;

                            var editUrl = '@Url.Action("Index", "InspectionCert")?CaseNo=' + CaseNo + "&_CallRecvDt=" + CallRecvDt + "&CallSno=" + CallSno + "&Bkno=" + Bkno + "&Setno=" + Setno;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"btnEditG edit\"><i class=\"fa fa-eye\" title="Edit"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                    { data: "Status" },
                    { data: "Caseno" },
                    {
                        data: "Callrecvdt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },

                    { data: "Callsno" },
                    {
                        data: null,
                        render: function (data, type, row) {
                            var Callstatus = row["Callstatus"];
                            if (Callstatus == "A") {
                                Callstatus = "Accepted";
                            }
                            else if (Callstatus == "R") {
                                Callstatus = "Rejected";
                            }
                            else if (Callstatus == "C") {
                                Callstatus = "Cancelled";
                            }
                            else if (Callstatus == "U") {
                                Callstatus = "Under Lab Testing";
                            }
                            else if (Callstatus == "S") {
                                Callstatus = "Still Under Inspection";
                            }
                            else if (Callstatus == "G") {
                                Callstatus = "Stage Inspection Accepted";
                            }
                            else if (Callstatus == "W") {
                                Callstatus = "Withheld";
                            }
                            else if (Callstatus == "B") {
                                Callstatus = "Accepted and Billed";
                            }
                            else if (Callstatus == "T") {
                                Callstatus = "Stage Rejection";
                            }
                            else if (Callstatus == "PR") {
                                Callstatus = "Partially Passed and Rejected";
                            }
                            else if (Callstatus == "PRB") {
                                Callstatus = "Partially Passed and Rejected and Billed";
                            }
                            else if (Callstatus == "CB") {
                                Callstatus = "Cancelled and Billed";
                            }
                            else if (Callstatus == "RB") {
                                Callstatus = "Rejected and Billed";
                            }
                            else {
                                Callstatus = "Pending";
                            }
                            return Callstatus;
                        }
                    },
                    { data: "Iesname" },
                    { data: "Icno" },
                    { data: "Bkno" },
                    { data: "Setno" },
                    { data: "Consignee" },


                ],
                "order": [[0, "asc"]]
            });
        }

        $("#btnAddNew").click(function () {
            var Caseno = $("#Caseno").val();
            //var Callrecvdt = $("#Callrecvdt").val();
            var Callrecvdt = moment($('#Callrecvdt').datepicker('getDate')).format("YYYY-MM-DD");
            var Callsno = $("#Callsno").val();

            if (Caseno == "" || Caseno == null) {
                ShowHideMsgNew(false, "Please select Case No.");
                return false;
            }
            if (Callrecvdt == "" || Callrecvdt == null) {
                ShowHideMsgNew(false, "Please select Call Recieved Date.");
                return false;
            }
            if (Callsno == "" || Callsno == null) {
                ShowHideMsgNew(false, "Please select Call S No.");
                return false;
            }

            if (Caseno != "" && Callrecvdt != null && Callsno != "") {
                window.location.href = '@Url.Action("InspectionDetails", "InspectionCert")' + '?CaseNo=' + Caseno + "&CallRecvDt=" + Callrecvdt + "&CallSno=" + Callsno + "&ActionType=A";
            }

        });

        $("#btnModify").click(function () {
            var Caseno = $("#Caseno").val();
            var Callrecvdt = moment($('#Callrecvdt').datepicker('getDate')).format("YYYY-MM-DD");
            var Callsno = $("#Callsno").val();

            var Bkno = $("#Bkno").val();
            var Setno = $("#Setno").val();


            debugger
            if (Caseno == "" || Caseno == null) {
                ShowHideMsgNew(false, "Please select Case No.");
                return false;
            }
            if (Callrecvdt == "" || Callrecvdt == null) {
                ShowHideMsgNew(false, "Please select Call Recieved Date.");
                return false;
            }
            if (Callsno == "" || Callsno == null) {
                ShowHideMsgNew(false, "Please select Call S No.");
                return false;
            }

            if ($("#Callstatus").val() == "C" || $("#Callstatus").val() == "CB" || $("#Callstatus").val() == "R" || $("#Callstatus").val() == "RB") {
                if (Caseno != "" && Callrecvdt != null && Callsno != "") {
                    window.location.href = '@Url.Action("InspectionDetails", "InspectionCert")' + '?CaseNo=' + Caseno + "&CallRecvDt=" + Callrecvdt + "&CallSno=" + Callsno + "&Bkno=" + Bkno + "&Setno=" + Setno + "&ActionType=M";
                }
            }
            else {
                if (Bkno == "" || Bkno == null) {
                    ShowHideMsgNew(false, "Please select Book no.");
                    return false;
                }
                if (Setno == "" || Setno == null) {
                    ShowHideMsgNew(false, "Please select Set no");
                    return false;
                }

                if (Caseno != "" && Callrecvdt != null && Callsno != "" && Bkno != "" && Setno != "") {
                    window.location.href = '@Url.Action("InspectionDetails", "InspectionCert")' + '?CaseNo=' + Caseno + "&CallRecvDt=" + Callrecvdt + "&CallSno=" + Callsno + "&Bkno=" + Bkno + "&Setno=" + Setno + "&ActionType=M";
                }
            }

        });

        $("#btnDelete").click(function () {
            var Caseno = $("#Caseno").val();
            var Callrecvdt = moment($('#Callrecvdt').datepicker('getDate')).format("YYYY-MM-DD");
            var Callsno = $("#Callsno").val();

            var Bkno = $("#Bkno").val();
            var Setno = $("#Setno").val();

            if (Caseno == "" || Caseno == null) {
                ShowHideMsgNew(false, "Please add Case No.");
                return false;
            }
            if (Callrecvdt == "" || Callrecvdt == null) {
                ShowHideMsgNew(false, "Please add Call Recieved Date.");
                return false;
            }
            if (Callsno == "" || Callsno == null) {
                ShowHideMsgNew(false, "Please add Call S No.");
                return false;
            }

            if ($("#Callstatus").val() != "C" && $("#Callstatus").val() != "CB") {
                if (Bkno == "" || Bkno == null) {
                    ShowHideMsgNew(false, "Please select Book no.");
                    return false;
                }
                if (Setno == "" || Setno == null) {
                    ShowHideMsgNew(false, "Please select Set no");
                    return false;
                }
                if (Caseno != "" && Callrecvdt != null && Callsno != "" && Bkno != "" && Setno != "") {
                    window.location.href = '@Url.Action("InspectionDetails", "InspectionCert")' + '?CaseNo=' + Caseno + "&CallRecvDt=" + Callrecvdt + "&CallSno=" + Callsno + "&Bkno=" + Bkno + "&Setno=" + Setno + "&ActionType=D";
                }
            }
            else {
                if (Caseno != "" && Callrecvdt != null && Callsno != "") {
                    window.location.href = '@Url.Action("InspectionDetails", "InspectionCert")' + '?CaseNo=' + Caseno + "&CallRecvDt=" + Callrecvdt + "&CallSno=" + Callsno + "&Bkno=" + Bkno + "&Setno=" + Setno + "&ActionType=D";
                }
            }
        });

        $("#btnChangeConsignee").click(function () {
            var Caseno = $("#Caseno").val();
            var Bkno = $("#Bkno").val();
            var Setno = $("#Setno").val();

            if (Caseno == "" || Caseno == null) {
                ShowHideMsgNew(false, "Please add Case No.");
                return false;
            }
            if ($("#Callstatus").val() != "C" && $("#Callstatus").val() != "CB") {
                if (Bkno == "" || Bkno == null) {
                    ShowHideMsgNew(false, "Please select Book no.");
                    return false;
                }
                if (Setno == "" || Setno == null) {
                    ShowHideMsgNew(false, "Please select Set no");
                    return false;
                }
                if (Bkno != "" && Setno != "") {
                    window.location.href = '@Url.Action("ChangeConsignee", "InspectionCert")' + '?CaseNo=' + Caseno + "&Bkno=" + Bkno + "&Setno=" + Setno + "&ActionType=M";
                }
            }
            else {
                window.location.href = '@Url.Action("ChangeConsignee", "InspectionCert")' + '?CaseNo=' + Caseno + "&Bkno=" + Bkno + "&Setno=" + Setno + "&ActionType=M";
            }

        });

        $("#btnBPOReturned").click(function () {
            var Caseno = $("#Caseno").val();
            var Bkno = $("#Bkno").val();
            var Setno = $("#Setno").val();

            if (Caseno == "" || Caseno == null) {
                ShowHideMsgNew(false, "Please add Case No.");
                return false;
            }
            if ($("#Callstatus").val() != "C" && $("#Callstatus").val() != "CB") {
                if (Bkno == "" || Bkno == null) {
                    ShowHideMsgNew(false, "Please select Book no.");
                    return false;
                }
                if (Setno == "" || Setno == null) {
                    ShowHideMsgNew(false, "Please select Set no");
                    return false;
                }
                if (Bkno != "" && Setno != "") {
                    window.location.href = '@Url.Action("Returned_Bills_BPO_Change_Form", "InspectionCert")' + '?CaseNo=' + Caseno + "&Bkno=" + Bkno + "&Setno=" + Setno + "&ActionType=M";
                }
            }
            else {
                window.location.href = '@Url.Action("Returned_Bills_BPO_Change_Form", "InspectionCert")' + '?CaseNo=' + Caseno + "&Bkno=" + Bkno + "&Setno=" + Setno + "&ActionType=M";
            }
            
        });
    </script>
}