    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    string Region = ViewBag.Region;
    string ReportType = !string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Request.Query["ReportType"]) ? Convert.ToString(HttpContextAccessor.HttpContext.Request.Query["ReportType"]) : "";
    string ReportTitle = string.Empty;

    if (ReportType == "ConInsp") ReportTitle = "Summary of Consignee Wise Inspections";
    else if (ReportType == "VenInsp") ReportTitle = "Summary of Vendor Wise Inspections";
    else if (ReportType == "RTIInsp") ReportTitle = "SUMMARY OF INSPECTIONS FOR RTI";
    else if (ReportType == "VenInspStatus") ReportTitle = "VENDOR WISE INSPECTION STATUS";
    else if (ReportType == "ICPO") ReportTitle = "IC DETAILS FOR SPECIFIC PO";

    ViewData["Title"] = ReportTitle;
}

<div class="list-inner">
    <div class="tast-list">
        <h2>@ReportTitle</h2>
    </div>
</div>
<div class="task-listinput">    
    <div class="accordion-body">
        <div class="task-inner row report1" style="display: none">
            <div class="row my-0">
                <div class="col-md-12">
                <ul class="radioListForm">
                        <li>
                            <label for="rb1"><input type="radio" name="radioGroup" id="rb1" /> For All Consignee's</label>
                            <span class="text-danger"></span>
                        </li>
                        <li>
                            <label for="rb2"><input type="radio" name="radioGroup" id="rb2" /> For Particular Consignee</label>
                            
                            <span class="text-danger"></span>
                        </li>
                </ul>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4" id="ddlc" style="display:none;">
                    <label for="PropertyId">Select Particular Consignee</label>
                    @Html.DropDownList("CONSIGNEE", Common.GetSummaryConsignee(), new { @id="ddlcon"})
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-4">
                   <ul class="radioListForm my-0">
                        <li>
                            <label for="rb3" class="py-0"><input type="radio" name="radioGroup2" id="rb3" /> For the Month</label>
                            <span class="text-danger"></span>
                        </li>
                        <li>
                            <label for="rb4" class="py-0"><input type="radio" name="radioGroup2" id="rb4" /> For Given Period</label>
                            <span class="text-danger"></span>
                        </li>
                   </ul>
                   </div>
                <div class="col-md-2" style="display:none" id="dtf">
                    <label for="PropertyId">From Date</label>
                    <input type="text" class="input datepicker" id="dtfrom" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2" style="display:none" id="dtt">
                    <label for="PropertyId">To Date</label>
                    <input type="text" class="input datepicker" id="dtto" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2" id="dd1">
                    <label for="PropertyId">Month</label>
                    @Html.DropDownList("Month", Common.GetMonth(), new { @id="ddlmonth"})
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2" id="dd2">
                    <label for="PropertyId">Year</label>
                    @Html.DropDownList("Year", Common.GetYear(), new { @id="ddlyear"})
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row my-0">
             <div class="col-md-3">    
            <h3 class="heading3 mb-4">Report based on </h3>
            </div>
            </div>
            <div class="row my-0">
                <div class="col-md-12">
                <ul class="radioListForm">
                        <li>
                            <label for="rb5"><input type="radio" name="radioGroup3" id="rb5" /> IC Date</label>                            
                            <span class="text-danger"></span>
                        </li>
                        <li>
                            <label for="rb6"><input type="radio" name="radioGroup3" id="rb6" /> Bill Date</label>                            
                            <span class="text-danger"></span>
                        </li>
                </ul>   
                    
               
                    
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-3">
                    <h3 class="heading3 mb-4">Report to be Sorted on </h3>
                </div>
            </div>
            <div class="row my-0">
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <ul class="radioListForm">
                            <li>
                                <label for="rb7"><input type="radio" name="radioGroup4" id="rb7" /> Consignee Name</label>
                                
                                <span class="text-danger"></span>
                            </li>
                            <li>
                                <label for="rb8"><input type="radio" name="radioGroup4" id="rb8" /> Material Value</label>
                                
                                <span class="text-danger"></span>
                            </li>
                    </ul>
                    </div>
            </div>
            <div class="col-md-3">
                <div class="savenext-btn btnAlign">
                    <button type="button" class="save-btn active" onclick="ViewReport1();">Submit</button>
                    <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
                </div>
            </div>
        </div>
        </div>
        <div class="task-inner row my-0 report2" style="display: none">
            <div class="row my-0">
                <div class="col-md-5 mb-3" style="margin-top:auto;">
                    <label for="PropertyId">For All Vendor's</label>
                    <input type="radio" name="VradioGroup" id="Vrb1" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-5 mb-3" style="margin-top:auto;">
                    <label for="PropertyId">For Particular Vendor</label>
                    <input type="radio" name="VradioGroup" id="Vrb2" />
                    <span class="text-danger"></span>
                </div>

            </div>
            <div class="row my-0">
                <div class="col-md-7 mb-3" id="ddlc" style="display:none;">
                    <label for="PropertyId">Select Particular Vendor</label>
                    @Html.DropDownList("VENDOR", Common.GetVendorLabRpt(), new { @id="Vddlcon"})
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-2 mb-3" style="margin-top:auto;">
                    <label for="PropertyId">For the Month</label>
                    <input type="radio" name="VradioGroup2" id="Vrb3" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" style="margin-top:auto;">
                    <label for="PropertyId">For Given Period</label>
                    <input type="radio" name="VradioGroup2" id="Vrb4" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" style="display:none" id="Vdtf">
                    <label for="PropertyId">From Date</label>
                    <input type="text" class="input datepicker" id="Vdtfrom" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" style="display:none" id="Vdtt">
                    <label for="PropertyId">To Date</label>
                    <input type="text" class="input datepicker" id="Vdtto" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" id="Vdd1">
                    <label for="PropertyId">Month</label>
                    @Html.DropDownList("Month", Common.GetMonth(), new { @id="Vddlmonth"})
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" id="Vdd2">
                    <label for="PropertyId">Year</label>
                    @Html.DropDownList("Year", Common.GetYear(), new { @id="Vddlyear"})
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row my-0">
                <label>Report based on </label>
                <div class="col-md-3 mb-3">
                    <label for="PropertyId">IC Date</label>
                    <input type="radio" name="VradioGroup3" id="Vrb5" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="PropertyId">Bill Date</label>
                    <input type="radio" name="VradioGroup3" id="Vrb6" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row my-0">
                <label>Report to be Sorted on </label>
                <div class="col-md-3 mb-3">
                    <label for="PropertyId">Vendor Name</label>
                    <input type="radio" name="VradioGroup4" id="Vrb7" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="PropertyId">Material Value</label>
                    <input type="radio" name="VradioGroup4" id="Vrb8" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="savenext-btn btnAlign">
                    <button type="button" class="save-btn active" onclick="ViewReport2();">Submit</button>
                    <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
                </div>
            </div>
        </div>
        <div class="task-inner row report3" style="display: none">
            <div class="row my-0">
                <div class="col-md-8 mb-3">
                    <label for="Reference" style="width: 100%;">
                        Select Purchaser
                    </label>
                    <input type="text" class="input" id="txtSPur" style="width: 46%;">
                    <button type="button" class="commonBtn" onclick="SearchPurchaser();">Search Purchaser</button>
                </div>

            </div>
            <div class="row my-0">
                <div class="col-md-12 mb-3" style="display:none;" id="hdnPDropdown">
                    <label for="Reference"></label>
                    <select id="PurchaserCD"></select>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-5 mb-3" style="margin-top:auto;">
                    <label for="Rrb1"><input type="radio" name="RradioGroup" id="Rrb1" /> All Purchasers</label>                    
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-5 mb-3" style="margin-top:auto;">
                    <label for="Rrb2"><input type="radio" name="RradioGroup" id="Rrb2" /> For Particular Purchaser</label>
                    <span class="text-danger"></span>
                </div>

            </div>
            <div class="row my-0">
                <div class="col-md-2 mb-3" style="margin-top:auto;">
                    <label for="Rrb3"><input type="radio" name="RradioGroup2" id="Rrb3" /> For the Month</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" style="margin-top:auto;">
                    <label for="Rrb4"><input type="radio" name="RradioGroup2" id="Rrb4" /> For Given Period</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" style="display:none" id="Rdtf">
                    <label for="Rdtfrom"><input type="text" class="input datepicker" id="Rdtfrom" /> From Date</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" style="display:none" id="Rdtt">
                    <label for="Rdtto"><input type="text" class="input datepicker" id="Rdtto" /> To Date</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" id="dd1">
                    <label for="PropertyId">Month</label>
                    @Html.DropDownList("Month", Common.GetMonth(), new { @id="Rddlmonth"})
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" id="dd2">
                    <label for="PropertyId">Year</label>
                    @Html.DropDownList("Year", Common.GetYear(), new { @id="Rddlyear"})
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row my-0">
                <label>Report based on </label>
                <div class="col-md-3 mb-3">
                    <label for="Rrb5"><input type="radio" name="RradioGroup3" id="Rrb5" /> IC Date</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Rrb6"><input type="radio" name="RradioGroup3" id="Rrb6" /> Bill Date</label>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active" onclick="ViewReport3();">Submit</button>
                    <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
                </div>
            </div>
        </div>
        <div class="task-inner row report4" style="display: none">
            <div class="row my-0">
                <div class="col-md-5 mb-3" style="margin-top:auto;">
                    <label for="VWrb1"><input type="radio" name="VWradioGroup" id="VWrb1" /> All Vendor's</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-5 mb-3" style="margin-top:auto;">
                    <label for="VWrb2"><input type="radio" name="VWradioGroup" id="VWrb2" /> For Particular Vendor</label>
                    <span class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-7 mb-3" id="VWdd1" style="display:none;">
                <label for="PropertyId">Vendor</label>
                @Html.DropDownList("VENDOR", Common.GetVendorLabRpt(), new { @id="ddlvendor"})
                <span class="text-danger"></span>
            </div>
            <div class="row my-0">
                <div class="col-md-2 mb-3" style="margin-top:auto;">
                    <label for="PropertyId">For the Month</label>
                    <input type="radio" name="VWradioGroup2" id="VWrb3" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" style="margin-top:auto;">
                    <label for="PropertyId">For Given Period</label>
                    <input type="radio" name="VWradioGroup2" id="VWrb4" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" style="display:none" id="VWdtf">
                    <label for="PropertyId">From Date</label>
                    <input type="text" class="input datepicker" id="VWdtfrom" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" style="display:none" id="VWdtt">
                    <label for="PropertyId">To Date</label>
                    <input type="text" class="input datepicker" id="VWdtto" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" id="VWdd11">
                    <label for="PropertyId">Month</label>
                    @Html.DropDownList("Month", Common.GetMonth(), new { @id="VWddlmonth"})
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-2 mb-3" id="VWdd22">
                    <label for="PropertyId">Year</label>
                    @Html.DropDownList("Year", Common.GetYear(), new { @id="VWddlyear"})
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="savenext-btn btnAlign">
                    <button type="button" class="save-btn active" onclick="ViewReport4();">Submit</button>
                    <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
                </div>
            </div>
        </div>
        <div class="task-inner row report5" style="display: none">
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="PropertyId">Client Type</label>
                    @Html.DropDownList("ClientType", Common.ClientWise(),"--Select--", new { @id="ddlclienttype"})
                    <span class="text-danger field-validation-error" id="spnErrorClientType"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="col-md-12 mb-3">
                        <label for="PropertyId">Select Client</label>
                        <select id="selectclient"></select>
                        <span class="text-danger field-validation-error" id="spnErrorSelectClient"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="PropertyId">PO Date</label>
                    <input type="text" class="input datepicker" id="dtpo" />
                    <span class="text-danger field-validation-error" id="spnErrorPODate"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active" onclick="Submit();">Submit</button>
                    <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
                </div>
            </div>
            <div id="hndgrid" style="display:none;">
            <table id="table1" class="table-responsive">
                <thead>
                    <tr>

                        <th>#</th>
                        <th>PO No.</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function ClearControls() {
            location.reload(true);
        }
        function Submit() {
            
            $("#spnErrorClientType").html("");
            $("#spnErrorSelectClient").html("");
            $("#spnErrorPODate").html("");

            var IsValid = true;

            if ($("#ddlclienttype").val() == "") {
                $("#spnErrorClientType").html("The From Date field is required.");
                IsValid = false;
            }
            if ($("#selectclient").val() == "") {
                $("#spnErrorSelectClient").html("The To Date field is required.");
                IsValid = false;
            }
            if ($("#dtpo").val() == "") {
                $("#spnErrorPODate").html("The To Date field is required.");
                IsValid = false;
            }



            if (!IsValid) return;
            var ClientType = $("#ddlclienttype").val();
            var SelectClient = $("#selectclient").val();
            var PODate = $("#dtpo").val();
            InitializeDatatable(ClientType, SelectClient, PODate);
            $("#hndgrid").css("display", "block");
        }
        $('#ddlclienttype').change(function () {

            var selectedValue = $(this).val();

            $('#selectclient').select2({
                // Optional: You can customize Select2 options here
                placeholder: 'Select a client type',
                allowClear: true, // Adds a clear button
                minimumResultsForSearch: 5 // Show search input only if there are 5 or more options
            });

            $.ajax({
                url: '@Url.Action("dropdown", "InspectionStatus")',
                type: 'POST',
                data: { selectedValue: selectedValue },
                dataType: 'json',
                success: function (data) {
                    var dropdown = $("#selectclient");

                    // Clear existing options (if any)
                    dropdown.empty();

                    // Add a default option if needed
                    dropdown.append($("<option>").val("").text("Select Railway"));

                    // Loop through the data and add options to the dropdown
                    $.each(data, function (index, item) {
                        dropdown.append($("<option>").val(item.RLY_CD).text(item.RAILWAY_ORGN));
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        function InitializeDatatable(ClientType, SelectClient, PODate) {
            //$("#dtchequepost").css("display", "block");
            $("#table1").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: false,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("gridData")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            ClientType: ClientType,
                            SelectClient: SelectClient,
                            PODate: PODate,
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);

                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;

                        }
                    },

                    { data: "PO_NO" },

                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {


                            var editButtonHtml = '<button class="custom-edit-button btn-sm btn-primary"><i class="fa fa-pencil" title="Edit"></i></button>';
                            return editButtonHtml;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });


        }
        $('#table1').on('click', '.custom-edit-button', function () {

            // Get the data for the clicked row
            var table1 = $("#table1").DataTable();
            var rowData = table1.row($(this).closest('tr')).data();

            // Construct the URL for your controller action
            var PO_NO = rowData.PO_NO;
            var PO_DT = rowData.PO_DT;
            var RLY_NONRLY = rowData.RLY_NONRLY;
            var RLY_CD = rowData.RLY_CD;
            ViewReport5(PO_NO, PO_DT, RLY_NONRLY, RLY_CD);
        });


        $('input[name="radioGroup"]').change(function () {

            var selectedId = $(this).attr('id');
            if (selectedId == "rb1") {
                sessionStorage.removeItem("rbb1");
                sessionStorage.removeItem("rbb2");
                sessionStorage.setItem("rbb1", true);
                $("#ddlc").css("display", "none");
            }
            else {
                sessionStorage.removeItem("rbb1");
                sessionStorage.removeItem("rbb2");
                sessionStorage.setItem("rbb2", true);
                sessionStorage.setItem("con", $("#ddlcon").val());
                $("#ddlc").css("display", "block");
            }

        });
        $('input[name="radioGroup3"]').change(function () {
            var selectedId = $(this).attr('id');
            if (selectedId == "rb5") {
                sessionStorage.removeItem("rbb5");
                sessionStorage.removeItem("rbb6");
                sessionStorage.setItem("rbb5", true);
                //$("#dd1").css("display", "none");
            }
            else {
                sessionStorage.removeItem("rbb5");
                sessionStorage.removeItem("rbb6");
                sessionStorage.setItem("rbb6", true);
                //$("#dd1").css("display", "block");
            }
        });
        $('input[name="radioGroup2"]').change(function () {

            var selectedId = $(this).attr('id');
            if (selectedId == "rb3") {
                sessionStorage.removeItem("rbb3");
                sessionStorage.removeItem("rbb4");
                sessionStorage.setItem("rbb4", false);
                $("#dtf").css("display", "none");
                $("#dtt").css("display", "none");
                $("#dd1").css("display", "block");
                $("#dd2").css("display", "block");

            }
            else {
                sessionStorage.removeItem("rbb3");

                sessionStorage.removeItem("rbb4");
                sessionStorage.setItem("rbb4", true);

                $("#dtf").css("display", "block");
                $("#dtt").css("display", "block");
                $("#dd1").css("display", "none");
                $("#dd2").css("display", "none");
            }
        });
        $('input[name="radioGroup4"]').change(function () {
            var selectedId = $(this).attr('id');
            if (selectedId == "rb7") {
                sessionStorage.removeItem("rbb7");
                sessionStorage.removeItem("rbb8");
                sessionStorage.setItem("rbb7", true);
                //$("#dd1").css("display", "none");
            }
            else {
                sessionStorage.removeItem("rbb8");
                sessionStorage.removeItem("rbb7");
                sessionStorage.setItem("rbb8", true);
                //$("#dd1").css("display", "block");
            }
        });

        $('input[name="VradioGroup"]').change(function () {

            var selectedId = $(this).attr('id');
            if (selectedId == "Vrb1") {
                sessionStorage.removeItem("Vrbb1");
                sessionStorage.removeItem("Vrbb2");
                sessionStorage.setItem("Vrbb1", true);
                $("#Vddlc").css("display", "none");
            }
            else {
                sessionStorage.removeItem("Vrbb1");
                sessionStorage.removeItem("Vrbb2");
                sessionStorage.setItem("Vrbb2", true);
                sessionStorage.setItem("Vcon", $("#Vddlcon").val());
                $("#Vddlc").css("display", "block");
            }

        });
        $('input[name="VradioGroup3"]').change(function () {
            var selectedId = $(this).attr('id');
            if (selectedId == "Vrb5") {
                sessionStorage.removeItem("Vrbb5");
                sessionStorage.removeItem("Vrbb6");
                sessionStorage.setItem("Vrbb5", true);
                //$("#dd1").css("display", "none");
            }
            else {
                sessionStorage.removeItem("Vrbb5");
                sessionStorage.removeItem("Vrbb6");
                sessionStorage.setItem("Vrbb6", true);
                //$("#dd1").css("display", "block");
            }
        });
        $('input[name="VradioGroup2"]').change(function () {

            var selectedId = $(this).attr('id');
            if (selectedId == "Vrb3") {
                sessionStorage.removeItem("Vrbb3");
                sessionStorage.removeItem("Vrbb4");
                sessionStorage.setItem("Vrbb4", false);
                $("#Vdtf").css("display", "none");
                $("#Vdtt").css("display", "none");
                $("#Vdd1").css("display", "block");
                $("#Vdd2").css("display", "block");

            }
            else {
                sessionStorage.removeItem("Vrbb3");

                sessionStorage.removeItem("Vrbb4");
                sessionStorage.setItem("Vrbb4", true);

                $("#Vdtf").css("display", "block");
                $("#Vdtt").css("display", "block");
                $("#Vdd1").css("display", "none");
                $("#Vdd2").css("display", "none");
            }
        });
        $('input[name="VradioGroup4"]').change(function () {
            var selectedId = $(this).attr('id');
            if (selectedId == "Vrb7") {
                sessionStorage.removeItem("Vrbb7");
                sessionStorage.removeItem("Vrbb8");
                sessionStorage.setItem("Vrbb7", true);
                //$("#dd1").css("display", "none");
            }
            else {
                sessionStorage.removeItem("Vrbb8");
                sessionStorage.removeItem("Vrbb7");
                sessionStorage.setItem("Vrbb8", true);
                //$("#dd1").css("display", "block");
            }
        });

        $('input[name="RradioGroup"]').change(function () {

            var selectedId = $(this).attr('id');
            if (selectedId == "Rrb1") {
                sessionStorage.removeItem("Rrbb1");
                sessionStorage.removeItem("Rrbb2");
                sessionStorage.setItem("Rrbb1", true);

            }
            else {
                sessionStorage.removeItem("Rrbb1");
                sessionStorage.removeItem("Rrbb2");
                sessionStorage.setItem("Rrbb2", true);


            }

        });
        $('input[name="RradioGroup3"]').change(function () {
            var selectedId = $(this).attr('id');
            if (selectedId == "Rrb5") {
                sessionStorage.removeItem("Rrbb5");
                sessionStorage.removeItem("Rrbb6");
                sessionStorage.setItem("Rrbb5", true);
                //$("#dd1").css("display", "none");
            }
            else {
                sessionStorage.removeItem("Rrbb5");
                sessionStorage.removeItem("Rrbb6");
                sessionStorage.setItem("Rrbb6", true);
                //$("#dd1").css("display", "block");
            }
        });

        $('input[name="RradioGroup2"]').change(function () {

            var selectedId = $(this).attr('id');
            if (selectedId == "Rrb3") {
                sessionStorage.removeItem("Rrbb3");
                sessionStorage.removeItem("Rrbb4");
                sessionStorage.setItem("Rrbb4", false);
                $("#Rdtf").css("display", "none");
                $("#Rdtt").css("display", "none");
                $("#Rdd1").css("display", "block");
                $("#Rdd2").css("display", "block");

            }
            else {
                sessionStorage.removeItem("Rrbb3");

                sessionStorage.removeItem("Rrbb4");
                sessionStorage.setItem("Rrbb4", true);

                $("#Rdtf").css("display", "block");
                $("#Rdtt").css("display", "block");
                $("#Rdd1").css("display", "none");
                $("#Rdd2").css("display", "none");
            }
        });

        $('input[name="VWradioGroup"]').change(function () {

            var selectedId = $(this).attr('id');
            if (selectedId == "VWrb1") {
                sessionStorage.removeItem("VW1");
                sessionStorage.removeItem("VW2");
                sessionStorage.setItem("VW1", true);
                $("#VWdd1").css("display", "none");
            }
            else {
                sessionStorage.removeItem("VW1");
                sessionStorage.removeItem("VW2");
                sessionStorage.setItem("VW2", true);
                $("#VWdd1").css("display", "block");
            }
        });
        $('input[name="VWradioGroup2"]').change(function () {

            var selectedId = $(this).attr('id');
            if (selectedId == "VWrb3") {
                sessionStorage.removeItem("VW3");
                sessionStorage.removeItem("VW4");
                sessionStorage.setItem("VW3", true);
                $("#VWdtf").css("display", "none");
                $("#VWdtt").css("display", "none");
                $("#VWdd11").css("display", "block");
                $("#VWdd22").css("display", "block");
            }
            else {
                sessionStorage.removeItem("VW3");
                sessionStorage.removeItem("VW4");
                sessionStorage.setItem("VW4", true);
                $("#VWdtf").css("display", "block");
                $("#VWdtt").css("display", "block");
                $("#VWdd11").css("display", "none");
                $("#VWdd22").css("display", "none");
            }
        });

        $(function () {
            $("#rb1").prop("checked", true);
            $("#rb3").prop("checked", true);
            $("#rb5").prop("checked", true);
            sessionStorage.setItem("rbb1", true);
            sessionStorage.setItem("rbb2", false);
            sessionStorage.setItem("rbb5", true);
            sessionStorage.setItem("rbb4", false);
            $("#rb7").prop("checked", true);
            $("#Vrb1").prop("checked", true);
            $("#Vrb3").prop("checked", true);
            $("#Vrb5").prop("checked", true);
            sessionStorage.setItem("Vrbb5", true);
            sessionStorage.setItem("Vrbb4", false);
            $("#Vrb7").prop("checked", true);

            $("#Rrb1").prop("checked", true);
            $("#Rrb3").prop("checked", true);
            $("#Rrb5").prop("checked", true);
            sessionStorage.setItem("Rrbb5", true);
            sessionStorage.setItem("Rrbb4", false);

            $("#VWrb1").prop("checked", true);
            $("#VWrb3").prop("checked", true);
            sessionStorage.setItem("VW4", false);
            sessionStorage.setItem("VW3", true);
            if ('@ReportType' == 'ConInsp') {
                $(".report1").css("display", "");
            }
            else if ('@ReportType' == 'VenInsp') {
                $(".report2").css("display", "");
            }
            else if ('@ReportType' == 'RTIInsp') {
                $(".report3").css("display", "");
            }
            else if ('@ReportType' == 'VenInspStatus') {
                $(".report4").css("display", "");
            }
            else if ('@ReportType' == 'ICPO') {
                $(".report5").css("display", "");
            }
        });
        function FillPurchaserCd(ids) {
            var txtSPur = $("#txtSPur").val();
            $.ajax({
                url: '@Url.Action("GetPurchaserCd", "InspectionStatus")?Purchaser=' + txtSPur,
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {
                    $("#PurchaserCD").html("");
                    $("#PurchaserCD").append("<option value=''>--Select--</option>");
                    var id = 0;
                    $.each(response.list, function (index, value) {
                        $("#PurchaserCD").append("<option value=" + value.Value + ">" + value.Text + "</option>");
                        if (value.Selected == true) {
                            id = value.Value;
                        }
                    });
                    if (id > 0) {
                        $("#PurchaserCD").val(id);
                    }
                    if (ids > 0) {
                        $("#PurchaserCD").val(ids);
                    }
                    //$("#hdnRCD").val($("#RlyCd").val());
                    //$("#hdnRailway").val($("#RlyCd option:selected").text());
                }
            });
        }
        function SearchPurchaser() {
            FillPurchaserCd();
            $("#hdnPDropdown").css("display", "block");
        }
        function ViewReport1() {
            
            var ReportType = '@ReportType';
            var ForGiven = sessionStorage.getItem("rbb4");
            var ReportBasedon = sessionStorage.getItem("rbb5");
            var MaterialValue = sessionStorage.getItem("rbb8");
            if (sessionStorage.getItem("rbb4") == "false") {
                var Month = $("#ddlmonth").val();
                var Year = $("#ddlyear").val();
            }
            else {
                var parts = $("#dtfrom").val().split('/');
                var FromDate = parts[1] + '/' + parts[0] + '/' + parts[2];
                var parts2 = $("#dtto").val().split('/');
                var ToDate = parts2[1] + '/' + parts2[0] + '/' + parts2[2];
                var parts3 = $("#dtfrom").val().split('/');
                var HFromDate = parts3[0] + '/' + parts3[1] + '/' + parts3[2];
                var parts4 = $("#dtto").val().split('/');
                var HToDate = parts4[0] + '/' + parts4[1] + '/' + parts4[2];

            }
            var ForParticular = sessionStorage.getItem("rbb2");
            if(sessionStorage.getItem("rbb2") == "true"){
                var lstParticular = sessionStorage.getItem("con");
            }


            let myObject = { ReportType, ForGiven, ReportBasedon, MaterialValue, FromDate, ToDate, Month, Year, ForParticular, lstParticular, HFromDate, HToDate };

            var url = '@Url.Action("Manage", "InspectionStatus")?' + $.param(myObject);
            window.open(url, '_blank');
        }
        function ViewReport2() {

            var ReportType = '@ReportType';
            var ForGiven = sessionStorage.getItem("Vrbb4");
            var ReportBasedon = sessionStorage.getItem("Vrbb5");
            var MaterialValue = sessionStorage.getItem("Vrbb8");
            if (sessionStorage.getItem("Vrbb4") == "false") {
                var Month = $("#Vddlmonth").val();
                var Year = $("#Vddlyear").val();
            }
            else {
                var parts = $("#Vdtfrom").val().split('/');
                var FromDate = parts[1] + '/' + parts[0] + '/' + parts[2];
                var parts2 = $("#Vdtto").val().split('/');
                var ToDate = parts2[1] + '/' + parts2[0] + '/' + parts2[2];

            }

            var ForParticular = sessionStorage.getItem("Vrbb2");
            var lstParticular = sessionStorage.getItem("Vcon");
            let myObject = { ReportType, ForGiven, ReportBasedon, MaterialValue, FromDate, ToDate, Month, Year, ForParticular, lstParticular };

            var url = '@Url.Action("Manage", "InspectionStatus")?' + $.param(myObject);
            window.open(url, '_blank');
        }
        function ViewReport3() {

            // var ReportType = "Summary of Consignee Wise Inspections";
            var ReportType = '@ReportType';
            var ForGiven = sessionStorage.getItem("Rrbb4");
            var ReportBasedon = sessionStorage.getItem("Rrbb5");
            var TextPurchaser = $("#txtSPur").val();
            if (sessionStorage.getItem("Rrbb4") == "false") {
                var Month = $("#Rddlmonth").val();
                var Year = $("#Rddlyear").val();
            }
            else {
                var parts = $("#Rdtfrom").val().split('/');
                var FromDate = parts[1] + '/' + parts[0] + '/' + parts[2];
                var parts2 = $("#Rdtto").val().split('/');
                var ToDate = parts2[1] + '/' + parts2[0] + '/' + parts2[2];

            }

            var ForParticular = sessionStorage.getItem("Rrbb2");
            var lstParticular = $("#PurchaserCD").val();
            let myObject = { ReportType, ForGiven, ReportBasedon, FromDate, ToDate, Month, Year, ForParticular, lstParticular, TextPurchaser };

            var url = '@Url.Action("Manage", "InspectionStatus")?' + $.param(myObject);
            window.open(url, '_blank');
        }
        function ViewReport4() {

            // var ReportType = "Summary of Consignee Wise Inspections";
            var ReportType = '@ReportType';
            var rdbGIE = sessionStorage.getItem("VW2");
            var rdbForMonth = sessionStorage.getItem("VW3");
            var ForGPer = sessionStorage.getItem("VW4");
            if (sessionStorage.getItem("VW4") == "false") {
                var Month = $("#VWddlmonth").val();
                var Year = $("#VWddlyear").val();
            }
            else {
                var parts = $("#VWdtfrom").val().split('/');
                var FromDate = parts[1] + '/' + parts[0] + '/' + parts[2];
                var parts2 = $("#VWdtto").val().split('/');
                var ToDate = parts2[1] + '/' + parts2[0] + '/' + parts2[2];

            }
            if (rdbGIE == "true") {
                var ddlVender = $("#ddlvendor").val();
            }

            let myObject = { ReportType, FromDate, ToDate, Month, Year, rdbGIE, rdbForMonth, ForGPer, ddlVender };

            var url = '@Url.Action("Manage", "InspectionStatus")?' + $.param(myObject);
            window.open(url, '_blank');
        }
        function ViewReport5(PO_NO, PO_DT, RLY_NONRLY, RLY_CD) {
            
            
            
            // var ReportType = "Summary of Consignee Wise Inspections";
            var ReportType = '@ReportType';

            let myObject = { ReportType, PO_NO, PO_DT, RLY_NONRLY, RLY_CD };

            var url = '@Url.Action("Manage", "InspectionStatus")?' + $.param(myObject);
            window.open(url, '_blank');
        }
    </script>
}