@model IBS.Models.InspectionStatusModel

@{
    Layout = null;
    string ReportType = (Model != null ? Model.ReportType : "");
    string ReportTitle = (Model != null ? Model.ReportTitle : "");
    ViewData["Title"] = ReportTitle;
}

<html>
<head>
    <title>@ReportTitle</title>
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    <div id="dvReportViewer"></div>
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</body>
</html>

<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/site.js"></script>
<script type="text/javascript">
    var fileName = '';
    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

    $(document).ready(function () {
        if ('@ReportType' == 'ConInsp') {
            loadSummartReport();
            fileName = 'Summary_of_Consignee_Wise_Inspections';
        }
        else if ('@ReportType' == 'VenInsp') {
            loadSummartVendorReport();
            fileName = 'Summary_of_Vendor_Wise_Inspections';
        }
        else if ('@ReportType' == 'RTIInsp') {
            loadSummartRTIReport();
            fileName = 'SUMMARY_OF_INSPECTIONS_FOR_RTI';
        }
        else if ('@ReportType' == 'VenInspStatus') {
            loadVendorInspReport();
            fileName = 'VENDOR_WISE_INSPECTION_STATUS';
        }
        else if ('@ReportType' == 'ICPO') {
            loadICDetailsPO();
            fileName = 'IC_DETAILS_FOR_SPECIFIC_PO';
        }
        
    });

    function loadSummartReport() {
        $("#dvReportViewer").load("@Url.Action("SummaryConsigneeWiseInsp")", { Month: '@Model.Month', Year: '@Model.Year', FromDate: '@Model.FromDt', ToDate: '@Model.ToDt', ForGiven: '@Model.ForGiven', ReportBasedon: '@Model.ReportBasedon', MaterialValue: '@Model.MaterialValue', ForParticular: '@Model.ForParticular', lstParticular: '@Model.lstParticular', HFromDate: '@Model.HFromDate', HToDate: '@Model.HToDate' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }
    function loadSummartVendorReport() {
        $("#dvReportViewer").load("@Url.Action("SummaryVendorWiseInsp")", { Month: '@Model.Month', Year: '@Model.Year', FromDate: '@Model.FromDt', ToDate: '@Model.ToDt', ForGiven: '@Model.ForGiven', ReportBasedon: '@Model.ReportBasedon', MaterialValue: '@Model.MaterialValue', ForParticular: '@Model.ForParticular', lstParticular: '@Model.lstParticular' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }
    function loadSummartRTIReport() {
        $("#dvReportViewer").load("@Url.Action("SummaryofInsp")", { Month: '@Model.Month', Year: '@Model.Year', FromDate: '@Model.FromDt', ToDate: '@Model.ToDt', ForGiven: '@Model.ForGiven', ReportBasedon: '@Model.ReportBasedon', ForParticular: '@Model.ForParticular', lstParticular: '@Model.lstParticular', TextPurchaser: '@Model.TextPurchase' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }
    function loadVendorInspReport() {
        $("#dvReportViewer").load("@Url.Action("VendorWiseInsp")", { Month: '@Model.Month', Year: '@Model.Year', FromDate: '@Model.FromDt', ToDate: '@Model.ToDt', rdbGIE: '@Model.rdbGIE', rdbForMonth: '@Model.rdbForMonth', ForGPer: '@Model.ForGPer', ddlVender: '@Model.ddlVender' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }
    function loadICDetailsPO() {
        $("#dvReportViewer").load("@Url.Action("ICDetailsPO")", { PO_NO: '@Model.PO_NO', PO_DT: '@Model.PO_DT', RLY_NONRLY: '@Model.RLY_NONRLY', RLY_CD: '@Model.RLY_CD' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }

    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnExportToExcel").click(function () {
        var html = $('#dvReportViewer').html();
        html = html.replaceAll('class="borderTable"', 'border="1"');

        let file = new Blob([html], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        var HTML = $('#dvReportViewer').html();

        $.ajax({
            url: "@Url.Action("GeneratePDF", "InspectionStatus")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            data: { htmlContent: HTML },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (result) {
                var url = window.URL.createObjectURL(result);
                if (isPrint) {
                    iframe = document.createElement('iframe');
                    document.body.appendChild(iframe);

                    iframe.style.display = 'none';
                    iframe.src = url;
                    iframe.onload = function () {
                        setTimeout(function () {
                            iframe.focus();
                            iframe.contentWindow.print();
                        }, 1);
                    };
                }
                else {
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = getExportFileName(fileName) + '.pdf';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

</script>
