@model IBS.Models.ICFromToModel
@{
    ViewData["Title"] = "Issue of Hologram to IE";
}

<form data-ajax="true" asp-antiforgery="true" asp-controller="" asp-action="" data-ajax-method="post" id="frmDetails">
    <div class="list-inner">
        <div class="tast-list">
            <h2>Issue of Hologram to IE</h2>
        </div>
        <div class="list-btn" id="addNewForm">
            <a asp-area="" asp-controller="HologramSearchForm" asp-action="Manage" class="formBtn Permission_Add"> <span class="fa fa-plus"></span> Add New</a>
        </div>
    </div>
    <div class="accordion-body">
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Reference">Hologram No. From</label>
                    <span style="color: orangered;font-weight: bold;">@ViewBag.Region</span>
                    <input type="text" id="txtFromNo" maxlength="7" style="text-transform: uppercase;width:94%;">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Reference">Hologram No. To</label>
                    <span style="color: orangered;font-weight: bold;">@ViewBag.Region</span>
                    <input type="text" id="txtToNo" maxlength="7" style="text-transform: uppercase;width:94%;">
                </div>
            </div>
            <div class="col-md-4 mb-3" id="secDrop">
                <div class="reference">
                    <label for="Name" id="lblIECM">IE</label>
                    @Html.DropDownList("lstIE", new SelectList(IBS.Models.Common.GetIENameIsStatusNull(@ViewBag.Region) , "Value", "Text"),"--Select--", new{@id="DpIE"})
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-6 mb-3">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active" id="btnSearch">Search</button>
                </div>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtSOF" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Holograms No. From</th>
                            <th>Holograms No. TO</th>
                            <th>Issued to IE</th>
                            <th>IE to whom issued </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</form>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        var Role = "@ViewBag.Role";
        $(document).ready(function () {
            $("#btnSearch").click(function () {
                InitializeDatatable();
                if (Role != "Admin") {
                    var table = $("#dtSOF").DataTable();
                    table.column(5).visible(false);
                }
            });
            if (Role != "Admin") {
                $("#addNewForm").css("display", "none");
            }
        });
        function InitializeDatatable() {
            var FromNo = $("#txtFromNo").val();
            var ToNo = $("#txtToNo").val();
            var IE = $("#DpIE").val();
            $("#dtSOF").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "HFromNo": FromNo,
                            "HToNo": ToNo,
                            "IE": IE
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: "HgNoFr",
                        render: function (data, type, row) {
                            return row.HgRegion.substring(0, 1) + row.HgNoFr
                        }
                    },
                    {
                        data: "HgNoTo",
                        render: function (data, type, row) {
                            return row.HgRegion.substring(0, 1) + row.HgNoTo
                        }
                    },
                    {
                        data: "HgIssueDt",//"Display_HgIssueDt"
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "HgIeName" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var HgNoFr = data.HgRegion.substring(0, 1) + data.HgNoFr;
                            var HgNoTo = data.HgRegion.substring(0, 1) + data.HgNoTo;
                            var editUrl = '@Url.Action("Manage", "HologramSearchForm")?Hg_No_Fr=' + HgNoFr + '&Hg_No_To=' + HgNoTo;
                            var html = '<div align=\"center\" class=\"reportIcon\">';
                            //html += '<a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="Edit(\'' + data.HgNoFr + '\',\'' + data.HgNoTo + '\',\'' + data.HgRegion.substring(0, 1) + '\')" href="javascript:void(\'0\');" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="SOFDelete(\'' + data.HgNoFr + '\',\'' + data.HgNoTo + '\',\'' + data.HgRegion.substring(0, 1) + '\')" href="javascript:void(\'0\');" id=\"' + HgNoFr + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function Edit(Hg_No_Fr, Hg_No_To, Region) {
            Hg_No_Fr = Region + Hg_No_Fr;
            Hg_No_To = Region + Hg_No_To;
            $.ajax({
                url: '@Url.Action("MatchHologram", "HologramSearchForm")?Hg_No_Fr=' + Hg_No_Fr + '&Hg_No_To=' + Hg_No_To,
                type: "POST",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {
                    if (response != "") {
                        ShowHideMsgNew(false, response);
                    } else {
                        window.location.href = '@Url.Action("Manage", "HologramSearchForm")?Hg_No_Fr=' + Hg_No_Fr + '&Hg_No_To=' + Hg_No_To;
                    }
                }
            });

        }

        function SOFDelete(Hg_No_Fr, Hg_No_To, Region) {
            Hg_No_Fr = Region + Hg_No_Fr;
            Hg_No_To = Region + Hg_No_To;
            $.ajax({
                url: '@Url.Action("MatchHologram", "HologramSearchForm")?Hg_No_Fr=' + Hg_No_Fr + '&Hg_No_To=' + Hg_No_To,
                type: "POST",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {
                    if (response != "") {
                        ShowHideMsgNew(false, response);
                    } else {
                        var url = '@Url.Action("Delete", "HologramSearchForm")?Hg_No_Fr=' + Hg_No_Fr + '&Hg_No_To=' + Hg_No_To;
                        $("#btn-delete-yes").attr("href", url);
                        $("#modal-delete-conf").modal("show");
                    }
                }
            });

        }
    </script>
}
