@model IBS.Models.HologramSearchFormModel
@{
    ViewData["Title"] = "Issue of Hologram to IE";
    string clsView = "";
    if (Model.HgNoFr != "")
    {
        clsView = "Permission_View";
    }
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Issue of Hologram to IE</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="HologramSearchForm" class="formBtn viewall-btn">View List</a>
    </div>
</div>
<section class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-controller="HologramSearchForm" asp-action="Manage" data-ajax-method="post" data-ajax-complete="completed" id="frmHologramSearchForm">
            <input type="hidden" asp-for="HgRegion" />
            <div class="accordion-body">
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <div class="reference">
                            <label for="Reference">Holograms No. From</label>
                            <span style="color: orangered;font-weight: bold;">@Model.Region</span>
                            <input type="text" class="input" asp-for="HgNoFr" maxlength="7" style="text-transform: uppercase;width:96%;">
                            <span asp-validation-for="HgNoFr" class="text-danger"></span>
                            <input type="hidden" asp-for="lblHgNoFr" />
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="reference">
                            <label for="Reference">Holograms No. TO</label>
                            <span style="color: orangered;font-weight: bold;">@Model.Region</span>
                            <input type="text" class="input" asp-for="HgNoTo" maxlength="7" style="text-transform: uppercase;width:96%;">
                            <span asp-validation-for="HgNoTo" class="text-danger"></span>
                            <input type="hidden" asp-for="lblHgNoTo" />
                        </div>
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Date of Issued to IE</label>
                        <input type="text" class="datepicker" class="input" asp-for="HgIssueDt" maxlength="10">
                        <span asp-validation-for="HgIssueDt" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">IE to whom issued</label>
                        @Html.DropDownListFor(Model => Model.HgIecd, new SelectList(IBS.Models.Common.GetIENameIsStatusNull(Model.Region) , "Value", "Text"),"--Select--")
                        <span asp-validation-for="HgIecd" class="text-danger"></span>
                    </div>
                </div>
                @if (Model.IEStatus == "" || Model.IEStatus == null)
                {
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active Permission_Save" onclick="SubmitHologramToIE();" id="btnSave">Save</button>
                    </div>
                }
            </div>
        </form>
    </div>
</section>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        var Role = "@ViewBag.Role";
        function SubmitHologramToIE() {
            if ($("#frmHologramSearchForm").valid()) {
                $("#frmHologramSearchForm").submit();
            }
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            //window.location.href = "/HologramSearchForm/Index";
            if (res.status) {
                setTimeout(function () {
                    window.location.href = '@Url.Action("Index", "HologramSearchForm")';
                }, 1000)
            }
        };
        //if (@Model == null) {
        //    ShowHideMsgNew(false, "Hologram Record Not found");
        //}

        //if (Role != "Admin") {
        //    $("#btnSave").css("display", "none");
        //}
    </script>
}