
@model IBS.Models.NCRRegister

@{
    ViewData["Title"] = "Create NCR";
}

<style>
   .btncls{
       margin-top: 30px;
   }

</style>

<form data-ajax="true" asp-antiforgery="true" asp-controller="NCRRegister" asp-action="LoadTable" data-ajax-method="post" data-ajax-complete="completed" id="frmNCRDetails">
    
    <div class="accordion-body" id="BYIE">
    <div class="row my-0">
        <div class="list-inner">
          <div class="tast-list">
          <h3>New Register</h3>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <label for="PropertyId">IE</label>
        @Html.DropDownListFor(model => model.IeCd, new SelectList(IBS.Models.Common.GetIENameWithoutCode(), "Value", "Text"), "--Select--", new { id = "IENAME" })
        <span asp-validation-for="IeCd" class="text-danger"></span>
    </div>
    <div class="col-md-3 mb-3">
        <label for="Reference">Date From.</label>
                <input type="text" class="input datepicker" asp-for="FromDate" readonly="true" id="FromDate" required>
                <span asp-validation-for="FromDate" class="text-danger"></span>
    </div>
    <div class="col-md-3 mb-3">
        <label for="Reference">To</label>
                <input type="text" class="input datepicker" asp-for="ToDate" readonly="true" id="ToDate" required>
        <span asp-validation-for="ToDate" class="text-danger"></span>
    </div>
    <div class="col-md-3 mb-3">
        <div class="savenext-btn">
            <button type="button" class="save-btn active btncls" id="btnsubmit" onclick="Submit();">Submit</button>
        </div>
    </div>
    </div>
</div>


    
        <section class="table-section">
            <div class="task-listinput">
                <div class="dash-table">
                    <table id="dtNCR" class="table-responsive">
                        <thead>
                            <tr>
                                <th>NC Status</th>
                                <th>Case No.</th>
                                <th>Call Date</th>
                                <th>Call SNO.</th>
                                <th>IE</th>
                                <th>Book NO.</th>
                                <th>Set NO.</th>
                                <th>Consignee</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
   
</form>

@section scripts{
     <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

     <script type="text/javascript">

         function Search() {
            var ncrNoInput = $("#CASENO");
            var ncrNoValue = ncrNoInput.val().trim();
            var validationSpan = $("[data-valmsg-for='CaseNo']");

            if (ncrNoValue === "") {
                validationSpan.html("CASE No. is required.");
                validationSpan.show();
                return;
            } else {
                if ($("#frmNCRDetails").valid()) {
                    $("#frmNCRDetails").submit();
                }
                InitializeDatatable();
            }
            validationSpan.hide();
            ModifyNCR();
        }

         function Submit() {
             debugger
            var ncrNoInput = $("#FromDate");
            var ncrNoInput1 = $("#ToDate");
            
            var ncrNoValue = ncrNoInput.val().trim();
            var ncrNoValue1 = ncrNoInput.val().trim();
            
            var validationSpan = $("[data-valmsg-for='FromDate']");
            var validationSpan1 = $("[data-valmsg-for='ToDate']");
            var ieCdDropDown = $("#IENAME");
            var ieCdValue = ieCdDropDown.val();
            var ieCdValidationSpan = $("[data-valmsg-for='IeCd']");

            if (ncrNoValue === "" && ncrNoValue1 === "" && ieCdValue === "") {
                validationSpan.html("FromDate is required.");
                validationSpan1.html("ToDate is required.");
                ieCdValidationSpan.html("IE Code is required.");
                ieCdValidationSpan.show();
                return;
            } else {
                if ($("#frmNCRDetails").valid()) {
                    $("#frmNCRDetails").submit();
                }
                InitializeDatatable();
            }
            validationSpan.hide();
            ieCdValidationSpan.hide();
            //ModifyNCR();
        }

        function btnnewncr(){
            debugger
            var ncrNoInput = $("#BKNo");
            var ncrNo1Input = $("#CASENO");
            var ncrNo2Input = $("#SetNo");
            var ncrNoValue = ncrNoInput.val().trim();
            var ncrNo1Input = ncrNoInput.val().trim();
            var ncrNo2Input = ncrNoInput.val().trim();
            var validationSpan = $("[data-valmsg-for='BKNo']");
            var validationSpan1 = $("[data-valmsg-for='CaseNo']");
            var validationSpan2 = $("[data-valmsg-for='SetNo']");

            if (ncrNoValue === "" && ncrNo1Input === "" && ncrNo2Input==="") {
                validationSpan.html("BK No. is required.");
                validationSpan1.html("Case No. is required.");
                validationSpan2.html("Set No. is required.");
                validationSpan.show();
                return;
            } else {
                var CASENO = $("#CASE_NO").val();
                var BKNo = $("#BKNo").val();
                var SetNo = $("#SetNo").val();
                var url = '@Url.Action("Manage", "NCRRegister")' + '?Actions=A&CASENO=' + CASENO + '&BKNo=' + BKNo + '&SetNo=' + SetNo;
                window.location.href = url;
            }
            validationSpan.hide();
            ModifyNCR();
        }

        function ModifyNCR(){
            debugger
            var ncrNoInput = $("#NCNO");
            var ncrNoValue = ncrNoInput.val().trim();
            var validationSpan = $("[data-valmsg-for='NC_NO']");

            if (ncrNoValue === "") {
                validationSpan.html("NCR No. is required.");
                validationSpan.show();
                return;
            }else{
                var NC_NO = $("#NCNO").val();
                var url = '@Url.Action("Manage", "NCRRegister")' + '?Actions=M&NC_NO=' + NC_NO;
                window.location.href = url;
            }
            validationSpan.hide();
            ModifyNCR();
        }

        //  completed = function (response) {
        //    debugger
        //    var res = response.responseJSON;
        //    ShowHideMsgNew(res.status, res.responseText);
        //    //window.location.href = "/NCRRegister";
        //    window.location.href = '@Url.Action("Index", "NCRRegister")';
        //};


         function InitializeDatatable() {
            debugger
            
            var selectedValue = $("#IENAME").val();
            var NCNO = $("#NCNO").val();
            var CASENO = $("#CASENO").val();
            var BKNo = $("#BKNo").val();
            var SetNo = $("#SetNo").val();
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();

            var ajaxUrl = "@Url.Action("LoadTable")";

             $("#dtNCR").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: true,
                ajax: {
                    url: ajaxUrl,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        debugger
                        var AdditionalValues = {
                            "NCNO": NCNO,
                            "CASENO": CASENO,
                            "FromDate": FromDate,
                            "ToDate": ToDate,
                            "selectedValue": selectedValue
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    },
                },
                columns: [
                    { data: "NC_NO", width: "10%" },
                    { data: "CaseNo", width: "10%" },
                    { data: "CALL_RECV_DT", width: "10%" },
                    { data: "CALL_SNO", width: "10%" },
                    { data: "IE_SNAME", width: "10%" },
                    { data: "BKNo", width: "10%" },
                    { data: "SetNo", width: "10%" },
                    { data: "CONSIGNEE", width: "10%" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            debugger
                            var NC_NO = data.NC_NO;
                            var CaseNo = data.CaseNo;
                            var BKNo = data.BKNo;
                            var SetNo = data.SetNo;
                            var editUrl = '@Url.Action("Manage", "NCRRegister")?NC_NO=' + NC_NO + '&Actions=' + "M";;
                            var AddUrl = '@Url.Action("Manage", "NCRRegister")?CaseNo=' + CaseNo + '&BKNo=' + BKNo + '&SetNo=' + SetNo + '&Actions=' + "A";;
                          
                            var html = '<div>';
                            html += '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + AddUrl + '\" class=\"edit\"><i class=\"fa fa-plus Permission_Add\" title="Add"></i></a>';
                            html += '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            html += '</div></div></div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        

     
        $("#NCNO").on("input", function () {
            $("[data-valmsg-for='NC_NO']").hide(); 
        });
        $("#CASENO").on("input", function () {
            $("[data-valmsg-for='CaseNo']").hide();
        });
        $("#BKNo").on("input", function () {
            $("[data-valmsg-for='BKNo']").hide();
        });
        $("#SetNo").on("input", function () {
            $("[data-valmsg-for='SetNo']").hide();
        });
        $("#FromDate").on("input", function () {
            $("[data-valmsg-for='FromDate']").hide();
        });
        $("#ToDate").on("input", function () {
            $("[data-valmsg-for='ToDate']").hide();
        });

        $("#NCNO").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='NC_NO']").show();
            }
        });
        $("#CASENO").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='CaseNo']").show();
            }
        });
        $("#BKNo").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='BKNo']").show();
            }
        });
        $("#SetNo").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='SetNo']").show();
            }
        });
        $("#FromDate").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='FromDate']").show();
            }
        });
        $("#ToDate").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='ToDate']").show();
            }
        });
        $("#IENAME").on("change", function () {
            $("[data-valmsg-for='IeCd']").hide();
        });

        $("#IENAME").on("blur", function () {
            if ($(this).val() === "") {
                $("[data-valmsg-for='IeCd']").show();
            }
        });

     </script>
}



     
