@model IBS.Models.NCRRegister

@{
    ViewData["Title"] = "Create NCR";
}

<style>
    .btncls {
        margin-top: 30px;
    }

</style>
<div class="row my-0">
    <div class="list-inner">
        <div class="tast-list">
            <h2>NCR Register</h2>
        </div>
    </div>
</div>

<form data-ajax="true" asp-antiforgery="true" asp-controller="NCRRegister" asp-action="LoadTable" data-ajax-method="post" id="frmNCRDetails">

    <div class="accordion-body" id="BYIE">
        <div class="row my-0">
            @if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.IeCd)))
            {
                <div class="col-md-3 mb-3">
                    <label for="PropertyId">IE</label>
                    @Html.DropDownListFor(model => model.IeCd, new SelectList(IBS.Models.Common.GetIENameByIECDAndRegion(ViewBag.Regions, ViewBag.IeCd), "Value", "Text"),new { id = "IENAME" })
                    <span id="spnIeCd" class="text-danger"></span>
                </div>
            }
            else if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.Co_Cd)))
            {
                <div class="col-md-3 mb-3">
                    <label for="PropertyId">IE</label>
                    @Html.DropDownList("", new SelectList(IBS.Models.Common.GetIEByCo(ViewBag.Regions, ViewBag.Co_Cd), "Value", "Text"),new { id = "IENAME" })
                    <span id="spnIeCd" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="col-md-3 mb-3">
                    <label for="PropertyId">IE</label>
                    @Html.DropDownListFor(model => model.IeCd, new SelectList(IBS.Models.Common.GetIEToWhomIssued(ViewBag.Regions), "Value", "Text"), "--Select--", new { id = "IENAME" })
                    <span id="spnIeCd" class="text-danger"></span>
                </div>
            }

            <div class="col-md-3 mb-3">
                <label for="Reference">Date From.</label>
                <input type="text" class="input datepicker" asp-for="FromDate" id="FromDate" placeholder="DD/MM/YYYY" required>
                <span class="text-danger field-validation-error" id="spnFromDate"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="Reference">To</label>
                <input type="text" class="input datepicker" asp-for="ToDate" id="ToDate" placeholder="DD/MM/YYYY" required>
                <span class="text-danger field-validation-error" id="spnToDate"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="Reference">Case No. </label>
                <input type="text" class="input" ASP-FOR="CaseNo" maxlength="50" />
                <span class="text-danger field-validation-error"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="Reference">Book No. </label>
                <input type="text" class="input" ASP-FOR="BKNo" maxlength="50" />
                <span class="text-danger field-validation-error"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="Reference">Set No. </label>
                <input type="text" class="input" ASP-FOR="SetNo" maxlength="50" />
                <span class="text-danger field-validation-error"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="Reference">NCR No. </label>
                <input type="text" class="input" ASP-FOR="NCRCode" maxlength="50" />
                <span class="text-danger field-validation-error"></span>
            </div>
            <div class="col-md-3 mb-3">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active btncls" id="btnsearch" onclick="Submit();">Search</button>
                </div>
            </div>
        </div>
    </div>

    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtNCR" class="table-responsive">
                    <thead>
                        <tr>
                            <th>NC Status</th>
                            <th>Case No.</th>
                            <th>Call Date</th>
                            <th>Call SNO.</th>
                            <th>IE</th>
                            <th>Book NO.</th>
                            <th>Set NO.</th>
                            <th>Consignee</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</form>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function Submit() {
            var IsValid = true;
            $("#spnFromDate").html("");
            $("#spnToDate").html("");
            $("#spnIeCd").html("");

            if ($("#FromDate").val() != "") {
                if ($("#ToDate").val() == "") {
                    $("#spnToDate").html("Enter To Date.");
                    IsValid = false;
                }
            }
            if ($("#ToDate").val() != "") {
                if ($("#FromDate").val() == "") {
                    $("#spnFromDate").html("Enter From Date.");
                    IsValid = false;
                }
            }

            if (!IsValid) return;
            var IsValid = true;

            if ($("#frmNCRDetails").valid()) {
                $("#frmNCRDetails").submit();
            }
            InitializeDatatable();
        }


        function InitializeDatatable() {
            var selectedValue = $("#IENAME").val();
            var NCNO = $("#NCRCode").val();
            var CASENO = $("#CaseNo").val();
            var BKNo = $("#BKNo").val();
            var SetNo = $("#SetNo").val();
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();

            var ajaxUrl = "@Url.Action("LoadTable")";

            $("#dtNCR").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: false,
                ajax: {
                    url: ajaxUrl,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "NCNO": NCNO,
                            "CASENO": CASENO,
                            "BKNo": BKNo,
                            "SetNo": SetNo,
                            "NCNO": NCNO,
                            "FromDate": FromDate,
                            "ToDate": ToDate,
                            "selectedValue": selectedValue
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    },
                },
                columns: [
                    { data: "NC_NO", width: "10%" },
                    { data: "CaseNo", width: "10%" },
                    {
                        data: "CALL_RECV_DT",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "CALL_SNO", width: "10%" },
                    { data: "IE_SNAME", width: "10%" },
                    { data: "BKNo", width: "10%" },
                    { data: "SetNo", width: "10%" },
                    { data: "CONSIGNEE", width: "10%" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            debugger
                            var NC_NO = data.NC_NO;
                            var IECD = data.IeCd;
                            var CaseNo = data.CaseNo;
                            var BKNo = data.BKNo;
                            var SetNo = data.SetNo;
                            var editUrl = '@Url.Action("Manage", "NCRRegister")?NC_NO=' + NC_NO + '&Actions=' + "M";
                            var AddUrl = '@Url.Action("Manage", "NCRRegister")?CaseNo=' + CaseNo + '&BKNo=' + BKNo + '&SetNo=' + SetNo + '&Actions=' + "A";
                            if (NC_NO != null) {
                                var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_Add\" title="Edit"></i></a>';
                            } else if (IECD == null) {
                                var html = '<a href=\"' + AddUrl + '\" class=\"edit\"><i class=\"fa fa-plus Permission_Add\" title="Add" style="margin:10px;"></i>';
                            }
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }


        $("#NCNO").on("input", function () {
            $("[data-valmsg-for='NC_NO']").hide();
        });
        $("#CASENO").on("input", function () {
            $("[data-valmsg-for='CaseNo']").hide();
        });
        $("#BKNo").on("input", function () {
            $("[data-valmsg-for='BKNo']").hide();
        });
        $("#SetNo").on("input", function () {
            $("[data-valmsg-for='SetNo']").hide();
        });
        $("#FromDate").on("input", function () {
            $("[data-valmsg-for='FromDate']").hide();
        });
        $("#ToDate").on("input", function () {
            $("[data-valmsg-for='ToDate']").hide();
        });

        $("#NCNO").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='NC_NO']").show();
            }
        });
        $("#CASENO").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='CaseNo']").show();
            }
        });
        $("#BKNo").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='BKNo']").show();
            }
        });
        $("#SetNo").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='SetNo']").show();
            }
        });
        $("#FromDate").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='FromDate']").show();
            }
        });
        $("#ToDate").on("blur", function () {
            if ($(this).val().trim() === "") {
                $("[data-valmsg-for='ToDate']").show();
            }
        });
        $("#IENAME").on("change", function () {
            $("[data-valmsg-for='IeCd']").hide();
        });

        $("#IENAME").on("blur", function () {
            if ($(this).val() === "") {
                $("[data-valmsg-for='IeCd']").show();
            }
        });

    </script>
}




