@model IBS.Models.NCRRegister

@{
    ViewData["Title"] = "Create NCR";
    string clsView = "";
    if (Model.CaseNo != null)
    {
        clsView = "Permission_View";
    }
}

<div class="list-inner">
    <div class="tast-list">
        <h2>NON CONFORMITY FORM</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="NCRRegister" class="formBtn viewall-btn">View List</a>
    </div>
</div>
<section class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="SaveUpdateNCR" asp-action="SaveRemarksofNCR" data-ajax-method="post" data-ajax-complete="completed" id="frmNCRDetails">
            <div class="accordion-body">
                <div class="row">
                    <input type="text" asp-for="SetRegionCode" hidden />
                    <input type="text" asp-for="VEND_CD" hidden />
                    <input type="text" asp-for="CALLRECVDT" hidden />
                    <input type="text" asp-for="CONSIGNEE_CD" hidden />
                    <input type="text" asp-for="Item_Srno_no" hidden />
                    <input type="text" asp-for="Ie_Cd" hidden />
                    <input type="text" asp-for="CALLSNO" hidden />
                    <input type="text" asp-for="UserID" hidden />
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">IC NO.</label>
                            <input type="text" asp-for="IC_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">IC Date</label>
                            <input type="text" class="input" asp-for="ICDate" readonly="true" asp-format="{0:dd-MM-yyyy}" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">BK NO.</label>
                            <input type="text" asp-for="BKNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">Set No.</label>
                            <input type="text" asp-for="SetNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">Case No.</label>
                            <input type="text" asp-for="CaseNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">	Call Date - SNo.</label>
                            <input type="text" asp-for="CALLRECVDT" maxlength="100" readonly="true" style="text-transform: uppercase;" asp-format="{0:dd-MM-yyyy}" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">Contract No.</label>
                            <input type="text" asp-for="PO_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">Date</label>
                            <input type="text" asp-for="PO_DT" class="input" readonly="true" maxlength="100" asp-format="{0:dd-MM-yyyy}" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">Vendor</label>
                            <input type="text" asp-for="Vendor" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">Inspecting Er.</label>
                            <input type="text" asp-for="IE_SNAME" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">Consignee</label>
                            <input type="text" asp-for="CONSIGNEE" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">Item</label>
                            <select asp-for="Item" class="form-control" required></select>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">Qty Passed</label>
                            <input type="text" asp-for="QtyPassed" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    @if (ViewBag.ShowNCRNO)
                    {
                        <div class="col-md-3 mb-3">
                            <div class="reference">
                                <label for="Reference">NCR No.</label>
                                <input type="text" asp-for="NC_NO" maxlength="100"  readonly="true" style="text-transform: uppercase;" required>
                            </div>
                        </div>
                    }
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">NCR Date</label>
                            <input type="text" asp-for="NCRDate" maxlength="100" class="input" readonly="true" asp-format="{0:dd-MM-yyyy}" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                </div>
                @if (ViewBag.ShowNCRButton)
                {
                    <div class="row">
                        <div class="col-md-3 mb-3" id="ncrclass">
                            <div class="reference">
                                <label for="NCRClass">	NCR Class</label>
                                <select asp-for="NCRClass" required>
                                    <option value="A">Minor</option>
                                    <option value="B">Major</option>
                                    <option value="C">Critical</option>
                                </select>
                                <span asp-validation-for="NCRClass" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3" id="ncrcodes">
                            <div class="reference">
                                <label for="Reference">	NCR Code</label>
                                <select asp-for="NcCdSno" class="form-control" required></select>
                                <span asp-validation-for="NCRCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="reference">
                                <label for="nccodeother">&nbsp;</label>
                                <input type="text" name="ncdesc" id="nccodeother" class="form-control" placeholder="NCR Desc in Case of Others" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.Showradio)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="radioListForm mb-0">
                                <li>
                                    <input type="radio" id="rdononc" name="drone">
                                    <label for="rdononc" name="rdononc" runat="server">No NC</label>
                                </li>
                                <li>
                                    <input type="radio" id="rdoaddnc" name="drone" checked>
                                    <label for="rdoaddnc" name="rdononc" runat="server">Add NC</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <section class="table-section" id="tableNCR">
                    <div class="task-listinput">
                        <div class="dash-table">
                            <table id="dtNCR" class="table-responsive">
                                <thead>
                                    <tr>
                                        <th>NC Code Sn.</th>
                                        <th>NC Code</th>
                                        <th>NC Description</th>
                                        <th>IE Corrective & Preventive Action1</th>
                                        <th>Controlling Remarks1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
                <div class="savenext-btn">
                    @if (ViewBag.ShowSaveButton)
                    {
                        <button type="button" class="save-btn active btncls Permission_Save" id="btnsave" onclick="Save()">Save</button>
                    }
                    @if (ViewBag.ShowRemarksButton)
                    {
                        <button type="button" class="save-btn active btncls" id="btnSaveMoreNC">Save More NC's</button>
                        <button type="button" class="save-btn active btncls Permission_Save" id="btnremarks" onclick="BtnSaveRemarks();">Save Remarks</button>
                    }
                    <button type="button" class="save-btn active btncls" id="btnsendIE" onclick="SendEmail();">Send To IE</button>
                </div>
            </div>

        </form>
    </div>
</section>

<partial name="_DataTablesScriptsPartial" />
<partial name="_ValidationScriptsPartial" />
<script>
    $(document).ready(function () {
        $("#nccodeother").hide();
        $("#ncrcodes").hide();
        $("#ncrclass").hide();
        var NCR = $("#NCRClass").val();
        if (NCR != "") {
            $('#NCRClass').trigger('change');
        }
        InitializeDatatable();
        ItemGet();
    });

    $('#NcCdSno').change(function () {
        var selectedText = $("#NcCdSno").find("option:selected").text();
        var indexOfHyphen = selectedText.indexOf("-");
        var extractedText = selectedText.substr(indexOfHyphen + 1).trim();
        if (extractedText == "Others") {
            $('#nccodeother').show();
        } else {
            $('#nccodeother').hide();
        }
    });

    function ItemGet() {

        var CaseNo = $("#CaseNo").val();
        var BKNo = $("#BKNo").val();
        var SetNo = $("#SetNo").val();

        var url = '@Url.Action("GetItem", "NCRRegister")?CaseNo=' + CaseNo + '&BKNo=' + BKNo + '&SetNo=' + SetNo;

        $.ajax({
            url: url,
            type: 'POST',
            data: { CaseNo: CaseNo, BKNo: BKNo, SetNo: SetNo },
            processData: false,
            contentType: false,
            success: function (data) {
                var Item = $("#Item");
                Item.empty();
                Item.append($('<option>').text('--Select--').val(''));

                var items = JSON.parse(data);

                $.each(items, function (index, item) {
                    Item.append($('<option>').text(item.ItemDescPo).val(item.ItemSrnoPo));
                });
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    }

    $("#Item").change(function () {
        var CaseNo = $("#CaseNo").val();
        var CALLRECVDT = $("#CALLRECVDT").val();
        var CALLSNO = $("#CALLSNO").val();
        var ItemSno = $(this).val();

        var url = '@Url.Action("GetQtyByItem", "NCRRegister")?CaseNo=' + CaseNo + '&CALLRECVDT=' + CALLRECVDT + '&CALLSNO=' + CALLSNO + '&ItemSno=' + ItemSno;
        $.ajax({
            url: url,
            type: 'POST',
            data: { CaseNo: CaseNo, CALLRECVDT: CALLRECVDT, CALLSNO: CALLSNO, ItemSno: ItemSno },
            processData: false,
            contentType: false,
            success: function (data) {
                $("#QtyPassed").val(data);
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    });

    function Save() {
        var formData = new FormData($("#frmNCRDetails")[0]);
        var url = '@Url.Action("SaveUpdateNCR", "NCRRegister")';
        var isRadioChecked = $("#rdononc").is(":checked");
        var selectedText = $("#NCcode").find("option:selected").text();
        var indexOfHyphen = selectedText.indexOf("-");

        var otherdesc = $("#nccodeother").val();
        if (otherdesc != "") {
            var extractedText = otherdesc;
        } else {
            var extractedText = selectedText.substr(indexOfHyphen + 1).trim();
        }

        formData.append("IsRadioChecked", isRadioChecked);
        formData.append("extractedText", extractedText);
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.status === true) {
                    if (data.redirectToIndex === true) {
                        var CaseNo = data.responseText.CaseNo;
                        var NCNO = data.responseText.NC_NO;
                        var BKNo = data.responseText.BKNo;
                        var SetNo = data.responseText.SetNo;
                        $("#btnsave").hide();
                        $("#rdnonc").hide();
                        $("#rdnc").hide();
                        $("#btnSaveMoreNC").show();
                        var actionUrl = '@Url.Action("Manage", "NCRRegister")?NC_NO=' + NCNO + '&Actions=' + "M" + '&BKNo=' + BKNo + '&SetNo=' + SetNo + '&CaseNo=' + CaseNo;
                        window.location.href = actionUrl;
                    }
                } else {
                }
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    }

    $('#btnSaveMoreNC').on('click', function () {
        var url = '@Url.Action("SaveMoreNC", "NCRRegister")';
        var selectedText = $("#NcCdSno").find("option:selected").text();
        var indexOfHyphen = selectedText.indexOf("-");
        var NCText = selectedText.substr(indexOfHyphen + 1).trim();
        var NcCd = $("#NcCdSno").val();
        var formData = new FormData($("#frmNCRDetails")[0]);

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.status === true) {
                    if (data.redirectToIndex === true) {
                        $("#NC_NO").val(data.responseText);
                        InitializeDatatable();
                    }
                }
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    });


    $('#NCRClass').change(function () {
        var NCR = $("#NCRClass").val();
        var url = '@Url.Action("GetNCRCode", "NCRRegister")?NCRClass=' + NCR;
        $.ajax({
            url: url,
            type: 'POST',
            success: function (data) {
                var Item = $("#NcCdSno");
                Item.empty();
                Item.append($('<option>').text('--Select--').val(''));

                var items = data;

                $.each(items, function (index, item) {
                    Item.append($('<option>').text(item.Text).val(item.Value));
                });
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    });

    function SendEmail() {
        var formData = new FormData($("#frmNCRDetails")[0]);
        var url = '@Url.Action("SendToIE", "NCRRegister")';

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.status === true) {
                    if (data.redirectToIndex === true) {
                        alert(data.alertMessage);
                        window.location.href = '@Url.Action("Index", "NCRRegister")';
                    }
                } else {
                }
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    }

    function BtnSaveRemarks() {
        var inputValues1 = [];
        var inputValues2 = [];
        var NCNO = $("#NC_NO").val();
        var UserID = $("#UserID").val();
        var table = $('#dtNCR').DataTable();
        $('.textbox1').each(function () {
            const newValue = $(this).val();
            const row = $(this).data('row');
            const uniqueId = 'txt1_' + row;

            if (newValue !== '') {
                const existingIndex = inputValues1.findIndex(item => item.uniqueId === uniqueId);
                if (existingIndex !== -1) {
                    inputValues1[existingIndex].value = newValue;
                } else {
                    inputValues1.push({ uniqueId: uniqueId, value: newValue });
                }
            }
        });

        $('.textbox2').each(function () {
            const newValue = $(this).val();
            const row = $(this).data('row');
            const uniqueId = 'txt2_' + row;

            if (newValue !== '') {
                const existingIndex = inputValues2.findIndex(item => item.uniqueId === uniqueId);
                if (existingIndex !== -1) {
                    inputValues2[existingIndex].value = newValue;
                } else {
                    inputValues2.push({ uniqueId: uniqueId, value: newValue });
                }
            }
        });

        var data = table.data().toArray();
        var model = [];
        var formData = new FormData();

        for (var i = 0; i < data.length; i++) {

            var modifiedItem = data[i];

            var input1Index = inputValues1.findIndex(item => item.uniqueId === 'txt1_' + i);
            if (input1Index !== -1) {
                modifiedItem.IeAction1 = inputValues1[input1Index].value;
            }
            else {
                modifiedItem.IeAction1 = "";
            }

            var input2Index = inputValues2.findIndex(item => item.uniqueId === 'txt2_' + i);
            if (input2Index !== -1) {
                modifiedItem.CoFinalRemarks1 = inputValues2[input2Index].value;
            }
            else {
                modifiedItem.CoFinalRemarks1 = "";
            }

            formData.append('model[' + i + '].NcCd', modifiedItem.NcCd);
            formData.append('model[' + i + '].NC_DESC', modifiedItem.NC_DESC);
            formData.append('model[' + i + '].IeAction1', modifiedItem.IeAction1);
            formData.append('model[' + i + '].IE_ACTION1_DT', modifiedItem.IE_ACTION1_DT);
            formData.append('model[' + i + '].CO_FINAL_REMARKS1_DT', modifiedItem.CO_FINAL_REMARKS1_DT);
            formData.append('model[' + i + '].CoFinalRemarks1', modifiedItem.CoFinalRemarks1);
            formData.append('model[' + i + '].NcCdSno', modifiedItem.NcCdSno);

        }
        var url = "@Url.Action("SaveRemarks", "NCRRegister")?NCNO=" + encodeURIComponent(NCNO) + "&UserID=" + encodeURIComponent(UserID);
        //var url = '/NCRRegister/SaveRemarks?NCNO=' + encodeURIComponent(NCNO) + '&UserID=' + encodeURIComponent(UserID);
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.redirectToIndex === true) {
                    window.location.href = '@Url.Action("Index", "NCRRegister")';
                }

            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error:', textStatus, errorThrown);
            }
        });
    }

    $(function () {
        if ($('#rdoaddnc').is(':checked')) {
            $('#tableNCR').hide();
            $('#nccodeother').hide();
        }
        $("input[name='drone']").change(function () {
            var selectedValue = $("input[name='drone']:checked").attr("id");
            if (selectedValue === "rdononc") {
                $("#ncrsclass").hide();
                $("#ncrcodes").hide();
                $("#btnsendIE").hide();
                $("#tableNCR").hide();
                $("#nccodeother").hide();
                $("#rdononc").prop("checked", true);
            } else if (selectedValue === "rdoaddnc") {
                $("#ncrsclass").show();
                $("#ncrcodes").hide();
                $("#btnsendIE").show();
                $("#tableNCR").hide();
                $("#rdoaddnc").prop("checked", true);
                $('#NcCdSno').trigger('change');
            }
        });
    });

    function InitializeDatatable() {

        var NC_NO = "";

        if (!isNullOrEmpty($("#NC_NO").val())) {
            NC_NO = $("#NC_NO").val();
            $("#ncrcodes").show();
            $("#ncrclass").show();
        }
        else {
            $("#ncrcodes").hide();
            $("#ncrclass").hide();
        }

        $("#dtNCR").DataTable({
            stateSave: false,// Design Assets
            autoWidth: true,
            scrollX: true,
            scrollCollapse: true,
            processing: true, // ServerSide Setups
            serverSide: true,
            destroy: true,
            paging: true,// Paging Setups
            searching: false,// Searching Setups
            ajax: {// Ajax Filter
                url: "@Url.Action("LoadTableRemarks")",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: function (d) {
                    var AdditionalValues = {
                        NC_NO
                    };
                    d.AdditionalValues = AdditionalValues;
                    return JSON.stringify(d);
                }
            },
            columns: [
                {
                    data: 'NcCdSno'
                },
                { data: "NcCd" },
                { data: "NC_DESC" },
                {
                    data: "IeAction1",
                    "targets": [1, 2],
                    render: function (data, type, row, meta) {
                        if (row.NcCd === "X01") {
                            return data;
                        } else {
                            var inputClass = 'textbox1';
                            var inputId = inputClass + '_' + meta.row; // Use row index to generate unique ID

                            if (data === null) {
                                return '<input type="text" name="textbox1" id="' + inputId + '" data-row="' + meta.row + '" class="textbox1"  value="">';
                            } else {
                                return data;
                            }
                        }
                    }
                },
                {
                    data: "CoFinalRemarks1",
                    "targets": [1, 2],
                    render: function (data, type, row, meta) {
                        if (row.NcCd === "X01") {
                            return data;
                        } else {
                            var inputClass = 'textbox2';
                            var inputId = inputClass + '_' + meta.row; // Use row index to generate unique ID
                            if (data === null) {
                                return '<input type="text" name="textbox2" class="textbox2" id="' + inputId + '"  data-row="' + meta.row + '" value="">';
                            } else {
                                return data;
                            }
                        }
                    }
                }
            ]
        });
    }

    function isNullOrEmpty(value) {
        return (!value || value == undefined || value == "" || value.length == 0);
    }

    completed = function (response) {
        var res = response.responseJSON;
        ShowHideMsgNew(res.status, res.responseText);
        window.location.href = '@Url.Action("Index", "NCRRegister")';
    };

</script>
