@model IBS.Models.NCRRegister

@{
    ViewData["Title"] = "Create NCR";
}

<div class="list-inner">
    <div class="tast-list">
        <h3>NON CONFORMITY FORM</h3>
    </div>
</div>

<form data-ajax="true" asp-antiforgery="true" asp-controller="SaveUpdateNCR" asp-action="SaveRemarksofNCR" data-ajax-method="post" data-ajax-complete="completed" id="frmNCRDetails">
    <div class="accordion-body">
        <div class="row my-0">
            <input type="text" asp-for="SetRegionCode" id="SetRegionCode" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
            <input type="text" asp-for="VEND_CD" id="vendcd" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
            <input type="text" asp-for="CALLRECVDT" id="CALLRECVDT" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
            <input type="text" asp-for="CONSIGNEECD" id="CONSIGNEECD" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
            <input type="text" asp-for="Item_Srno_no" id="Item_Srno_no" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
            <input type="text" asp-for="Ie_Cd" id="IeCd" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
            <input type="text" asp-for="CALLSNO" id="CALLSNO" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
            <input type="text" asp-for="UserID" id="UserID" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">IC NO.</label>
                    <input type="text" asp-for="IC_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Reference">IC Date</label>
                    <input type="text" class="input" asp-for="ICDate" readonly="true" id="fromdate" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">BK NO.</label>
                    <input type="text" asp-for="BKNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Set No.</label>
                    <input type="text" asp-for="SetNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Case No.</label>
                    <input type="text" asp-for="CaseNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">	Call Date - SNo.</label>
                    <input type="text" asp-for="CALL_SNO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Contract No.</label>
                    <input type="text" asp-for="PO_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Date</label>
                    <input type="text" asp-for="PO_DT" class="input" readonly="true" maxlength="100" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Vendor</label>
                    <input type="text" asp-for="Vendor" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Inspecting Er.</label>
                    <input type="text" asp-for="IE_SNAME" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Consignee</label>
                    <input type="text" asp-for="CONSIGNEE" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Item</label>
                    <input type="text" asp-for="Item" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Qty Passed</label>
                    <input type="text" asp-for="QtyPassed" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            @if (ViewBag.ShowNCRNO)
            {
                <div class="col-md-2 mb-3">
                    <div class="reference">
                        <label for="Reference">NCR No.</label>
                        <input type="text" asp-for="NC_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                    </div>
                </div>
            }
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">	NCR Date</label>
                    <input type="text" asp-for="NCRDate" id="NCRDate" maxlength="100" class="input" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            @if (ViewBag.ShowNCRButton)
            {
                <div class="row mt-0">
                    <div class="col-md-2 mb-3" id="ncrclass">
                        <div class="reference">
                            <label for="Reference">	NCR Class</label>
                            <select asp-for="NCRClass" id="NCRClass" class="form-control" required>
                                <option value="minor">Minor</option>
                                <option value="major">Major</option>
                                <option value="cast">Critical</option>
                            </select>
                            <span asp-validation-for="NCRClass" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5 mb-3" id="ncrcodes">
                        <div class="reference">
                            <label for="Reference">	NCR Code</label>
                            @*<input type="text" asp-for="NCRCode" maxlength="100" style="text-transform: uppercase;" required>*@
                            @Html.DropDownListFor(model => model.NcCdSno, new SelectList(IBS.Models.Common.GetNCCode(), "Value", "Text"), "--Select--", new { id = "NCcode" })
                            <span asp-validation-for="NCRCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <input type="radio" id="rdononc" name="drone">
                        <label for="rdononc" id="rdononc" name="rdononc" runat="server">No NC</label>
                    </div>
                    <div class="col-md-2 mb-3">
                        <input type="radio" id="rdoaddnc" name="drone" checked>
                        <label for="rdoaddnc" id="rdoaddnc" name="rdononc" runat="server">Add NC</label>
                    </div>
                    <div class="col-md-5 mb-3">
                        <div class="reference">
                            <input name="ncdesc" id="nccodeother" class="form-control" placeholder="NCR Desc in Case of Others" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
              
            }
            
            <div class="savenext-btn">
                @if (ViewBag.ShowSaveButton)
                {
                    <button type="button" class="save-btn active btncls" id="btnsave" onclick="Save()">Save</button>
                }
                @if (ViewBag.ShowRemarksButton)
                {
                    <button type="button" class="save-btn active btncls" id="btnremarks" onclick="BtnSaveRemarks();">Save Remarks</button>
                }
                <button type="button" class="save-btn active btncls" id="btnsendIE" onclick="SendEmail();">Send To IE</button>
                <button type="button" class="save-btn active btncls" onclick="cancelAction()">Cancel</button>
            </div>
        </div>
        <section class="table-section" id="tableNCR">
            <div class="task-listinput">
                <div class="dash-table">
                    <table id="dtNCR" class="table-responsive">
                        <thead>
                            <tr>
                                <th>NC Code Sn.</th>
                                <th>NC Code</th>
                                <th>NC Description</th>
                                <th>IE Corrective & Preventive Action1</th>
                                <th>Controlling Remarks1</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Existing table rows go here -->
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
       
    </div>
    
</form>


<partial name="_DataTablesScriptsPartial" />
<partial name="_ValidationScriptsPartial" />
 <script>
    $(document).ready(function () {
        debugger
        var msg = '@Html.Raw(ViewBag.JsonData1)';
        if(msg != ''){
            alert(msg);
        }
        InitializeDatatable();
    });

    $('#NCcode').change(function () {
        debugger
        var selectedText = $("#NCcode").find("option:selected").text();
        var indexOfHyphen = selectedText.indexOf("-");
        var extractedText = selectedText.substr(indexOfHyphen + 1).trim();
        if(extractedText == "Others"){
            $('#nccodeother').show();
        }else{
            $('#nccodeother').hide();
        }
    });

    function Save() {
        debugger
        var formData = new FormData($("#frmNCRDetails")[0]);
        var url = '@Url.Action("SaveUpdateNCR", "NCRRegister")';
        var isRadioChecked = $("#rdononc").is(":checked");
        var selectedText = $("#NCcode").find("option:selected").text();
        var indexOfHyphen = selectedText.indexOf("-");

        var otherdesc = $("#nccodeother").val();
        if(otherdesc != ""){
            var extractedText = otherdesc;
        }else{
            var extractedText = selectedText.substr(indexOfHyphen + 1).trim();
        }

        formData.append("IsRadioChecked", isRadioChecked);
        formData.append("extractedText", extractedText);
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false, // Prevent jQuery from converting the data to a string
            contentType: false,
            success: function (data) {
                if (data.status === true) {
                    if (data.redirectToIndex === true) {
                        alert(data.alertMessage); // Show the alert message
                        window.location.href = '/NCRRegister/Index'; // Replace with your index page URL
                    }
                } else {
                    // Handle error case if needed
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                // Handle error case if needed
            }
        });
    }

    function SendEmail(){
        var formData = new FormData($("#frmNCRDetails")[0]);
        var url = '@Url.Action("SendToIE", "NCRRegister")';

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false, // Prevent jQuery from converting the data to a string
            contentType: false,
            success: function (data) {
                if (data.status === true) {
                    if (data.redirectToIndex === true) {
                        alert(data.alertMessage); // Show the alert message
                        window.location.href = '/NCRRegister/Index'; // Replace with your index page URL
                    }
                } else {
                    // Handle error case if needed
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                // Handle error case if needed
            }
        });
    }
   
    function BtnSaveRemarks(){
        debugger
         var inputValues = [];

        $('.textbox1').each(function () {
            const newValue = $(this).val();
            const row = $(this).data('row');
            // Update your data or perform any other actions with the newValue and row
            inputValues.push({ row: row, value: newValue });
        });

        $('.textbox2').each(function () {
            const newValue = $(this).val();
            const row = $(this).data('row');
            // Update your data or perform any other actions with the newValue and row
            inputValues.push({ row: row, value: newValue });
        });
        var inputData = JSON.stringify({ inputValues: inputValues });
        $.ajax({
            url: '/NCRRegister/SaveRemarks',
            type: 'POST',
            contentType: 'application/json',
            data: inputData,
            success: function (result) {
                // Handle success response from the controller
                console.log(result);
            },
            error: function (xhr, textStatus, errorThrown) {
                // Handle error
                console.log('Error:', textStatus, errorThrown);
            }
        });
    }

    $(function () {
        if ($('#rdoaddnc').is(':checked')) {
            $('#tableNCR').hide();
            $('#nccodeother').hide();
        }
        $("input[name='drone']").change(function () {
            var selectedValue = $("input[name='drone']:checked").attr("id");
            if (selectedValue === "rdononc") {
                $("#ncrclass").hide();
                $("#ncrcodes").hide();
                $("#btnsendIE").hide();
                $("#tableNCR").hide();
                $("#rdononc").prop("checked", true);
            } else if (selectedValue === "rdoaddnc") {
                $("#ncrclass").show();
                $("#ncrcodes").show();
                $("#btnsendIE").show();
                $("#tableNCR").hide();
                $("#rdoaddnc").prop("checked", true);
            }
        });
    });
    function cancelAction() {
        window.location.href = '@Url.Action("Index", "NCRRegister")';
    }

    
    function InitializeDatatable(){
       
        var jsonData = '@Html.Raw(ViewBag.JsonData)';
        var data = JSON.parse(jsonData);

        $(document).ready(function () {
            $('#dtNCR').DataTable({
                data: data,
                columns: [
                    {
                        data: '', orderable: false, width: '10%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "NcCd" },
                    { data: "NC_DESC" },
                    {
                        data: "IeAction1",
                        render: function (data, type, row) {
                            if (row.NcCd === "X01") {
                                return data;
                            } else {
                                if (data === null) {
                                    return '<input type="text" name="textbox1" class="textbox1" data-row="' + row + '" value="">';
                                } else {
                                    return data;
                                }
                            }
                        }
                    },
                    {
                        data: "CoFinalRemarks1",
                        render: function (data, type, row) {
                            if (row.NcCd === "X01") {
                                return data;
                            } else {
                                if (data === null) {
                                    return '<input type="text" name="textbox2" class="textbox2" data-row="' + row + '" value="">';
                                } else {
                                    return data;
                                }
                            }
                        }
                    }
                ]
            });
        });
    }

   
    // Function to get entered values
   
    completed = function (response) {
        var res = response.responseJSON;
        ShowHideMsgNew(res.status, res.responseText);
        window.location.href = "/NCRRegister/Index";
    };
   
 </script>
    