@model IBS.Models.NCRRegister

@{
    ViewData["Title"] = "Create NCR";
    string clsView = "";
    if (Model.NC_NO != null && Model.CaseNo != null)
    {
        clsView = "Permission_View";
    }

}

<div class="list-inner">
    <div class="tast-list">
        <h3>NON CONFORMITY FORM</h3>
    </div>
    <div>
        <a asp-action="Index" asp-controller="NCRRegister" class="formBtn viewall-btn">View List</a>
    </div>
</div>
<section class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="SaveUpdateNCR" asp-action="SaveRemarksofNCR" data-ajax-method="post" data-ajax-complete="completed" id="frmNCRDetails">
            <div class="accordion-body">
                <div class="row my-0">
                    <input type="text" asp-for="SetRegionCode"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="VEND_CD" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="CALLRECVDT"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="CONSIGNEECD"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="Item_Srno_no"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="Ie_Cd"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="CALLSNO"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="UserID" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="NC_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">IC NO.</label>
                            <input type="text" asp-for="IC_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="reference">
                            <label for="Reference">IC Date</label>
                            <input type="text" class="input" asp-for="ICDate" readonly="true" asp-format="{0:dd-MM-yyyy}" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">BK NO.</label>
                            <input type="text" asp-for="BKNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">Set No.</label>
                            <input type="text" asp-for="SetNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">Case No.</label>
                            <input type="text" asp-for="CaseNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">	Call Date - SNo.</label>
                            <input type="text" asp-for="CALL_SNO" maxlength="100" readonly="true" style="text-transform: uppercase;" asp-format="{0:dd-MM-yyyy}" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">Contract No.</label>
                            <input type="text" asp-for="PO_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">Date</label>
                            <input type="text" asp-for="PO_DT" class="input" readonly="true" maxlength="100" asp-format="{0:dd-MM-yyyy}" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">Vendor</label>
                            <input type="text" asp-for="Vendor" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">Inspecting Er.</label>
                            <input type="text" asp-for="IE_SNAME" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">Consignee</label>
                            <input type="text" asp-for="CONSIGNEE" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">Item</label>
                            <input type="text" asp-for="Item" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">Qty Passed</label>
                            <input type="text" asp-for="QtyPassed" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    @if (ViewBag.ShowNCRNO)
                    {
                        <div class="col-md-2 mb-3">
                            <div class="reference">
                                <label for="Reference">NCR No.</label>
                                <input type="text" asp-for="NC_NO" maxlength="100" id="NCNO" readonly="true" style="text-transform: uppercase;" required>
                            </div>
                        </div>
                    }
                    <div class="col-md-2 mb-3">
                        <div class="reference">
                            <label for="Reference">NCR Date</label>
                            <input type="text" asp-for="NCRDate"  maxlength="100" class="input" readonly="true" asp-format="{0:dd-MM-yyyy}" style="text-transform: uppercase;" required>
                        </div>
                    </div>
                    @if (ViewBag.ShowNCRButton)
                    {
                        <div class="row mt-0">
                            <div class="col-md-2 mb-3" id="ncrsclass">
                                <div class="reference">
                                    <label for="Reference">	NCR Class</label>
                                    <select asp-for="NCRClass" id="NCRClass" class="form-control" required>
                                        <option value="A">Minor</option>
                                        <option value="B">Major</option>
                                        <option value="C">Critical</option>
                                    </select>
                                    <span asp-validation-for="NCRClass" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-5 mb-3" id="ncrcodes">
                                <div class="reference">
                                    <label for="Reference">	NCR Code</label>
                                    <select asp-for="NcCdSno" class="form-control" required></select>
                                    @*                                  @Html.DropDownListFor(model => model.NcCdSno, new SelectList(IBS.Models.Common.GetNCCode(), "Value", "Text"), "--Select--", new { id = "NCcode" })
                                *@  <span asp-validation-for="NCRCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3" id="rdnonc">
                                <input type="radio" name="drone" id="rdononc">
                                <label for="rdononc" name="rdononc" runat="server">No NC</label>
                            </div>
                            <div class="col-md-2 mb-3" id="rdnc">
                                <input type="radio" name="drone"  id="rdoaddnc" checked>
                                <label for="rdoaddnc"  name="rdononc" runat="server">Add NC</label>
                            </div>
                            <div class="col-md-5 mb-3">
                                <div class="reference">
                                    <input name="ncdesc" id="nccodeother" class="form-control" placeholder="NCR Desc in Case of Others" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <section class="table-section" id="tableNCR">
                    <div class="task-listinput">
                        <div class="dash-table">
                            <table id="dtNCR" class="table-responsive">
                                <thead>
                                    <tr>
                                        <th>NC Code Sn.</th>
                                        <th>NC Code</th>
                                        <th>NC Description</th>
                                        <th>IE Corrective & Preventive Action1</th>
                                        <th>Controlling Remarks1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
                <div class="savenext-btn">
                    @if (ViewBag.ShowSaveButton)
                    {
                        <button type="button" class="save-btn active btncls Permission_Save" id="btnsave" onclick="Save()">Save</button>
                    }
                    @if (ViewBag.ShowRemarksButton)
                    {
                        <button type="button" class="save-btn active btncls Permission_Save" id="btnremarks" onclick="BtnSaveRemarks();">Save Remarks</button>
                    }
                    <button type="button" class="save-btn active btncls" id="btnsendIE" onclick="SendEmail();">Send To IE</button>
                    <button type="button" class="save-btn active btncls" id="btnSaveMoreNC" onclick="SendMoreNC();">Save More NC's</button>
                </div>
            </div>

        </form>
    </div>
</section>

<partial name="_DataTablesScriptsPartial" />
<partial name="_ValidationScriptsPartial" />
<script>
    $(document).ready(function () {
        $("#btnSaveMoreNC").hide();
        $("#nccodeother").hide();
        var msg = '@Html.Raw(ViewBag.JsonData1)';
        if (msg != '') {
            alert(msg);
        }

        var NCR = $("#NCRClass").val();
        if(NCR != ""){
            $('#NCRClass').trigger('change');
        }

        InitializeDatatable();
    });

    $('#NcCdSno').change(function () {
        var selectedText = $("#NcCdSno").find("option:selected").text();
        var indexOfHyphen = selectedText.indexOf("-");
        var extractedText = selectedText.substr(indexOfHyphen + 1).trim();
        if (extractedText == "Others") {
            $('#nccodeother').show();
        } else {
            $('#nccodeother').hide();
        }
    });

    function Save() {
        var formData = new FormData($("#frmNCRDetails")[0]);
        var url = '@Url.Action("SaveUpdateNCR", "NCRRegister")';
        var isRadioChecked = $("#rdononc").is(":checked");
        var selectedText = $("#NCcode").find("option:selected").text();
        var indexOfHyphen = selectedText.indexOf("-");
        
        var otherdesc = $("#nccodeother").val();
        if (otherdesc != "") {
            var extractedText = otherdesc;
        } else {
            var extractedText = selectedText.substr(indexOfHyphen + 1).trim();
        }

        formData.append("IsRadioChecked", isRadioChecked);
        formData.append("extractedText", extractedText);
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.status === true) {
                    if (data.redirectToIndex === true) {
                        debugger
                        //alert(data.alertMessage);
                        //window.location.href = '@Url.Action("Index", "NCRRegister")';
                        var NCNO = data.responseText;
                        $("#btnsave").hide();
                        $("#rdnonc").hide();
                        $("#rdnc").hide();
                        $("#btnremarks").show();
                        $("#btnSaveMoreNC").show();
                        var ncNoValue = NCNO;
                        var actionUrl = '@Url.Action("Manage", "NCRRegister", new { Actions = "M", NC_NO = "ncNoValue" })'.replace("ncNoValue", ncNoValue);
                        window.location.href = actionUrl;
                    }
                } else {
                    // Handle error case if needed
                }
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    }

    function SendMoreNC(){
        var formData = new FormData($("#frmNCRDetails")[0]);
        var url = '@Url.Action("SaveMoreNC", "NCRRegister")';
         var selectedText = $("#NCcode").find("option:selected").text();
        var indexOfHyphen = selectedText.indexOf("-");

        var otherdesc = $("#nccodeother").val();
        if (otherdesc != "") {
            var extractedText = otherdesc;
        } else {
            var extractedText = selectedText.substr(indexOfHyphen + 1).trim();
        }
        formData.append("extractedText", extractedText);
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.status === true) {
                    if (data.redirectToIndex === true) {
                        alert(data.alertMessage);
                        window.location.href = '@Url.Action("Index", "NCRRegister")';
                    }
                } 
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    }


    $('#NCRClass').change(function () {
        debugger
        var NCR = $("#NCRClass").val();
        var url = '@Url.Action("GetNCRCode", "NCRRegister")?NCRClass=' + NCR;
        $.ajax({
            url: url,
            type: 'POST',
            success: function (data) {
                debugger
                var Item = $("#NcCdSno");
                Item.empty();
                Item.append($('<option>').text('--Select--').val(''));

                var items =  data;

                $.each(items, function (index, item) {
                    Item.append($('<option>').text(item.Text).val(item.Value));
                });
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    });

    function SendEmail() {
        var formData = new FormData($("#frmNCRDetails")[0]);
        var url = '@Url.Action("SendToIE", "NCRRegister")';

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.status === true) {
                    if (data.redirectToIndex === true) {
                        alert(data.alertMessage);
                        window.location.href = '@Url.Action("Index", "NCRRegister")';
                    }
                } else {
                }
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    }

    function BtnSaveRemarks() {
        var inputValues1 = [];
        var inputValues2 = [];

        var NCNO = $("#NCNO").val();
        var UserID = $("#UserID").val();
        var table = $('#dtNCR').DataTable();

        $('.textbox1').each(function () {
            const newValue = $(this).val();
            const row = $(this).data('row');
            const uniqueId = 'txt1_' + row;

            if (newValue !== '') {
                const existingIndex = inputValues1.findIndex(item => item.uniqueId === uniqueId);
                if (existingIndex !== -1) {
                    inputValues1[existingIndex].value = newValue;
                } else {
                    inputValues1.push({ uniqueId: uniqueId, value: newValue });
                }
            }
        });

        $('.textbox2').each(function () {
            const newValue = $(this).val();
            const row = $(this).data('row');
            const uniqueId = 'txt2_' + row;

            if (newValue !== '') {
                const existingIndex = inputValues2.findIndex(item => item.uniqueId === uniqueId);
                if (existingIndex !== -1) {
                    inputValues2[existingIndex].value = newValue;
                } else {
                    inputValues2.push({ uniqueId: uniqueId, value: newValue });
                }
            }
        });

        var data = table.data().toArray();
        var model = [];
        var formData = new FormData();

        for (var i = 0; i < data.length; i++) {

            var modifiedItem = Object.assign({}, data[i]);

            var input1Index = inputValues1.findIndex(item => item.uniqueId === 'txt1_' + i);
            if (input1Index !== -1) {
                modifiedItem.IeAction1 = inputValues1[input1Index].value;
            }
            else {
                modifiedItem.IeAction1 = "";
            }

            var input2Index = inputValues2.findIndex(item => item.uniqueId === 'txt2_' + i);
            if (input2Index !== -1) {
                modifiedItem.CoFinalRemarks1 = inputValues2[input2Index].value;
            }
            else {
                modifiedItem.CoFinalRemarks1 = "";
            }

            formData.append('model[' + i + '].NcCd', modifiedItem.NcCd);
            formData.append('model[' + i + '].NC_DESC', modifiedItem.NC_DESC);
            formData.append('model[' + i + '].IeAction1', modifiedItem.IeAction1);
            formData.append('model[' + i + '].IE_ACTION1_DT', modifiedItem.IE_ACTION1_DT);
            formData.append('model[' + i + '].CO_FINAL_REMARKS1_DT', modifiedItem.CO_FINAL_REMARKS1_DT);
            formData.append('model[' + i + '].CoFinalRemarks1', modifiedItem.CoFinalRemarks1);
            formData.append('model[' + i + '].NcCdSno', modifiedItem.NcCdSno);

        }

        var url = '/NCRRegister/SaveRemarks?NCNO=' + encodeURIComponent(NCNO) + '&UserID=' + encodeURIComponent(UserID);
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.redirectToIndex === true) {
                    alert(result.alertMessage);
                    window.location.href = '@Url.Action("Index", "NCRRegister")';
                }

            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error:', textStatus, errorThrown);
            }
        });
    }

    $(function () {
        if ($('#rdoaddnc').is(':checked')) {
            $('#tableNCR').hide();
            $('#nccodeother').hide();
        }
        $("input[name='drone']").change(function () {
            var selectedValue = $("input[name='drone']:checked").attr("id");
            if (selectedValue === "rdononc") {
                $("#ncrsclass").hide();
                $("#ncrcodes").hide();
                $("#btnsendIE").hide();
                $("#tableNCR").hide();
                $("#btnSaveMoreNC").hide();
                $("#nccodeother").hide();
                $("#rdononc").prop("checked", true);
            } else if (selectedValue === "rdoaddnc") {
                $("#ncrsclass").show();
                $("#ncrcodes").show();
                $("#btnsendIE").show();
                $("#tableNCR").hide();
                $("#btnSaveMoreNC").show();
               // $("#nccodeother").hide();
                $("#rdoaddnc").prop("checked", true);
                $('#NcCdSno').trigger('change');
            }
        });
    });

    function InitializeDatatable() {
        $("#btnSaveMoreNC").hide();
        var jsonData = '@Html.Raw(ViewBag.JsonData)';
        var data = JSON.parse(jsonData);

        $(document).ready(function () {
            $('#dtNCR').DataTable({
                data: data,
                columns: [
                    {
                        data: '', orderable: false, width: '10%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "NcCd" },
                    { data: "NC_DESC" },
                    {
                        data: "IeAction1",
                        "targets": [1, 2],
                        render: function (data, type, row, meta) {
                            if (row.NcCd === "X01") {
                                return data;
                            } else {
                                var inputClass = meta.col === 1 ? 'textbox1' : 'textbox2';
                                var inputId = inputClass + '_' + meta.row; // Use row index to generate unique ID

                                if (data === null) {
                                    return '<input type="text" name="textbox1" data-row="' + meta.row + '" class="textbox1"  value="">';
                                } else {
                                    return data;
                                }
                            }
                        }
                    },
                    {
                        data: "CoFinalRemarks1",
                        "targets": [1, 2],
                        render: function (data, type, row, meta) {
                            if (row.NcCd === "X01") {
                                return data;
                            } else {
                                var inputClass = meta.col === 1 ? 'textbox1' : 'textbox2';
                                var inputId = inputClass + '_' + meta.row; // Use row index to generate unique ID
                                if (data === null) {
                                    return '<input type="text" name="textbox2" class="textbox2" id="' + inputId + '"  data-row="' + meta.row + '" value="">';
                                } else {
                                    return data;
                                }
                            }
                        }
                    }
                ]
            });
        });
    }


    completed = function (response) {
        var res = response.responseJSON;
        ShowHideMsgNew(res.status, res.responseText);
        window.location.href = '@Url.Action("Index", "NCRRegister")';
    };

</script>
