@model IBS.Models.BarcodeGenerate

@{
    ViewData["Title"] = "Barcode Generate Form";
    string clsView = "";
    // if (Model.LabId > 0)
    // {
    //     clsView = "Permission_View";
    // }
}
<style>
    .dataTables_paginate {
        display: none;
    }
    .dataTables_length{
        display: none;
    }
    #popup {
        position: fixed;
        top: 0;
        left: 10%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #popup2 {
        position: fixed;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .popup-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 70%;
    }

    .close-button {
        position: absolute;
        right: 14%;
        background: none;
        border: none;
        cursor: pointer;
        font-size: xx-large;
        margin-top: -2%;
    }

    .close-button1 {
        position: absolute;
        right: 6%;
        background: none;
        border: none;
        cursor: pointer;
        font-size: xx-large;
        margin-top: -2%;
    }

    .scroller {
        height: 550px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: justify;
    }
</style>
<div class="list-inner">
    <div class="tast-list">
        <h2>Barcode Generate Form</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="BarcodeGeneration" class="formBtn viewall-btn">View List</a>
    </div>
</div>
<section class="@clsView">
    <div class="task-listinput">
        <form data-ajax="true" asp-antiforgery="true" asp-controller="BarcodeGeneration" asp-action="Save" data-ajax-method="post" data-ajax-complete="completed" id="frmbarcode">
            <div class="accordion-body">
                <div class="row my-0">
                    <input type="hidden" class="input" asp-for="CALL_RECV_DT">
                    <input type="hidden" class="input" asp-for="CALL_SNO">
                    <input type="hidden" class="input" asp-for="ITEM_SRNO_PO">
                    <input type="hidden" class="input" asp-for="VEND_CD">
                    <input type="hidden" class="input" asp-for="IE_CD">
                    <input type="hidden" class="input" asp-for="BARCODE">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Case No</label>
                        <input type="text" class="input" asp-for="CASE_NO">

                    </div>

                    <div class="col-md-3 mb-3 savenext-btn" style="margin-top:auto;">
                        <button type="button" class="save-btn active" onclick="Show();">Search</button>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="Reference">Total Rate</label>
                        <input type="text" class="input" asp-for="TotalRate" readonly="readonly">
                        <span class="text-danger field-validation-error" id="spnError1"></span>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="Reference">GST Amount</label>
                        <input type="text" class="input" asp-for="GSTAmount" readonly="readonly">
                        <span class="text-danger field-validation-error" id="spnError2"></span>
                    </div>
                    <div class="col-md-2 mb-3 savenext-btn" style="margin-top:auto;">
                        <button type="button" class="save-btn active" onclick="LabCalculation()">@Model.Region</button>
                    </div>
                </div>

                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Customer Name</label>
                        <textarea class="input" asp-for="CUSTOMER_NAME" readonly="readonly"> </textarea>
                        @* <input type="text" class="input" asp-for="CUSTOMER_NAME" readonly="readonly"> *@
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Sealing Type</label>
                        <input type="text" class="input" asp-for="SEALING_TYPE">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Customer GSTN</label>
                        <input type="text" class="input" asp-for="CUSTOMER_GSTN">
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Description</label>
                        <textarea class="input" asp-for="DESCRIPTION"> </textarea>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Targeted Date</label>
                        <input type="text" class="input datepicker" asp-for="TARGETED_DATE">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Current Date</label>
                        <input type="text" class="input" asp-for="CURRENT_DATE" readonly="readonly">
                    </div>
                </div>
                <div class="row my-0">
                    <div class="col-md-4 mb-3">
                        <label for="Reference">Inspector/Customer</label>
                        <input type="text" class="input" asp-for="INSPECTOR_CUSTOMER" readonly="readonly">
                    </div>
                </div>
                <div class="savenext-btn" style="margin-left:47%;">
                    <button type="button" class="save-btn active Permission_Save" onclick="SaveBarcode();">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>
<div id="popup" style="display: none;">

    <section class="table-section" style="width:75%;height:70%;margin-top:7%;overflow: auto;">
        <span class="close-button" id="close" onclick="ClosePopup();">&times;</span>
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtshow" class="table-responsive">
                    <thead>
                        <tr>
                            <th>Vendor Code</th>
                            <th>Case No</th>
                            <th>Call Recv Date</th>
                            <th>Call Sno</th>
                            <th>Item SRNO PO</th>
                            <th>Item Desc PO</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</div>
<div id="popup2" style="display: none;">
    <div class="col-lg-12" id="divGrid" style="width:90%;">
    </div>
</div>

@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            
        });

        function InitializeDatatableShow() {
            var CaseNo = $("#CASE_NO").val();
            $("#dtshow").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: false,
                ajax: {
                    url: "@Url.Action("CaseNoSearch")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            CaseNo: CaseNo
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [

                    { data: "CUSTOMER_NAME" },

                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {

                            var escapedRow = JSON.stringify(row).replace(/"/g, '&quot;');
                            var linkText = row["CASE_NO"];
                            var editLink = '<a href="javascript:void(0);" ' +
                                'onclick="editRow(' + escapedRow + ')" ' +
                                'style="color: blue; text-decoration: underline;">' +
                                linkText +
                                '</a>';

                            return editLink;
                        }
                    },
                    { data: "CALL_RECV_DT" },
                    { data: "CALL_SNO" },
                    { data: "ITEM_SRNO_PO" },
                    { data: "DESCRIPTION" }

                ],

                "order": [[0, "asc"]]
            });

        }

        function editRow(escapedRow) {

            $("#DESCRIPTION").val(escapedRow.DESCRIPTION);
            $("#CUSTOMER_NAME").val(escapedRow.CUSTOMER_NAME);
            $("#CALL_RECV_DT").val(escapedRow.CALL_RECV_DT);
            $("#CALL_SNO").val(escapedRow.CALL_SNO);
            $("#ITEM_SRNO_PO").val(escapedRow.ITEM_SRNO_PO);
            $("#IE_CD").val(escapedRow.IE_CD);
            $("#INSPECTOR_CUSTOMER").val(escapedRow.IE_NAME);
            $("#VEND_CD").val(escapedRow.VEND_CD);
            $("#CUSTOMER_GSTN").val(escapedRow.CUSTOMER_GSTN);
            $("#popup").fadeOut();
        }

        function ClosePopup() {
            $("#popup").fadeOut();
            $("#popup2").fadeOut();
        }
        function Show() {
            InitializeDatatableShow();
            $("#popup").fadeIn();
        }
        function SaveBarcode() {
            $("#spnError1").html("");
            $("#spnError2").html("");
            var IsValid = true;
            if ($("#TotalRate").val() == "") {
                $("#spnError1").html("Please Enter Total Rate");
                IsValid = false;
            }
            if ($("#GSTAmount").val() == "") {
                $("#spnError2").html("Please Enter GST Amount");
                IsValid = false;
            }
            if (!IsValid) return;
            $("#frmbarcode").submit();

        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            window.location.href = '@Url.Action("Index", "BarcodeGeneration")';
        };
        function LabCalculation() {
            $("#popup2").fadeIn();
            $("#popup2").show();
            $("#divGrid").load('/BarcodeGeneration/LabCalculation');
        }
        //Lab Calculation page data
        function Change() {

            if ($("#ddlTGST").val() == "IN-STATE") {
                $("#SGST").val("9");
                $("#CGST").val("9");
                $("#IGST").val("18");
                var originalAmount = $("#Total").val();
                var gstRate = $("#IGST").val();
                if (originalAmount != null && originalAmount != "") {
                    var originalAmount1 = parseFloat(originalAmount);
                    var gstRate1 = parseFloat(gstRate);

                    var gstAmount = (originalAmount1 * gstRate1) / 100;

                    var roundedGST = gstAmount.toFixed(2);
                    $("#Tax").val(roundedGST);
                    $("#GTotal").val(originalAmount1 + parseFloat(roundedGST));
                }
            }
            else if ($("#ddlTGST").val() == "OUT-STATE") {
                $("#SGST").val("9");
                $("#CGST").val("9");
                $("#IGST").val("18");
                
                var originalAmount = $("#Total").val();
                var gstRate = $("#IGST").val();
                if (originalAmount != null && originalAmount != "") {
                    var originalAmount1 = parseFloat(originalAmount);
                    var gstRate1 = parseFloat(gstRate);

                    var gstAmount = (originalAmount1 * gstRate1) / 100;

                    var roundedGST = gstAmount.toFixed(2);
                    $("#Tax").val(roundedGST);
                    $("#GTotal").val(originalAmount1 + parseFloat(roundedGST));
                }
            }
            else {
                $("#SGST").val("");
                $("#CGST").val("");
                $("#IGST").val("");
                
            }
        }
        function GridShow() {
            if ($("#ddldisc").val() == "") {
                alert("please select Discipline");
            }
            else {
                $('#dtcal').DataTable().destroy();
                InitializeDatatableCalData();
                $("#grid").css("display", "block");
            }

        }
        function VisibleGrid() {

            if ($("#ddldisc").val() == "") {
                $("#grid").css("display", "none");
            }
        }
        function InitializeDatatableCalData() {
            var DisId = $("#ddldisc").val();
            var dataTable = $("#dtcal").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: false,
                destroy: true,
                paging: false,
                searching: false,
                info: false,
                ajax: {
                    url: "@Url.Action("LoadCalculation")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            DisId: DisId
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            
                            return '<input type="checkbox" class="row-checkbox" name="RateID" id="' + data.DISCIPLINE_ID + '">';
                        }
                    },

                    { data: "TEST_NAME" },
                    { data: "PRICE" },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return '<input type="number" class="text-filter" name="qty" style="height:auto;" id="' + data.QTY + '" value="1" min="1" step="1"/>';
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return '<input type="text" class="text-filter" name="total" style="height:auto;" id="' + data.Total + '" readonly />';
                        }
                    }

                ],
                "order": [[0, "asc"]]
            });
            var destinationTable = $("#dtcal2").DataTable();
            // var destinationTable = $('#dtcal2').DataTable({

            // });

            $("#dtcal").on("change", ".row-checkbox", function () {
                
                var checkbox = $(this);
                var row = checkbox.closest("tr");
                var qtyInput = checkbox.closest('tr').find('input[name="qty"]');
                var qtytotal = checkbox.closest('tr').find('input[name="total"]');
                if (checkbox.is(':checked')) {
                    qtyInput.prop('readonly', true);
                } else {
                    qtyInput.prop('readonly', false);
                    qtyInput.val("1");
                    qtytotal.val("");
                }
                var rowData = dataTable.row(row).data();
              
                if (rowData) {
                    var testName = rowData.TEST_NAME;
                    var DISCIPLINE_ID = rowData.DISCIPLINE_ID;
                    var DisciplineName = "";
                    if (DISCIPLINE_ID == "1") {
                        DisciplineName = "Textile";
                    }
                    else if (DISCIPLINE_ID == "2") {
                        DisciplineName = "Paper";
                    }
                    else if (DISCIPLINE_ID == "3") {
                        DisciplineName = "Metal";
                    }
                     else if (DISCIPLINE_ID == "4") {
                        DisciplineName = "Mechanical";
                    }
                     else if (DISCIPLINE_ID == "5") {
                        DisciplineName = "Metalographic";
                    }
                     else if (DISCIPLINE_ID == "6") {
                        DisciplineName = "Leather";
                    }
                    else if (DISCIPLINE_ID == "7") {
                        DisciplineName = "Polymer-Rubbe";
                    }
                    else if (DISCIPLINE_ID == "8") {
                        DisciplineName = "Other";
                    }
                    
                    if (checkbox.is(":checked")) {
                        var price = rowData.PRICE;
                        var qtyTextbox = row.find('input[name="qty"]');
                        var totalTextbox = row.find('input[name="total"]');
                        var qtyValue = parseInt(qtyTextbox.val() || 0);
                        var totalValue = price * qtyValue;
                        totalTextbox.val(totalValue);


                        var testNameExists = destinationTable.column(0).data().indexOf(testName) !== -1;

                        if (!testNameExists) {

                            destinationTable.row.add([DisciplineName,testName, price, qtyValue, totalValue, DISCIPLINE_ID]).draw(false);
                        
                            var sumTotal = 0;
                            destinationTable.rows().eq(0).each(function (index) {
                                var rowData = destinationTable.row(index).data();
                                var totalValue = rowData[4]; 
                                if (!isNaN(totalValue)) {
                                    sumTotal += parseFloat(totalValue);
                                    $("#Total").val(sumTotal);
                                    
                                    var originalAmount = $("#Total").val();
                                    var gstRate = $("#IGST").val();
                                    if (gstRate != null && gstRate != "") {
                                        var originalAmount1 = parseFloat(originalAmount);
                                        var gstRate1 = parseFloat(gstRate);

                                        var gstAmount = (originalAmount1 * gstRate1) / 100;

                                        var roundedGST = gstAmount.toFixed(2);
                                        $("#Tax").val(roundedGST);
                                        $("#GTotal").val(originalAmount1 + parseFloat(roundedGST));
                                    }
                                }
                            });
                            
                        }
                    } else {

                        destinationTable.rows().eq(0).each(function (index) {
                           
                            var row = destinationTable.row(index);
                            var rowData = row.data();
                            if (rowData[1] === testName) {
                                row.remove().draw(false);
                                return false; 
                            }
                            
                        });
                        var sumTotal = 0;
                        destinationTable.rows().eq(0).each(function (index) {
                            var rowData = destinationTable.row(index).data();
                            var totalValue = rowData[3]; 
                            if (!isNaN(totalValue)) {
                                sumTotal += parseFloat(totalValue);
                            }
                        });

                        $("#Total").val(sumTotal);
                        var originalAmount = $("#Total").val();
                        var gstRate = $("#IGST").val();
                        if (gstRate != null && gstRate != "") {
                            var originalAmount1 = parseFloat(originalAmount);
                            var gstRate1 = parseFloat(gstRate);

                            var gstAmount = (originalAmount1 * gstRate1) / 100;

                            var roundedGST = gstAmount.toFixed(2);
                            $("#Tax").val(roundedGST);
                            $("#GTotal").val(originalAmount1 + parseFloat(roundedGST));
                        }
                    }

                    $("#grid2").css("display", destinationTable.data().count() > 0 ? "block" : "none");
                }
            });
        }
        function calsavedata() {
          
            $("#spnErrorGST").html("");
          
            var IsValid = true;
            if ($("#ddlTGST").val() == "0") {
                $("#spnErrorGST").html("Please Select GST Type");
                IsValid = false;
            }
           
            if (!IsValid) return;
           
            var savedData = [];
            var names = "";
            var amounts = "";
            var quantities = "";
            var subtotals = "";
            var othervalues = "";
            var destinationTable = $("#dtcal2").DataTable();
            var tableData = destinationTable.rows().data().toArray();

            $.each(tableData, function (index, row) {
                names += row[1] + ","; 
                amounts += row[2] + ",";
                quantities += row[3] + ",";
                subtotals += row[4] + ",";
                othervalues += row[5] + ",";
            });
            names = names.slice(0, -1);
            amounts = amounts.slice(0, -1);
            quantities = quantities.slice(0, -1);
            subtotals = subtotals.slice(0, -1);
            othervalues = othervalues.slice(0, -1);
            if (tableData.length == 0) {
                alert('Please select atleast record for Discipline!!!')
                return false;
            }
           // savedData = destinationTable.rows().data().toArray();
            
            // var BarCodeGenerate = {
            //     TypeGST: $("#ddlTGST").val(),
            //     SGST: $("#SGST").val(),
            //     CGST: $("#CGST").val(),
            //     IGST: $("#IGST").val(),
            //     Total: $("#Total").val(),
            //     Tax: $("#Tax").val(),
            //     GTotal: $("#GTotal").val(),
            //     HandlingCharge: $("#HandlingCharge").val(),
            //     ExtraCharge: $("#ExtraCharge").val(),
            //     RTotal: $("#RTotal").val(),
            //     Caldata: savedData
            // };
            
            
            var formData = new FormData();
            formData.append("TypeGST", $("#ddlTGST").val());
            formData.append("SGST", $("#SGST").val());
            formData.append("CGST", $("#CGST").val());
            formData.append("IGST", $("#IGST").val());
            formData.append("Total", $("#Total").val());
            formData.append("Tax", $("#Tax").val());
            formData.append("GTotal", $("#GTotal").val());
            formData.append("HandlingCharge", $("#HandlingCharge").val());
            formData.append("ExtraCharge", $("#ExtraCharge").val());
            formData.append("RTotal", $("#RTotal").val());            
            formData.append("Names", names);
            formData.append("Amounts", amounts);
            formData.append("Quantities", quantities);
            formData.append("Subtotals", subtotals);
            formData.append("Othervalues", othervalues);

            $.ajax({
                url: '@Url.Action("InsertDataForLabTran", "BarcodeGeneration")',
                type: 'POST',
                contentType: false,
                processData: false,
                //contentType: 'application/json',
                //data: JSON.stringify(BarCodeGenerate),
                data: formData,
                success: function (response) {
                   
                    if (response.status) {
                        $("#BARCODE").val(response.BarcodeGenerate.BARCODE);
                        $("#TotalRate").val(response.BarcodeGenerate.GTotal);
                        $("#GSTAmount").val(response.BarcodeGenerate.Tax);
                        ShowHideMsg("success", response.responseText);
                        $("#popup2").fadeOut();
                        $("#popup2").hide();
                    } else {
                        ShowHideMsg("Failed", response.responseText);
                    }
                }
            });
            
        }

    </script>
}
