@model IBS.Models.LabSampleInfoModel

@{
    // ViewData["Title"] = "SAMPLE TESTING INFORMATION";
    string clsView = "";
    // if (Model.CaseNo != "0")
    // {
    //     clsView = "Permission_View";
            // }
}


@* <style>
    .custom-textarea {
        width: 400px; /* Set the desired width here */
    }

    tr:nth-child(even) {
        background-color: #f0f8ff; /* Light Blue */
    }

    /* Style for table cells */
    td {
        height: 50px;
        padding: 10px;
        border: 1px solid #b0c4de;
        vertical-align: top;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-top: 2px solid #b0c4de; /* Add top border */
        background-color: #f0f8ff;
        margin-bottom: 20px; /* Add margin at the bottom for spacing */
    }

    /* Style for table cells */
    td {
        height: 50px; /* Adjust the height of table cells */
        padding: 5px;
        vertical-align: top;
    }

    /* Style for labels */
    label {
        display: block; /* Make labels block-level to occupy the whole cell width */
        font-weight: bold;
    }

    /* Style for input fields */
    input[type="text"],
    input[type="date"] {
        width: 100%;
        height: 42px;
        border: 1px solid #cccccc;
        border-radius: 6px;
        padding: 5px;
        box-sizing: border-box; /* Ensure the padding is included in the width */
    }

    /* Style for error message */
    .text-danger {
        color: red;
        margin-left: 6%;
    }

    /* Style for left-aligned button */
    .left-button {
        float: left;
        margin-right: 10px;
    }

    /* Style for right-aligned button */
    .right-button {
        float: right;
        margin-left: 10px;
    }

    /* Clear floating elements */
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .table-responsive {
        overflow-x: auto;
        height: 330px;
    }

    .custom-textarea {
        width: 400px;
        height: auto;
    }

    .table-section {
        width: 100%;
        /*height: 400px;*/ /* Set the desired height */
        overflow-y: auto; /* Enable vertical scrollbar if table exceeds height */
    }

    /* Set table width to 100% and disable horizontal scrollbar */
    #dtsearchdata {
        width: 100%;
        table-layout: fixed;
    }

        /* Style table header cells */
        #dtsearchdata th {
            background-color: #f2f2f2;
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        /* Style table body cells */
        #dtsearchdata td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

    /* Add custom scrollbar style for the table section */
    .table-section::-webkit-scrollbar {
        width: 8px;
    }

    .table-section::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

        .table-section::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
</style> *@

<h2>@ViewData["Title"]</h2>

<section class="@clsView">
    <div class="list-inner">
        <div class="tast-list">
            <h2>SAMPLE TESTING INFORMATION</h2>
        </div>
        @*  <div class="list-btn">
        <a asp-area="" asp-controller="LabSampleInfo" asp-action="LabSampleDtl" class="formBtn Permission_Add"><span class="fa fa-plus"></span> Add New </a>
        </div> *@
    </div>
</section>
<div class="accordion-body">
    <div class="row my-0">
        <div class="col-md-2 mb-3">
            <label for="PropertyId">Case No.</label>
            <input type="text" id="txtcaseno" />
            <span class="text-danger"></span>
        </div>
        <div class="col-md-2 mb-3">
            <label for="PropertyId">Call Receive Date</label>
            <input type="text" class="input datepicker" id="txtcallRDt" />
            <span class="text-danger"></span>
        </div>
        <div class="col-md-2 mb-3">
            <label for="PropertyId">Call SNo.</label>
            <input type="text" id="txtcallno" />
            <span class="text-danger"></span>
        </div>
        <div class="savenext-btn col-md-2 mb-3" style="margin-top:auto;">
            <button type="button" class="save-btn active" onclick="show();">Search</button>
            <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
        </div>
    </div>

</div>

<br />
<div id="gridshow">
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                
                    <table id="dtsearchdata" class="table-responsive">
                        <thead>
                            <tr>
                                <th>SNo.</th>
                                <th>Case No.</th>
                                <th>Call Recv date</th>
                                <th>S No</th>
                                <th>IE Name</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                
            </div>
        </div>
    </section>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>
        function ClearControls() {
            location.reload(true);
        }
        function show() {
            var CaseNo = $("#txtcaseno").val();
            var CallRdt = $("#txtcallRDt").val();
            var CallSno = $("#txtcallno").val();
            InitializeDatatableLabSampleV(CaseNo, CallRdt, CallSno);
        }
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy" // Set the date format to "dd/mm/yy"
            });
            var CaseNo = $("#txtcaseno").val();
            var CallRdt = $("#txtcallRDt").val();
            var CallSno = $("#txtcallno").val();
            InitializeDatatableLabSampleV(CaseNo, CallRdt, CallSno);
        });
        function Modify() {
            var RegNo = $("#txtlabregno").val();
            //window.location.href = "/LabRegisterForm/LabRegisterForm?RegNo="+RegNo;
            var url = sessionStorage.getItem("link");
            window.location.href = url;
        }
        function AddNew() {

            var CaseNo = $("#txtcaseno").val();
            var CallRdt = $("#txtcallRDt").val();
            var CallSno = $("#txtcallno").val();
            window.location.href = "/VendorLabSampleForm/LabPaymentRecieptForm?CaseNo=" + CaseNo + '&CallRdt=' + CallRdt + '&CallSno=' + CallSno;
        }
        function Modify() {

            var CaseNo = $("#txtcaseno").val();
            var CallRdt = $("#txtcallRDt").val();
            var CallSno = $("#txtcallno").val();
            var Flag = "M";
            window.location.href = "/VendorLabSampleForm/LabPaymentRecieptForm?CaseNo=" + CaseNo + '&CallRdt=' + CallRdt + '&CallSno=' + CallSno + '&Flag=' + Flag;
        }
        function grid(CaseNo, CallRdt, CallSno) {
            var url = '@Url.Action("LapSampleIndex", "VendorLabSampleForm")';
            $.ajax({
                //url: '/VendorLabSampleForm/LapSampleIndex',
                url:url,
                type: 'POST',
                dataType: 'json',
                data: { CaseNo: CaseNo, CallRdt: CallRdt, CallSno: CallSno },
                success: function (data) {


                    var tableBody = $('#tableBody');
                    tableBody.empty();
                    var no = 0;
                    for (i = 0; i < data.length; i++) {

                        no++;
                        var row = $('<tr>');
                        var actionColumn = $('<td>');
                        //var editButton = $('<a>').text('Select').attr('id',"editButton");
                        //var snoLink = $('<a href="#ddlitem">').text(data[i].SNO).attr('id', "editButton").css({ 'color': 'blue', 'text-decoration': 'none' });
                        var editButton = $('<a>').text('Select').attr('id', "editButton_" + no).attr('CaseNo', data[i].CaseNo).attr('CallDt', data[i].CallRecDt).attr('CallSNo', data[i].CallSNO).css({ 'color': 'blue', 'text-decoration': 'none' });
                        editButton.hover(
                            function () {
                                $(this).css('text-decoration', 'underline');
                            },
                            function () {
                                $(this).css('text-decoration', 'none');
                            }
                        );

                        actionColumn.append(editButton);
                        row.append(actionColumn);
                        row.append($('<td>').text(data[i].CaseNo));
                        row.append($('<td>').text(data[i].CallRecDt));
                        row.append($('<td>').text(data[i].CallSNO));
                        row.append($('<td>').text(data[i].IEName));
                        tableBody.append(row);
                        var cashno = data[i].CaseNo;
                        var CallDt = data[i].CallRecDt;
                        var callSno = data[i].CallSNO;
                        (function (cashno, CallDt, callSno) {
                            editButton.click(function (event) {

                                var edit = event.currentTarget.id;
                                var CaseNo = $('#' + edit).attr('CaseNo');
                                var CallDt = $('#' + edit).attr('CallDt');
                                var CallSNo = $('#' + edit).attr('CallSNo');

                                $("#txtcaseno").val(CaseNo);
                                $("#txtcallRDt").val(CallDt);
                                $("#txtcallno").val(CallSNo);
                                $("#gridshow").css("display", "none");

                                CheckExist(CaseNo, CallDt, CallSNo);


                            });
                        })(cashno, CallDt, callSno);
                    }
                    //editButton.click(function(event) {
                    
                    //    $("#txtcaseno").val(cashno);
                    //    $("#txtcallRDt").val(CallDt);
                    //    $("#txtcallno").val(callSno);
                    //     // var regNo = regNo1;
                    //     // var sno = sno1;
                    //     //LabDtlModify(regNo, sno);
                    // });

                },
                error: function () {

                }
            });

        }
        function CheckExist(CaseNo, CallDt, CallSNo) {


            var url = '@Url.Action("CheckExist", "VendorLabSampleForm")';
            $.ajax({
                //url: '/VendorLabSampleForm/CheckExist',
                url:url,
                type: "POST",
                dataType: "JSON",
                data: { CaseNo: CaseNo, CallRdt: CallDt, CallSno: CallSNo },

                success: function (success) {

                    if (success == "1") {
                        $("#btnsr").css("margin-left", "");
                        $("#btnmodify").css("display", "");
                    }
                    else {
                        $("#btnsr").css("margin-left", "");
                        $("#btnanew").css("display", "");
                    }
                }

            });
        }
        
        function InitializeDatatableLabSampleV(CaseNo, CallRdt, CallSNo) {

            $("#dtsearchdata").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LapSampleIndex")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            CaseNo: CaseNo,
                            CallRdt: CallRdt,
                            CallSNo: CallSNo
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                        console.log(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                            
                        }
                    },
                    //{ data: "SNO" },
                    { data: "CaseNo" },
                    { data: "CallRecDt" },
                    { data: "CallSNO" },
                    { data: "IEName" },

                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var CaseNo = data.CaseNo;
                            var CallRdt = data.CallRecDt;
                            var CallSno = data.CallSNO;
                            var editUrl = '@Url.Action("LabPaymentRecieptForm", "VendorLabSampleForm")';
                            editUrl += '?CaseNo=' + CaseNo;
                            editUrl += '&CallRdt=' + CallRdt;
                            editUrl += '&CallSno=' + CallSno;
                            var html = '<div align=\"\" class=\"\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            // html += '<a onclick="ContractDelete(this.id); return false;" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }
        $("#btnsr").click(function () {

            var CaseNo = $("#txtcaseno").val();
            var CallRdt = $("#txtcallRDt").val();
            var CallSno = $("#txtcallno").val();
            grid(CaseNo, CallRdt, CallSno);
            //InitializeDatatable(CaseNo, CallRdt);
            $("#gridshow").css("display", "block");
        })
    </script>
}

