@model IBS.Models.LABREGISTERModel

@{
    // ViewData["Title"] = "LAB REGISTER";

    string clsView = "";
    if (Model.LabID != "0")
    {

        clsView = "Permission_View";
    }
}

<div class="list-inner">
    <div class="tast-list">
        <h2>LAB REGISTER FORM</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="LabRegisterForm" class="formBtn viewall-btn">View List</a>
    </div>
</div>
@* <style>
    tr:nth-child(even) {
        background-color: #f0f8ff; /* Light Blue */
    }

    /* Style for table cells */
    td {
        height: 50px;
        padding: 10px;
        border: 1px solid #b0c4de;
        vertical-align: top;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-top: 2px solid #b0c4de; /* Add top border */
        background-color: #f0f8ff;
        margin-bottom: 20px; /* Add margin at the bottom for spacing */
    }

    /* Style for table cells */
    td {
        height: 50px; /* Adjust the height of table cells */
        padding: 5px;
        vertical-align: top;
    }

    /* Style for labels */
    label {
        display: block; /* Make labels block-level to occupy the whole cell width */
        font-weight: bold;
    }

    /* Style for input fields */
    input[type="text"],
    input[type="date"] {
        width: 100%;
        height: 42px;
        border: 1px solid #cccccc;
        border-radius: 6px;
        padding: 5px;
        box-sizing: border-box; /* Ensure the padding is included in the width */
    }

    /* Style for error message */
    .text-danger {
        color: red;
        margin-left: 6%;
    }

    /* Style for left-aligned button */
    .left-button {
        float: left;
        margin-right: 10px;
    }

    /* Style for right-aligned button */
    .right-button {
        float: right;
        margin-left: 10px;
    }

    /* Clear floating elements */
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .table-responsive {
        overflow-x: auto;
        height: 190px;
    }

    .custom-textarea {
        width: 400px;
        height: auto;
    }

    .table-section {
        width: 100%;
        /*height: 400px;*/ /* Set the desired height */
        overflow-y: auto; /* Enable vertical scrollbar if table exceeds height */
    }

    /* Set table width to 100% and disable horizontal scrollbar */
    #dtlabregdtl {
        width: 100%;
        table-layout: fixed;
    }

        /* Style table header cells */
        #dtlabregdtl th {
            background-color: #f2f2f2;
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        /* Style table body cells */
        #dtlabregdtl td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

    /* Add custom scrollbar style for the table section */
    .table-section::-webkit-scrollbar {
        width: 8px;
    }

    .table-section::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

        .table-section::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
</style> *@
<h2>@ViewData["Title"]</h2>
<section class="@clsView">
    <div class="task-listinput">
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-4 mb-4">
                    <label for="Reference">Sample Registration No.</label>
                    <input type="text" id="lblRNo" class="input" readonly="readonly" />

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Sample Registration Date</label>
                    <input type="text" id="dtregdt" class="input datepicker" />

                </div>
                <div class="col-md-4 mb-4">
                    <label for="Reference">Case No</label>
                    <input type="text" id="lblCaseNo" class="input" readonly="readonly" />
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-2 mb-4">
                    <label for="Reference">Call Date</label>
                    <input type="text" id="lblCallDT" class="input" readonly="readonly" />

                </div>

                <div class="col-md-2 mb-4">
                    <label for="Reference">Call SNO</label>
                    <input type="text" id="lblCallSno" class="input" readonly="readonly" />

                </div>
                <div class="col-md-8 mb-4">
                    <label for="Reference">Vendor</label>
                    <input type="text" id="lblVend" class="input" readonly="readonly" />
                    <input type="hidden" id="lblVENDCD" class="input" readonly="readonly" />
                </div>
            </div>

            <div class="row my-0">
                <div class="col-md-4 mb-4">
                    <label for="Reference">IE</label>
                    <input type="text" id="lblIE" class="input" readonly="readonly" /> 
                    <input type="hidden" id="lblIECD" class="input" readonly="readonly" />

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Date of Dispatch of Sample</label>
                    <input type="text" id="dtdispatch" class="input" readonly="readonly" />

                </div>
                <div class="col-md-4 mb-4">
                    <label for="Reference">Date of Drawal of Sample</label>
                    <input type="text" id="dtdrawal" class="input" readonly="readonly" />

                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-4">
                    <label for="Reference">Date of Receipt of Sample</label>
                    <input type="text" id="dtreceipt" class="input" readonly="readonly" />

                </div>
                <div class="col-md-8 mb-4">
                    <label class="control-label">Testing Type</label>
                    </br>
                    @Html.RadioButtonFor(m => m.TestingType, "Normal", new { @class = "text-darkblue font-bold font-size-8pt", @tabindex = "5",@id = "N",@onchange = "ToggleInfo(this);" ,@disabled = "disabled"})
                    Normal
                    @Html.RadioButtonFor(m => m.TestingType, "Re-Testing", new { @class = "text-darkblue font-bold font-size-8pt", @tabindex = "6" ,@id = "RT",@onchange = "ToggleInfo(this);",@disabled = "disabled"})
                    Re-Testing
                    @Html.RadioButtonFor(m => m.TestingType, "Private_Case", new { @class = "text-darkblue font-bold font-size-8pt", @tabindex = "5",@id = "PC",@onchange = "ToggleInfo(this);" ,@disabled = "disabled"})
                    Private Case
                    @Html.RadioButtonFor(m => m.TestingType, "IREPS_Case", new { @class = "text-darkblue font-bold font-size-8pt", @tabindex = "6" ,@id = "IC",@onchange = "ToggleInfo(this);",@disabled = "disabled"})
                    IREPS Case
                </div>
               
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-4">
                    <label for="Reference">Total Testing Fee</label>
                    <input type="text" id="lbltotf" class="input" readonly="readonly" />

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Total Handling Charges</label>
                    <input type="text" id="lblthc" class="input" readonly="readonly" />

                </div>
                <div class="col-md-4 mb-4">
                    <label for="Reference">Total Service Tax</label>
                    <input type="text" id="lblservicetax" class="input" readonly="readonly" />

                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-4">
                    <label for="Reference">Total Lab Charges</label>
                    <input type="text" id="lbltolc" class="input" readonly="readonly" />

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Total TDS</label>
                    <input type="text" id="lbltotds" class="input" readonly="readonly" />

                </div>
                <div class="col-md-4 mb-4">
                    <label for="Reference">Amount Recieved</label>
                    <input type="text" id="lblar" class="input" readonly="readonly" />

                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-4">
                    <label for="Reference">Total Amount Cleared</label>
                    <input type="text" id="lbltotalamtcl" class="input" readonly="readonly" />

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Code No</label>
                    <input type="text" id="txtcodeno" class="input" />

                </div>
                <div class="col-md-4 mb-4">
                    <label for="Reference">Code Date</label>
                    <input type="text" id="dtcode" class="input datepicker" />

                </div>
            </div>
            <div class="row my-0" style="display:none;">
                <div class="col-md-4 mb-4">
                    <label for="Reference">Invoice No</label>
                    <input type="text" id="lblinvno" class="input" readonly="readonly" />

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Invoice Dt</label>
                    <input type="text" id="lblinvdt" class="input" readonly="readonly" />

                </div>

            </div>
            <div class="row my-0">
                <input type="hidden" id="lblSno" class="input" readonly="readonly" />
                <div class="col-md-12 mb-4">
                    <label for="Reference">Item</label>
                    @Html.DropDownListFor(model => model.Item, new SelectList(IBS.Models.Common.GetItem(@Model.CaseNo,Model.CallRecDt,Model.CallSNO) , "Value", "Text"),"",new { @id = "ddlitem"})

                </div>
            </div>
            <div class="row my-0">
                
                <div class="col-md-12 mb-4" style="margin-top:auto;">
                    <textarea asp-for="ItemNm" class="form-control custom-textarea" id="txtitemnm" style="height:auto;"></textarea>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-4">
                    <label for="Reference">No. Of Samples</label>
                    <input type="text" id="txtnofsm" class="input" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Test Category</label>
                    @Html.DropDownListFor(model => model.Item, new SelectList(IBS.Models.Common.GetTestCat() , "Value", "Text"),"",new { @id = "ddlcat" })

                </div>
                <div class="col-md-4 mb-4">
                    <label for="Reference">Test to be Conducted</label>
                    @Html.DropDownListFor(model => model.TestToBe, new SelectList(IBS.Models.Common.TestToBe() , "Value", "Text"),new { @id = "ddltestto" })

                </div>

            </div>
            <div class="row my-0">
                
                <div class="col-md-12 mb-4" style="margin-top:auto;">
                    <label for="Reference">Test to be Conducted</label>
                    @Html.DropDownListFor(model => model.TestTobeCon, new SelectList(IBS.Models.Common.TestToBeConducted() , "Value", "Text"),new { @id = "ddltesttobecon",style="display:none;" })
                    <textarea asp-for="TestTobeCon" class="custom-textarea" id="txttesttobeCon" style="display:none;"></textarea>
                </div>
            </div>
             <div class="row my-0">
                
                <div class="col-md-12 mb-4">
                    <label for="Reference">Lab</label>
                    @Html.DropDownListFor(model => model.Item, new SelectList(IBS.Models.Common.GetLab() , "Value", "Text"),"",new { @id = "ddllab" })
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-4">
                    <label for="Reference">Date of Sample Dispatched to Lab</label>
                    <input type="text" id="dtofdistolab" class="input datepicker" />

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Date of Test Report Required</label>
                    <input type="text" id="dtofrr" class="input datepicker" />

                </div>
                <div class="col-md-4 mb-4">
                    <label for="Reference">Date of Receipt of Test Report</label>
                    <input type="text" id="dtoftestr" class="input datepicker" />

                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-4">
                    <label for="Reference">Testing Fee</label>
                    <input type="text" id="testingfee" class="input" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />

                </div>

                <div class="col-md-4 mb-4">
                    <label for="Reference">Service Tax</label>
                    <input type="text" id="sertax" class="input" oninput="this.value = this.value.replace(/[^0-9]/g, '')"/>

                </div>
                <div class="col-md-4 mb-4">
                    <label for="Reference">Handling Charges</label>
                    <input type="text" id="handlingcharges" class="input" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />

                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-3 mb-4">
                    <label for="Reference">Discipline</label>
                    @Html.DropDownListFor(model => model.Item, new SelectList(IBS.Models.Common.Discipline() , "Value", "Text"),new { @id = "ddldisc"})

                </div>
                <div class="col-md-3 mb-4">
                    <label>Testing Result</label>
                    @Html.DropDownListFor(model => model.TestingResult, new SelectList(IBS.Models.Common.GetStatus() , "Value", "Text"),"",new { @id = "ddlstatus" })
                </div>
           
                <div class="col-md-6 mb-4">
                    <label>Remarks</label>
                    <textarea asp-for="Remarks" class="form-control custom-textarea" id="txtremarks"></textarea>
                </div>
            </div>
            <div class="savenext-btn" style="margin-left:40%">
                <button type="button" class="save-btn active Permission_Save" onclick="SaveDetails();">Save</button>
                @* <button type="button" class="save-btn active" style="display:none;" id="btnpostamt" onclick="PostAmt();">Post Amount</button> *@
                @* <button type="button" class="save-btn active" id="btninvoice" onclick="PrintInvoice();">Generate Invoice</button> *@
            </div>
            
            <br />
            <div class="row" id="gridh" style="display:none;">
                <div class="col-lg-12">
                    <h3 class="heading3">LAB REGISTER DETAILS</h3>
                </div>
            </div>
            
            <div id="gridshow" style="display:none;">
                <section class="table-section">
                    <div class="task-listinput">
                        <div class="dash-table">
                            <table id="dtlabregdtl" class="table-responsive">
                                <thead>
                                    <tr>

                                        <th>SRNo.</th>
                                        <th>Item</th>
                                        <th>No. Of Samples</th>
                                        <th>Test</th>
                                        <th>Lab</th>
                                        <th>Testing Fee</th>
                                        <th>Remarks</th>
                                       <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <br />
            <div class="row" id="grid1h" style="display:none;">
                <div class="col-lg-12">
                    <h3 class="heading3">LAB PAYMENT RECIEVED AGAINST ABOVE CASE NO. OR VENDOR</h3>
                </div>
            </div>
            
            <div id="gridshow1" style="display:none;">
                <section class="table-section">
                    <div class="task-listinput">
                        <div class="dash-table">
                            <div class="table-responsive">
                                <table id="dtlabregdtl" class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th style="width:7%;">Chq No.</th>
                                            <th style="width:9%;">Chq Date</th>
                                            <th style="width:20%;">Bank</th>
                                            <th>Amount</th>
                                            <th style="width:11%">Suspense Amt</th>
                                            <th style="width:9%;">Case No.</th>
                                            <th style="width:30%">Remarks</th>


                                        </tr>
                                    </thead>
                                    <tbody id="tableBody1">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="savenext-btn" style="margin-left:40%">
               
                <button type="button" class="save-btn active" style="display:none;" id="btnpostamt" onclick="PostAmt();">Post Amount</button>
                
            </div>
            
        </div>
    </div>
</section>
@*</form>*@
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#ddltestto").change(function () {
            if ($("#ddltestto").val() == "D") {
                $("#txttesttobeCon").css("display", "none");
                $("#ddltesttobecon").css("display", "block");
            }
            else {
                $("#ddltesttobecon").css("display", "none");
                $("#txttesttobeCon").css("display", "block");
            }
        })
        function InitializeDatatableGrid1(SrNo) {

            $("#dtlabregdtl").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            RegNo : '@ViewBag.RegNo',
                            SNO: SrNo
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "ItemDesc" },
                    { data: "Qty" },
                    { data: "Test" },
                    { data: "LabName" },
                    { data: "TestingFee" },
                    { data: "Remarks" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            
                            sessionStorage.removeItem("Flag");
                            // var Id = data.LabId;
                            // var editUrl = '@Url.Action("LaboratoryManage", "LaboratoryMaster")?LabId=' + Id;
                            // var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            // html += '</div>';
                            // return html;
                            var escapedRow = JSON.stringify(row).replace(/"/g, '&quot;');
                            var linkText = '';
                            var editLink = '<a href="javascript:void(0);" ' +
                                'onclick="editRow(' + escapedRow + ')" ' +
                                'style="color: blue; text-decoration: underline;" ' +
                                'class="fa fa-pencil Permission_EditView">' +
                                linkText +
                                '</a>';

                            return editLink;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }
        function editRow(escapedRow) {
            var regNo = escapedRow.SampleRegNo;
            var sno = escapedRow.SNO;
            $("#lblSno").val(sno);
            LabDtlModify(regNo, sno);
            sessionStorage.setItem("Flag", 1);
        }
        function grid(SrNo) {
            
            var RegNo = '@ViewBag.RegNo';
            var SNO = SrNo;
            var url = '@Url.Action("LoadTable", "LabRegisterForm")';
            $.ajax({
                //url: '/LabRegisterForm/LoadTable', // Replace with your actual endpoint URL
                url:url,
                type: 'POST',
                dataType: 'json',
                data: { RegNo: RegNo, SNO: SNO },
                success: function (data) {

                    // Once data is successfully received, populate the table
                    var tableBody = $('#tableBody');
                    tableBody.empty(); // Clear existing rows (if any)
                    for (i = 0; i < data.length; i++) {

                        var row = $('<tr>');
                        //row.append($('<td>').text(data[i].SNO)); // SRNo.
                        var snoLink = $('<a href="#ddlitem">').text(data[i].SNO).attr('id', "editButton").css({ 'color': 'blue', 'text-decoration': 'none' });
                        snoLink.hover(
                            function () {
                                $(this).css('text-decoration', 'underline'); // Add underline on hover
                            },
                            function () {
                                $(this).css('text-decoration', 'none');      // Remove underline on hover out
                            }
                        );
                        var snoCell = $('<td>').append(snoLink);
                        row.append(snoCell);
                        row.append($('<td>').text(data[i].ItemDesc));
                        row.append($('<td>').text(data[i].Qty));
                        row.append($('<td>').text(data[i].Test));
                        row.append($('<td>').text(data[i].LabName));
                        row.append($('<td>').text(data[i].TestingFee));
                        row.append($('<td>').text(data[i].Remarks));

                        // Add the action column (if needed)
                        //var actionColumn = $('<td>');
                        //var editButton = $('<a>').text('Select').attr('id',"editButton");
                        //actionColumn.append(editButton);
                        //row.append(actionColumn);
                        tableBody.append(row);

                        var regNo1 = data[i].SampleRegNo;
                        var sno1 = data[i].SNO;

                        
                    }
                    //editButton.click(function(event) {
                    snoLink.click(function (event) {
                        var regNo = regNo1;
                        var sno = sno1;
                        LabDtlModify(regNo, sno);
                    });

                },
                error: function () {

                }
            });

        }
        function grid1(CaseNo, VCode) {
            var url = '@Url.Action("LabPaymentModify", "LabRegisterForm")';
            $.ajax({
                //url: '/LabRegisterForm/LabPaymentModify', // Replace with your actual endpoint URL
                url:url,
                type: 'POST',
                dataType: 'json',
                data: { CaseNo: CaseNo, VCode: VCode },
                success: function (data) {
                  
                    if(data.length == 0){
                        sessionStorage.setItem("count", 0);
                    }
                    else
                    {
                        $("#grid1h").css("display", "block");
                        $("#gridshow1").css("display", "block");
                        $("#btnpostamt").css("display", "block");
                    }
                    // Once data is successfully received, populate the table
                    var tableBody = $('#tableBody1');
                    tableBody.empty(); // Clear existing rows (if any)
                    for (i = 0; i < data.length; i++) {

                        var row = $('<tr>');
                        var actionColumn = $('<td>');
                        //var editButton = $('<a>').text('Select').attr('id',"editButton");
                        //var editButton = $('<input>').attr({'type': 'radio' });
                        var editButton = $('<input>').attr({ 'type': 'radio', 'data-bnkcd': data[i].BANK_CD, 'data-susamt': data[i].SUSPENSE_AMT, 'data-chqno': data[i].CHQ_NO, 'data-chqdt': data[i].CHQ_DATE, 'data-amt': data[i].AMOUNT });
                        actionColumn.append(editButton);
                        row.append(actionColumn);
                        row.append($('<td>').text(data[i].CHQ_NO)); // SRNo.
                        row.append($('<td>').text(data[i].CHQ_DATE));
                        row.append($('<td>').text(data[i].BANK_NAME));
                        row.append($('<td>').text(data[i].AMOUNT));
                        row.append($('<td>').text(data[i].SUSPENSE_AMT));
                        row.append($('<td>').text(data[i].CASE_NO));
                        row.append($('<td>').text(data[i].NARRATION));

                        // Add the action column (if needed)

                        tableBody.append(row);

                        //   var regNo1 = data[i].SampleRegNo;
                        //var sno1 = data[i].SNO;
                    }
                    //editButton.click(function(event) {

                    //      var regNo = regNo1;
                    //      var sno = sno1;
                    //     LabDtlModify(regNo, sno);
                    // });

                },
                error: function () {

                }
            });

        }
        $(function () {


            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy" // Set the date format to "dd/mm/yy"
            });
            var today = new Date();
            //$("#dtregdt").val(today.getFullYear() + '-' + ('0' + (today.getMonth() - 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
            // $("#dtregdt").val(('0' + (today.getMonth() + 1)).slice(-2) + '/' + ('0' + today.getDate()).slice(-2) + '/' + (today.getFullYear()));
            var today = new Date();
            var dd = ('0' + today.getDate()).slice(-2);
            var mm = ('0' + (today.getMonth() + 1)).slice(-2);
            var yyyy = today.getFullYear();

            $("#dtregdt").val(dd + '/' + mm + '/' + yyyy);
            LoaddataModify();
            $("#txttesttobeCon").css("display", "block");
            // grid();
            //$("#grid").load('/LabRegisterForm/LabRegDtl');
            //InitializeDatatable();
        });
        $("#ddlitem").change(function () {

            var name = $("#ddlitem option:selected").text();
            $("#txtitemnm").val(name);
        })
        function ToggleInfo(el) {
            var result = el.value;
        }
        function cancel() {
            window.location.href = "/LabRegisterForm/Index";
        }

        function LoaddataModify() {

            var RegNo = '@ViewBag.RegNo';
            $("#lblRNo").val(RegNo);
            var url = '@Url.Action("LoaddataModify", "LabRegisterForm")';
            $.ajax({
                //url: '/LabRegisterForm/LoaddataModify',
                url:url,
                type: "POST",
                dataType: "JSON",
                data: { RegNo: RegNo },

                success: function (success) {
                   
                    if (success.SampleRegNo != null) {
                        if (success.TestingType == "R") {
                            $('#RT').prop('checked', true);
                        }
                        else if (success.TestingType == "P") {
                            $('#PC').prop('checked', true);
                        }
                        else if (success.TestingType == "I") {
                            $('#IC').prop('checked', true);
                        }
                        else {
                            $('#N').prop('checked', true);
                        }
                        //$("#dtregdt").val(success.SampleRegDate);
                        $("#spnregdt").val(success.SampleRegDate);
                        $("#dtdispatch").val(success.SampleDispatchDate);
                        $("#dtdrawal").val(success.SampleDrawalDate);
                        $("#dtreceipt").val(success.SampleReceiptDate);
                        $("#txtcodeno").val(success.CodeNo);
                        // Set the values for labels and apply red color
                        $("#lblCaseNo").val(success.CaseNo);
                        $("#lblCallDT").val(success.CallDateAndSno);
                        $("#lblVend").val(success.Vendor);
                        $("#lblIE").val(success.IE);
                        $("#lbltotf").val(success.TotalTestingFee);
                        $("#lblthc").val(success.TotalHandlingCharges);
                        $("#lblservicetax").val(success.TotalServiceTax);
                        $("#lbltolc").val(success.TotalLabCharges);
                        $("#lbltotds").val(success.TotalTDS);
                        $("#lblar").val(success.AmountRecieved);
                        $("#dtcode").val(success.CodeDate);
                        $("#lblCallSno").val(success.CallSNO);
                        $("#lbltotalamtcl").val(parseInt(success.AmountRecieved) + parseInt(success.TotalTDS));
                        var SrNo = $("#lblSno").val(success.SNO);
                        var VCode = (success.VendorCode);
                        var CaseNo = (success.CaseNo);
                        var CallDT = (success.CallDateAndSno);
                        var CallSNO = (success.CallSNO);
                        sessionStorage.setItem('CaseNo', CaseNo);
                        sessionStorage.setItem('CallDT', CallDT);
                        sessionStorage.setItem('CallSNO', CallSNO);
                        // grid(SrNo.val());
                        InitializeDatatableGrid1(SrNo.val());
                        $("#gridh").css("display", "block");
                        $("#gridshow").css("display", "block");
                    }
                   
                    if (parseInt(success.AmountRecieved) < parseInt(success.TotalLabCharges)) {
                       
                        sessionStorage.removeItem("count");
                        grid1(CaseNo, VCode);
                        
                        $("#btninvoice").css("display", "none");
                    }

                }

            });
        }
        function LabDtlModify(regNo, sno) {
            var url = '@Url.Action("LabDtlModify", "LabRegisterForm")';
            $.ajax({
                //url: '/LabRegisterForm/LabDtlModify',
                url:url,
                type: "POST",
                dataType: "JSON",
                data: { RegNo: regNo, SNO: sno },

                success: function (data) {
                    
                    if (data.Test != "") {
                        $("#txttesttobeCon").css("display", "block");
                        $("#ddltesttobecon").css("display", "none");
                        $("#txttesttobeCon").val(data.Test);
                    }
                    else {
                        $("#txttesttobeCon").css("display", "none");
                        $("#ddltesttobecon").css("display", "block");
                        $("#ddltesttobecon").val(data.Test);
                        $("#ddltestto").val("D");
                    }
                    $("#txtitemnm").val(data.ItemDesc);
                    $("#txtnofsm").val(data.Qty);
                    $("#ddlcat").val(data.TestCategoryCode);

                    $("#ddllab").val(data.LabID);
                    $("#dtofdistolab").val(data.SampleDispatchLabDate);
                    $("#dtofrr").val(data.TestReportReceiveDate);
                    $("#dtoftestr").val(data.SampleDispatchLabDate);
                    $("#testingfee").val(data.TestingFee);
                    $("#sertax").val(data.ServiceTax);
                    $("#handlingcharges").val(data.HandlingCharges);
                    $("#ddlstatus").val(data.TestStatus);
                    $("#txtremarks").val(data.Remarks);
                    $("#ddldisc").val(data.DISCIPLINE_ID);
                }

            });
        }

        function SaveDetails() {
         
            // var parts1 = $("#dtofrr").val().split('/');
            // var wFrmDtO1 = parts1[0] + '/' + parts1[1] + '/' + parts1[2];
            // var parts2 = $("#dtoftestr").val().split('/');
            // var wFrmDtO2 = parts2[0] + '/' + parts2[1] + '/' + parts2[2];
            // var parts3 = $("#dtofdistolab").val().split('/');
            // var wFrmDtO3 = parts3[0] + '/' + parts3[1] + '/' + parts3[2];
            var dtofrrValue = $("#dtofrr").val();
            var wFrmDtO1 = "";

            if (dtofrrValue) {
                var parts1 = dtofrrValue.split('/');
                if (parts1.length === 3) {
                    wFrmDtO1 = parts1[1] + '/' + parts1[0] + '/' + parts1[2];
                }
            }
            else
            {
                var wFrmDtO1 = "";
            }

            var dtoftestrValue = $("#dtoftestr").val();
            var wFrmDtO2 = "";

            if (dtoftestrValue) {
                var parts2 = dtoftestrValue.split('/');
                if (parts2.length === 3) {
                    wFrmDtO2 = parts2[1] + '/' + parts2[0] + '/' + parts2[2];
                }
            }
            else {
                var wFrmDtO2 = "";
            }

            var dtofdistolabValue = $("#dtofdistolab").val();
            var wFrmDtO3 = "";

            if (dtofdistolabValue) {
                var parts3 = dtofdistolabValue.split('/');
                if (parts3.length === 3) {
                    wFrmDtO3 = parts3[1] + '/' + parts3[0] + '/' + parts3[2];
                }
            }
            else {
                var wFrmDtO3 = "";
            }
            var test = $("#txttesttobeCon").val();
            if(test == ""){
                test = $("#ddltesttobecon option:selected").text();
            }
            else
            {
                test = $("#txttesttobeCon").val();
            }
            var LABREGISTERModel = {
                SampleRegNo: $("#lblRNo").val(),
                SNO: $("#lblSno").val(),
                ItemDesc: $("#txtitemnm").val(),
                Qty: $("#txtnofsm").val(),
                TestCategoryCode: $("#ddlcat").val(),
                TestToBe: $("#ddltestto").val(),
                TestTobeCon: $("#ddltesttobecon").val(),
                Test: test,
                LabID: $("#ddllab").val(),
                DTestingFee: $("#testingfee").val(),
                DServiceTax: $("#sertax").val(),
                DHandlingCharges: $("#handlingcharges").val(),
                TestReportRequestDate: wFrmDtO1,
                TestReportReceiveDate: wFrmDtO2,
                TestStatus: $("#ddlstatus").val(),
                DRemarks: $("#txtremarks").val(),
                SampleDispatchLabDate: wFrmDtO3,
                TotalTestingFee: $("#lbltotf").val(),
                TotalServiceTax: $("#lblservicetax").val(),
                TotalHandlingCharges: $("#lblthc").val(),
                TotalLabCharges: $("#lbltolc").val(),
                Flag:sessionStorage.getItem("Flag"),
                DISCIPLINE_ID: $("#ddldisc").val()
            };
            var url = '@Url.Action("SaveDataDetails", "LabRegisterForm")';
            //LABREGISTERModel = JSON.stringify(LABREGISTERModel);
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                //: "/LabRegisterForm/SaveDataDetails",
                url:url,
                dataType: "json",
                data: JSON.stringify(LABREGISTERModel),
                success: function (res) {

                    if (res == true) {

                        alert('Data Saved Successfully!');

                        window.location.href = "@Url.Action("Index", "LabRegisterForm")";
                        //$.unblockUI({});
                        //hideLoader();
                    }
                    else {

                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }



                },
                error: function (res) {


                    if (res == true) {

                        alert('Data Saved Successfully!');

                        window.location.href = "@Url.Action("Index", "LabRegisterForm")";
                    }
                    else {
                        alert('Error Occurred. Contact Your admin!');
                        //alert(error);
                    }

                }
            });

        }

        function PrintInvoice() {

            var RegNo = '@ViewBag.RegNo';
            var url = '@Url.Action("PrintInvoice", "LabRegisterForm")';
            $.ajax({
                //url: '/LabRegisterForm/PrintInvoice',
                url:url,
                type: "POST",
                dataType: "JSON",
                data: { RegNo: RegNo },

                success: function (success) {

                    window.location.href = "@Url.Action("Index", "LabRegisterForm")";
                }

            });
        }
        function PostAmt() {
            
            var selectednkcd = [];
            var selectedsusamt = [];
            var selectedchqno = [];
            var selectedschqdt = [];
            var selectedamt = [];
            $("input[type='radio'][data-bnkcd]:checked").each(function () {
                  
                var Bnkcd = $(this).data("bnkcd");
                var susamt = $(this).data("susamt");
                var chqno = $(this).data("chqno");
                var chqdt = $(this).data("chqdt");
                var amt = $(this).data("amt");
                selectednkcd.push(Bnkcd);
                selectedsusamt.push(susamt);
                selectedchqno.push(chqno);
                selectedschqdt.push(chqdt);
                selectedamt.push(amt);
            });
            debugger;
            var BankCd = selectednkcd.join(',');
            var SusAmt = selectedsusamt.join(',');
            var ChqNo = selectedchqno.join(',');
            var ChqDt = selectedschqdt.join(',');
            var Amt = selectedamt.join(',');
            var parts = ChqDt.split('/');
            var wFrmDt = parts[1] + '/' + parts[0] + '/' + parts[2];
            var RegNo = $("#lblRNo").val();
            var LABREGISTERModel = {
                BANK_CD: BankCd,
                SUSPENSE_AMT: SusAmt,
                CHQ_NO: ChqNo,
                CHQ_DATE: wFrmDt,
                AMOUNT: Amt,
                SampleRegNo: RegNo,
                TotalLabCharges: $("#lbltolc").val(),
                AmountRecieved: $("#lblar").val(),
                TotalTDS: $("#lbltotds").val()

            };
            var url = '@Url.Action("PostAmount", "LabRegisterForm")';
            $.ajax({
                type: "POST",
                contentType: "application/json",
                //url: '/LabRegisterForm/PostAmount',
                url:url,
                dataType: "JSON",
                data: JSON.stringify(LABREGISTERModel),

                success: function (success) {

                    window.location.href = "@Url.Action("Index", "LabRegisterForm")";
                }

            });
        }
    </script>
}

