@model IBS.Models.LabSamplePaymentRptModel

@{
    ViewData["Title"] = "Lab Sample Info Details";
}


    <div class="list-inner">
        <div class="tast-list">
            <h2>
                Lab Sample Info Details
            </h2>
        </div>

    </div>
    <div class="accordion-body">
        <div class="row my-0">
            
            <div class="col-md-12 mb-3">
                <label><b>Complaints Recieved in The Period</b></label>
            </div>
            <div class="col-md-3 mb-3">
            <label for="dtfrom">From Date</label>
            <input class="input datepicker form-control" id="dtfrom" />
            
                <span class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
            <label for="dtto">To date</label>
                <input class="input datepicker form-control" id="dtto" />
            
                <span class="text-danger"></span>
            </div>
            
        </div>
        <div class="row my-0 d-flex align-items-end">

            
            <div class="col-md-3 mb-3">
                <label for="PropertyId">Report Status</label>
                @Html.DropDownListFor(model => model.ReportStatus, new SelectList(IBS.Models.Common.ReportStatus() , "Value", "Text"),new { @id = "ddlstatus" })

            </div>
            <div class="col-md-3 mb-3">
            <label for="rb1">
                <input type="radio" name="radioGroup" id="rb1" />
                    Sample Receive Date Wise
            </label>
                <span class="text-danger"></span>
            </div>
            <div class="col-md-5 mb-3">
            <label for="rb2">
                <input type="radio" name="radioGroup" id="rb2" />
                Sample Approved By Finance Date Wise
                
            </label>
                <span class="text-danger"></span>
            </div>
        </div>
        
    </div>
    <div class="savenext-btn">
        <button type="button" class="save-btn active" onclick="show();">Submit</button>
    </div>
    <div id="hide" style="display:none;">
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtpylist" class="table-responsive">
                    <thead>
                        <tr>

                            <th>S.NO.</th>
                            <th>DATE OF REGISTRATION OF SAMPLE IN LAB</th>
                            <th>SAMPLE REGISTRATION NO</th>
                            <th>CASE NO.</th>
                            <th>NAME OF IE</th>
                            <th>NAME OF VENDOR</th>
                            <th>NAME OF MANUFACTURER</th>
                            <th>LIKELY DATE OF RELEASE OF REPORT</th>
                            <th>STATUS BY LAB</th>
                            <th>TESTING CHARGES SUBMITTED BY LAB OFFICIAL</th>
                            <th>TESTING CHARGES SUBMITTED BY VENDOR</th>
                            <th>TDS SUBMITTED BY VENDOR</th>
                           @* <th>SUBMISSION OF TESTING CHARGES DOCUMENT BY VENDOR</th>*@
                            <th>SUBMISSION OF TESTING CHARGES DOCUMENT UPLOADED DATETIME BY VENDOR</th>
                            <th>UTR NO.</th>
                            <th>UTR DATE</th>
                            <th>APPROAVAL BY FINANCE</th>
                            <th>DATETIME OF APPROAVAL BY FINANCE</th>
                            @*<th>LAB TEST REPORT</th>*@
                            <th>REMARKS</th>
                            <th>REJECTION REMARKS</th>
                            @*<th>select</th>*@
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    </div>


@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function show(){
            InitializeDatatable();
            $("#hide").css("display", "block");
        }
        $(function () {
            $("#rb1").prop("checked", true);
            if ($("#rb1").val() == true){
               
                sessionStorage.setItem("rb", true);
            }
            else
            {
                
                sessionStorage.setItem("rb", true);
            }
                
            
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy" // Set the date format to "dd/mm/yy"
            });
           // InitializeDatatable();
        });
        
        function InitializeDatatable() {

            $("#dtpylist").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            FromDate: $("#dtfrom").val(),
                            ToDate: $("#dtto").val(),
                            ReportStatus: $("#ddlstatus").val(),
                            RadioButton: sessionStorage.getItem("rb")
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    //{
                    //    render: function (data, type, row) {
                    //        var Id = data.LabId;
                    //        var editUrl = '@Url.Action("LaboratoryManage", "LaboratoryMaster")';
                    //        var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                    //        html += '</div>';
                    //        return html;
                    //    }
                    //},
                    { data: "SampleRecvDate" },
                    { data: "SampleRegNo" },
                    { data: "CaseNo" },
                    { data: "IEName" },
                    { data: "VendorName" },
                    { data: "ManufacturerName" },
                    { data: "LikelyDateReport" },
                    { data: "LabStatus" },
                    { data: "TestingChargesByLab" },
                    { data: "TestingChargesByVendor" },
                    { data: "TdsChargesByVendor" },
                    { data: "VendorInitDate" },
                    { data: "UTRNo" },
                    { data: "UTRDate" },
                    { data: "DocStatusFin" },
                    { data: "FinInitDate" },
                    { data: "Remarks" },
                    { data: "DocRejRemark" }


                    //{
                    //    data: null, orderable: false,
                    //    render: function (data, type, row) {

                    //        var CaseNo = data.CaseNo;
                    //        var CallSno = data.CallSno;
                    //        var CallRecvDt = data.CallRecvDt;
                    //        //var editUrl = '@Url.Action("LabPaymentApproval", "LabPaymentList")';
                    //        var editUrl = '@Url.Action("LabPaymentApproval", "LabPaymentList")' + '?CaseNo=' + CaseNo + '&CallSno=' + CallSno + '&CallRecvDt=' + CallRecvDt;
                    //        var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"select\"><i class=\"fa fa-pencil\" title="Select"></i></a>';
                    //        html += '</div>';
                    //        return html;
                    //    }
                    //},

                ],
                //columnDefs: [
                //    { width: '100px', targets: [0, 1, 2] }, // Adjust the width and targets as needed
                //    { width: '150px', targets: [3, 4, 5] }, // Adjust the width and targets as needed
                //    // ... Add more as needed
                //],
                "order": [[0, "asc"]]
            });
        }

                //function UserDelete(UserId) {
                //        var url = '@Url.Action("Delete", "UserAdministrator")?UserId=' + UserId;
                //    $("#btn-delete-yes").attr("href", url);
                //    $("#modal-delete-conf").modal("show");
                //}

    </script>
}